Repository yogstation13/Yogstation, pull requests merged in 2018-07, with the labels that each got.

#1486 Allow cargo protolathe to craft Flight Suit
  code/modules/research/designs/equipment_designs.dm
Labels: Balance, Tweak

#1556 Moves hotkeys-help to OOC tab
  yogstation/interface/interface.dm
Labels: Fix

#1557 Cleans up some of the worst sprites i've ever seen
  yogstation.dme
  yogstation/code/modules/clothing/shoes/special_shoes.dm
  yogstation/code/modules/donor/donor_items.dm
  yogstation/icons/mob/back.dmi
  yogstation/icons/mob/head.dmi
  yogstation/icons/obj/clothing/back.dmi
  yogstation/icons/obj/clothing/suits.dmi
Labels: DME Edit, Feature, Icon Change

#1563 Fix yogstation.dme
  yogstation.dme
Labels: DME Edit, Fix

#1514 Adds the ability to hide tiny items in vents
  yogstation.dme
  yogstation/code/modules/atmospherics/unary_devices/vent_pump.dm
Labels: DME Edit, Feature

#1562 Clothing fixes + Sneaker spray fix
  yogstation/code/modules/clothing/shoes/special_shoes.dm
  yogstation/code/modules/donor/donor_items.dm
  yogstation/icons/mob/back.dmi
  yogstation/icons/mob/head.dmi
  yogstation/icons/obj/clothing/back.dmi
  yogstation/icons/obj/clothing/suits.dmi
Labels: DME Edit, Feature, Icon Change

#1567 Update AutoChangelog-pr-1559.yml
  html/changelogs/AutoChangelog-pr-1559.yml
Labels: Fix

#1342 rewrites IAA-code
  yogstation.dme
  yogstation/code/game/gamemodes/traitor/double_agents.dm
Labels: DME Edit, enhancement, ready

#1571 Give abductors agent IDs
  yogstation.dme
  yogstation/code/modules/antagonists/abductor/equipment/abduction_outfits.dm
Labels: Balance

#1601 Allow mods to restart the server when last ticket is closed
  code/controllers/subsystem/ticker.dm
  yogstation/code/modules/admin/verbs/adminhelp.dm
Labels: Admin

#1613 [s] Update AutoChangelog-pr-1606.yml
  html/changelogs/AutoChangelog-pr-1606.yml
Labels: Feature, Revert / Deletion, Tweak

#1661 Fixes armory door access
  _maps/map_files/YogStation/YogStation.dmm
Labels: Fix, Map Change

#1662 Emags emag emags II: electric boogaloo
  yogstation/code/game/objects/items/cards_ids.dm
Labels: Feature

#1698 Nice.
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Fix

#1704 Revert "Quack."
  yogstation.dme
  yogstation/code/modules/events/immovable_rod.dm
  yogstation/icons/obj/objects.dmi
  yogstation/sound/misc/quack.ogg
Labels: Revert / Deletion

#1729 Adds job logs
  code/controllers/subsystem/job.dm
  code/game/machinery/computer/card.dm
  code/modules/jobs/job_types/civilian.dm
Labels: Feature

#1702 Colossus nerf
  yogstation.dme
  yogstation/code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
Labels: Balance, Tweak

#1761 Adds objective logging to antags
  code/game/gamemodes/brother/traitor_bro.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/devil/devil_game_mode.dm
  code/game/gamemodes/monkey/monkey.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/wizard/wizard.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/events/abductor.dm
  yogstation.dme
  yogstation/code/modules/antagonists/_common/antag_datum.dm
Labels: DME Edit, Feature

#1788 Fixes logout sync
  code/modules/client/client_procs.dm
  yogstation/code/modules/client/client_procs.dm
Labels: Fix, SQL

#1796 Update client_procs.dm
  code/modules/client/client_procs.dm
  yogstation/code/modules/client/client_procs.dm
Labels: Fix, SQL

#1824 Remove GPS from necropolis tendril
  code/modules/mob/living/simple_animal/hostile/mining_mobs/necropolis_tendril.dm
Labels: Balance

#1710 Readded Free Miners
  _maps/RandomRuins/SpaceRuins/asteroid2.dmm
  _maps/RandomRuins/SpaceRuins/asteroid5.dmm
  _maps/RandomRuins/SpaceRuins/freeminer_asteroid.dmm
  _maps/shuttles/whiteship_miner.dmm
  code/__DEFINES/~yogs_defines/access.dm
  code/game/mecha/mecha_wreckage.dm
  code/modules/mapping/ruins.dm
  yogstation.dme
  yogstation/code/datums/ruins/free_miners.dm
  yogstation/code/datums/shuttles.dm
  yogstation/code/game/mecha/mecha_wreckage.dm
  yogstation/code/game/objects/items/circuitboards/computer_circuitboards.dm
Labels: DME Edit, Feature, Map Change, TESTMERGE

#1848 Fix map errors in whiteship miner shuttle
  _maps/shuttles/whiteship_miner.dmm
Labels: Map Change

#1870 Maybe fix logout tracking
  code/modules/client/client_procs.dm
Labels: Fix, SQL

#1892 More logout fixes
  yogstation/code/modules/client/client_procs.dm
Labels: Fix, SQL

#1910 Update AutoChangelog-pr-1895.yml
  html/changelogs/AutoChangelog-pr-1895.yml
Labels: Fix

#1916 Update AutoChangelog-pr-1897.yml
  html/changelogs/AutoChangelog-pr-1897.yml
Labels: Fix

#1894 Adjust vehicles speed
  code/datums/components/riding.dm
Labels: Balance, Fix

#1893 Fixes some ban sql code
  code/modules/admin/DB_ban/functions.dm
Labels: Fix, SQL

#1872 Adds a better engine
  yogstation.dme
  yogstation/code/modules/power/hugbox.dm
  yogstation/icons/obj/hugbox_engine.dmi
Labels: Balance, Controversial, DME Edit, Feature, IMPORTANT, good first pull request, questionable, ready, speedmerge

#1873 Adds validhunter engine
  yogstation.dme
  yogstation/code/modules/power/validhunter.dm
  yogstation/icons/obj/validhunter_engine.dmi
Labels: Feature, IMPORTANT, enhancement, no fucking images

#1930 its over anakin
  yogstation/code/game/objects/items/melee/energy.dm
Labels: Feature

#1933 Fixes some major lag
  code/modules/mob/mob.dm
  yogstation.dme
  yogstation/code/modules/clothing/shoes/colour.dm
  yogstation/code/modules/mob/mob.dm
Labels: Fix, Performance

#1956 Small bugfix
  code/modules/admin/admin_verbs.dm
Labels: Fix

#1960 Fixed point transfer cards being invisible
  yogstation/icons/obj/card.dmi
Labels: Icon Change

#1954 makes basic stock parts able to be constructed by all lathes
  yogstation.dme
  yogstation/code/modules/research/designs/stock_parts_designs.dm
Labels: DME Edit, Tweak
