Repository yogstation13/Yogstation, pull requests merged in 2018-09, with the labels that each got.

#2400 Moves combat powers from xenolings to antagling-only
  code/modules/antagonists/changeling/cellular_emporium.dm
  yogstation.dme
  yogstation/code/modules/antagonists/changeling/changeling_power.dm
  yogstation/code/modules/antagonists/changeling/powers/mutations.dm
  yogstation/code/modules/antagonists/changeling/powers/shriek.dm
  yogstation/code/modules/antagonists/changeling/powers/spiders.dm
  yogstation/code/modules/antagonists/changeling/powers/tiny_prick.dm
Labels: DME Edit, Tweak

#2370 Adds airlock braces
  _maps/map_files/YogStation/YogStation.dmm
  code/game/machinery/doors/airlock.dm
  yogstation.dme
  yogstation/code/game/machinery/doors/airlock.dm
  yogstation/code/game/objects/items/brace.dm
  yogstation/icons/obj/brace.dmi
  yogstation/icons/obj/brace_lefthand.dmi
  yogstation/icons/obj/brace_righthand.dmi
Labels: DME Edit, Feature, Map Change

#2323 Ports shadowlings, again
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/~yogs_defines/antagonists.dm
  code/__DEFINES/~yogs_defines/is_helpers.dm
  code/datums/traits/negative.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  yogstation.dme
  yogstation/code/datums/components/walks.dm
  yogstation/code/datums/mood_events/generic_positive_events.dm
  yogstation/code/game/gamemodes/shadowling/shadowling.dm
  yogstation/code/modules/admin/verbs/one_click_antag.dm
  yogstation/code/modules/antagonists/shadowling/ascendant_shadowling.dm
  yogstation/code/modules/antagonists/shadowling/shadowling.dm
  yogstation/code/modules/antagonists/shadowling/shadowling_abilities.dm
  yogstation/code/modules/antagonists/shadowling/shadowling_items.dm
  yogstation/code/modules/antagonists/shadowling/special_shadowling_abilities.dm
  yogstation/code/modules/antagonists/shadowling/thrall.dm
  yogstation/code/modules/mob/living/carbon/human/species.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
  yogstation/code/modules/surgery/organs/shadowling_organs.dm
  yogstation/icons/mob/actions.dmi
  yogstation/icons/mob/hud.dmi
  yogstation/icons/mob/mob.dmi
  yogstation/icons/mob/mutant_bodyparts.dmi
  yogstation/icons/mob/sling.dmi
  yogstation/icons/mob/suit.dmi
  yogstation/sound/ambience/antag/sling.ogg
  yogstation/sound/ambience/antag/thrall.ogg
Labels: DME Edit, Feature, Icon Change, Sound

#2497 Fix talking bug
  code/modules/mob/living/say.dm
Labels: Controversial, Fix

#2405 Porting Vampire Gamemode from Hippie!
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/~yogs_defines/antagonists.dm
  code/__DEFINES/~yogs_defines/atom_hud.dm
  code/datums/hud.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  config/game_options.txt
  yogstation.dme
  yogstation/code/_onclick/hud/vampire.dm
  yogstation/code/datums/antagonists/vampire.dm
  yogstation/code/datums/mind.dm
  yogstation/code/game/gamemodes/vampire/grave_fever.dm
  yogstation/code/game/gamemodes/vampire/traitor_vamp.dm
  yogstation/code/game/gamemodes/vampire/vampire.dm
  yogstation/code/game/gamemodes/vampire/vampire_bat.dm
  yogstation/code/game/gamemodes/vampire/vampire_bite.dm
  yogstation/code/game/gamemodes/vampire/vampire_hud.dm
  yogstation/code/game/gamemodes/vampire/vampire_objectives.dm
  yogstation/code/game/gamemodes/vampire/vampire_other.dm
  yogstation/code/game/gamemodes/vampire/vampire_powers.dm
  yogstation/code/modules/admin/topic.dm
  yogstation/code/modules/admin/verbs/one_click_antag.dm
  yogstation/code/modules/antagonists/_common/antag_datum.dm
  yogstation/code/modules/mob/living/carbon/carbon.dm
  yogstation/code/modules/mob/living/emote.dm
  yogstation/code/modules/mob/mob.dm
  yogstation/icons/mob/hud.dmi
  yogstation/icons/mob/suit.dmi
  yogstation/icons/mob/vampire.dmi
  yogstation/icons/obj/clothing/suits.dmi
  yogstation/sound/ambience/antag/vampire.ogg
Labels: Feature, Needs testing, TESTMERGE

#2532 [admin] Blame highwayman for this
  code/modules/admin/verbs/randomverbs.dm
  yogstation/icons/obj/interface.dmi
Labels: Feature, Icon Change

#2483 Cluwnification Burger! (Traitor Item)
  icons/obj/food/burgerbread.dmi
  yogstation.dme
  yogstation/code/datums/diseases/cluwnification.dm
  yogstation/code/modules/food_and_drinks/food/snacks_burger.dm
  yogstation/code/modules/reagents/chemistry/reagents/other_reagents.dm
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Balance, Feature

#2543 Changes the happy-cluwne mask code to pre-determine cluwne logic
  yogstation/code/modules/clothing/mask.dm
Labels: Fix

#2549 icons over colours
  code/modules/vending/_vending.dm
  yogstation.dme
  yogstation/code/modules/vending/_vending.dm
Labels: DME Edit, Tweak

#2594 airlock painter uses a radial
  code/game/machinery/doors/airlock.dm
  yogstation/icons/obj/interface.dmi
Labels: Feature

#2625 Dracula coat tweaks
  yogstation/code/game/gamemodes/vampire/vampire_other.dm
  yogstation/code/game/gamemodes/vampire/vampire_powers.dm
Labels: Balance, Feature

#2617 i don't know how to code but this should make the detmatrix always succeed
  code/game/objects/items/devices/PDA/virus_cart.dm
Labels: Balance, Tweak
