Repository yogstation13/Yogstation, pull requests merged in 2018-04, with the labels that each got.

#359 fix travis
  html/changelogs/AutoChangelog-pr-353.yml
Labels: Fix

#423 Adds and fixes TSCI
  _maps/map_files/YogStation/YogStation.dmm
  yogstation/code/modules/telesci/telepad.dm
  yogstation/code/modules/telesci/telesci_computer.dm
  yogstation/icons/obj/radio.dmi
Labels: c++

#437 tcommsat/AI-core/gravgen
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, c++

#438 Port phytosian
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  config/game_options.txt
  yogstation.dme
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
Labels: Feature

#442 armoury change + arrivals tool storage
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#443 Fadwa
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/OmegaStation/OmegaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/cargo_box.dmm
  _maps/shuttles/ferry_lighthouse.dmm
  code/modules/recycling/conveyor2.dm
  icons/obj/recycling.dmi
Labels: Map Change

#479 Adds YogsMeta station.
  _maps/_basemap.dm
  _maps/map_files/YogsMeta/YogsMeta.dmm
  _maps/yogsmeta.dm
  _maps/yogsmeta.json
  config/maps.txt
Labels: Map Change

#487 Fixes map stuff
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsMeta/YogsMeta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
Labels: Fix

#504 Fix jobs
  code/__DEFINES/~yogs_defines/jobs.dm
  code/modules/jobs/job_types/medical.dm
Labels: Fix

#501 adds webhooks
  code/_globalvars/configuration.dm
  code/controllers/configuration/entries/comms.dm
  code/controllers/master.dm
  code/controllers/subsystem/ticker.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/client/verbs/ooc.dm
  config/config.txt
  yogstation.dme
  yogstation/code/modules/webhook/webhook.dm
Labels: DME Edit, Needs testing, help wanted

#498 DB support
  code/game/world.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/verbs/diagnostics.dm
  yogstation.dme
  yogstation/code/modules/admin/admin_ranks.dm
Labels: Needs testing, help wanted

#551 Adds cancel button to ooc
  yogstation/code/modules/client/ooc.dm
Labels: Fix

#548 Loads donators from the DB now
  code/game/world.dm
  yogstation.dme
  yogstation/code/game/world.dm
Labels: DME Edit

#554 Fix runtime in preferences
  code/modules/client/preferences.dm
Labels: Fix

#559 fix bans
  code/modules/admin/DB_ban/functions.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/banjob.dm
  code/modules/client/preferences.dm
Labels: Fix, fuck

#560 adds cancel button to say
  yogstation/code/modules/mob/say.dm
Labels: Fix

#561 fixes A door
  _maps/map_files/YogsMeta/YogsMeta.dmm
Labels: Fix, Map Change

#574 Add ash resistance to ashwalkers
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: Fix

#571 loads donors i hope
  code/modules/client/client_procs.dm
Labels: Controversial

#578 Adds donor tag to OOC
  code/modules/client/verbs/ooc.dm
Labels: Feature

#580 Fixes the fix
  interface/interface.dm
  yogstation/interface/interface.dm
Labels: Fix

#573 dewad
  _maps/map_files/YogStation/YogStation.dmm
  code/modules/admin/verbs/adminpm.dm
Labels: Map Change

#588 I wanna see whether that issue is actually a bug or not. I'll revert this afterwards
  code/game/gamemodes/game_mode.dm
Labels: c++

#597 Add cancel button to ahelps
  code/modules/admin/verbs/adminhelp.dm
Labels: Fix

#562 removes the ambience from the supermatter
  code/modules/power/supermatter/supermatter.dm
Labels: Revert / Deletion
