Repository yogstation13/Yogstation, pull requests merged in 2018-12, with the labels that each got.

#3701 FUCK
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/YogsPubby/YogsPubby.dmm
  _maps/yogstation/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#3691 moves screwdriver thinging vendor circuits to a radial
  yogstation.dme
  yogstation/code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: DME Edit, Tweak

#3659 Adds bluespace pipes
  code/game/machinery/pipe/construction.dm
  code/game/machinery/pipe/pipe_dispenser.dm
  code/game/objects/items/RPD.dm
  code/modules/research/techweb/all_nodes.dm
  yogstation.dme
  yogstation/code/game/machinery/pipe/construction.dm
  yogstation/code/modules/atmospherics/machinery/pipes/bluespace.dm
  yogstation/code/modules/research/designs/bluespace_designs.dm
  yogstation/icons/obj/atmospherics/pipes/bluespace.dmi
Labels: DME Edit, Feature, Icon Change

#3731 fucking borgs
  yogstation.dme
  yogstation/code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: DME Edit

#3721 Restricts Hypnotic Flash to Psychiatrist
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Tweak

#3732 adds photocopiers to permabrig, RD office, as well as Warden's office.
  _maps/yogstation/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#3741 Ethereals are now charged up slightly when stunned by batons.
  code/game/objects/items/stunbaton.dm
  code/modules/projectiles/projectile/energy/stun.dm
Labels: Feature

#3734 lavaland movespeed is now the same as on /tg/
  yogstation.dme
  yogstation/code/modules/mob/living/carbon/human/human_movement.dm
Labels: DME Edit, Tweak

#3779 removes slime footstep sounds
  code/modules/mob/living/simple_animal/slime/slime.dm
Labels: Revert / Deletion

#3638 Borgstuff
  code/modules/mob/living/silicon/robot/robot.dm
  yogstation/code/modules/mob/living/silicon/robot/robot.dm
  yogstation/code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: DME Edit, Feature, Merge conflict

#3822 [ADMIN] Remove severity from new banning panel
  code/modules/admin/sql_ban_system.dm
Labels: Admin, Fix

#3733 probably makes results viewable in-game?
  yogstation.dme
  yogstation/code/modules/client/client_procs.dm
  yogstation/code/modules/mob/new_player/poll.dm
Labels: DME Edit

#3814 Mirrrororros
  code/_globalvars/lists/mapping.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/devices/forcefieldprojector.dm
  code/game/objects/items/tanks/tank_types.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/uplink/uplink_items.dm
  icons/mob/inhands/weapons/polearms_lefthand.dmi
  icons/mob/inhands/weapons/polearms_righthand.dmi
  tgui/assets/tgui.js
  tgui/src/interfaces/centcom_podlauncher.ract
Labels: Icon Change, Javascript

#3759 Adds undead adaption to sentient disease under powerful tier list
  code/modules/antagonists/disease/disease_abilities.dm
Labels: Tweak

#3851 probably makes the view results thing work
  yogstation/code/modules/mob/new_player/poll.dm
Labels: TESTMERGE

#3824 removes upgrade cost for reflective blobs
  code/modules/antagonists/blob/blob/powers.dm
Labels: Balance, Tweak

#3767 Adds back old old bar (yogbox)
  _maps/yogstation/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#3816 neurotoxin and beepsky smash no longer stun
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Tweak

#3890 Makes Borg Exoskeletons no longer fit in bags
  code/game/objects/items/robot/robot_parts.dm
Labels: Tweak

#3855 Adds back the old ninja sprites
  yogstation.dme
  yogstation/code/datums/actions/ninja.dm
  yogstation/code/modules/ninja/suit/ninja.dm
  yogstation/icons/mob/actions/actions_minor_antag.dmi
  yogstation/icons/mob/feet.dmi
  yogstation/icons/mob/hands.dmi
  yogstation/icons/mob/head.dmi
  yogstation/icons/mob/mask.dmi
  yogstation/icons/mob/suit.dmi
  yogstation/icons/obj/clothing/masks.dmi
  yogstation/icons/obj/clothing/suits.dmi
Labels: DME Edit, Feature, Icon Change

#3653 Adds Yogsdelta
  _maps/_basemap.dm
  _maps/yogsdelta.dm
  _maps/yogsdelta.json
  _maps/yogstation/map_files/YogsDelta/YogsDelta.dmm
  config/maps.txt
Labels: Config

#3922 fixes the xmas tree on delta
  _maps/yogstation/map_files/YogsDelta/YogsDelta.dmm
Labels: Map Change

#3923 station rooms 2
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_box.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_spacious.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/maint_surgery.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Map Change

#3924 stationrooms 3
  _maps/map_files/ClownStation/ClownStation.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_spacious.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Feature, Map Change

#3930 I'm a dumb dumb
  yogstation/code/datums/ruins/station.dm
Labels: Feature

#3932 fixes barroom
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
Labels: Map Change

#3913 blob core attacks now flash in big bold red
  yogstation.dme
  yogstation/code/modules/antagonists/blob/blob/blobs/core.dm
Labels: DME Edit, Tweak
