Repository yogstation13/Yogstation, pull requests merged in 2018-03, with the labels that each got.

#23 Add modular files
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  config/motd.txt
  tools/travis/build_byond.sh
  yogstation.dme
  yogstation/README.md
  yogstation/changes.md
  yogstation/code/.gitkeep
  yogstation/code/modules/clothing/clothing.dm
  yogstation/code/modules/reagents/.gitkeep
  yogstation/code/modules/reagents/recipes/.gitkeep
  yogstation/code/modules/spells/spells.dm
  yogstation/icons/.gitkeep
  yogstation/icons/mob/back.dmi
  yogstation/icons/mob/belt.dmi
  yogstation/icons/mob/ears.dmi
  yogstation/icons/mob/eyes.dmi
  yogstation/icons/mob/feet.dmi
  yogstation/icons/mob/hands.dmi
  yogstation/icons/mob/head.dmi
  yogstation/icons/mob/mask.dmi
  yogstation/icons/mob/neck.dmi
  yogstation/icons/mob/suit.dmi
  yogstation/icons/mob/uniform.dmi
  yogstation/icons/obj/clothing/back.dmi
  yogstation/icons/obj/clothing/belts.dmi
  yogstation/icons/obj/clothing/ears.dmi
  yogstation/icons/obj/clothing/glasses.dmi
  yogstation/icons/obj/clothing/gloves.dmi
  yogstation/icons/obj/clothing/hats.dmi
  yogstation/icons/obj/clothing/masks.dmi
  yogstation/icons/obj/clothing/neck.dmi
  yogstation/icons/obj/clothing/shoes.dmi
  yogstation/icons/obj/clothing/suits.dmi
  yogstation/icons/obj/clothing/uniforms.dmi
  yogstation/sound/.gitkeep
Labels: c++

#25 Ports LibVG
  code/modules/client/client_defines.dm
  code/modules/goonchat/browserOutput.dm
  code/modules/goonchat/browserassets/js/browserOutput.js
  libvg.dll
  yogstation.dme
  yogstation/code/modules/libvg/utf8.dm
Labels: c++

#56 Re-adds airlock charges
  code/game/machinery/doors/airlock.dm
  yogstation.dme
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Feature

#63 Fix compile errors
  yogstation.dme
Labels: Fix

#62 fix air
  code/modules/admin/admin_verbs.dm
  yogstation.dme
  yogstation/code/modules/admin/verbs/fix_air.dm
Labels: c++

#53 Ports donor features
  code/__DEFINES/preferences.dm
  code/__DEFINES/~yogs_defines/preferences.dm
  code/controllers/subsystem/job.dm
  code/datums/mind.dm
  code/game/gamemodes/game_mode.dm
  code/modules/admin/antag_panel.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/new_player.dm
  yogstation.dme
  yogstation/code/__HELPERS/mobs.dm
  yogstation/code/datums/mind.dm
  yogstation/code/modules/client/preferences.dm
  yogstation/code/modules/clothing/donator.dm
  yogstation/code/modules/clothing/shoes/miscellaneous.dm
  yogstation/code/modules/donor/donor_items.dm
  yogstation/code/modules/jobs/job_types/job.dm
  yogstation/icons/mob/back.dmi
  yogstation/icons/mob/feet.dmi
  yogstation/icons/mob/head.dmi
  yogstation/icons/mob/suit.dmi
  yogstation/icons/obj/clothing/hats.dmi
  yogstation/icons/obj/clothing/neck.dmi
  yogstation/icons/obj/clothing/shoes.dmi
  yogstation/icons/obj/pda.dmi
Labels: DME Edit, Icon Change

#55 Ports yog jobs
  code/__DEFINES/~yogs_defines/access.dm
  code/__DEFINES/~yogs_defines/jobs.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/civilian.dm
  code/modules/jobs/job_types/engineering.dm
  code/modules/jobs/job_types/medical.dm
  code/modules/jobs/jobs.dm
  yogstation.dme
  yogstation/code/game/objects/items/devices/PDA/PDA_types.dm
  yogstation/code/game/objects/items/devices/PDA/cart.dm
  yogstation/code/game/objects/items/devices/radio/encryptionkey.dm
  yogstation/code/game/objects/items/devices/radio/headset.dm
  yogstation/code/game/objects/items/storage/belt.dm
  yogstation/code/modules/clothing/head/jobs.dm
  yogstation/code/modules/clothing/suits/miscellaneous.dm
  yogstation/code/modules/clothing/under/jobs/civilian.dm
  yogstation/code/modules/clothing/under/jobs/engineering.dm
  yogstation/code/modules/jobs/job_types/cargo_service.dm
  yogstation/code/modules/spells/spell_types/mime.dm
  yogstation/icons/mob/head.dmi
  yogstation/icons/mob/suit.dmi
  yogstation/icons/mob/uniform.dmi
  yogstation/icons/obj/clothing/hats.dmi
  yogstation/icons/obj/clothing/suits.dmi
  yogstation/icons/obj/clothing/uniforms.dmi
Labels: DME Edit, Icon Change

#123 adds pretty filter
  code/game/world.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/verbs/ooc.dm
  code/modules/mob/say.dm
  yogstation.dme
  yogstation/code/modules/admin/prettyfilter.dm
Labels: c++

#138 Stealth gibtonite
  code/game/turfs/simulated/minerals.dm
Labels: Tweak
