Repository yogstation13/Yogstation, pull requests merged in 2018-06, with the labels that each got.

#1095 moves holoparasites to nuke ops
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#1146 Mirror PRs
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/__DEFINES/atmospherics.dm
  code/game/machinery/airlock_control.dm
  code/game/machinery/buttons.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/embedded_controller/airlock_controller.dm
  code/game/machinery/igniter.dm
  code/modules/atmospherics/machinery/components/binary_devices/dp_vent_pump.dm
Labels: DO NOT MERGE

#1212 Allows you to see powersink power consumption
  yogstation.dme
  yogstation/code/game/objects/items/devices/powersink.dm
Labels: DME Edit, Feature

#1260 Glitterbombs
  yogstation.dme
  yogstation/code/game/machinery/computer/arcade.dm
  yogstation/code/game/objects/items/grenades/glitterbombs.dm
Labels: DME Edit, Feature

#1316 Adds logout logging
  code/modules/client/client_procs.dm
  yogstation.dme
  yogstation/code/modules/client/client_defines.dm
  yogstation/code/modules/client/client_procs.dm
Labels: Admin, SQL

#1343 Make Subspace Wavelength Analyzer easier to find
  code/modules/research/designs/stock_parts_designs.dm
Labels: Tweak

#1354 woops [FIX] [DESCRIPTIVE TITLE]
  yogstation/code/game/objects/items/cards_ids.dm
Labels: Fix

#1363 Fix queries not getting qdelled
  yogstation/code/game/world.dm
  yogstation/code/modules/admin/admin_ranks.dm
Labels: Fix, SQL

#1364 Fix logout tracking
  code/modules/client/client_procs.dm
Labels: Fix, SQL

#1296 Donator borg skins
  yogstation.dme
  yogstation/code/modules/donor/borg_ai_skin_datums.dm
  yogstation/code/modules/donor/borg_skins.dm
  yogstation/code/modules/mob/living/silicon/ai/ai.dm
  yogstation/code/modules/mob/living/silicon/robot/robot.dm
  yogstation/icons/mob/DonorRobots.dmi
Labels: DME Edit, Feature, Icon Change, TESTMERGE

#1397 Fixes typo in admin tickets
  code/modules/admin/verbs/adminpm.dm
Labels: Fix, fuck, no

#1371 Sneakers
  yogstation.dme
  yogstation/code/modules/cargo/cargo_packs.dm
  yogstation/code/modules/clothing/shoes/special_shoes.dm
  yogstation/code/modules/clothing/suits/miscellaneous.dm
  yogstation/icons/mob/feet.dmi
  yogstation/icons/mob/suit.dmi
  yogstation/icons/obj/clothing/shoes.dmi
  yogstation/icons/obj/clothing/suits.dmi
  yogstation/icons/obj/shoeprotector.dmi
Labels: DME Edit, Feature, Icon Change

#1444 Updates tgui to current /tg/ version
  tgui/assets/font-awesome.min.css
  tgui/assets/fonts/SIL-OFL-1.1-LICENSE.md
  tgui/assets/fonts/fontawesome-webfont.svg
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/package-lock.json
  tgui/package.json
  tgui/src/interfaces/cargo_express.ract
  tgui/src/interfaces/cellular_emporium.ract
  tgui/src/interfaces/crew.ract
  tgui/src/interfaces/rpd.ract
  tgui/src/interfaces/rpd/colorsel.ract
  tgui/src/interfaces/rpd/dirsel.ract
  tgui/src/interfaces/scp_294.ract
  tgui/src/interfaces/vr_sleeper.ract
  tgui/tgui.html
Labels: Fix, Upstream Issue

#1455 Resets tgui even more
  tgui/assets/font-awesome.min.css
  tgui/assets/fonts/SIL-OFL-1.1-LICENSE.md
  tgui/assets/fonts/fontawesome-webfont.svg
  tgui/assets/tgui.js
  tgui/package-lock.json
  tgui/package.json
  tgui/src/interfaces/cargo_express.ract
  tgui/src/interfaces/cellular_emporium.ract
  tgui/src/interfaces/crew.ract
  tgui/src/interfaces/rpd.ract
  tgui/src/interfaces/rpd/colorsel.ract
  tgui/src/interfaces/rpd/dirsel.ract
  tgui/src/interfaces/scp_294.ract
  tgui/src/interfaces/vr_sleeper.ract
  tgui/tgui.html
Labels: Fix

#1471 nerfs chainsword
  yogstation.dme
  yogstation/code/game/objects/items/holy_weapons.dm
Labels: Balance, Tweak

#1484 Remove possible gamemodes list from roundstart
  code/controllers/subsystem/ticker.dm
Labels: Revert / Deletion

#1504 irc -> discord
  code/modules/client/verbs/who.dm
Labels: Fix
