Repository yogstation13/Yogstation, pull requests merged in 2018-05, with the labels that each got.

#629 Removes drone dispensers from Pubby and Meta
  _maps/map_files/YogsMeta/YogsMeta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
Labels: Map Change

#641 Default keybindings now get loaded on first connect
  yogstation/code/modules/client/preferences_savefile.dm
Labels: Fix

#628 Removes telescience.
  _maps/map_files/YogStation/YogStation.dmm
  code/modules/shuttle/supply.dm
  yogstation.dme
  yogstation/code/__HELPERS/projectile_data.dm
  yogstation/code/game/machinery/computer/computer_circuitboards.dm
  yogstation/code/modules/telesci/telepad.dm
  yogstation/code/modules/telesci/telesci_computer.dm
Labels: DME Edit, Map Change, Revert / Deletion

#644 Fixes NTNet not working on YogsBox
  _maps/map_files/YogStation/YogStation.dmm
Labels: Fix, Map Change

#640 Adds yogs delta.
  _maps/_basemap.dm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/yogsdelta.dm
  _maps/yogsdelta.json
  config/maps.txt
Labels: Map Change

#649 fixes asay/ooc
  yogstation.dme
  yogstation/code/datums/world_topic.dm
Labels: DME Edit, Fix, c++

#683 Sprites: updates bureaucracy sprites
  code/game/machinery/newscaster.dm
  code/game/objects/items/devices/pipe_painter.dm
  code/game/objects/items/documents.dm
  code/modules/paperwork/clipboard.dm
  code/modules/paperwork/filingcabinet.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/handlabeler.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_cutter.dm
  code/modules/paperwork/paperbin.dm
  code/modules/paperwork/paperplane.dm
  code/modules/paperwork/pen.dm
  code/modules/paperwork/stamps.dm
  code/modules/projectiles/guns/energy/special.dm
  yogstation/icons/obj/bureaucracy.dmi
Labels: Sprites

#687 Sprites: updates whetstone
  code/game/objects/items/kitchen.dm
  code/game/objects/items/sharpener.dm
  yogstation.dme
  yogstation/code/game/objects/items/sharpener.dm
  yogstation/icons/obj/kitchen.dmi
Labels: Sprites

#684 Sprites: ports Yog food/trash/kitchen sprites
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/miscellaneous.dm
  code/game/objects/items/mop.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/trash.dm
  code/modules/clothing/head/misc.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/food_and_drinks/food/snacks_bread.dm
  code/modules/food_and_drinks/food/snacks_sandwichtoast.dm
  code/modules/food_and_drinks/pizzabox.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/spray.dm
  yogstation/icons/obj/food/containers.dmi
  yogstation/icons/obj/food/food.dmi
  yogstation/icons/obj/janitor.dmi
Labels: Sprites

#709 Makes drones not shitty fucking slime creatures desparately & slowly writhing on the floor
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
Labels: Tweak

#707 Removes quiet round from the game-mode checks
  code/game/gamemodes/game_mode.dm
Labels: c++

#700 Makes tickets stop roundend, and ping admins if unclaimed
  code/controllers/subsystem/ticker.dm
  yogstation/code/modules/admin/verbs/adminhelp.dm
Labels: Fix

#733 fixes command vents&scrubbers
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#735 bigotry rule: A new hope!
  _maps/RandomRuins/SpaceRuins/bus.dmm
  code/datums/mutations/speech.dm
  code/game/objects/items/manuals.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/recipes/processor_recipes.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pizza.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_salad.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_spaghetti.dm
  code/modules/holiday/easter.dm
  strings/ion_laws.json
  strings/names/death_commando.txt
  strings/traumas.json
Labels: Admin

#715 Electric Rollerbeds
  yogstation.dme
  yogstation/code/game/objects/structures/beds_chairs/electric_bed.dm
  yogstation/icons/obj/erollerbed.dmi
Labels: Feature

#770 Meteor probability switchup.
  code/modules/events/meteor_wave.dm
Labels: Tweak, enhancement, good first pull request

#717 doesn't remove his_grace from the uplink
  code/modules/uplink/uplink_items.dm
  yogstation.dme
  yogstation/code/modules/uplink/uplink.dm
  yogstation/code/modules/uplink/uplink_item.dm
Labels: enhancement

#794 Fixes repo rename
  README.md
  code/controllers/configuration/entries/general.dm
  config/motd.txt
  html/templates/header.html
Labels: Fix

#798 Adds the ability to colour lights using spraycans
  yogstation.dme
  yogstation/code/game/objects/items/crayons.dm
  yogstation/code/modules/power/lighting.dm
Labels: Feature

#840 Makes administer() use the client and not the mob and removes the dynamic bwoink interval
  yogstation/code/modules/admin/verbs/adminhelp.dm
Labels: IMPORTANT

#943 removes 6 second stun from the detective's revolver
  code/modules/projectiles/projectile/bullets/revolver.dm
Labels: Tweak

#1009 Time-green's ID fluff
  yogstation.dme
  yogstation/code/game/objects/items/cards_ids.dm
  yogstation/icons/obj/card.dmi
Labels: DME Edit, Feature, Icon Change

#1040 PDA-lights now have different colours
  code/game/machinery/PDApainter.dm
  yogstation.dme
  yogstation/code/game/objects/items/devices/PDA/PDA.dm
  yogstation/code/game/objects/items/devices/PDA/PDA_types.dm
  yogstation/code/modules/clothing/chameleon.dm
Labels: DME Edit, Feature

#1069 fixes stealthmin stuff
  code/modules/client/verbs/ooc.dm
Labels: Fix

#1060 removes yogs-maps
  _maps/_basemap.dm
  _maps/map_files/Deltastation/job_changes.dm
  _maps/map_files/MetaStation/job_changes.dm
  _maps/map_files/PubbyStation/job_changes.dm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/YogsMeta/YogsMeta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
  _maps/map_files/YogsPubby/job_changes.dm
  _maps/yogsdelta.dm
  _maps/yogsdelta.json
  _maps/yogsmeta.dm
  _maps/yogsmeta.json
  _maps/yogspubby.dm
  _maps/yogspubby.json
  code/modules/jobs/map_changes/map_changes.dm
  config/maps.txt
Labels: Map Change
