Repository yogstation13/Yogstation, pull requests merged in 2018-10, with the labels that each got.

#2731 Makes the ninja's disposition appear in the logs
  code/modules/antagonists/ninja/ninja.dm
Labels: Feature

#2777 Fix modularity machine
  code/modules/antagonists/ninja/ninja.dm
Labels: Fix

#2742 Raises Cluwne Burger Price
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Tweak

#2778 Revert "Revert "[MIRROR] Fixes grenade launchers reporting incorrect live rounds""
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/boxes_magazines/external/shotgun.dm
  code/modules/projectiles/boxes_magazines/internal/_cylinder.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Fix

#2732 Gives Golems no hunger
  code/modules/mob/living/carbon/human/species_types/golems.dm
Labels: Tweak

#2733 Chili powder makes rezadone
  code/modules/reagents/chemistry/recipes/medicine.dm
Labels: Tweak

#2738 game logs for crystal delammination alerts
  code/modules/power/supermatter/supermatter.dm
Labels: Feature

#2745 Radio colour change
  code/__DEFINES/radio.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  interface/stylesheet.dm
Labels: Tweak

#2769 Adds Virology logs and investigate virology function
  code/__DEFINES/logging.dm
  code/modules/admin/admin_investigate.dm
  code/modules/projectiles/projectile.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Feature

#2746 Atmospherics access for security with engineering armbands
  code/modules/jobs/job_types/security.dm
Labels: Tweak

#2833 Fix mirrors
  code/datums/components/rotation.dm
  code/game/objects/items/implants/implant_track.dm
  code/game/objects/items/implants/implantpad.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/power/port_gen.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/shuttle/supply.dm
Labels: Fix

#2641 Adds Cheapglasses to clothesmate
  yogstation.dme
  yogstation/code/modules/clothing/glasses/_glasses.dm
  yogstation/code/modules/vending/clothesmate.dm
Labels: Feature

#2637 Removes phytosian language flavourtext: PR editon
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
Labels: Revert / Deletion

#2761 two more closets for janitor and 1 more sign per closet
  _maps/map_files/YogStation/YogStation.dmm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
Labels: Feature, Map Change

#2636 Adds local OOC
  code/__DEFINES/~yogs_defines/keybindings.dm
  code/__DEFINES/~yogs_defines/logging.dm
  code/__DEFINES/~yogs_defines/preferences.dm
  code/controllers/subsystem/ticker.dm
  code/game/atoms.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/individual_logging.dm
  code/modules/client/preferences.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  config/config.txt
  config/game_options.txt
  interface/stylesheet.dm
  yogstation.dme
  yogstation/code/__HELPERS/_logging.dm
  yogstation/code/_globalvars/configuration.dm
  yogstation/code/_globalvars/logging.dm
  yogstation/code/controllers/configuration/entries/general.dm
  yogstation/code/controllers/subsystem/input.dm
  yogstation/code/modules/admin/admin.dm
  yogstation/code/modules/client/preferences_toggles.dm
  yogstation/code/modules/client/verbs/looc.dm
  yogstation/code/modules/keybindings/bindings_client.dm
Labels: Config, Feature, Needs testing

#2932 Removes vampires and shadowlings from halloween
  yogstation.dme
  yogstation/code/modules/mob/living/carbon/human/species_types/halloween.dm
Labels: Revert / Deletion

#2960 Also removes zombies from halloween event
  yogstation/code/modules/mob/living/carbon/human/species_types/halloween.dm
Labels: Revert / Deletion

#2929 Re-adds Partheo's atmos changes
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#2981 Fix mirrors
  Dockerfile
  code/datums/components/forced_gravity.dm
  code/game/area/areas.dm
  code/game/objects/items/clown_items.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/awaymissions/gateway.dm
  code/modules/jobs/job_types/security.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/research/designs/bluespace_designs.dm
  dependencies.sh
Labels: Bot Fucked Up

#2983 fixes the broken things with atmos rework
  _maps/map_files/YogStation/YogStation.dmm
Labels: Fix, Map Change, Tweak

#2995 Moves a gas meter in brig maint
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#2994 Adds clothing vendors to Yogbox
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#3001 Fixes the rest of the atmos frickups
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#3002 Prevents radstorm on lawyer maint APC tile
  _maps/map_files/YogStation/YogStation.dmm
Labels: Fix, Map Change

#3026 Gives the distro to filter pump a name
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#3021 Fix undeleted SQL query bug
  code/modules/client/client_procs.dm
Labels: Fix

#3017 detective's gun is now two shots to down instead of fucking useless. why do you display PR names in OOC? i could just write the entire bee movie here and there's nothing god himself could do to stop me.
  code/modules/projectiles/projectile/bullets/revolver.dm
Labels: Tweak

#3016 Gives the detective more office supplies
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#3013 Fixes and Buffs Shadowling Glare so it now stuns up to 4 tiles also lasts a bit longer
  yogstation/code/modules/antagonists/shadowling/shadowling_abilities.dm
Labels: Balance, Fix, Tweak

#3060 Fixes floor cluwne victims crawling away
  yogstation/code/modules/mob/living/simple_animal/hostile/floor_cluwne.dm
Labels: Fix

#3037 THE INEVITABLE RETURN OF NICH or how I learned to stop worrying and love the pipes
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#3101 Tcomms sat monitor works again
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#3115 Adds the missing jobs from the banning panel
  code/modules/admin/DB_ban/functions.dm
Labels: Feature

#3075 Ups item count in janitor+lawyer vendors
  yogstation.dme
  yogstation/code/modules/vending/wardrobes.dm
Labels: DME Edit, Tweak

#3097 Adds disposals to 2 more rooms (yogbox)
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#3059 reduces glare to its original state, eat shit fluffy
  yogstation/code/modules/antagonists/shadowling/shadowling_abilities.dm
Labels: Balance, Tweak

#3124 Replaced the office chair with a normal chair, fixing issue #3122
  _maps/shuttles/labour_box.dmm
Labels: Map Change, Tweak

#3143 Fixes mirrors
  code/__DEFINES/flags.dm
  code/datums/components/mood.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/mood_event.dm
  code/game/objects/items/dehy_carp.dm
  code/game/objects/items/plushes.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/clothing.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/mob/living/living.dm
  code/modules/research/nanites/nanite_chamber_computer.dm
  code/modules/spells/spell_types/inflict_handler.dm
  strings/tips.txt
  tgui/assets/tgui.css
  tgui/src/interfaces/nanite_chamber_control.ract
Labels: Bot Fucked Up, Fix

#3118 Gives yogs its own hotel
  _maps/RandomRuins/SpaceRuins/yogsspacehotel.dmm
  code/datums/ruins/space.dm
  config/spaceruinblacklist.txt
Labels: Feature, Map Change

#3125 Fixes awful Emergency Escape Shuttle Authorize/Repeal spam
  code/__DEFINES/~yogs_defines/shuttles.dm
  code/modules/shuttle/emergency.dm
  yogstation.dme
  yogstation/code/modules/shuttle/emergency.dm
Labels: Tweak

#3160 Removes cluwne mask from autodrobe and disables cluwning on equip
  code/modules/vending/autodrobe.dm
  yogstation/code/modules/clothing/mask.dm
Labels: Revert / Deletion

#2906 [WIP] Ports mentors
  code/__DEFINES/~yogs_defines/keybindings.dm
  code/__DEFINES/~yogs_defines/mentor.dm
  code/game/world.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/secrets.dm
  code/modules/admin/topic.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/verbs/ooc.dm
  config/config.txt
  config/mentors.txt
  yogstation.dme
  yogstation/SQL/mentor.sql
  yogstation/code/__HELPERS/_logging.dm
  yogstation/code/_globalvars/lists/mobs.dm
  yogstation/code/_globalvars/logging.dm
  yogstation/code/controllers/configuration/entries/yogstation_config.dm
  yogstation/code/datums/world_topic.dm
  yogstation/code/game/world.dm
  yogstation/code/modules/admin/admin.dm
  yogstation/code/modules/admin/holder2.dm
  yogstation/code/modules/admin/secrets.dm
  yogstation/code/modules/admin/topic.dm
  yogstation/code/modules/client/client_procs.dm
  yogstation/code/modules/client/verbs/who.dm
  yogstation/code/modules/keybindings/bindings_admin.dm
  yogstation/code/modules/mentor/follow.dm
  yogstation/code/modules/mentor/mentor.dm
  yogstation/code/modules/mentor/mentor_memo.dm
  yogstation/code/modules/mentor/mentor_verbs.dm
  yogstation/code/modules/mentor/mentorhelp.dm
  yogstation/code/modules/mentor/mentorpm.dm
  yogstation/code/modules/mentor/mentorsay.dm
  yogstation/code/modules/webhook/webhook.dm
Labels: Feature, SQL

#3188 Fixes yogbox areas
  _maps/map_files/YogStation/YogStation.dmm
Labels: Fix, Map Change

#3199 adds a scrubber and vent to perma, since I forgot to readd them
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#3203 syndie minibombs now cost 4tc
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Tweak

#3236 Makes promoting and removing mentors require +EVERYTHING
  yogstation/code/modules/admin/topic.dm
Labels: Admin, Tweak

#3220 adds mentortickets, and prevents mentors from mentorhelping
  yogstation.dme
  yogstation/code/controllers/subsystem/yogs.dm
  yogstation/code/modules/client/client_procs.dm
  yogstation/code/modules/mentor/mentor_verbs.dm
  yogstation/code/modules/mentor/mentorhelp.dm
  yogstation/code/modules/mentor/mentorpm.dm
  yogstation/code/modules/mentor/mentortickets.dm
Labels: DME Edit, Feature

#3278 Fix mentor unfollow showing null
  yogstation/code/modules/mentor/follow.dm
Labels: Fix

#3276 moves the det's office back
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#3281 Toxins/Testing Lab remap (Yogbox!)
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#3298 fixes mech exploit 2.0
  _maps/shuttles/whiteship_miner.dmm
  code/game/mecha/mecha_wreckage.dm
  yogstation.dme
  yogstation/code/game/mecha/mecha_wreckage.dm
Labels: DME Edit, Fix, Map Change, fuck

#3300 Camera network tweaks, extra monitors
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#3217 Updates the logs for Supermatter
  code/modules/power/singularity/collector.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/smes.dm
  code/modules/power/supermatter/supermatter.dm
Labels: Feature

#3267 Makes lobby music use youtube-dl and goonchat
  code/controllers/subsystem/ticker.dm
  code/game/sound.dm
  code/modules/client/preferences.dm
  code/modules/goonchat/browserassets/html/browserOutput.html
  code/modules/goonchat/browserassets/js/browserOutput.js
  config/title_music/yogs_lobby_music.txt
  yogstation.dme
  yogstation/code/controllers/subsystem/ticker.dm
  yogstation/code/game/sound.dm
  yogstation/code/modules/goonchat/browserOutput.dm
Labels: ready

#3308 More updates for yogbox
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change
