Repository yogstation13/Yogstation, pull requests merged in 2019-04, with the labels that each got.

#5015 Thanos snaps half the server to fix lag
  code/modules/vending/autodrobe.dm
  yogstation/code/game/objects/items/clown_items.dm
  yogstation/code/modules/cargo/cargo_packs.dm
  yogstation/sound/items/rubber_pigeon.ogg
Labels: Feature, Revert / Deletion, Sound, TESTMERGE, Tweak, speedmerge

#5033 Fixes the immense rubber pigeon spam
  code/modules/vending/autodrobe.dm
  yogstation/code/modules/cargo/cargo_packs.dm
Labels: Fix, IMPORTANT

#5026 Fixes new revolver sprites from /TG/
  icons/obj/guns/projectile.dmi
Labels: Fix, Icon Change, Sprites

#4988 donor borg skins
  yogstation/code/modules/donor/borg_ai_skin_datums.dm
  yogstation/icons/mob/DonorRobots.dmi
Labels: Sprites

#4952 slight space goat ruin tweaks and map fixes
  _maps/yogstation/RandomRuins/SpaceRuins/goatresearch.dmm
Labels: Map Change, Tweak

#4953 You can no longer throw things threw the goat king portal to prevent tk and countless other portal memes also no more bodybag memes
  _maps/yogstation/RandomRuins/LavaRuins/kinggoatboss.dmm
  yogstation/code/game/objects/effects/portals.dm
  yogstation/code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
Labels: Map Change, Tweak

#4954 [admin] Admins are now warned if they try to change the roundendsound if another admin has already set it to something
  code/modules/admin/verbs/playsound.dm
Labels: Admin, Tweak

#5052 Adds Tactical Potted Plants around the Station and more plant sprites made by Fiodoss!
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_box.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_casino.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_conveyor.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_purple.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_spacious.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  code/game/objects/structures/flora.dm
  yogstation/icons/obj/flora/plants.dmi
Labels: Feature, Icon Change, Map Change, Tweak

#4996 Ports Jujumatic Minesweeper PR to Yogs cause Minesweeper Cool
  code/game/machinery/computer/arcade.dm
  yogstation.dme
  yogstation/code/game/machinery/computer/arcade.dm
  yogstation/code/game/objects/items/circuitboards/computer_circuitboards.dm
  yogstation/icons/arcade/minesweeper_tiles.dmi
  yogstation/sound/arcade/minesweeper_boardpress.ogg
  yogstation/sound/arcade/minesweeper_emag1.ogg
  yogstation/sound/arcade/minesweeper_emag2.ogg
  yogstation/sound/arcade/minesweeper_explosion1.ogg
  yogstation/sound/arcade/minesweeper_explosion2.ogg
  yogstation/sound/arcade/minesweeper_explosion3.ogg
  yogstation/sound/arcade/minesweeper_menuselect.ogg
  yogstation/sound/arcade/minesweeper_startup.ogg
  yogstation/sound/arcade/minesweeper_win.ogg
  yogstation/sound/arcade/minesweeper_winfail.ogg
Labels: Feature

#5041 [admin] Makes nonstandard radio frequencies have a colour different from Common
  code/game/say.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  interface/stylesheet.dm
Labels: Admin, Feature

#5042 Fix liver abuse
  code/modules/mob/living/carbon/life.dm
Labels: Balance, Oversight, Tweak, fuck, fuck is an understatement

#5040 [admin] Slightly Improves the Admin Viewrange Verb, Allows for Custom Viewranges
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Admin

#4924 After nine years in development, hopefully it will have been worth the weight
  code/game/objects/structures/petrified_statue.dm
  code/modules/vending/drinnerware.dm
  yogstation.dme
  yogstation/code/game/objects/items/fryingpan.dm
  yogstation/code/modules/uplink/uplink_item.dm
  yogstation/icons/mob/inhands/weapons/pan_lefthand.dmi
  yogstation/icons/mob/inhands/weapons/pan_righthand.dmi
  yogstation/icons/obj/pan.dmi
  yogstation/sound/weapons/pan.ogg
Labels: DME Edit, Feature, Icon Change, Literally the best PR, Sound

#5035 Makes OOC pinging WAAAAAY smarter.
  code/modules/client/verbs/ooc.dm
Labels: enhancement

#5092 Prevents syndiborgs from using donor skins
  yogstation/code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#5100 [admin] Adds a Nerf War adminverb
  code/modules/admin/admin_verbs.dm
  yogstation/code/modules/admin/verbs/spawnfloorcluwne.dm
Labels: Admin, Feature

#5105 Fixes even more Goat King Cheese
  _maps/yogstation/RandomRuins/LavaRuins/kinggoatboss.dmm
  yogstation/code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
Labels: Map Change

#5109 Makes the crazy-powerful Bananium Frying Pan not be 80% off for traitors
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Fix

#4948 Botany now gets four random chem seeds up from 2 per vendor
  code/modules/vending/megaseed.dm
Labels: Balance, Tweak

#5093 Add Gorilla-people as playable species
  code/game/machinery/limbgrower.dm
  code/game/machinery/scan_gate.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/antagonists/abductor/equipment/gland.dm
  code/modules/cargo/packs.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  code/modules/research/designs/limbgrower_designs.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  code/modules/surgery/bodyparts/head.dm
  config/game_options.txt
  sound/voice/gorilla/deathsound.ogg
  strings/names/gorilla_female.txt
  strings/names/gorilla_male.txt
  yogstation.dme
  yogstation/code/__HELPERS/mobs.dm
  yogstation/code/__HELPERS/names.dm
  yogstation/code/_globalvars/lists/names.dm
  yogstation/code/game/objects/items/stacks/sheets/leather.dm
  yogstation/code/modules/cargo/exports/sheets.dm
  yogstation/code/modules/food_and_drinks/food/snacks/meat.dm
  yogstation/code/modules/mob/living/carbon/human/human.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/gorillapeople.dm
  yogstation/code/modules/reagents/chemistry/reagents/other_reagents.dm
  yogstation/code/modules/reagents/chemistry/recipes/slime_extracts.dm
  yogstation/code/modules/reagents/reagent_containers/blood_pack.dm
  yogstation/icons/mob/human_parts.dmi
  yogstation/icons/obj/food/food.dmi
  yogstation/icons/obj/stack_objects.dmi
  yogstation/sound/voice/gorilla/deathsound.ogg
Labels: Feature

#4784 Fixes Quiet Mode
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/objective.dm
  yogstation.dme
  yogstation/code/game/gamemodes/game_mode.dm
Labels: DME Edit, Fix, Needs testing

#5111 Fixes donors not always having their full character slot count
  code/modules/client/preferences.dm
  yogstation/code/__HELPERS/mobs.dm
  yogstation/code/game/world.dm
Labels: Fix

#5118 Gang dominator is now not inherently broken also theos is the best coder
  yogstation/code/game/gamemodes/gangs/dominator.dm
Labels: Fix, fuck

#5112 probably lets donors bypass the popcap
  code/modules/admin/IsBanned.dm
Labels: Council Vote, Feature

#5124 Allows donators to bypass the queue
  code/modules/mob/dead/new_player/new_player.dm
Labels: Council Vote, Feature

#4989 Resonators now replicate fields as god intended
  code/modules/mining/equipment/resonator.dm
Labels: Balance, DME Edit, Feature

#5090 Ashwalkers now breathe N2 with special lungs!
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  yogstation.dme
  yogstation/code/modules/surgery/organs/lungs.dm
  yogstation/icons/obj/surgery.dmi
Labels: Feature, Icon Change, Tweak

#5097 adds a poster of the first singularity to the CE locker
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  yogstation.dme
  yogstation/code/game/objects/effects/contraband.dm
  yogstation/icons/obj/contraband.dmi
Labels: DME Edit, Feature, Icon Change

#5126 [admin] Fixes admins not being able to see admin deadsay while in the lobby
  code/modules/admin/verbs/deadsay.dm
Labels: Admin, Fix

#5101 Resprites tator stimpacks, makes them act like a hypospray
  code/modules/uplink/uplink_items.dm
  yogstation/code/modules/reagents/reagent_containers/hypospray.dm
  yogstation/icons/obj/syringe.dmi
Labels: Balance, Feature, Icon Change, Tweak

#4985 ports taglines from citadel, sort of
  code/controllers/configuration/entries/general.dm
  code/game/world.dm
  yogstation/code/game/world.dm
  yogstation/strings/taglines.txt
Labels: Feature

#5115 [admin] Adds an +ADMINverb that allows sending SMs to entire factions & antag types
  code/modules/admin/admin_verbs.dm
  yogstation/code/modules/admin/verbs/one_click_antag.dm
Labels: Admin, Feature

#5127 Fixes OOC colour in whitemode, and OOC pings
  code/modules/client/verbs/ooc.dm
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  interface/stylesheet.dm
Labels: Darkmode, Fix

#5113 Makes lighting on the space bar better
  _maps/yogstation/RandomRuins/SpaceRuins/spacebar.dmm
Labels: Map Change, Tweak

#5099 Adds two new items to lavaland ruins and nerfs the eagle hardsuit
  _maps/yogstation/RandomRuins/LavaRuins/lavaland_surface_goliathmound.dmm
  _maps/yogstation/RandomRuins/LavaRuins/lavaland_surface_mimingdrill.dmm
  code/modules/clothing/spacesuits/miscellaneous.dm
Labels: Map Change

#4675 Allows for AI Eye sprites to be one of three exciting colors!
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  yogstation.dme
  yogstation/code/modules/mob/living/silicon/ai/freelook/eye.dm
  yogstation/icons/mob/cameramob.dmi
Labels: DME Edit, Feature, Icon Change

#5119 [admin] Ports ticket pop-ups from prebase
  code/modules/admin/verbs/adminpm.dm
  yogstation/code/modules/admin/verbs/adminhelp.dm
Labels: Admin, Feature, prebase

#5128 Fixes player access to the admin version of the viewrange verb
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#5135 Gives Code his stupid wizard ruin spot so he can stop complaining in msay
  _maps/yogstation/RandomRuins/SpaceRuins/Academy.dmm
Labels: Feature, Map Change

#5133 Add prisoner jumpsuit crate
  yogstation/code/modules/cargo/cargo_packs.dm
Labels: Feature

#5140 [admin] Fixes admins not being able to change the roundend sound once it has been set
  code/modules/admin/verbs/playsound.dm
Labels: Admin, Fix

#5137 Holodeck in perma
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/generic/CentCom.dmm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/bedsheet_bin.dm
  yogstation.dme
  yogstation/code/game/area/areas/holodeck.dm
  yogstation/code/modules/holodeck/computer.dm
Labels: DME Edit, Map Change

#4936 you can now take off the happy cluwne mask edit also fixes not being able to put disablers in new sec armors for some reason
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  yogstation/code/modules/clothing/mask.dm
  yogstation/code/modules/clothing/suits/armor.dm
  yogstation/code/modules/vending/security.dm
  yogstation/code/modules/vending/wardrobes.dm
Labels: Fix

#5125 Makes the Extreme popcap be the sum of living players AND the size of the queue
  code/modules/admin/IsBanned.dm
Labels: Feature

#5142 Fixes runtime in AI Eye code
  code/modules/mob/living/silicon/ai/freelook/eye.dm
Labels: Fix

#5141 Makes romerol surgery and brainwashing surgery require different tech
  code/modules/research/techweb/all_nodes.dm
  yogstation/code/modules/research/techweb/all_nodes.dm
Labels: Feature

#5102 Adds powerarmor (barely)!
  yogstation/code/modules/clothing/spacesuits/hardsuit.dm
  yogstation/icons/mob/head.dmi
  yogstation/icons/mob/suit.dmi
  yogstation/icons/obj/clothing/hats.dmi
  yogstation/icons/obj/clothing/suits.dmi
Labels: Feature, Icon Change

#5152 Skub Crate
  yogstation/code/modules/cargo/cargo_packs.dm
Labels: Feature

#5173 Minesweeper Boards can now be printed
  code/modules/research/techweb/all_nodes.dm
  yogstation/code/modules/research/designs/comp_board_designs.dm
Labels: Feature

#5157 Fixes Yet ANOTHER King Goat Exploit
  _maps/yogstation/RandomRuins/LavaRuins/kinggoatboss.dmm
  code/game/area/areas/ruins/lavaland.dm
  code/modules/mining/shelters.dm
Labels: Map Change

#5172 Buff reinforced windows by making them exist again
  _maps/yogstation/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#5131 Removes Oakboscage from the video game
  code/game/objects/items/storage/bags.dm
  yogstation.dme
  yogstation/code/datums/components/storage/storage.dm
  yogstation/code/game/objects/items/storage/bags.dm
  yogstation/icons/obj/janitor.dmi
Labels: DME Edit, Feature, Icon Change

#5155 [admin] Fixes weird shitty colours in the ticket viewer
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  interface/stylesheet.dm
Labels: Admin, Darkmode, Fix, Needs testing

#5189 [MIRROR] adds overdose to syndie medborg nanites
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Upstream PR Merged

#5192 [MIRROR] Include BYOND build when using Report Issue button
  interface/interface.dm
Labels: Upstream PR Merged

#5194 [MIRROR] Fixes bus ruin
  _maps/RandomRuins/SpaceRuins/bus.dmm
Labels: Upstream PR Merged

#5201 [MIRROR] Add a log for paper edits
  code/__HELPERS/_logging.dm
  code/_globalvars/logging.dm
  code/game/world.dm
  code/modules/paperwork/paper.dm
Labels: Admin, Feature, Upstream PR Merged

#5200 [MIRROR] Ports far too many haircuts and beards.
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/human_face.dmi
Labels: Feature, Icon Change

#5206 [MIRROR] Removes redundant pirate ship vent
  _maps/shuttles/pirate_default.dmm
Labels: Map Change

#5207 [MIRROR] Modifies how the Assimilation pinpointer radars work
  code/game/gamemodes/hivemind/radar.dm
  code/modules/spells/spell_types/hivemind.dm
Labels: Upstream PR Merged

#5210 [MIRROR] Fixed being able to build multiple terminals for SMES's
  code/modules/power/smes.dm
  code/modules/power/terminal.dm
Labels: Upstream PR Merged

#5213 [MIRROR] add more salt to the game
  code/modules/food_and_drinks/drinks/drinks.dm
Labels: Feature, Merge conflict

#5185 [MIRROR] Adds friendly life reaction to chemistry
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Feature, Upstream PR Merged

#5195 [MIRROR] Adds admin quirk command, also fixes and unifies quirk helpers
  code/controllers/subsystem/processing/quirks.dm
  code/datums/datumvars.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/status_procs.dm
Labels: Merge conflict, Upstream PR Merged

#5219 [MIRROR] pAI cards update on availability while in inventory.
  code/game/objects/items/devices/paicard.dm
Labels: Tweak

#5221 [MIRROR] pAI's eject into hands
  code/game/objects/items/devices/PDA/PDA.dm
Labels: Tweak

#5222 [MIRROR] makes the medical hardsuit faster
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Upstream PR Merged

#5231 [MIRROR] Chefs can shower with their mustache on
  code/modules/clothing/masks/miscellaneous.dm
Labels: Tweak

#5227 [MIRROR] [READY] pAI's have headsets and can use encryption keys
  code/game/machinery/announcement_system.dm
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/software.dm
Labels: Compiled Successfully, Feature

#5216 Adds "aww shit, here we go again" as a roundend sound
  code/controllers/subsystem/ticker.dm
  yogstation/sound/roundend/aww_shit.ogg
Labels: Feature, Sound

#5229 [MIRROR] Fixes movement hunger costs.
  code/modules/mob/living/carbon/carbon_movement.dm
Labels: Compiled Successfully

#5226 [MIRROR] Expands service channel access to HoP-reporting jobs.
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/mime.dm
  icons/obj/radio.dmi
Labels: Upstream PR Merged

#5176 Readds Ragin Mages
  yogstation.dme
  yogstation/code/game/gamemodes/wizard/raginmages.dm
Labels: DME Edit, Feature

#5244 Fixes the "aww shit" roundend sound not playing in both ears.
  yogstation/sound/roundend/aww_shit.ogg
Labels: Sound

#5187 [mirror] Fix incorrect APC pixel offsets in maps
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  _maps/RandomRuins/SpaceRuins/caravanambush.dmm
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomRuins/SpaceRuins/gasthelizards.dmm
  _maps/RandomRuins/SpaceRuins/oldAIsat.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/RandomZLevels/Academy.dmm
  _maps/RandomZLevels/Cabin.dmm
  _maps/RandomZLevels/VR/snowdin_VR.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/debug/multiz.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/fugitive_hunter_space_cop.dmm
  _maps/shuttles/pirate_default.dmm
  _maps/shuttles/ruin_pirate_cutter.dmm
  _maps/shuttles/ruin_syndicate_dropship.dmm
  _maps/shuttles/ruin_syndicate_fighter_shiv.dmm
  _maps/shuttles/whiteship_box.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/shuttles/whiteship_meta.dmm
  tools/mapmerge2/map_scripts/apc_pixel_offsets.txt
  tools/mapmerge2/update_paths.py
Labels: Upstream PR Merged

#5228 [MIRROR] Add a missing period when splitting stacks
  code/game/objects/items/stacks/stack.dm
Labels: Compiled Successfully

#5295 [admin] Makes Global Playsound say how many people ended up hearing the sound
  code/modules/admin/verbs/playsound.dm
Labels: Admin, Feature
