Repository yogstation13/Yogstation, pull requests merged in 2019-11, with the labels that each got.

#6967 Dangerous shuttles can only be bought using emagged comms consoles
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/shuttle.dm
  code/datums/shuttles.dm
  code/game/machinery/computer/communications.dm
Labels: Balance, Tweak, prebase

#6950 Race Sensor Nanites from tg
  code/modules/research/designs/nanite_designs.dm
  code/modules/research/nanites/nanite_programs/sensor.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature

#6984 Readds missing donut sprites
  yogstation/icons/obj/food/food.dmi
Labels: Icon Change

#6992 Adds dragnets to box armory
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#6993 Fixes goat plushie sprite
  icons/obj/plushes.dmi
Labels: Icon Change

#6982 Removes the draft
  code/controllers/subsystem/ticker.dm
  yogstation/code/game/gamemodes/game_mode.dm
Labels: Tweak

#7001 Browser Passthrough - Improving Yogs user experience by 10x
  code/datums/browser.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/client/client_procs.dm
  html/browser/common.js
  tgui/assets/tgui.js
  tgui/src/tgui.js
  yogstation/code/__HELPERS/unsorted.dm
Labels: Feature, IMPORTANT, Javascript, Literally the best PR, enhancement, nice, tgui

#7008 Fixes admin messages not being in the player's ticket log
  code/modules/admin/verbs/adminpm.dm
Labels: Admin

#7013 Penlight can now be made in the Lathe
  code/modules/research/designs/autolathe_designs.dm
Labels: Feature

#6972 Add sheep
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/cargo/packs.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  icons/mob/animal.dmi
  icons/obj/stack_objects.dmi
Labels: Feature, Icon Change

#7012 Xeno queen can now disable their hostile environment
  code/modules/shuttle/emergency.dm
Labels: Tweak

#7021 Makes the medical job selection options blue
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/virologist.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
  yogstation/code/modules/jobs/job_types/paramedic.dm
  yogstation/code/modules/jobs/job_types/psychiatrist.dm
Labels: Tweak

#7019 Airlock scanner fixes
  code/modules/research/designs/autolathe_designs.dm
  yogstation.dme
  yogstation/code/game/objects/items/airlock_scanner.dm
  yogstation/code/modules/research/designs/autolathe_designs.dm
Labels: DME Edit

#7016 adds a new genetic power (Toxin Lover)
  code/datums/mutations/body.dm
Labels: Feature

#7009 Opening a new ticket now informs you that the old one will be closed
  yogstation/code/modules/admin/verbs/adminhelp.dm
Labels: Admin

#7029 Fixes tcomms access on omega
  _maps/map_files/Omegastation/omegastation.dmm
Labels: Map Change

#7002 Moving will no longer interrupt breaking out of cuffs
  code/__HELPERS/mobs.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Balance, Controversial, Tweak

#7018 Fixes some mapping issues with the academy ruin
  _maps/RandomRuins/SpaceRuins/Academy.dmm
Labels: Map Change

#7041 Prevents the ctrl key from being stuck down
  code/controllers/subsystem/input.dm
  code/modules/client/client_procs.dm
  html/browser/common.js
  tgui/assets/tgui.js
  tgui/src/tgui.js
  yogstation/code/controllers/subsystem/input.dm
  yogstation/code/modules/keybindings/bindings_client.dm
Labels: Fix

#7043 Darkspawn use .k for mindlink
  code/datums/saymode.dm
  yogstation/code/game/gamemodes/darkspawn/veil.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn.dm
Labels: Tweak

#7028 Update Throwing Star Icon
  icons/obj/items_and_weapons.dmi
Labels: Icon Change

#7032 [ADMIN] supermatter now has a var that can be edited by admins to disable message_admins on consume()
  code/modules/power/supermatter/supermatter.dm
Labels: Admin, Feature

#6875 BurnMix , New ghetto healing drug with risks!
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
Labels: Feature

#6938 E G G P E O P L E
  code/__DEFINES/food.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/food/snacks_egg.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/food/snacks_salad.dm
  code/modules/language/egg.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species_types/eggpeople.dm
  icons/misc/language.dmi
  icons/mob/human_parts_greyscale.dmi
  yogstation.dme
  yogstation/code/modules/mob/living/carbon/human/human.dm
  yogstation/sound/voice/eggperson/egg_scream.ogg
Labels: Feature

#6936 code cleanup
  .github/CONTRIBUTING.md
  code/__DEFINES/maths.dm
  code/__HELPERS/names.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/cargo/exports/seeds.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/mining/mine_items.dm
Labels: fuck

#6773 Runes
  code/datums/ruins.dm
  code/game/area/areas/ruins/space.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/projectiles/ammunition/special/magic.dm
  code/modules/projectiles/guns/magic/rune.dm
  code/modules/projectiles/projectile/magic.dm
  icons/obj/guns/magic.dmi
  icons/obj/projectiles.dmi
  yogstation.dme
Labels: DME Edit, Feature, Icon Change

#7026 Cheese.
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/modules/cargo/bounties/chef.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/food/customizables.dm
  code/modules/food_and_drinks/food/snacks_cheese.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/food_and_drinks/recipes/processor_recipes.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  icons/obj/food/cheese.dmi
  icons/obj/food/food.dmi
  yogstation.dme
  yogstation/code/game/objects/items/storage/mre.dm
Labels: Feature, Icon Change

#7048 Mice can now eat cheese
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Tweak

#7031 [ADMIN] Allows admins to change the sender of command reports they send within the command-report-verb itself
  code/modules/admin/verbs/randomverbs.dm
Labels: Admin, enhancement, nice

#7061 Obsessed people may no longer have the objective to have a picture with their target
  code/modules/antagonists/creep/creep.dm
Labels: Revert / Deletion

#7042 Plasma tank objective now checks for 28 moles across all tanks, not 28 moles in one tank
  code/game/gamemodes/objective.dm
  code/game/gamemodes/objective_items.dm
Labels: Tweak

#7049 War ops less people
  code/modules/antagonists/nukeop/equipment/nuclear_challenge.dm
Labels: Tweak

#7073 Legion bodies no longer float over tables (skulls still do)
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
Labels: Tweak

#7069 Powerarmor fix
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  yogstation/code/modules/clothing/spacesuits/hardsuit.dm
Labels: Icon Change

#7052 Changes (probably) all the times that Clock Cult uses watts to joules
  code/__DEFINES/clockcult.dm
  code/_onclick/hud/alert.dm
  code/modules/antagonists/clockcult/clock_effects/clock_sigils.dm
  code/modules/antagonists/clockcult/clock_helpers/power_helpers.dm
  code/modules/antagonists/clockcult/clock_items/clockwork_slab.dm
  code/modules/antagonists/clockcult/clock_items/replica_fabricator.dm
  code/modules/antagonists/clockcult/clock_scripture.dm
  code/modules/antagonists/clockcult/clock_structure.dm
  code/modules/antagonists/clockcult/clock_structures/clockwork_obelisk.dm
  code/modules/antagonists/clockcult/clock_structures/mania_motor.dm
Labels: Tweak

#7060 You can now select exactly which limb was lost in your tragic backstory
  code/controllers/subsystem/processing/quirks.dm
  code/datums/traits/negative.dm
Labels: Feature

#7059 Surrender text clarity revive
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  code/modules/mob/living/emote.dm
  interface/stylesheet.dm
Labels: Tweak

#6926 Removes xenolings
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
Labels: Controversial, Council Vote, Fix, Revert / Deletion, Server Vote

#7101 [s] Strips some input
  code/game/machinery/telecomms/computers/message.dm
Labels: Fix

#7077 Conveyor switches can be toggled between one-way and two-way using a wrench.
  code/modules/recycling/conveyor2.dm
Labels: Feature

#7079 Makes Tcomms networks independent from one another
  code/game/machinery/telecomms/broadcasting.dm
Labels: Tweak

#7093 tcomms mapping
  _maps/map_files/MinskyStation/MinskyStation.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Tweak

#7091 Revert "Moving will no longer interrupt breaking out of cuffs"
  code/modules/mob/living/carbon/carbon.dm
Labels: Council Vote, Server Vote

#7081 Signal tech clothing vendor take 2
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/cargo/packs.dm
  code/modules/vending/wardrobes.dm
  icons/obj/vending.dmi
Labels: Feature, Icon Change, Map Change

#7084 Prevents xenos evolving in pipes
  code/modules/mob/living/carbon/alien/humanoid/caste/drone.dm
  code/modules/mob/living/carbon/alien/larva/powers.dm
Labels: Tweak

#7097 Forcefield projector has a short delay before projecting a forcefield
  code/game/objects/items/devices/forcefieldprojector.dm
Labels: Tweak

#7085 Construction bag can be achieved easier
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/vending/engivend.dm
Labels: Tweak

#7104 Locks medical holodeck behind red or delta seclevel
  code/game/area/areas/holodeck.dm
  code/modules/holodeck/computer.dm
Labels: Tweak

#7035 THE GREAT TG MUTATION PORT
  code/__DEFINES/DNA.dm
  code/datums/mutations/_combined.dm
  code/datums/mutations/body.dm
  code/game/objects/items/dna_injector.dm
Labels: Feature

#7015 XENOBIOLOGY REWORK: Slime Hunter Edition
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/game/objects/items/pet_carrier.dm
  code/game/turfs/simulated/floor/plating/asteroid.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/paperwork/paper_premade.dm
  code/modules/procedural_mapping/mapGenerators/lavaland.dm
  icons/obj/pet_carrier.dmi
Labels: Council Vote, Feature, Icon Change, Map Change, TESTMERGE, Tweak

#7102 Revert "Synergy" PR that changed standart lizard name generation
  code/__HELPERS/mobs.dm
  code/__HELPERS/names.dm
  code/_globalvars/lists/names.dm
  code/game/objects/structures/ghost_role_spawners.dm
  strings/names/lizard_nouns.txt
  strings/names/lizard_verbs.txt
Labels: Revert / Deletion, Tweak

#7106 Updates sprites of the standard security uniforms.
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Icon Change, Sprites

#7121 possible fix for the signal tech hoodie
  yogstation/icons/mob/head.dmi
  yogstation/icons/mob/suit.dmi
Labels: Icon Change

#7103 Makes Haunted Magic Eightball available to both chaplain and curator
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#7078 Achievements
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/medal.dm
  code/controllers/subsystem/achievements.dm
  code/controllers/subsystem/medals.dm
  code/controllers/subsystem/shuttle.dm
  code/datums/achievements/achievements.dm
  code/datums/achievements/viewer.dm
  code/datums/shuttles.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/machinery/computer/arcade.dm
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/awaymissions/super_secret_room.dm
  code/modules/events/immovable_rod.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/swarmer.dm
  code/modules/vehicles/cars/clowncar.dm
  code/modules/vehicles/vehicle_actions.dm
  tgui/assets/tgui.js
  tgui/src/interfaces/achievements.ract
  yogstation.dme
Labels: DME Edit, TESTMERGE

#7051 christmas music
  code/modules/holiday/holidays.dm
Labels: Feature

#7120 Replaces the diamond pickaxe in necropolis chest with mythrill
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Icon Change, Tweak

#7065 independence day mysuc
  code/modules/holiday/holidays.dm
Labels: Feature

#7111 Randomizes xenobio bridge
  _maps/map_files/YogStation/YogStation.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/xenobridge_default.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/xenobridge_space.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Controversial, Feature, Map Change

#7133 Adds a map of the station to players' boxes
  code/controllers/subsystem/mapping.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/area/areas.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/mapping/minimap.dm
  html/blank.png
  yogstation.dme
  yogstation/icons/obj/bureaucracy.dmi
Labels: DME Edit, Feature, Icon Change

#7132 Layers Omegastation's pipes
  _maps/map_files/Omegastation/omegastation.dmm
Labels: Map Change

#7141 i hate spam clicking
  code/modules/research/experimentor.dm
  yogstation.dme
  yogstation/code/modules/research/experimentor.dm
Labels: DME Edit, Feature

#7147 Ports New Space Dragon textures. from /tg/
  icons/mob/spacedragon.dmi
Labels: Icon Change

#7144 Ports clock AI hologram from /tg/
  code/modules/mob/living/silicon/ai/ai.dm
  icons/mob/ai.dmi
Labels: Icon Change

#7146 Ports [much needed pAI gameboy face sprite from] /tg/
  code/game/objects/items/devices/paicard.dm
  icons/obj/aicards.dmi
Labels: Icon Change

#7145 Ports random parallax layers from /tg/
  code/_onclick/hud/parallax.dm
  code/controllers/subsystem/parallax.dm
  icons/effects/parallax.dmi
Labels: Icon Change

#7163 removes map and gamemode from the hub entry, puts back in taglines and 99% lag free
  yogstation/code/game/world.dm
Labels: Tweak

#7135 You have to build .357 rounds manually instead of building speedloaders :dab:
  code/modules/research/designs/autolathe_designs.dm
Labels: Balance, Tweak

#7153 reworks pubbys tcomms
  _maps/map_files/YogsPubby/YogsPubby.dmm
Labels: Map Change, Tweak

#7161 Multi surgery from tg but it works this time
  code/game/machinery/computer/Operating.dm
  code/modules/surgery/helpers.dm
  code/modules/surgery/surgery.dm
Labels: Feature

#7050 ports snow golems from tg in preperation for christmas
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/ruins/lavaland_ruin_code.dm
  icons/mob/human_parts.dmi
Labels: Feature, Icon Change

#7170 makes 99% lag free bold
  yogstation/code/game/world.dm
Labels: Tweak

#7168 Some map and spelling issues with the slime pr
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/game/objects/items/pet_carrier.dm
Labels: Map Change

#7162 Megafauna eat slimes
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
Labels: Tweak

#7139 makes basic sodas in cola vendors 2$ per and adds a new a slogan to reflect it
  code/modules/vending/cola.dm
Labels: Feature, Tweak

#7181 fixes monk robes because the pr that added them was retarded
  yogstation/icons/mob/suit.dmi
Labels: Icon Change

#7187 Cloners scan for dna before they check if the body is damaged
  code/game/machinery/computer/cloning.dm
Labels: Tweak

#7191 Adds corpse flower seed sprite
  icons/obj/hydroponics/seeds.dmi
Labels: Icon Change
