Repository yogstation13/Yogstation, pull requests merged in 2019-02, with the labels that each got.

#4236 Adds a basic survival weapon to escape pods
  yogstation.dme
  yogstation/code/modules/projectiles/ammunition/caseless/misc.dm
  yogstation/code/modules/projectiles/boxes_magazines/internal/misc.dm
  yogstation/code/modules/projectiles/guns/ballistic/launchers.dm
  yogstation/code/modules/projectiles/reusable/kineticspear.dm
  yogstation/icons/obj/ammo.dmi
  yogstation/icons/obj/guns/projectile.dmi
Labels: Feature

#4331 (Paid code) Adds in battle royale mode (this time with a bit of theming)
  code/__DEFINES/role_preferences.dm
  yogstation.dme
  yogstation/code/game/gamemodes/battle_royale/battleroyale.dm
  yogstation/code/game/gamemodes/battle_royale/loot.dm
  yogstation/code/game/gamemodes/battle_royale/storm.dm
  yogstation/icons/battleroyale/battlebus.dmi
  yogstation/icons/battleroyale/victoryroyale.png
  yogstation/icons/effects/weather_effects.dmi
  yogstation/sound/effects/battleroyale/L.ogg
  yogstation/sound/effects/battleroyale/battlebus.ogg
  yogstation/sound/effects/battleroyale/exitbus.ogg
  yogstation/sound/effects/battleroyale/greet_br.ogg
  yogstation/sound/effects/battleroyale/stormalert.ogg
  yogstation/sound/effects/battleroyale/stormclosing.ogg
Labels: DME Edit, Feature, Icon Change, Sound, TESTMERGE

#4363 I'm using my autocratic power over this codebase to completely remove free speech, and modify any speech which I find annoying.
  code/modules/mob/say.dm
  config/minor_filter.txt
  yogstation/code/modules/admin/prettyfilter.dm
Labels: Feature

#4388 Prevents beer nuke from preventing round end - "TG can suck my dick" edition
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
Labels: Bug, Fix, IMPORTANT, MERGE, Oversight, Upstream Issue, fuck, fuck is an understatement, ready, speedmerge

#4410 The game now announces that the shuttle can be called at the 1:45 mark
  yogstation/code/controllers/subsystem/yogs.dm
Labels: Feature

#4407 Makes it so you can swap slimeperson bodies via alt-click
  yogstation.dme
  yogstation/code/modules/mob/living/carbon/human/species_types/jellypeople.dm
Labels: DME Edit, Feature

#4405 Slap my hand
  yogstation.dme
  yogstation/code/game/objects/items/weaponry.dm
  yogstation/code/modules/mob/living/emote.dm
Labels: DME Edit, Feature, Literally the best PR, fuck is an understatement

#4445 Fixes camera tags in yogbox escape
  _maps/yogstation/map_files/YogStation/YogStation.dmm
Labels: Map Change

#4217 NanoTrasen Scripting Language [READY-ER THAN PREVIOUSLY]
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_singulo.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_sm.dmm
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  code/__DEFINES/~yogs_defines/access.dm
  code/game/machinery/telecomms/broadcasting.dm
  code/game/machinery/telecomms/machines/server.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/say.dm
  code/modules/admin/admin_verbs.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/signal_technician.dm
  code/modules/mob/living/silicon/ai/say.dm
  interface/skin.dmf
  yogstation.dme
  yogstation/code/game/communications.dm
  yogstation/code/game/machinery/telecomms/computers/traffic_control.dm
  yogstation/code/game/machinery/telecomms/machines/server.dm
  yogstation/code/game/objects/items/circuitboards/computer_circuitboards.dm
  yogstation/code/modules/admin/prettyfilter.dm
  yogstation/code/modules/admin/verbs/telecomms.dm
  yogstation/code/modules/scripting/AST/AST Nodes.dm
  yogstation/code/modules/scripting/AST/Blocks.dm
  yogstation/code/modules/scripting/AST/Operators/Binary Operators.dm
  yogstation/code/modules/scripting/AST/Operators/Unary Operators.dm
  yogstation/code/modules/scripting/AST/Statements.dm
  yogstation/code/modules/scripting/Errors.dm
  yogstation/code/modules/scripting/IDE.dm
  yogstation/code/modules/scripting/Implementations/Telecomms.dm
  yogstation/code/modules/scripting/Implementations/_Logic.dm
  yogstation/code/modules/scripting/Interpreter/Evaluation.dm
  yogstation/code/modules/scripting/Interpreter/Interaction.dm
  yogstation/code/modules/scripting/Interpreter/Interpreter.dm
  yogstation/code/modules/scripting/Interpreter/Scope.dm
  yogstation/code/modules/scripting/Options.dm
  yogstation/code/modules/scripting/Parser/Expressions.dm
  yogstation/code/modules/scripting/Parser/Keywords.dm
  yogstation/code/modules/scripting/Parser/Parser.dm
  yogstation/code/modules/scripting/Scanner/Scanner.dm
  yogstation/code/modules/scripting/Scanner/Tokens.dm
  yogstation/code/modules/scripting/stack.dm
  yogstation/icons/mob/hud.dmi
Labels: DME Edit, Feature, Needs testing

#4437 Fixes code that apparently does not work but monster didn't care enough to actually describe what he's doing. For all we know he's adding a backdoor.
  code/modules/ninja/suit/suit.dm
  yogstation/code/modules/ninja/suit/ninja.dm
Labels: bad changelog, feature request worded like a bug, invalid, no, question, questionable

#4367 Ninjas speak Japanese
  code/modules/ninja/ninja_event.dm
  code/modules/surgery/organs/tongue.dm
  yogstation.dme
  yogstation/code/modules/language/japanese.dm
  yogstation/icons/misc/language.dmi
Labels: DME Edit, Icon Change, Tweak

#4444 [admin] Allows admins to spawn cookies for all mobs instead of only /mob/living/carbon's
  code/modules/admin/topic.dm
Labels: Tweak

#4392 Changes command radio color
  code/modules/goonchat/browserassets/css/browserOutput.css
  interface/stylesheet.dm
Labels: Tweak, server vote

#4460 Adds a "Probabilistic Anomaly" event
  yogstation.dme
  yogstation/code/modules/events/probabilistic_anomaly.dm
Labels: Feature, good first pull request

#4497 Fixes CE's access to the Telecomm Satellite
  yogstation.dme
  yogstation/code/modules/jobs/job_types/_job.dm
  yogstation/code/modules/jobs/job_types/chief_engineer.dm
  yogstation/code/modules/jobs/job_types/chief_medical_officer.dm
  yogstation/code/modules/jobs/job_types/engineering.dm
  yogstation/code/modules/jobs/job_types/head_of_security.dm
  yogstation/code/modules/jobs/job_types/research_director.dm
  yogstation/code/modules/jobs/job_types/space_bartender.dm
Labels: DME Edit

#4463 Lowers Mutagen Cost back to 600 biomass like old yogs
  yogstation/code/modules/research/designs/biogenerator_designs.dm
Labels: Balance, Tweak

#4510 Removes science completely from the map
  code/datums/emotes.dm
  code/modules/mob/living/carbon/alien/emote.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/silicon/robot/emote.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/emotes.dm
  sound/voice/human/femalescream_1.ogg
  sound/voice/human/femalescream_2.ogg
  sound/voice/human/femalescream_3.ogg
  sound/voice/human/femalescream_4.ogg
  sound/voice/human/femalescream_5.ogg
  sound/voice/human/malescream_1.ogg
  sound/voice/human/malescream_2.ogg
  sound/voice/human/malescream_3.ogg
  sound/voice/human/malescream_4.ogg
  sound/voice/human/malescream_5.ogg
  sound/voice/human/wilhelm_scream.ogg
  sound/voice/moth/scream_moth.ogg
Labels: Bot Fucked Up

#4462 Internationale on labor day
  yogstation/code/modules/holidays/holidays.dm
Labels: Sound

#4482 Yogs Bedsheet Fixes
  _maps/_basemap.dm
  _maps/yogsdonut.dm
  _maps/yogsdonut.json
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/YogsDonut/YogsDonut.dmm
  config/maps.txt
  yogstation/code/game/objects/structures/bedsheet_bin.dm
  yogstation/icons/mob/neck.dmi
Labels: Icon Change, Map Change, Tweak

#4440 Split a bag of holding in two!
  yogstation.dme
  yogstation/code/datums/components/storage/storage.dm
  yogstation/code/game/objects/items/storage/backpack.dm
  yogstation/icons/mob/head.dmi
  yogstation/icons/obj/storage.dmi
Labels: Feature

#4518 All the mirrors that didn't get mirrored over the last 2 weeks.
  _maps/map_files/Donutstation/Donutstation.dmm
  code/__DEFINES/layers.dm
  code/__DEFINES/maths.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/sound.dm
  code/modules/antagonists/changeling/powers/fakedeath.dm
  code/modules/client/client_procs.dm
  code/modules/mob/living/simple_animal/hostile/stickman.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/power/lighting.dm
  code/modules/projectiles/ammunition/ballistic/smg.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  code/modules/projectiles/projectile/bullets/smg.dm
  code/modules/vending/clothesmate.dm
  dependencies.sh
  icons/obj/guns/projectile.dmi
  icons/obj/guns/toy.dmi
  tgui/assets/tgui.js
  tgui/package-lock.json
  tgui/package.json
Labels: Feature, Icon Change, Map Change

#4534 Donators can now select a snail-shell backpack as their special item!
  yogstation/code/game/objects/items/storage/backpack.dm
  yogstation/code/modules/clothing/donator.dm
  yogstation/code/modules/donor/donor_items.dm
  yogstation/code/modules/jobs/job_types/_job.dm
  yogstation/icons/mob/back.dmi
  yogstation/icons/obj/storage.dmi
Labels: Feature, Icon Change

#4521 Modify TGM so that Dream Maker doesn't completely shit itself when encountering a map with more than 65536 tiles in it
  tools/mapmerge2/dmm.py
Labels: Fix

#4542 fixes yogsjobs not being there
  code/__DEFINES/jobs.dm
  yogstation.dme
  yogstation/code/modules/jobs/job_types/clerk.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
  yogstation/code/modules/jobs/job_types/paramedic.dm
  yogstation/code/modules/jobs/job_types/psychiatrist.dm
  yogstation/code/modules/jobs/job_types/signal_technician.dm
  yogstation/code/modules/jobs/job_types/tourist.dm
Labels: DME Edit

#4544 Fixes CMO access to the Paramedics' room
  yogstation/code/modules/jobs/job_types/chief_medical_officer.dm
Labels: Fix

#4465 Adds pinging people in OOC
  code/modules/client/verbs/ooc.dm
  yogstation/code/modules/client/client_defines.dm
  yogstation/sound/misc/bikehorn_alert.ogg
Labels: Feature, Sound, Tweak

#4490 Fixing more ruin bugs! (Done for real now no bamboozles)
  _maps/yogstation/RandomRuins/LavaRuins/lavaland_surface_chemistry.dmm
  _maps/yogstation/RandomRuins/LavaRuins/lavaland_surface_gas_station.dmm
  _maps/yogstation/RandomRuins/SpaceRuins/Academy.dmm
  yogstation.dme
  yogstation/code/game/objects/items/cards_ids.dm
  yogstation/code/game/objects/items/storage/toolbox.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/lizard.dm
  yogstation/code/modules/paperwork/paper.dm
  yogstation/code/modules/ruins/lavaland_ruin_code.dm
Labels: DME Edit, Fix, Map Change, Tweak

#4545 Fixes bag of holding splits not being able to hold more than 7 items.
  yogstation/code/game/objects/items/storage/backpack.dm
Labels: Fix

#4547 Fixes Narsians' whispers being in Common
  code/modules/antagonists/cult/cult_comms.dm
Labels: Balance, Fix

#4443 Ocular warden fix
  code/modules/antagonists/clockcult/clock_structures/ocular_warden.dm
Labels: Balance, Tweak

#4467 Add slot flags to Rune Scimitar
  yogstation/code/modules/mining/lavaland/necropolis_chests.dm
Labels: Tweak

#4491 Adds three new bad wizard setups!
  yogstation.dme
  yogstation/code/modules/events/bad_wizard.dm
  yogstation/code/modules/spells/spell_types/aimed.dm
  yogstation/code/modules/spells/spell_types/shapeshift.dm
Labels: DME Edit, Feature

#4492 [admin] Gives admins more time to cancel events
  code/modules/events/_event.dm
Labels: Tweak

#4551 [admin] Admins now aghost when following mentorhelps, instead of using the Mentorfollow system
  yogstation/code/modules/mentor/follow.dm
  yogstation/code/modules/mentor/mentorhelp.dm
Labels: Admin, Tweak

#4552 Adds 3 coloured wizard hats to the Donor hat pool!
  yogstation.dme
  yogstation/code/modules/clothing/suits/wiz_robe.dm
  yogstation/code/modules/donor/donor_items.dm
Labels: DME Edit, Feature

#4486 [READY] NTSL refactor
  yogstation.dme
  yogstation/code/game/machinery/telecomms/machines/server.dm
  yogstation/code/modules/scripting/AST/AST Nodes.dm
  yogstation/code/modules/scripting/AST/Operators/Binary Operators.dm
  yogstation/code/modules/scripting/AST/Operators/Unary Operators.dm
  yogstation/code/modules/scripting/AST/Statements.dm
  yogstation/code/modules/scripting/Errors.dm
  yogstation/code/modules/scripting/IDE.dm
  yogstation/code/modules/scripting/Implementations/Telecomms.dm
  yogstation/code/modules/scripting/Implementations/_Logic.dm
  yogstation/code/modules/scripting/Interpreter/Evaluation.dm
  yogstation/code/modules/scripting/Interpreter/Interaction.dm
  yogstation/code/modules/scripting/Interpreter/Interpreter.dm
  yogstation/code/modules/scripting/Interpreter/Objects.dm
  yogstation/code/modules/scripting/Interpreter/Scope.dm
  yogstation/code/modules/scripting/Options.dm
  yogstation/code/modules/scripting/Parser/Expressions.dm
  yogstation/code/modules/scripting/Parser/Keywords.dm
  yogstation/code/modules/scripting/Parser/Parser.dm
  yogstation/code/modules/scripting/Scanner/Tokens.dm
Labels: Feature, Needs testing

#4493 Lowers cost of mindslave Implant to 7 tc
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Tweak, server vote

#4572 adds lederhosen and german folk hat (wee hoo)
  code/modules/vending/autodrobe.dm
  yogstation.dme
  yogstation/code/modules/clothing/head.dm
  yogstation/code/modules/clothing/under.dm
  yogstation/icons/mob/head.dmi
  yogstation/icons/mob/uniform.dmi
  yogstation/icons/obj/clothing/hats.dmi
  yogstation/icons/obj/clothing/uniforms.dmi
Labels: Feature

#4578 Fixes Atmos Techs no longer having access to the engine
  yogstation.dme
  yogstation/code/modules/jobs/job_types/atmospheric_technician.dm
Labels: DME Edit, Fix

#4561 Fireaxe Cabinet Improvements ported from Legacy Yogstation Codebase!
  code/game/objects/structures/fireaxe.dm
  yogstation.dme
  yogstation/code/game/objects/structures/fireaxe.dm
Labels: DME Edit, Tweak

#4602 limit bank_card_talk to 1 tile range.
  yogstation/code/modules/economy/account.dm
Labels: Tweak

#4595 [admin] More admin only ghost spawners!
  yogstation/code/game/objects/structures/ghost_role_spawners.dm
Labels: Admin, Feature

#4600 Mentors no longer get weird messages about insufficient rights when mentorfellowing
  yogstation/code/modules/mentor/follow.dm
Labels: Fix

#4615 [admin] Cryo now logs when beakers are removed, as well as added
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: Admin

#4596 :simondab:
  yogstation/code/modules/mob/living/emote.dm
Labels: Feature
