Repository yogstation13/Yogstation, pull requests merged in 2019-07, with the labels that each got.

#6154 Adds a maid uniform to the yogbox servicial janitorial storage closet center
  _maps/yogstation/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#6170 Decreases the item size of the deodorant from normal to small.
  yogstation/code/game/objects/items/deodorant.dm
Labels: Tweak

#6137 Adds alcohol-producing and alcohol-resistance genes
  yogstation.dme
  yogstation/code/datums/mutations/alcohol.dm
Labels: DME Edit, Feature

#6188 probably fixes a bunch of food sprites
  yogstation/icons/obj/food/food.dmi
Labels: Icon Change

#6187 Adds a portrait of Cave Johnson to the RD office.
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/YogsDelta/YogsDelta.dmm
  _maps/yogstation/map_files/Yogsmeta/Yogsmeta.dmm
  yogstation.dme
  yogstation/code/game/objects/structures/signs/signs_plaques.dm
  yogstation/icons/obj/decals.dmi
Labels: DME Edit, Feature, Icon Change, Map Change

#6197 Makes the PA use a dynamic amount of power, depending on lvl
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  yogstation.dme
  yogstation/code/modules/power/singularity/particle_accelerator/particle_control.dm
Labels: DME Edit, Feature

#6169 Labcoat sprite tweaks and labcoats now start with buttons open.
  code/modules/clothing/suits/labcoat.dm
  yogstation/icons/mob/suit.dmi
Labels: Icon Change, Tweak

#6163 Improves BZ, makes the amount of halluc it gives actually vary based on pressure
  code/__DEFINES/~yogs_defines/reactions.dm
  code/modules/mob/living/carbon/life.dm
Labels: Balance, Tweak

#6264 Adds an event for Oak's birthday
  code/modules/events/carp_migration.dm
  yogstation/code/modules/holidays/holidays.dm
Labels: Feature

#6208 makes holotool sound not as aids
  yogstation/code/game/objects/items/holotool/holotool.dm
  yogstation/code/game/objects/items/holotool/modes.dm
  yogstation/sound/items/holotool.ogg
Labels: Sound

#6271 Mirror fix for #6254
  code/modules/projectiles/guns/ballistic/rifle.dm
Labels: Feature, Revert / Deletion, Tweak

#6279 Strange object icon and icon use update
  code/modules/research/experimentor.dm
  icons/obj/assemblies.dmi
Labels: Sprites

#6283 Adds a lost relic: The alien queen maid.
  yogstation.dme
  yogstation/code/modules/mob/living/carbon/alien/humanoid/queen.dm
  yogstation/icons/mob/alienqueen.dmi
Labels: DME Edit, Feature, Icon Change

#6290 Fixes an issue with a section of moth wing sprites not appearing.
  code/modules/mob/dead/new_player/sprite_accessories.dm
  yogstation/icons/mob/wings.dmi
Labels: Icon Change, Sprites

#6300 [MANUAL MIRROR] Trash from food no longer teleports
  code/modules/food_and_drinks/food/snacks.dm
Labels: Fix

#6266 Adds ratvar spear nullrod skin
  yogstation.dme
  yogstation/code/game/objects/items/holy_weapons.dm
Labels: DME Edit, Feature

#6199 Particle accelerator emag update
  code/modules/power/singularity/particle_accelerator/particle_accelerator.dm
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  code/modules/power/singularity/particle_accelerator/particle_emitter.dm
  yogstation.dme
  yogstation/code/modules/power/singularity/particle_accelerator/particle.dm
  yogstation/code/modules/power/singularity/particle_accelerator/particle_control.dm
  yogstation/icons/obj/machines/particle_accelerator.dmi
Labels: Balance

#6303 Ports the new revenant sprite from TG.
  code/modules/antagonists/revenant/revenant_abilities.dm
  icons/mob/mob.dmi
Labels: Icon Change

#6299 Preternis meat fix
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Feature

#6313 Removes an instance of an accessible hybrid tazer.
  yogstation/code/modules/ruins/lavaland_ruin_code.dm
Labels: Tweak

#6219 Tweaks all iterations of the envirosuit sprites to not jut out of suits.
  yogstation/code/modules/clothing/under/miscellaneous.dm
  yogstation/icons/mob/uniform.dmi
Labels: Icon Change, Tweak

#6323 Adds lasagna
  yogstation.dme
  yogstation/code/modules/food_and_drinks/food/snacks_spaghetti.dm
  yogstation/code/modules/food_and_drinks/recipes/tablecraft/recipies_spaghetti.dm
  yogstation/icons/obj/food/food.dmi
Labels: DME Edit, Feature, Icon Change

#6314 PA computer sprite fix
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  yogstation/code/modules/power/singularity/particle_accelerator/particle_control.dm
  yogstation/icons/obj/machines/particle_accelerator.dmi
Labels: Fix

#6324 Allows AStar to path find around heirophant crusher walls(vortex thropheeeee)
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
Labels: Fix

#6332 Reported issue with the Tcomms jacket not holding tanks, fixed, and all yogsuits can now hold plasma tanks.
  yogstation/code/modules/clothing/suits/miscellaneous.dm
Labels: Tweak

#6318 TESLA TIME (New engi map layout)
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_singulo_tesla.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Map Change

#6331 Adds directional sprites for the minibar.
  yogstation/code/game/objects/structures/tables_racks.dm
  yogstation/icons/obj/stationobjs.dmi
Labels: Icon Change

#6311 Makes syndibase look nicer
  _maps/yogstation/map_files/generic/CentCom.dmm
Labels: Map Change, Tweak

#6328 Updates Clerk's uniform and hat sprite, adds Sig tech and Clerk skirt.
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  yogstation/code/game/objects/structures/crates_lockers/closets/job_closets.dm
  yogstation/code/modules/clothing/under/jobs/civilian.dm
  yogstation/code/modules/clothing/under/jobs/engineering.dm
  yogstation/icons/mob/head.dmi
  yogstation/icons/mob/uniform.dmi
  yogstation/icons/obj/clothing/hats.dmi
  yogstation/icons/obj/clothing/uniforms.dmi
Labels: Icon Change, Map Change

#6090 some retard argued with me over something so now i am punishing the entire server by nerfing mechs
  code/modules/research/techweb/all_nodes.dm
Labels: Balance, Feature

#6240 Makes Shadowling and Battle Royale actually log the round's result into the database
  yogstation/code/game/gamemodes/battle_royale/battleroyale.dm
  yogstation/code/game/gamemodes/shadowling/shadowling.dm
Labels: Feature, SQL

#6329 Allows prisoners to access perma vendors with no ID
  _maps/yogstation/map_files/MinskyStation/MinskyStation.dmm
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/YogsDelta/YogsDelta.dmm
  _maps/yogstation/map_files/YogsPubby/YogsPubby.dmm
  _maps/yogstation/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Fix, Map Change

#6278 The Vortex Tailsman no longer works in the King Goats Arena (and other noteleport areas)
  code/modules/mining/equipment/kinetic_crusher.dm
Labels: Tweak

#6319 Tg said this should make clock cult armor actually buff itself when it needs to
  code/modules/antagonists/clockcult/clock_items/clockwork_armor.dm
Labels: Fix

#5997 deletes a questionable borg skin
  yogstation/code/modules/donor/borg_ai_skin_datums.dm
  yogstation/icons/mob/DonorRobots.dmi
Labels: Icon Change, Revert / Deletion

#6339 Ports plumbing from tg
  code/__DEFINES/plumbing.dm
  code/controllers/subsystem/processing/fluids.dm
  code/datums/components/plumbing/plumbing.dm
  code/datums/ductnet.dm
  code/game/machinery/_machinery.dm
  code/game/objects/items/RPD.dm
  code/game/objects/objs.dm
  code/game/objects/structures/lavaland/geyser.dm
  code/game/turfs/simulated/floor/plating/asteroid.dm
  code/modules/client/asset_cache.dm
  code/modules/plumbing/ducts.dm
  code/modules/plumbing/plumbers/pumps.dm
  code/modules/reagents/reagent_dispenser.dm
  icons/obj/2x2.dmi
  icons/obj/lavaland/terrain.dmi
  icons/obj/objects.dmi
  icons/obj/plumbing/fluid_ducts.dmi
  icons/obj/plumbing/plumbers.dmi
  icons/obj/tools.dmi
  icons/obj/watercloset.dmi
  tgstation.dme
  tgui/assets/tgui.js
  tgui/src/interfaces/rpd.ract
  yogstation.dme
Labels: DME Edit, Feature, Icon Change, Javascript

#6343 [Admin] Flavour Text for ghost roles now shows in TP
  code/datums/mind.dm
  code/modules/awaymissions/corpse.dm
Labels: Admin

#6341 Deeper Fire Protection
  code/modules/mining/equipment/explorer_gear.dm
Labels: Tweak

#6352 adds an item slot flag for suit storage
  code/__DEFINES/inventory.dm
Labels: Tweak

#6353 [FIX] Botany gets 3 strange seed packets instead of 2
  yogstation/code/modules/vending/megaseed.dm
Labels: Fix

#6355 Ports tickets from /TG/ (#45095)
  code/modules/paperwork/ticketmachine.dm
  icons/obj/bureaucracy.dmi
  yogstation.dme
Labels: DME Edit, Feature, Icon Change

#6350 Xeno queens delay shuttle
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
Labels: Balance, Tweak

#6365 Give blood-brothers their own pinpointer
  code/modules/antagonists/brother/brother.dm
  code/modules/antagonists/traitor/brother/traitor_bro.dm
  yogstation.dme
Labels: DME Edit, Feature

#6369 Updates to minsky brig
  _maps/yogstation/map_files/MinskyStation/MinskyStation.dmm
Labels: Map Change

#6351 Ocular wardens will no longer attack (heal) slimes
  code/modules/antagonists/clockcult/clock_structures/ocular_warden.dm
Labels: Fix

#6359 Adds sec magboots
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/shoes/magboots.dm
  icons/mob/feet.dmi
  icons/obj/clothing/shoes.dmi
  yogstation.dme
  yogstation/code/game/machinery/suit_storage_unit.dm
Labels: DME Edit, Feature, Icon Change, prebase

#6057 [Project] OmegaStation 2.0
  _maps/map_files/Omegastation/job_changes.dm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/omegastation.dm
  _maps/omegastation.json
  _maps/shuttles/arrival_omega.dmm
  code/modules/jobs/map_changes/map_changes.dm
  config/maps.txt
Labels: Bounty, Config, Feature, Map Change, TESTMERGE

#6395 Adds Zoroastrianism Support
  code/game/objects/items/storage/book.dm
  code/modules/jobs/job_types/chaplain.dm
  icons/obj/storage.dmi
Labels: Feature, Icon Change

#6222 Increases the price of Australian Slime Mutator from 10 TC to 25 TC.
  code/modules/uplink/uplink_items.dm
Labels: Balance, Tweak

#6348 Removes blood brother bundles
  code/game/gamemodes/brother/traitor_bro.dm
  yogstation.dme
  yogstation/code/game/gamemodes/brother/traitor_bro.dm
Labels: Balance, Council Vote, DME Edit, Revert / Deletion

#6391 Updates to minsky bridge
  _maps/yogstation/map_files/MinskyStation/MinskyStation.dmm
Labels: Map Change

#6393 Adds perma to omegastation
  _maps/map_files/Omegastation/omegastation.dmm
Labels: Feature, Map Change

#6394 New contraband poster [Council Request]
  code/game/objects/effects/contraband.dm
  icons/obj/contraband.dmi
Labels: Feature, Icon Change

#6386 New throwing star
  icons/obj/items_and_weapons.dmi
Labels: Feature, Icon Change, Revert / Deletion, Tweak

#6366 Removes NTSL randseed
  yogstation/code/modules/scripting/Implementations/_Logic.dm
Labels: Revert / Deletion

#6390 Adds reminders to some MMI transitions
  code/game/mecha/mecha.dm
  yogstation/code/modules/mob/living/brain/MMI.dm
Labels: Tweak

#6397 Plasmaman Envirosuit resprite and tweaks.
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/under/jobs/Plasmaman/civilian_service.dm
  code/modules/clothing/under/jobs/Plasmaman/engineering.dm
  code/modules/clothing/under/jobs/Plasmaman/medsci.dm
  code/modules/clothing/under/jobs/Plasmaman/security.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  icons/mob/head.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/uniforms.dmi
  yogstation/code/modules/clothing/under/miscellaneous.dm
  yogstation/icons/mob/uniform.dmi
Labels: Feature, Icon Change

#6410 Donator borg skin for Qe.
  yogstation/icons/mob/DonorRobots.dmi
Labels: Icon Change

#6407 Adds a captain autodrobe
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/yogstation/map_files/MinskyStation/MinskyStation.dmm
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/YogsDelta/YogsDelta.dmm
  _maps/yogstation/map_files/YogsPubby/YogsPubby.dmm
  _maps/yogstation/map_files/Yogsmeta/Yogsmeta.dmm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/vending/autodrobe.dm
  icons/obj/vending.dmi
  yogstation/code/game/objects/structures/crates_lockers/closets/secure/command.dm
Labels: Feature, Icon Change, Map Change, Sprites

#6385 Buffs Shadowling Thralls
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/carbon/human/examine.dm
  yogstation/code/game/objects/items/devices/scanners.dm
Labels: Tweak

#6396 Small rezadone change
  icons/obj/items_and_weapons.dmi
Labels: Icon Change, Tweak

#6408 Makes it more clear to captalist and communist golems what they are supposed to do.
  code/modules/mob/living/carbon/human/species_types/golems.dm
Labels: Tweak

#6370 GRILLE DEFIB GRILLE DEFIB
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Feature

#6420 Fixes conscription kit encryption key
  code/modules/mining/machine_vending.dm
Labels: Tweak

#6425 Removes some getflaticon calls from things that don't draw browser interfaces
  code/modules/photography/photos/frame.dm
  code/modules/surgery/organs/augments_arms.dm
Labels: Performance

#6418 Fixes diagonal box movement, makes stealth box reveal when damaged
  code/game/objects/items/implants/implant_stealth.dm
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
Labels: Fix

#6429 why did no-one tell me the white jumpskirt had no sprite anyway it's fixed now
  icons/obj/clothing/uniforms.dmi
Labels: Icon Change

#6419 world.fps and SStimers safety check
  code/controllers/master.dm
  code/game/world.dm
  code/modules/admin/verbs/fps.dm
Labels: Fix

#6415 Small map fixes no one will notice
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#6422 Adds an award for the HoP to give
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/under/accessories.dm
Labels: Feature, Upstream PR Merged

#6444 Adds science goggles to virology.
  _maps/yogstation/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#6443 [admin] NTSL Logging
  code/__DEFINES/logging.dm
  code/__DEFINES/~yogs_defines/logging.dm
  code/__HELPERS/_logging.dm
  code/_globalvars/logging.dm
  code/controllers/configuration/entries/general.dm
  code/game/atoms.dm
  code/game/world.dm
  config/config.txt
  yogstation/code/game/machinery/telecomms/machines/server.dm
Labels: Config

#6421 Updates CapDrobe sprite to be consistent with the other Drobes.
  code/modules/vending/autodrobe.dm
  icons/obj/vending.dmi
Labels: Icon Change

#6437 Makes Xenoes & Monkeys hold more/less blood in their bodies than humans
  code/__DEFINES/mobs.dm
  code/__DEFINES/~yogs_defines/mobs.dm
  code/datums/diseases/advance/symptoms/oxygen.dm
  code/datums/traits/negative.dm
  code/game/machinery/iv_drip.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/cult_structures.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/pet.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/research/nanites/nanite_programs/healing.dm
  code/modules/surgery/organs/heart.dm
  yogstation.dme
  yogstation/code/game/objects/structures/ghost_role_spawners.dm
  yogstation/code/modules/mob/living/carbon/human/human.dm
  yogstation/code/modules/mob/living/living.dm
Labels: Balance, DME Edit, Feature, Tweak

#6455 [admin] Adds the pretty filter to plaques
  code/game/objects/structures/displaycase.dm
Labels: Admin, Fix

#6448 Plasmamen can no longer take the blood deficiency quirk, as they have no blood to begin with
  code/datums/traits/_quirk.dm
  code/modules/client/preferences.dm
  yogstation/code/datums/traits/negative.dm
Labels: Balance, Fix

#6432 Moves stasis beds to basic bio tech so they actually get used
  code/modules/research/techweb/all_nodes.dm
Labels: Tweak

#6423 Clown Mutation (Clumsy) and Abnormal Mutations can no longer be cured
  code/modules/jobs/job_types/clown.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Balance, Fix, Upstream PR Merged

#6462 Bio suits can hold internals larger than the emergency one.
  code/modules/clothing/suits/bio.dm
Labels: Tweak

#6372 Adds a rare zombie spawn midround event also tweaks blob zombie infection
  code/modules/client/preferences.dm
  code/modules/events/wizard/blobies.dm
  code/modules/events/zombie_infection.dm
  code/modules/mob/living/simple_animal/hostile/zombie.dm
  yogstation.dme
Labels: DME Edit, Feature

#6465 Updates health analyzer sprite.
  icons/obj/device.dmi
Labels: Icon Change

#6342 Revert Xeno chestbursting gibs brain
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
Labels: Revert / Deletion

#6454 [admin] Alphabetizes the Set Job Equipment menu thing
  code/modules/admin/verbs/debug.dm
Labels: Admin, Feature, Staff Vote

#6451 [admin] Adds spam prevention to clients
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
Labels: Admin, TESTMERGE

#6417 allows silicons to add crimes remotely
  code/game/machinery/computer/security.dm
Labels: Tweak

#6485 [s]
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
Labels: TESTMERGE

#6438 floodlight tweak
  code/modules/power/floodlight.dm
Labels: Tweak

#6460 Updates medkit sprites, adds in-hand sprite for the tactical medkit.
  code/game/objects/items/storage/firstaid.dm
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/obj/storage.dmi
Labels: Icon Change

#6461 Fixes the alignment of the witch doctor hat side sprite.
  icons/mob/head.dmi
Labels: Icon Change
