Repository yogstation13/Yogstation, pull requests merged in 2019-01, with the labels that each got.

#4009 Revert "[MIRROR] Fixes missing human icon"
  code/modules/mob/living/carbon/human/human.dm
  icons/mob/human.dmi
Labels: Fix

#3939 Makes the holotool less retarded
  yogstation/code/game/objects/items/holotool/holotool.dm
Labels: Tweak

#3993 Experimentor non-critical reactions
  code/modules/research/experimentor.dm
  yogstation.dme
  yogstation/code/modules/research/experimentor.dm
Labels: DME Edit, Tweak

#3943 Tool Switcher
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/surgery_step.dm
  yogstation.dme
  yogstation/code/datums/action.dm
  yogstation/code/game/objects/items/tool_switcher.dm
  yogstation/code/modules/research/designs/tool_designs.dm
  yogstation/icons/obj/items.dmi
Labels: DME Edit, Feature, Icon Change

#3906 ports the mindslave implant from prebase
  yogstation.dme
  yogstation/code/game/objects/items/implants/implant_mindslave.dm
  yogstation/code/game/objects/items/storage/uplink_kits.dm
  yogstation/code/modules/antagonists/traitor/datum_mindslave.dm
  yogstation/code/modules/uplink/uplink_item.dm
Labels: DME Edit, Feature

#4063 PAPERWORK v3
  yogstation.dme
  yogstation/code/game/objects/items/premadepapers.dm
  yogstation/code/game/objects/structures/crates_lockers/closets/secure/command.dm
  yogstation/code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: DME Edit, Feature

#3856 Ling transform now uses a radial :)
  yogstation.dme
  yogstation/code/modules/antagonists/changeling/changeling.dm
  yogstation/code/modules/antagonists/changeling/powers/transform.dm
Labels: DME Edit, Merge conflict, Tweak

#4003 SPACEPODS!
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/~yogs_defines/is_helpers.dm
  code/__DEFINES/~yogs_defines/spacepods.dm
  code/game/atoms_movable.dm
  code/game/objects/items/stacks/rods.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/retaliate.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/projectiles/projectile.dm
  code/modules/research/machinery/protolathe.dm
  code/modules/research/machinery/techfab.dm
  yogstation.dme
  yogstation/code/_onclick/adjacent.dm
  yogstation/code/game/area/Space_Station_13_areas.dm
  yogstation/code/game/machinery/doors/poddoor.dm
  yogstation/code/game/machinery/doors/spacepod.dm
  yogstation/code/modules/research/designs/spacepod_designs.dm
  yogstation/code/modules/research/techweb/all_nodes.dm
  yogstation/code/modules/spacepods/construction.dm
  yogstation/code/modules/spacepods/equipment.dm
  yogstation/code/modules/spacepods/parts.dm
  yogstation/code/modules/spacepods/physics.dm
  yogstation/code/modules/spacepods/prebuilt.dm
  yogstation/code/modules/spacepods/spacepod.dm
  yogstation/goon/LICENSE.md
  yogstation/goon/README.md
  yogstation/goon/icons/obj/spacepods/2x2.dmi
  yogstation/goon/icons/obj/spacepods/construction_2x2.dmi
  yogstation/goon/icons/obj/spacepods/parts.dmi
  yogstation/icons/effects/beam.dmi
  yogstation/icons/obj/doors/1x2blast_hor.dmi
  yogstation/icons/obj/doors/1x2blast_vert.dmi
  yogstation/icons/obj/doors/1x3blast_hor.dmi
  yogstation/icons/obj/doors/1x3blast_vert.dmi
  yogstation/icons/obj/doors/1x4blast_hor.dmi
  yogstation/icons/obj/doors/1x4blast_vert.dmi
  yogstation/icons/obj/spacepods/2x2.dmi
  yogstation/icons/obj/spacepods/parts.dmi
Labels: DME Edit, Feature, Icon Change, TESTMERGE

#4050 map updates from tg
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/YogsDelta/YogsDelta.dmm
  _maps/yogstation/map_files/YogsPubby/YogsPubby.dmm
  _maps/yogstation/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#3744 Adds paystands to warden office
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/YogsPubby/YogsPubby.dmm
  _maps/yogstation/map_files/Yogsmeta/Yogsmeta.dmm
  code/controllers/subsystem/job.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/civilian.dm
  code/modules/jobs/job_types/job.dm
  code/modules/jobs/job_types/security.dm
  code/modules/paperwork/paper_premade.dm
Labels: Council Vote, Feature, Map Change, Merge conflict

#4066 removes clownstation
  _maps/_basemap.dm
  _maps/clownstation.dm
  _maps/clownstation.json
  _maps/map_files/ClownStation/ClownStation.dmm
  _maps/map_files/ClownStation/job_changes.dm
  _maps/shuttles/emergency_saltshaker.dmm
  code/datums/shuttles.dm
  code/modules/jobs/map_changes/map_changes.dm
  yogstation/code/modules/admin/admin_ranks.dm
Labels: Map Change, Revert / Deletion

#4093 buffs veil
  yogstation/code/modules/antagonists/shadowling/shadowling_abilities.dm
Labels: Balance, Tweak

#4118 puts the cargo lathe back
  _maps/yogstation/map_files/YogStation/YogStation.dmm
Labels: Map Change

#4138 Updates the piping on space hotel
  _maps/yogstation/RandomRuins/SpaceRuins/spacehotel.dmm
Labels: Map Change

#4133 add photocopier to HoP office
  _maps/yogstation/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#4129 Mood-locks the hypersensitive quirk
  code/datums/traits/negative.dm
Labels: Tweak

#4139 Tweaks honkbottom desc (toyshop ruin)
  _maps/yogstation/RandomRuins/LavaRuins/lavaland_surface_cursedtoyshop.dmm
Labels: Map Change

#4068 [ADMIN] Give admins donor perks
  code/modules/client/client_procs.dm
Labels: Tweak

#4123 Randomized Engines
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_singulo.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_sm.dmm
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
  yogstation/icons/rooms/box/engine.dmi
Labels: DME Edit, Feature, Icon Change, Map Change

#4154 makes me not want to rip my eyes out when I see the bars
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_box.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_casino.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_conveyor.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_diner.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_disco.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_purple.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_spacious.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
Labels: Map Change, Tweak

#4143 heads now get access to the captain's quarters on lowpop
  yogstation.dme
  yogstation/code/modules/jobs/job_types/captain.dm
  yogstation/code/modules/jobs/job_types/engineering.dm
  yogstation/code/modules/jobs/job_types/medical.dm
  yogstation/code/modules/jobs/job_types/science.dm
  yogstation/code/modules/jobs/job_types/security.dm
Labels: DME Edit, Tweak

#4172 fluffe is bad
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_box.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_diner.dmm
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  yogstation.dme
  yogstation/code/game/objects/effects/decals/turfdecal/markings.dm
  yogstation/code/game/objects/effects/decals/turfdecal/tilecoloring.dm
Labels: DME Edit, Map Change

#4178 [16:26] Генеральныйส็็็็็็็็็็็Секретарь: You may as well remove the speed potions because they do literally nothing
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
Labels: Revert / Deletion

#4160 Fixes the right-hand and back sprites for the plasma spear
  code/game/objects/items/twohanded.dm
  yogstation/icons/mob/back.dmi
  yogstation/icons/mob/inhands/weapons/polearms_righthand.dmi
Labels: Sprites

#4206 [s] changelogs and stuff
  yogstation/code/modules/admin/topic.dm
Labels: Feature

#4207 [s] changelogs and stuff
  yogstation/code/modules/admin/topic.dm
Labels: Feature

#4208 [s] changelogs and stuff"
  yogstation/code/modules/admin/topic.dm
Labels: Feature

#4209 [s] changelogs and stuff""
  yogstation/code/modules/admin/topic.dm
Labels: Feature

#4237 Fixes the singularity engine producing a disappointing amount of power
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_singulo.dmm
Labels: Map Change, Tweak

#4174 Remove egun from cap locker, gives it to cap on spawn
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/captain.dm
Labels: Tweak

#4081 Changes last resort and armblade door opening message
  code/modules/antagonists/changeling/powers/headcrab.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  yogstation/code/modules/antagonists/changeling/powers/headcrab.dm
Labels: Tweak

#4262 makes it tell people what the lobby music is
  yogstation/code/controllers/subsystem/ticker.dm
  yogstation/code/game/sound.dm
Labels: Tweak

#4134 add ckey to deadchat names
  code/__DEFINES/~yogs_defines/preferences.dm
  code/modules/mob/say.dm
  yogstation/code/modules/client/preferences_toggles.dm
Labels: Feature

#4289 Makes it so that maintainers don't block the server from restarting
  code/controllers/subsystem/ticker.dm
Labels: fuck

#4296 mentors are donors too I guess?
  yogstation/code/__HELPERS/mobs.dm
Labels: web editor fail

#4298 Piping fixes to yogbox
  _maps/yogstation/map_files/YogStation/YogStation.dmm
Labels: Map Change

#4297 Ports yoyobatty cluwne and floor cluwne fixes!
  code/__DEFINES/~yogs_defines/DNA.dm
  code/__DEFINES/~yogs_defines/flags.dm
  yogstation/code/modules/events/floorcluwne.dm
  yogstation/code/modules/mob/living/simple_animal/hostile/floor_cluwne.dm
  yogstation/icons/turf/floors.dmi
Labels: Fix

#4312 Gives shadowlings larger text.
  yogstation/code/modules/antagonists/shadowling/shadowling_abilities.dm
Labels: Tweak

#4338 Bedsheet Bliss
  _maps/yogstation/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/YogsDelta/YogsDelta.dmm
  _maps/yogstation/map_files/YogsPubby/YogsPubby.dmm
  _maps/yogstation/map_files/Yogsmeta/Yogsmeta.dmm
  code/datums/ruins/lavaland.dm
  yogstation.dme
  yogstation/code/game/objects/structures/bedsheet_bin.dm
  yogstation/icons/obj/bedsheets.dmi
Labels: DME Edit, Feature, Icon Change, Map Change, Tweak

#4353 When I was a lad I ate four dozen eggs every morning to help me get large
  yogstation.dme
  yogstation/code/modules/food_and_drinks/food/snacks_egg.dm
Labels: DME Edit, Feature

#4310 Adds deodorant
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  yogstation.dme
  yogstation/code/game/objects/items/deodorant.dm
  yogstation/code/modules/cargo/cargo_packs.dm
  yogstation/code/modules/vending/gift.dm
  yogstation/icons/obj/items.dmi
  yogstation/sound/effects/burning.wav
Labels: DME Edit, Feature, Icon Change

#4357 Makes it so payments can be processed using NTSL
  yogstation.dme
  yogstation/code/modules/economy/account.dm
Labels: DME Edit, Tweak
