Repository yogstation13/Yogstation, pull requests merged in 2019-06, with the labels that each got.

#5603 Adds btw to the netspeak filter
  config/minor_filter.txt
Labels: Config

#5645 Boodaliboo's borg skin
  yogstation/code/modules/donor/borg_ai_skin_datums.dm
  yogstation/icons/mob/DonorRobots.dmi
Labels: Feature, Icon Change, Sprites

#5519 CentCom Test Chamber v2
  _maps/yogstation/map_files/generic/CentCom.dmm
  code/game/area/areas/centcom.dm
Labels: Feature, Map Change

#5647 Fixes donorborgs always being colaborgs
  yogstation/icons/mob/DonorRobots.dmi
Labels: Icon Change

#5175 Fixes Teleporter Ghost Role Related Bugs
  _maps/yogstation/RandomRuins/LavaRuins/lavaland_surface_gas_station.dmm
  _maps/yogstation/RandomRuins/SpaceRuins/spacebar.dmm
  code/game/area/areas/ruins/lavaland.dm
  yogstation/code/game/objects/items/implants/implant_teleporter.dm
  yogstation/code/modules/ruins/lavaland_ruin_code.dm
Labels: Map Change, Merge conflict, Stale

#5643 Asset pack for future use.
  yogstation.dme
  yogstation/code/game/objects/items/stacks/tiles/tile_types.dm
  yogstation/code/game/objects/structures/fluff.dm
  yogstation/code/game/objects/structures/signs.dm
  yogstation/code/game/turfs/simulated/floor/fancy_floor.dm
  yogstation/goon/icons/obj/structures/logo.dmi
  yogstation/goon/icons/turfs/carpet_blue.dmi
  yogstation/goon/icons/turfs/carpet_green.dmi
  yogstation/goon/icons/turfs/carpet_purple.dmi
  yogstation/goon/icons/turfs/floors.dmi
  yogstation/icons/obj/tiles.dmi
  yogstation/icons/turf/floors/carpetframe.dmi
Labels: DME Edit, Feature, Icon Change

#5458 Ratvar can now 360 noscope narsien constructs
  yogstation.dme
  yogstation/code/modules/mob/living/simple_animal/constructs.dm
Labels: DME Edit, Tweak

#5588 Fixes Empowered Burger sprite
  icons/obj/food/burgerbread.dmi
Labels: Icon Change

#5662 makes the yog supermatter a female
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_sm.dmm
Labels: Map Change, Tweak

#5549 Miners and mining medics can no longer start as rev heads
  code/game/gamemodes/revolution/revolution.dm
Labels: Tweak, prebase

#5663 (MANUAL MIRROR) Makes vending machines use spritesheets over artisanal handwritten getflaticon memes
  code/_globalvars/lists/objects.dm
  code/datums/browser.dm
  code/modules/client/asset_cache.dm
  code/modules/vending/_vending.dm
Labels: Upstream PR Merged

#5672 ports coloured carpets and stairs from goon. deletes yogstation/goon folder. moves everything out of that folder to /goon folder
  goon/icons/obj/spacepods/2x2.dmi
  goon/icons/obj/spacepods/construction_2x2.dmi
  goon/icons/obj/spacepods/parts.dmi
  goon/icons/turfs/carpet_blue.dmi
  goon/icons/turfs/carpet_green.dmi
  goon/icons/turfs/carpet_purple.dmi
  goon/icons/turfs/floors.dmi
  yogstation/code/game/objects/items/stacks/tiles/tile_types.dm
  yogstation/code/game/turfs/simulated/floor/fancy_floor.dm
  yogstation/code/modules/spacepods/equipment.dm
  yogstation/code/modules/spacepods/parts.dm
  yogstation/code/modules/spacepods/prebuilt.dm
  yogstation/code/modules/spacepods/spacepod.dm
  yogstation/goon/LICENSE.md
  yogstation/goon/README.md
  yogstation/icons/obj/tiles.dmi
  yogstation/icons/turf/floors/carpetframe.dmi
Labels: Feature, Icon Change

#5683 Adds Traffic Control Console to the techweb
  code/modules/research/techweb/all_nodes.dm
  yogstation.dme
  yogstation/code/modules/research/designs/telecomms_designs.dm
Labels: DME Edit, Fix

#5682 Fixes Nuke Ops only getting codes for nukes at Centcom
  _maps/yogstation/map_files/generic/CentCom.dmm
  code/modules/antagonists/nukeop/nukeop.dm
  yogstation.dme
  yogstation/code/game/gamemodes/clown_ops/bananium_bomb.dm
  yogstation/code/modules/antagonists/nukeop/clownop.dm
  yogstation/code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  yogstation/code/modules/antagonists/nukeop/nukeop.dm
Labels: DME Edit, Fix, Map Change

#5703 [admin] Adds logs to SM sliver extraction
  code/modules/power/supermatter/supermatter.dm
Labels: Admin, Feature

#5707 (MANUAL MIRROR) Adds a Bunch of New Religious Clothing Items
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/yogstation/map_files/YogsPubby/YogsPubby.dmm
  _maps/yogstation/map_files/generic/CentCom.dmm
  code/game/objects/effects/spawners/bundle.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/clothing/head/beanie.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/chaplainsuits.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/wardrobes.dm
  icons/mob/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
  tgstation.dme
  yogstation.dme
  yogstation/code/modules/antagonists/gang/gang_datums.dm
  yogstation/code/modules/vending/wardrobes.dm
Labels: DME Edit, Feature, Icon Change

#5384 Perfectly balanced, as all things should be
  yogstation.dme
  yogstation/code/datums/components/randomcrits.dm
  yogstation/code/game/objects/items/fryingpan.dm
Labels: Balance, DME Edit, EARLY ACCESS, Tweak

#5580 Jani wardrobe now wends right holoprojectors
  _maps/yogstation/map_files/MinskyStation/MinskyStation.dmm
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/YogsDelta/YogsDelta.dmm
  _maps/yogstation/map_files/YogsDonut/YogsDonut.dmm
  _maps/yogstation/map_files/YogsPubby/YogsPubby.dmm
  _maps/yogstation/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Tweak

#5524 Adds goat and king goat plushies!
  code/datums/components/squeak.dm
  code/datums/outputs.dm
  yogstation/code/controllers/subsystem/yogs.dm
  yogstation/code/game/objects/items/plushes.dm
  yogstation/code/modules/cargo/cargo_packs.dm
  yogstation/code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
  yogstation/icons/obj/toy.dmi
  yogstation/sound/items/goatsound.ogg
Labels: Feature, Icon Change, Sound

#5739 R&d area sprite
  code/game/area/Space_Station_13_areas.dm
  icons/turf/areas.dmi
Labels: Map Change, Sprites

#5575 allows janniborg to click on glass with lightreplacer to refil it
  code/game/objects/items/stacks/sheets/glass.dm
Labels: Feature

#5740 Adds a bartender's secure closet and puts the shotty in there.
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_box.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_casino.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_conveyor.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_diner.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_disco.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_purple.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_spacious.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
  yogstation.dme
  yogstation/code/game/objects/structures/crates_lockers/closets/secure/service.dm
  yogstation/icons/obj/closet.dmi
Labels: DME Edit, Feature, Icon Change, Map Change, Tweak

#5787 Fixes vanilla icecream not rendering properly
  code/game/objects/items/robot/robot_items.dm
  code/modules/food_and_drinks/kitchen_machinery/icecream_vat.dm
Labels: Fix

#5788 Fixes Yogemoji blobsprites having white background, adds more blobemojis
  code/modules/emoji/emoji_parse.dm
  yogstation/icons/emoji.dmi
Labels: Icon Change, Sprites

#5190 [MIRROR] Beret Resprites Mk. II
  code/modules/clothing/head/jobs.dm
  code/modules/vending/autodrobe.dm
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Feature, Upstream PR Merged

#5796 Adds a verb that lists all available emojis
  yogstation/code/modules/client/verbs/ooc.dm
Labels: Feature

#5799 Stops ghosts from manipulating storage items
  code/datums/components/storage/storage.dm
Labels: Fix

#5188 [MIRROR] TGUI buttons do not fully grey out while the UI is still updating
  tgui/assets/tgui.css
  tgui/src/components/button.ract
  tgui/src/components/button.styl
  tgui/src/interfaces/thermomachine.ract
  tgui/src/tgui.styl
Labels: Stale, Tweak, Upstream PR Merged, tgui, this complained in the bot but no conflict

#5650 Voice analyzer starts on exclusive
  code/modules/assembly/voice.dm
Labels: Tweak, i ded, i dedder

#5732 Fixes deltas airlocks access in engineering
  _maps/yogstation/map_files/YogsDelta/YogsDelta.dmm
Labels: Fix, Map Change, Tweak

#5831 Spiffels is no longer aggressive plus Chapel and Centcom tweaks
  _maps/yogstation/map_files/MinskyStation/MinskyStation.dmm
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/generic/CentCom.dmm
  yogstation/code/game/objects/structures/crates_lockers/crates.dm
  yogstation/code/modules/mob/living/simple_animal/friendly/goats.dm
Labels: Feature, Map Change, Tweak

#5570 Adds three headsets to cloning spare clothes locker
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/YogsDonut/YogsDonut.dmm
  _maps/yogstation/map_files/YogsPubby/YogsPubby.dmm
Labels: Feature, Map Change

#5838 White Caps from Chernobyl 2: Electric Bogaloo
  code/_globalvars/lists/maintenance_loot.dm
  yogstation/code/modules/clothing/head/misc.dm
  yogstation/icons/mob/head.dmi
  yogstation/icons/obj/clothing/hats.dmi
Labels: Feature, Icon Change

#5819 Allows Mood to be enabled as a preference
  code/__DEFINES/preferences.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/mind.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  yogstation.dme
  yogstation/code/controllers/subsystem/processing/quirks.dm
  yogstation/code/modules/mob/living/carbon/human/human_defines.dm
Labels: Controversial, Feature, questionable

#5869 fixes perma cameras on Yogstation
  _maps/yogstation/map_files/YogStation/YogStation.dmm
Labels: Map Change

#5878 PDA messaging works what is mapping edition
  _maps/yogstation/map_files/MinskyStation/MinskyStation.dmm
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/YogsDelta/YogsDelta.dmm
  _maps/yogstation/map_files/YogsDonut/YogsDonut.dmm
  _maps/yogstation/map_files/YogsPubby/YogsPubby.dmm
  _maps/yogstation/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#5874 Adds Katanas to the Uplink, 10 TC
  yogstation/code/game/objects/items/weaponry.dm
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Balance, Feature

#5879 Adds backup ui to sleepers
  code/game/machinery/Sleeper.dm
Labels: Feature

#5890 Raises Crab-17 health even higher
  code/game/objects/items/crab17.dm
Labels: Tweak

#5880 Adds a debugverb that lets me call subtypesof() at runtime
  code/modules/admin/admin_verbs.dm
  yogstation.dme
  yogstation/code/modules/admin/verbs/debug.dm
  yogstation/code/modules/admin/verbs/one_click_antag.dm
  yogstation/code/modules/admin/verbs/queue.dm
Labels: DME Edit, Feature

#5915 Edit hour requirements for some jobs per council request
  yogstation.dme
  yogstation/code/modules/jobs/job_types/chief_engineer.dm
  yogstation/code/modules/jobs/job_types/chief_medical_officer.dm
  yogstation/code/modules/jobs/job_types/detective.dm
  yogstation/code/modules/jobs/job_types/head_of_personnel.dm
  yogstation/code/modules/jobs/job_types/head_of_security.dm
  yogstation/code/modules/jobs/job_types/research_director.dm
  yogstation/code/modules/jobs/job_types/security_officer.dm
  yogstation/code/modules/jobs/job_types/warden.dm
Labels: Council Vote, DME Edit, Tweak

#5919 Makes the Academy die of fate one-use
  _maps/yogstation/RandomRuins/SpaceRuins/Academy.dmm
Labels: Map Change, Tweak, i ded

#5893 Replaces Officer Kreb with Sergeant Areneus on Yogbox.
  _maps/yogstation/map_files/YogStation/YogStation.dmm
Labels: But I Like Kreb, Map Change, Tweak

#5966 Rezadone will AGAIN be mixed using the old yogs recipe (capsaicin) instead of carpotoxin
  code/modules/reagents/chemistry/recipes/medicine.dm
Labels: Tweak

#5969 toxins table are now only reinforced variety
  _maps/yogstation/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#5968 Sleepers backupUI is no longer operable from inside
  code/game/machinery/Sleeper.dm
Labels: Tweak

#5916 Fixes several issues with the Free Miner ship.
  _maps/yogstation/shuttles/whiteship_miner.dmm
Labels: Feature, Map Change

#5887 [admin] Makes (MHELP) actually have the bwoinker automatically send a mentorhelp
  yogstation/code/modules/admin/verbs/adminhelp.dm
Labels: Admin, Feature

#5894 Budget cards now spawn in the respective job's locker.
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/warden.dm
  yogstation/code/game/objects/structures/crates_lockers/closets/secure/command.dm
  yogstation/code/game/objects/structures/crates_lockers/closets/secure/service.dm
Labels: Tweak

#5847 Implements Cold Fusion, Dilithium Crystals, and Dilithium Gas
  code/__DEFINES/~yogs_defines/reactions.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/atmospherics/machinery/airalarm.dm
  yogstation.dme
  yogstation/code/game/objects/items/stacks/dilithiumcrystal.dm
  yogstation/code/game/turfs/simulated/minerals.dm
  yogstation/code/modules/atmospherics/gasmixtures/gas_types.dm
  yogstation/code/modules/atmospherics/machinery/portable/canister.dm
  yogstation/code/modules/reagents/reagents/other_reagents.dm
  yogstation/code/modules/reagents/recipes/pyrotechnics.dm
  yogstation/icons/obj/telescience.dmi
Labels: DME Edit, Feature, Icon Change

#5973 Fixes abductors not being able to use their tools
  code/modules/antagonists/abductor/abductor.dm
Labels: Fix

#5993 sleeper backupUI graphics improvement but with no merge conflicts
  code/game/machinery/Sleeper.dm
Labels: Tweak

#5996 Implements coloured carpets.
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  code/modules/cargo/packs.dm
Labels: Feature, Map Change, Sprites

#6049 Adds a shower to the cloner.
  _maps/yogstation/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#5936 Makes cosmic ashwalker ruin unpickable
  yogstation/code/datums/ruins/lavaland.dm
Labels: Council Vote, Revert / Deletion

#6051 Fixies a floor cluwne edge case and slightly buffs it
  yogstation/code/modules/mob/living/simple_animal/hostile/floor_cluwne.dm
Labels: Tweak

#6093 Fixes altoidscode
  yogstation/code/controllers/subsystem/processing/quirks.dm
Labels: Fix

#6041 Removes the cakehat from the donor hat list.
  yogstation/code/modules/donor/donor_items.dm
Labels: Revert / Deletion, i ded

#6080 nerfs RD budget
  code/controllers/subsystem/economy.dm
Labels: Balance, Tweak, i ded

#6120 Adds Partheo's scrubber sprites to the appropriate /tg/ folder.
  icons/obj/atmospherics/components/unary_devices.dmi
  icons/obj/atmospherics/pipes/pipe_item.dmi
Labels: Icon Change

#6102 makes floor cluwnes not emp 36 times
  yogstation/code/modules/mob/living/simple_animal/hostile/floor_cluwne.dm
Labels: Tweak, i ded

#6138 Makes lava & anomaly hallucinations actually sometimes hurt you
  code/modules/flufftext/Hallucination.dm
  yogstation.dme
  yogstation/code/modules/flufftext/Hallucination.dm
Labels: Controversial, DME Edit, Feature

#6162 Toxins mapping Update
  _maps/yogstation/map_files/YogStation/YogStation.dmm
Labels: Map Change

#6173 Fixes wooden bucket sprite.
  code/modules/reagents/reagent_containers/glass.dm
  yogstation/icons/obj/janitor.dmi
Labels: Icon Change

#6168 Fixes bodybags having closet-like examine text
  code/game/objects/structures/crates_lockers/closets.dm
  yogstation.dme
  yogstation/code/game/objects/structures/crates_lockers/closet.dm
  yogstation/code/game/objects/structures/crates_lockers/closets/bodybag.dm
Labels: DME Edit
