Repository yogstation13/Yogstation, pull requests merged in 2019-08, with the labels that each got.

#6467 Updates the hydro analyzer or whatever the fuck it's called - alex is an unfunny shit edition
  icons/obj/device.dmi
Labels: Icon Change

#6501 It's happening
  code/controllers/subsystem/ticker.dm
  sound/roundend/itshappening.ogg
Labels: Feature, Sound

#6478 Splits Malf AI and traitor AI into two antag types, now has its own mode
  code/game/gamemodes/malfunction/malf.dm
  code/modules/antagonists/malf/malf.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  config/game_options.txt
  yogstation.dme
Labels: DME Edit, Feature, Revert / Deletion, TESTMERGE

#6517 Council vote :)
  code/game/machinery/syndicatebomb.dm
Labels: Tweak

#6475 IAA Change #3 - Makes IA agents spawn with a cyanide dental implant
  code/modules/antagonists/traitor/IAA/internal_affairs.dm
Labels: Council Vote, Feature

#6447 Nitroglycerin now can explode in cigs and E-cig bombs are more consistent
  code/game/objects/items/cigs_lighters.dm
Labels: Feature

#6479 access scaner
  code/game/machinery/buttons.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/mecha/mecha_defense.dm
  yogstation.dme
  yogstation/code/game/objects/items/airlock_scaner.dm
  yogstation/code/modules/research/designs/autolathe_designs.dm
  yogstation/icons/obj/objects.dmi
Labels: DME Edit, Feature, Icon Change

#6507 Omega bug fixing
  _maps/map_files/Omegastation/omegastation.dmm
Labels: Map Change

#6509 Makes black gloves darker for real this time
  icons/mob/hands.dmi
  icons/obj/clothing/gloves.dmi
Labels: Icon Change, Tweak

#6520 Adds a new bar sign: The Goose
  code/game/objects/structures/barsigns.dm
  icons/obj/barsigns.dmi
Labels: Icon Change

#6525 mint boi bad
  code/modules/antagonists/traitor/IAA/internal_affairs.dm
Labels: Tweak

#6523 wuh if trayters but dey fite eech udder
  strings/traumas.json
Labels: Tweak

#6469 Xeno Winconditions
  code/modules/antagonists/xeno/xeno.dm
  code/modules/shuttle/emergency.dm
Labels: Feature

#6532 New Smartfridge Features and Spritework
  _maps/yogstation/map_files/MinskyStation/MinskyStation.dmm
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/YogsDelta/YogsDelta.dmm
  _maps/yogstation/map_files/YogsDonut/YogsDonut.dmm
  _maps/yogstation/map_files/YogsPubby/YogsPubby.dmm
  _maps/yogstation/map_files/Yogsmeta/Yogsmeta.dmm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/power/apc.dm
  icons/obj/vending.dmi
  yogstation.dme
  yogstation/code/datums/wires/smartfridge.dm
Labels: DME Edit, Feature, Icon Change, Map Change, Tweak

#6516 Gives Soviet and Capitalist Golems a antag datum V2 Nich Changes Edition
  code/__DEFINES/atom_hud.dm
  code/datums/hud.dm
  code/modules/antagonists/golems/golem.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  icons/mob/hud.dmi
  icons/obj/capitalism and  communism.dmi
  tgstation.dme
  yogstation.dme
  yogstation/icons/mob/hud.dmi
Labels: DME Edit, Feature, Icon Change

#6518 Nerfs the centcomm endround beam rifle
  _maps/yogstation/map_files/generic/CentCom.dmm
Labels: Map Change, Tweak, i ded

#6499 malf-hacking no longer makes APCs blue
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/power/apc.dm
Labels: Council Vote, Tweak

#6552 Deletes my silicon skins.
  yogstation/code/modules/donor/borg_ai_skin_datums.dm
  yogstation/icons/mob/DonorRobots.dmi
Labels: Icon Change

#6560 actually enforces the AI border
  yogstation/icons/mob/DonorRobots.dmi
Labels: Icon Change, Tweak

#6521 Reverts Sleepers to tgui and fixes them
  code/game/machinery/Sleeper.dm
Labels: Tweak

#6555 Changes Hacked AI Module price
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#6568 Adds Altoids to the coder list of fame
  html/templates/header.html
Labels: Tweak

#6540 Being fat as fuck will now PROPERLY cause heart damage
  code/modules/surgery/organs/heart.dm
Labels: Feature

#6545 Tanks now tell internal mol
  code/game/objects/items/tanks/tanks.dm
Labels: Feature

#6551 Adds object sprite for the sandsuit hood.
  yogstation/icons/obj/clothing/hats.dmi
Labels: Icon Change

#6533 Adds moonrats to the game
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  yogstation.dme
  yogstation/code/modules/mob/living/simple_animal/friendly/moonrat.dm
  yogstation/icons/mob/pets.dmi
Labels: DME Edit, Feature, Icon Change, Map Change

#6494 Rebe change very controversial (Poland)
  _maps/map_files/generic/City_of_Cogs.dmm
  code/game/gamemodes/clock_cult/clock_cult.dm
  icons/effects/clockwork_effects.dmi
Labels: Controversial, Feature, Icon Change, Map Change, TESTMERGE

#6564 Streamlines the Tricorder's code without breaking everything
  code/game/objects/items/devices/scanners.dm
  yogstation/code/game/objects/items/devices/scanners.dm
Labels: Tweak

#6585 His Grace offers full protection from stuns instead of protection from stuns but not stamina damage
  code/datums/status_effects/buffs.dm
Labels: Tweak

#6570 Makes IAA not give you objectives to kill cyborgs
  yogstation/code/game/gamemodes/traitor/double_agents.dm
Labels: Tweak

#6583 Removes unfinished plasma envirosuits.
  icons/mob/uniform.dmi
Labels: Icon Change

#6571 Adds the hat of Doug Dimmadome, owner of the Dimmsdale Dimmadome to the game.
  yogstation/code/modules/cargo/cargo_packs.dm
  yogstation/code/modules/clothing/head.dm
  yogstation/icons/mob/large-worn-icons/1024x1024/head.dmi
  yogstation/icons/obj/clothing/1024x1024/hats.dmi
Labels: Feature, Icon Change

#6576 Zombie infection chance is lowered by armor
  code/modules/zombie/items.dm
Labels: Feature

#6581 Adds CrazyDakkon's four directional colussus sprites.
  icons/mob/lavaland/96x96megafauna.dmi
Labels: Icon Change

#6592 No longer alert admins for explosions after round end
  code/datums/explosion.dm
  code/game/objects/items/devices/transfer_valve.dm
Labels: Admin

#6591 Gives the ability for spessman to wear mosins on their backs
  code/modules/projectiles/guns/ballistic/rifle.dm
  icons/mob/back.dmi
Labels: Icon Change, Tweak

#6605 Deletes ben swolo from the codebase for he is not needed, perhaps he will return in a time of great struggle.
  yogstation/icons/mob/ben_swolo.dmi
Labels: Icon Change

#6621 Tabling now takes 3.5 seconds
  code/game/objects/structures/tables_racks.dm
Labels: Tweak

#6632 Adds me to codeowners to alert me when someone treads in my territory.
  .github/CODEOWNERS
Labels: Feature

#6606 Adds Server <-> Yogbot Discord linking
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/discord.dm
  code/modules/admin/admin_verbs.dm
  code/modules/discord/accountlink.dm
  code/modules/discord/manipulation.dm
  yogstation.dme
  yogstation/code/datums/world_topic.dm
Labels: DME Edit, Feature

#6574 Kentucky fried tcomms try 2
  code/game/machinery/telecomms/telecomunications.dm
Labels: Feature, TESTMERGE

#6584 NANOMACHINES SON
  code/modules/surgery/organs/heart.dm
  yogstation.dme
  yogstation/code/modules/research/designs/medical_designs.dm
  yogstation/code/modules/research/techweb/all_nodes.dm
  yogstation/code/modules/surgery/organs/heart.dm
Labels: DME Edit, Feature

#6640 Removes capitalism and communism
  icons/obj/capitalism and  communism.dmi
Labels: Icon Change

#6602 Brain damage lines
  strings/traumas.json
Labels: Tweak

#6624 Ports new sink sprites from /tg/
  icons/obj/watercloset.dmi
Labels: Icon Change

#6636 Borgs can now print wanted posters
  code/game/objects/effects/contraband.dm
  code/game/turfs/simulated/walls.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  icons/obj/tools.dmi
Labels: Feature, Icon Change

#6625 Ports missing bag sprites from /tg/
  code/game/objects/items/storage/backpack.dm
  icons/mob/inhands/equipment/backpack_lefthand.dmi
  icons/mob/inhands/equipment/backpack_righthand.dmi
Labels: Icon Change

#6626 Ports missing inhand surgery tool sprites from /tg/
  code/modules/surgery/tools.dm
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
Labels: Icon Change

#6610 You can no longer read announcements if you're unconscious
  code/__HELPERS/priority_announce.dm
Labels: Tweak

#6623 you can now put a mop in a mopbucket
  code/game/objects/items/mop.dm
  code/game/objects/structures/mop_bucket.dm
  icons/obj/janitor.dmi
Labels: Icon Change, Tweak

#6656 Being cluwned will no longer instantly kill you
  yogstation/code/datums/mutations.dm
Labels: Fix

#6651 Alters phytosian lore, makes Moths have a gender neutral race name.
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
Labels: Tweak

#6631 Ports Removes Hygiene from /tg/
  _maps/yogstation/map_files/MinskyStation/MinskyStation.dmm
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/economy.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits.dm
  code/_globalvars/bitfields.dm
  code/_onclick/item_attack.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/components/mood.dm
  code/datums/mood_events/needs_events.dm
  code/datums/mutations/actions.dm
  code/datums/traits/good.dm
  code/datums/traits/neutral.dm
  code/game/machinery/scan_gate.dm
  code/game/objects/items/clown_items.dm
  code/game/objects/structures/shower.dm
  code/game/objects/structures/watercloset.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/utility.dm
  code/modules/economy/account.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/status_procs.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  icons/mob/smelly.dmi
  yogstation.dme
  yogstation/code/game/objects/items/deodorant.dm
  yogstation/code/modules/cargo/cargo_packs.dm
  yogstation/code/modules/vending/gift.dm
Labels: Revert / Deletion, Tweak

#6649 Updates metal chair sprites.
  icons/obj/chairs.dmi
Labels: Icon Change

#6629 Ports inhand tile sprites from /tg/, and adds inhand tile sprites for coloured carpets
  code/game/objects/items/stacks/tiles/tile_mineral.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/modules/research/xenobiology/xenobiology.dm
  icons/mob/inhands/misc/sheets_lefthand.dmi
  icons/mob/inhands/misc/sheets_righthand.dmi
  icons/mob/inhands/misc/tiles_lefthand.dmi
  icons/mob/inhands/misc/tiles_righthand.dmi
  yogstation/code/game/objects/items/stacks/tiles/tile_types.dm
Labels: Icon Change

#6652 Attacking cardboard with hot things will now set it on fire
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Tweak
