Repository yogstation13/Yogstation, pull requests merged in 2019-10, with the labels that each got.

#6777 Chem implants now dump contents on death
  code/game/objects/items/implants/implant_chem.dm
Labels: Fix

#6779 Removes the flamethrower from the hacked autolathe
  code/modules/research/designs/autolathe_designs.dm
Labels: Tweak

#6796 Fix Issue #6774
  _maps/yogstation/map_files/YogStation/YogStation.dmm
Labels: Map Change

#6798 hey guys it's adam again i decided to remove some content
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
Labels: Tweak

#6800 Blood no longer not works
  yogstation/code/modules/mob/living/living.dm
Labels: Fix

#6763 Stabilized Pink now stops mobs from spazzing out (Sometimes)
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
Labels: Tweak

#6787 Removes VTEC from the research tree
  code/modules/research/techweb/all_nodes.dm
Labels: Revert / Deletion, i ded

#6764 You can no longer print AI or Cyborg upload boards in the Science R&D lathe
  code/modules/research/designs/comp_board_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Controversial, Revert / Deletion

#6797 Fixes Issue Introduced by KFT-Comms on MetaStation (#6749)
  _maps/yogstation/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#6740 DNA fixing surgery
  code/game/machinery/computer/cloning.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/advanced/dna_recovery.dm
  yogstation.dme
Labels: DME Edit, Feature

#6823 Removes devour will summon channel time for darkspawn
  yogstation/code/modules/antagonists/darkspawn/darkspawn_abilities/devour_will.dm
Labels: Tweak

#6822 [s] Chameleon projector exploit fixes
  code/game/objects/effects/forcefields.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/structures/beds_chairs/chair.dm
Labels: Fix

#6720 Bunch of clock stuff
  _maps/map_files/generic/City_of_Cogs.dmm
  code/game/gamemodes/clock_cult/clock_cult.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/turfs/simulated/wall/misc_walls.dm
  code/modules/antagonists/clockcult/clock_effects/servant_blocker.dm
Labels: Map Change

#6824 You can no longer get a BoH from presents.
  code/game/objects/items/gift.dm
Labels: Revert / Deletion

#6821 Fixes paperplane manifest runtime
  code/modules/cargo/exports.dm
Labels: Fix

#6818 [s] Fixes a Beepsky exploit
  code/modules/mob/living/simple_animal/bot/construction.dm
Labels: Security Issue

#6816 Avoid generating the atom colour list on the lighting object
  code/modules/lighting/lighting_object.dm
Labels: Performance

#6817 Ports Tile Line Decals and Exotic Carpets from TG to be used in Minsky Station
  code/game/objects/effects/decals/turfdecal/tilecoloring.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/table_frames.dm
  code/game/objects/structures/tables_racks.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  code/modules/cargo/packs.dm
  icons/mob/inhands/misc/tiles_lefthand.dmi
  icons/mob/inhands/misc/tiles_righthand.dmi
  icons/obj/smooth_structures/fancy_table_cyan.dmi
  icons/obj/smooth_structures/fancy_table_exoticblue.dmi
  icons/obj/smooth_structures/fancy_table_exoticgreen.dmi
  icons/obj/smooth_structures/fancy_table_exoticpurple.dmi
  icons/obj/smooth_structures/fancy_table_orange.dmi
  icons/obj/smooth_structures/fancy_table_red.dmi
  icons/obj/smooth_structures/fancy_table_royalblack.dmi
  icons/obj/smooth_structures/fancy_table_royalblue.dmi
  icons/obj/structures.dmi
  icons/obj/tiles.dmi
  icons/turf/decals.dmi
  icons/turf/floors/carpet_cyan.dmi
  icons/turf/floors/carpet_exoticblue.dmi
  icons/turf/floors/carpet_exoticgreen.dmi
  icons/turf/floors/carpet_exoticpurple.dmi
  icons/turf/floors/carpet_orange.dmi
  icons/turf/floors/carpet_red.dmi
  icons/turf/floors/carpet_royalblack.dmi
  icons/turf/floors/carpet_royalblue.dmi
Labels: Feature, Icon Change

#6832 Halloween now lasts about a week, from the 26th of October to the 2nd of november (inclusive)
  code/modules/holiday/holidays.dm
Labels: Tweak

#6826 Atmos 1: Stimball gone
  code/__DEFINES/reactions.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Revert / Deletion

#6819 Indestructible objects don't explode from tesla
  code/game/machinery/_machinery.dm
Labels: Fix

#6829 Atmos 2: Supermatter Too
  code/modules/power/supermatter/supermatter.dm
Labels: Balance, Tweak

#6795 Nano gene
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  code/modules/vending/monkey_wall.dm
  icons/obj/vending.dmi
  icons/obj/vending_restock.dmi
  yogstation.dme
Labels: DME Edit, Feature, Icon Change, Map Change

#6820 Makes cleanbots clean slightly faster
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
Labels: Balance, Fix

#6835 Order NanoGene Refill added to Supply Request Console
  code/modules/cargo/packs.dm
Labels: Feature

#6825 Yogbox atmos change so slov can powergame better
  _maps/yogstation/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#6839 Singularity Camera Ctag Fixes
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_singulo_tesla.dmm
Labels: Map Change

#6799 Ports TG tend wounds
  code/modules/surgery/healing.dm
Labels: Tweak

#6842 adds a new implant for traitor medical doctors and cmo
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature

#6804 Makes light pink extract give a better med to keep the patient alive
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
Labels: Tweak

#6849 Various small map fixes/changes that were annoying me
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/YogsDelta/YogsDelta.dmm
  _maps/yogstation/map_files/YogsPubby/YogsPubby.dmm
  _maps/yogstation/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#6856 Changes emag price back to 6TC
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Balance, Controversial, Tweak, i ded

#6854 IC issue button tells the receiver who hit them with the no u
  yogstation/code/modules/admin/verbs/adminhelp.dm
Labels: Admin, Feature

#6859 Fixes #6851
  code/modules/clothing/suits/reactive_armour.dm
Labels: Tweak

#6862 new uplink items depending on your race
  code/game/objects/items/dna_injector.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/uplink/uplink_items.dm
  yogstation/code/game/objects/items/premadepapers.dm
Labels: Feature

#6848 Syndicate-Nanotrasen hotline
  code/game/objects/items/weaponry.dm
Labels: Feature

#6868 More map things that were annoying me
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_box.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_casino.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_conveyor.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_diner.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_disco.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_purple.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_spacious.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_singulo_tesla.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_sm.dmm
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/YogsDelta/YogsDelta.dmm
  _maps/yogstation/map_files/YogsPubby/YogsPubby.dmm
  _maps/yogstation/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Feature, Map Change

#6882 Talks-to-Tators, Implement #6848
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/YogsDelta/YogsDelta.dmm
  _maps/yogstation/map_files/YogsPubby/YogsPubby.dmm
  _maps/yogstation/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Feature, Map Change

#6878 removes sandbox gamemode
  code/controllers/configuration/entries/game_options.dm
  code/game/gamemodes/sandbox/airlock_maker.dm
  code/game/gamemodes/sandbox/h_sandbox.dm
  code/game/gamemodes/sandbox/sandbox.dm
  code/modules/mob/living/login.dm
  config/game_options.txt
  yogstation.dme
Labels: DME Edit, Revert / Deletion

#6890 [MIRROR] Fixes monkeys being invisible in DM
  code/modules/mob/living/carbon/monkey/monkey.dm
Labels: Upstream PR Merged

#6899 Fixes the weapons permit for the bartender
  code/modules/jobs/job_types/bartender.dm
Labels: Fix

#6883 Layers mining base pipes
  _maps/yogstation/RandomRuins/LavaRuins/miningbase.dmm
Labels: Map Change

#6879 removes monkey gamemode
  code/__DEFINES/role_preferences.dm
  code/datums/diseases/transformation.dm
  code/datums/saymode.dm
  code/game/gamemodes/monkey/monkey.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/antagonists/monkey/monkey.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/mob_helpers.dm
  yogstation.dme
Labels: DME Edit, Revert / Deletion

#6902 [admin] Updates swarmer flavortext
  code/modules/antagonists/swarmer/swarmer.dm
Labels: Council Vote

#6916 Darkspawn update aaaaaaaaa
  yogstation/code/modules/antagonists/darkspawn/darkspawn_abilities/_divulge.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_objects/dark_bead.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_objects/umbral_tendrils.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/darkspawn.dm
Labels: Tweak

#6901 Trying to dab while rrstrained no longer deals brain damage
  yogstation/code/modules/mob/living/emote.dm
Labels: Fix

#6893 Riot Shotguns can be bought from Cargo
  code/modules/cargo/packs.dm
Labels: Feature

#6892 Reflector vest buffed, covers arms and groin
  code/game/gamemodes/objective_items.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/suits/armor.dm
  icons/mob/suit.dmi
Labels: Icon Change, Tweak

#6891 Changed integration cog description
  code/modules/antagonists/clockcult/clock_items/integration_cog.dm
Labels: Tweak

#6847 Uranium/iron now has a maxcap of 200
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Tweak

#6877 [admin] expanded transparency
  yogstation/code/modules/admin/verbs/adminhelp.dm
Labels: Tweak

#6876 Sheltered trait
  code/__DEFINES/traits.dm
  code/datums/traits/negative.dm
Labels: Feature

#6884 Ports TG Ticket Machine Fixes
  code/modules/paperwork/ticketmachine.dm
Labels: Fix, Upstream PR Merged

#6888 Changes to meta permabrig hallway
  _maps/yogstation/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#6867 Adds a map to the Crew Monitoring console
  code/game/machinery/computer/crew.dm
  code/modules/client/asset_cache.dm
  icons/mapimages/MinskyStation.png
  icons/mapimages/OmegaStation.png
  icons/mapimages/YogStation.png
  icons/mapimages/YogsPubby.png
  icons/mapimages/Yogsdelta.png
  icons/mapimages/Yogsdonut.png
  icons/mapimages/Yogsmeta.png
  tgui/assets/tgui.js
  tgui/src/interfaces/crew.ract
Labels: Feature, Javascript, TESTMERGE, WORK IN PROGRESS

#6896 Slightly Relightens the Black Gloves
  icons/mob/hands.dmi
Labels: Icon Change, Tweak

#6923 Removes a valid hunting tool from xenoling.
  yogstation/code/modules/antagonists/changeling/powers/mutations.dm
Labels: Revert / Deletion, i ded

#6941 Fixes #6929
  code/modules/security_levels/keycard_authentication.dm
Labels: Tweak

#6934 Lowers the requirements for the DNA Vault
  code/modules/station_goals/dna_vault.dm
Labels: Tweak

#6933 Makes wheelchairs not obscenely shitty by default
  code/modules/vehicles/wheelchair.dm
Labels: Tweak

#6944 Removes donutstation from the code
  _maps/_basemap.dm
  _maps/map_files/YogsDonut/YogsDonut.dmm
  _maps/shuttles/arrival_donut.dmm
  _maps/yogsdonut.dm
  _maps/yogsdonut.json
  code/datums/holocall.dm
  code/datums/shuttles.dm
  code/game/objects/effects/spawners/lootdrop.dm
  config/maps.txt
Labels: Revert / Deletion

#6865 Secborgs now have an autocharging disabler instead of an infinite one
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/stun.dm
Labels: Balance, Controversial, Tweak

#6889 DRAGnet manual teleport destination setting
  code/modules/projectiles/ammunition/energy/special.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/projectile/energy/net_snare.dm
Labels: Feature

#6897 [admin] Updates to select_equipment for plasmamen
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: Feature

#6925 Adds a new 'unique' item to the autodrobe, the lamp-dress.
  code/modules/clothing/under/miscellaneous.dm
  code/modules/vending/autodrobe.dm
  icons/mob/head.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Feature, Icon Change

#6931 Cybernetic Organs should now be more worth while
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/organs/appendix.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/liver.dm
  code/modules/surgery/organs/lungs.dm
Labels: Tweak

#6947 Replaces security knockout gas canister with a pepper spray smoke machine
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#6948 The SM on the final countdown will sound an audio cue stolen from Half Life 2
  code/modules/power/supermatter/supermatter.dm
  yogstation/sound/voice/sm/fcitadel_10sectosingularity.ogg
  yogstation/sound/voice/sm/fcitadel_15sectosingularity.ogg
  yogstation/sound/voice/sm/fcitadel_30sectosingularity.ogg
Labels: Sound

#6949 regenerative cores now no longer fully heal the user because i'm not going to fucking let up
  code/modules/research/xenobiology/crossbreeding/regenerative.dm
Labels: Tweak

#6937 Adds secway crates to cargo
  code/modules/cargo/packs.dm
Labels: Balance, Tweak
