Repository yogstation13/Yogstation, pull requests merged in 2019-09, with the labels that each got.

#6668 Issue #6666, #6457, #6377 Fix (TComms Maint/Bridge Flooring/TComms AI Holopad)
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  code/game/area/Space_Station_13_areas.dm
  icons/turf/areas.dmi
Labels: Icon Change, Map Change, Tweak

#6669 Drills no longer drill walls
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/simulated/wall/reinf_walls.dm
  code/game/turfs/simulated/walls.dm
Labels: Revert / Deletion

#6667 Sign Decal Update (minsky)
  code/game/objects/structures/signs/signs_departments.dm
  icons/obj/decals.dmi
Labels: Feature, Icon Change

#6633 Ports TG's atmosphere inheritance fix
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/mech_bay.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/twohanded.dm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/game/objects/structures/stairs.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/closed.dm
  code/game/turfs/open.dm
  code/game/turfs/openspace/openspace.dm
  code/game/turfs/simulated/chasm.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/floor/reinf_floor.dm
  code/game/turfs/simulated/lava.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/clockcult/clock_items/replica_fabricator.dm
  code/modules/antagonists/clockcult/clock_structures/wall_gear.dm
  code/modules/antagonists/cult/cult_structures.dm
  code/modules/buildmode/submodes/basic.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/ruins/objects_and_mobs/sin_ruins.dm
  code/modules/spells/spell_types/conjure.dm
  code/modules/spells/spell_types/devil.dm
Labels: Fix

#6638 Ports new animated medical scanner sprites from /tg/ who ported new animated medical scanner sprites from Polaris.
  code/game/objects/items/devices/scanners.dm
  icons/obj/device.dmi
Labels: Icon Change

#6674 Minsky Sign Update / Fix #5757
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/yogstation/RandomRuins/LavaRuins/miningbase.dmm
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/YogsPubby/YogsPubby.dmm
  _maps/yogstation/map_files/Yogsmeta/Yogsmeta.dmm
  _maps/yogstation/map_files/mining/Lavaland.dmm
  code/game/objects/structures/signs/signs_departments.dm
Labels: Feature, Map Change, Revert / Deletion

#6717 Update revolver.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
Labels: Tweak

#6713 Perf is no longer a better mute toxin
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Tweak

#6719 Elaborates on what counts as mutant humanoid
  code/game/gamemodes/objective.dm
Labels: Tweak

#6730 Conscription kit comes with a kinetic accelerator
  code/modules/mining/machine_vending.dm
Labels: Feature

#6737 Synergy
  code/__HELPERS/mobs.dm
  code/__HELPERS/names.dm
  code/_globalvars/lists/names.dm
  code/game/objects/structures/ghost_role_spawners.dm
  strings/names/lizard_nouns.txt
  strings/names/lizard_verbs.txt
Labels: Tweak

#6722 removes exile implants from cargo AGAIN
  code/modules/cargo/packs.dm
Labels: Revert / Deletion

#6747 Fixes the emergency pod space suits unlocking at round start
  code/modules/shuttle/on_move.dm
Labels: Fix

#6725 Allows bloodcultists to set up stuff on Reebe
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/antagonists/cult/rune_spawn_action.dm
Labels: Feature

#6732 Holoparasites now cost 15TC
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#6744 buffs holy explosion anti-cult blast
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Tweak

#6721 All station goals are unlocked regardless of gamemode
  code/game/gamemodes/game_mode.dm
  yogstation/code/game/gamemodes/game_mode.dm
Labels: Feature

#6726 Radball Tweaks
  code/modules/projectiles/projectile/energy/nuclear_particle.dm
Labels: Tweak

#6613 Chaplain's Holyparasite
  code/game/objects/items/holy_weapons.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/guardian/types/chaplain.dm
  icons/mob/guardian.dmi
  yogstation.dme
Labels: DME Edit, Feature, Stale

#6738 Adds a config option to disallow AI from being traitor
  code/controllers/configuration/entries/general.dm
  code/game/gamemodes/traitor/traitor.dm
  config/game_options.txt
Labels: Config, Revert / Deletion

#6681 Adds a new donator borg skin: the police borg by Kmc2000 and adds a new donator skin for bood
  yogstation/code/modules/donor/borg_ai_skin_datums.dm
  yogstation/icons/mob/DonorRobots.dmi
Labels: Icon Change

#6754 Removes xenobiology console from spawning at round start, must now be constructed
  _maps/yogstation/map_files/MinskyStation/MinskyStation.dmm
  _maps/yogstation/map_files/YogStation/YogStation.dmm
  _maps/yogstation/map_files/YogsDelta/YogsDelta.dmm
  _maps/yogstation/map_files/YogsDonut/YogsDonut.dmm
  _maps/yogstation/map_files/YogsPubby/YogsPubby.dmm
  _maps/yogstation/map_files/Yogsmeta/Yogsmeta.dmm
  code/modules/research/techweb/all_nodes.dm
Labels: Map Change, Tweak
