Repository yogstation13/Yogstation, pull requests merged in 2019-12, with the labels that each got.

#7156 fuck it,blitz sec
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature

#7172 German shepards are dogs and FOXES CAN BE PET FOR HEART :)
  _maps/RandomRuins/SpaceRuins/shuttlerelic.dmm
  _maps/map_files/MinskyStation/MinskyStation.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/modules/mob/living/simple_animal/friendly/fox.dm
  yogstation/code/modules/mob/living/simple_animal/friendly/fennec.dm
  yogstation/code/modules/mob/living/simple_animal/friendly/german_shepherd.dm
Labels: Map Change, Tweak

#7174 Fixes ruins being named King Goat Lair
  _maps/RandomRuins/LavaRuins/kinggoatboss.dmm
  code/game/area/areas/ruins/lavaland.dm
Labels: Map Change

#7192 Label workflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Github

#7193 Removal of deathwand
  code/game/objects/items/storage/belt.dm
  code/modules/events/wizard/magicarp.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/projectiles/guns/magic/staff.dm
Labels: Revert / Deletion

#7054 The Energy Harvesting Module(zap into dosh)
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/power/energyharvester.dm
  yogstation.dme
Labels: DME Edit, Feature, Stale

#7183 Adds a version of tator lings where anyone can be a ling/tator for admemes
  code/game/gamemodes/changeling/traitor_chan.dm
Labels: Feature

#7127 Viruses > Nanites
  code/datums/diseases/advance/symptoms/nanites.dm
Labels: Tweak

#7202 Adds dilithium canister
  code/modules/atmospherics/machinery/portable/canister.dm
  icons/obj/atmos.dmi
Labels: Icon Change, Sprites

#7214 adds a 10% chance of getting a bluespace emag if you emag an emag
  yogstation/code/game/objects/items/cards_ids.dm
Labels: Feature

#7213 Adds the Catastrophe achievement
  code/datums/achievements/achievements.dm
  yogstation/code/modules/power/singularity/particle_accelerator/particle_control.dm
Labels: Feature

#7198 Drifting spacepod ruin
  _maps/RandomRuins/SpaceRuins/drifting_spacepod.dmm
  code/datums/ruins/space.dm
  yogstation/code/modules/spacepods/prebuilt.dm
Labels: Feature, Map Change

#7207 de-modularise crate_lockers
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/bluespace_locker.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/secure/service.dm
  code/game/objects/structures/crates_lockers/crates.dm
  yogstation.dme
  yogstation/code/game/objects/structures/crates_lockers/closet.dm
  yogstation/code/game/objects/structures/crates_lockers/closets/bodybag.dm
  yogstation/code/game/objects/structures/crates_lockers/closets/job_closets.dm
  yogstation/code/game/objects/structures/crates_lockers/closets/secure/command.dm
  yogstation/code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  yogstation/code/game/objects/structures/crates_lockers/closets/secure/security.dm
  yogstation/code/game/objects/structures/crates_lockers/crates.dm
Labels: DME Edit

#7131 Removes publically available medkits.
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#7205 More map things
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#7225 fix the random parallax layers not working
  code/_onclick/hud/parallax.dm
Labels: Feature, Revert / Deletion, Tweak, fuck

#7220 Adds 3 new nuclear related achievements
  code/datums/achievements/achievements.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/antagonists/nukeop/nukeop.dm
Labels: Feature

#7232 fixes eggpeople being invisible
  code/modules/mob/living/carbon/human/species_types/eggpeople.dm
Labels: Feature, Revert / Deletion, Tweak

#7230 Added an RCD to the Chief Engineer's locker
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
Labels: Feature

#7215 Babby's first PR - autolathe and service protolathe can now make mousetraps
  code/modules/research/designs/autolathe_designs.dm
Labels: Feature

#7229 Glockroaches
  code/modules/mob/living/simple_animal/hostile/glockroach.dm
  icons/mob/animal.dmi
  sound/weapons/shot.ogg
  yogstation.dme
Labels: DME Edit, Feature, Icon Change, Sound

#7245 Returns Parmesan to its former glory
  code/modules/food_and_drinks/food/snacks_cheese.dm
  icons/obj/food/cheese.dmi
Labels: Icon Change, Tweak

#7263 Such is life map update
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_singulo_tesla.dmm
Labels: Map Change

#7271 improves the colour of the jani drobe
  icons/obj/vending.dmi
Labels: Icon Change, Tweak

#7246 Makes dilithium crystals visually different from BS crystals
  icons/effects/ore_visuals.dmi
  yogstation/code/game/turfs/simulated/minerals.dm
Labels: Icon Change

#7221 More map things
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#7277 hmm today I will fix an oversight
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
Labels: Balance

#7222 Redesigns meta testing range
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Tweak

#7251 Department biohazard closets for Pubbystation
  _maps/map_files/YogsPubby/YogsPubby.dmm
Labels: Map Change, Tweak

#7274 updates a load of vending machines with standardised colours and general improvements
  icons/obj/vending.dmi
Labels: Icon Change

#7178 Ninja jail is no longer permanent
  code/__DEFINES/traits.dm
  code/game/objects/items/implants/implant_explosive.dm
  code/modules/antagonists/ninja/ninja.dm
  code/modules/mob/living/emote.dm
  code/modules/ninja/suit/n_suit_verbs/energy_net_nets.dm
  yogstation/code/modules/mob/living/emote.dm
Labels: Tweak

#7286 Makes Chemistry machines 80s beige plastic as a possible consistent art style.
  icons/obj/chemical.dmi
Labels: Art Style, DO NOT MERGE, Icon Change

#7276 Adds new player friendly to the server title
  yogstation/code/game/world.dm
Labels: Tweak

#7290 Animates dab emote
  code/__HELPERS/matrices.dm
  yogstation/code/modules/mob/living/emote.dm
Labels: Feature

#7278 [admin] Adds BUG option to adminhelp admin menu
  yogstation/code/modules/admin/verbs/adminhelp.dm
Labels: Admin, Feature

#7226 Add 9 more various achievements
  code/datums/achievements/achievements.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/objects/structures/morgue.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human.dm
  yogstation/code/modules/antagonists/shadowling/special_shadowling_abilities.dm
Labels: Feature

#7234 Make lockers airtight when welded
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Feature

#7262 Im back Also Clock cult update
  _maps/map_files/generic/City_of_Cogs.dmm
Labels: Map Change

#7216 You can now toggle lights with a multitool. Also standardizes explosions sizes for rigged equipment.
  code/modules/power/lighting.dm
Labels: Feature, Tweak

#7265 Makes PDA messages use the language system
  code/game/machinery/telecomms/computers/message.dm
  code/game/machinery/telecomms/machines/message_server.dm
  code/game/objects/items/devices/PDA/PDA.dm
Labels: Feature

#7295 Limits test server nukedisk spam
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
Labels: Tweak

#7270 Now you can use runes on CentCom
  _maps/map_files/generic/CentCom.dmm
Labels: Map Change, Tweak

#7209 513 (watch me break everything)
  Dockerfile
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/maths.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/typeids.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/text.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/hud/plane_master.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/status_display.dm
  code/game/objects/structures/musician.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/mob_helpers.dm
  dependencies.sh
  tools/Redirector/textprocs.dm
  yogstation/code/modules/scripting/Implementations/_Logic.dm
  yogstation/code/modules/scripting/Options.dm
  yogstation/code/modules/scripting/Scanner/Scanner.dm
Labels: testmerge requested

#7307 Map changes for monstermos
  _maps/map_files/MinskyStation/MinskyStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_box.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_casino.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_conveyor.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_diner.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_disco.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_purple.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_spacious.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_singulo_tesla.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_sm.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/xenobridge_default.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/xenobridge_space.dmm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  icons/obj/doors/doorfirewindow.dmi
Labels: Feature, Icon Change, Map Change

#7304 Gives traitor viros a dartgun
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#7294 conveyor belt now are stacks
  code/modules/cargo/packs.dm
  code/modules/recycling/conveyor2.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Tweak

#7233 adds a tacti cool kit based off of neo
  code/game/objects/items/storage/uplink_kits.dm
  yogstation/code/modules/reagents/reagent_containers/hypospray.dm
Labels: Feature

#7256 adds stormtrooper armor and helmet and a cargo crate for them working edition maybe thanks to missatesatessy for heping me
  code/modules/cargo/packs.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Feature, Icon Change

#7317 Lowers the pitch of midround notifications
  code/__HELPERS/game.dm
  sound/misc/notice3.ogg
Labels: Sound

#7319 Observers should now be able to actually unignore ignored stuff with the notification preferences verb
  yogstation.dme
Labels: DME Edit

#7282 Probably nerfs DNA vault stacking and speed ability
  code/modules/mob/living/carbon/human/species.dm
  code/modules/station_goals/dna_vault.dm
Labels: Tweak

#7303 tcomms achievement
  code/datums/achievements/achievements.dm
  yogstation/code/game/machinery/telecomms/machines/server.dm
Labels: Feature

#7312 tcomms emaged edition
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/machinery/telecomms/machines/server.dm
  code/game/machinery/telecomms/telecomunications.dm
Labels: Feature

#7268 Makes paper use the language system
  code/game/machinery/telecomms/computers/message.dm
  code/modules/detectivework/scanner.dm
  code/modules/language/language.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_premade.dm
  code/modules/paperwork/paperbin.dm
  code/modules/paperwork/photocopier.dm
  yogstation/code/modules/paperwork/paper.dm
Labels: Feature

#7320 Adds window shutters spawners
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/game/objects/effects/spawners/structure.dm
  icons/obj/structures_spawners.dmi
Labels: Map Change

#7336 Revert "Revert Ninja jail is no longer permanent"
  code/game/objects/items/implants/implant_explosive.dm
  code/modules/antagonists/ninja/ninja.dm
  code/modules/ninja/suit/n_suit_verbs/energy_net_nets.dm
Labels: Tweak

#7324 Omega tcomms but it actualy works
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
  yogstation/code/modules/jobs/job_types/signal_technician.dm
Labels: Map Change, Tweak

#7330 Fixes a few bugs with PDA language handling
  code/game/machinery/telecomms/computers/message.dm
  code/game/objects/items/devices/PDA/PDA.dm
Labels: Fix

#7339 port bomb rebalance from tg
  code/__DEFINES/combat.dm
  code/game/objects/effects/effect_system/effects_other.dm
  code/game/objects/items/devices/doorCharge.dm
  code/game/objects/items/grenades/plastic.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/monkey/monkey_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
Labels: Tweak

#7343 Might fix stromtrooper armor and helmet
  code/modules/cargo/packs.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Icon Change

#7338 Fixes issue #7107
  _maps/map_files/generic/CentCom.dmm
Labels: Map Change, Tweak

#7357 Add config option for making everyone a donator
  code/controllers/configuration/entries/general.dm
  config/config.txt
  yogstation/code/__HELPERS/mobs.dm
  yogstation/code/game/world.dm
Labels: Config

#7247 ports two diseases from beestation
  code/datums/diseases/advance/symptoms/radiation.dm
  yogstation.dme
Labels: DME Edit, Feature

#7376 removes deodorant sprite for not existing
  yogstation/icons/obj/items.dmi
Labels: Icon Change

#7382 Makes the Standard Mr Gutsy donor skin locked to the Standard module.
  yogstation/code/modules/donor/borg_ai_skin_datums.dm
Labels: Tweak

#7371 Encryption key places in your hands
  code/game/objects/items/devices/radio/headset.dm
Labels: Tweak

#7374 Bee's can ventcrawl
  code/modules/mob/living/simple_animal/hostile/bees.dm
Labels: Feature

#7384 Nerfs the atmospheric burn holodeck program
  code/__DEFINES/atmospherics.dm
Labels: Tweak

#7385 bomb do damage when devestation
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Fix

#7334 Debris follow fix 2: Electric Boogaloo
  _maps/RandomRuins/SpaceRuins/Academy.dmm
  _maps/RandomZLevels/Academy.dmm
  _maps/map_files/generic/CentCom.dmm
  code/modules/events/immovable_rod.dm
  yogstation/code/modules/events/immovable_duck.dm
Labels: Fix

#7361 Makes miasma production consume oxygen
  code/datums/components/rot.dm
Labels: Tweak

#7358 Fixes boris preventing law display on round end
  code/__HELPERS/roundend.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Tweak

#7410 removes Fagor from the ai name list for being unpronounceable in game, adds Yogbot to the list
  strings/names/ai.txt
Labels: Feature, Revert / Deletion

#7422 Demodularise dolphin soup + bug fix
  code/modules/food_and_drinks/food/snacks_soup.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
  yogstation.dme
  yogstation/code/modules/food_and_drinks/food/snacks_soup.dm
  yogstation/code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
Labels: DME Edit, Fix

#7386 Remove triple refill mode from air alarms
  code/modules/atmospherics/machinery/airalarm.dm
Labels: Revert / Deletion

#7407 A soul for a soul, a greentext for a greentext
  code/game/gamemodes/objective.dm
Labels: Feature

#7201 Ports guardian rework from hippie
  _maps/RandomRuins/SpaceRuins/Academy.dmm
  _maps/RandomZLevels/Academy.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/templates/pocket_dimension.dmm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/traits.dm
  code/_onclick/hud/guardian.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/fields/timestop.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/projectiles/projectile.dm
  code/modules/uplink/uplink_items.dm
  tgui-next/.eslintrc.yml
  tgui-next/packages/tgui/interfaces/Guardian.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/src/interfaces/guardian.ract
  yogstation.dme
  yogstation/code/modules/guardian/abilities/_ability.dm
  yogstation/code/modules/guardian/abilities/major/assassin.dm
  yogstation/code/modules/guardian/abilities/major/explosive.dm
  yogstation/code/modules/guardian/abilities/major/frenzy.dm
  yogstation/code/modules/guardian/abilities/major/gravity.dm
  yogstation/code/modules/guardian/abilities/major/hand.dm
  yogstation/code/modules/guardian/abilities/major/healing.dm
  yogstation/code/modules/guardian/abilities/major/predator.dm
  yogstation/code/modules/guardian/abilities/major/scout.dm
  yogstation/code/modules/guardian/abilities/major/time.dm
  yogstation/code/modules/guardian/abilities/minor/snares.dm
  yogstation/code/modules/guardian/abilities/minor/teleport.dm
  yogstation/code/modules/guardian/abilities/special/absolution.dm
  yogstation/code/modules/guardian/abilities/special/pocket.dm
  yogstation/code/modules/guardian/abilities/special/time.dm
  yogstation/code/modules/guardian/guardian.dm
  yogstation/code/modules/guardian/guardianability.dm
  yogstation/code/modules/guardian/guardianbuilder.dm
  yogstation/code/modules/guardian/guardiandatum.dm
  yogstation/code/modules/guardian/guardianstats.dm
  yogstation/code/modules/guardian/standarrow.dm
  yogstation/icons/effects/effects.dmi
  yogstation/icons/mob/inhands/lefthand.dmi
  yogstation/icons/mob/inhands/righthand.dmi
  yogstation/icons/obj/items.dmi
  yogstation/sound/effects/kingcrimson_end.ogg
  yogstation/sound/effects/kingcrimson_start.ogg
  yogstation/sound/effects/unnatural_clock_noises.ogg
  yogstation/sound/effects/vector_appear.ogg
  yogstation/sound/effects/vector_rush.ogg
  yogstation/sound/effects/zahando.ogg
Labels: DME Edit, Feature, Javascript, Map Change, Revert / Deletion

#7424 [admin] adds back kicking confirmation
  code/modules/admin/topic.dm
Labels: Admin

#7396 New Security Tools: Rainbow 6 Edition: Unfucked Edition
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/game/objects/items/storage/boxes.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/storage.dmi
Labels: Feature, Icon Change, Map Change

#7421 Reduces the timer on the firelock open when there is a pressure difference
  code/game/machinery/doors/firedoor.dm
Labels: Tweak

#7435 [admin] attempted cuffing logging
  code/game/objects/items/handcuffs.dm
Labels: Admin

#7450 Miners and mining medics can no longer start as rev heads (again)
  code/game/gamemodes/revolution/revolution.dm
Labels: Tweak

#7437 Enables CTF at round end
  code/__HELPERS/roundend.dm
Labels: prebase

#7429 Fixes some buttons defaulting to darkmode colors
  interface/skin.dmf
Labels: Fix

#7431 Adds safety flares
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/storage/boxes.dm
Labels: Feature, prebase

#7446 boring map things
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/game/area/Space_Station_13_areas.dm
Labels: Map Change

#7394 Map changes that ruffle my jimmies
  _maps/map_files/YogStation/YogStation.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/maint_surgery.dmm
Labels: Feature, Map Change, Revert / Deletion

#7442 Pepper spray now contains red dye to mark fleeing suspects
  code/modules/reagents/reagent_containers/spray.dm
Labels: Feature

#7465 aheal lizard no make tail smooth uwu
  code/modules/mob/living/carbon/human/species.dm
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: Fix

#7466 Adds another maint room
  _maps/map_files/YogStation/YogStation.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/maint_detective.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/maint_rpg.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Feature, Map Change
