Repository yogstation13/Yogstation, pull requests merged in 2020-01, with the labels that each got.

#7471 day 1 patch for lizard fixes
  code/modules/mob/living/carbon/human/species.dm
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: Fix

#7434 [admin] killer tomato logging
  code/modules/hydroponics/grown/tomato.dm
Labels: Admin

#7451 Adds meson health scanner HUDs
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/mob/eyes.dmi
  icons/obj/clothing/glasses.dmi
  yogstation/code/modules/jobs/job_types/mining_medic.dm
Labels: Feature, Icon Change, Sprites, prebase

#7418 Fix dragging through firelocks
  code/game/machinery/doors/firedoor.dm
Labels: Tweak

#7472 Adds Sprite Cranberry
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/vending/cola.dm
  icons/obj/drinks.dmi
Labels: Feature, Icon Change

#7447 Adds a secure medical crate
  code/game/objects/structures/crates_lockers/crates/secure.dm
  code/modules/cargo/packs.dm
  icons/obj/crates.dmi
Labels: Sprites, prebase

#7456 You can now emag the stasis bed
  code/game/machinery/stasis.dm
Labels: Feature

#7463 Tails can be wagged without starting with a tail
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: Feature

#7474 Large bin is craft-able now
  code/datums/components/crafting/recipes.dm
Labels: Feature

#7475 Sink and Shower are now Craft-able
  code/datums/components/crafting/recipes.dm
Labels: Feature

#7478 Adds a blob AI core display
  code/_globalvars/lists/flavor_misc.dm
  icons/mob/ai.dmi
Labels: Feature, Icon Change

#7479 Moves mining medic locker to lavaland base
  _maps/RandomRuins/LavaRuins/miningbase.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Tweak

#7469 Adds categories to the mining equipment vendors
  code/modules/mining/machine_vending.dm
  yogstation/code/datums/ruins/free_miners.dm
Labels: prebase

#7483 Limit non-space monstermos to 75 tiles at a time
  code/modules/atmospherics/environmental/monstermos.dm
Labels: Tweak

#7449 Adds a signal tech pda
  icons/obj/pda.dmi
Labels: Feature, Icon Change, Sprites

#7494 Wall pipes: destroyed
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#7489 Charlie station firelock update
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
Labels: Map Change, Tweak

#7501 Removes the slowdown of the wizard hardsuit
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Tweak

#7492 Shuttle message tweak
  code/modules/shuttle/shuttle.dm
Labels: Tweak

#7491 Make bag of holding chasms block air
  code/game/turfs/simulated/chasm.dm
Labels: Tweak

#7495 [map] Metastation map things
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#7496 [map] Pubbystation map things
  _maps/map_files/YogsPubby/YogsPubby.dmm
Labels: Map Change

#7498 [map] Omegastation map things
  _maps/map_files/Omegastation/omegastation.dmm
Labels: Map Change

#7505 [map] omega map fixes no one will notice
  _maps/map_files/Omegastation/omegastation.dmm
Labels: Map Change

#7509 pubby and meta map errors
  _maps/map_files/YogsPubby/YogsPubby.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#7524 mining apc errors very boring pr
  _maps/RandomRuins/LavaRuins/miningbase.dmm
  _maps/map_files/Mining/Lavaland.dmm
Labels: Map Change

#7525 change in space plating to airless
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/xenobridge_space.dmm
Labels: Map Change

#7481 Make tables and racks reduce spacewind
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
Labels: Tweak

#7497 Adds spare bowman headset to HOS locker
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Feature

#7506 Shower curtain privacy oversight fix
  code/game/objects/structures/watercloset.dm
Labels: Feature

#7513 Language holder for Preternis fix
  code/modules/language/language_holder.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Feature

#7514 Makes 1 part Omnizine + 1 part Phlogiston a substitute for Slime Jelly in Pyroxadone.
  code/modules/reagents/chemistry/recipes/medicine.dm
Labels: Feature

#7526 updates codeowners to my new username
  .github/CODEOWNERS
Labels: Tweak

#7512 syringle/autoinjectors resprite
  icons/obj/reagentfillings.dmi
  icons/obj/syringe.dmi
Labels: Icon Change

#7515 New Charlie Station
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  code/game/area/areas/ruins/space.dm
Labels: Feature, Map Change, Revert / Deletion

#7533 Space ruin mapping error fixes
  _maps/RandomRuins/SpaceRuins/Academy.dmm
  _maps/RandomRuins/SpaceRuins/DJstation.dmm
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomRuins/SpaceRuins/goatresearch.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/oldteleporter.dmm
  _maps/RandomRuins/SpaceRuins/spacebar.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/RandomRuins/SpaceRuins/turretedoutpost.dmm
Labels: Map Change

#7493 Adds back command EVA suits
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Feature, Icon Change, Map Change, prebase

#7535 Bug fix for new Charlie Station.
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  code/game/objects/effects/spawners/lootdrop.dm
Labels: Map Change

#7538 mapping errors fixes for box and delta
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
Labels: Map Change

#7372 Emote cooldown framework (no more spam)
  code/datums/emotes.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/mob_defines.dm
Labels: Feature

#7523 A single knife
  _maps/RandomRuins/LavaRuins/lavaland_surface_prisoner_crash.dmm
Labels: Feature, Map Change

#7521 Pubby QM office (and mech bay) remap
  _maps/map_files/YogsPubby/YogsPubby.dmm
  code/game/mecha/mech_bay.dm
  icons/turf/floors.dmi
Labels: Icon Change, Map Change

#7547 Important sink in recovery shuttle
  _maps/map_files/generic/CentCom.dmm
Labels: Feature, Map Change

#7545 Adds a cheese bar
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_cheese.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Feature, Map Change

#7554 Unbral tendril throw attack usable by pacifists
  yogstation/code/modules/antagonists/darkspawn/darkspawn_objects/umbral_tendrils.dm
Labels: Tweak

#7306 Adds Greytide implant
  code/game/objects/items/implants/implant_greytide.dm
  yogstation.dme
  yogstation/code/game/objects/items/storage/uplink_kits.dm
  yogstation/code/modules/antagonists/traitor/datum_mindslave.dm
  yogstation/code/modules/uplink/uplink_item.dm
Labels: DME Edit, Feature

#7457 Curtains! Color-able.
  code/datums/components/crafting/recipes.dm
  code/game/objects/structures/window.dm
  icons/obj/structures.dmi
Labels: Feature, Icon Change

#7473 Emag effect for light switch
  code/game/machinery/lightswitch.dm
Labels: Feature

#7534 Toilet is now craftable
  code/datums/components/crafting/recipes.dm
Labels: Feature

#7503 Catpeople no longer have a monopoly on being snowflakes
  code/modules/clothing/neck/_neck.dm
Labels: Fetish Content, Tweak, fuck

#7557 Port limb icon fix from tg
  code/game/machinery/limbgrower.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/update_icons.dm
  code/modules/surgery/bodyparts/bodyparts.dm
Labels: Fix

#7530 Removes implant breaker from the gang tool
  yogstation/code/game/gamemodes/gangs/gang_items.dm
Labels: Revert / Deletion

#7510 Blue lights with bad atmosphere
  code/game/area/areas.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/power/lighting.dm
  icons/obj/lighting.dmi
Labels: Feature, Icon Change

#7550 Fixes voice of god muting
  code/modules/surgery/organs/vocal_cords.dm
Labels: Fix

#7552 Urinal reborn
  code/datums/components/crafting/recipes.dm
Labels: Feature

#7254 Stacking machine rework
  code/modules/mining/machine_stacking.dm
  icons/obj/machines/mining_machines.dmi
Labels: Feature, Icon Change, WORK IN PROGRESS

#7559 Fixes toilets and also this is why im a better maintainer
  code/datums/components/crafting/recipes.dm
Labels: Fix

#7563 Gives sec borgs a donut dispenser
  code/game/objects/items/RSF.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Feature

#7566 HOW FUCKING HARD IS IT TO NOT BREAK SPACEPOD LASERS YOU FUCKS
  code/modules/projectiles/projectile.dm
Labels: Bug, Code Improvement, Fetish Content, Fix, IMPORTANT, Oversight, Verified, enhancement, fuck, fuck is an understatement, nice

#7569 Replaces firelocks with fans (whiteship_meta)
  _maps/shuttles/whiteship_meta.dmm
Labels: Map Change

#7580 map things
  _maps/map_files/Omegastation/omegastation.dmm
Labels: Map Change

#7581 Updates omegastation firelocks for monstermos
  _maps/map_files/Omegastation/omegastation.dmm
Labels: Map Change

#7582 adds back a firelock
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#7583 Removes duplicated firelocks
  _maps/shuttles/whiteship_delta.dmm
Labels: Map Change

#7573 Adds donk cake
  code/modules/food_and_drinks/food/snacks_cake.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_cake.dm
  icons/obj/food/piecake.dmi
Labels: Feature, Icon Change

#7591 Some pubby mapping issues
  _maps/map_files/YogsPubby/YogsPubby.dmm
Labels: Map Change

#7596 Removes cloning
  code/game/machinery/cloning.dm
Labels: Revert / Deletion

#7575 Conveyor recycling.
  code/modules/recycling/conveyor2.dm
Labels: Feature

#7433 Fixes several bugs with Paper, buffs/nerfs photocopiers
  code/modules/paperwork/paper.dm
  code/modules/paperwork/photocopier.dm
Labels: Fix

#7607 Fix ores going in hand when mining satchel is full
  code/datums/components/storage/concrete/_concrete.dm
Labels: Fix

#7608 Fixes clerk access not being available on access modification thingies.
  code/modules/jobs/access.dm
Labels: Fix

#7610 Fix firelocks breaking pulls after pulling through
  code/game/machinery/doors/firedoor.dm
Labels: Fix

#7611 Fixes #7537
  code/game/objects/items/pet_carrier.dm
Labels: Fix

#7613 Fixes #7540
  code/modules/spells/spell_types/projectile.dm
Labels: Fix

#7614 Fixes #7454
  code/game/objects/items/control_wand.dm
Labels: Fix

#7612 Actually Fixes #7600
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: Fix

#7615 Fixes #7123
  code/game/objects/items/shields.dm
Labels: Fix

#7616 Fixes #6914
  yogstation/code/game/objects/items/toys.dm
Labels: Fix

#7617 Fixes #6768
  code/modules/antagonists/highlander/highlander.dm
Labels: Fix

#7619 Fix miasma bypassing plasmaman immunity
  code/modules/surgery/organs/lungs.dm
Labels: Fix

#7620 Fixes #7109 (Simplemobs can't surrender anymore, for those who are too lazy to click on this and check the issue.)
  code/modules/mob/living/emote.dm
Labels: Fix

#7621 Fixes #3020
  code/modules/mob/living/simple_animal/parrot.dm
Labels: Fix

#7627 Fixes #7087
  code/modules/power/lighting.dm
Labels: Fix

#7622 Fixes solo changelings getting absorb-a-ling
  code/modules/antagonists/changeling/changeling.dm
Labels: Fix

#7628 Fix AI camera static being colored
  code/modules/mob/living/silicon/ai/freelook/cameranet.dm
Labels: Fix

#7629 Fixes pipe dispenser recycling bug
  code/game/machinery/pipe/pipe_dispenser.dm
Labels: Fix

#7630 fix people being able to open PDAs from afar using ctrl click
  yogstation/code/game/objects/items/devices/PDA/PDA.dm
Labels: Fix

#7631 Fix the rapid cable layer not working
  code/game/objects/items/RCL.dm
Labels: Fix

#7632 fixes ghosts interacting with ore boxes and tank dispensers
  code/game/objects/structures.dm
Labels: Fix

#7588 Locks security module to an upgrade
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Balance, Feature, Revert / Deletion, Verified

#7592 Adds janimaid uniform to janidrobe
  _maps/map_files/YogStation/YogStation.dmm
  code/modules/vending/wardrobes.dm
Labels: Feature, Map Change

#7626 Fixes #7275
  yogstation/code/datums/diseases/advance/symptoms/heal.dm
Labels: Fix

#7648 fixes the fuCKing secborg not being in the resarch tree
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#7650 Mapping issues
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#7502 Changes battlemage armor and wizard's hardsuit.
  _maps/map_files/generic/CentCom.dmm
  code/controllers/subsystem/traumas.dm
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/spells/spell.dm
Labels: Map Change, Tweak

#7541 I Fix The Mingun Osprey Through Sheer Willpower And Luck
  code/modules/projectiles/guns/ballistic/minigun.dm
  yogstation.dme
Labels: Tweak

#7663 Fixes not being able to say nitrogen unless you injected chemicals into a text box
  code/modules/mob/living/silicon/ai/vox_sounds.dm
Labels: Fix, fuck

#7657 Achievement Get Part 1 - Greentext Achievements
  code/controllers/subsystem/achievements.dm
  code/datums/achievements/achievements.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/abductor/abductor.dm
  code/modules/antagonists/blob/blob.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/clockcult/clockcult.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/disease/disease_datum.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/antagonists/pirate/pirate.dm
  code/modules/antagonists/revenant/revenant_antag.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/antagonists/traitor/IAA/internal_affairs.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/wizard/wizard.dm
  yogstation/code/datums/antagonists/vampire.dm
  yogstation/code/modules/antagonists/gang/gang.dm
  yogstation/code/modules/antagonists/shadowling/special_shadowling_abilities.dm
Labels: Feature

#7664 adds blinded me with science to roundstart music
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature

#7671 Fixes ÑÑƒÐºÐ° Ð±Ð»ÑÑ‚ÑŒ
  code/controllers/subsystem/chat.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/blob/powers.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/client/verbs/ooc.dm
  code/modules/goonchat/browserOutput.dm
  code/modules/mob/living/carbon/alien/humanoid/alien_powers.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/say.dm
  yogstation/code/modules/admin/verbs/adminsay.dm
  yogstation/code/modules/client/ooc.dm
  yogstation/code/modules/client/verbs/looc.dm
  yogstation/code/modules/libvg/utf8.dm
Labels: TESTMERGE

#7655 Minor atmos optimizations
  code/__DEFINES/atmospherics.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/environmental/monstermos.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
Labels: Performance

#7679 Fixes #7672 and #7364
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#7558 Removes katana from uplink
  yogstation/code/game/objects/items/weaponry.dm
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Balance, Revert / Deletion, i ded

#7618 Makes all blobs block atmos
  code/modules/antagonists/blob/structures/_blob.dm
Labels: Tweak

#7646 The same person can no longer both confirm and trigger keycard-auth events
  _maps/map_files/YogStation/YogStation.dmm
  code/datums/achievements/achievements.dm
  code/modules/security_levels/keycard_authentication.dm
Labels: Fix, Verified

#7662 Fixes #7579 (Backpack Preferences for Plasmamen) and some stuff i forgot
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: Fix

#7689 Fixes 2 APCs being unable to be seen by the AI.
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#7699 (boring pr pls ignore) removes pixel w from map
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#7669 gas station doesn't spawn with a fucking reskinned .357
  _maps/RandomRuins/LavaRuins/lavaland_surface_gas_station.dmm
Labels: Map Change, Tweak

#7700 map errors
  _maps/map_files/YogStation/YogStation.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_diner.dmm
Labels: Map Change

#7702 removes empty lines on maps
  _maps/RandomRuins/LavaRuins/miningbase.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#7701 Boxstation brig changes
  _maps/map_files/YogStation/YogStation.dmm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/modules/paperwork/paper_premade.dm
Labels: Feature, Map Change

#7711 db shotgun
  icons/obj/guns/projectile.dmi
Labels: Icon Change

#7720 Flips syringes horizontally and centres them. Also adds click catchers to each sprite.
  icons/obj/reagentfillings.dmi
  icons/obj/syringe.dmi
Labels: Icon Change, Tweak

#7714 Pirate flavor text updated
  code/modules/antagonists/pirate/pirate.dm
Labels: Tweak

#7666 smoking is now bad for you
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
Labels: Feature

#7668 unstable is mood quirk and gives points
  code/datums/traits/negative.dm
Labels: Tweak

#7698 Simble
  yogstation/code/modules/antagonists/darkspawn/darkspawn_progenitor.dm
Labels: Verified

#7685 Removes the absolution special holoparasite ability for not being a jojo reference
  code/__DEFINES/traits.dm
  yogstation.dme
  yogstation/code/modules/guardian/abilities/special/absolution.dm
Labels: DME Edit, Revert / Deletion

#7717 Stethoscope is finally craft-able
  code/modules/research/designs/autolathe_designs.dm
Labels: Feature

#7725 Add random animal spawner to cheese bar
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_cheese.dmm
Labels: Map Change

#7721 Adds two missing surgeries for the augmented among us.
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/implant_removal.dm
Labels: Feature

#7727 [admin] Adds a confirmation to nuke ops creation
  code/modules/admin/topic.dm
Labels: Admin

#7719 removes wizard mob atmos requirement
  code/modules/mob/living/simple_animal/hostile/wizard.dm
Labels: Tweak

#7740 removes Idinuum from code owners
  .github/CODEOWNERS
Labels: Revert / Deletion

#7723 Fixes some potential fatal errors in how paper handles language scrambling
  code/modules/language/language.dm
Labels: Fix

#7737 Fixes swedish speech mutation having æ & ø in it
  code/datums/mutations/speech.dm
Labels: Tweak, Verified
