Repository yogstation13/Yogstation, pull requests merged in 2020-12, with the labels that each got.

#10470 (port) new chaplain sect, the Ever-Burning Candle sect
  code/modules/religion/religion_sects.dm
  code/modules/religion/rites.dm
Labels: Feature

#10547 Continued space bar fixes and improvements
  _maps/RandomRuins/SpaceRuins/spacebar.dmm
Labels: Map Change

#10550 Five Layer Burrito
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  yogstation/icons/obj/food/food.dmi
Labels: Feature, Sprites, Tweak

#10559 Gets rid of some runtimes
  code/__DEFINES/is_helpers.dm
  code/game/mecha/mecha_actions.dm
  code/modules/modular_computers/computers/item/computer_ui.dm
Labels: Fix

#10555 Adds new buildmode features
  code/modules/buildmode/submodes/delete.dm
  code/modules/buildmode/submodes/outfit.dm
  code/modules/holodeck/area_copy.dm
  icons/misc/buildmode.dmi
  yogstation.dme
Labels: DME Edit, Feature, Sprites

#10561 Copy of #10479, Cleans up morgue and gives Psych an APC
  _maps/map_files/YogsDelta/YogsDelta.dmm
Labels: Awaiting - Merge, Feature, Map Change, Revert / Deletion

#10453 Adds Silent Night, by Christopher Lee, to the Holiday Playlist.
  code/modules/holiday/holidays.dm
Labels: Feature

#10564 [boring] Fixes some mapping issues
  _maps/RandomRuins/LavaRuins/lavaland_surface_cafe_of_broken_dreams.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_russianbunker.dmm
  _maps/RandomRuins/StationRuins/maint/5x4/5x4_icicle.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/mining_delta.dmm
Labels: Fix, Map Change

#10581 Makes hostile AI ever so slightly faster
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: Fix

#10575 Fixes "Spawn on Centcom" breaking Assassination Objectives
  code/modules/admin/verbs/randomverbs.dm
Labels: Admin, Fix

#10576 Fixes the Crew Manifest modular computer app printing garbage manifests
  code/modules/modular_computers/file_system/programs/crewmanifest.dm
  code/modules/modular_computers/hardware/printer.dm
Labels: Fix

#10577 Fixes Anti-magic sometimes not working, fixes Runic Bombs double-exploding sometimes
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/projectiles/projectile/magic.dm
Labels: Fix

#10548 Constructable & Linkable Shutters/Blastdoor + Mini-Refactor
  code/datums/components/crafting/recipes.dm
  code/game/machinery/buttons.dm
  code/game/machinery/doors/poddoor.dm
  code/modules/assembly/doorcontrol.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Feature

#10558 General Silicon Fixes
  code/modules/mob/living/silicon/robot/death.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#10563 NTSL Nerf: I hate slimes and drones edition
  yogstation/code/modules/scripting/Implementations/Telecomms.dm
Labels: Revert / Deletion

#10571 Droneia Rises
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/living/simple_animal/friendly/drone/extra_drone_types.dm
  code/modules/mob/living/simple_animal/friendly/drone/interaction.dm
  code/modules/mob/living/simple_animal/friendly/drone/verbs.dm
Labels: Feature

#10573 Undo my own work to make adminbus easier
  code/modules/holodeck/area_copy.dm
Labels: Tweak

#10584 removes stupid mines from the stupid russian ruin
  _maps/RandomRuins/LavaRuins/lavaland_surface_russianbunker.dmm
Labels: Map Change, Revert / Deletion

#10598 Revert "removes stupid mines from the stupid russian ruin" because it breaks compiler
  _maps/RandomRuins/LavaRuins/lavaland_surface_russianbunker.dmm
Labels: Map Change

#10599 Unrevert mine removal without breaking the compiler
  _maps/RandomRuins/LavaRuins/lavaland_surface_russianbunker.dmm
  code/game/area/areas/ruins/lavaland.dm
Labels: Fix, Map Change

#10587 made retro floor darker
  icons/turf/floors.dmi
Labels: Sprites

#10589 Fixes a paticular chemical in smoke form from creating 1000 runtimes
  code/modules/mob/living/carbon/carbon.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#10592 Gamer deletes all your saved TGChat setup for no particular reason
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/chat/reducer.js
  tgui/public/tgui-panel.bundle.js
Labels: Javascript, tgui

#10595 Makes the WT rifle incapable of being dual wielded
  code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Tweak

#10590 Supermatter Autodoc + Code Cleanup
  code/modules/power/supermatter/supermatter.dm
Labels: Tweak

#10580 Fixes several bugs with Goldgrubs, allows them to eat titanium and have more ore in their tummy
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goldgrub.dm
Labels: Fix, Tweak

#10569 Fixes: Comms Consoles, Space Pods, HoloCreator, Disease Stat Panel, Achievement ui, Select Equipment, Dilithium crystals, hides server hop
  code/controllers/subsystem/runechat.dm
  code/controllers/subsystem/statpanels.dm
  code/game/machinery/computer/communications.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/antagonists/disease/disease_mob.dm
  config/private_server.txt
  tgui/packages/tgui/interfaces/Achievements.js
  tgui/packages/tgui/interfaces/Guardian.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
  yogstation/code/game/objects/items/stacks/dilithiumcrystal.dm
  yogstation/code/modules/spacepods/spacepod.dm
Labels: Admin, Config, Fix, Javascript, tgui

#10505 Atmospherics Patch 1 - No map edition
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomRuins/SpaceRuins/pubby_monastery.dmm
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/mining/Icemoon.dmm
  code/__DEFINES/layers.dm
  code/__DEFINES/reactions.dm
  code/game/objects/items/RPD.dm
  code/game/objects/items/stacks/sheets/hot_ice.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/atmospherics/machinery/components/unary_devices/portables_connector.dm
  code/modules/atmospherics/machinery/other/meter.dm
  html/changelogs/AutoChangelog-pr-10513.yml
Labels: DO NOT MERGE, Map Change, WORK IN PROGRESS

#10565 Makes Polysmoprh Playable by All
  code/modules/language/language_holder.dm
  code/modules/language/polysmorph.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/human/species_types/polysmorphs.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/tongue.dm
  config/game_options.txt
  yogstation.dme
  yogstation/code/modules/scripting/Implementations/Telecomms.dm
Labels: Config, DME Edit, Feature

#10583 Moves dynamic ruleset execute buttons + fixes forced rulesets ignoring configs.
  code/game/gamemodes/dynamic/dynamic.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
Labels: Admin, Fix, Tweak

#10585 adds seedlings to abandoned space zoo
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
Labels: Feature, Map Change

#10570 [Ready to Merge] NTSL Nerf: The Great Compromise Edition
  yogstation/code/modules/scripting/Implementations/Telecomms.dm
Labels: Config, DME Edit, Revert / Deletion

#10640 (Again) Adds new Holodeck Enviorment: Gym
  _maps/map_files/generic/CentCom.dmm
  code/game/area/areas/holodeck.dm
Labels: Feature, Map Change

#10630 Fixes showers not putting people out - Water right?
  code/game/objects/structures/shower.dm
Labels: Fix

#9886 clock cultists now warp to the station far slower after converting 20% of living players unless they are teleporting onto clockwork floors
  code/__DEFINES/clockcult.dm
  code/game/gamemodes/clock_cult/clock_cult.dm
  code/game/machinery/computer/camera_advanced.dm
  code/game/objects/effects/temporary_visuals/clockcult.dm
  code/modules/antagonists/clockcult/clockcult.dm
Labels: Test Merge - Requested, Test Merge - Scheduled, Tweak

#10361 shadowlings get nightmare jaunt
  yogstation/code/modules/antagonists/shadowling/shadowling_abilities.dm
  yogstation/code/modules/antagonists/shadowling/special_shadowling_abilities.dm
Labels: Feature, Tweak

#10423 Makes nullrods being reskinnable after first reskin
  code/game/objects/items/holy_weapons.dm
  code/modules/jobs/job_types/chaplain.dm
Labels: Tweak

#10427 Adds A Bone Pickaxe
  code/datums/components/crafting/recipes.dm
  code/modules/mining/equipment/mining_tools.dm
  icons/obj/mining.dmi
Labels: Feature, Merge conflict, Sprites

#10511 Changes the description of the stabilized light pink extract to match the change Adam made like a year ago because the lack of a speed boost is what the actual intended behavior is
  code/modules/research/xenobiology/crossbreeding/stabilized.dm
Labels: Tweak

#10554 adds pea wine
  code/modules/hydroponics/grown/peas.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Feature, Wiki - Needs updating

#10582 Major wizard academy changes
  _maps/RandomRuins/SpaceRuins/Academy.dmm
  code/modules/mob/living/simple_animal/hostile/wizard.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  icons/mob/simple_human.dmi
Labels: Awaiting - Action - Maintainer, Awaiting - HC Review, Controversial, Map Change, Sprites, Tweak

#10596 more cargo bounties, more bounties spawn roundstart, some bounty nerfs
  code/modules/cargo/bounties/assistant.dm
  code/modules/cargo/bounties/botany.dm
  code/modules/cargo/bounties/chef.dm
  code/modules/cargo/bounties/medical.dm
  code/modules/cargo/bounties/mining.dm
  code/modules/cargo/bounties/reagent.dm
  code/modules/cargo/bounties/science.dm
  code/modules/cargo/bounties/security.dm
  code/modules/cargo/bounty.dm
Labels: Feature, Tweak

#10604 Adding cyanide to a carpet will make it a cyan carpet
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Fix

#10605 increases the realism of the ark spaghetti generation by removing the tomato sauce
  code/modules/antagonists/clockcult/clock_structures/ark_of_the_clockwork_justicar.dm
Labels: Tweak

#10610 radiation suits now offer a small ammount of brute and bomb resist
  code/modules/clothing/suits/utility.dm
Labels: Feature

#10612 christmas now starts earlier
  code/modules/holiday/holidays.dm
Labels: Tweak

#10613 artists now get payed as much as assistants
  code/modules/jobs/job_types/artist.dm
Labels: Tweak

#10614 adds the post modern scarf to the clothesmate
  code/modules/vending/clothesmate.dm
Labels: Tweak

#10615 Fixed chameleon gear not being able to use Yogstation custom clothing
  code/modules/clothing/chameleon.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/vending/gift.dm
  yogstation/code/modules/antagonists/gang/gang_datums.dm
  yogstation/code/modules/clothing/under/miscellaneous.dm
  yogstation/icons/obj/clothing/uniforms.dmi
Labels: Fix, Sprites

#10617 Reduces ear rapey sound volume (capitalism.ogg and russian_anthem_chorus.ogg)
  sound/misc/Russian_Anthem_chorus.ogg
  sound/misc/capitialism.ogg
Labels: Sound, Tweak

#10618 adds the giga drill to mining vendor for 50000 mining points
  code/modules/mining/machine_vending.dm
Labels: Feature

#10624 Chemical heaters now scale from max_temprature not target temprerature
  code/modules/reagents/chemistry/machinery/chem_heater.dm
Labels: Tweak

#10632 Removes the majority of the drinks from the perma drink vendor on box
  _maps/map_files/YogStation/YogStation.dmm
  code/modules/vending/cola.dm
Labels: Awaiting - HC Review, Balance, Map Change, Tweak

#10633 Replaces the nuka cola speed boost with a damage slowdown resistance
  code/__DEFINES/traits.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Revert / Deletion, Tweak

#10634 Fixes Supermatter not loosing power
  code/modules/power/supermatter/supermatter.dm
Labels: Fix

#10636 permabrig toilet now starts open
  _maps/map_files/YogStation/YogStation.dmm
Labels: Awaiting - Merge, Map Change, Tweak

#10638 Fixes missing areas at CentCom
  _maps/map_files/generic/CentCom.dmm
Labels: Feature, Map Change, Merge conflict

#10642 nerfs adamantine armor so that it's no longer literally better than deathsquad armor
  code/modules/research/xenobiology/crossbreeding/_clothing.dm
Labels: Tweak

#10659 Fixes Incorrect Area outside of lavaland_surface_biodome_winter
  _maps/RandomRuins/LavaRuins/lavaland_surface_biodome_winter.dmm
Labels: Feature, Map Change, Revert / Deletion

#10651 Fixes genetics curtains being pointless by making the door itself solid
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#10660 adds anesthetic to robotics lab: now in MRP-O-VISION!!
  _maps/map_files/YogStation/YogStation.dmm
Labels: Controversial, Feature, Map Change

#10649 Matches the frequency of the torture device in the oldAIset ruin
  _maps/RandomRuins/SpaceRuins/oldAIsat.dmm
Labels: Fix, Map Change

#10657 Fixes 2 bugs with blastdoor crafting
  code/datums/components/crafting/recipes.dm
  code/game/machinery/doors/poddoor.dm
Labels: Fix

#10677 Connected loose medbay scrubbers
  _maps/map_files/YogStation/YogStation.dmm
Labels: Fix, Map Change

#10679 Moves the hoop on Eclipse's bar
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_eclipse.dmm
Labels: Fix, Map Change

#10648 Finally fixes Auto-Reconnect with some jank bodge code
  code/modules/client/client_procs.dm
  code/modules/tgui_panel/tgui_panel.dm
  tgui/packages/tgui-panel/game/actions.js
  tgui/packages/tgui-panel/game/reducer.js
  tgui/public/tgui-panel.bundle.js
Labels: Fix, Javascript, tgui

#10670 makes it so that armblades cannot be melted with acid
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
Labels: Tweak

#10551 (port) Crystalized Crossbreeds (Adamantine) and ports bull terriers
  code/modules/cargo/packs.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/research/xenobiology/crossbreeding/_misc.dm
  code/modules/research/xenobiology/crossbreeding/_structures.dm
  code/modules/research/xenobiology/crossbreeding/crystalized.dm
  icons/mob/pets.dmi
  icons/obj/slimecrossing.dmi
  yogstation.dme
Labels: DME Edit, Feature, Sprites, Wiki - Needs updating

#10588 Dynamic Threat Level is no longer announced over the station's announcement intercomm.
  code/game/gamemodes/dynamic/dynamic.dm
Labels: Tweak

#10593 A couple cargo nerfs via gun crate price increases while I wrap up my PR to port TG's roundstart cybernetic organs.
  code/modules/cargo/packs.dm
Labels: Feature, Revert / Deletion, Tweak

#10645 Refactor RSF + Make it craftable
  code/game/objects/items/RSF.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature

#10650 Minor variation framework + brig cell variations
  _maps/map_files/YogStation/YogStation.dmm
  code/game/objects/effects/spawners/minor_variation.dm
  code/game/objects/effects/spawners/minor_variation_templates.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  icons/effects/landmarks_variation.dmi
  yogstation.dme
Labels: DME Edit, Feature, Map Change, Sprites

#10654 Finally cleans up all accents
  strings/accents/accent_brooklyn.json
  strings/accents/accent_chef_muppet.json
  strings/accents/accent_connery.json
  strings/accents/accent_cowboy.json
  strings/accents/accent_cowboylight.json
  strings/accents/accent_french.json
  strings/accents/accent_germanlight.json
  strings/accents/accent_jive.json
  strings/accents/accent_kraut.json
  strings/accents/accent_oldenglish.json
  strings/accents/accent_ork.json
  strings/accents/accent_pirate.json
  strings/accents/accent_piratelight.json
  strings/accents/accent_pseudolatin.json
  strings/accents/accent_scottish.json
  strings/accents/accent_scottishlight.json
  strings/accents/accent_shakespearean.json
  strings/accents/accent_shakespeareanlight.json
  strings/accents/accent_skaven.json
  strings/accents/accent_valspeak.json
  strings/accents/accents.json
Labels: Feature

#10658 Adds Transit Shuttle icemoon ruin
  _maps/RandomRuins/IceRuins/icemoon_surface_shuttle_transit.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_library.dmm
  code/datums/ruins/icemoon.dm
  config/iceruinblacklist.txt
Labels: Awaiting - Merge, Config, Feature, Map Change

#10661 Wampa Cave Ice Moon Ruin
  _maps/RandomRuins/IceRuins/icemoon_underground_wampacave.dmm
  code/datums/ruins/icemoon.dm
  config/iceruinblacklist.txt
Labels: Awaiting - Merge, Config, Feature, Map Change

#10669 Some ion laws changes
  strings/yogs_ion_laws.json
  yogstation/code/modules/events/ion_storm.dm
Labels: Tweak

#10664 Should make bloodcult ban work
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
Labels: Fix

#10672 fixes ash drakes and apparently every other megafauna not being able to hear anything
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
Labels: Fix

#10676 Paper ruin less cheeseable
  _maps/RandomRuins/SpaceRuins/originalcontent.dmm
Labels: Map Change, Tweak

#10680 [boring] Some mapping fixes
  _maps/RandomRuins/LavaRuins/lavaland_surface_cugganscove.dmm
  _maps/RandomRuins/SpaceRuins/spacebar.dmm
  _maps/RandomRuins/StationRuins/BoxStation/engine_singulo_tesla.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/shuttles/whiteship_meta.dmm
Labels: Fix, Map Change, Tweak

#10681 Radstorms no longer mutate radimmune species
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/~yogs_defines/is_helpers.dm
  code/datums/weather/weather_types/radiation_storm.dm
Labels: Fix

#10682 fixes polysmorphs not being able to wear lipstick properly
  code/game/objects/items/cosmetics.dm
Labels: Tweak

#10685 Prevents tk from being used on things with mobs buckled to them
  code/_onclick/telekinesis.dm
Labels: Fix

#8991 CLOCK AND BLOOD TORTURE 2: THE RESUMMONING
  code/__DEFINES/cult.dm
  code/__DEFINES/role_preferences.dm
  code/_onclick/hud/alert.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/ticker.dm
  code/datums/status_effects/debuffs.dm
  code/game/gamemodes/clock_cult/clock_cult.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/traitor/traitorcult.dm
  code/game/objects/items/implants/implantcase.dm
  code/game/objects/items/robot/robot_parts.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/antagonists/clockcult/clock_effects/clock_sigils.dm
  code/modules/antagonists/clockcult/clock_helpers/fabrication_helpers.dm
  code/modules/antagonists/clockcult/clock_helpers/power_helpers.dm
  code/modules/antagonists/clockcult/clock_items/construct_chassis.dm
  code/modules/antagonists/clockcult/clock_items/replica_fabricator.dm
  code/modules/antagonists/clockcult/clock_items/soul_vessel.dm
  code/modules/antagonists/clockcult/clock_mobs.dm
  code/modules/antagonists/clockcult/clock_mobs/clockwork_marauder.dm
  code/modules/antagonists/clockcult/clock_scripture.dm
  code/modules/antagonists/clockcult/clock_scriptures/scripture_applications.dm
  code/modules/antagonists/clockcult/clock_scriptures/scripture_drivers.dm
  code/modules/antagonists/clockcult/clock_scriptures/scripture_scripts.dm
  code/modules/antagonists/clockcult/clock_structures/mania_motor.dm
  code/modules/antagonists/clockcult/clockcult.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/cult/cult_comms.dm
  code/modules/antagonists/cult/cult_structures.dm
  code/modules/antagonists/cult/ritual.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/traitorcult/implantobjectives.dm
  code/modules/antagonists/traitorcult/soulextractobjectives.dm
  code/modules/antagonists/traitorcult/traitorblood.dm
  code/modules/antagonists/traitorcult/traitorclock.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/power/singularity/narsie.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  config/game_options.txt
  yogstation.dme
Labels: Admin, Awaiting - Action - Maintainer, Awaiting - HC Review, Feature

#10687 Revert "CLOCK AND BLOOD TORTURE 2: THE RESUMMONING"
  code/__DEFINES/cult.dm
  code/__DEFINES/role_preferences.dm
  code/_onclick/hud/alert.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/ticker.dm
  code/datums/status_effects/debuffs.dm
  code/game/gamemodes/clock_cult/clock_cult.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/traitor/traitorcult.dm
  code/game/objects/items/implants/implantcase.dm
  code/game/objects/items/robot/robot_parts.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/antagonists/clockcult/clock_effects/clock_sigils.dm
  code/modules/antagonists/clockcult/clock_helpers/fabrication_helpers.dm
  code/modules/antagonists/clockcult/clock_helpers/power_helpers.dm
  code/modules/antagonists/clockcult/clock_items/construct_chassis.dm
  code/modules/antagonists/clockcult/clock_items/replica_fabricator.dm
  code/modules/antagonists/clockcult/clock_items/soul_vessel.dm
  code/modules/antagonists/clockcult/clock_mobs.dm
  code/modules/antagonists/clockcult/clock_mobs/clockwork_marauder.dm
  code/modules/antagonists/clockcult/clock_scripture.dm
  code/modules/antagonists/clockcult/clock_scriptures/scripture_applications.dm
  code/modules/antagonists/clockcult/clock_scriptures/scripture_drivers.dm
  code/modules/antagonists/clockcult/clock_scriptures/scripture_scripts.dm
  code/modules/antagonists/clockcult/clock_structures/mania_motor.dm
  code/modules/antagonists/clockcult/clockcult.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/cult/cult_comms.dm
  code/modules/antagonists/cult/cult_structures.dm
  code/modules/antagonists/cult/ritual.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/traitorcult/implantobjectives.dm
  code/modules/antagonists/traitorcult/soulextractobjectives.dm
  code/modules/antagonists/traitorcult/traitorblood.dm
  code/modules/antagonists/traitorcult/traitorclock.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/power/singularity/narsie.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  config/game_options.txt
  yogstation.dme
Labels: Admin

#10703 Lets not override a build design
  code/modules/research/designs/autolathe_designs.dm
Labels: Fix

#10690 fixes tk
  code/_onclick/telekinesis.dm
Labels: Fix

#10688 Reverts adam's removal of burst autorifles
  code/modules/cargo/packs.dm
Labels: Feature, Revert / Deletion

#10691 Adds the song "Tentacles!" to H.P. Lovecraft's Birthday!
  code/modules/holiday/holidays.dm
Labels: Feature

#10693 Finger snapping
  code/modules/mob/living/carbon/emote.dm
  sound/misc/fingersnap1.ogg
  sound/misc/fingersnap2.ogg
Labels: Feature, Sound

#10697 fixed version of #10597
  code/datums/diseases/transformation.dm
Labels: Fix

#10715 Reverts seedling pr because it's causing over 2000 runtimes
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
Labels: Map Change, Revert / Deletion

#10719 Replaces the radio implant in xenobio with a regular radio
  _maps/map_files/YogStation/YogStation.dmm
Labels: Fix, Map Change

#10705 Hexane no longer allows you to see dead chat and instead makes you immune to radiation
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Feature, Revert / Deletion

#10707 probably fixes hexane formation
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Fix

#10711 Fixes Shrinking into quantum realm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#10713 Gives Drying Rack a Off Sprite
  icons/obj/hydroponics/equipment.dmi
Labels: Fix, Sprites

#10714 Removes the 'DNA' from abductors
  code/modules/mob/living/carbon/human/species_types/abductors.dm
Labels: Tweak

#10720 Fixes Singlo making infinite metal out of reinforced floors
  code/game/turfs/simulated/floor/reinf_floor.dm
Labels: Tweak

#10699 [PORT] Makes nanites more accessible, giving them a separate research point type
  code/__DEFINES/nanites.dm
  code/__DEFINES/research.dm
  code/datums/components/nanites.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature, Tweak

#10702 [PORT] Shuttle UIs and cyborg frame UIs
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mining/laborcamp/laborshuttle.dm
  code/modules/mining/mine_items.dm
  code/modules/shuttle/computer.dm
  code/modules/shuttle/ferry.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/syndicate.dm
  tgui/packages/tgui/interfaces/CyborgBootDebug.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Javascript, Tweak, tgui

#10748 Places Proper Reinforced Walls on Execution Room (Transfer Center)
  _maps/RandomRuins/StationRuins/BoxStation/transfer1.dmm
  _maps/RandomRuins/StationRuins/BoxStation/transfer2.dmm
  _maps/RandomRuins/StationRuins/BoxStation/transfer3.dmm
  _maps/RandomRuins/StationRuins/BoxStation/transfer4.dmm
  _maps/RandomRuins/StationRuins/BoxStation/transfer5.dmm
  _maps/RandomRuins/StationRuins/BoxStation/transfer6.dmm
  _maps/RandomRuins/StationRuins/BoxStation/transfer7.dmm
  _maps/RandomRuins/StationRuins/BoxStation/transfer8.dmm
  _maps/RandomRuins/StationRuins/BoxStation/transfer9.dmm
Labels: Fix, Map Change

#10747 Fixes #10737 Defib revival now heal robotic limbs(and preternis) too
  code/game/objects/items/defib.dm
Labels: Tweak

#10683 ID Consoles read your ID from your body, no need to stick it in
  code/game/machinery/computer/card.dm
Labels: Feature

#10696 Gives action buttons some feedback
  code/_onclick/hud/action_button.dm
Labels: Tweak

#10698 Electric chair shocks can deconvert revs
  code/game/objects/structures/electricchair.dm
Labels: Old Yogs Port, Tweak

#10704 Anvil's PR template changes n stuff
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

#10710 significantly nerfs gas exports
  code/modules/cargo/exports/large_objects.dm
Labels: Tweak

#10721 Adds a Inn ruin for ice planet
  _maps/RandomRuins/IceRuins/icemoon_surface_inn.dmm
  code/datums/ruins/icemoon.dm
  code/game/area/areas/ruins/icemoon.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/jobs/jobs.dm
  config/iceruinblacklist.txt
  yogstation/code/game/objects/items/implants/implant_teleporter.dm
Labels: Config, Feature, Map Change

#10724 Ports a modified variant of TG's uranium golem rework
  code/modules/mob/living/carbon/human/species_types/golems.dm
Labels: Tweak

#10725 Fixes using the BSRPED to remotely blow up every single machine on the station through cameras
  code/game/machinery/_machinery.dm
Labels: Tweak

#10726 You can now attack open supply closets
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix

#10728 ports formaldehyde preventing organ decay and formaldehyde in medipens
  code/__DEFINES/traits.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/surgery/organs/organ_internal.dm
Labels: Tweak

#10729 Nerfs defibs EMP effect
  code/game/objects/items/defib.dm
Labels: Revert / Deletion

#10735 fixes revenants being deaf and also sneaks in a feature with the bug fix in a case of horrible coding practice
  code/modules/antagonists/revenant/revenant.dm
Labels: Feature, Fix

#10736 Fixes adding mentors not adding an admin log entry properly because whoever coded mentors does not know how to database
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  yogstation/code/modules/admin/topic.dm
Labels: SQL

#10739 Fixes Rotatium
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Fix, Tweak

#10743 The Revenant Malfunction ability can now damage and destroy window shutters.
  code/modules/antagonists/revenant/revenant_abilities.dm
Labels: Feature

#10744 Adds chocolate cheese cake
  code/modules/food_and_drinks/food/snacks_cake.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_cake.dm
  icons/obj/food/piecake.dmi
Labels: Feature, Sprites, Tweak

#10745 Fixes minor variations executing over itself
  code/game/objects/effects/spawners/minor_variation.dm
  code/game/objects/effects/spawners/minor_variation_templates.dm
Labels: Fix

#10727 Replaces gas exports with gas bounties
  code/modules/cargo/bounties/engineering.dm
  code/modules/cargo/bounty.dm
  code/modules/cargo/exports/large_objects.dm
Labels: Feature, Revert / Deletion

#10750 Fixes donators not being able to use the donation tab because kmc is a shitty coder and oh my fucking god why are you so bad i hate this i hate savefiles who came up with the idea of savefiles theres like 30 migrations in them because WHY THE FUCK NOT hi dad hi mom
  code/modules/client/preferences_savefile.dm
  yogstation/code/modules/client/preferences.dm
Labels: Fix

#10752 Spraycanpuncture
  code/game/objects/items/crayons.dm
Labels: Feature

#10758 Makes changeling antag moodlet distinct from traitors, as strong as cult, and creepier
  code/datums/mood_events/generic_positive_events.dm
  code/modules/antagonists/changeling/changeling.dm
Labels: Tweak

#8144 Removes Syndicate meta from the game
  code/__DEFINES/~yogs_defines/is_helpers.dm
  code/_onclick/drag_drop.dm
  code/datums/action.dm
  code/game/machinery/launch_pad.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/paperwork/pen.dm
  code/modules/uplink/uplink_items.dm
  yogstation/code/modules/clothing/chameleon.dm
Labels: Awaiting - Action - Author, Feature, Refactor, Stale, Tweak

#7984 Zombie Gamemode
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/role_preferences.dm
  code/controllers/configuration/configuration.dm
  code/datums/hud.dm
  code/datums/mind.dm
  code/game/gamemodes/zombie/zombie.dm
  code/game/machinery/cloning.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/modules/antagonists/zombie/abilities/acid.dm
  code/modules/antagonists/zombie/abilities/adrenaline.dm
  code/modules/antagonists/zombie/abilities/necromance.dm
  code/modules/antagonists/zombie/abilities/spit.dm
  code/modules/antagonists/zombie/abilities/tank.dm
  code/modules/antagonists/zombie/abilities/uncuff.dm
  code/modules/antagonists/zombie/zombie.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/zombie/items.dm
  code/modules/zombie/organs.dm
  yogstation.dme
  yogstation/icons/mob/hud.dmi
Labels: Admin, DME Edit, Feature, Icon Change, Sprites

#9953 Makes Budget Insuls have two charges of absorbing shocks, After which they turn to ash.
  code/modules/clothing/gloves/color.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: TESTMERGED, Tweak

#10602 Atmospherics - Patch 2 - Electrolyzer Boogaloo [WIP]
  code/game/machinery/electrolyzer.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/atmospherics/machinery/components/unary_devices/portables_connector.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  icons/obj/atmospherics/components/unary_devices.dmi
Labels: Fix, Sprites, Tweak

#10762 [PORT] Fixes ejecting from lathes through rnd console
  code/modules/research/rdconsole.dm
Labels: Fix

#10760 Fixes Centcom PDA and also Node Notifier Security Vuln
  code/modules/admin/verbs/randomverbs.dm
  code/modules/jobs/job_types/centcom.dm
  tgui/yarn.lock
Labels: Admin, Dependencies, Fix, tgui

#10763 Add Medical Surgery Kits and give them to MDs/CMO
  code/game/objects/items/storage/firstaid.dm
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  icons/obj/storage.dmi
Labels: Awaiting - HC Review, DO NOT MERGE, Feature, Sprites
