Repository yogstation13/Yogstation, pull requests merged in 2020-02, with the labels that each got.

#7739 Removes VR sleeper board from circuit imprinters
  code/modules/research/designs/machine_designs.dm
Labels: Revert / Deletion

#7744 Re-adds the darker pattern scarves to the Clothesmate
  code/modules/vending/clothesmate.dm
Labels: Feature

#7743 mhelp how suc blöd pLEASE HELP MINTOR
  yogstation/code/datums/antagonists/vampire.dm
Labels: Tweak

#7751 Casually removes the ability for admins to do SQL injection and destroy yogstation
  code/controllers/subsystem/achievements.dm
Labels: Admin, Fix, Oversight, Security Issue, Verified, fuck, fuck is an understatement, nice

#7758 ushanka resprite
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Icon Change, Tweak, Verified

#7754 add protect/maroon as obsessed endgame objective
  code/modules/antagonists/creep/creep.dm
Labels: Feature, Verified

#7755 fix polaroid and readd it to obsessed objective stuff
  code/modules/antagonists/creep/creep.dm
Labels: Fix

#7738 moves the magic mirror/some wizards a bit, removes some loot from the academy leader or whatever room and gives wizards boss level sentience
  _maps/RandomRuins/SpaceRuins/Academy.dmm
  code/modules/mob/living/simple_animal/hostile/wizard.dm
Labels: Map Change, Tweak

#7752 passiveness effect doesn't work on things that guard stuff
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
Labels: Verified

#7749 Gloves of Hugging
  code/game/machinery/computer/arcade.dm
  code/modules/clothing/gloves/miscellaneous.dm
Labels: Feature

#7715 Accent Project
  code/__DEFINES/traits.dm
  code/_globalvars/lists/mobs.dm
  code/controllers/subsystem/ticker.dm
  code/datums/mind.dm
  code/datums/traits/good.dm
  code/datums/traits/negative.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/new_player.dm
  strings/accents/accent_belter.json
  strings/accents/accent_brooklyn.json
  strings/accents/accent_chef_muppet.json
  strings/accents/accent_connery.json
  strings/accents/accent_cowboy.json
  strings/accents/accent_cowboylight.json
  strings/accents/accent_french.json
  strings/accents/accent_germanlight.json
  strings/accents/accent_jive.json
  strings/accents/accent_kraut.json
  strings/accents/accent_oldenglish.json
  strings/accents/accent_ork.json
  strings/accents/accent_owo.json
  strings/accents/accent_pirate.json
  strings/accents/accent_piratelight.json
  strings/accents/accent_scottish.json
  strings/accents/accent_scottishlight.json
  strings/accents/accent_shakespeareanlight.json
  strings/accents/accent_spakespearean.json
  strings/accents/accent_valspeak.json
  strings/accents/accents.json
  yogstation/code/datums/mind.dm
  yogstation/code/modules/client/preferences.dm
Labels: Feature

#7694 adds new chem "grave-digger"
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Feature, Verified

#7745 inhands sprots that arent unbearable to look at and then some
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
Labels: Icon Change, Tweak

#7765 Fixes some Quirks not working
  code/controllers/subsystem/ticker.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: Fix

#7772 Cleans up the old English accent!
  strings/accents/accent_oldenglish.json
Labels: Tweak

#7773 Fixed Shakespearean
  strings/accents/accent_shakespearean.json
Labels: Fix

#7747 Updates header.html for changelog
  html/changelog.html
  html/templates/header.html
Labels: Tweak

#7756 fix to make badblink not jettison people straight out of cloners making them immune to air, heart, and liver damage but also completely incapable of communication
  code/datums/mutations/body.dm
Labels: Fix, Verified

#7781 Deletes owo accent
  strings/accents/accent_owo.json
  strings/accents/accents.json
Labels: Revert / Deletion

#7766 Folding folders.
  code/modules/paperwork/folders.dm
Labels: Feature

#7753 Increase minimum pop for blob
  code/modules/events/blob.dm
Labels: Tweak

#7786 Removes the gold necklace contraband item from the clothing vendor
  code/modules/vending/clothesmate.dm
Labels: Revert / Deletion

#7697 Random Role Option (Late Game Joining)
  code/controllers/subsystem/job.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: Feature, Tweak, Verified

#7764 Nerf wizard academy 2
  _maps/RandomRuins/SpaceRuins/Academy.dmm
Labels: Map Change, Revert / Deletion

#7775 Fix disposals issue in HoP office
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#7649 Allow firelocks to be opened without crowbar in more situations
  code/game/machinery/doors/firedoor.dm
Labels: Tweak

#7759 Disarm pushes now knockdown instead of paralyze
  code/modules/mob/living/carbon/human/species.dm
Labels: Balance, Controversial, Fetish Content, Tweak, Verified

#7770 Engineering borgs can no longer destroy reinforced walls with their RCD
  code/game/objects/items/RCD.dm
Labels: Tweak

#7783 slings now pack a punch when ascended
  yogstation/code/modules/antagonists/shadowling/ascendant_shadowling.dm
Labels: Tweak

#7808 Glass shards grind-able
  code/game/objects/items/stacks/sheets/glass.dm
Labels: Feature

#7769 Adds cyborg damage slowdown
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Feature, nice

#7811 Fettuccine Alfredo
  code/modules/food_and_drinks/food/snacks_spaghetti.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_spaghetti.dm
  icons/obj/food/pizzaspaghetti.dmi
Labels: Feature, Icon Change

#7782 Adds Skaven Accent
  strings/accents/accent_skaven.json
  strings/accents/accents.json
Labels: Feature

#7809 makes red queen have a effect (heals 1 more then mannitol)
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Feature

#7828 change food and drinks links
  code/game/objects/items/manuals.dm
Labels: Tweak

#7779 Replace stimpacks in the lavaland cafe thing with a suit of power armor so people can stop putting "stimpacks" on the list of OP lavaland loot
  _maps/RandomRuins/LavaRuins/lavaland_surface_cafe_of_broken_dreams.dmm
Labels: Feature, Map Change, Revert / Deletion

#7816 Medbay Rework
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#7730 Adds the bo staff to the uplink and removes its stupid rng stun
  code/datums/martial/sleeping_carp.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature

#7830 makes valentines 2 days longer as a joke
  code/modules/holiday/holidays.dm
Labels: Feature

#7831 Remoes puss translation from cowboy accents
  strings/accents/accent_cowboy.json
  strings/accents/accent_cowboylight.json
Labels: Tweak

#7823 [BOUNTY] Fixes felinid tails
  code/modules/mob/living/carbon/human/species_types/felinid.dm
Labels: Bounty, Fix

#7815 no fugu on holoparasites
  code/modules/mob/living/simple_animal/hostile/wumborian_fugu.dm
Labels: Revert / Deletion

#7825 Xeno console back after recent changes
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#7829 I CHANGE THE CLOCK CULT MAP FOREVER
  _maps/map_files/generic/City_of_Cogs.dmm
Labels: Map Change

#7839 Literally fixes every battery and battery light sprite
  icons/obj/power.dmi
Labels: Icon Change, Tweak

#7840 Centers All sprites related to MMI (including brain)
  icons/obj/assemblies.dmi
Labels: Icon Change, Tweak

#7841 Centers all revolver speed loader sprites
  icons/obj/ammo.dmi
Labels: Icon Change, Tweak

#7844 Centered 38 Chemical sprites
  icons/obj/chemical.dmi
Labels: Icon Change, Tweak

#7832 Defib standardization
  code/game/objects/items/defib.dm
  code/modules/research/nanites/nanite_programs/healing.dm
Labels: Tweak

#7849 alphabetise and demodularise food crafting recipes
  code/modules/food_and_drinks/recipes/tablecraft/recipes_bread.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_cake.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_egg.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pie.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pizza.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_salad.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_sandwich.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_spaghetti.dm
  yogstation.dme
  yogstation/code/modules/food_and_drinks/recipes/tablecraft/recipes_bread.dm
  yogstation/code/modules/food_and_drinks/recipes/tablecraft/recipes_egg.dm
  yogstation/code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  yogstation/code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  yogstation/code/modules/food_and_drinks/recipes/tablecraft/recipies_pie.dm
  yogstation/code/modules/food_and_drinks/recipes/tablecraft/recipies_spaghetti.dm
Labels: DME Edit, IMPORTANT, Tweak

#7855 Fixes reagent sprites that didn't get centered!
  icons/obj/reagentfillings.dmi
Labels: Fix, Icon Change, Tweak

#7843 clerk figure
  code/game/objects/items/toys.dm
  icons/obj/toy.dmi
Labels: Feature, Icon Change

#7842 Centers all 28 auto-rifle magazine sprites
  icons/obj/ammo.dmi
Labels: Icon Change, Tweak

#7854 Adds Egg RP
  code/modules/food_and_drinks/food/snacks_egg.dm
  code/modules/mob/living/brain/brain.dm
  code/modules/mob/living/brain/say.dm
Labels: Feature, Fetish Content, Literally the best PR

#7859 Minsky escape
  _maps/map_files/MinskyStation/MinskyStation.dmm
Labels: Map Change

#7867 Moves some egg recipes to the egg section
  code/modules/food_and_drinks/food/snacks_egg.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_egg.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
Labels: Tweak

#7838 [BOUNTY] Yogstation Mouse Expansion pack, only 19,99$
  code/__DEFINES/movespeed_modification.dm
  code/__HELPERS/roundend.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/modules/assembly/mousetrap.dm
  code/modules/language/language_holder.dm
  code/modules/language/mouse.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  yogstation.dme
Labels: Bounty, Feature, IMPORTANT, Literally the best PR, nice

#7862 Move null rod (meta)
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Tweak

#7729 Achievement Get Part 2 - Engineering Achievements
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/achievements.dm
  code/controllers/subsystem/machines.dm
  code/datums/achievements/achievements.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/power/cable.dm
  code/modules/power/powernet.dm
  code/modules/power/solar.dm
  yogstation/code/game/machinery/telecomms/machines/server.dm
  yogstation/code/modules/mob/living/emote.dm
  yogstation/code/modules/power/singularity/particle_accelerator/particle_control.dm
Labels: Bounty, Feature

#7864 minsky theatre
  _maps/map_files/MinskyStation/MinskyStation.dmm
Labels: Map Change

#7876 removes a duplicated wardrobe
  _maps/map_files/YogsDelta/YogsDelta.dmm
Labels: Map Change

#7878 rotates drink dispensers
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_purple.dmm
Labels: Map Change

#7860 Centers more ammo that I found while working on something else
  icons/obj/ammo.dmi
Labels: Icon Change, Tweak

#7877 Makes syndicate listening posts not overheat
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
Labels: Map Change, Tweak

#7875 minsky teleporter
  _maps/map_files/MinskyStation/MinskyStation.dmm
Labels: Map Change

#7883 Galoshes
  icons/mob/feet.dmi
  icons/obj/clothing/shoes.dmi
Labels: Icon Change

#7886 Purple galoshes
  icons/mob/feet.dmi
  icons/obj/clothing/shoes.dmi
Labels: Icon Change

#7887 makes regular security uniforms consistent
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Icon Change

#7888 removes duplicate jester outfit
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Icon Change

#7771 Borgs can no longer heal themself when they are over crit threshold
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Tweak, nice

#7881 darkspawn season pass part 1: progenitors actually do stuff
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/debuffs.dm
  code/modules/projectiles/projectile/special/curse.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_abilities/pass.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_progenitor.dm
Labels: Feature
