Repository yogstation13/Yogstation, pull requests merged in 2020-04, with the labels that each got.

#8087 [s] Fixes yogstation
  _maps/map_files/YogStation/YogStation.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_box.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_casino.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_cheese.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_conveyor.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_diner.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_disco.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_irish.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_purple.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_spacious.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_singulo_tesla.dmm
  code/_globalvars/lists/mobs.dm
  code/_onclick/hud/alert.dm
  code/game/machinery/computer/crew_control.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/stunbaton.dm
  code/modules/holiday/holidays.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/power/supermatter/supermatter.dm
  icons/default_title.dmi
  icons/obj/supermatter.dmi
  sound/ai/welcome.ogg
  yogstation.dme
Labels: Javascript, Map Change, Sound, Sprites, tgui

#8089 [s] Fixes yogstation revert
  _maps/map_files/YogStation/YogStation.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_box.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_casino.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_cheese.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_conveyor.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_diner.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_disco.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_irish.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_purple.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_spacious.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_singulo_tesla.dmm
  code/_globalvars/lists/mobs.dm
  code/_onclick/hud/alert.dm
  code/game/machinery/computer/crew_control.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/stunbaton.dm
  code/modules/holiday/holidays.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/power/supermatter/supermatter.dm
  icons/default_title.dmi
  icons/obj/supermatter.dmi
  sound/ai/welcome.ogg
  yogstation.dme
Labels: Map Change, Sound, Sprites

#8091 [s] Fixes yogstation revert revert
  _maps/map_files/YogStation/YogStation.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_box.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_casino.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_cheese.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_conveyor.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_diner.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_disco.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_irish.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_purple.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_spacious.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_singulo_tesla.dmm
  code/_globalvars/lists/mobs.dm
  code/_onclick/hud/alert.dm
  code/game/machinery/computer/crew_control.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/stunbaton.dm
  code/modules/holiday/holidays.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/power/supermatter/supermatter.dm
  icons/default_title.dmi
  icons/obj/supermatter.dmi
  sound/ai/welcome.ogg
  yogstation.dme
Labels: Map Change, Sound, Sprites

#8092 [s] adds a reference to dagiantrat
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#8096 Removes april
  _maps/map_files/YogStation/YogStation.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_box.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_casino.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_cheese.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_conveyor.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_diner.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_disco.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_irish.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_purple.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_spacious.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_singulo_tesla.dmm
  code/_globalvars/lists/mobs.dm
  code/_onclick/hud/alert.dm
  code/game/machinery/computer/crew_control.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/world.dm
  code/modules/holiday/holidays.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/power/supermatter/supermatter.dm
  icons/obj/supermatter.dmi
  sound/ai/welcome.ogg
  yogstation.dme
  yogstation/code/modules/jobs/job_types/clerk.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
  yogstation/code/modules/jobs/job_types/paramedic.dm
  yogstation/code/modules/jobs/job_types/psychiatrist.dm
  yogstation/code/modules/jobs/job_types/signal_technician.dm
  yogstation/code/modules/jobs/job_types/tourist.dm
Labels: Map Change

#8065 Thinktronics updated their PDAs to include a bluespace printer.
  code/game/objects/items/devices/PDA/PDA.dm
  yogstation/code/game/objects/items/premadepapers.dm
Labels: Feature

#8055 Adds the song "Sole Survivor" by Blue Öyster Cult.
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature, Verified

#8099 Adds a second locker to hydroponics
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change, Revert / Deletion, Tweak

#8106 Removes New Player Friendly
  yogstation/code/game/world.dm
Labels: Revert / Deletion

#8112 Adds a borg skin for Jierda
  yogstation/code/modules/donor/borg_ai_skin_datums.dm
  yogstation/icons/mob/DonorRobots.dmi
Labels: Icon Change, Sprites

#8098 Tweaks the cure of jungle fever from death to clown's tears
  code/datums/diseases/transformation.dm
Labels: Tweak

#8027 Solar panel cleanup + full setup change
  _maps/map_files/YogStation/YogStation.dmm
  code/game/objects/effects/spawners/structure.dm
  icons/obj/structures_spawners.dmi
Labels: Feature, Map Change, Sprites

#8131 Preternis Chem Bugfix
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Fix

#8135 Combine artifacts in turdis
  .github/workflows/turdis.yml
Labels: Github

#8136 fix air alarm electronics not being constructable
  code/modules/research/designs/autolathe_designs.dm
Labels: Fix

#8132 Smooth movement - "TG coders suck" edition
  code/__DEFINES/components.dm
  code/__DEFINES/movement.dm
  code/controllers/subsystem/spacedrift.dm
  code/controllers/subsystem/throwing.dm
  code/controllers/subsystem/time_track.dm
  code/datums/components/orbiter.dm
  code/datums/components/riding.dm
  code/game/atoms_movable.dm
  code/game/mecha/mecha.dm
  code/game/objects/buckling.dm
  code/game/objects/structures/transit_tubes/transit_tube_pod.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/mob_movespeed.dm
  code/modules/power/singularity/singularity.dm
  code/modules/recycling/disposal/holder.dm
  code/modules/research/xenobiology/xenobiology.dm
  yogstation.dme
Labels: DME Edit, Feature

#8147 Gives a few plants some science fiction descriptions
  code/modules/hydroponics/grown/ambrosia.dm
  code/modules/hydroponics/grown/banana.dm
  code/modules/hydroponics/grown/citrus.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/hydroponics/grown/tomato.dm
Labels: Tweak

#8127 Adds world topic for !mentorwho
  code/datums/world_topic.dm
Labels: Feature

#8110 DNA recovery surgery usable to de-husk people
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/advanced/dna_recovery.dm
Labels: Tweak

#8111 Port grab numbers change from tg
  code/modules/mob/living/living.dm
Labels: Tweak

#8113 Ports banjo from citadel
  code/game/objects/items/devices/instruments.dm
  code/modules/cargo/packs.dm
  code/modules/vending/gift.dm
  icons/mob/inhands/equipment/instruments_lefthand.dmi
  icons/mob/inhands/equipment/instruments_righthand.dmi
  icons/obj/musician.dmi
  sound/instruments/banjo/Ab3.ogg
  sound/instruments/banjo/Ab4.ogg
  sound/instruments/banjo/Ab5.ogg
  sound/instruments/banjo/An3.ogg
  sound/instruments/banjo/An4.ogg
  sound/instruments/banjo/An5.ogg
  sound/instruments/banjo/Bb3.ogg
  sound/instruments/banjo/Bb4.ogg
  sound/instruments/banjo/Bb5.ogg
  sound/instruments/banjo/Bn2.ogg
  sound/instruments/banjo/Bn3.ogg
  sound/instruments/banjo/Bn4.ogg
  sound/instruments/banjo/Bn5.ogg
  sound/instruments/banjo/Cn3.ogg
  sound/instruments/banjo/Cn4.ogg
  sound/instruments/banjo/Cn5.ogg
  sound/instruments/banjo/Cn6.ogg
  sound/instruments/banjo/Db3.ogg
  sound/instruments/banjo/Db4.ogg
  sound/instruments/banjo/Db5.ogg
  sound/instruments/banjo/Db6.ogg
  sound/instruments/banjo/Dn3.ogg
  sound/instruments/banjo/Dn4.ogg
  sound/instruments/banjo/Dn5.ogg
  sound/instruments/banjo/Dn6.ogg
  sound/instruments/banjo/Eb3.ogg
  sound/instruments/banjo/Eb4.ogg
  sound/instruments/banjo/Eb5.ogg
  sound/instruments/banjo/En3.ogg
  sound/instruments/banjo/En4.ogg
  sound/instruments/banjo/En5.ogg
  sound/instruments/banjo/Fn3.ogg
  sound/instruments/banjo/Fn4.ogg
  sound/instruments/banjo/Fn5.ogg
  sound/instruments/banjo/Gb3.ogg
  sound/instruments/banjo/Gb4.ogg
  sound/instruments/banjo/Gb5.ogg
  sound/instruments/banjo/Gn3.ogg
  sound/instruments/banjo/Gn4.ogg
  sound/instruments/banjo/Gn5.ogg
  sound/weapons/banjoslap.ogg
Labels: Feature, Fetish Content, Icon Change, Sound, Sprites

#8115 Xenos, nightmares and zombies no longer spawn in the atmos plasma tank
  _maps/map_files/YogStation/YogStation.dmm
Labels: Fix, Map Change

#8120 Replaces the engi holofan in ce's locker with the atmos holofan
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
Labels: Tweak

#8129 buffs clock cult to be infinitely stronger due to a <50% winrate by adding removing player agency and adding a sentinel's compromise quick action button
  code/modules/antagonists/clockcult/clock_helpers/slab_abilities.dm
  code/modules/antagonists/clockcult/clock_items/clockwork_slab.dm
Labels: Feature

#8130 Updates config
  config/admin_ranks.txt
  config/admins.txt
  config/antag_rep.txt
  config/awaymissionconfig.txt
  config/config.txt
  config/game_options.txt
  config/lavaruinblacklist.txt
  config/maps.txt
  config/minor_filter.txt
  config/motd.txt
  config/spaceruinblacklist.txt
Labels: Config

#8150 Minsky Signs 4.1
  code/game/objects/structures/signs/signs_maps.dm
  icons/obj/decals.dmi
Labels: Sprites

#8146 changes the yellow paramedic jacket to a green paramedic jacket and adds a green emt cap
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/suits/labcoat.dm
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  yogstation/code/modules/clothing/suits/miscellaneous.dm
  yogstation/icons/mob/suit.dmi
Labels: Icon Change, Sprites

#8134 Trip emote
  code/modules/mob/living/emote.dm
Labels: Feature

#8124 Unopresses Mentors (adds mbwoink)
  yogstation/code/modules/mentor/mentor_verbs.dm
  yogstation/code/modules/mentor/mentorpm.dm
Labels: Feature

#8169 Adds the song 'Brave Captain' by fIREHOSE.
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature

#8174 Fixes a typo in decals.dmi
  icons/obj/decals.dmi
Labels: Icon Change, Sprites

#8171 fixes nukeops and actually fixes lavaland/asteroid ruins on icebox
  _maps/RandomRuins/IceRuins/icemoon_surface_asteroid.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_lavaland.dmm
  code/__DEFINES/maps.dm
  code/game/turfs/simulated/floor/plating/asteroid.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/mapping/ruins.dm
  code/modules/shuttle/navigation_computer.dm
Labels: Map Change

#8170 Spell icons redone part 1
  code/modules/spells/spell_types/aimed.dm
  code/modules/spells/spell_types/barnyard.dm
  code/modules/spells/spell_types/infinite_guns.dm
  code/modules/spells/spell_types/lichdom.dm
  code/modules/spells/spell_types/mime.dm
  code/modules/spells/spell_types/wizard.dm
  icons/mob/actions/actions_humble.dmi
  icons/mob/actions/actions_spells.dmi
  icons/mob/actions/humble/actions_humble.dmi
  icons/mob/actions/humble/readme_humble.txt
Labels: Feature, Icon Change, Sprites

#8143 Preternis QoL Update(STOP FUCKING INJECTING ME MEDIBOT)
  code/__DEFINES/traits.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Tweak

#8158 Adds Clothing Duffel Bags to heads lockers to reduce bloat - Fixes #8154
  code/game/objects/items/storage/backpack.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Feature

#8175 Moves grave digger from others to food_and_drinks
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Tweak

#8165 Adds gift vendors to the other maps
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Tweak

#8181 Spell icons redone part 2
  code/datums/mutations/actions.dm
  code/modules/spells/spell_types/forcewall.dm
  code/modules/spells/spell_types/mind_transfer.dm
  code/modules/spells/spell_types/wizard.dm
  icons/mob/actions/actions_humble.dmi
  icons/mob/actions/actions_spells.dmi
Labels: Feature, Icon Change, Sprites

#8075 Borg security module now takes uranium instead of diamonds
  code/modules/research/designs/mechfabricator_designs.dm
Labels: Balance, Controversial, Council Vote

#8176 Fixes clock cultists not being able to understand common when declaring war
  code/modules/language/language_holder.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
Labels: Feature, Fix

#8159 Borgs can now use False Walls - Fixes #7682
  code/game/objects/structures/false_walls.dm
Labels: Feature

#8119 Pet collar sounds
  code/__DEFINES/components.dm
  code/datums/components/squeak.dm
  code/game/sound.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/simple_animal/friendly/pet.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  sound/effects/collarbell1.ogg
  sound/effects/collarbell2.ogg
Labels: Fetish Content, Sound

#8183 Spell icons redone part 3
  code/datums/mutations/touch.dm
  code/modules/awaymissions/mission_code/Academy.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/spells/spell_types/knock.dm
  code/modules/spells/spell_types/summonitem.dm
  icons/mob/actions/actions_humble.dmi
  icons/mob/actions/actions_spells.dmi
Labels: Feature, Icon Change, Sprites

#8201 De-modularize Plants
  code/game/objects/structures/flora.dm
  icons/obj/flora/plants.dmi
  yogstation/icons/obj/flora/plants.dmi
Labels: Sprites

#8186 Changes Tintin on the Moon lobby music to different version
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Tweak

#8188 Replace starship troopers with starship enterprise
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature, Revert / Deletion

#8191 Removes syntek mall
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Revert / Deletion

#8195 Adds special The Wizard
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature

#8193 Removes She Blinded ME with Science
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Revert / Deletion

#8207 Music Changes - Idinuum Edition
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature, Revert / Deletion, Tweak

#8151 Adds the Citadel bar as a bar template
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_box.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_citadel.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Feature, Map Change

#8179 Fix vehicle glide_size
  code/datums/components/riding.dm
Labels: Fix

#8107 Adds a clockwork themed bar variant
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_clock.dmm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Feature, Map Change

#8210 Fixes eggpeople not being able to understand and speak common
  code/modules/language/language_holder.dm
  code/modules/mob/living/carbon/human/species_types/eggpeople.dm
Labels: Feature, Fix

#8218 Borg skin for redd
  yogstation/code/modules/donor/borg_ai_skin_datums.dm
  yogstation/icons/mob/DonorRobots.dmi
Labels: Icon Change, Sprites

#8123 [admin] Expands the functionality of the AFK verb, makes the Suicide verb warn important roles
  code/modules/client/verbs/suicide.dm
  yogstation/code/modules/client/verbs/afk.dm
Labels: Admin, Bounty, Feature

#8142 Putting the Auto in Autolathe
  code/game/machinery/autolathe.dm
  tgui-next/packages/tgui/interfaces/Autolathe.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
Labels: Bounty, Feature, Javascript, tgui

#8212 Fixes Chlorine Trifluoride deleting reinforced walls
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
Labels: Oversight

#8217 boring map things (bar cleanup)
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_box.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_casino.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_cheese.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_citadel.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_clock.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_conveyor.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_diner.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_disco.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_irish.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_purple.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_spacious.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
Labels: Map Change

#8138 If you know you know. (Ai Face)
  code/_globalvars/lists/flavor_misc.dm
  icons/mob/ai.dmi
Labels: Feature, Icon Change, Sprites

#8157 Fixes Ai wanted status HUD - Issue #4064
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Balance

#8163 Add rags and Soap to Service Borg
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Feature

#8205 Makes holotool a small item
  yogstation/code/game/objects/items/holotool/holotool.dm
Labels: Tweak

#8203 Adds hierophant antenna traitor item
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/lavaland/artefacts.dmi
Labels: Sprites

#8230 Fixes the purple bar mirror being visible from the corridor
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_purple.dmm
Labels: Map Change

#8221 Thats not a knife
  code/modules/antagonists/wizard/equipment/artefact.dm
Labels: Tweak

#8226 Military is no longer a gender
  code/modules/mob/living/silicon/ai/say.dm
  yogstation/code/modules/admin/verbs/adminvox.dm
Labels: Tweak

#8235 adds random animal spawner to a bar
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_citadel.dmm
Labels: Map Change

#8239 Makes the dead space figure's visor on the title screen green.
  yogstation/icons/default_title.dmi
Labels: Icon Change, Sprites

#8227 Moves the syringe gun to the medical locker
  _maps/map_files/YogStation/YogStation.dmm
Labels: Balance, Map Change, Tweak

#8233 Nanite Quality of Life
  code/modules/research/nanites/nanite_chamber_computer.dm
  code/modules/research/nanites/nanite_cloud_controller.dm
  code/modules/research/nanites/nanite_program_hub.dm
  code/modules/research/nanites/nanite_programmer.dm
Labels: Tweak

#8236 completely changes Rev meta
  code/modules/antagonists/revolution/revolution.dm
Labels: Tweak

#8172 [Admin] Makes the supply pod launcher locked behind +FUN
  code/modules/admin/admin_verbs.dm
  code/modules/cargo/centcom_podlauncher.dm
Labels: Admin, Council Vote, Tweak

#8246 Adds a space heater to the comms satellite maint
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#8206 Lizards can hiss at people
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/lizard/hiss.ogg
Labels: Feature, Sound

#8252 ports Titanium Resprite from /tg/
  icons/obj/doors/airlocks/shuttle/overlays.dmi
  icons/obj/doors/airlocks/shuttle/shuttle.dmi
  icons/obj/smooth_structures/shuttle_window.dmi
  icons/obj/stack_objects.dmi
  icons/obj/tiles.dmi
  icons/turf/floors.dmi
  icons/turf/walls/shuttle_wall.dmi
Labels: Icon Change, Sprites

#8228 Clock cult kindle
  code/modules/antagonists/clockcult/clock_scriptures/scripture_drivers.dm
Labels: Tweak

#8243 Buff vampire early game by making Hypnotize free to use
  yogstation/code/game/gamemodes/vampire/vampire_powers.dm
Labels: Feature, Revert / Deletion, Tweak

#8251 Hopline changes on box, encouraging paperwork.
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#8257 Adds some missing airlock controllers to Box station
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#8209 Re-adds Sole Survivor to the Music List.
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature

#8247 Nicotine-free cigarettes
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/storage/fancy.dm
  code/modules/vending/cigarette.dm
  icons/obj/cigarettes.dmi
Labels: Feature, Icon Change, Sprites

#8250 increase engiborg stunprod arm cost
  code/game/objects/items/robot/robot_items.dm
Labels: Tweak

#8240 [admin] quick Mulligan in the equipment screen
  code/datums/outfit.dm
Labels: Admin, Feature

#8161 Creates Holosign Creator for CE
  code/game/objects/items/holosign_creator.dm
  code/game/objects/items/storage/belt.dm
Labels: Feature

#8261 ports "Nullrods now use a radial menu to choose their skins #50512" from tg
  code/game/objects/items/holy_weapons.dm
Labels: Feature

#8258 ports "Cardboard cutouts now use a radial menu to choose their skins #50617" from tg
  code/game/objects/items/cardboard_cutouts.dm
Labels: Feature

#8268 Adds Footsteps as a october revolution song
  yogstation/code/modules/holidays/holidays.dm
Labels: Feature

#8270 Revert "ports Titanium Resprite from /tg/"
  icons/obj/doors/airlocks/shuttle/overlays.dmi
  icons/obj/doors/airlocks/shuttle/shuttle.dmi
  icons/obj/smooth_structures/shuttle_window.dmi
  icons/obj/stack_objects.dmi
  icons/obj/tiles.dmi
  icons/turf/floors.dmi
  icons/turf/walls/shuttle_wall.dmi
Labels: Sprites

#8262 IM GOING TO FUCKING KILL SOMEONE ITS BEEN TWO HOURS IVE BEEN TRYING TO FIGURE OUT WHY THIS DIDNT WANT TO WORK IM SCREEEEEEEEING
  config/config.txt
Labels: Config

#8277 Gigadrills may no longer be unloaded and loaded by ghosts
  yogstation/code/modules/xenoarch/loot/gigadrill.dm
Labels: Fix

#8281 fixes the airlock controller UI causing minute-click-limit errors
  code/game/machinery/airlock_cycle_control.dm
  tgui-next/packages/tgui/interfaces/AdvancedAirlockController.js
  tgui-next/packages/tgui/public/tgui.bundle.js
Labels: Javascript, tgui

#8280 Gulag Processor & The Return of the Beepsky
  _maps/map_files/YogStation/YogStation.dmm
  code/game/machinery/gulag_processor.dm
  yogstation.dme
Labels: DME Edit, Feature, Map Change

#8267 Janitor HoloSign QoL
  code/game/objects/structures/holosign.dm
Labels: Feature

#8269 Admin Logging to Status Display
  code/game/machinery/computer/communications.dm
  code/game/objects/items/devices/PDA/cart.dm
Labels: Feature

#8241 Adds 5 new hydroponics placement variations
  _maps/map_files/YogStation/YogStation.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/hydro1.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/hydro2.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/hydro3.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/hydro4.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/hydro5.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/hydro6.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Feature, Map Change, Tweak

#8289 Yoggers in the chat (Round end)
  code/controllers/subsystem/ticker.dm
  sound/roundend/yoggers.ogg
Labels: Feature, Fetish Content, IMPORTANT, Literally the best PR, Sound

#8292 delete removed code
  code/__DEFINES/traits.dm
Labels: Revert / Deletion

#8284 Borgs/People can now attach beakers to grinders via drag
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: Feature

#8266 Fixes tricorder anomaly detection
  code/game/objects/effects/anomalies.dm
Labels: Feature

#8254 Stimulants stamina damage heal buff (5->30)
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Tweak

#8274 ports "Gives clown, mime, and tiki masks radial menus #50634" from TG
  code/modules/clothing/masks/gasmask.dm
Labels: Feature

#8276 ports "Radial menu tweaks #50561" from TG
  code/_onclick/hud/radial.dm
Labels: Tweak

#8282 ports Radial Menu for service borg + RSF improvements from TG
  _maps/RandomRuins/LavaRuins/lavaland_surface_cafe_of_broken_dreams.dmm
  code/game/objects/items/RSF.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  icons/obj/tools.dmi
Labels: Feature, Icon Change, Map Change, Sprites, Tweak

#8271 Makes Drone Chat easier to read
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  code/modules/mob/living/simple_animal/friendly/drone/say.dm
Labels: Feature

#8299 remove duplicated emotes
  icons/emoji.dmi
  yogstation/icons/emoji.dmi
Labels: Sprites

#8288 ports "Fixes an issue with sentient diseases and darkness #50712" from TG
  code/modules/antagonists/disease/disease_mob.dm
Labels: Fix

#8223 CentCom, ERT and Inquisition equipment Revamp
  code/datums/ert.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/items/tanks/tank_types.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/outfits/amber.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/jobs/access.dm
  icons/mob/hud.dmi
  yogstation.dme
Labels: Refactor, Sprites, Tweak

#8279 Adds a Genetics manual to genetics
  _maps/map_files/YogStation/YogStation.dmm
  code/game/objects/items/manuals.dm
Labels: Feature, Map Change

#8164 Adds Rejuvenate to every mobs right click menu for Admins
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/mapping.dm
Labels: Admin, Feature

#8286 Service gets their own security guard
  _maps/map_files/YogStation/YogStation.dmm
  code/__DEFINES/preferences.dm
  code/_globalvars/lists/flavor_misc.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/under/accessories.dm
  code/modules/jobs/job_types/security_officer.dm
  icons/mob/accessories.dmi
  icons/obj/clothing/accessories.dmi
  icons/turf/areas.dmi
Labels: Feature, Icon Change, Map Change, Sprites, Tweak

#8287 override analyzer action for tricorder for tcomms
  code/game/machinery/telecomms/machine_interactions.dm
Labels: Feature, Revert / Deletion, Tweak

#8297 Adds some homophones to Oscar or military VOX
  code/modules/mob/living/silicon/ai/vox_sounds.dm
Labels: Tweak

#8318 Adds a light
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#8298 ports "Light Tiles use a Radial Menu and other tweaks #50703" from TG
  code/game/turfs/simulated/floor/light_floor.dm
  icons/turf/floors.dmi
Labels: Icon Change, Sprites, Tweak

#8304 Pestle now made with wood
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Feature

#8319 Changes break room area to foyer area
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/game/area/Space_Station_13_areas.dm
Labels: Map Change

#8285 Gives the Lavaland base monstermos firelocks and stronger windows.
  _maps/RandomRuins/LavaRuins/miningbase.dmm
Labels: Feature, Map Change, Tweak

#8309 Mech Construction Refactor + QoL (from TG)
  code/datums/diseases/_disease.dm
  code/game/mecha/combat/combat.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_construction_paths.dm
  code/game/mecha/mecha_defense.dm
  code/game/mecha/mecha_topic.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/simple_animal/friendly/drone/interaction.dm
Labels: Feature, Tweak

#8321 Adds Dropper to the Autolathe
  code/modules/research/designs/autolathe_designs.dm
Labels: Feature

#8265 Added OmegaStation to vote list
  config/maps.txt
Labels: Config, Controversial, DO NOT MERGE, Feature

#8332 moves runtime off the table
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#8306 Easel recipe addition
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Merge conflict

#8333 Dabbing now connects you to beestation as that is where such LRP content belongs
  yogstation/code/modules/mob/living/emote.dm
Labels: TESTMERGE

#8330 [Ice Box] Replaces gravity generator room with a break room
  _maps/map_files/IceBox/IceBox.dmm
Labels: Feature, Map Change

#8346 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

#8331 Replaces ambimalf.ogg with a new sound.
  sound/ambience/ambimalf.ogg
Labels: Sound

#8344 boxstation changes added to icebox
  _maps/map_files/IceBox/IceBox.dmm
Labels: Map Change

#8237 [admin] Re-organises CentCom's command structure, adding several new outfits and chain of command.
  code/datums/ert.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/antagonists/official/official.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/centcom.dm
  icons/mob/hands.dmi
  icons/mob/head.dmi
  icons/mob/neck.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/card.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/neck.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
  yogstation.dme
Labels: Admin, DME Edit, Feature, Icon Change, Refactor, Sprites

#8327 [admin] Increases number of Response team spawners from 9 to 18
  _maps/map_files/generic/CentCom.dmm
Labels: Admin, Map Change

#8313 Ports "Give a little #50710" from TG, an offer button
  code/__DEFINES/~yogs_defines/keybindings.dm
  code/_onclick/hud/alert.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/mob.dm
  yogstation/code/modules/keybindings/bindings_mob.dm
Labels: Feature

#8323 Removes minskystation
  _maps/_basemap.dm
  _maps/map_files/MinskyStation/MinskyStation.dmm
  _maps/minskystation.dm
  _maps/minskystation.json
  _maps/yogstation/shuttles/arrival_minsky.dmm
  _maps/yogstation/shuttles/emergency_minsky.dmm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/cyborg.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  icons/mapimages/MinskyStation.png
  yogstation/code/datums/shuttles.dm
  yogstation/code/modules/jobs/job_types/clerk.dm
Labels: Map Change
