Repository yogstation13/Yogstation, pull requests merged in 2020-05, with the labels that each got.

#8316 ports "Radial card hands #50729" from TG
  code/game/objects/items/toys.dm
Labels: Tweak

#8272 Makes the Janitor OP
  code/game/objects/structures/janicart.dm
  icons/obj/janitor.dmi
Labels: Feature, Sprites

#8347 adds another engineering locker to box
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_singulo_tesla.dmm
Labels: Map Change

#8355 small fixes for delta
  _maps/map_files/YogsDelta/YogsDelta.dmm
Labels: Map Change

#8361 a -> an
  code/modules/clothing/outfits/amber.dm
Labels: Council Vote

#8360 Fixes conveyors
  code/modules/recycling/conveyor2.dm
Labels: Fix

#8293 Ports Runescape Chat bubbles from TG-station
  code/__DEFINES/layers.dm
  code/__HELPERS/_lists.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/chatmessage.dm
  code/game/atoms.dm
  code/game/say.dm
  code/modules/antagonists/disease/disease_mob.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/dead/observer/say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/ai/ai.dm
  icons/UI_Icons/chat/chat_icons.dmi
  interface/skin.dmf
  yogstation.dme
Labels: DME Edit, Feature, Icon Change, Sprites, testmerge requested

#8351 Updates the base captain uniform sprites.
  icons/mob/hands.dmi
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Icon Change, Sprites

#8363 Adds Admin logs to Express Consoles - Blame Azzzerty
  code/modules/cargo/expressconsole.dm
Labels: Feature

#8350 pirate selling parrots and hostages are worth more
  code/modules/events/pirates.dm
Labels: Tweak

#8358 Fixes the weird space in dronechat
  code/modules/mob/living/simple_animal/friendly/drone/say.dm
Labels: Fix

#8366 Animates the Mech cursor
  icons/mecha/mecha_mouse.dmi
Labels: Feature, Icon Change, Sprites

#8263 Adds allergic reactions to chems
  code/__DEFINES/traits.dm
  code/datums/traits/negative.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/living_defines.dm
Labels: Feature

#8334 Skateboard overhaul from TG
  code/__DEFINES/traits.dm
  code/__HELPERS/mobs.dm
  code/datums/mutations/body.dm
  code/game/objects/items/weaponry.dm
  code/modules/vehicles/scooter.dm
  code/modules/vehicles/vehicle_actions.dm
  code/modules/vending/games.dm
  icons/mob/actions/actions_vehicle.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items_and_weapons.dmi
  icons/obj/vehicles.dmi
  sound/vehicles/skateboard_ollie.ogg
  sound/vehicles/skateboard_roll.ogg
Labels: Sound, Sprites

#8387 yoggers emote
  yogstation/icons/emoji.dmi
Labels: Icon Change, Sprites

#8372 You can no longer give borgs infinite self repair modules
  code/game/objects/items/robot/robot_upgrades.dm
Labels: Fix

#8300 Toolbelts can hold construction bags
  code/game/objects/items/storage/belt.dm
Labels: Feature

#8378 Ports "slimes can now break walls with fugu gland #50837" from TG
  code/_onclick/other_mobs.dm
Labels: Fix, Oversight

#8394 Rewrites the Corporate Lawset
  code/datums/ai_laws.dm
Labels: Tweak

#8385 Adds fire crocs.
  code/modules/vending/clothesmate.dm
  icons/obj/clothing/shoes.dmi
  yogstation/code/modules/clothing/shoes/miscellaneous.dm
  yogstation/icons/mob/feet.dmi
Labels: Feature, Icon Change, Sprites

#8407 Makes stat panels a browser (removes lag I guess)
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/acid.dm
  code/controllers/subsystem/adjacent_air.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/augury.dm
  code/controllers/subsystem/demo.dm
  code/controllers/subsystem/disease.dm
  code/controllers/subsystem/fire_burning.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/idlenpcpool.dm
  code/controllers/subsystem/lighting.dm
  code/controllers/subsystem/machines.dm
  code/controllers/subsystem/mobs.dm
  code/controllers/subsystem/npcpool.dm
  code/controllers/subsystem/overlays.dm
  code/controllers/subsystem/ping.dm
  code/controllers/subsystem/processing/processing.dm
  code/controllers/subsystem/spacedrift.dm
  code/controllers/subsystem/statpanels.dm
  code/controllers/subsystem/sun.dm
  code/controllers/subsystem/tgui.dm
  code/controllers/subsystem/throwing.dm
  code/controllers/subsystem/timer.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/holder2.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/darkmode.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/guardian/types/assassin.dm
  code/modules/mob/living/simple_animal/guardian/types/explosive.dm
  code/modules/mob/living/simple_animal/guardian/types/support.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/mob/mob.dm
  code/modules/spells/spell.dm
  html/statbrowser.html
  interface/skin.dmf
  yogstation.dme
  yogstation/code/game/gamemodes/vampire/vampire.dm
  yogstation/code/modules/antagonists/shadowling/shadowling.dm
  yogstation/code/modules/guardian/abilities/major/frenzy.dm
  yogstation/code/modules/guardian/abilities/major/hand.dm
  yogstation/code/modules/guardian/guardian.dm
  yogstation/code/modules/guardian/guardianability.dm
  yogstation/code/modules/spacepods/spacepod.dm
Labels: Admin, Performance, TESTMERGE, Tweak

#8409 Update supermatter.dm
  code/modules/power/supermatter/supermatter.dm
Labels: Feature, Revert / Deletion, Tweak

#8245 Some Grammar fixes
  strings/abductee_objectives.txt
  strings/cas_black.txt
  strings/cas_white.txt
  strings/sillytips.txt
Labels: Tweak

#8400 Adds gas mining to lavaland base for easier breach recovery and recycling scrubbed air.
  _maps/RandomRuins/LavaRuins/miningbase.dmm
Labels: Feature, Map Change, Revert / Deletion

#8301 Toolbelts can hold smart metal foam grenades
  code/game/objects/items/storage/belt.dm
Labels: Feature

#8312 Ports "Removes bolt of change from magicarps #49508" from TG
  code/modules/events/wizard/magicarp.dm
Labels: Balance, Revert / Deletion

#8311 Bloodcult rune nerfs
  code/modules/antagonists/cult/runes.dm
Labels: Balance, Ready, Tweak

#8389 Security added to round end report
  code/__HELPERS/roundend.dm
Labels: Awaiting - Action - Maintainer, Feature

#8376 Buffs explosions against black holes idk why it works that way
  code/modules/power/singularity/singularity.dm
Labels: Awaiting - Action - Maintainer, Balance

#8356 Minor tweaks to card Radial menu
  code/game/objects/items/toys.dm
Labels: Awaiting - Action - Maintainer, Tweak

#8391 Minor tweaks for Light floor Radial menu
  code/game/turfs/simulated/floor/light_floor.dm
Labels: Awaiting - Action - Maintainer, Tweak

#8371 Replaces the godawful h botany layout with something that looks
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/hydro6.dmm
Labels: Awaiting - Action - Maintainer, Map Change, Tweak

#8399 gorrilla cubes have their own reagant now
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Awaiting - Action - Author, Feature, Tweak

#8302 Toolbelt can now hold airlock painter
  code/game/objects/items/storage/belt.dm
Labels: Feature, Ready

#8412 Ports monkey cube suicide
  code/modules/food_and_drinks/food/snacks_meat.dm
Labels: Awaiting - Action - Maintainer, Feature

#8383 Proper number display for powersink, ability to examine instead of multitool and max power display
  yogstation/code/game/objects/items/devices/powersink.dm
Labels: Awaiting - Action - Maintainer

#8427 [s] Paper exploit
  code/modules/paperwork/paper.dm
Labels: Ready, Security Issue, Tweak

#8421 Fixes for the Experimental Tools
  _maps/RandomRuins/LavaRuins/lavaland_surface_russianbunker.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/debug/multiz.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/generic/CentCom.dmm
  code/datums/components/storage/concrete/pockets.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/wallets.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
  code/modules/clothing/outfits/amber.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/research/designs/tool_designs.dm
  yogstation.dme
  yogstation/code/game/objects/items/tools.dm
Labels: DME Edit, Map Change, Ready, Tweak

#8426 ports Radial menu for Janitorial cart from TG
  code/game/objects/structures/janicart.dm
Labels: Awaiting - Action - Maintainer, Feature

#8419 Light tile bugfix
  code/game/turfs/simulated/floor/light_floor.dm
Labels: Awaiting - Action - Maintainer

#8353 [admin] More mass revive fluff
  yogstation/code/modules/admin/admin_verbs.dm
Labels: Admin, Feature, Ready

#8422 Dominator Examine Fix
  yogstation/code/game/gamemodes/gangs/dominator.dm
Labels: Awaiting - Action - Author, Fix, Ready

#8352 minor "&" fixes from TG
  code/game/machinery/doors/airlock.dm
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Ready

#8436 fixes belts
  code/game/objects/items/storage/belt.dm
Labels: Fix

#8425 Adds handholding
  code/modules/mob/living/living.dm
Labels: Feature, Fetish Content, Ready, testmerge requested

#8403 Tagline redux update
  yogstation/code/game/world.dm
  yogstation/strings/taglines.txt
Labels: Awaiting - Action - Maintainer, Feature, Revert / Deletion, Tweak

#8441 Mark Revert
  yogstation/code/game/world.dm
Labels: Fix, Revert / Deletion

#8439 fixes an issue with jaws of life not fitting in CE belt
  yogstation/code/game/objects/items/tools.dm
Labels: Awaiting - Action - Maintainer, Bug, Fix

#8433 Radial menus for mining equipment voucher redeeming
  code/modules/mining/machine_vending.dm
Labels: Awaiting - Action - Maintainer, Feature

#8458 wires an apc
  _maps/map_files/YogsPubby/YogsPubby.dmm
Labels: Map Change

#8461 remove santa bag from toy shop until I can fix it recursively calling a proc 20000000 times and crashing the game
  _maps/RandomRuins/LavaRuins/lavaland_surface_cursedtoyshop.dmm
Labels: Fix, Map Change

#8460 Allows HTML in statpanel
  html/statbrowser.html
Labels: Feature

#8443 Removes references to Yogstation-TG in exchange for Yogstation
  README.md
  code/controllers/configuration/entries/general.dm
  html/changelog.html
  html/templates/header.html
  yogstation/code/datums/world_topic.dm
  yogstation/code/modules/client/verbs/ooc.dm
  yogstation/code/modules/donor/borg_ai_skin_datums.dm
  yogstation/code/modules/mentor/follow.dm
  yogstation/code/modules/mob/living/living.dm
Labels: Awaiting - Action - Maintainer, Tweak

#8471 Not everything of Minsky is gone Alexkar
  README.md
Labels: Ready, Revert / Deletion

#8420 Fix vacuum being hot
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/monkey/life.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/slime/life.dm
Labels: Awaiting - Action - Maintainer, Tweak

#8447 sentience potion spawns no longer keep important old factions
  _maps/RandomZLevels/Academy.dmm
  code/modules/events/wizard/magicarp.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/mob/living/simple_animal/hostile/pirate.dm
  code/modules/mob/living/simple_animal/hostile/russian.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Awaiting - Action - Maintainer, Map Change, Verified

#8343 Fuck off Space Dragons - Space Dragon Tweaks
  code/modules/events/space_dragon.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
Labels: Ready, Tweak, i ded

#8415 Adds a gang force converter, a compromise for the old implant breaker
  yogstation/code/game/gamemodes/gangs/gang_items.dm
  yogstation/code/game/objects/items/implants/implant_gang.dm
Labels: Balance, Controversial

#8444 Energy snare now legcuffs on being picked up
  code/game/objects/items/handcuffs.dm
Labels: Awaiting - Action - Maintainer

#8459 Adds silicon laws to status panel - REQUIRES #8460 TO BE MERGED
  code/modules/mob/living/silicon/silicon.dm
Labels: Awaiting - Action - Maintainer, Feature

#8418 Adds the Monster860 original Orion Trail to lobby music
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Awaiting - Action - Maintainer, Feature

#8406 adds the new oblivious onion
  code/modules/hydroponics/grown/onion.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  icons/obj/hydroponics/harvest.dmi
Labels: Awaiting - Action - Author, Feature, Icon Change, Merge conflict, Sprites

#8456 Adds 2 cyborg rechargers to box
  _maps/map_files/YogStation/YogStation.dmm
Labels: Awaiting - Action - Maintainer, Feature, Map Change, Tweak

#8473 Changes the discord link to one specific to the github for analytics or whatever
  html/templates/header.html
Labels: Ready

#8478 Fixes Wizard garb requirements for spacesuit
  code/modules/spells/spell.dm
Labels: Ready

#8470 Fixes hex sanitize
  code/__HELPERS/sanitize_values.dm
Labels: Awaiting - Action - Maintainer

#8398 Adds a new Alternative to the Corporate Lawset
  code/datums/ai_laws.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/AI_modules.dm
  code/modules/research/designs/AI_module_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Awaiting - Action - Author, Awaiting - Vote - Council, DO NOT MERGE, Feature

#8510 spelling fix
  code/datums/ai_laws.dm
Labels: Fix

#8506 Detective office gets a photocopier
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#8517 replace zero in the wizard ruin with rotciv
  _maps/RandomRuins/SpaceRuins/Academy.dmm
Labels: Awaiting - Action - Maintainer, Map Change

#8542 RIP 60 Pop Omega (Votes now respect player count)
  code/controllers/subsystem/vote.dm
Labels: Tweak

#8529 boxstation changes to icebox
  _maps/map_files/IceBox/IceBox.dmm
Labels: Awaiting - Action - Maintainer, Map Change

#8511 adds ceo module to techweb
  code/modules/research/techweb/all_nodes.dm
Labels: Awaiting - Action - Maintainer

#8463 Sound on law changes
  code/modules/mob/living/silicon/laws.dm
  sound/effects/ionlaw.ogg
Labels: Awaiting - Action - Maintainer, Feature, Sound

#8499 Fixes the lavaland airlock causing pressure damage and puts firelocks in lavaland base
  _maps/RandomRuins/LavaRuins/miningbase.dmm
  code/game/machinery/airlock_cycle_control.dm
  tgui-next/packages/tgui/interfaces/AdvancedAirlockController.js
  tgui-next/packages/tgui/public/tgui.bundle.js
Labels: Awaiting - Action - Maintainer, Feature, Javascript, Map Change, Tweak, tgui

#8455 Power tools now start in their usual modes again + cleanup
  yogstation/code/game/objects/items/tools.dm
Labels: Awaiting - Action - Maintainer, Tweak

#8500 runechat fixes
  code/datums/chatmessage.dm
Labels: Awaiting - Action - Maintainer

#8516 Adds two more chem bags to the Chemdrobe
  code/modules/vending/wardrobes.dm
Labels: Awaiting - Action - Maintainer, Feature, Revert / Deletion, Tweak

#8501 Adds a mass driver to the Syndicate Infiltrator
  _maps/shuttles/infiltrator_basic.dmm
Labels: Awaiting - Action - Maintainer, Feature, Map Change, Tweak

#8533 Makes the bucket on the ashwalker ruin wooden
  _maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
Labels: Awaiting - Action - Maintainer, Map Change, Tweak

#8278 Meth nerf
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/recipes/drugs.dm
Labels: Balance, Ready, TESTMERGE, Tweak

#8295 Ports "Adds Religious Sects and Basic Technophile Sect for Proof of Concept"
  code/__DEFINES/misc.dm
  code/_globalvars/misc.dm
  code/_globalvars/religion.dm
  code/datums/mind.dm
  code/game/gamemodes/cult/cult.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/storage/book.dm
  code/modules/antagonists/clockcult/clock_items/clock_components.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/religion/religion_sects.dm
  code/modules/religion/religion_structures.dm
  code/modules/religion/rites.dm
  yogstation.dme
  yogstation/code/game/gamemodes/vampire/vampire_other.dm
Labels: Awaiting - Action - Maintainer, DME Edit, Feature

#8464 Fixes agent id's and adds bank accounts to them
  code/game/objects/items/cards_ids.dm
Labels: Awaiting - Action - Maintainer, Feature

#8521 mech punches and overload don't work while EMPed
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/mecha/mecha_defense.dm
Labels: Awaiting - Action - Maintainer, Revert / Deletion

#8572 Auto close stale PRs
  .github/workflows/stale.yml
Labels: Github

#8559 adds space cleaner to lavaland beach
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
Labels: Feature, Map Change

#8583 Map Merges Omega
  _maps/map_files/Omegastation/omegastation.dmm
Labels: Map Change

#8367 Planting c4 on a backpack has a popup
  code/game/objects/items/grenades/plastic.dm
Labels: Awaiting - Action - Author, Tweak

#8362 Might fix a runtime in mood.dm
  code/datums/components/mood.dm
Labels: Awaiting - Action - Maintainer, Fix, TESTMERGE

#8414 Ports stray cargo pod event
  code/modules/events/stray_cargo.dm
  yogstation.dme
Labels: Awaiting - Action - Maintainer, Feature, Revert / Deletion, Tweak

#8416 [CONFIG] MOTD Update
  config/motd.txt
Labels: Awaiting - Action - Maintainer, Config, Feature, Revert / Deletion, Tweak

#8514 Revert "Stupid proofs erts"
  code/game/objects/items/cards_ids.dm
Labels: Awaiting - Action - Maintainer

#8575 adds canned laughter and bottle of nothing to clown facility
  _maps/RandomRuins/LavaRuins/lavaland_surface_clownfacility.dmm
Labels: Awaiting - Action - Maintainer, Feature, Map Change

#8597 adds autolathe to pubby
  _maps/map_files/YogsPubby/YogsPubby.dmm
Labels: Feature, Map Change

#8582 Ports "Component-izes Altar of God Functionality" and adds the altar to Boxstation
  _maps/map_files/YogStation/YogStation.dmm
  code/__DEFINES/flags.dm
  code/datums/components/religious_tool.dm
  code/modules/religion/religion_sects.dm
  code/modules/religion/religion_structures.dm
  code/modules/religion/rites.dm
  yogstation.dme
Labels: Awaiting - Action - Maintainer, DME Edit, Feature, Map Change

#8591 [Omega] Puts a Prisoner Console in wardens
  _maps/map_files/Omegastation/omegastation.dmm
Labels: Map Change, Tweak

#8536 Adds kleptomaniac quirk
  code/__DEFINES/traits.dm
  code/datums/traits/negative.dm
Labels: Awaiting - Action - Maintainer, Feature

#8467 Admins can now fix buggered People
  code/modules/mob/living/living.dm
Labels: Awaiting - Action - Maintainer, Feature

#8526 ghost sword ghosts are transparent for clicking
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Awaiting - Action - Maintainer, Feature

#8519 Ports meatclown
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  icons/obj/food/food.dmi
Labels: Awaiting - Action - Maintainer, Feature, Icon Change, Sprites

#8525 makes shock touch have a visible effect no more stealth shocking (port)
  code/datums/mutations/touch.dm
Labels: Awaiting - Action - Maintainer, Tweak

#8534 Converts the syllables in the japanese language into actual hiragana
  yogstation/code/modules/language/japanese.dm
Labels: Awaiting - Action - Maintainer, Tweak

#8535 musical-notation
  code/modules/language/swarmer.dm
Labels: Awaiting - Action - Maintainer, Tweak

#8537 Adds new tips
  strings/sillytips.txt
  strings/tips.txt
Labels: Awaiting - Action - Maintainer, Feature

#8486 slimes dont feed on megafauna since it causes offset issues
  code/modules/mob/living/simple_animal/slime/powers.dm
Labels: Awaiting - Action - Maintainer

#8448 Can now toggle seclite via hand when when on a disabler or helm
  code/modules/clothing/head/helmet.dm
  code/modules/projectiles/guns/energy/stun.dm
Labels: Awaiting - Action - Maintainer, Feature

#8468 Removes power *gaming* (playing the same minesweeper board no longer grants prizes)
  yogstation/code/game/machinery/computer/arcade.dm
Labels: Awaiting - Action - Maintainer

#8485 Swaps pAI candidate button with ghost roles button on ghost hud (cit port)
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ghost.dm
  icons/mob/screen_ghost.dmi
Labels: Awaiting - Action - Maintainer, Feature, Icon Change, Revert / Deletion, Sprites

#8491 Canisters emit faint light in the dark (Aurora port)
  code/modules/atmospherics/machinery/portable/canister.dm
Labels: Awaiting - Action - Maintainer, Feature, Tweak

#8438 Clown crocs added, fire croc sprites fixed, clown crocs put in autodrobe
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/vending/autodrobe.dm
  icons/mob/feet.dmi
  icons/obj/clothing/shoes.dmi
  yogstation/icons/mob/feet.dmi
Labels: Awaiting - Action - Maintainer, Feature, Icon Change, Sprites, Tweak

#8492 Disables Yogs bankcard shitcode.
  yogstation.dme
  yogstation/code/modules/economy/account.dm
Labels: Awaiting - Action - Maintainer, DME Edit

#8509 Probably fixes malf not going blue alert
  code/game/gamemodes/malfunction/malf.dm
Labels: Awaiting - Action - Maintainer

#8570 allows you to find shock touch in ethereals but also keeps its normal recipe
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Awaiting - Action - Maintainer, Feature

#8544 adds soy bilk
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Awaiting - Action - Maintainer, Feature

#8564 Adds russian beepsky
  code/game/sound.dm
  code/modules/mob/living/simple_animal/bot/SuperBeepsky.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  sound/voice/beepsky_russian/creep.ogg
  sound/voice/beepsky_russian/criminal.ogg
  sound/voice/beepsky_russian/freeze.ogg
  sound/voice/beepsky_russian/god.ogg
  sound/voice/beepsky_russian/iamthelaw.ogg
  sound/voice/beepsky_russian/insult.ogg
  sound/voice/beepsky_russian/justice.ogg
  sound/voice/beepsky_russian/radio.ogg
  sound/voice/beepsky_russian/secureday.ogg
Labels: Awaiting - Action - Maintainer, Feature, Sound

#8576 glowshrooms no longer roundstart
  code/modules/hydroponics/grown/mushrooms.dm
  code/modules/vending/megaseed.dm
Labels: Awaiting - Action - Maintainer, Balance, Tweak

#8603 removes some empty lines
  code/modules/uplink/uplink_items.dm
Labels: Awaiting - Action - Maintainer

#8546 FIX: You can now see AIs through their camera.
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Awaiting - Action - Maintainer

#8608 Dead cyborgs can't self destruct
  yogstation/code/modules/mob/living/silicon/robot/robot.dm
Labels: Awaiting - Action - Maintainer

#8587 adds rod of asclepius to legion barracks
  _maps/RandomRuins/LavaRuins/lavaland_surface_legionbarracks.dmm
Labels: Awaiting - Action - Maintainer, Feature, Map Change

#8601 moves the autolathe on omegastation for absolutely no reason
  _maps/map_files/Omegastation/omegastation.dmm
Labels: Awaiting - Action - Maintainer, Map Change, Tweak

#8589 3 New Round End Sounds
  sound/roundend/escalated.ogg
  sound/roundend/gameover.ogg
  sound/roundend/victory.ogg
Labels: Awaiting - Action - Maintainer, Sound

#8588 Replaces delam alert sounds for new good ones
  interface/interface.dm
  sound/machines/engine_alert1.ogg
  sound/machines/engine_alert2.ogg
Labels: Awaiting - Action - Maintainer, Sound

#8545 nuka cola in vending machines is now in a bottle (port)
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/vending/cola.dm
Labels: Awaiting - Action - Maintainer, Feature

#8556 Cleans up more JSON files
  TGS3.json
  _maps/icebox.json
  _maps/yogsmeta.json
  strings/phobia.json
Labels: Awaiting - Action - Maintainer

#8571 adds cave fungus (port)
  code/modules/hydroponics/grown/mushrooms.dm
  code/modules/vending/megaseed.dm
  icons/obj/hydroponics/growing_mushrooms.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
Labels: Awaiting - Action - Maintainer, Feature, Icon Change, Sprites

#8580 makes arcade tickets show up
  code/game/objects/items/stacks/tickets.dm
Labels: Awaiting - Action - Maintainer, Fix

#8600 Change free miner engineer uniform
  yogstation/code/datums/ruins/free_miners.dm
Labels: Awaiting - Action - Maintainer, Tweak

#8602 adds polyvitiligo but also keeps vitiligo and revitiligo (port)
  code/datums/diseases/advance/symptoms/skin.dm
Labels: Awaiting - Action - Maintainer, Feature

#8607 lowers synthetic conversion favor cost from 500 to 350
  code/modules/religion/rites.dm
Labels: Awaiting - Action - Maintainer, Tweak

#8615 MY GREATEST YET THE GREAT PINEAPPLE PR (port)
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/hydroponics/grown/pineapple.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/reagent_containers/borghypo.dm
  code/modules/vending/cola.dm
  icons/obj/drinks.dmi
Labels: Awaiting - Action - Maintainer, Feature, Icon Change, Sprites

#8560 adds a new mutation called thick skin (port)
  code/datums/mutations/body.dm
Labels: Awaiting - Action - Maintainer, Feature

#8552 Space Heater buff (cit port)
  code/game/machinery/spaceheater.dm
Labels: Awaiting - Action - Maintainer, Feature, Tweak

#8639 [s] Stops HTML injection in Ahelps
  code/modules/admin/verbs/adminpm.dm
Labels: Admin, Security Issue, Tweak

#8429 [admin] QOL change: Adds delay round end to server tab
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Labels: Admin, Awaiting - Action - Maintainer, Feature, Ready

#8532 AI core update (new look!)
  code/_globalvars/lists/flavor_misc.dm
  icons/mob/ai.dmi
  icons/mob/landmarks.dmi
  yogstation/icons/mob/DonorRobots.dmi
Labels: Awaiting - Action - Maintainer, Icon Change, Sprites

#8638 Fixes text2ratvar - Unicode broke it - Fixes 8523
  code/__HELPERS/text.dm
Labels: Awaiting - Action - Maintainer, Fix

#8540 [Admin] Non Lethal Smiting
  code/__DEFINES/admin.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Admin, Awaiting - Action - Author, Feature, Literally the best PR

#8657 godblood fountain starts with full icon because it STARTS FULL
  code/game/objects/structures/divine.dm
Labels: Awaiting - Action - Maintainer, Oversight, Ready

#8660 speedmerge this adds a full stop to the end of a sentence
  code/datums/mutations/body.dm
Labels: Fix, Oversight

#8662 sol dry sprite
  icons/obj/drinks.dmi
Labels: Sprites

#8661 Failing to place a guardian telebeacon now gives a message
  code/modules/mob/living/simple_animal/guardian/types/support.dm
Labels: Tweak

#8672 Adds a custom AI skin.
  yogstation/code/modules/donor/borg_ai_skin_datums.dm
  yogstation/icons/mob/DonorRobots.dmi
Labels: Icon Change, Sprites

#8605 Pubby - Adds an Autolathe and Xenobio Console to Sci
  _maps/map_files/YogsPubby/YogsPubby.dmm
Labels: Awaiting - Action - Maintainer, Map Change, Tweak

#8676 updates the carapaces
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Icon Change, Sprites

#8611 adds space suits to russian fugitive ship
  _maps/shuttles/hunter_russian.dmm
Labels: Awaiting - Action - Maintainer, Feature, Map Change

#8622 Free Miner surgical bag now actually has stuff in it
  _maps/yogstation/shuttles/whiteship_miner.dmm
Labels: Map Change, Tweak

#8620 adds space suits to space cop
  _maps/shuttles/hunter_space_cop.dmm
Labels: Awaiting - Action - Maintainer, Feature, Map Change

#8625 gives space bartender a bottle of lizard wine fernet and patron
  _maps/RandomRuins/SpaceRuins/spacebar.dmm
Labels: Feature, Map Change

#8645 Syndicate toolbox fits in bags TAKE 2
  code/game/objects/items/storage/toolbox.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak
