Repository yogstation13/Yogstation, pull requests merged in 2020-08, with the labels that each got.

#9358 Adds Surfin' USA to the lobby music for the 4th of July
  code/modules/holiday/holidays.dm
Labels: Feature

#9316 Adds Jaffa Cakes
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  yogstation/icons/obj/food/food.dmi
Labels: Feature, Sprites

#9331 decrease random crits dropoff %
  yogstation/code/datums/components/randomcrits.dm
Labels: Balance, Tweak

#9342 CentCom Galactic Ban DB
  code/controllers/configuration/entries/general.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  config/config.txt
Labels: Admin, Config, Feature

#9346 Toe stubbs now display to others
  code/game/objects/structures/tables_racks.dm
Labels: Feature

#9357 Fixes polls, gamer is an idiot edition
  code/modules/admin/create_poll.dm
Labels: Admin

#9361 Limb grower limbs won't stay pale after being attached
  code/modules/surgery/bodyparts/bodyparts.dm
Labels: Fix

#9364 Ports vending machine purchase sound from /tg/station
  code/modules/vending/_vending.dm
  sound/machines/machine_vend.ogg
Labels: Sound

#9365 Overall mood is multiplied once instead of once per moodlet
  code/datums/components/mood.dm
Labels: Fix

#9321 Adds Triangle spiders
  code/modules/mob/living/simple_animal/hostile/retaliate/trianglespider.dm
  icons/mob/triangle.dmi
  yogstation.dme
Labels: DME Edit, Feature, Literally the best PR, Sprites

#9362 Adds TRAIT_NOINTERACT and applies it to guardian Time Erasure
  code/__DEFINES/traits.dm
  code/_onclick/item_attack.dm
  code/_onclick/other_mobs.dm
  code/_onclick/telekinesis.dm
  yogstation/code/modules/guardian/abilities/major/time.dm
Labels: Feature, Fix

#9345 Venus Human Traps are now antags
  code/modules/antagonists/kudzu/kudzu.dm
  yogstation.dme
Labels: Feature

#9359 [box] Bridge visual and QoL changes
  _maps/map_files/YogStation/YogStation.dmm
Labels: Awaiting - Action - Maintainer, Map Change, Tweak

#9382 Fixes the Eclipse beach bar's atmos.
  _maps/yogstation/RandomRuins/StationRuins/EclipseStation/ebar_beach.dmm
Labels: Fix, Map Change

#9380 Reverts Nickvr's xenobio changes
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/game/objects/items/pet_carrier.dm
  code/game/turfs/simulated/floor/plating/asteroid.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/paperwork/paper_premade.dm
  code/modules/procedural_mapping/mapGenerators/lavaland.dm
  icons/obj/pet_carrier.dmi
Labels: Map Change, Revert / Deletion, Sprites

#9354 Flare Improvements
  _maps/RandomRuins/LavaRuins/lavaland_surface_researchoutpost.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/YogsPubby/YogsPubby.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  _maps/shuttles/emergency_delta.dmm
  _maps/shuttles/emergency_donut.dmm
  _maps/shuttles/emergency_kilo.dmm
  _maps/shuttles/emergency_meta.dmm
  _maps/shuttles/emergency_omega.dmm
  _maps/shuttles/whiteship_delta.dmm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/toolbox.dm
  code/modules/vending/gift.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/lighting.dmi
  sound/items/flare_strike_1.ogg
  sound/items/flare_strike_2.ogg
Labels: Awaiting - HC Review, Feature, Fix, Map Change, Sound, Sprites

#9389 gives laser tag armor 5 melee resist
  code/modules/clothing/suits/miscellaneous.dm
Labels: Tweak

#9377 Attempts to fix dynamic ragin' mages for the moment
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: Fix

#9395 Fixes spelling error
  code/game/machinery/telecomms/telecomunications.dm
Labels: Fix

#9399 dilithium no longer sucks ass and never gets used
  code/__DEFINES/~yogs_defines/reactions.dm
  yogstation/code/modules/reagents/recipes/pyrotechnics.dm
Labels: Tweak

#9352 Adds movie-like rolling credits to the end of the round
  code/__HELPERS/roundend.dm
  code/_onclick/hud/credits.dm
  code/game/gamemodes/brother/traitor_bro.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/changeling/traitor_chan.dm
  code/game/gamemodes/clock_cult/clock_cult.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/devil/devil_game_mode.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/extended/extended.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/malfunction/malf.dm
  code/game/gamemodes/meteor/meteor.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/traitor/double_agents.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/wizard/wizard.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  icons/credits/1zas.png
  icons/credits/2cluck.png
  icons/credits/3MPAOSA.png
  icons/credits/4_themed_NT.png
  icons/credits/4_themed_clown.png
  icons/credits/4_themed_cooks.png
  icons/credits/4_themed_syndie.png
  icons/credits/5BYOND.png
  icons/title_cards.dmi
  tools/CreditsTool/UpdateCreditsDMI.sh
  yogstation/code/game/gamemodes/battle_royale/battleroyale.dm
  yogstation/code/game/gamemodes/darkspawn/darkspawn.dm
  yogstation/code/game/gamemodes/gangs/gangs.dm
  yogstation/code/game/gamemodes/shadowling/shadowling.dm
  yogstation/code/game/gamemodes/vampire/vampire.dm
  yogstation/code/game/gamemodes/wizard/raginmages.dm
Labels: Feature, Visual Change

#9344 [s] probably fixes href exploit
  code/__DEFINES/is_helpers.dm
  code/game/objects/items/stacks/stack.dm
Labels: Revert / Deletion

#9339 Freezer
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
Labels: Old Yogs Port, Tweak

#9337 You can now shoot pirates down with the BSA before they arrive at the station
  code/game/objects/items/devices/gps.dm
  code/modules/events/pirates.dm
  code/modules/station_goals/bsa.dm
Labels: Feature

#9404 Adds radio SFX
  code/game/objects/items/devices/radio/radio.dm
  yogstation/sound/effects/radio1.ogg
  yogstation/sound/effects/radio2.ogg
  yogstation/sound/effects/radio3.ogg
Labels: Feature, Sound

#9391 Meteor shifts happen more commonly on dynamic
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: Tweak

#9396 Finally fixes the ancient camera bug
  code/modules/photography/_pictures.dm
Labels: Fix

#9343 fix insulateds toolbox
  yogstation/code/game/objects/items/storage/toolbox.dm
Labels: Fix

#9409 pAI door hack speed increase
  code/modules/mob/living/silicon/pai/pai.dm
Labels: Tweak

#9400 Cryopods display a unique warning when the occupant cannot be treated
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  sound/machines/cryo_warning_ignore.ogg
Labels: Feature, Sound

#9367 Makes Partheo codeowner of holidays.dm
  .github/CODEOWNERS
Labels: Github

#9256 Better Glowing Lights
  code/__DEFINES/layers.dm
  code/__DEFINES/lighting.dm
  code/_globalvars/bitfields.dm
  code/_onclick/hud/plane_master.dm
  code/game/atoms_movable.dm
  code/game/machinery/computer/_computer.dm
  code/game/machinery/firealarm.dm
  code/game/objects/effects/overlays.dm
  code/game/objects/items.dm
  code/modules/lighting/emissive_blocker.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/mob_defines.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
  yogstation.dme
Labels: Bounty, DME Edit, Fix, Visual Change

#9393 Tcomms can no longer translate every language
  yogstation/code/modules/scripting/Implementations/Telecomms.dm
Labels: Fix, Tweak

#9247 Department goals
  code/__HELPERS/roundend.dm
  code/game/machinery/cloning.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/goals/department_goals/cargo.dm
  code/modules/goals/department_goals/department_goal.dm
  code/modules/goals/department_goals/engineering.dm
  code/modules/goals/department_goals/medical.dm
  code/modules/goals/department_goals/science.dm
  code/modules/goals/department_goals/security.dm
  code/modules/goals/department_goals/service.dm
  code/modules/goals/station_goals/bsa.dm
  code/modules/goals/station_goals/dna_vault.dm
  code/modules/goals/station_goals/shield.dm
  code/modules/goals/station_goals/station_goal.dm
  yogstation.dme
  yogstation/code/controllers/subsystem/bluespace_locker.dm
  yogstation/code/controllers/subsystem/yogs.dm
Labels: DME Edit, Feature

#9397 Makes the jetpack slower
  code/game/objects/items/tanks/jetpack.dm
Labels: Tweak

#9374 removes kill objective from creep
  code/modules/antagonists/creep/creep.dm
Labels: Revert / Deletion

#9423 makes the sing and 24605 posters show up
  icons/obj/contraband.dmi
  yogstation/code/game/objects/effects/contraband.dm
  yogstation/icons/obj/contraband.dmi
Labels: Fix, Sprites

#9419 [all] Makes the arrivals APC better
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Tweak

#9422 Makes mori+guardian impossible (and a bugfix)
  code/modules/mining/lavaland/necropolis_chests.dm
  yogstation/code/modules/guardian/guardianbuilder.dm
Labels: Tweak

#9421 Disables Reebe from spawning twice.
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: Fix

#9429 monster's idea to hopefully fix hypernoblium formation for real this time
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Fix

#9412 Cherries now juice into cherry juice
  code/modules/hydroponics/grown/berries.dm
Labels: Fix

#9408 New roundend sound - jonathan frakes telling you you're wrong
  code/controllers/subsystem/ticker.dm
  sound/roundend/it_never_happened.ogg
Labels: Sound

#9248 Rebalances Energy Harvester - now ready for balance testing!
  code/controllers/subsystem/economy.dm
  code/modules/modular_computers/file_system/programs/energyharvestercontrol.dm
  code/modules/power/energyharvester.dm
  code/modules/power/powernet.dm
  tgui/packages/tgui/interfaces/EnergyHarvester.js
  tgui/packages/tgui/interfaces/NtosEnergyHarvesterController.js
  tgui/packages/tgui/interfaces/PortableGenerator.js
  yogstation.dme
Labels: Javascript, Tweak, tgui

#9402 Fixes Preternis exploit of knowing encoded audio as a human head
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Fix

#9425 Fixes huge scrubber's unmovable/connect to port bug
  code/modules/atmospherics/machinery/portable/scrubber.dm
Labels: Fix

#9426 Fixes sonic jackhammer description
  code/modules/mining/equipment/mining_tools.dm
Labels: Fix

#9401 2 new Preternis surgeries allow them to detach and attach their robotic limbs
  code/modules/surgery/amputation.dm
  code/modules/surgery/prosthetic_replacement.dm
Labels: Feature

#9381 Ghosts can now orbit some ghost role spawner items before they decide to enter them
  code/__DEFINES/atom_hud.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/antagonists/clockcult/clock_items/construct_chassis.dm
  code/modules/mob/living/brain/posibrain.dm
  code/modules/mob/living/simple_animal/friendly/drone/drones_as_items.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/mob_helpers.dm
Labels: Tweak

#9436 CentCom recovery ship mini-updates (mounted defib, bathroom, Captain Cleanbot, and a dead mouse)
  _maps/map_files/generic/CentCom.dmm
Labels: Feature, Map Change

#9418 Transfer centre fixes
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/transfer2.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/transfer4.dmm
Labels: Awaiting - Merge, Fix, Map Change

#9433 THE HONKMOTHER COMES
  code/__DEFINES/components.dm
  code/game/atoms.dm
  code/game/gamemodes/clown_ops/bananium_bomb.dm
  code/game/gamemodes/clown_ops/clown_weapons.dm
  code/game/gamemodes/clown_ops/honkmother.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/shields.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/door_assembly_types.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/statues.dm
  code/game/objects/structures/table_frames.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/mineral_floor.dm
  code/game/turfs/simulated/wall/mineral_walls.dm
  code/game/turfs/simulated/walls.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/magic/staff.dm
  icons/effects/288x288.dmi
  yogstation.dme
  yogstation/code/game/objects/items/fryingpan.dm
  yogstation/code/game/objects/structures/beds_chairs/chair.dm
  yogstation/code/game/objects/structures/table_frames.dm
  yogstation/code/game/objects/structures/tables_racks.dm
  yogstation/code/game/objects/structures/window.dm
Labels: Feature, Sprites

#9459 removes the stun from the hand because someone on discord told me to idk
  yogstation/code/modules/guardian/abilities/major/hand.dm
Labels: Tweak

#9430 Makes powergamers mad by removing captain gun from lavaland
  _maps/RandomRuins/LavaRuins/lavaland_surface_biodome_winter.dmm
Labels: Awaiting - HC Review, Map Change, Revert / Deletion

#9431 removes overpowered things from mining tendrils
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Balance, Revert / Deletion

#9440 darkspawn abilities are reapplied when lost also monkeys can't divulge
  code/modules/mob/living/login.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_abilities/_divulge.dm
Labels: Fix, Tweak

#9441 Cryo pods now don't stop when cloning damage is present on MEDICALIGNORE
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: Tweak

#9446 Adds Staff of Cheese
  code/modules/projectiles/ammunition/special/magic.dm
  code/modules/projectiles/guns/magic/staff.dm
  code/modules/projectiles/projectile/magic.dm
  icons/obj/guns/magic.dmi
  icons/obj/projectiles.dmi
Labels: Feature, Sprites

#9447 Stasis bed rotation
  code/game/machinery/stasis.dm
Labels: Feature

#9448 Removes science's ability to produce shotgun shells that instantly kill and delimb their target. If you guys get mad at this just wait until you see what I have planned for botany lmao
  code/datums/components/crafting/recipes.dm
Labels: Revert / Deletion

#9449 makes mjolnir acid and fire proof
  code/game/objects/items/singularityhammer.dm
Labels: Feature

#9450 adds a rnd kit to the free miners vendor
  code/modules/mining/machine_vending.dm
Labels: Feature

#9451 ports researching boosting nanites
  code/controllers/subsystem/processing/nanites.dm
  code/modules/research/designs/nanite_designs.dm
  code/modules/research/nanites/nanite_programs/utility.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature

#9454 bo staff damage is directed at the head, increasing its effectiveness…
  code/datums/martial/sleeping_carp.dm
Labels: Tweak

#9461 Adds cheese culture and wheel crates.
  yogstation/code/modules/cargo/cargo_packs.dm
Labels: Feature

#9457 Conditional department goals
  code/modules/goals/department_goals/cargo.dm
  code/modules/goals/department_goals/department_goal.dm
  code/modules/goals/department_goals/engineering.dm
  code/modules/goals/department_goals/security.dm
  code/modules/power/supermatter/supermatter.dm
  yogstation/code/controllers/subsystem/yogs.dm
Labels: Feature

#9452 ports possums from desert rose
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_singulo_tesla.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_sm.dmm
  code/modules/mob/living/simple_animal/friendly/possum.dm
  icons/mob/animal.dmi
  yogstation.dme
Labels: DME Edit, Feature, Map Change, Sprites

#9470 Makes the free miner R&D kit better.
  _maps/yogstation/shuttles/whiteship_miner.dmm
  code/game/objects/items/storage/boxes.dm
  code/modules/mining/machine_vending.dm
Labels: Feature, Map Change, Tweak

#9427 Mining Base 2: Electric Boogaloo
  _maps/RandomRuins/LavaRuins/miningbase.dmm
Labels: Awaiting - Action - Author, Feature, Map Change, Revert / Deletion, Tweak

#9467 Yogsmeta escape has proper airlocks
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Awaiting - Action - Maintainer, Feature, Map Change

#9480 Janibelt can now hold paint remover
  code/game/objects/items/storage/belt.dm
Labels: Awaiting - Action - Maintainer, Tweak

#9483 Fixes a theoretically exploit that would theoretically allow to make an infinite amount of research points
  code/modules/research/nanites/nanite_programs/utility.dm
Labels: Awaiting - Action - Maintainer

#9405 Ports "Ports TGMC timer cooldowns (now supporting signals)"
  code/__DEFINES/cooldowns.dm
  code/datums/datum.dm
  yogstation.dme
Labels: Awaiting - Action - Maintainer

#9512 Adds a new variation to Fore Maint: The Drone Hole
  _maps/map_files/YogStation/YogStation.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/foremaint-chem.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/foremaint-drone.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Feature, Map Change

#9496 Resprites all the Canisters and the Portable Siphoner
  icons/obj/atmos.dmi
Labels: Sprites, Tweak

#9466 THE HONKMOTHER COMES
  code/__DEFINES/components.dm
  code/game/atoms.dm
  code/game/gamemodes/clown_ops/bananium_bomb.dm
  code/game/gamemodes/clown_ops/clown_weapons.dm
  code/game/gamemodes/clown_ops/honkmother.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/shields.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/door_assembly_types.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/statues.dm
  code/game/objects/structures/table_frames.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/mineral_floor.dm
  code/game/turfs/simulated/wall/mineral_walls.dm
  code/game/turfs/simulated/walls.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/magic/staff.dm
  icons/effects/288x288.dmi
  yogstation.dme
  yogstation/code/game/objects/items/fryingpan.dm
  yogstation/code/game/objects/structures/beds_chairs/chair.dm
  yogstation/code/game/objects/structures/table_frames.dm
  yogstation/code/game/objects/structures/tables_racks.dm
  yogstation/code/game/objects/structures/window.dm
Labels: Awaiting - Action - Author, DME Edit, Feature, Sprites

#9464 Centers Honkmother on station when summoned by bananium bomb
  code/game/gamemodes/clown_ops/bananium_bomb.dm
Labels: Awaiting - Action - Maintainer, Tweak

#9153 Cargo transit tube pods
  code/__DEFINES/pipe_construction.dm
  code/game/machinery/pipe/pipe_dispenser.dm
  code/game/objects/items/RPD.dm
  code/game/objects/structures/transit_tubes/station.dm
  code/game/objects/structures/transit_tubes/transit_tube_cargo_pod.dm
  code/game/objects/structures/transit_tubes/transit_tube_construction.dm
  code/game/objects/structures/transit_tubes/transit_tube_pod.dm
  icons/obj/atmospherics/pipes/transit_tube.dmi
  yogstation.dme
Labels: Awaiting - Action - Maintainer, DME Edit, Feature, Sprites

#9373 Obsession will forcibly enable mood since its effects are based on mood
  code/modules/antagonists/creep/creep.dm
Labels: Feature

#9546 Replaces Feweh in the wizard academy
  _maps/RandomRuins/SpaceRuins/Academy.dmm
Labels: Map Change, Tweak

#9536 fixes necropolis chests not dropping loot sometimes
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Fix

#9558 Aliens can attack firedoors on harm intent
  code/game/machinery/doors/firedoor.dm
Labels: Tweak

#9562 Replaces the health hud bar with a new one that shows your health even when you get in crit
  code/game/data_huds.dm
  yogstation/icons/mob/hud.dmi
Labels: Sprites

#9556 Makes Battle Royale functional again
  yogstation/code/game/gamemodes/battle_royale/battleroyale.dm
Labels: Fix

#9551 Removes slaughter demon heart from wizard academy
  _maps/RandomRuins/SpaceRuins/Academy.dmm
Labels: Map Change, Revert / Deletion

#9538 Magic missile now respects antimagic
  code/modules/spells/spell_types/wizard.dm
Labels: Fix

#9519 Increases amount of roundstart gang spawns from 2 to 4
  yogstation/code/game/gamemodes/gangs/gangs.dm
Labels: Tweak

#9525 Mutagen has checks now
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Fix

#9498 deletes the borg snowflake check for surgeries
  code/modules/surgery/surgery.dm
  code/modules/surgery/surgery_step.dm
Labels: Fix

#9576 Removes the jukebox "rest" dancemove and fixes the access.
  code/game/machinery/dance_machine.dm
Labels: Revert / Deletion, Tweak

#9166 Adds a new, extremely rare event.
  code/__DEFINES/traits.dm
  code/modules/events/flutes.dm
  sound/ambience/flutes.ogg
  yogstation.dme
Labels: Awaiting - Action - Maintainer, Feature, Sound

#9561 Turns replays into a background system, hopefully making lag less noticable
  code/controllers/subsystem/demo.dm
Labels: TESTMERGED

#9534 makes heck suit spaceproof
  code/modules/mining/equipment/explorer_gear.dm
Labels: Tweak

#9484 Alex goes over already merged code and fixes it post merge: Preternis language fix
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Awaiting - Action - Maintainer

#9575 Asclepius' snake injects godblood
  code/datums/status_effects/buffs.dm
Labels: Tweak

#9578 Makes Ageusia cost a point
  code/datums/traits/good.dm
  code/datums/traits/neutral.dm
Labels: Tweak

#9560 Reduce light explosion damage
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Tweak

#9521 Mentors can now mentorhelp
  yogstation/code/modules/mentor/mentorhelp.dm
Labels: Tweak

#9596 Removes lies - 99% lag free is replaced by the actual lag percentage
  yogstation/code/game/world.dm
Labels: Tweak

#9588 New images for stamps on paper
  icons/stamp_icons/large_stamp-cap.png
  icons/stamp_icons/large_stamp-ce.png
  icons/stamp_icons/large_stamp-cmo.png
  icons/stamp_icons/large_stamp-hop.png
  icons/stamp_icons/large_stamp-hos.png
  icons/stamp_icons/large_stamp-law.png
  icons/stamp_icons/large_stamp-qm.png
  icons/stamp_icons/large_stamp-rd.png
Labels: Tweak
