Repository yogstation13/Yogstation, pull requests merged in 2020-03, with the labels that each got.

#7865 changelings will now gain their victims accent on transformation
  code/game/gamemodes/changeling/changeling.dm
  code/modules/antagonists/changeling/changeling.dm
Labels: Tweak, good first pull request

#7874 Cycling Airlocks
  _maps/RandomRuins/LavaRuins/miningbase.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_singulo_tesla.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/engine_sm.dmm
  code/datums/wires/airlock_cycle.dm
  code/game/machinery/airlock_cycle_control.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/devices/electroadaptive_pseudocircuit.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/atmospherics/machinery/components/binary_devices/dp_vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/shuttle/on_move.dm
  code/modules/vending/engivend.dm
  icons/obj/monitors.dmi
  tgui-next/packages/tgui/interfaces/AdvancedAirlockController.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
  yogstation.dme
Labels: DME Edit, Feature, Icon Change, Javascript, Map Change, TESTMERGE, Tweak

#7901 Name change to Clockwork achievements
  code/datums/achievements/achievements.dm
Labels: Feature

#7853 Traitor crafting recipes (uplink item)
  code/__DEFINES/tools.dm
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/granters.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/library.dmi
Labels: Feature, Icon Change

#7937 Ice moon mob movement speed fix (part of ice moon ghetto testmerge)
  code/modules/mob/living/simple_animal/hostile/mining_mobs/polarbear.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/wolf.dm
Labels: Tweak

#7934 Adds monkey gamemode V3
  code/__DEFINES/role_preferences.dm
  code/datums/diseases/transformation.dm
  code/datums/saymode.dm
  code/game/gamemodes/monkey/monkey.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/antagonists/monkey/monkey.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/mob_helpers.dm
  yogstation.dme
Labels: DME Edit, Feature

#7944 Assorted moon map fixes and Joe the goliath
  _maps/RandomRuins/IceRuins/icemoon_underground_lavaland.dmm
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/Mining/Icemoon.dmm
  _maps/map_files/Mining/IcemoonUnderground.dmm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
Labels: Map Change

#7947 fix atmos on asteroid ruin moonmap
  _maps/RandomRuins/IceRuins/icemoon_surface_asteroid.dmm
Labels: Map Change

#7940 Replaces a Medbay sleeper with a stasis bed (fixed edition)
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#7827 Adds 9 different variations to dorms
  _maps/map_files/YogStation/YogStation.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/dorms_edoor1.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/dorms_edoor2.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/dorms_edoor3.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/dorms_edoor4.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/dorms_edoor5.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/dorms_edoor6.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/dorms_edoor7.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/dorms_edoor8.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/dorms_edoor9.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Feature, Map Change

#7954 Revert "Revert "Revert "renames broodmothers back to midwives"""
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Code Improvement

#7957 GRAVITY? WHO GIVES A CRAP ABOUT GRAVITY? Icemoon
  _maps/map_files/IceBox/IceBox.dmm
Labels: Map Change

#7951 Gives syndicate ship a copy machine and paper
  _maps/shuttles/infiltrator_basic.dmm
Labels: Feature, Map Change

#7963 [s] yes
  code/modules/goonchat/browserassets/js/browserOutput.js
Labels: Verified

#7964 chem ruin on lavaland no longer has space area
  _maps/RandomRuins/LavaRuins/lavaland_surface_chemistry.dmm
Labels: Map Change

#7965 Demodularizes mindshields
  code/game/objects/items/implants/implant_mindshield.dm
  yogstation.dme
  yogstation/code/game/objects/items/implants/implant_mindshield.dm
Labels: Feature, Revert / Deletion

#7553 Lag removal, try 2
  byond-extools.dll
  code/__DEFINES/_tick.dm
  code/_globalvars/misc.dm
  code/controllers/master.dm
  code/game/world.dm
Labels: Performance, Stale, WORK IN PROGRESS, i ded

#7961 Random accent is now a neutral quirk
  code/datums/traits/negative.dm
  code/datums/traits/neutral.dm
Labels: Balance

#7970 Bucklecuff timer in seconds
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#7960 Makes AIs unable to be Cheesed/Launchpadded
  code/game/machinery/launch_pad.dm
Labels: Tweak

#7972 vampire buff (make vampires great again)
  yogstation/code/datums/antagonists/vampire.dm
  yogstation/code/game/gamemodes/vampire/vampire_powers.dm
Labels: Tweak

#7922 Adds pixel shifting
  code/modules/keybindings/bindings_mob.dm
  code/modules/mob/mob.dm
  yogstation/code/modules/keybindings/bindings_mob.dm
Labels: Feature, Verified

#7916 The clock cult stun (Kindle) Changes
  code/__DEFINES/movespeed_modification.dm
  code/modules/antagonists/clockcult/clock_scripture.dm
  code/modules/antagonists/clockcult/clock_scriptures/scripture_drivers.dm
Labels: Balance, Tweak

#7938 chaplain black templar outfit (pr for war)
  code/game/objects/items/holy_weapons.dm
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Feature, Icon Change

#7982 cleans vault cameras and cables (omega)
  _maps/map_files/Omegastation/omegastation.dmm
Labels: Map Change

#7989 new span for mindslave
  yogstation/code/game/objects/items/implants/implant_mindslave.dm
Labels: Tweak

#7935 cheese always heals mice instead of not healing them if they are already supercheese mode
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Balance, Tweak

#7987 "make new vampires" objective for vampires
  yogstation/code/datums/antagonists/vampire.dm
  yogstation/code/game/gamemodes/vampire/vampire.dm
  yogstation/code/game/gamemodes/vampire/vampire_objectives.dm
  yogstation/code/game/gamemodes/vampire/vampire_powers.dm
Labels: Feature, Tweak

#7983 Several changes to vampire (mostly buffs)
  yogstation/code/datums/antagonists/vampire.dm
  yogstation/code/game/gamemodes/vampire/vampire_powers.dm
Labels: Balance, Tweak

#7933 Adds 5 placement variations to morgue
  _maps/map_files/YogStation/YogStation.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/medbay_morgue1.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/medbay_morgue2.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/medbay_morgue3.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/medbay_morgue4.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/medbay_morgue5.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Feature, Map Change

#7995 Minsky Decals 2 (MOAR DECALS!)
  code/game/objects/structures/signs/signs_departments.dm
  icons/obj/decals.dmi
Labels: Icon Change

#7900 A wild empty line has appeared!
  yogstation/code/controllers/subsystem/research.dm
Labels: Stale

#8009 I change xenobio forever
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/xenobridge_space.dmm
Labels: Map Change

#7921 Adds 4 Variations to bomb testing range
  _maps/map_files/YogStation/YogStation.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/testingsite_range1.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/testingsite_range2.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/testingsite_range3.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Feature, Map Change

#7931 Nicotine addiction no longer drops items
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
Labels: Revert / Deletion

#7945 Cleans up the limited amount of powershell we use
  tools/SQLAlertEmail/email_script.ps1
  tools/appveyor/build.ps1
  tools/tgs4_scripts/PreSynchronize.ps1
Labels: Tweak, nice

#7946 The great JSON indenting/reformatting
  strings/french_replacement.json
  strings/ion_laws.json
  strings/italian_replacement.json
  strings/pirates.json
  strings/revenant_names.json
  strings/spurdo_replacement.json
  strings/traumas.json
  strings/valentines.json
  strings/yogs_ion_laws.json
Labels: Refactor

#7999 healing holo has forced healing and limited healing can't heal other holos with the same user
  yogstation/code/modules/guardian/abilities/major/healing.dm
Labels: Verified

#7998 holoparasite base healing ability is no longer selectable
  yogstation/code/modules/guardian/guardianbuilder.dm
Labels: Revert / Deletion, Verified

#8000 [admin] these sdql wrappers are fucking useless
  code/modules/admin/verbs/SDQL2/SDQL_2_wrappers.dm
Labels: Admin

#8017 Fixes Plasmaman Default PDA Spawn Issues
  code/modules/clothing/outfits/plasmaman.dm
Labels: Feature, Fix

#8025 Literally a gigantic error in our code
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
Labels: Verified

#8016 Redd's Gas Station Update
  _maps/RandomRuins/LavaRuins/lavaland_surface_gas_station.dmm
Labels: Map Change, Tweak

#8010 Round start vampires wont get a blood objective, only a convert one
  yogstation/code/datums/antagonists/vampire.dm
Labels: Tweak

#8039 quickport space vine buff
  code/modules/events/spacevine.dm
Labels: Feature

#8031 Redds paperwork fixes
  yogstation/code/game/objects/items/premadepapers.dm
Labels: Tweak

#8041 ports rad suit resprite from /tg/ who ported it from bee-hornet (and the hazard vest too)
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Icon Change

#8045 ports Resprites the entirety of the beret set, take two from bee-hornet (part 2)
  icons/mob/head.dmi
Labels: Icon Change

#8044 ports Resprites the entirety of the beret set, take two from bee-hornet (part 1)
  yogstation/icons/mob/head.dmi
  yogstation/icons/obj/clothing/hats.dmi
Labels: Icon Change

#8046 fixes the rad suit helmet that i just broke
  icons/mob/head.dmi
Labels: Icon Change

#8048 centres the red camo uniform
  yogstation/icons/mob/uniform.dmi
Labels: Icon Change

#7917 Achievement Get Part 3 - Cargo Achievements (and bugfixes!)
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/achievements.dm
  code/datums/achievements/achievements.dm
  code/modules/cargo/bounty.dm
  code/modules/cargo/bounty_console.dm
  code/modules/economy/account.dm
  code/modules/station_goals/bsa.dm
Labels: Feature

#8028 diamond will now give you 30 carbon
  code/game/objects/items/stacks/sheets/mineral.dm
Labels: Tweak

#7962 Fixes Accents Incorrectly Capturing on the Middle of Words
  code/_globalvars/lists/mobs.dm
  code/datums/traits/neutral.dm
  strings/accents/accent_brooklyn.json
  strings/accents/accent_chef_muppet.json
  strings/accents/accent_connery.json
  strings/accents/accent_cowboy.json
  strings/accents/accent_cowboylight.json
  strings/accents/accent_french.json
  strings/accents/accent_germanlight.json
  strings/accents/accent_jive.json
  strings/accents/accent_kraut.json
  strings/accents/accent_oldenglish.json
  strings/accents/accent_ork.json
  strings/accents/accent_pirate.json
  strings/accents/accent_piratelight.json
  strings/accents/accent_scottish.json
  strings/accents/accent_scottishlight.json
  strings/accents/accent_shakespearean.json
  strings/accents/accent_shakespeareanlight.json
  strings/accents/accent_skaven.json
  strings/accents/accent_valspeak.json
  yogstation/code/__HELPERS/unsorted.dm
  yogstation/code/controllers/subsystem/yogs.dm
  yogstation/code/datums/mind.dm
Labels: Fix

#8026 Show poll results and by extension the server tab doesnt show to players anymore
  code/modules/admin/admin_verbs.dm
  yogstation/code/modules/mob/new_player/poll.dm
Labels: Admin, Fix, Verified

#8042 ports New mining scanner sprites from bee-hornet
  code/modules/mining/equipment/mineral_scanner.dm
  icons/obj/device.dmi
Labels: Sprites

#8056 removes unused sprites from device.dmi
  icons/obj/device.dmi
Labels: Icon Change, Sprites

#8057 removes unused sprites from head.dmi
  icons/mob/head.dmi
Labels: Icon Change, Sprites

#8058 Cat AI core
  code/_globalvars/lists/flavor_misc.dm
  icons/mob/ai.dmi
Labels: Feature, Icon Change, Sprites

#8061 ports New emt sprites from bee-hornet
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Icon Change, Sprites

#8066 RD gets cool glasses
  code/modules/jobs/job_types/research_director.dm
Labels: Feature

#8076 Hopefully fixes turdis inability to get certain dependencies
  .github/workflows/turdis.yml
Labels: Github

#7623 Removes half broken mime ability
  yogstation.dme
  yogstation/code/modules/spells/spell_types/mime.dm
Labels: Revert / Deletion

#7953 Adds Psuedo-Latin accent (on behalf of War #0100 )
  strings/accents/accent_pseudolatin.json
  strings/accents/accents.json
Labels: Feature

#8030 adds shawn the sheep as a possible kitchen spawn
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
Labels: Feature

#8029 remove vampire from charged black extract
  code/modules/mob/living/carbon/human/species_types/vampire.dm
Labels: Revert / Deletion

#8019 Reimplements door bolting messages
  code/game/machinery/doors/airlock.dm
Labels: Fix, Tweak

#8034 smoker is now a mood quirk
  code/datums/traits/negative.dm
Labels: Tweak, Verified

#8035 Swedish speech mutation now replaces 'the [X]' with '[X]en'/'[X]et'
  code/datums/mutations/speech.dm
Labels: Tweak

#8037 Fixes accents.json capitalization
  strings/accents/accent_cowboylight.json
  strings/accents/accent_french.json
  strings/accents/accent_oldenglish.json
  strings/accents/accent_ork.json
  strings/accents/accent_piratelight.json
  strings/accents/accent_scottishlight.json
  strings/accents/accent_shakespearean.json
  strings/accents/accent_shakespeareanlight.json
  strings/accents/accents.json
Labels: Tweak, Verified

#8047 Toilets now require buckets instead of mopbuckets
  code/datums/components/crafting/recipes.dm
Labels: Tweak, Verified

#8040 [PORT] Venus Human Trap Update
  code/modules/events/spacevine.dm
  code/modules/language/language_holder.dm
  code/modules/language/sylvan.dm
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
  code/modules/surgery/organs/tongue.dm
  yogstation.dme
Labels: DME Edit, Feature

#8063 Dmbs and Rscs are uploaded to every turdis build for local testing without having to compile the code!
  .github/workflows/turdis.yml
Labels: Github

#8059 Update ticker.dm
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Verified, nice

#8067 Hierophant club station fix
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Tweak

#8078 Fixes linux support for lavaland
  _maps/map_files/mining/Icemoon.dmm
  _maps/map_files/mining/IcemoonUnderground.dmm
  _maps/map_files/mining/Lavaland.dmm
Labels: Fix, Map Change

#8070 Removes running in the 90s as a roundstart song
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Revert / Deletion

#8079 Minsky Signs #3
  code/game/objects/structures/signs/signs_departments.dm
  icons/obj/decals.dmi
Labels: Feature, Icon Change, Sprites

#8081 makes the emt hat not-invisible, sorry guys
  icons/mob/head.dmi
Labels: Icon Change, Sprites

#8082 fixed Âc"
  yogstation/code/game/world.dm
Labels: Tweak

#8080 Theos Yells at me so i bend to his wim (Clockcult)
  _maps/map_files/generic/City_of_Cogs.dmm
Labels: Map Change

#8062 You can now crack your knuckles. crack!
  code/modules/mob/living/carbon/emote.dm
  sound/misc/knuckles.ogg
Labels: Feature, Sound
