Repository yogstation13/Yogstation, pull requests merged in 2020-09, with the labels that each got.

#9545 revive rune deals heavy damage to the user and person being revived to assert it as a utility rune and not a combat rune
  code/modules/antagonists/cult/runes.dm
Labels: Tweak

#9542 cyborgs are no longer convertable by twisted construction
  code/modules/antagonists/cult/blood_magic.dm
Labels: Tweak

#9539 reduce cult sword damage to 30 to 25
  code/modules/antagonists/cult/cult_items.dm
Labels: Tweak

#9517 remove advanced forensic scanner range limit so it's an upgrade
  code/modules/detectivework/scanner.dm
Labels: Tweak

#9503 Disallows use of most darkspawn abilities while using crawling shadows
  yogstation/code/modules/antagonists/darkspawn/darkspawn_abilities/creep.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_abilities/demented_outburst.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_abilities/devour_will.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_abilities/tagalong.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_abilities/time_dilation.dm
Labels: Tweak

#9494 makes it harder to accidentally beat someone to death with a toilet while bullying them
  code/game/objects/structures/watercloset.dm
Labels: Tweak

#9493 kinetic accelerator now works with damage multipliers from outside sources
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Fix

#9474 Add AI Upload To Research Access
  code/modules/jobs/access.dm
Labels: Feature

#9443 not sure if this will do anything but it might fix mindswap
  code/modules/spells/spell_types/mind_transfer.dm
Labels: Awaiting - Action - Maintainer, Fix

#9439 Resprites the experimental tools from caravan ambush
  code/modules/ruins/spaceruin_code/caravanambush.dm
  icons/mob/inhands/equipment/tools_lefthand.dmi
  icons/mob/inhands/equipment/tools_righthand.dmi
  icons/obj/tools.dmi
Labels: Sprites

#9432 Makes caravan ambush slightly worse
  _maps/RandomRuins/SpaceRuins/caravanambush.dmm
  _maps/shuttles/ruin_caravan_victim.dmm
  _maps/shuttles/ruin_pirate_cutter.dmm
  code/game/objects/items/melee/misc.dm
  code/modules/mob/living/simple_animal/hostile/pirate.dm
  code/modules/ruins/spaceruin_code/caravanambush.dm
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/obj/items_and_weapons.dmi
Labels: Awaiting - HC Review, Map Change, Sprites, Tweak

#9612 renames huge goat to giant goat
  yogstation/code/modules/mob/living/simple_animal/friendly/goats.dm
Labels: Tweak

#9577 fix roffle waffles
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
Labels: Fix

#9609 Fixes #9594
  code/modules/mob/living/simple_animal/friendly/drone/verbs.dm
Labels: Fix

#9597 Fixes nullspaced GPSes breaking all the GPSes
  code/game/objects/items/devices/gps.dm
Labels: Fix

#9281 Removes the gamer spawners from the gamer ruin
  _maps/RandomRuins/SpaceRuins/gameroom.dmm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/jobs/jobs.dm
Labels: Awaiting - Action - Maintainer, Map Change, Revert / Deletion

#9620 Fix mushroom hallucinogen
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Fix

#9548 [PORT] Dragging prone mobs slows you down, fireman carrying
  code/__DEFINES/mobs.dm
  code/__DEFINES/movespeed_modification.dm
  code/__DEFINES/traits.dm
  code/datums/components/footstep.dm
  code/datums/components/riding.dm
  code/modules/clothing/gloves/color.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_movement.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/mob.dm
Labels: Feature, Tweak

#9508 (port) Adds Malt Liquir
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/vending/boozeomat.dm
  icons/obj/drinks.dmi
Labels: Feature, Sprites

#9544 cult bolas knock down instead of paralyze
  code/game/objects/items/handcuffs.dm
  code/modules/antagonists/cult/cult_items.dm
Labels: Tweak

#9646 [admin] (untested) It should now be possible to ban someone from holoparasite via ghost role bans or antag bans
  code/modules/admin/sql_ban_system.dm
Labels: Admin, Fix

#9639 altar of god on delta and meta
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Fix, Map Change

#9633 Uniform Bar Variants: Added Drink Showcases, Christmas Tree Spawners, and more.
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_box.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_casino.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_cheese.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_citadel.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_clock.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_conveyor.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_diner.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_disco.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_irish.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_purple.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_spacious.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
Labels: Feature, Map Change, Revert / Deletion

#9622 no more announcement console bigotry
  code/game/machinery/announcement_system.dm
Labels: Admin

#9535 Funny music now plays when pirates spawn
  code/modules/events/pirates.dm
  yogstation/sound/largefiles/pirate_intro.ogg
Labels: Feature, Sound

#9543 cult stun hand stuns less powerfully as the cult becomes stronger
  code/modules/antagonists/cult/blood_magic.dm
Labels: Tweak

#9566 Stuns and Stamcrit Now Radio Mute
  code/modules/mob/living/say.dm
Labels: Feature

#9574 allows you to purchase a single bottle of space cleaner from janitor vendor
  code/modules/vending/wardrobes.dm
Labels: Feature

#9584 gives hooch anti radiation
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Feature

#9595 Makes greed slot ,achine deal damage to max health
  code/modules/ruins/objects_and_mobs/sin_ruins.dm
Labels: Balance, Tweak

#9602 Lowers firedoor integrity
  code/game/machinery/doors/firedoor.dm
Labels: Tweak

#9605 Adds stuff to the debug outfit
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Tweak

#9623 Changes pretty message blocking to using the helper proc
  code/modules/mob/say.dm
Labels: Admin

#9631 Paramedics now get nitryl gloves
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Labels: Feature

#9634 Mining-only Bombcap Multiplier adjustment
  code/__DEFINES/maps.dm
Labels: Tweak

#9635 add special detective gloves from bay
  code/game/objects/items/storage/backpack.dm
  code/modules/clothing/gloves/color.dm
  code/modules/jobs/job_types/detective.dm
  icons/obj/clothing/gloves.dmi
Labels: Feature, Revert / Deletion, Sprites

#9641 should make the hand not be able to teleport stuff you can't see
  yogstation/code/modules/guardian/abilities/major/hand.dm
Labels: Fix

#9653 Fixes 95% of Security Mistakes
  strings/tips.txt
Labels: Tweak

#9649 Fixes for fireman Carry
  code/datums/components/riding.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#9624 adds space gorilla ruin
  _maps/RandomRuins/SpaceRuins/bigape.dmm
  code/datums/ruins/space.dm
  config/spaceruinblacklist.txt
Labels: Config, Feature, Map Change

#9486 Readds Turn the Lights Off by Tally Hall
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature

#9636 makes it no longer possible to break into test chamber before round end
  _maps/map_files/generic/CentCom.dmm
Labels: Feature, Map Change

#9657 Syndicate Lavabase turrets now obey the control panel
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
Labels: Map Change, Tweak

#9668 Fixes fireman check bypass
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#9509 Complete boxstation medbay map rework
  _maps/map_files/YogStation/YogStation.dmm
Labels: Awaiting - Action - Maintainer, Map Change, Tweak

#9670 New medbay hotfixes #1
  _maps/map_files/YogStation/YogStation.dmm
Labels: Fix, Map Change

#9673 New medbay hotfixes #2
  _maps/map_files/YogStation/YogStation.dmm
Labels: Fix, Map Change

#9679 Qol firemans
  code/modules/mob/living/carbon/human/human.dm
Labels: Tweak

#9510 Return of the stimball
  code/__DEFINES/reactions.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  yogstation/code/modules/atmospherics/machinery/portable/canister.dm
Labels: Feature, Fix, Revert / Deletion, Tweak

#9532 Bundle of atmos bugfixes and some stuff
  code/__DEFINES/reactions.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Fix, Tweak

#9687 Fixes the SM & remove bad code
  code/modules/power/supermatter/supermatter.dm
Labels: Fix

#9643 vitality matrix works on augmented limbs
  code/modules/antagonists/clockcult/clock_effects/clock_sigils.dm
  code/modules/mob/living/damage_procs.dm
Labels: Fix

#9644 [s] [admin] fullfills ash's request
  code/modules/admin/IsBanned.dm
Labels: Admin

#9640 Steels railings from tgstation(?)
  code/__HELPERS/unsorted.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/structures/railings.dm
  icons/obj/fluff.dmi
  yogstation.dme
Labels: DME Edit, Feature, Sprites

#9610 Reduces the TC cost of the Syndicate Reverse card from 6 to 1
  code/modules/uplink/uplink_items.dm
Labels: Balance, Tweak

#9571 [box] More transfer centre fixes
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/transfer2.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/transfer6.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/transfer8.dmm
  _maps/yogstation/RandomRuins/StationRuins/BoxStation/transfer9.dmm
Labels: Fix, Map Change

#9567 Ghosts can now analyze plants and seeds by clicking them
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/growninedible.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seeds.dm
Labels: Feature

#9615 (port) feral cat grenade
  code/game/objects/items/grenades/spawnergrenade.dm
  code/modules/mob/living/simple_animal/hostile/feral_cat.dm
  code/modules/uplink/uplink_items.dm
  yogstation.dme
Labels: Feature

#9469 cargo tesla goal
  code/modules/goals/department_goals/cargo.dm
Labels: Awaiting - Action - Maintainer, Feature

#9456 Adds a warning to whisper succumb
  code/modules/mob/living/say.dm
Labels: Feature

#9698 Adds a new round end sound
  code/controllers/subsystem/ticker.dm
  sound/roundend/heresy_announced_cut.ogg
Labels: Sound

#9689 Ports cyborg buckling also QoL change
  code/game/objects/buckling.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
Labels: Feature

#9686 Minor tweak to Check/Use Antag Token verb
  yogstation/code/modules/client/verbs/antag_token.dm
Labels: Tweak

#9677 adds pirate space suit to lavaland pirate ruin
  _maps/RandomRuins/LavaRuins/lavaland_surface_chemistry.dmm
Labels: Feature, Map Change

#9672 Buffs the metal cutlass damage by 60%
  code/game/objects/items/melee/misc.dm
Labels: Tweak

#9550 New badmin fusion testing canisters
  yogstation/code/modules/atmospherics/machinery/portable/canister.dm
Labels: Feature

#9709 Error annotations take 2, should work on forks this time
  .github/workflows/turdis.yml
Labels: Github

#9692 makes flesh stalker good again since theos took a fat flaming shit all over it
  code/modules/antagonists/eldritch_cult/eldritch_magic.dm
Labels: Tweak

#9721 fixes IAA pinpointer targetting only the first person
  code/modules/antagonists/traitor/IAA/internal_affairs.dm
Labels: Fix

#9739 fix oversight that makes pockets not get checked for heretic sacrifices
  code/modules/mob/inventory.dm
Labels: Fix

#9749 what idiot forgot to make shock touch have a fucking proximity check i swear to god
  code/datums/mutations/touch.dm
Labels: Fix

#9755 Makes Blob special tiles lavaproof
  code/modules/antagonists/blob/structures/core.dm
  code/modules/antagonists/blob/structures/factory.dm
  code/modules/antagonists/blob/structures/node.dm
  code/modules/antagonists/blob/structures/resource.dm
Labels: Fix

#9753 Adds the Build Your Own Shuttle, Jr. / Adds emergency shuttle consoles to the build shuttles
  _maps/shuttles/emergency_construction.dmm
  _maps/shuttles/emergency_construction_small.dmm
  code/datums/shuttles.dm
Labels: Feature, Map Change

#9770 fixes two wallet sprites
  icons/obj/storage.dmi
Labels: Fix, Sprites

#9758 breaching shotgun only fits breaching slugs now
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Tweak

#9681 Ports 'Adds area-based wire layouts to airlocks'
  code/datums/wires/_wires.dm
  code/datums/wires/airlock.dm
  code/datums/wires/emitter.dm
  code/datums/wires/explosive.dm
  code/datums/wires/mulebot.dm
  code/datums/wires/r_n_d.dm
  code/datums/wires/robot.dm
  code/datums/wires/syndicatebomb.dm
  code/datums/wires/tesla_coil.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/area/areas.dm
  code/game/machinery/doors/airlock.dm
  code/modules/mining/machine_vending.dm
  tgui/packages/tgui/interfaces/Wires.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Javascript, Tweak, tgui

#9600 Polysmorph Race
  code/__DEFINES/is_helpers.dm
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/__HELPERS/names.dm
  code/_globalvars/lists/flavor_misc.dm
  code/_globalvars/lists/names.dm
  code/controllers/subsystem/traumas.dm
  code/game/machinery/scan_gate.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/language/language_holder.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/polysmorphs.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/tails.dm
  code/modules/surgery/organs/tongue.dm
  config/game_options.txt
  icons/mob/dam_mob.dmi
  icons/mob/human_parts.dmi
  icons/mob/mutant_bodyparts.dmi
  strings/names/polysmorph.txt
  yogstation.dme
  yogstation/icons/mob/human_parts.dmi
Labels: Admin, Config, DME Edit, Feature, Sprites

#9601 Rework of Omegastation
  _maps/map_files/Omegastation/omegastation.dmm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/head_of_security.dm
Labels: Awaiting - Action - Maintainer, Feature, Map Change, Tweak

#9627 Mindslave and Greytide implant antag hud
  code/__DEFINES/atom_hud.dm
  code/datums/hud.dm
  icons/mob/hud.dmi
  yogstation/code/modules/antagonists/traitor/datum_mindslave.dm
Labels: Feature, Sprites

#9650 Minor objectives
  code/game/gamemodes/objective.dm
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Tweak

#9700 ports the heretic balance patch from tG
  code/__DEFINES/antagonists.dm
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_book.dm
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
  code/modules/antagonists/eldritch_cult/eldritch_items.dm
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
  code/modules/antagonists/eldritch_cult/eldritch_magic.dm
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
  code/modules/mob/living/simple_animal/eldritch_demons.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  icons/mob/actions/actions_ecult.dmi
Labels: Feature, Fix, Revert / Deletion, Sprites, Tweak

#9701 Overhauls the free golem base
  _maps/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  code/game/objects/items/storage/firstaid.dm
  code/modules/mining/machine_vending.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: Feature, Map Change, Tweak

#9754 constructs take extra damage from the nullrod
  code/modules/mob/living/simple_animal/constructs.dm
Labels: Tweak

#9706 Animated Locker Doors
  code/game/objects/effects/overlays.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/secure/bar.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/crates.dm
  icons/obj/closet.dmi
Labels: Feature, Sprites

#9722 remove knockdown from hand teleport
  yogstation/code/modules/guardian/abilities/major/hand.dm
Labels: Tweak

#9708 adds a small fire delay to both station shotguns to make them slightly less of the best weapon in the fucking game and ideally this is all i'll have to do because i don't want to even consider nerfing buckshot or some stupid shit like that
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Tweak

#9710 clarifys that the nuclear bomb is nanotrasen branded
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
Labels: Feature

#9720 Stunbaton now discharges battery when left on
  code/game/objects/items/stunbaton.dm
Labels: Tweak

#9714 Revert "Adds a new round end sound"
  code/controllers/subsystem/ticker.dm
  sound/roundend/heresy_announced_cut.ogg
Labels: Sound

#9718 adam makes another one-file change in the web editor: buffing cryogenic blob edition
  code/modules/antagonists/blob/blobstrains/cryogenic_poison.dm
Labels: Tweak

#9726 (port) you no longer smash light fixtures with light tubes
  code/modules/power/lighting.dm
Labels: Fix

#9727 makes minebots and goldgrubs actually mine and goldgrub on lavaland
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: Tweak

#9728 adds a new tip informing people how to use altar of god
  strings/tips.txt
Labels: Feature

#9730 gives wizard a box with internals
  _maps/map_files/generic/CentCom.dmm
  code/modules/clothing/outfits/standard.dm
Labels: Awaiting - Action - Maintainer, Fix, Map Change

#9740 Removes t-posing
  yogstation/code/modules/mob/living/emote.dm
Labels: Revert / Deletion

#9743 should make egg RP function as intended
  code/modules/food_and_drinks/food/snacks_egg.dm
Labels: Fix

#9751 Ballistic weapon feedback system (fixed and reuploaded edition)
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  icons/obj/guns/projectile.dmi
Labels: Feature, Sprites, Visual Change

#9752 unmatured parmesan
  code/modules/food_and_drinks/food/snacks_cheese.dm
Labels: Tweak

#9756 [Box] Public teleporter access
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#9761 mentors now get a notification when their fellow man are answering a mentorhelp
  yogstation/code/modules/mentor/mentorpm.dm
Labels: Feature

#9763 Remove meteorgun from king of goats loot
  yogstation/code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
Labels: Revert / Deletion

#9705 Fixes stupid medical airlock lights and cleans up dme
  code/game/machinery/doors/airlock.dm
  yogstation.dme
Labels: DME Edit, Fix

#9642 sentinel's compromise now ACTUALLY works on cyber limbs
  code/modules/antagonists/clockcult/clock_helpers/slab_abilities.dm
Labels: Fix

#9771 Lavaland Multiplier reduced from 5X to 2.5X
  code/__DEFINES/maps.dm
Labels: Tweak

#9775 holy water now actually blocks clockwork jaunts
  code/game/machinery/computer/camera_advanced.dm
Labels: Balance, Fix

#9776 fix bloodcrawl alcohol counters
  yogstation/code/datums/components/crawl.dm
Labels: Fix

#9768 floor cluwne can't be sentienced
  yogstation/code/modules/mob/living/simple_animal/hostile/floor_cluwne.dm
Labels: Fix

#9779 makes mind transferring move perks to the new body
  code/datums/mind.dm
Labels: Fix

#9787 Unfucks exterior free golem areas
  _maps/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
Labels: Fix, Map Change

#9783 Makes wooden barricades disassemblable
  code/game/machinery/deployable.dm
Labels: Tweak

#9788 Fixed Advanced Mimery's Description
  code/modules/spells/spell_types/mime.dm
Labels: Fix

#9791 Adds the urn to the ChapDrobe, for storing cremator ashes
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/vending/wardrobes.dm
  icons/obj/chemical.dmi
Labels: Feature, Sprites

#9795 [admin] SM to Faction logging
  yogstation/code/modules/admin/verbs/one_click_antag.dm
Labels: Feature

#9804 Makes free golem base windows better
  _maps/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
Labels: Fix, Map Change

#9794 Various fixes for omegastation
  _maps/map_files/Omegastation/omegastation.dmm
Labels: Fix, Map Change

#9814 fix hyper healing guardian on hitting objects
  yogstation/code/modules/guardian/abilities/major/healing.dm
Labels: Fix

#9813 fix runtime when regenerating non-human-subtype carbons
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: Fix

#9812 fix legionnaire trophy
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/legionnaire.dm
Labels: Fix

#9811 makes the goliath tentacle crusher trophy actually do something
  code/modules/mining/equipment/kinetic_crusher.dm
Labels: Fix

#9809 [meta] Windows for the emt office
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Tweak

#9807 Fixed gun firing animation being triggered if the weapon did not actually fire
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
Labels: Fix

#9805 make heretic monsters greentext by default
  code/modules/antagonists/eldritch_cult/eldritch_monster_antag.dm
Labels: Fix

#9715 Canister visual update
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  icons/obj/atmos.dmi
  icons/obj/atmospherics/canister.dmi
Labels: Fix, Sprites, Tweak, Visual Change

#9285 Baton changes from TG along with an antag bola nerf
  code/__DEFINES/traits.dm
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/stunbaton.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/recipes/drugs.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  icons/obj/syringe.dmi
Labels: Feature, Sprites, TESTMERGED, Tweak

#9820 Fixes admeme canisters, moves them to proper file
  code/modules/atmospherics/machinery/portable/canister.dm
  icons/obj/atmospherics/canister.dmi
  yogstation.dme
  yogstation/code/modules/atmospherics/machinery/portable/canister.dm
Labels: Fix, Sprites

#9819 Removes Banhammer
  _maps/RandomRuins/LavaRuins/lavaland_surface_cursedtoyshop.dmm
  _maps/RandomRuins/SpaceRuins/bus.dmm
  _maps/map_files/generic/CentCom.dmm
  code/game/objects/items/gift.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/spells/spell_types/conjure.dm
  yogstation/code/modules/donor/donor_items.dm
Labels: Map Change, Revert / Deletion, Tweak

#9826 I can't read the comment apparently lol. Unbreaks server restart reconnect
  config/private_server.txt
Labels: Config

#9759 minor icebox improvements
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/mining/Icemoon.dmm
Labels: Awaiting - Action - Author, Map Change, Tweak

#9830 Conveyor Belts now animate
  code/modules/recycling/conveyor2.dm
Labels: Fix

#9829 Tabbed Bullshit Mages to the right
  code/__DEFINES/role_preferences.dm
Labels: Tweak

#9766 changes readme.md to say four maps
  README.md
Labels: Tweak

#9828 adds alphabetcheck
  .github/workflows/turdis.yml
  tools/travis/check_dme_alphabetical.py
Labels: Github

#9833 [Admin] Might fix server logs?
  code/__HELPERS/files.dm
Labels: Tweak

#9840 ROLE_ROLE_BULLSHIT
  code/__DEFINES/role_preferences.dm
Labels: Fix
