Repository yogstation13/Yogstation, pull requests merged in 2021-10, with the labels that each got.

#12383 Adds split frill option for """lizards"""
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/mutant_bodyparts.dmi
Labels: Sprites

#12303 Force roll a number of security personnel based on roundstart pop
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/job.dm
  config/game_options.txt
Labels: Config, TESTMERGED

#12399 should fix a thingy with bloodcult since I can't be assed to find out what would cause it
  code/modules/antagonists/cult/blood_magic.dm
Labels: Fix

#12396 theos blatantly cheats and applies coolant (again!) in the crystallizer
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer.dm
Labels: Tweak

#12381 Increases the singularity's maximum rad pulse to 9000 from 5000
  code/modules/power/singularity/singularity.dm
Labels: Tweak

#12365 Medbay Cleanbot Access Tweak
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
Labels: Feature, Tweak, Map Change

#12379 Makes paintings searchable within the curators painting console [BOUNTY?]
  tgui/packages/tgui/interfaces/NtosPortraitPrinter.js
  tgui/packages/tgui/interfaces/Sleeper.js
Labels: tgui, Javascript

#12559 Bots can now pass turnstiles
  code/game/machinery/doors/turnstile.dm
Labels: Tweak

#12541 fixes admin add reagent button's specific reagent selection mode not working
  code/datums/datumvars.dm
Labels: Fix

#12463 Ports "Adds a camera viewing app, SecurEye, for Laptops and Modular Consoles" #54225 and adds a version for mining base cams
  code/modules/modular_computers/file_system/programs/secureye.dm
  tgui/packages/tgui/interfaces/CameraConsole.js
  yogstation.dme
Labels: DME Edit, Feature, tgui, Javascript

#12481 Adds meson sunglasses, makes the CE spawn wearing a pair
  code/datums/components/crafting/tailoring.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/jobs/job_types/chief_engineer.dm
  icons/mob/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: Sprites

#12520 Should actually fix ID console
  code/game/machinery/computer/card.dm
Labels: Fix

#12521 Should make the title on crew monitors to appear as alt titles
  code/game/machinery/computer/crew.dm
  tgui/packages/tgui/interfaces/CrewConsole.js
Labels: Fix, tgui, Javascript

#12522 [PORT] Adds SEAFOOD foodtype
  code/__DEFINES/food.dm
  code/modules/food_and_drinks/food/snacks_burgers.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
Labels: Feature, Tweak

#12525 cauterizing a surgery now causes it to fully stop bleeding
  code/modules/surgery/helpers.dm
  code/modules/surgery/organic_steps.dm
Labels: Tweak

#12531 Admin ticket table
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  config/private_default.txt
  yogstation/code/modules/admin/verbs/adminhelp.dm
Labels: Config, SQL

#12533 [PORT] [READY] Kitchen Rework part 1: I just want to griddle!
  _maps/RandomRuins/StationRuins/BoxStation/bar_arcade.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_box.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_casino.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_cheese.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_citadel.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_clock.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_conveyor.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_diner.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_disco.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_irish.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_purple.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_spacious.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_beach.dmm
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_casino.dmm
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_clock.dmm
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_disco.dmm
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_eclipse.dmm
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_saloon.dmm
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/__DEFINES/components.dm
  code/datums/components/grillable.dm
  code/datums/looping_sounds/machinery_sounds.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/food_and_drinks/food.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/food_and_drinks/food/snacks_burgers.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/kitchen_machinery/griddle.dm
  code/modules/food_and_drinks/kitchen_machinery/grill.dm
  code/modules/food_and_drinks/recipes/processor_recipes.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/effects/steam.dmi
  icons/obj/food/food.dmi
  icons/obj/machines/griddle.dmi
  sound/machines/grill/grillsizzle.ogg
  yogstation.dme
Labels: Feature, Map Change, Sprites, Wiki - Needs updating

#12544 Revert "Revert "Remoevs the L6's burst fire since its effective long range dps is higher than the sniper""
  code/modules/projectiles/guns/ballistic/automatic.dm
Labels: DO NOT MERGE

#12550 Webedit quickfix for long ban reasons causing bans to break
  code/modules/admin/sql_ban_system.dm
Labels: Admin

#12551 polysmorphs can now hiss
  code/modules/mob/living/carbon/human/emote.dm
Labels: Tweak

#12553 Allows some jackets to hold what they should
  yogstation/code/modules/clothing/suits/miscellaneous.dm
Labels: Tweak

#12556 Replaces silicons starting with Draconic with English
  code/modules/language/language_holder.dm
Labels: Tweak

#12560 Adds a borg upgrade for more languages
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature

#12563 New goat added to goat crate
  code/game/objects/structures/crates_lockers/crates.dm
  yogstation/code/modules/mob/living/simple_animal/friendly/goats.dm
  yogstation/icons/mob/goats/suspicious_goat.dmi
Labels: Feature, Sprites

#12565 Gives sigtechs network access
  yogstation/code/modules/jobs/job_types/signal_technician.dm
Labels: Tweak

#12562 Bots can pass turnstiles, mechs and big boxes cannot.
  code/game/machinery/doors/ministile.dm
  code/game/machinery/doors/turnstile.dm
Labels: Fix

#12546 Ports "Removes move delay when damaged" #47702
  code/modules/mob/living/living.dm
Labels: Fix

#12226 Reworks the sleeper so it passively heals instead of using chemicals
  code/game/machinery/Sleeper.dm
  tgui/packages/tgui/interfaces/Sleeper.js
Labels: Feature, Revert / Deletion, tgui, Javascript
