Repository yogstation13/Yogstation, pull requests merged in 2021-01, with the labels that each got.

#10773 Autodoc for undocumented function and fixes passdoor flag
  code/game/atoms.dm
  code/game/machinery/doors/windowdoor.dm
Labels: Fix

#10774 Gets rid of invalid posters from maps
  _maps/RandomRuins/StationRuins/maint/10x10/10x10_boxfactory.dmm
  _maps/RandomRuins/StationRuins/maint/10x10/10x10_maze.dmm
  _maps/RandomRuins/StationRuins/maint/5x4/5x4_posterstore.dmm
Labels: Fix, Map Change

#10775 Teleporter now teleports buckled mobs
  code/game/machinery/teleporter.dm
Labels: Tweak

#10766 badge?
  README.md
Labels: Feature

#10779 replaces all instances of adult bookcases with religious ones
  _maps/RandomRuins/SpaceRuins/pubby_monastery.dmm
  _maps/RandomRuins/StationRuins/maint/10x10/10x10_deltalibrary.dmm
  _maps/RandomRuins/StationRuins/maint/3x5/3x5_junkcloset.dmm
Labels: Map Change, Tweak

#10780 Canned peaches can be eaten once again
  code/modules/food_and_drinks/food/snacks_other.dm
Labels: Fix

#10572 Makes an attempt to remove Skewium in a way that's no longer retarded
  code/modules/cargo/bounties/reagent.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
  strings/cas_white.txt
  strings/sillytips.txt
Labels: Revert / Deletion

#10797 Fixes the syndicate sleeping pen only working against syndicates
  code/modules/paperwork/pen.dm
Labels: Fix

#10772 Captain radio key turns on all comms automatically
  code/game/objects/items/devices/radio/encryptionkey.dm
Labels: Tweak

#10778 [boring] Fixes the fix of posters in maint
  _maps/RandomRuins/StationRuins/maint/10x10/10x10_maze.dmm
Labels: Fix, Map Change

#10784 [fix] Remodels the hippie shuttle ruin to not be an ugly monstrosity
  _maps/RandomRuins/SpaceRuins/hippie_shuttle.dmm
Labels: Map Change, Tweak

#10787 Disables heretics latejoin, that shouldn't be happening as of now.
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
Labels: Tweak

#10791 Add Mining Research Points and techgates mining research behind it
  code/__DEFINES/research.dm
  code/modules/mining/machine_redemption.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/research/techweb/layout.dm
Labels: Feature, Tweak

#10792 Demodularizes cinnamon
  icons/obj/hydroponics/growing_vegetables.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  yogstation/code/modules/hydroponics/grown/misc.dm
  yogstation/icons/obj/hydroponics/growing_vegetables.dmi
  yogstation/icons/obj/hydroponics/harvest.dmi
  yogstation/icons/obj/hydroponics/seeds.dmi
Labels: Fix, Sprites

#10793 Fixes cotton seed placement
  code/modules/vending/megaseed.dm
Labels: Fix

#10799 smartmines no longer explode only for mindshielded people and normal mines don't explode when shot over
  code/game/objects/effects/mines.dm
Labels: Fix, Tweak

#10786 Adds persistent painting frames everywhere on box to totally improve RP. Poggers
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#10804 bibby is refusing to tell me how to fix darkspawn so instead of learning tgui I had to fix the clockwork slab since I can do that without it
  code/modules/antagonists/clockcult/clock_items/clockwork_slab.dm
Labels: Fix

#10769 Ports Beestation's PR that attempts to fix security's anomalous ill intentions.
  code/game/gamemodes/dynamic/dynamic.dm
  code/modules/admin/topic.dm
Labels: Admin, Tweak

#10751 Removes skew from Cluwnes and replaces it with drugginess because apparently it's given Ezhan/Lei/Ethan4303 several BSODs and if it's given one person BSODs then it's probably given several other people BSODs and I'm like 99% sure crashing people's Operating System isn't very bueno but I don't fucking know I'm just a wikiman
  yogstation/code/modules/mob/living/simple_animal/hostile/floor_cluwne.dm
Labels: Fix

#10812 Darkspawns can now use their psiweb
  yogstation/code/modules/antagonists/darkspawn/darkspawn.dm
Labels: Fix

#10811 Fixes pancake bounty being uncompleteable
  code/modules/cargo/bounties/chef.dm
Labels: Fix

#10765 Colored Filing Cabinets(also renameable)
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/paperwork/filingcabinet.dm
  yogstation/icons/obj/bureaucracy.dmi
Labels: Feature, Sprites

#10813 Darkspawn can now communicate with eachother
  code/__DEFINES/say.dm
  code/datums/saymode.dm
  code/modules/mob/living/say.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
  yogstation/code/modules/antagonists/darkspawn/darkspawn.dm
Labels: Fix, tgui

#10798 Removes Big Tiddy Sec GFs
  icons/mob/uniform.dmi
Labels: Sprites

#10803 reduces effectiveness of several nanite programs
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/research/nanites/nanite_programs/buffing.dm
Labels: Tweak

#10808 Adds upgrade for Medical cyborg module: Advanced Surgical Kit
  code/game/objects/items/robot/robot_upgrades.dm
Labels: Feature

#10814 added no more cuss words guys sound to round end
  code/controllers/subsystem/ticker.dm
  sound/roundend/no_more_cuss_words.ogg
Labels: Sound

#10818 [boring] Some mapping fixes from discord
  _maps/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  _maps/RandomRuins/StationRuins/maint/3x3/3x3_boxclutter5.dmm
  _maps/RandomRuins/StationRuins/maint/3x3/3x3_pubbyclutter3.dmm
  _maps/RandomRuins/StationRuins/maint/5x4/5x4_metarobotics.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/shuttles/emergency_construction.dmm
  _maps/shuttles/emergency_construction_small.dmm
  _maps/shuttles/whiteship_cere.dmm
Labels: Fix, Map Change, Tweak

#10817 fix minor bug that would prevent people from getting the lavaland speed boost if they were inside something on z level transfer
  yogstation/code/modules/mob/living/carbon/human/human_movement.dm
Labels: Fix

#10759 [boring]Some mapping fixes for engi
  _maps/RandomRuins/SpaceRuins/originalcontent.dmm
  _maps/RandomRuins/StationRuins/BoxStation/engine_singulo_tesla.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Fix, Map Change

#10785 TEMPORARILY removes the stock exchange machines from cargo
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/YogStation/YogStation.dmm
  yogstation/code/modules/research/designs/comp_board_designs.dm
Labels: Awaiting - HC Review, Balance, Map Change, Revert / Deletion

#10835 Dual Toy-Eswords no longer inhert DESword damage
  code/game/objects/items/toys.dm
Labels: Fix

#10837 cant accidentally stab people with scalpels except this time I didn't mess up
  code/_onclick/item_attack.dm
Labels: Feature

#10844 tend wounds burn experimental now actually works
  code/modules/research/designs/medical_designs.dm
Labels: Fix

#10839 Enabling jukeboxes sounds as an admin no longer deadmins you at the start of every round #blameredmoogle
  code/__DEFINES/preferences.dm
  code/modules/client/preferences_savefile.dm
Labels: Fix

#10843 compactifies surgery availability and makes replaced_by actually work
  code/modules/surgery/surgery.dm
Labels: Fix

#10853 Fixes deleted books actual not being 'deleted'
  code/modules/library/lib_machines.dm
  code/modules/library/random_books.dm
Labels: Feature, Fix, Revert / Deletion, Tweak

#10852 Human Species Subtypes are nolonger immune to viruses
  code/datums/diseases/_MobProcs.dm
Labels: Fix

#10862 Airlocks now tell you if that mineral airlock doesnt exist and doesnt use the sheets
  code/game/objects/structures/door_assembly.dm
Labels: Fix

#10857 Removes the rest dance move. Again.
  code/game/machinery/dance_machine.dm
Labels: Tweak

#10865 Adds a new bullet component PENETRATE
  code/__DEFINES/combat.dm
  code/game/objects/items/shooting_range.dm
  code/modules/projectiles/projectile.dm
Labels: Feature, Fix

#10746 Minor Change to Ascended Goat Plushie to make event run smoother.
  yogstation/code/game/objects/items/plushes.dm
Labels: Tweak

#10858 gives pirates a parrot named cracker
  _maps/shuttles/pirate_default.dmm
Labels: Feature, Map Change

#10870 Airlock Painter Code Cleanup + Fix related bug
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/objects/items/airlock_painter.dm
Labels: Fix

#10761 Some Medical Designs now take plastic
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/misc_designs.dm
Labels: Tweak

#10805 adds a quick search button for heretic rituals
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
  code/modules/antagonists/eldritch_cult/knowledge/ash_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/rust_lore.dm
Labels: Feature

#10886 one-line fixes because that is the best i can really do man what do you want from me
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/admin/verbs/debug.dm
  code/modules/economy/pay_stand.dm
  code/modules/hydroponics/seed_extractor.dm
  code/modules/swarmers/swarmer.dm
  yogstation/code/modules/clothing/shoes/miscellaneous.dm
Labels: Admin, Fix

#10815 singularity sword
  _maps/map_files/generic/CentCom.dmm
  code/game/objects/items/melee/misc.dm
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/obj/items_and_weapons.dmi
Labels: Feature, Map - Approved, Map Change, Sprites

#10830 advanced surgical kit hotfixes + making it actually in the game
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/tools.dm
Labels: Feature

#10831 roughly changes defib messages to be more progressive
  code/game/objects/items/defib.dm
Labels: Tweak

#10832 MURDERS a rogue pixel on the bartender's double barrel shotgun
  icons/obj/guns/projectile.dmi
Labels: Sprites

#10833 [Coggers] Adds COG-Nac
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  icons/obj/drinks.dmi
Labels: Feature, Sprites

#10838 [Semi-Port] Auxbase TGUI + LPM Intergration
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/aux_base_default.dmm
  _maps/shuttles/aux_base_small.dmm
  code/game/machinery/sci_probe.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/modules/mining/aux_base.dm
  code/modules/mining/aux_base_camera.dm
  code/modules/shuttle/on_move.dm
  tgui/packages/tgui/interfaces/AuxBaseConsole.js
  tgui/packages/tgui/interfaces/SciProbe.js
  tgui/packages/tgui/interfaces/ShuttleConsole.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Feature, Javascript, Map - Approved, Map Change, Tweak, tgui

#10842 fixes tend wounds being stupidly ineffective in some scenarios by making the bonus healing from damage only apply to the type of damages being healed
  code/modules/surgery/healing.dm
Labels: Fix

#10845 sterilizer spray no longer causes toxin damage
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Tweak

#10847 Lowers Rat Kebab Nutriment to 3 and Vitamin to 1, as is inline with the Rat Burger. Fixes double rat kebab bonus values.
  code/modules/food_and_drinks/food/snacks_meat.dm
Labels: Tweak

#10850 replaces tintin on the moon starting song with a better remix - Jamie added both instead
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Tweak

#10856 makes synthfesh heal burn husks when they are under 50 damage and there is over 100 units of synthflesh present
  code/__DEFINES/reagents.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Tweak

#10860 Gary the now visible clown goat
  yogstation.dme
  yogstation/code/modules/mob/living/simple_animal/friendly/goats.dm
  yogstation/code/modules/mob/living/simple_animal/hostile/retaliate/clowngoat.dm
Labels: Fix

#10861 Removes filling fire extingushers with chems
  yogstation/code/game/objects/items/extinguisher.dm
Labels: Revert / Deletion

#10863 Adds 2 new title songs
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature

#10867 mutagen now only mutates people in doses of 5 units or more
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Tweak

#10871 Switch turdis apt repos to the main server to prevent errors when mirrors are mirroring
  .github/sources.list
Labels: Github

#10872 report healthy organs on health scanner
  code/game/objects/items/devices/scanners.dm
Labels: Feature

#10873 OMG IM GOING TO CRY IM SUCH SAD RN IM SADNESS INCORPORATED :((((
  code/modules/clothing/outfits/standard.dm
Labels: Missing/Inadequate Rationale

#10876 prevents special effects from being triggered by items that shouldn't cause them after melee attacks
  code/_onclick/item_attack.dm
Labels: Fix

#10877 prevents activating eldritch blade effects on yourself
  code/modules/antagonists/eldritch_cult/eldritch_items.dm
Labels: Fix

#10878 probably fixes heretic mark underlays sticking around after the effect is gone
  code/datums/status_effects/debuffs.dm
Labels: Fix

#10879 murder rogue pixel in biogenerator
  icons/obj/machines/biogenerator.dmi
Labels: Fix, Sprites

#10883 You can now delete mecha keycodes
  code/game/mecha/mecha_topic.dm
Labels: Fix

#10884 DNA vault now does *=, += instead of just =
  code/__DEFINES/subsystems.dm
  code/modules/goals/station_goals/dna_vault.dm
  icons/mob/landmarks.dmi
Labels: Fix, Sprites

#10887 Crafted secure closets are now functional - fixes #10789
  code/datums/components/crafting/recipes.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
Labels: Fix

#10890 Bandaid fix for #10734 (stops a runtime)
  code/modules/reagents/chemistry/reagents.dm
Labels: Fix

#10893 Medborg adv surgical tools no longer all turn into searing tool
  code/modules/surgery/tools.dm
Labels: Fix

#10888 Fixes communications consoles being unable to pay pirates if you have more than 2 messages because javascript types are fun hahaha
  code/game/machinery/computer/communications.dm
  tgui/packages/tgui/interfaces/CommunicationsConsole.js
  tgui/public/tgui.bundle.js
Labels: Fix, Javascript, tgui

#10891 Adds a close button to the AFK button
  yogstation/code/modules/client/verbs/afk.dm
Labels: Tweak

#10898 Fixes metastation sigtech turret controls
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Fix, Map Change

#10899 Luxury Shuttle now correctly, returns FALSE on cross
  code/modules/shuttle/special.dm
Labels: Fix

#10903 Adds a few more fluff text options to the Mice Migration announcement.
  code/modules/events/mice_migration.dm
Labels: Feature

#10904 probably fix flaming moe runtiming
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Fix

#10905 Changes Oak's Birthday to Gondola Day for some goddamn reason.
  code/modules/events/carp_migration.dm
  yogstation/code/modules/holidays/holidays.dm
Labels: Revert / Deletion

#10906 removes "RP" from the server title because it's stupid and makes us look like citadel RP or any other HRP furry server
  config/private_server.txt
Labels: Config, Tweak

#10907 fix bluespace prophecy working on cc
  code/datums/brain_damage/special.dm
Labels: Fix

#10911 Increases the the max upload limit from 1mb to 5mb because i wanna upload motherfucking sounds that arent so short its sad
  code/modules/client/client_procs.dm
Labels: Fix

#10913 Fixes Amaretto recipies being uncraftable
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
Labels: Fix

#10917 Fixes some mapping issues with cc test chamber
  _maps/RandomRuins/LavaRuins/lavaland_surface_researchoutpost.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/generic/CentCom.dmm
Labels: Fix, Map Change

#10919 Fixes adamantine slime (crystalline) crossbreeds [#10551] but Chester wants to fucking die
  code/modules/research/xenobiology/crossbreeding/_structures.dm
  code/modules/research/xenobiology/crossbreeding/crystalized.dm
  icons/obj/slimecrossing.dmi
Labels: Fix, Sprites, Tweak

#10921 Fixes secret recipe persistence
  code/modules/reagents/chemistry/recipes/special.dm
Labels: Fix

#10927 Blacklists cheap sunglasses from making hud sunglasses
  code/datums/components/crafting/tailoring.dm
Labels: Fix

#10924 Fixes mutating carrying over genes when it shouldnt
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#10935 Blacklist maint hatches from airlock painters
  code/game/machinery/doors/airlock_types.dm
Labels: Fix

#10926 fixes invalid design id on server startup
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#10880 Nerfs curator whip to be less human combat oriented
  code/game/objects/items/melee/misc.dm
Labels: Feature, Revert / Deletion, Tweak

#10892 Revert "Add Mining Research Points and techgates mining research behind it"
  code/__DEFINES/research.dm
  code/modules/mining/machine_redemption.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/research/techweb/layout.dm
Labels: DO NOT MERGE, Revert / Deletion

#10894 make gas chems nosynth and makes healium's knockout harder to bypass
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix, Tweak

#10922 Adds a cursed stomach as a new Bubblegum loot
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/surgery/organs/stomach.dm
  icons/obj/surgery.dmi
  yogstation/code/datums/components/crawl.dm
Labels: Feature, Fix, Sprites

#10929 Continues the war on booba, nurse dress edition
  icons/mob/uniform.dmi
Labels: Sprites

#10930 Trying to equipping a desword without a matching arm now says no
  code/game/objects/items/twohanded.dm
Labels: Fix

#10931 uniform sprites for digitigrade lizardpeople
  icons/mob/uniform_digi.dmi
Labels: Feature, Sprites

#10932 Change abductor machine beacon spawn conditions
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
Labels: Tweak

#10937 bad wizard can no longer roll 0 of their 9 loadouts
  yogstation/code/modules/events/bad_wizard.dm
Labels: Fix

#10939 Renames COG-NAC to Justicars Juice because of a bug
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Fix, Tweak

#10942 add surgery fail chance for not using painkillers
  code/__DEFINES/traits.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living_defines.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/surgery.dm
Labels: Tweak

#10943 theos moves the rsf to tools from misc since that fixes it apparnetly
  code/modules/research/designs/autolathe_designs.dm
Labels: Fix

#10538 Team Antagonists will no longer be able to convert each other during Dynamic. (WIP)
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/modules/antagonists/clockcult/clockcult.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/mob/living/living.dm
  config/dynamic.json
  yogstation/code/modules/antagonists/shadowling/thrall.dm
Labels: Config, DO NOT MERGE, Feature, WORK IN PROGRESS

#10652 some ninja changes
  code/datums/actions/ninja.dm
  code/game/gamemodes/objective.dm
  code/modules/ninja/energy_katana.dm
  code/modules/ninja/suit/head.dm
  code/modules/ninja/suit/n_suit_verbs/energy_net_nets.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_net.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_stars.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_stealth.dm
  code/modules/ninja/suit/ninjaDrainAct.dm
  code/modules/ninja/suit/shoes.dm
  code/modules/ninja/suit/suit.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Tweak

#10827 Uplink items rebalancing
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#10945 Fixes autolathe "tinfoil hat" bug by renaming Misc section
  code/game/machinery/autolathe.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/misc_designs.dm
Labels: Fix
