Repository yogstation13/Yogstation, pull requests merged in 2021-09, with the labels that each got.

#12204 Updates to 1566 and reenables backwards compatibility to old versions > 513
  Dockerfile
  README.md
  code/_compile_options.dm
  config/config.txt
Labels: Feature, Config

#12148 Makes retrieval implants handle lockers
  yogstation/code/game/objects/items/implants/implant_teleporter.dm
Labels: Fix

#12169 Changes heretic progression to allow for more experimentation
  code/__DEFINES/antagonists.dm
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_book.dm
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
  code/modules/antagonists/eldritch_cult/knowledge/ash_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/rust_lore.dm
  code/modules/antagonists/eldritch_cult/transmutations/flesh_transmutations.dm
  tgui/packages/tgui/interfaces/ForbiddenLore.js
Labels: Tweak, tgui, Javascript

#12155 Reduces the required strange reagent to revive from 10 to 2 because rezadone is already enough of a pain in the ass as is
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Tweak

#12201 Grav gen event checks the grav gen power state before turning on the generator
  yogstation/code/modules/events/weightless.dm
Labels: Fix

#12197 Edited Explorer Suit to show racial appendages
  code/game/objects/items.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mob/inventory.dm
Labels: Feature, Tweak

#12182 Prevents abductors from using bluespace bodybags to bypass marking targets
  code/modules/antagonists/abductor/machinery/pad.dm
Labels: Tweak

#12161 Disables using a default vote option for people who do not vote on map votes
  config/config.txt
Labels: Config, Revert / Deletion

#12196 TEG Heater final i'm so tired
  _maps/RandomRuins/StationRuins/BoxStation/engine_teg.dmm
Labels: Feature, Tweak, Map Change

#12230 Closes the ai sat reinforcement topic
  _maps/map_files/YogStation/YogStation.dmm
Labels: Tweak, Map Change

#12084 [admin] Port ahelp tickets panels to TGUI
  code/datums/datumvars.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/tgui/states/holder.dm
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/TicketListPanel.js
  tgui/packages/tgui/interfaces/TicketPanel.js
  tgui/packages/tgui/styles/themes/admintickets.scss
  yogstation.dme
  yogstation/code/modules/admin/verbs/adminhelp.dm
  yogstation/code/modules/admin/verbs/ticketpanel.dm
  yogstation/interface/interface.dm
Labels: DME Edit, Feature, Admin, tgui, Javascript

#12188 Fixes Burnproof Engine/Reinforced Floor melting at stupid temps.
  code/game/turfs/simulated/floor/reinf_floor.dm
Labels: Config, Fix

#12199 Adds tooltips to the sleeper UI
  code/game/machinery/Sleeper.dm
  tgui/packages/tgui/interfaces/Sleeper.js
Labels: Tweak, tgui, Javascript

#12227 puts the stasis bed behind cryostasis tech
  code/modules/research/techweb/all_nodes.dm
Labels: Tweak

#12237 Moves the RD hardsuit on meta into the RD's office
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Tweak, Map Change

#12240 adds a fail message for SR being below the required dosage
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Tweak

#12179 adds engine stuff to the engine room on delta
  _maps/map_files/YogsDelta/YogsDelta.dmm
Labels: Map Change

#12250 Fixes the lobby music songs that never played
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Fix

#12249 Gives the syndicate firing pin an unique description.
  code/modules/projectiles/pins.dm
Labels: Tweak

#12248 Makes deadchat its own ban instead of OOC
  code/modules/admin/sql_ban_system.dm
  code/modules/mob/say.dm
Labels: Tweak, Admin

#12247 Gives digitigrade brig physician footwraps
  code/modules/jobs/job_types/_job.dm
  yogstation/code/game/objects/items/storage/backpack.dm
Labels: Tweak

#12246 Fixes issues with the mining medic's and brig physician's caps
  yogstation/code/modules/clothing/head/jobs.dm
  yogstation/code/modules/clothing/suits/labcoat.dm
Labels: Fix

#12243 [meta] arrivals airlock pipe fix
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#12238 Adds a shark plush to the game and makes it a donator item
  code/game/objects/items/plushes.dm
  icons/obj/plushes.dmi
  yogstation/code/modules/donor/unique_donator_items.dm
Labels: Feature, Sprites

#12215 Revert "Disables using a default vote option for people who do not vote on map votes"
  config/config.txt
Labels: Config

#12106 Ports techpriest robes to the ChapDrobe
  code/modules/clothing/suits/jobs.dm
  code/modules/vending/wardrobes.dm
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Feature, Sprites

#12219 Forgot to add descriptions when I added the access to freeminers
  code/modules/jobs/access.dm
Labels: Feature

#12239 doubles the effective healing speed of cryoxadone
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Tweak

#12233 Gives Metastation atmos a non-maint path to incinerator to make it more similar to box
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Tweak, Map Change

#12208 CentCom debrief area tweaks + Test chamber bugfixes
  _maps/map_files/generic/CentCom.dmm
Labels: Tweak, Map Change, Fix

#12236 Adds vials and vial lockboxes
  _maps/RandomRuins/LavaRuins/miningbase.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/game/objects/items/storage/lockbox.dm
  code/modules/reagents/reagent_containers/bottle.dm
  icons/obj/vial_box.dmi
Labels: Map Change, Sprites

#12264 Fixes mapping error in meta maint but without conflicts this time
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Fix

#12258 Adds Syndicate Stamp
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/caravanambush.dmm
  _maps/RandomRuins/StationRuins/maint/10x10/10x10_assaultpod.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/infiltrator_basic.dmm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/paperwork/stamps.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/bureaucracy.dmi
  icons/stamp_icons/large_stamp-syndi.png
  icons/stamp_icons/large_stamp-syndiround.png
  yogstation/code/modules/uplink/uplink_item.dm
  yogstation/icons/obj/bureaucracy.dmi
Labels: Feature, Map Change, Sprites, Map - Approved

#12261 Removes more AI ion law possibilities
  strings/ion_laws.json
Labels: Revert / Deletion

#12269 Should fix lockboxes
  code/game/objects/items/storage/lockbox.dm
Labels: Fix

#12266 Some idiot approved the stamp PR while the stamp was being defined twice
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Fix

#12033 Makes Yogs Widescreen better - End screen fades properly without weird tiles, should also make round end sounds play 85% of the time.
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/cinematics.dm
  code/__DEFINES/components.dm
  code/_onclick/hud/fullscreen.dm
  code/datums/cinematic.dm
  config/title_screens/images/rare+fire.png
  config/title_screens/images/rare+yogurt.png
  config/title_screens/images/yogstation.png
Labels: Map Change, Config, Fix

#12268 Should reduce cryo jank
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: Fix

#12150 Adds emergency spare, a temporary ID with AA that heads can print
  code/game/machinery/computer/communications.dm
  code/game/objects/items/cards_ids.dm
  tgui/packages/tgui/interfaces/CommunicationsConsole.js
Labels: Feature, Config, tgui, Javascript

#12282 Fixed comment on admins.txt mentioning character stripping that no longer occurs
  config/admins.txt
Labels: Revert / Deletion

#12283 Adds council
  config/admins.txt
Labels: Feature, Tweak, Fix, Revert / Deletion

#12289 Atoms #11768
  code/game/objects/items/storage/backpack.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  yogstation/code/game/objects/items/storage/backpack.dm
Labels: Tweak

#12235 You can no longer play as the enclave.
  code/modules/vending/autodrobe.dm
  yogstation/code/modules/clothing/under/miscellaneous.dm
  yogstation/icons/mob/uniform.dmi
  yogstation/icons/obj/clothing/uniforms.dmi
Labels: Sprites

#12274 fixes seed exports
  code/modules/cargo/exports/seeds.dm
Labels: Fix

#12275 Adds a Rarity value to all seeds of mutated plants
  code/modules/hydroponics/grown/ambrosia.dm
  code/modules/hydroponics/grown/cereals.dm
  code/modules/hydroponics/grown/citrus.dm
  code/modules/hydroponics/grown/cocoa_vanilla.dm
  code/modules/hydroponics/grown/cotton.dm
  code/modules/hydroponics/grown/eggplant.dm
  code/modules/hydroponics/grown/flowers.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/hydroponics/grown/onion.dm
  code/modules/hydroponics/grown/potato.dm
  code/modules/hydroponics/grown/root.dm
Labels: Tweak

#12278 Some idiot approved the Mantis Blade PR while the mantis blade kit was being defined twice
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Fix

#12271 gives nicotine free cigarettes a expanded description to make more sense
  code/game/objects/items/cigs_lighters.dm
Labels: Tweak

#12296 Adds a click catcher to the holes of handcuffs
  icons/obj/items_and_weapons.dmi
Labels: Tweak, Sprites

#12305 Fixes vials not showing their contents
  icons/obj/reagentfillings.dmi
Labels: Fix, Sprites

#12295 Adds 2 new names to the Space Ninja naming list.
  strings/names/ninjaname.txt
Labels: Feature

#12309 you can now use shock touch for revival surgery
  code/modules/surgery/advanced/revival.dm
Labels: Feature

#12306 Updates contribution guidelines to mention that you should only changelog VISIBLE and PLAYERFACING changes
  .github/CONTRIBUTING.md
Labels: Github

#12294 Adds an href token to the mob spawn VV link
  code/modules/reagents/chemistry/recipes.dm
Labels: Fix

#12307 Adds Wall Rechargers
  _maps/map_files/YogStation/YogStation.dmm
  code/game/machinery/recharger.dm
  icons/obj/stationobjs.dmi
Labels: Feature, Map Change, Sprites

#11864 Doing a major TEG rework because the current one is a mess that breaks thermodynamics
  code/modules/power/generator.dm
  icons/obj/machines/thermoelectric.dmi
Labels: Tweak, Sprites

#12105 Ports Turnstiles from NSV13 (or beestation no clue where they came from)
  _maps/map_files/YogStation/YogStation.dmm
  code/game/machinery/_machinery.dm
  code/game/machinery/doors/ministile.dm
  code/game/machinery/doors/turnstile.dm
  icons/obj/objects.dmi
  yogstation.dme
Labels: DME Edit, Feature, Map Change, Sprites, TESTMERGED, Map - Approved

#12222 Fix floodlights not turning off when out of power, and fixes sling veil not working on them
  code/modules/power/floodlight.dm
  yogstation/code/modules/antagonists/shadowling/shadowling_abilities.dm
Labels: Fix

#12273 You can now make ALL of your limbs prosthetics with quirks.
  code/controllers/subsystem/processing/quirks.dm
Labels: Tweak

#12281 Extends AI core power zones over the space cameras to make repairing the cameras less janky
  _maps/map_files/YogStation/YogStation.dmm
Labels: Tweak, Map Change

#12288 Kills off price elasticity and buffs several exports because I hate balance
  code/modules/cargo/bounties/mech.dm
  code/modules/cargo/console.dm
  code/modules/cargo/exports.dm
  code/modules/cargo/exports/gear.dm
  code/modules/cargo/exports/large_objects.dm
  code/modules/cargo/exports/manifest.dm
  code/modules/cargo/exports/materials.dm
  code/modules/cargo/exports/organs.dm
  code/modules/cargo/exports/seeds.dm
  code/modules/cargo/exports/sheets.dm
  code/modules/events/pirates.dm
  yogstation.dme
Labels: DME Edit, Feature, Tweak, Fix, Revert / Deletion

#12297 Adds a fallback if the bar selection is null, along with plenty of admin messages
  code/controllers/subsystem/job.dm
Labels: Feature

#12298 Stops adding 'Random' to the list of bars, also makes the cancel button not change preference, rather than clear it
  code/modules/client/preferences.dm
Labels: Fix, Test Merge - Scheduled, TESTMERGED

#12302 adds a cap on throwspeed from monstermos to carbons so you probably won't bust your bones open nearly as often
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
Labels: Tweak

#12286 [admin] Revamp auto deadmin
  code/__DEFINES/preferences.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/job.dm
  code/modules/admin/permissionedit.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_types/ai.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  config/config.txt
Labels: Feature, Config, Admin

#12292 Round End Sounds start on "Rebooting in 10 Seconds now"
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/title.dm
Labels: Tweak

#12299 Allow mods to soft reboot the server, also allows admins to reboot the server ignoring tickets
  code/controllers/subsystem/ticker.dm
  code/modules/admin/admin.dm
Labels: Feature, Tweak, Fix, Admin

#12323 Update turdis.yml
  .github/workflows/turdis.yml
Labels: Feature, Tweak, Fix, Revert / Deletion

#12321 [BETA] - Lobby Screen
  code/__DEFINES/components.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/mobs.dm
  code/_onclick/hud/new_player.dm
  code/controllers/subsystem/processing/fastlobbyprocess.dm
  code/controllers/subsystem/ticker.dm
  code/game/atoms.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/objects/effects/glowshroom.dm
  code/game/objects/items/shields.dm
  code/modules/mob/dead/new_player/login.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/spells/spell_types/aimed.dm
  icons/hud/lobby/background.dmi
  icons/hud/lobby/bottom_buttons.dmi
  icons/hud/lobby/character_setup.dmi
  icons/hud/lobby/countdown_background.dmi
  icons/hud/lobby/countdown_letters.dmi
  icons/hud/lobby/join.dmi
  icons/hud/lobby/observe.dmi
  icons/hud/lobby/poll_overlay.dmi
  icons/hud/lobby/ready.dmi
  yogstation.dme
Labels: Sprites

#12311 Signal-Skill-Cape update! *BzZzZT*
  icons/mob/neck.dmi
  icons/obj/clothing/skillcapes.dmi
Labels: Sprites

#12325 Sheltered nerf
  code/datums/traits/negative.dm
Labels: Tweak

#12276 Replaces the freezers with blood in it with blood freezers in box medbay
  _maps/map_files/YogStation/YogStation.dmm
Labels: Tweak, Map Change

#12351 should fix a minor bone fixing issue
  code/datums/wounds/bones.dm
Labels: Fix

#12341 Revert 12196, removing the heater from the TEG Hot Loop
  _maps/RandomRuins/StationRuins/BoxStation/engine_teg.dmm
Labels: Map Change

#12348 i fix that pipe that got pointed out
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Fix

#12265 Massive MetaStation service changes v2
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Tweak, Map Change

#12344 Fixes a mapping error in meta maint that I probably did on accident
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Fix

#12356 Removes a stray pixel on the vomit goose undershirt
  yogstation/icons/mob/underwear.dmi
Labels: Sprites

#12361 Pandemic machines can no longer give infinitely long names to diseases
  code/modules/reagents/chemistry/machinery/pandemic.dm
Labels: Fix

#12366 Updates the foam fire extinguisher sprite
  icons/obj/items_and_weapons.dmi
Labels: Tweak, Sprites

#12346 god hand no longer stuck on beplt
  code/game/objects/items/holy_weapons.dm
Labels: Fix

#12372 Moves many icons out of items_and_weapons.dmi and reorganizes it
  code/game/objects/items/defib.dm
  code/game/objects/items/extinguisher.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/his_grace.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/paint.dm
  code/game/objects/items/religion.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/singularityhammer.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/twohanded.dm
  code/modules/admin/fun_balloon.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/photography/_pictures.dm
  code/modules/photography/camera/camera.dm
  code/modules/photography/camera/film.dm
  code/modules/photography/photos/album.dm
  code/modules/photography/photos/photo.dm
  code/modules/ruins/lavalandruin_code/puzzle.dm
  code/modules/spells/spell_types/godhand.dm
  icons/obj/artstuff.dmi
  icons/obj/banners.dmi
  icons/obj/changeling.dmi
  icons/obj/defib.dmi
  icons/obj/handcuffs.dmi
  icons/obj/items_and_weapons.dmi
  icons/obj/shields.dmi
  icons/obj/storage.dmi
  icons/obj/tools.dmi
  icons/obj/toy.dmi
  icons/obj/wizard.dmi
Labels: Sprites, Admin, Literally the best PR

#12337 Wall Rechargers - Patch 1
  _maps/map_files/YogStation/YogStation.dmm
  code/game/machinery/recharger.dm
Labels: Tweak, Map Change, Fix

#12375 Directional firelocks can now be built on the same time as another
  code/game/machinery/doors/firedoor.dm
Labels: Fix

#12376 Shower tweaks, showers on boiling do not burn people with resistheat, and showers will stabilize the body temp of their occupents when set to normal heat
  code/game/objects/structures/shower.dm
Labels: Tweak

#12352 Adds an alert & sound to brainwashing
  code/_onclick/hud/alert.dm
  code/modules/antagonists/brainwashing/brainwashing.dm
Labels: Tweak

#12378 Fixes banding on a telecomms machine
  icons/obj/machines/telecomms.dmi
Labels: Sprites

#12360 Fixes Ai Door hiding behind AI
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Fix

#12368 Adds sleepy rounds for the 10mm pistol, this is totally not going to be either blatantly over or underpowered lmao
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/ammo.dmi
Labels: Feature, Sprites
