Repository yogstation13/Yogstation, pull requests merged in 2021-12, with the labels that each got.

#12761 Fixes some IDs not having original assignments
  code/game/objects/items/cards_ids.dm
  code/modules/admin/verbs/debug.dm
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/antagonists/highlander/highlander.dm
  code/modules/awaymissions/corpse.dm
  code/modules/clothing/outfits/amber.dm
  code/modules/clothing/outfits/occupying.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/centcom.dm
  code/modules/paperwork/contract.dm
  code/modules/shuttle/emergency.dm
Labels: Fix, Admin, Awaiting - Action - Maintainer

#12797 Fixes the crew monitor program alarm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/modular_computers/file_system/programs/crew_monitor.dm
Labels: Fix

#12773 Removes Stocks From the game
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/IceBox/IceBox.dmm
  yogstation.dme
  yogstation/code/game/objects/items/circuitboards/computer_circuitboards.dm
  yogstation/code/modules/stock_market/articles.dm
  yogstation/code/modules/stock_market/computer.dm
  yogstation/code/modules/stock_market/events.dm
  yogstation/code/modules/stock_market/industries.dm
  yogstation/code/modules/stock_market/logs.dm
  yogstation/code/modules/stock_market/stockmarket.dm
  yogstation/code/modules/stock_market/stocks.dm
Labels: DME Edit, Map Change, Revert / Deletion, Awaiting - Action - Maintainer, Map - Approved

#12479 Alternative station announcers now almost never appear.
  code/datums/station_traits/neutral_traits.dm
Labels: Tweak, Stale, Awaiting - HC Review

#12270 Infiltration game mode
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/infiltrator_cutter.dmm
  _maps/templates/infiltrator_base.dmm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/{yogs_defines}/antagonists.dm
  code/__DEFINES/{yogs_defines}/atom_hud.dm
  code/__DEFINES/{yogs_defines}/is_helpers.dm
  code/__DEFINES/{yogs_defines}/misc.dm
  code/datums/components/uplink.dm
  code/datums/hud.dm
  code/game/gamemodes/objective.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/clothing/chameleon.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/power/gravitygenerator.dm
  code/modules/surgery/implant_removal.dm
  code/modules/uplink/uplink_items.dm
  config/game_options.txt
  yogstation.dme
  yogstation/code/__HELPERS/game.dm
  yogstation/code/_globalvars/lists/game.dm
  yogstation/code/datums/action.dm
  yogstation/code/datums/shuttles.dm
  yogstation/code/game/area/areas/centcom.dm
  yogstation/code/game/area/areas/shuttles.dm
  yogstation/code/game/gamemodes/infiltration/infiltration.dm
  yogstation/code/game/gamemodes/objective.dm
  yogstation/code/game/gamemodes/objective_items.dm
  yogstation/code/game/machinery/suit_storage_unit.dm
  yogstation/code/game/objects/effects/landmarks.dm
  yogstation/code/game/objects/items/devices/powersink.dm
  yogstation/code/game/objects/items/implants/implant_dusting.dm
  yogstation/code/game/objects/items/implants/implant_infiltrator.dm
  yogstation/code/modules/admin/topic.dm
  yogstation/code/modules/admin/verbs/one_click_antag.dm
  yogstation/code/modules/antagonists/hijacked_ai/hijacked_ai.dm
  yogstation/code/modules/antagonists/infiltrator/infiltrator.dm
  yogstation/code/modules/antagonists/infiltrator/items/ai_hijack.dm
  yogstation/code/modules/antagonists/infiltrator/items/hardsuit.dm
  yogstation/code/modules/antagonists/infiltrator/items/services.dm
  yogstation/code/modules/antagonists/infiltrator/objectives.dm
  yogstation/code/modules/antagonists/infiltrator/outfit.dm
  yogstation/code/modules/antagonists/infiltrator/team.dm
  yogstation/code/modules/clothing/chameleon.dm
  yogstation/code/modules/clothing/head/helmet.dm
  yogstation/code/modules/events/infiltrators.dm
  yogstation/code/modules/mob/living/silicon/ai/ai.dm
  yogstation/code/modules/mob/living/silicon/ai/death.dm
  yogstation/code/modules/mob/living/silicon/ai/life.dm
  yogstation/code/modules/shuttle/syndicate.dm
  yogstation/code/modules/uplink/uplink_item.dm
  yogstation/icons/misc/infiltrator_pinpointer.dmi
  yogstation/icons/obj/device.dmi
  yogstation/icons/obj/module.dmi
  yogstation/sound/ambience/antag/infiltrator.ogg
Labels: DME Edit, Feature, Map Change, Config, Admin, Test Merge - Scheduled, Test Merge - Requested, TESTMERGED

#12796 Updates dynamic ruleset role restrictions
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: Fix

#12784 Fixes an INCREDIBLE bug that I can't believe has not been caught yet
  html/templates/header.html
Labels: Bug, Tweak, Awaiting - HC Review

#12790 Adds icons to some programs that don't have one
  code/modules/modular_computers/file_system/programs/bounty_board.dm
  code/modules/modular_computers/file_system/programs/energyharvestercontrol.dm
  code/modules/modular_computers/file_system/programs/portrait_printer.dm
Labels: Tweak

#12808 Fix scout stands not being able to properly scout
  yogstation/code/modules/guardian/abilities/major/scout.dm
Labels: Fix

#12751 Fixes the vents on some maps on fastdmm2 appearing as missing textures
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
Labels: Map Change, Awaiting - Action - Maintainer

#12811 mega arachnid snares now work
  code/modules/mob/living/simple_animal/hostile/jungle/mega_arachnid.dm
Labels: Fix

#12817 Positronic brains now show up in ghost menu
  code/modules/mob/living/brain/posibrain.dm
Labels: Feature, Awaiting - Merge

#12821 Removes section box in spawner menu if there are no spawners
  tgui/packages/tgui/interfaces/SpawnersMenu.js
Labels: Tweak, tgui, Javascript, Awaiting - Merge

#12816 Drones and clockwork shells now remove their listing if used up
  code/modules/antagonists/clockcult/clock_items/construct_chassis.dm
  code/modules/mob/living/simple_animal/friendly/drone/drones_as_items.dm
Labels: Tweak

#12763 New space ruin: crashed UFO
  _maps/RandomRuins/SpaceRuins/crashedufo.dmm
  code/datums/ruins/space.dm
  config/spaceruinblacklist.txt
Labels: Feature, Map Change, Config, Awaiting - Action - Maintainer

#12807 supermatter scalpel no longer off itself on successfully attempting to harvest a shard
  code/modules/power/supermatter/supermatter.dm
Labels: Fix, Awaiting - Merge

#12804 Fixes two bugs with grilling/griddles
  code/datums/components/grillable.dm
  code/modules/food_and_drinks/kitchen_machinery/griddle.dm
Labels: Fix, Awaiting - Merge

#12785 adds a tiny fan to the cat butcher ruin
  _maps/RandomRuins/SpaceRuins/mrow_thats_right.dmm
Labels: Tweak, Map Change

#12792 Adds a docking port to the space bar
  _maps/RandomRuins/SpaceRuins/spacebar.dmm
  code/modules/shuttle/custom_shuttle.dm
  code/modules/shuttle/syndicate.dm
  code/modules/shuttle/white_ship.dm
Labels: Tweak, Map Change

#12813 removes all maps except box from rotation because the playerbase is always right
  config/maps.txt
Labels: Map Change, Config, Revert / Deletion

#12742 Reworks Delta Medbay
  _maps/map_files/YogsDelta/YogsDelta.dmm
  code/game/area/Space_Station_13_areas.dm
Labels: Tweak, Map Change, Merge conflict, Awaiting - Action - Maintainer

#12831 Revert "removes all maps except box from rotation because the playerbase is always right"
  config/maps.txt
Labels: Map Change, Config, Awaiting - HC Review

#12854 Fixes the areas in delta medbay
  _maps/map_files/YogsDelta/YogsDelta.dmm
Labels: Map Change, Fix

#12812 Disables Deltastation
  config/maps.txt
Labels: Tweak, Map Change, Config, Awaiting - HC Review

#12852 AI sat airlock + flip secondary ai core + fix maint wall by secondary ai core
  _maps/map_files/YogStation/YogStation.dmm
Labels: Tweak, Map Change

#12826 Prevents spare ID print spamming
  code/game/machinery/computer/communications.dm
  tgui/packages/tgui/interfaces/CommunicationsConsole.js
Labels: Fix, tgui, Javascript

#12774 Stand-o-rama - rebalances a bunch of holoparasite stuff
  code/__DEFINES/components.dm
  code/datums/components/refundable.dm
  code/datums/components/uplink.dm
  code/datums/mind.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/mob/living/living.dm
  code/modules/uplink/uplink_items.dm
  tgui/packages/tgui/interfaces/Guardian.js
  yogstation.dme
  yogstation/code/modules/guardian/abilities/major/assassin.dm
  yogstation/code/modules/guardian/abilities/major/explosive.dm
  yogstation/code/modules/guardian/abilities/major/frenzy.dm
  yogstation/code/modules/guardian/abilities/major/gravity.dm
  yogstation/code/modules/guardian/abilities/major/hand.dm
  yogstation/code/modules/guardian/abilities/major/healing.dm
  yogstation/code/modules/guardian/abilities/major/predator.dm
  yogstation/code/modules/guardian/abilities/major/scout.dm
  yogstation/code/modules/guardian/abilities/major/time.dm
  yogstation/code/modules/guardian/abilities/minor/snares.dm
  yogstation/code/modules/guardian/abilities/minor/teleport.dm
  yogstation/code/modules/guardian/guardian.dm
  yogstation/code/modules/guardian/guardianbuilder.dm
  yogstation/code/modules/guardian/guardianstats.dm
  yogstation/code/modules/guardian/standarrow.dm
Labels: tgui, Javascript, Awaiting - Action - Author

#12783 Add dynamic into rotation.
  config/game_options.txt
Labels: Config, Awaiting - HC Review

#12842 Reduces potential infiltrator metagaming (plus a bugfix!)
  code/game/gamemodes/objective_items.dm
  code/game/objects/items/cards_ids.dm
  code/modules/clothing/chameleon.dm
  yogstation/code/modules/antagonists/infiltrator/items/hardsuit.dm
  yogstation/code/modules/antagonists/infiltrator/outfit.dm
Labels: Tweak, Fix

#12859 fixes ai sat oversights and secondary ai core air alarm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Tweak, Map Change, Fix

#12836 Fixes Issue #12819
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Fix

#12870 Fix holoparasite host-side communication being broken
  yogstation/code/modules/guardian/guardian.dm
Labels: Fix

#12873 Makes crew monitors actually checks to see if someone is dead to label them as dead
  code/game/machinery/computer/crew.dm
Labels: Fix

#12728 Changes the april fools playlist to be funny and original
  code/modules/holiday/holidays.dm
Labels: Awaiting - HC Review

#12741 more ashwalker resin and healing changes
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/manuals.dm
  code/modules/clothing/under/accessories.dm
  code/modules/mining/lavaland/ash_flora.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/chemistry/recipes/others.dm
  icons/mob/accessories.dmi
  icons/obj/clothing/accessories.dmi
Labels: Feature, Tweak, Revert / Deletion, Sprites, Awaiting - Action - Maintainer

#12759 4 new traits + some trait rebalancing (big) (epic) (clickbait)
  code/__DEFINES/traits.dm
  code/datums/components/crafting/crafting.dm
  code/datums/traits/good.dm
  code/datums/traits/negative.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: Feature, Tweak, Awaiting - Action - Maintainer

#12764 buffs the reviver implant
  code/modules/surgery/organs/augments_chest.dm
Labels: Tweak, Awaiting - HC Review

#12767 Demoduarlizes Changlings code
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/changeling/powers/fakedeath.dm
  code/modules/antagonists/changeling/powers/headcrab.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/changeling/powers/pheromone_receptors.dm
  code/modules/antagonists/changeling/powers/shriek.dm
  code/modules/antagonists/changeling/powers/spiders.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  code/modules/antagonists/changeling/powers/transform.dm
  yogstation.dme
  yogstation/code/modules/antagonists/changeling/changeling.dm
  yogstation/code/modules/antagonists/changeling/changeling_power.dm
  yogstation/code/modules/antagonists/changeling/powers/absorb.dm
  yogstation/code/modules/antagonists/changeling/powers/fakedeath.dm
  yogstation/code/modules/antagonists/changeling/powers/headcrab.dm
  yogstation/code/modules/antagonists/changeling/powers/mutations.dm
  yogstation/code/modules/antagonists/changeling/powers/shriek.dm
  yogstation/code/modules/antagonists/changeling/powers/spiders.dm
  yogstation/code/modules/antagonists/changeling/powers/tiny_prick.dm
  yogstation/code/modules/antagonists/changeling/powers/transform.dm
  yogstation/code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
Labels: Awaiting - HC Review

#12769 Locks flamethrowers behind makeshift weapons
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/granters.dm
Labels: Tweak, Awaiting - HC Review

#12775 mindslaved people reject mindshields
  code/game/objects/items/implants/implant_mindshield.dm
Labels: Tweak, Awaiting - HC Review

#12776 mindshields remove mindslave status???? alternative to 12775????
  code/game/objects/items/implants/implant_mindshield.dm
Labels: Tweak, Awaiting - HC Review

#12777 makes sleeper stasis more intuitive
  code/game/machinery/Sleeper.dm
Labels: Tweak

#12778 does the thing bee did and amkes the brainwash disk have no job restrictions
  code/modules/uplink/uplink_items.dm
Labels: Tweak, Awaiting - HC Review

#12779 puts brainwashing surgery back where it belongs (in alien surgery)
  code/modules/research/techweb/all_nodes.dm
Labels: Tweak, Awaiting - HC Review

#12780 Fixed some bugs with the antag token system
  code/datums/mind.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/revolution/revolution.dm
  yogstation/code/modules/client/verbs/antag_token.dm
Labels: Fix, Awaiting - Action - Maintainer

#12787 Fixed airlock painter
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_types.dm
Labels: Fix

#12789 Fancier Throws and Bullet Ejection
  code/game/objects/items.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/mob/inventory.dm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/reagents/reagent_containers.dm
Labels: Feature

#12791 Adds a program to view labor camp cameras
  code/modules/modular_computers/file_system/programs/secureye.dm
Labels: Feature

#12794 fixes pickaxes not being allowed to touch the same rock for the length of the initial mining attempt
  code/game/turfs/simulated/minerals.dm
Labels: Fix

#12795 Gives brig physicians access to perma
  yogstation/code/modules/jobs/job_types/brig_physician.dm
Labels: Tweak

#12801 Fixed admin message for MFA reset using the wrong variable
  code/modules/admin/permissionedit.dm
Labels: Fix, Admin

#12768 Demoduarlizes Drone code
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/living/simple_animal/friendly/drone/extra_drone_types.dm
  yogstation.dme
  yogstation/code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
Labels: Awaiting - HC Review

#12827 Adds advanced health analyzer as an upgrade for cyborgs
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature

#12830 Gives Fission360 a program icon
  code/modules/modular_computers/file_system/programs/radar.dm
Labels: Tweak

#12843 Makes modular computer overlays glow in the dark
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/laptop.dm
  code/modules/modular_computers/computers/item/processor.dm
  code/modules/modular_computers/computers/item/tablet.dm
  code/modules/modular_computers/computers/machinery/modular_computer.dm
Labels: Tweak

#12845 [PORT] [READY] [MERGE THIS PR] [PLEASE] Adds a visible effect to best hugs
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Feature

#12846 Excludes the hacked AI law upload module from infiltrators
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#12856 Fix Remote Signaling Device UI
  tgui/packages/tgui/interfaces/Signaler.js
  tgui/packages/tgui/styles/colors.scss
Labels: Fix, tgui, Javascript

#12866 [port] You can now lick the supermatter
  code/modules/power/supermatter/supermatter.dm
Labels: Feature

#12878 fixes a substantial amount of garbage related to borg buckling
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#12868 prevents custom docking points from being placed on plating
  code/modules/shuttle/navigation_computer.dm
Labels: Tweak

#12894 Fixed broken tech web node
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#12891 Fixes "teal and green suitskirts do not have sprites on lizards"#12876
  code/modules/clothing/under/miscellaneous.dm
Labels: Fix

#12896 Fixed advanced analyzer not working as a processor
  code/modules/surgery/surgery.dm
Labels: Fix

#12207 Unifies the cloaks
  code/__DEFINES/misc.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/suits/cloaks.dm
  code/modules/vending/autodrobe.dm
  icons/mob/neck.dmi
  icons/obj/clothing/cloaks.dmi
  icons/obj/clothing/neck.dmi
  yogstation.dme
  yogstation/code/modules/clothing/neck/shawls.dm
  yogstation/icons/mob/neck.dmi
Labels: DME Edit, Tweak, Sprites

#12887 makes kittens have randomized names
  code/modules/mob/living/simple_animal/friendly/cat.dm
Labels: Feature, Awaiting - Merge

#12913 Vampires can no longer stealth suck blood after reaching 100 total blood
  yogstation/code/datums/antagonists/vampire.dm
  yogstation/code/game/gamemodes/vampire/vampire_powers.dm
Labels: Tweak

#12645 gives synths healing from oil, welding fuel and teslium
  code/modules/mob/living/carbon/human/species_types/synths.dm
Labels: Feature, Awaiting - HC Review

#12803 adds a Servoskull to the chaplain weapons
  code/game/objects/items/holy_weapons.dm
  icons/mob/neck.dmi
  icons/obj/clothing/neck.dmi
Labels: Feature, Sprites

#12805 mummy clothing in the autodrobe
  code/modules/vending/autodrobe.dm
Labels: Tweak

#12824 Adds a preference for disabling "alternative" sounds
  code/__DEFINES/preferences.dm
  code/game/sound.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  yogstation/code/datums/world_topic.dm
  yogstation/code/modules/mentor/mentor.dm
Labels: Feature

#12829 Adds syndicate modular computer disks and a trapped disk
  code/modules/modular_computers/file_system/programs/antagonist/dos.dm
  code/modules/modular_computers/hardware/portable_disk.dm
  icons/obj/module.dmi
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Feature, Tweak, Sprites

#12849 Some minor YogsMeta fixup
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Tweak, Map Change, Merge conflict

#12850 Adds the Access Kit for infiltrators
  code/modules/uplink/uplink_items.dm
  yogstation.dme
  yogstation/code/modules/antagonists/infiltrator/items/access_kit.dm
  yogstation/code/modules/uplink/uplink_item.dm
Labels: DME Edit, Feature

#12875 Adds the song Glorious Morning from the Flash Game Golden Age to the Jukebox
  config/jukebox_music/LICENSE.txt
  config/jukebox_music/sounds/GloriousMorning+1100+5.ogg
Labels: Config, Sound

#12877 More interesting singularity movement
  code/modules/power/singularity/narsie.dm
  code/modules/power/singularity/singularity.dm
Labels: Tweak

#12885 Lexorin requires chloral to make, metabolizes faster, and tastes like nothing
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
Labels: Tweak, i ded, Awaiting - HC Review

#12844 Adds a disk with the implant tracker program and an extra implant to the mining implant kit
  code/game/objects/items/storage/boxes.dm
  code/modules/modular_computers/hardware/portable_disk.dm
Labels: Tweak

#12899 Adds Jumpsuit/Jumpskirt Preference
  code/_globalvars/lists/flavor_misc.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/under/color.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/artist.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/mob/living/carbon/human/human_defines.dm
Labels: Feature

#12907 fixes light pink pylons giving no warning for lightgeistification (ruined poor phillip's round very sad)
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/research/xenobiology/crossbreeding/_structures.dm
Labels: Fix

#12917 Fixes Flamethrower Crafting Oversight
  code/game/objects/items/tools/weldingtool.dm
Labels: Fix

#12928 Fixes rechargers going invisible when using a screwdriver to open their panel
  code/game/machinery/recharger.dm
Labels: Fix

#12932 Fix a bug which could lead to holoparasites being reset on mindswap
  yogstation/code/modules/guardian/guardian.dm
Labels: Fix

#12881 Adds a paramedic room and a new cave on Kilostation.
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Feature, Map Change, Merge conflict

#12916 Fix Charlie Station bridge wiring
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
Labels: Map Change, Fix

#12937 Fix: stops body cameras from looking like skulls
  icons/mob/neck.dmi
Labels: Tweak, Fix, Sprites

#12943 Fixes preferences not saving
  code/modules/client/preferences_savefile.dm
Labels: Fix

#12892 New chapie suit
  code/modules/clothing/suits/jobs.dm
  code/modules/vending/wardrobes.dm
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Feature, Sprites

#12936 Ports felinids with the family heirloom quirk can now roll toy mice as their family heirlooms
  code/datums/traits/negative.dm
Labels: Feature

#12968 Fixes active posis showing up
  code/modules/mob/living/brain/posibrain.dm
Labels: Fix

#12945 Hopefully actually fix scout not working
  yogstation/code/modules/guardian/abilities/major/scout.dm
Labels: Fix, Awaiting - Action - Maintainer

#12926 Makes the SMES display its capacity instead of precent and clarifies its charge
  code/modules/goals/department_goals/engineering.dm
  code/modules/power/smes.dm
  tgui/packages/tgui/format.js
  tgui/packages/tgui/interfaces/Smes.js
Labels: Tweak, tgui, Javascript, Awaiting - Merge

#12962 [s] Fixes crashed caused by nanite repeaters triggering themselves
  code/modules/research/nanites/nanite_programs/sensor.dm
Labels: Fix, Awaiting - Action - Maintainer

#12944 Makes me the owner of yogstation
  .github/CODEOWNERS
Labels: Github, Awaiting - HC Review

#12919 [AI] [READY] Minor AI Revamp Tweaks
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  _maps/shuttles/whiteship_miner.dmm
  code/__DEFINES/ai.dm
  code/__HELPERS/unsorted.dm
  code/game/machinery/computer/communications.dm
  code/game/objects/items/AI_modules.dm
  code/game/objects/items/robot/ai_upgrades.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/structures/signs/signs_plaques.dm
  code/modules/antagonists/clockcult/clock_items/soul_vessel.dm
  code/modules/mob/living/brain/MMI.dm
  code/modules/mob/living/brain/posibrain.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/decentralized/_ai_machinery.dm
  code/modules/mob/living/silicon/ai/decentralized/ai_data_core.dm
  code/modules/mob/living/silicon/ai/decentralized/decentralized_os.dm
  code/modules/mob/living/silicon/ai/decentralized/expansion_card_holder.dm
  code/modules/mob/living/silicon/ai/decentralized/management/ai_controlpanel.dm
  code/modules/mob/living/silicon/ai/decentralized/management/ai_dashboard.dm
  code/modules/mob/living/silicon/ai/decentralized/projects/_ai_project.dm
  code/modules/mob/living/silicon/ai/decentralized/projects/ai_huds.dm
  code/modules/mob/living/silicon/robot/robot.dm
  tgui/packages/tgui/interfaces/AiControlPanel.js
  tgui/packages/tgui/interfaces/CommunicationsConsole.js
  yogstation.dme
  yogstation/code/modules/mob/living/brain/MMI.dm
Labels: Map Change, tgui, Javascript, Test Merge - Requested, AI Revamp

#12883 Timeskip rework
  yogstation/code/modules/guardian/abilities/major/time.dm
Labels: Tweak, Fix

#12920 Help settle the blood contract debate by making it expire properly
  code/game/objects/effects/mines.dm
  code/modules/antagonists/blood_contract/blood_contract.dm
Labels: Feature

#12931 Reverts 12776 and reverts the reversion of 12775 (mindslaves now resist mindshields instead of removing mindslave)
  code/game/objects/items/implants/implant_mindshield.dm
Labels: Tweak, Awaiting - HC Review

#12953 [admin] Adds simple message to the player when a ticket is taken
  code/modules/admin/verbs/adminpm.dm
  yogstation/code/modules/admin/verbs/adminhelp.dm
  yogstation/code/modules/admin/verbs/ticketpanel.dm
Labels: Feature, Admin, Awaiting - Action - Maintainer

#12955 Adds "I've been a bad boy" by Pete Gold to the Christmas playlist.
  code/modules/holiday/holidays.dm
Labels: Awaiting - HC Review

#12956 Blacklist reebe from the blueprints
  code/game/objects/items/blueprints.dm
Labels: Tweak, Awaiting - Action - Maintainer

#12961 Fixed false walls not examining correctly
  code/game/objects/structures/false_walls.dm
Labels: Fix, Awaiting - Action - Author

#12964 computer activate iguana
  _maps/map_files/generic/CentCom.dmm
Labels: Feature, Map Change, Awaiting - Action - Maintainer

#12970 SINGLE SHOT BURST
  code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Feature

#12971 Solars panels can now be upgraded with glass
  code/modules/power/solar.dm
  goon/icons/obj/power.dmi
Labels: Feature, Sprites

#12973 Brings back some old prerebase snacks including Borer Gummies!
  code/game/objects/items/storage/food.dm
  code/game/objects/items/trash.dm
  code/modules/food_and_drinks/food/snacks_vend.dm
  code/modules/vending/snack.dm
  icons/obj/food/containers.dmi
  icons/obj/food/food.dmi
  icons/obj/janitor.dmi
  yogstation.dme
Labels: DME Edit, Feature, Sprites, Awaiting - Action - Maintainer

#12976 Raises Mjolnir cost to 3 (#2)
  code/modules/antagonists/wizard/equipment/spellbook.dm
Labels: i ded, Awaiting - HC Review

#12977 Applies the rev message to gangs
  yogstation/code/modules/antagonists/gang/gang.dm
Labels: Feature, Awaiting - Action - Maintainer

#12984 Fixes Analgesia stamina regen only working with transmission 7+
  yogstation/code/datums/diseases/advance/symptoms/confusion.dm
Labels: Fix

#12981 Tweaks AI SMES on Box so it maybe doesn't prevent the rest of the Sat from having power
  _maps/map_files/YogStation/YogStation.dmm
Labels: Tweak, Map Change

#12987 Constructing a lattice now correctly says how many rods you need
  code/game/turfs/space/space.dm
Labels: Tweak

#12969 Puts a recharger on the luxury shuttle
  _maps/shuttles/emergency_luxury.dmm
Labels: Feature, Map Change

#12988 Probably fixes smes roundstart charge levels
  _maps/RandomRuins/SpaceRuins/caravanambush.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomRuins/SpaceRuins/pubby_monastery.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  _maps/map_files/debug/multiz.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/mining/Icemoon.dmm
  _maps/map_files/mining/Lavaland.dmm
  _maps/shuttles/infiltrator_cutter.dmm
  _maps/shuttles/ruin_caravan_victim.dmm
  _maps/shuttles/ruin_pirate_cutter.dmm
  _maps/shuttles/ruin_syndicate_dropship.dmm
  code/modules/power/smes.dm
Labels: Map Change, Fix

#12997 Ports "Fixes ability to extract DNA of species that has no DNA" from TG
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/carbon/human/species_types/synths.dm
Labels: Fix

#13000 should fix bug with drones
  code/modules/mob/living/simple_animal/friendly/drone/inventory.dm
  code/modules/mob/living/simple_animal/guardian/types/dextrous.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
Labels: Fix

#12685 Adds modular PDA and Telescreen and cleans up some of the preset code
  _maps/RandomRuins/LavaRuins/miningbase.dmm
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  _maps/map_files/mining/Icemoon.dmm
  code/__DEFINES/machines.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/modular_computers/computers/_modular_computer_shared.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/laptop_presets.dm
  code/modules/modular_computers/computers/item/pda.dm
  code/modules/modular_computers/computers/item/pda_presets.dm
  code/modules/modular_computers/computers/item/phone_presets.dm
  code/modules/modular_computers/computers/item/processor.dm
  code/modules/modular_computers/computers/item/tablet_presets.dm
  code/modules/modular_computers/computers/machinery/console_presets.dm
  code/modules/modular_computers/computers/machinery/modular_computer.dm
  code/modules/modular_computers/computers/machinery/modular_console.dm
  code/modules/modular_computers/computers/machinery/telescreen.dm
  code/modules/modular_computers/computers/machinery/telescreen_presets.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/borg_monitor.dm
  code/modules/modular_computers/file_system/programs/card.dm
  code/modules/modular_computers/file_system/programs/crew_monitor.dm
  code/modules/modular_computers/file_system/programs/file_browser.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
  code/modules/modular_computers/file_system/programs/ntmonitor.dm
  code/modules/modular_computers/file_system/programs/portrait_printer.dm
  code/modules/modular_computers/file_system/programs/powermonitor.dm
  code/modules/modular_computers/hardware/CPU.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  code/modules/surgery/organs/tails.dm
  code/modules/vending/modularpc.dm
  icons/obj/modular_pda.dmi
  icons/obj/modular_telescreen.dmi
  yogstation.dme
Labels: Feature, Tweak, Map Change, Sprites, Merge conflict, Awaiting - Action - Author, Map - Approved

#13004 fixes runtime in standarrow.dm
  yogstation/code/modules/guardian/standarrow.dm
Labels: Fix

#12986 Adds fire/oxy closets around YogsBox
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#12989 Makes AI download 50% faster
  code/__DEFINES/ai.dm
Labels: Tweak

#13002 gibbing simplemobs drops their guaranteed butcher stuff as well as their normal butcher stuff
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix
