Repository yogstation13/Yogstation, pull requests merged in 2021-03, with the labels that each got.

#11072 removes the coom from two of the random maint rooms
  _maps/RandomRuins/StationRuins/maint/3x3/3x3_boxbedroom.dmm
  _maps/RandomRuins/StationRuins/maint/3x3/3x3_naughtyroom.dmm
Labels: Map Change, Revert / Deletion

#11035 Gives the bar privacy shutters so that the bartender can actually close down their bar
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/RandomRuins/SpaceRuins/spacebar.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_arcade.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_box.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_casino.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_cheese.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_citadel.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_clock.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_conveyor.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_diner.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_disco.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_irish.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_purple.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_spacious.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_beach.dmm
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_casino.dmm
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_clock.dmm
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_disco.dmm
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_eclipse.dmm
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_saloon.dmm
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Feature, Map Change

#11084 free miner ship now has an anaesthetic tank and mask
  _maps/shuttles/whiteship_miner.dmm
Labels: Feature, Map Change, Tweak

#11082 Skippity Skoppity Survival Pod Floppity
  code/__DEFINES/misc.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mining/shelters.dm
Labels: Fix

#11055 Replace symptom dict accesses with procs
  code/datums/diseases/advance/symptoms/choking.dm
  code/datums/diseases/advance/symptoms/confusion.dm
  code/datums/diseases/advance/symptoms/cough.dm
  code/datums/diseases/advance/symptoms/deafness.dm
  code/datums/diseases/advance/symptoms/dizzy.dm
  code/datums/diseases/advance/symptoms/fever.dm
  code/datums/diseases/advance/symptoms/fire.dm
  code/datums/diseases/advance/symptoms/flesh_eating.dm
  code/datums/diseases/advance/symptoms/hallucigen.dm
  code/datums/diseases/advance/symptoms/headache.dm
  code/datums/diseases/advance/symptoms/heal.dm
  code/datums/diseases/advance/symptoms/itching.dm
  code/datums/diseases/advance/symptoms/nanites.dm
  code/datums/diseases/advance/symptoms/narcolepsy.dm
  code/datums/diseases/advance/symptoms/necropolis.dm
  code/datums/diseases/advance/symptoms/oxygen.dm
  code/datums/diseases/advance/symptoms/radiation.dm
  code/datums/diseases/advance/symptoms/sensory.dm
  code/datums/diseases/advance/symptoms/shedding.dm
  code/datums/diseases/advance/symptoms/shivering.dm
  code/datums/diseases/advance/symptoms/skin.dm
  code/datums/diseases/advance/symptoms/sneeze.dm
  code/datums/diseases/advance/symptoms/species.dm
  code/datums/diseases/advance/symptoms/vision.dm
  code/datums/diseases/advance/symptoms/voice_change.dm
  code/datums/diseases/advance/symptoms/vomit.dm
  code/datums/diseases/advance/symptoms/weight.dm
  code/datums/diseases/advance/symptoms/youth.dm
  yogstation/code/datums/diseases/advance/symptoms/confusion.dm
  yogstation/code/datums/diseases/advance/symptoms/heal.dm
Labels: Fix

#11064 fixes donor borgs not having proper overlays
  yogstation/code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#11100 Removes a terrible balance decision from the speed potions
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
Labels: Tweak

#11059 Moves the tesla cargo goal to engineering
  code/modules/goals/department_goals/cargo.dm
  code/modules/goals/department_goals/engineering.dm
Labels: Tweak

#11067 meater fix
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/food_and_drinks/food/snacks_bread.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/food/snacks_spaghetti.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  icons/obj/food/food.dmi
  yogstation/icons/obj/food/food.dmi
Labels: Fix, Sprites

#11040 Mothpeople can now use flight potions
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species.dm
  icons/mob/moth_wingsopen.dmi
Labels: Feature, Sprites

#11000 Add a mining(plasma) shotgun for 6,000 points with a gibtonite defuser for 1,000
  code/modules/mining/machine_vending.dm
  code/modules/projectiles/ammunition/energy/plasma.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/special/plasma.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/guns/energy.dmi
Labels: Feature, Sprites

#11051 actually fixes reinforced floors and walls interacting with singularity
  code/game/turfs/simulated/floor/reinf_floor.dm
  code/game/turfs/simulated/wall/reinf_walls.dm
Labels: Fix

#11052 accelerated particles can no longer get infinite range
  code/modules/power/singularity/particle_accelerator/particle.dm
Labels: Fix

#11063 increases plasma consumption in radiation collectors from 0.001 moles to 0.01 moles
  code/modules/power/singularity/collector.dm
Labels: TESTMERGED, Tweak

#11069 You can now examine megaphones to see if they're recharging. Useful when you wanna scream shit at people but you dont wanna say it softly.
  code/game/objects/items/devices/megaphone.dm
Labels: Feature

#11070 Attemps to fix the tesla lag by making use of our lord and savior, prob(80)
  code/game/machinery/_machinery.dm
Labels: Feature, TESTMERGED

#11071 Gives megaphones overlays to indicate that they are recharging
  code/game/objects/items/devices/megaphone.dm
  icons/obj/device.dmi
Labels: Feature, Sprites

#11076 Events prerun text is now much bigger and red and also increase cancel time to 20 seconds
  code/modules/events/_event.dm
Labels: Tweak

#11078 Fixes Wrong Git Appearing on the Bluescreen
  tgui/public/tgui.html
Labels: Tweak, tgui

#11079 Attempts Shadowling Fix - Dynamic
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: Fix

#11083 Fixes all mobs being able to snap their fingers
  code/modules/mob/living/carbon/emote.dm
Labels: Fix

#11086 Adds the "Supermatter Surge" random event from cit
  code/modules/events/supermatter_surge.dm
  yogstation.dme
Labels: DME Edit, Feature

#11087 Ash drake loot: Drakelings
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/drakeling.dm
  icons/mob/actions/actions_animal.dmi
  icons/mob/lavaland/lavaland_monsters.dmi
  yogstation.dme
Labels: DME Edit, Feature, Sprites, TESTMERGED

#11093 Pepper/Spray travels 33% faster
  code/modules/reagents/reagent_containers/spray.dm
Labels: Tweak

#11097 fixes eye color discrepancies in dragon's blood and bloodcult
  code/datums/dna.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Fix

#11107 Wiz-Off: An Arcane Battle for the Fate of the Universe!
  code/modules/games/wizoff.dm
  code/modules/vending/games.dm
  icons/obj/toy.dmi
  strings/wizoff.json
  yogstation.dme
Labels: DME Edit, Feature, Sprites

#11110 Removes ASV9 from codeowners
  .github/CODEOWNERS
Labels: Github

#11111 Makes the herald cloak fire- and acid-proof
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
Labels: Tweak

#11113 Adds Poppys to maint loot table
  code/game/objects/effects/spawners/lootdrop.dm
Labels: Feature

#11119 Fixes Sec Budget
  code/__DEFINES/economy.dm
Labels: Fix

#11121 fixes obsessed not force enabling mood
  code/modules/antagonists/creep/creep.dm
Labels: Fix

#11102 Adds Monstermos Airlocks and Holopads to Bar Variants
  _maps/RandomRuins/StationRuins/BoxStation/bar_arcade.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_box.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_casino.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_cheese.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_citadel.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_clock.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_conveyor.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_diner.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_disco.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_purple.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_spacious.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
Labels: Feature, Map Change

#11131 Hopefully fixes failing prs because ubuntu-latest
  .github/workflows/turdis.yml
Labels: Github

#11101 Adds and Moves a Few Extinguisher Cabinets
  _maps/RandomRuins/StationRuins/BoxStation/bar_cheese.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_disco.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_purple.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/mining/Lavaland.dmm
Labels: Feature, Map Change, Revert / Deletion

#11143 Removes council
  config/admins.txt
Labels: Feature, Fix, Revert / Deletion, Tweak

#11098 Fixes the arena shuttle by demodularising it
  _maps/shuttles/emergency_arena.dmm
  _maps/templates/arena.dmm
  code/__DEFINES/shuttles.dm
  code/controllers/subsystem/mapping.dm
  code/datums/shuttles.dm
  code/modules/admin/fun_balloon.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
Labels: Admin, Awaiting - Action - Maintainer, Fix, Map Change, Tweak

#11148 fixes buckling layer offsets
  code/datums/components/riding.dm
Labels: Fix

#11147 makes rad collector research per minute "accurate"
  code/modules/power/singularity/collector.dm
Labels: Tweak

#11144 Fixes shuttle catastrophe event not happening
  code/modules/events/shuttle_catastrophe.dm
Labels: Fix

#11122 fix obsessed not tracking cloned people
  code/datums/brain_damage/creepy_trauma.dm
Labels: Fix

#11150 Fixes auxbase on box not having a docking port
  _maps/map_files/YogStation/YogStation.dmm
Labels: Fix, Map Change

#11151 Foolproofs the Emergency Arena
  _maps/templates/arena.dmm
Labels: Map Change, Tweak

#10902 Hulk Rework 2021 Edition [BOUNTY] [Old-Yogs]
  code/__DEFINES/DNA.dm
  code/datums/mind.dm
  code/datums/mutations/_combined.dm
  code/datums/mutations/hulk.dm
  code/game/machinery/_machinery.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/dna_injector.dm
  code/game/objects/items/twohanded.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/projectiles/projectile/energy/stun.dm
  code/modules/projectiles/projectile/special/hallucination.dm
  code/modules/spells/spell_types/wizard.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  icons/mob/actions.dmi
  strings/traumas.json
Labels: Feature, Sprites, TESTMERGED, Tweak

#11166 turns out I fucked up a merge conflict resolution and the dragon chest only rolled for 3 of its items
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Fix

#11171 BSA now respects its minute long cooldown
  code/modules/goals/station_goals/bsa.dm
  tgui/packages/tgui/interfaces/BluespaceArtillery.js
  tgui/public/tgui.bundle.js
Labels: Fix, Javascript, tgui

#11172 emergency layer of anticringe
  _maps/map_files/generic/CentCom.dmm
Labels: Fix, Map Change

#11173 Thickens the Tear in the Fabric of Reality border by 3
  _maps/map_files/generic/CentCom.dmm
Labels: Feature, Map Change

#10889 Common Build Tooling [PORT]
  .github/workflows/turdis.yml
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  Build.bat
  dependencies.sh
  tgui/.gitattributes
  tgui/.gitignore
  tgui/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  tgui/.yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  tgui/.yarn/releases/yarn.cjs
  tgui/bin/tgui
  tgui/bin/tgui.ps1
  tools/LinuxOneShot/SetupProgram/PreCompile.sh
  tools/LinuxOneShot/SetupProgram/SetupProgram.csproj
  tools/LinuxOneShot/TGS_Config/appsettings.Production.json
  tools/bootstrap/node
  tools/bootstrap/node.bat
  tools/bootstrap/node_.ps1
  tools/build/.editorconfig
  tools/build/README.md
  tools/build/build
  tools/build/build.bat
  tools/build/build.js
  tools/build/cbt/fs.js
  tools/build/cbt/glob.js
  tools/build/cbt/index.js
  tools/build/cbt/process.js
  tools/build/cbt/task.js
  tools/build/cbt/winreg.js
  tools/ci/build.ps1
  tools/tgs4_scripts/PreCompile.bat
  tools/tgs4_scripts/PreCompile.sh
Labels: Github, Javascript, Tweak, tgui

#10966 Polysmorph (and maybe more to come) Skinny-ification
  code/__DEFINES/traits.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/polysmorphs.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/human_parts_greyscale.dmi
  icons/mob/uniform.dmi
Labels: Sprites

#10970 Cloning now requires meat.
  code/game/machinery/cloning.dm
  code/game/machinery/computer/cloning.dm
Labels: Feature

#10971 Vitamin buff and removal from plants + frying and sugar nerf
  code/modules/hydroponics/grown/ambrosia.dm
  code/modules/hydroponics/grown/apple.dm
  code/modules/hydroponics/grown/banana.dm
  code/modules/hydroponics/grown/beans.dm
  code/modules/hydroponics/grown/berries.dm
  code/modules/hydroponics/grown/chili.dm
  code/modules/hydroponics/grown/citrus.dm
  code/modules/hydroponics/grown/corn.dm
  code/modules/hydroponics/grown/eggplant.dm
  code/modules/hydroponics/grown/flowers.dm
  code/modules/hydroponics/grown/melon.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/hydroponics/grown/mushrooms.dm
  code/modules/hydroponics/grown/onion.dm
  code/modules/hydroponics/grown/peas.dm
  code/modules/hydroponics/grown/pineapple.dm
  code/modules/hydroponics/grown/potato.dm
  code/modules/hydroponics/grown/pumpkin.dm
  code/modules/hydroponics/grown/root.dm
  code/modules/hydroponics/grown/tea_coffee.dm
  code/modules/hydroponics/grown/tomato.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Tweak

#11075 Gives polysmorphs alien livers
  code/modules/mob/living/carbon/human/species_types/polysmorphs.dm
Labels: Feature

#11080 Adds wasps
  code/modules/mob/living/simple_animal/hostile/mining_mobs/wasp.dm
  icons/mob/jungle/wasp.dmi
Labels: Feature, Sprites

#11108 Adds heretic-themed toys
  code/game/machinery/computer/arcade.dm
  code/game/objects/items/toys.dm
Labels: Feature

#11092 Changes the threshold from which jobs get their access expanded due to lowpop from 8 to 25
  config/game_options.txt
Labels: Config

#11125 Makes the instrument beacon small
  code/modules/instruments/items.dm
Labels: Tweak

#11127 [Fix] Anesthetic locker in mining now has medic access
  _maps/RandomRuins/LavaRuins/miningbase.dmm
Labels: Fix, Map Change, Tweak

#11128 Fixes drone not having verbs
  code/modules/mob/living/login.dm
Labels: Fix

#11126 Resprites telecomms machinery and makes onstates overlays
  code/game/machinery/announcement_system.dm
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/machinery/telecomms/machines/broadcaster.dm
  code/game/machinery/telecomms/machines/bus.dm
  code/game/machinery/telecomms/machines/message_server.dm
  code/game/machinery/telecomms/machines/receiver.dm
  code/game/machinery/telecomms/machines/server.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/modules/NTNet/relays.dm
  icons/obj/machines/telecomms.dmi
  tgui/packages/tgui/interfaces/Telecomms.js
Labels: Javascript, Sprites, Tweak, tgui

#11137 [admin] message admins on afk even if not important
  yogstation/code/modules/client/verbs/afk.dm
Labels: Admin

#11140 Adds Ian Hitchkoff to death_commando.txt
  strings/names/death_commando.txt
Labels: Feature

#11141 Omits a mention of Deathsquad from a personal log in an away mission.
  code/modules/awaymissions/mission_code/moonoutpost19.dm
Labels: Tweak

#11152 Luxury bar capsule
  _maps/templates/shelter_3.dmm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mining/machine_vending.dm
  code/modules/mining/shelters.dm
Labels: Feature, Map Change

#11153 Adds gas miners to meta and delta
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Tweak

#11154 Adds new Heretic hallucinations.
  code/modules/flufftext/Hallucination.dm
Labels: Feature

#11155 Speeds up legionnaire so the sentient one actually matches the non-sentient one
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/legionnaire.dm
Labels: Tweak

#11157 [admin] Animalize's safe_animal() is now exclusive instead of inclusive
  code/modules/mob/transform_procs.dm
Labels: Admin

#11165 Cargo Office: Too many papers addition.
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#11169 Syndicate lavaland syndie snipers are no longer usable by crew
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/pins.dm
  code/modules/ruins/lavaland_ruin_code.dm
Labels: Tweak

#11170 TGUI Vore Panel [PORT]
  code/controllers/subsystem/vote.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/wasp.dm
  tgui/packages/tgui/backend.js
  tgui/packages/tgui/interfaces/Vote.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Feature, Fetish Content, Javascript, tgui

#11167 All around the only good map boxstation PIPES
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#11204 Removes Security Records Console Board from 5x4_deltadetective
  _maps/RandomRuins/StationRuins/maint/5x4/5x4_deltadetective.dmm
Labels: Map Change, Revert / Deletion

#11200 fixes the luxury capsule not working
  code/modules/mining/shelters.dm
Labels: Fix

#11197 Fixes wasps because nobody checked if chester actually added them to server
  yogstation.dme
Labels: DME Edit, Tweak

#11207 budget insulateds should no longer be immune to shocks
  code/modules/clothing/gloves/color.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Fix

#11208 actually fixes budget insulated gloves not getting destroyed
  code/modules/power/power.dm
Labels: Fix

#11142 Renames Treadmill to Stationary Bike on the account that it is a stationary bike
  yogstation.dme
  yogstation/code/modules/power/stationarybike.dm
Labels: DME Edit, Tweak

#11060 damages venus human traps if they are not close to kudzu
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
Labels: Tweak

#11190 Xenomorph embryos now grow based on consistent timers instead of 100% RNG (3% chance every 2s) [PORT]
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
Labels: Tweak

#11109 Overhauls the "Department Revolt" admin-only event and modernizes it
  code/__DEFINES/components.dm
  code/modules/antagonists/separatist/separatist.dm
  code/modules/events/wizard/departmentrevolt.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: Feature, Test Merge - Scheduled, Tweak

#11212 de-shittifies the antimatter a bit
  yogstation/code/modules/power/antimatter/control.dm
Labels: Tweak

#11161 Allows cogscarabs to be picked up and transported during war.
  code/modules/mob/living/simple_animal/friendly/drone/extra_drone_types.dm
  icons/mob/head.dmi
Labels: Feature, Sprites

#11183 makes single order crates non-refundable so I can reduce the cost of single order stuff substantially
  code/game/objects/structures/crates_lockers/crates/secure.dm
  code/modules/cargo/exports/large_objects.dm
  code/modules/shuttle/supply.dm
Labels: Tweak

#11191 Makes teslas absorb each other for power
  code/modules/power/tesla/energy_ball.dm
Labels: Tweak

#11189 Adds 'Shepard' to the last names list.
  strings/names/last.txt
Labels: Feature

#11193 reduces several mutes in cqc
  code/datums/martial/cqc.dm
Labels: Tweak

#11201 makes the spray tan orange temporary
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Tweak

#11203 re/vitiligo's effect now gets reverted if the disease is cured and it works on nonhumans
  code/datums/diseases/advance/symptoms/skin.dm
Labels: Feature, Tweak

#11209 syndicate shuttle console is no longer deconstructable
  code/modules/shuttle/syndicate.dm
Labels: Tweak

#11211 Adds the 10x10 Four Shops Random Maint.
  _maps/RandomRuins/StationRuins/maint/10x10/10x10_fourshops.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Feature, Map Change

#11215 prevents the fireball spellbook from spawning in lavaland ruins
  code/game/objects/items/granters.dm
Labels: Revert / Deletion

#11216 the tacticool fake syndicate turtleneck now has suit sensors
  code/modules/clothing/under/syndicate.dm
Labels: Tweak

#11220 Fixes NTSL Broadcast()... Again
  yogstation/code/modules/scripting/Implementations/Telecomms.dm
Labels: Fix

#11226 Moves several APCs into Maintenance or into their rooms (REDONE)
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change, Revert / Deletion

#11227 Reinforces Back of Courtroom, the Part of Brig Facing Maintenance, and a Wall of Teleporter Room. Gives "Escape Pod 3" Correct Access.
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#11229 Removes Stetchkin from several lavaland ruins, replaces some with an Improvised Shotgun
  _maps/RandomRuins/LavaRuins/lavaland_surface_cursedtoyshop.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicatepod.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_xeno_nest.dmm
Labels: Feature, Map Change, Revert / Deletion

#11124 Adds Lavaland Ruin Behind Legion
  _maps/map_files/mining/Lavaland.dmm
  code/game/area/areas/ruins/lavaland.dm
  code/game/objects/items/puzzle_pieces.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  icons/obj/doors/puzzledoor/necropolis.dmi
  icons/obj/puzzle_small.dmi
Labels: Feature, Map - Approved, Map Change, Sprites

#11138 Adds TEG to roundstart engines
  _maps/RandomRuins/StationRuins/BoxStation/engine_teg.dmm
  config/game_options.txt
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Awaiting - HC Review, Config, Feature, Map Change

#11182 removes the tesla engine/coils from orderable cargo crates
  code/modules/cargo/bounties/engineering.dm
  code/modules/cargo/bounty.dm
  code/modules/cargo/packs.dm
Labels: Tweak

#11222 ports crystallizer from TG
  code/datums/components/crafting/recipes.dm
  code/datums/materials/basemats.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/grenades/atmos_grenades.dm
  code/game/objects/items/stacks/sheets/ammonia_crystals.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/structures/statues.dm
  code/modules/atmospherics/machinery/components/gas_recipe_machines/atmos_machines_recipes.dm
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer.dm
  code/modules/cargo/exports/materials.dm
  code/modules/cargo/exports/sheets.dm
  code/modules/power/cell.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/mob/inhands/misc/sheets_lefthand.dmi
  icons/mob/inhands/misc/sheets_righthand.dmi
  icons/obj/atmospherics/components/machines.dmi
  icons/obj/grenade.dmi
  icons/obj/power.dmi
  icons/obj/stack_objects.dmi
  icons/obj/statue.dmi
  tgui/packages/tgui/interfaces/Crystallizer.js
  yogstation.dme
Labels: DME Edit, Feature, Javascript, Sprites, tgui

#11223 probably fixes gangtools giving a deconvert message when promoting someone
  yogstation/code/modules/antagonists/gang/gang.dm
Labels: Feature, Fix, Revert / Deletion, Tweak

#11230 Lowers Damage done by the Mosin-Nagant bullets to 40 (as opposed to the 60)
  code/modules/projectiles/projectile/bullets/rifle.dm
Labels: Tweak

#11234 Adds Gift Shop Toxins Test Range
  _maps/RandomRuins/StationRuins/BoxStation/testingsite_range4.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Feature, Map Change

#11247 Adds monstermos airlocks to Seed Vault
  _maps/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
Labels: Map Change

#11243 moves the mining base beacon over by 1
  _maps/RandomRuins/LavaRuins/miningbase.dmm
Labels: Map Change, Tweak

#11236 Adds bottle of whiskey to yogsmeta detective office
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Feature, Map Change

#11224 Fuels Lyis' Sadistic Tendencies
  code/modules/events/supermatter_surge.dm
Labels: Test Merge - Scheduled, Tweak

#11245 fix wings not working due to mothism
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#11217 Adds a syndicate EMP bomb
  code/game/machinery/syndicatebeacon.dm
  code/game/machinery/syndicatebomb.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature

#11251 I can't believe it's not magic!
  code/datums/mutations/actions.dm
  code/datums/mutations/antenna.dm
  code/datums/mutations/cold.dm
  code/datums/mutations/touch.dm
Labels: Fix

#11250 Fixes ghosts being able to manipulate machine boards
  code/game/machinery/constructable_frame.dm
Labels: Fix
