Repository yogstation13/Yogstation, pull requests merged in 2021-02, with the labels that each got.

#10938 shades can no longer cast or be used in runes
  code/modules/antagonists/cult/runes.dm
Labels: Tweak

#10946 Add directional firelock crafting
  code/game/machinery/doors/firedoor.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  icons/obj/doors/edge_Doorfire.dmi
Labels: Feature, Sprites

#10947 Vomitcrawling now ends if the pool of vomit you entered gets cleaned.
  yogstation/code/datums/components/crawl.dm
Labels: Balance, Tweak

#10948 Theremin Slowly Converts All of the Lobby Music into "The Kinks"
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature

#10950 [fix] Unborks meta sci break room firelock
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Fix, Map Change

#10953 makes mosins medium size
  code/modules/projectiles/guns/ballistic/rifle.dm
Labels: Tweak

#10954 luxury shuttle blockers are no longer breakable
  code/modules/shuttle/special.dm
Labels: Fix

#10957 Allows regenerative cores to be used in-hand for self-application
  code/modules/mining/equipment/regenerative_core.dm
Labels: Tweak

#10958 Fixes oversight where holotool is unable to be turned off
  yogstation/code/game/objects/items/holotool/holotool.dm
  yogstation/code/game/objects/items/holotool/modes.dm
Labels: Tweak

#10961 fix staff of storms not disabling current storms
  code/controllers/subsystem/weather.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
Labels: Fix

#10962 Bees are now friendly :)
  code/modules/hydroponics/beekeeping/beebox.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  icons/mob/bees.dmi
Labels: Sprites, Tweak

#10963 Reverts #10129 - Cult golem shells can again be finished by anyone
  code/modules/ruins/lavaland_ruin_code.dm
Labels: Revert / Deletion

#10968 probably fixes clock cult not showing up at round end report
  code/modules/antagonists/clockcult/clockcult.dm
Labels: Fix

#10977 legion cores can't be used in hand while inert
  code/modules/mining/equipment/regenerative_core.dm
Labels: Fix

#10978 Revert "replaces all instances of adult bookcases with religious ones"
  _maps/RandomRuins/SpaceRuins/pubby_monastery.dmm
  _maps/RandomRuins/StationRuins/maint/10x10/10x10_deltalibrary.dmm
  _maps/RandomRuins/StationRuins/maint/3x5/3x5_junkcloset.dmm
Labels: Map Change, Tweak

#10981 formaldehyde now actually works right
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Fix

#10989 probably fixes firedoors being jank
  code/game/machinery/doors/firedoor.dm
Labels: Fix

#10809 Adds a lightweight skill system that's less shitcode than hopek's implementation and makes mopping floors and doing surgery slightly faster for janitors and medical doctors respectively
  code/__DEFINES/jobs.dm
  code/game/objects/items/mop.dm
  code/modules/surgery/surgery_step.dm
Labels: Tweak

#10816 Zombies own 2021
  code/game/machinery/doors/airlock.dm
  code/modules/antagonists/zombie/abilities/adrenaline.dm
  code/modules/antagonists/zombie/abilities/tank.dm
  code/modules/antagonists/zombie/zombie.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/zombie/items.dm
  code/modules/zombie/organs.dm
Labels: Stale, Tweak

#10859 ports Da great meat resprite PR from /tg/ by Krysonism.
  code/modules/food_and_drinks/food/snacks/meat.dm
  icons/obj/food/food.dmi
Labels: Feature, Sprites

#10944 Removes Adrenaline and changes Nervous cost to 20 volume per second.
  code/modules/research/designs/nanite_designs.dm
  code/modules/research/nanites/nanite_programs/buffing.dm
  code/modules/research/techweb/all_nodes.dm
  yogstation/code/modules/research/techweb/all_nodes.dm
Labels: Revert / Deletion, Tweak

#10949 Changes how the push for actually using anesthetics works so it's more intuitive
  code/datums/brain_damage/special.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living_defines.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/surgery/advanced/lobotomy.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/coronary_bypass.dm
  code/modules/surgery/healing.dm
  code/modules/surgery/lobectomy.dm
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/remove_embedded_object.dm
  code/modules/surgery/surgery.dm
  code/modules/surgery/surgery_step.dm
  yogstation/code/datums/diseases/advance/symptoms/confusion.dm
  yogstation/code/modules/surgery/healing_surgeries.dm
Labels: Tweak

#10959 another pepperspray buff
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Tweak

#10964 Removes gatfruit
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/ruins/lavaland_ruin_code.dm
  yogstation/code/modules/stock_market/stockmarket.dm
Labels: Revert / Deletion

#10969 Ion Laws Get Modified v2
  strings/ion_laws.json
  strings/yogs_ion_laws.json
Labels: Feature, Revert / Deletion

#10972 Cleans up vomitcrawl code
  yogstation/code/datums/components/crawl.dm
Labels: Tweak

#10973 Adds missing overlay for modded PKA chassis when reloading
  icons/obj/guns/energy.dmi
Labels: Fix, Sprites

#10974 Losing a family heirloom impacts your mood significantly more.
  code/datums/mood_events/generic_negative_events.dm
Labels: Tweak

#10979 Removes Steam Supersaturation
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Revert / Deletion

#10984 probably actually fixes the get_weather proc
  code/controllers/subsystem/weather.dm
Labels: Fix

#10985 Removes the record function from chemical dispensers
  tgui/packages/tgui/interfaces/ChemDispenser.js
  tgui/public/tgui.bundle.js
Labels: Fix, Javascript, tgui

#10986 reduces the penalty for tend wounds on dead people from 5* to 3* more damage required for bonus point of healing
  code/modules/surgery/healing.dm
Labels: Tweak

#10988 Reinforces the Area of Atmospherics Exposed to the Incinerator
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#10990 Fix cyborg hands having weirdness
  code/game/objects/items/twohanded.dm
Labels: Fix

#10997 bone axe deals correct damage
  code/game/objects/items/twohanded.dm
Labels: Fix

#11026 bees no longer have armor piercing stingers
  code/modules/mob/living/simple_animal/hostile/bees.dm
Labels: Fix

#11036 surgkit node fix
  code/modules/research/techweb/all_nodes.dm
  code/modules/research/techweb/layout.dm
Labels: Fix

#11042 organ smartfridge heals as fast as intended
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: Fix

#11033 probably makes legion not shit itself whenever ahealed
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
Labels: Fix

#11012 adds a cooldown to golf hit
  code/game/golf/golf.dm
Labels: Tweak

#11013 puts golf in games vendor
  code/modules/vending/games.dm
Labels: Tweak

#11011 changes 500 uranium goal to 50 of every sheet
  code/modules/goals/department_goals/cargo.dm
Labels: Tweak

#11015 makes ocular warden code less shit by 2 characters and makes them not attack stunned people for real
  code/modules/antagonists/clockcult/clock_structures/ocular_warden.dm
Labels: Tweak

#11021 Various Disease Fixes
  code/datums/diseases/advance/symptoms/heal.dm
  code/datums/diseases/advance/symptoms/radiation.dm
  yogstation/code/datums/diseases/advance/symptoms/heal.dm
Labels: Fix

#11044 Moves the give() proc down to /mob/living so it doesnt make runtimes
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/living.dm
Labels: Fix

#11043 surgkit modules auto reselected
  code/modules/surgery/tools.dm
Labels: Fix

#11024 Megafauna Boss Music
  code/modules/client/client_defines.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/music/music.dm
  code/modules/ruins/objects_and_mobs/necropolis_gate.dm
  sound/lavaland/music/adder.ogg
  sound/lavaland/music/blobpaste.ogg
  sound/lavaland/music/communism.ogg
  sound/lavaland/music/headpats.ogg
  sound/lavaland/music/kilogram.ogg
  sound/lavaland/music/kilogram2.ogg
  sound/lavaland/music/megafauna.txt
  sound/lavaland/music/pants.ogg
  yogstation.dme
  yogstation/code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
Labels: DME Edit, Sound

#10996 removes the fireball wand from drake loot because I don't like it
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Tweak

#10999 Some map discord fixes
  _maps/RandomRuins/LavaRuins/miningbase.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  _maps/shuttles/pirate_default.dmm
Labels: Fix, Map Change

#11003 Heretic compactification
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_book.dm
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
  code/modules/antagonists/eldritch_cult/eldritch_transmutations.dm
  code/modules/antagonists/eldritch_cult/knowledge/ash_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/rust_lore.dm
  code/modules/antagonists/eldritch_cult/transmutations/ash_transmutations.dm
  code/modules/antagonists/eldritch_cult/transmutations/flesh_transmutations.dm
  code/modules/antagonists/eldritch_cult/transmutations/rust_transmutations.dm
  yogstation.dme
Labels: DME Edit, Revert / Deletion, Tweak

#11005 Fixes auxbase modes
  code/game/objects/items/RCD.dm
  code/modules/mining/aux_base_camera.dm
Labels: Fix

#11007 items fried now keep their old reagents
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
Labels: Tweak

#11009 goliath tentacles chainstunning will only increase the current stun by 2 seocnds instead of resetting it to 10
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
Labels: Tweak

#11014 adds a cooldown to throwing things
  code/modules/mob/living/carbon/carbon.dm
Labels: Tweak

#11017 Revert "uniform sprites for digitigrade lizardpeople"
  icons/mob/uniform_digi.dmi
Labels: Sprites

#11029 makes science's greytide gun unobtainable
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Revert / Deletion

#11030 announces round-end when nar-sie summoned
  code/modules/power/singularity/narsie.dm
Labels: Feature

#11038 changes some gas calculations to work more as intended
  code/modules/surgery/organs/lungs.dm
Labels: Tweak

#11039 reduces the damage of shotgun slugs to 46 down from 60
  code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: Tweak

#11046 chitinous mass armor now accepts oxygen tanks
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: Feature

#11047 Renames View Admin Remarks to View Own Admin Notes because I couldnt find the button and I was looking for it
  code/modules/client/verbs/ooc.dm
Labels: Missing/Inadequate Rationale

#11048 Allows chitin plate armor to carry emergency tanks
  yogstation/code/modules/clothing/suits/armor.dm
Labels: Feature

#11062 Fixes autolathe incorrectly identifying the processing item as the last requested item
  code/game/machinery/autolathe.dm
Labels: Fix

#11049 Rune scimitar's damage is now 28 from 35
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Tweak

#11054 Fixes cargo goals always completing
  code/modules/goals/department_goals/cargo.dm
Labels: Fix

#11068 Fixes NTSL broadcast()
  code/datums/chatmessage.dm
Labels: Fix
