Repository yogstation13/Yogstation, pull requests merged in 2021-06, with the labels that each got.

#11486 Healing nanites do stamina damage
  code/modules/research/nanites/nanite_programs/healing.dm
Labels: Feature

#11534 Gives the blue detective suit the same allowed items and armor as the regular detective suits.
  yogstation/code/modules/clothing/suits/miscellaneous.dm
Labels: Tweak

#11513 strip from contractor wont strip implants
  code/modules/antagonists/traitor/syndicate_contract.dm
Labels: Fix

#11504 makes borg spin be a knockdown instead of a stun
  code/datums/components/riding.dm
Labels: Tweak

#11547 fix cargo jumpskirt
  code/modules/clothing/under/jobs/civilian.dm
Labels: Fix

#11552 Adds footwraps to vending machines, lowercases the name.
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/wardrobes.dm
Labels: Feature

#11503 [boring] Map template cleanup
  _maps/RandomRuins/StationRuins/BoxStation/dorms_edoor1.dmm
  _maps/RandomRuins/StationRuins/BoxStation/dorms_edoor2.dmm
  _maps/RandomRuins/StationRuins/BoxStation/dorms_edoor3.dmm
  _maps/RandomRuins/StationRuins/BoxStation/dorms_edoor4.dmm
  _maps/RandomRuins/StationRuins/BoxStation/dorms_edoor5.dmm
  _maps/RandomRuins/StationRuins/BoxStation/dorms_edoor6.dmm
  _maps/RandomRuins/StationRuins/BoxStation/dorms_edoor7.dmm
  _maps/RandomRuins/StationRuins/BoxStation/dorms_edoor8.dmm
  _maps/RandomRuins/StationRuins/BoxStation/dorms_edoor9.dmm
  _maps/RandomRuins/StationRuins/BoxStation/hydro1.dmm
  _maps/RandomRuins/StationRuins/BoxStation/hydro2.dmm
  _maps/RandomRuins/StationRuins/BoxStation/hydro3.dmm
  _maps/RandomRuins/StationRuins/BoxStation/hydro4.dmm
  _maps/RandomRuins/StationRuins/BoxStation/hydro5.dmm
  _maps/RandomRuins/StationRuins/BoxStation/hydro6.dmm
  _maps/RandomRuins/StationRuins/BoxStation/medbay_morgue1.dmm
  _maps/RandomRuins/StationRuins/BoxStation/medbay_morgue2.dmm
  _maps/RandomRuins/StationRuins/BoxStation/medbay_morgue3.dmm
  _maps/RandomRuins/StationRuins/BoxStation/medbay_morgue4.dmm
  _maps/RandomRuins/StationRuins/BoxStation/medbay_morgue5.dmm
  _maps/RandomRuins/StationRuins/BoxStation/testingsite_range1.dmm
  _maps/RandomRuins/StationRuins/BoxStation/testingsite_range2.dmm
  _maps/RandomRuins/StationRuins/BoxStation/testingsite_range3.dmm
  _maps/RandomRuins/StationRuins/BoxStation/testingsite_range4.dmm
  _maps/RandomRuins/StationRuins/BoxStation/transfer1.dmm
  _maps/RandomRuins/StationRuins/BoxStation/transfer2.dmm
  _maps/RandomRuins/StationRuins/BoxStation/transfer3.dmm
  _maps/RandomRuins/StationRuins/BoxStation/transfer4.dmm
  _maps/RandomRuins/StationRuins/BoxStation/transfer5.dmm
  _maps/RandomRuins/StationRuins/BoxStation/transfer6.dmm
  _maps/RandomRuins/StationRuins/BoxStation/transfer7.dmm
  _maps/RandomRuins/StationRuins/BoxStation/transfer8.dmm
  _maps/RandomRuins/StationRuins/BoxStation/transfer9.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#11567 Adds a meter to teg engine
  _maps/RandomRuins/StationRuins/BoxStation/engine_teg.dmm
Labels: Map Change

#11524 Cheese Staff 2 Electric Booglaloo
  code/modules/mob/living/inhand_holder.dm
  code/modules/mob/living/simple_animal/friendly/cheese.dm
  code/modules/projectiles/projectile/magic.dm
  icons/mob/animal.dmi
  yogstation.dme
Labels: DME Edit, Fix, Sprites, Tweak

#11565 Fixes incorrect uses of UnregisterSignal
  code/modules/antagonists/ninja/ninja.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/research/nanites/nanite_programs/sensor.dm
  code/modules/surgery/organs/tongue.dm
  yogstation/code/datums/components/crawl.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/jellypeople.dm
Labels: Fix

#11413 [Bounty] Kilostation
  _maps/_basemap.dm
  _maps/kilostation.dm
  _maps/kilostation.json
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/shuttles/arrival_kilo.dmm
  _maps/shuttles/cargo_kilo.dmm
  _maps/shuttles/ferry_kilo.dmm
  _maps/shuttles/labour_kilo.dmm
  _maps/shuttles/mining_kilo.dmm
  code/datums/shuttles.dm
  config/maps.txt
Labels: Awaiting - HC Review, Bounty, Config, Feature, Map Change

#11464 Makes the SM surge event even more powerful
  code/modules/events/supermatter_surge.dm
Labels: Balance, Test Merge - Requested, Tweak

#11480 lizard martial changes
  code/datums/martial/flying_fang.dm
Labels: Tweak

#11492 Buffs stormtrooper armor
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
Labels: Tweak

#11508 Ports AI Portrait Picker + Curator Portrait Picker [PORT] [BOUNTY]
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/__DEFINES/art.dm
  code/__DEFINES/subsystems.dm
  code/_globalvars/lists/flavor_misc.dm
  code/game/objects/structures/artstuff.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/ai_portrait_picker.dm
  code/modules/mob/living/silicon/ai/death.dm
  code/modules/modular_computers/computers/machinery/console_presets.dm
  code/modules/modular_computers/file_system/programs/portrait_printer.dm
  icons/mob/ai.dmi
  icons/obj/artstuff.dmi
  tgui/packages/tgui/interfaces/NtosPortraitPrinter.js
  tgui/packages/tgui/interfaces/PortraitPicker.js
  yogstation.dme
Labels: Awaiting - HC Review, Bounty, DME Edit, Feature, Javascript, Map Change, Sprites, tgui

#11521 Raises the Price on Several Supply Crates
  code/modules/cargo/packs.dm
Labels: Tweak

#11529 [Admin] People who are non consentually put into cryo no longer get offered to ghosts automatically and prevents using cryo as an indestructible safe spot by using the offer to ghost prompt to delay the cryo forever
  code/game/machinery/cryopod.dm
Labels: Fix

#11541 ARDS nerf
  code/datums/diseases/advance/symptoms/choking.dm
Labels: Tweak

#11542 Gives Different Severed Tails Unique Icons
  code/modules/surgery/organs/tails.dm
  icons/obj/surgery.dmi
Labels: Sprites

#11546 chef cqc checks defender for being in the kitchen
  code/datums/martial/cqc.dm
Labels: Tweak

#11550 Adds a mannitol pill bottle to anyone with a brain tumor roundstart.
  code/datums/traits/negative.dm
  code/game/objects/items/storage/firstaid.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: Feature

#11554 Swaps out some deleted lobby music URLs
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Fix

#11562 inocybe shine helps with surgery
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/surgery/surgery_step.dm
Labels: Tweak

#11564 [admin] Adds short forms for admin/mainterino combo roles in OOC
  yogstation/code/modules/client/verbs/ooc.dm
Labels: Admin, Tweak

#11566 [box]Adds a 2% xeno egg spawner to xenobio
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#11568 Adds a lavaland ruin
  _maps/RandomRuins/LavaRuins/lavaland_surface_doorstuck.dmm
  code/datums/ruins/lavaland.dm
  config/lavaruinblacklist.txt
Labels: Config, Feature, Map Change

#11569 Gives the mime and cent-com official stamps.
  code/modules/asset_cache/asset_list_items.dm
  code/modules/jobs/job_types/centcom.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/paperwork/stamps.dm
  icons/obj/bureaucracy.dmi
  icons/stamp_icons/large_stamp-cent.png
  icons/stamp_icons/large_stamp-mime.png
  yogstation/icons/obj/bureaucracy.dmi
Labels: Feature, Sprites

#11571 Advanced Health Analyzers now work like surgical processors.
  code/game/objects/items/devices/scanners.dm
  code/modules/surgery/surgery.dm
Labels: Feature

#11573 Adds an Azeel plushie to vendors and as a donor item, also fixes a mystery white pixel in the lizard plushie.
  code/game/objects/items/plushes.dm
  code/modules/vending/gift.dm
  icons/obj/plushes.dmi
  yogstation/code/modules/donor/unique_donator_items.dm
Labels: Feature, Sprites

#11574 Ports the positronic alert console.
  code/game/machinery/posialert.dm
  icons/obj/machines/terminals.dmi
Labels: Feature, Sprites

#11583 Gromit Mug.
  code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
  icons/obj/drinks.dmi
Labels: Feature, Sprites

#11584 Fixes felinid tabling
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/mood_event.dm
Labels: Fix

#11563 [Admin] Adds logging to activation, triggering, and uploading of harmful nanite programs
  code/modules/research/nanites/nanite_cloud_controller.dm
  code/modules/research/nanites/nanite_programs.dm
  code/modules/research/nanites/nanite_programs/rogue.dm
  code/modules/research/nanites/nanite_programs/suppression.dm
  code/modules/research/nanites/nanite_programs/weapon.dm
Labels: Feature

#11532 [admin] Adds missing button to toggle exempt from job exp requirements
  code/modules/admin/admin.dm
Labels: Admin, Feature

#11585 Actually adds the posibrain console and fixes the dme
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  yogstation.dme
Labels: DME Edit, Fix, Map Change

#11586 Enables aggressive changelog
  config/config.txt
Labels: Config, Tweak

#11580 Gives Oldstation Ruin Atmospherics area gravity
  code/game/area/areas/ruins/space.dm
Labels: Map Change, Tweak

#11528 Gives Mining Medics job specific traitor items
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/uplink/uplink_items.dm
  yogstation/code/game/objects/items/storage/uplink_kits.dm
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Tweak

#11570 Fixed and Tweaked Some Stuff With the Crew Console Interface
  code/game/machinery/computer/crew.dm
  tgui/packages/tgui/constants.js
  tgui/packages/tgui/interfaces/CrewConsole.js
Labels: Fix, Javascript, Tweak, tgui

#11576 Fix die of fate color
  code/modules/awaymissions/mission_code/Academy.dm
Labels: Fix

#11589 Adds the crew manifest to cyborgs.
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Feature

#11594 You can no longer deconstruct tables and racks on help intent.
  code/game/objects/structures/tables_racks.dm
Labels: Tweak

#11597 Remove debug hardsuit slowdown
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Tweak

#11607 [kilo]Adds an atmos sim computer to toxins
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Change

#11593 adds "diggle hell" to the lobby music
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature

#11626 Improved box station cargo bay
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#11631 Fixes Cloning Error Message Issues.
  code/game/machinery/computer/cloning.dm
Labels: Fix

#11624 Allows admin to use HTML in centcom reports
  code/__HELPERS/priority_announce.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Admin

#11615 Fixes "Fixed and Tweaked Some Stuff With the Crew Console Interface"
  code/game/machinery/computer/crew.dm
Labels: Javascript, tgui

#11622 Ports #59750 from TG: Adds configs to disable hard deletes
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/garbage.dm
  config/config.txt
Labels: Config

#11625 adds "Traitor's Motif" to the lobby music
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature

#11649 Reinforces walls around hos office
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#11660 Makes the shuttle catastrophe only happen if the shuttle is on the CC z-level
  code/modules/events/shuttle_catastrophe.dm
Labels: Fix
