Repository yogstation13/Yogstation, pull requests merged in 2021-04, with the labels that each got.

#11271 Changes to accommodate new webmin donation system.
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  yogstation/code/__HELPERS/mobs.dm
  yogstation/code/game/world.dm
Labels: SQL

#11244 Removes rogue pixel on hop hat
  icons/mob/head.dmi
Labels: Sprites

#11145 adds framework for bounties unlocking new crates and adds a few as an alterantive to mining tech
  code/modules/cargo/bounties/progression.dm
  code/modules/cargo/bounty.dm
  code/modules/cargo/packs.dm
  yogstation.dme
Labels: DME Edit, Feature, Tweak

#11235 Adds gas miners to omega
  _maps/map_files/Omegastation/omegastation.dmm
Labels: Map Change, Tweak

#11238 The great crystallization of golems
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/ruins/lavaland_ruin_code.dm
  icons/effects/mouse_pointers/phase_jump.dmi
  icons/mob/actions/actions_spells.dmi
  icons/mob/human_parts_greyscale.dmi
Labels: Feature, Fix, Sprites, Tweak

#11246 removes code for "practice" scarabs since it was never actually used and could be used to gain infinite power
  code/modules/antagonists/clockcult/clock_items/construct_chassis.dm
  code/modules/antagonists/clockcult/clock_structures/ark_of_the_clockwork_justicar.dm
Labels: Fix

#11242 Gives skeleton key a cargo value
  code/modules/cargo/exports/lavaland.dm
Labels: Tweak

#11255 chaplain armor balancing
  code/game/objects/items/holy_weapons.dm
Labels: Tweak

#11257 Fixes a bug with the teg burn console not working
  _maps/RandomRuins/StationRuins/BoxStation/engine_teg.dmm
Labels: Fix, Map Change

#11261 weak claymore nerf
  code/game/objects/items/religion.dm
Labels: Tweak

#11263 chitin plate changes
  yogstation/code/modules/clothing/suits/armor.dm
Labels: Tweak

#11270 riot armor slowdown reduce
  code/modules/clothing/suits/armor.dm
Labels: Tweak

#11280 Fixes Shuttle Catastrophe Event
  code/modules/events/shuttle_catastrophe.dm
Labels: Fix

#11277 Changes the exosuit ammunition sprite to not look like it's done by a 9 year old and instead look like a 12 year old
  icons/mecha/mecha_ammo.dmi
Labels: Sprites, Tweak

#11299 fixes #11298
  code/modules/mob/living/simple_animal/hostile/wumborian_fugu.dm
Labels: Fix

#11303 Fixes Perma Shambler's Vendor Not Being Usable by Perma Prisoners
  _maps/map_files/YogStation/YogStation.dmm
Labels: Fix, Map Change

#11317 fixes a bug with bloodcult that caused spells to be deleted when becoming cult leader
  code/modules/antagonists/cult/cult_comms.dm
Labels: Fix

#11023 MK.II SWAT mask
  code/game/objects/items.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/language/encrypted.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/say.dm
  code/modules/surgery/organs/tongue.dm
  sound/voice/cpvoice/ds (1).ogg
  sound/voice/cpvoice/ds (10).ogg
  sound/voice/cpvoice/ds (11).ogg
  sound/voice/cpvoice/ds (12).ogg
  sound/voice/cpvoice/ds (13).ogg
  sound/voice/cpvoice/ds (14).ogg
  sound/voice/cpvoice/ds (15).ogg
  sound/voice/cpvoice/ds (16).ogg
  sound/voice/cpvoice/ds (17).ogg
  sound/voice/cpvoice/ds (18).ogg
  sound/voice/cpvoice/ds (19).ogg
  sound/voice/cpvoice/ds (2).ogg
  sound/voice/cpvoice/ds (20).ogg
  sound/voice/cpvoice/ds (21).ogg
  sound/voice/cpvoice/ds (22).ogg
  sound/voice/cpvoice/ds (23).ogg
  sound/voice/cpvoice/ds (24).ogg
  sound/voice/cpvoice/ds (25).ogg
  sound/voice/cpvoice/ds (26).ogg
  sound/voice/cpvoice/ds (27).ogg
  sound/voice/cpvoice/ds (3).ogg
  sound/voice/cpvoice/ds (4).ogg
  sound/voice/cpvoice/ds (5).ogg
  sound/voice/cpvoice/ds (6).ogg
  sound/voice/cpvoice/ds (7).ogg
  sound/voice/cpvoice/ds (8).ogg
  sound/voice/cpvoice/ds (9).ogg
  yogstation.dme
Labels: DME Edit, Feature, Sound

#11225 2 new smites
  code/__DEFINES/admin.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Admin, Feature

#11241 Lets abductors buy more batons and pistols
  code/modules/antagonists/abductor/equipment/orderable_gear.dm
Labels: Feature

#11260 Revert "makes science's greytide gun unobtainable" and makes it not pass tables or windows
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/projectiles/ammunition/energy/portal.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/special/wormhole.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  yogstation/code/game/gamemodes/battle_royale/loot.dm
Labels: Feature, Tweak

#11282 Adds the anniversary of 24605 as a holiday
  code/modules/holiday/holidays.dm
Labels: Feature

#11287 Ports sec hailer dispatch system from NSV13
  code/_globalvars/lists/objects.dm
  code/modules/clothing/masks/hailer.dm
  yogstation.dme
  yogstation/code/modules/clothing/masks/hailer.dm
  yogstation/icons/effects/aiming.dmi
  yogstation/icons/mob/actions/actions.dmi
  yogstation/sound/voice/dispatch_please_respond.ogg
Labels: Sound, Sprites

#11294 Janitor office betterization
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#11296 [bounty] Strawberry flavored candy!
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  icons/obj/food/food.dmi
Labels: Feature, Sprites

#11307 Clown bugs now transfer their mind on death
  code/modules/mob/living/simple_animal/friendly/cockroach.dm
Labels: Fix

#11308 Updates CBT + Warns when not using build.bat
  code/_compile_options.dm
  tgui/.yarn/releases/yarn-2.4.1.cjs
  tgui/.yarn/releases/yarn.cjs
  tools/build/build.js
  tools/build/cbt/fs.js
  tools/build/cbt/glob.js
  tools/build/cbt/process.js
  tools/build/cbt/task.js
  tools/build/cbt/winreg.js
Labels: Javascript, tgui

#11310 brings gangs minimum requirement back to 30
  yogstation/code/game/gamemodes/gangs/gangs.dm
Labels: Tweak

#11318 Forces polysmorphs to have digitigrade legs
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/species_types/polysmorphs.dm
Labels: Revert / Deletion

#11323 removes some shitcode from knives
  code/game/objects/items/kitchen.dm
Labels: Fix

#10023 Draft for weight changes and adding new modes,
  config/game_options.txt
Labels: Config, Feature, Fix, Revert / Deletion, Tweak

#11302 Piping fixes for box
  _maps/RandomRuins/StationRuins/BoxStation/xenobridge_default.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Tweak

#11320 Lexorin now (approximately) 50% less deadly
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Tweak

#11285 Adds HUD icon for artist
  code/modules/jobs/access.dm
  yogstation/icons/mob/hud.dmi
Labels: Sprites

#11328 Fixes qm office and some other mapping bugs
  _maps/RandomRuins/StationRuins/maint/5x3/5x3_breach.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Fix, Map Change

#11337 Adds a damaged state of the retro floor tile.
  icons/turf/floors.dmi
Labels: Sprites

#11339 Adds a Gallery to the Library and Places the Sec Service Outpost at Escape
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Map - Approved, Map Change, Revert / Deletion

#11341 Fixes #11332 and #11330
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: Fix

#11343 Fixes the sprites for the arcade machine.
  icons/obj/computer.dmi
Labels: Sprites

#11354 Art gallery hotfixes
  _maps/map_files/YogStation/YogStation.dmm
Labels: Fix, Map Change

#11338 Ports Resprites water cooler from /tg/
  icons/obj/vending.dmi
Labels: Sprites

#11327 Meta improvements
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#11361 Removes Firelocks from the gallery in Library, Resizes it, Adds Decals in the Rear.
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map - Approved, Map Change, Tweak

#11370 zaukerite icon now works
  yogstation/icons/obj/stack_objects.dmi
Labels: Fix, Sprites

#11356 Changes YogsMeta to have 4500 kPa air to distro
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Tweak

#11334 The first xeno will be forced to evolve into a drone
  code/modules/mob/living/carbon/alien/larva/powers.dm
Labels: Tweak

#11403 Adds Computer Vendor and Deluxe Silicate Selections to Eclipse, Omega and Delta
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
Labels: Feature, Map Change

#11352 reduces the price of several crates using the new small order crates not being worth anything
  code/modules/cargo/packs.dm
Labels: Tweak

#11369 should fix the byos not accounting for byos specific things
  code/datums/shuttles.dm
Labels: Fix

#11373 Fixes #11350, Fixes #11349
  code/game/gamemodes/objective.dm
Labels: Fix

#11365 throw emitter
  code/modules/power/singularity/emitter.dm
Labels: Tweak

#11322 remove burst fire from WT rifle
  code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Tweak

#11313 Makes it more difficult to meta heretics with kitchen knives
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/kitchen.dm
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/obj/items_and_weapons.dmi
Labels: Feature, Sprites

#11274 makes WT-550 rifles obtainable again
  code/modules/cargo/packs.dm
Labels: Tweak

#11367 [admin] Create Antagonists heretic
  code/datums/mind.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/one_click_antag.dm
Labels: Admin

#11392 Mind-slaved syndicate crew can now use the stealth syndicate gear.
  code/__DEFINES/~yogs_defines/is_helpers.dm
Labels: Fix

#11347 adds a small minimum playercount to heretics since it doesn't work work well on hyperlowpop
  code/game/gamemodes/eldritch_cult/eldritch_cult.dm
Labels: Tweak

#11045 more department goals: medical edition
  code/modules/goals/department_goals/medical.dm
Labels: Feature

#11106 Sound Environments - Adds reverb and echos to rooms
  byond-extools.dll
  code/__DEFINES/sound.dm
  code/datums/brain_damage/magic.dm
  code/datums/diseases/heart_failure.dm
  code/datums/status_effects/buffs.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/area/ai_monitored.dm
  code/game/area/areas.dm
  code/game/area/areas/away_content.dm
  code/game/area/areas/holodeck.dm
  code/game/area/areas/mining.dm
  code/game/area/areas/ruins/_ruins.dm
  code/game/area/areas/shuttles.dm
  code/game/machinery/dance_machine.dm
  code/game/sound.dm
  code/modules/antagonists/brother/brother.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/creep/creep.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_monster_antag.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/carbon/status_procs.dm
  code/modules/mob/mob_defines.dm
  code/modules/surgery/organs/heart.dm
Labels: Feature, Test Merge - Scheduled

#11259 Tweaks the lavaland ruin behind Legion to be more of a lair
  _maps/map_files/mining/Lavaland.dmm
Labels: Awaiting - HC Review, Map - Approved, Map Change, Tweak

#11275 New religious sect - Children of the Kudzu (has nothing to do with kudzu)
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/religion/religion_sects.dm
  code/modules/religion/rites.dm
  icons/obj/hand_of_god_structures.dmi
Labels: Feature, Sprites

#11292 Polysmorps bleed green blood like xenos do, and species without blood don't bleed red
  code/game/atoms.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/living.dm
  code/modules/projectiles/projectile.dm
  icons/effects/blood.dmi
Labels: Feature, Fix, Sprites

#11336 increases the price of atmos bounties to make them more worthwhile
  code/modules/cargo/bounties/engineering.dm
Labels: Tweak

#11353 private order crates will prevent the shuttle from leaving
  code/modules/cargo/console.dm
  code/modules/shuttle/supply.dm
Labels: Tweak

#11364 Increases the dispatch cooldown to 25 seconds
  yogstation/code/modules/clothing/masks/hailer.dm
Labels: Tweak

#11371 adds forbidden lore to emagged library consoles
  code/modules/library/lib_machines.dm
Labels: Feature

#11372 adds bulletproof helmet crate
  code/modules/cargo/packs.dm
Labels: Feature

#11377 Lets you eat soap.
  code/game/objects/items/clown_items.dm
Labels: Feature

#11386 fix aux base access
  code/modules/mining/aux_base.dm
Labels: Fix

#11387 Religio-Capitalist golem buff
  code/modules/mob/living/carbon/human/species_types/golems.dm
Labels: Tweak

#11389 Fake armblade nerf
  code/modules/antagonists/changeling/powers/tiny_prick.dm
Labels: Tweak

#11390 makes ling gloves not check for antimagic
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: Fix

#11357 [box] Xenobridge always starts connected
  _maps/RandomRuins/StationRuins/BoxStation/xenobridge_default.dmm
  _maps/RandomRuins/StationRuins/BoxStation/xenobridge_space.dmm
  _maps/map_files/YogStation/YogStation.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: DO NOT MERGE, Map Change, Revert / Deletion, Tweak

#11393 Hotdogs are no longer in the pastry crafting category. Moved to breads
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
Labels: Tweak

#11394 Mansus grasp now can ignite cigars
  code/modules/antagonists/eldritch_cult/eldritch_magic.dm
Labels: Feature

#11409 godhand can ignite cigars and stuff too
  code/game/objects/items/holy_weapons.dm
Labels: Feature

#11398 Removes Cohiba Robusto Cigars from Possible Smoker Quirk Roundstart Cigarettes and Adds A Warning Label to the Cohiba Robusto Case
  code/datums/traits/negative.dm
  code/game/objects/items/storage/fancy.dm
Labels: Feature, Revert / Deletion

#11407 slightly decreases the armor on the juggernaut suit and helmet because apparently giving miners deathsquad tier armor is a bad idea
  yogstation/code/modules/clothing/head/misc.dm
  yogstation/code/modules/clothing/suits/armor.dm
Labels: Tweak

#11411 makes lizards scream when they drink planet cracker
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Tweak

#11406 All the mapping fixes
  _maps/RandomRuins/LavaRuins/lavaland_surface_greed.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_casino.dmm
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/escape_pod_1.dmm
  _maps/shuttles/escape_pod_2.dmm
  _maps/shuttles/escape_pod_3.dmm
  _maps/shuttles/escape_pod_4.dmm
  code/__DEFINES/layers.dm
  code/datums/shuttles.dm
Labels: Fix, Map Change

#11384 Gulag gets a pacman generator
  _maps/map_files/mining/Lavaland.dmm
Labels: Map Change, Tweak

#11032 ports cobbychem or at least most of it
  _maps/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  code/datums/traits/negative.dm
  code/game/machinery/Sleeper.dm
  code/game/objects/items/storage/firstaid.dm
  code/modules/cargo/packs.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/hydroponics/grown/ambrosia.dm
  code/modules/hydroponics/grown/flowers.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/mining/machine_vending.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/cat2_medicines.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/reagent_containers/borghypo.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/pill.dm
  icons/obj/hydroponics/growing_flowers.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  yogstation.dme
  yogstation/code/modules/reagents/reagent_containers/hypospray.dm
Labels: Feature, Map - Approved, Map Change, Needs review, Sprites

#11278 Nerfs tesla engine by making miniballs only act 20% of the time, also makes tesla bolts no longer bounce indefinitely
  code/__DEFINES/power.dm
  code/game/objects/obj_defense.dm
  code/modules/power/tesla/energy_ball.dm
Labels: Fix, Tweak

#11418 fix probital not working
  code/modules/reagents/chemistry/recipes/cat2_medicines.dm
Labels: Fix

#11420 fixes escape pods probably
  _maps/shuttles/escape_pod_2.dmm
  _maps/shuttles/escape_pod_3.dmm
  _maps/shuttles/escape_pod_4.dmm
Labels: Fix, Map Change

#11355 singularity shard
  code/modules/cargo/exports/tools.dm
  code/modules/power/singularity/singularity.dm
  icons/obj/items_and_weapons.dmi
Labels: Feature, Sprites

#11426 holdup now won't force trigger on the target moving
  code/datums/components/gunpoint.dm
Labels: Fix
