Repository yogstation13/Yogstation, pull requests merged in 2021-08, with the labels that each got.

#11874 Sets deathsquad name to numbers and matches voice to accomodate
  code/modules/clothing/outfits/standard.dm
  code/modules/mob/living/carbon/human/say.dm
Labels: Tweak

#11884 Fixes "Adds digitigrade jumpsuit alts using ThatGuyPhil's icons #11744"
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/pants.dm
  code/modules/clothing/under/shorts.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/clothing/under/trek.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/surgery/organs/autosurgeon.dm
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/surgery.dmi
  yogstation/code/game/objects/items/storage/uplink_kits.dm
  yogstation/code/modules/clothing/under/jobs/civilian.dm
  yogstation/code/modules/clothing/under/jobs/engineering.dm
  yogstation/code/modules/uplink/uplink_item.dm
  yogstation/icons/mob/uniform.dmi
Labels: Feature, Sprites, Tweak

#11897 Made the brace actually resist brute force attacks on a door
  code/game/machinery/doors/airlock.dm
Labels: Fix

#11900 Fixes space adap so it prevents passive heating as well as passive cooling
  code/datums/mutations/space_adaptation.dm
Labels: Tweak

#11905 buffs specific tend wounds by giving them a 2.5 base healing boost per level (total of 10 at experimental)
  code/modules/surgery/healing.dm
Labels: Tweak

#11927 Roller beds can now be made using a protolathe.
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature

#11929 gives science research points for augments
  code/modules/surgery/limb_augmentation.dm
Labels: Tweak

#11920 Adds a reference to Dishonored as a null rod.
  code/game/objects/items/holy_weapons.dm
  icons/obj/items_and_weapons.dmi
Labels: Feature, Sprites

#11880 Adds a space heater to every AI satellite in space.
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Feature, Map Change, Tweak

#11896 Nuke ops Hud Update!
  yogstation/icons/mob/hud.dmi
Labels: Sprites

#11882 [BOUNTY] Maltese Falcon Renovation (YogStation Map)
  _maps/map_files/YogStation/YogStation.dmm
  code/_globalvars/lists/mapping.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/ticker.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  yogstation/code/game/objects/effects/landmarks.dm
  yogstation/code/modules/jobs/job_types/_job.dm
Labels: Map Change, TESTMERGED, Test Merge - Requested, Tweak

#11952 New zombie HUD icon by Cuackles
  yogstation/icons/mob/hud.dmi
Labels: Sprites

#11942 Fixes raging/bullshit mages not polling people, also adds an ignore for them
  code/_globalvars/lists/poll_ignore.dm
  code/game/gamemodes/wizard/raginmages.dm
Labels: Fix

#11939 Makes brand intelligence explosion not space rooms
  code/modules/events/brand_intelligence.dm
Labels: Tweak, i ded

#11934 [admin] Added a command to fix air on the whole zlevel, disabling atmos to do so safely - Alexkar598 better code edition
  code/modules/admin/admin_verbs.dm
  yogstation/code/modules/admin/verbs/fix_air.dm
Labels: Admin

#11961 fix runtime with polys lungs I think
  code/modules/surgery/organs/lungs.dm
Labels: Fix

#11960 stop runtiming you fuck
  code/modules/cargo/supplypod.dm
Labels: Fix

#11951 a couple mrat changes
  code/datums/brain_damage/mrat.dm
Labels: Tweak, Fix

#11944 No longer resets account to zero when adjusting money while it is negative
  code/modules/economy/account.dm
Labels: Tweak

#11937 Disables spark effect for quantum pads due to lag it generates
  code/game/machinery/quantum_pad.dm
Labels: Revert / Deletion

#11926 Enable crew hour requirements for several non-head jobs
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/warden.dm
  config/config.txt
  yogstation/code/modules/jobs/job_types/security_officer.dm
Labels: Feature, Tweak, Config

#11922 assorted buffs to flying fang
  code/datums/martial/flying_fang.dm
Labels: Tweak

#11918 allows you to wear shank in ear slot
  code/game/objects/items/kitchen.dm
Labels: Feature

#11917 Enable cowboy as a roundstart AI lawset
  config/game_options.txt
Labels: Tweak, Config

#11906 Disables Profiler which has not been running for 6 months or anything.
  config/config.txt
Labels: Config

#11803 [Admin] Gives admins the ability to change AI/Robot Laws at will
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/borgpanel.dm
Labels: Feature, Tweak, Fix, Revert / Deletion, Admin

#11962 [admin] Hopefully makes admin ranks able to have spaces
  code/modules/admin/admin_ranks.dm
  code/modules/admin/permissionedit.dm
Labels: Feature, Config, Admin, Fetish Content

#11739 Readds Cat emotes
  .vscode/settings.json
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/feline/meow1.ogg
  sound/voice/feline/meow2.ogg
  sound/voice/feline/meow3.ogg
  sound/voice/feline/meow4.ogg
  sound/voice/feline/scream1.ogg
  sound/voice/feline/scream2.ogg
  sound/voice/feline/scream3.ogg
Labels: Sound, Test Merge - Scheduled, TESTMERGED

#11992 Demotes Adam from Host
  code/modules/admin/permissionedit.dm
Labels: Admin

#11984 Fixes the access on the spare ID cabinet and bridge fire axe cabinet
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/game/objects/structures/fireaxe.dm
  yogstation/code/game/objects/structures/fireaxe.dm
Labels: Map Change, Fix

#11949 Adds some procs that are useful for bus
  yogstation.dme
  yogstation/code/modules/admin/moja.dm
Labels: TESTMERGED

#11969 does something REALLY FUCKING SMART with sparks and makes their sleep a QDEL_IN
  code/game/objects/effects/effect_system/effects_sparks.dm
Labels: Fix, TESTMERGED

#12018 Fixes Donate Links
  .github/FUNDING.yml
  code/modules/client/preferences.dm
  config/motd.txt
Labels: Config, Github

#11899 Adds chameleon chest rig
  code/modules/uplink/uplink_items.dm
Labels: Feature

#11919 allows you to mine with dark blessing and light eater and with a normal armblade
  code/game/objects/items/holy_weapons.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
Labels: Feature

#11956 Adds new quirk that gives an unremovable version of Expressive Aphasia.
  code/datums/brain_damage/mild.dm
  code/datums/traits/negative.dm
Labels: Feature, Tweak

#11959 rats now squeak after eating
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Feature

#11971 Adds the ability to eat pie off your face with a fork
  code/game/objects/items/kitchen.dm
  code/modules/food_and_drinks/food/snacks_egg.dm
  yogstation/icons/obj/kitchen.dmi
Labels: Feature, Sprites

#11972 Lizards can now eat the pie off their face
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Feature, Fetish Content

#11976 Makes the code team own the code, as they should
  .github/CODEOWNERS
Labels: Github

#11978 Removes intent check on table dissasembly for people without disarm intent, without any wounds code this time
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#11979 Makes the space heater not need APC power
  code/game/machinery/spaceheater.dm
Labels: Fix

#11980 Researching tcoms now also gives the messaging server board
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#11981 Makes the door opening for ERTs run async
  code/modules/admin/verbs/one_click_antag.dm
Labels: Tweak, Admin

#11985 Tweaks and Overdoses for Libital, Aiuri
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/recipes/cat2_medicines.dm
Labels: Feature, Tweak

#11974 Makes mentornoot have a 10% chance of playing
  yogstation/code/datums/world_topic.dm
  yogstation/code/modules/mentor/mentor.dm
Labels: Tweak

#11958 Engineers use tools slightly faster
  code/game/objects/items.dm
Labels: Feature

#11989 Removes unused lines from the CODEOWNERS file
  .github/CODEOWNERS
Labels: Github

#11990 Variable charge rate for Potato Batteries with Electrical Activity trait
  code/modules/hydroponics/plant_genes.dm
Labels: Feature

#12002 Lock offer to ghosts behind +ADMIN
  code/datums/datumvars.dm
Labels: Tweak

#12003 Prevents code words in HTML tags from being highlighted
  code/controllers/subsystem/ticker.dm
Labels: Fix

#12005 NTSL: Adds 4th optional parameter to replace(), to limit how many replaces happen
  yogstation/code/modules/scripting/Implementations/_Logic.dm
Labels: Feature

#12006 alien queen shuttle call no longer causes a recall lock so you degenerates can keep one in science
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
Labels: Tweak

#12007 Added sigdrobe to tcom on meta
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Feature, Map Change

#12009 Rebalance AI law weights
  config/game_options.txt
Labels: Tweak, Config

#12010 Adds two more bartender drinks
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  icons/obj/drinks.dmi
Labels: Feature, Sprites

#12017 Removes a
  code/modules/asset_cache/asset_list_items.dm
Labels: Revert / Deletion

#12019 Dring dring, the 90s called, they want their URLs back
  .github/ISSUE_TEMPLATE/config.yml
  code/controllers/configuration/entries/general.dm
  code/game/machinery/cloning.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/mob/say.dm
  config/motd.txt
  config/private_default.txt
  config/private_server.txt
  html/templates/header.html
  yogstation/code/modules/mob/living/brain/MMI.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
Labels: Config, Github

#11533 Removes passive income from the Security Budget 2 [Electric Boogaloo]
  code/__DEFINES/economy.dm
  code/controllers/subsystem/economy.dm
Labels: Revert / Deletion

#11746 [EXPERIMENTAL] Traitors are assigned after 3 to 5 minutes
  code/game/gamemodes/traitor/traitor.dm
Labels: Test Merge - Scheduled, Test Merge - Requested, TESTMERGED

#11853 Mimes can recite clockwork spells even while mute
  code/modules/antagonists/clockcult/clock_helpers/scripture_checks.dm
Labels: Tweak, Awaiting - HC Review

#11993 he cabinet for the Captains spare ID now triggers the area theft alarm when multi-tooled and emagged.
  code/game/objects/structures/fireaxe.dm
Labels: Feature, Literally the best PR, Fetish Content

#12039 fix the mindslave arrow not mindslaving
  code/game/objects/items/storage/uplink_kits.dm
Labels: Fix

#12035 Reverts my unnecessary ebow nerf
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#12031 Fix jealous assassinate
  code/modules/antagonists/creep/creep.dm
Labels: Fix

#12030 Can now drag plasma tanks/parts into frames/collectors
  code/game/machinery/constructable_frame.dm
  code/modules/power/singularity/collector.dm
Labels: Feature

#12041 Reduces the weight of yogstation, removes the weight on meta, lowering it in the process
  config/maps.txt
Labels: Tweak, Config

#12011 Makes grant full access work on simplemobs
  code/game/objects/items/cards_ids.dm
  code/modules/admin/verbs/debug.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/jobs/access.dm
Labels: Tweak, Admin

#12045 Pixel shifted computers no longer unshift themselves
  code/game/machinery/computer/_computer.dm
Labels: Fix

#11425 Miningbase Rework
  _maps/RandomRuins/LavaRuins/miningbase.dmm
  _maps/shuttles/mining_box.dmm
  code/game/area/areas/mining.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  icons/turf/areas.dmi
Labels: Feature, Tweak, Map Change, Revert / Deletion, Sprites, TESTMERGED

#12034 Syndicate mask update
  icons/obj/clothing/masks.dmi
Labels: Sprites

#12050 Adds Space Cleaner Clogged vents for Bus and Random Chance
  code/modules/events/vent_clog.dm
Labels: Feature

#12046 Fixes Fancy PDA switching not working
  code/modules/client/preferences.dm
Labels: Fix

#12081 [s] Fixed dragging plasma tanks not working
  code/modules/power/singularity/collector.dm
Labels: Fix

#12047 [admin] Disconnect panel
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/disconnectpanel.dm
  code/modules/client/client_procs.dm
  tgui/packages/tgui/interfaces/DisconnectPanel.js
  yogstation.dme
Labels: DME Edit, Feature, Admin, tgui, Javascript

#12062 fix sentient disease not being able to use adaptation menu sometimes
  code/modules/antagonists/disease/disease_mob.dm
Labels: Fix

#12075 Should Fix "missing science jumpsuit sprite" #12073
  icons/mob/uniform.dmi
Labels: Fix, Sprites

#12025 Adds two more bartender drinks
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  icons/obj/drinks.dmi
Labels: Feature, Sprites

#11973 Job Alternative Titles
  code/__HELPERS/game.dm
  code/controllers/subsystem/job.dm
  code/datums/datacore.dm
  code/datums/mind.dm
  code/game/machinery/computer/crew.dm
  code/game/objects/items/cards_ids.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/ai.dm
  code/modules/jobs/job_types/artist.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/cyborg.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/jobs/jobs.dm
  code/modules/modular_computers/file_system/programs/card.dm
  yogstation/code/game/objects/items/cards_ids.dm
  yogstation/code/modules/jobs/job_types/clerk.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
  yogstation/code/modules/jobs/job_types/paramedic.dm
  yogstation/code/modules/jobs/job_types/psychiatrist.dm
  yogstation/code/modules/jobs/job_types/signal_technician.dm
  yogstation/code/modules/jobs/job_types/tourist.dm
Labels: Admin, TESTMERGED

#12074 Fixes and Tweaks Some Stuff With the Crew Monitor Again
  code/_globalvars/lists/mobs.dm
  code/game/machinery/computer/crew.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/_under.dm
  code/modules/research/nanites/nanite_programs/utility.dm
  tgui/packages/tgui/constants.js
  tgui/packages/tgui/interfaces/CrewConsole.js
Labels: Tweak, Fix, tgui, Javascript

#12087 Job Alternative Titles - Hotfix for #11973
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/cyborg.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/jobs/jobs.dm
Labels: Fix

#12093 "Fixes" "Fixes and Tweaks Some Stuff With the Crew Monitor Again" #12074
  code/_globalvars/lists/mobs.dm
  code/game/machinery/computer/crew.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/_under.dm
  code/modules/research/nanites/nanite_programs/utility.dm
Labels: Fix

#11987 Someone took out my motion camera. I blame weje.
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Awaiting - Action - Author

#12057 RCD cartridges now refill the RCD in a single cartridge vs having to use 4
  _maps/map_files/debug/multiz.dmm
  _maps/map_files/debug/runtimestation.dmm
  code/game/objects/items/RCD.dm
  code/game/objects/structures/crates_lockers/closets/secure/misc.dm
  code/modules/clothing/outfits/ert.dm
Labels: Tweak, Map Change, Map - Approved

#12090 Fixes a mistake I made when alphabetizing menus
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Tweak

#11999 shuttles move after the round ends
  code/controllers/subsystem/shuttle.dm
Labels: Tweak

#12032 more EngiVend RCDS
  code/modules/vending/engivend.dm
Labels: Tweak

#12022 [EXPERIMENTAL] People not readied up now count as half a readied up player.
  code/__DEFINES/antagonists.dm
  code/game/gamemodes/game_mode.dm
Labels: Literally the best PR, Fetish Content, TESTMERGED

#12054 Reinforced cap's shitter
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
Labels: Tweak, Map Change

#12058 Revert "#9147 (Belt tweaks) Hotfix"
  code/game/objects/items/storage/belt.dm
Labels: Tweak

#12060 Can now throw people into the bin - Why not
  code/modules/recycling/disposal/bin.dm
Labels: Feature

#12061 Makes burglar alarms send a message in sec radio when triggered
  code/game/area/areas.dm
Labels: Tweak

#12014 Adds Custom Mentor role, can Add Wiki and Stuff now
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
  code/modules/admin/topic.dm
  code/modules/client/client_defines.dm
  code/modules/client/verbs/ooc.dm
  tools/LinuxOneShot/SetupProgram/PreCompile.sh
  yogstation/SQL/mentor.sql
  yogstation/code/modules/admin/admin.dm
  yogstation/code/modules/admin/topic.dm
  yogstation/code/modules/mentor/mentor.dm
  yogstation/code/modules/mentor/mentor_verbs.dm
Labels: Admin, SQL

#12077 moves heating in crystallizer above the cooling so it like matters
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer.dm
Labels: Tweak

#12094 Fixes Sangria from catching clicks that weren't apart of the sprite.
  icons/obj/drinks.dmi
Labels: Fix, Sprites

#12089 [admin]s now properly trigger mhelp chat notif
  yogstation/code/modules/mentor/mentorpm.dm
Labels: Fix

#12078 Various Bug Fixes
  code/datums/mutations/speech.dm
  code/game/objects/items/holy_weapons.dm
  code/modules/antagonists/morph/morph.dm
Labels: Fix

#12111 Adds traction floors to the showers in Delta and Meta Medbay
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Tweak, Map Change

#12104 Tweaks medbay on box to encourage cooperation with medical
  _maps/map_files/YogStation/YogStation.dmm
Labels: Tweak, Map Change

#11946 Mantis blade (new traitor item) (NOW with fixed conflicts)
  code/game/objects/items/mantis.dm
  code/game/objects/items/storage/briefcase.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/uplink/uplink_items.dm
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/obj/items_and_weapons.dmi
  yogstation.dme
  yogstation/code/modules/uplink/uplink_item.dm
Labels: DME Edit, Feature, Sprites, TESTMERGED

#12079 Limits the contract of apprenticeship to wizards
  code/modules/antagonists/_common/antag_spawner.dm
Labels: Fix

#12071 Makes event spawning based on alert level
  code/modules/events/_event.dm
  code/modules/events/aurora_caelus.dm
Labels: Tweak

#11998 Reduces the priority of the explosion subsystem so mobs still process while meteors are overflowing everything else
  code/__DEFINES/subsystems.dm
Labels: Tweak

#12124 Hopefully prevents people with no jobs enabled from being kicked to lobby after rolling antag
  code/modules/mob/dead/new_player/new_player.dm
Labels: Fix

#12122 Revert "[admin] Admins now have the right to tell people to man up."
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  sound/misc/manup.ogg
Labels: Sound, Admin

#12114 Makes footwraps craftable
  code/game/objects/items/stacks/sheets/leather.dm
Labels: Tweak

#12113 Fix skillcapes
  code/__HELPERS/global_lists.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/neck/skillcapes/skillcape_datums.dm
  yogstation/code/modules/jobs/job_types/_job.dm
Labels: Tweak, Fix

#12095 Makes Aurora Caelus 4x as strong
  code/modules/events/aurora_caelus.dm
Labels: Tweak

#12092 Re-adds drunkenness counting as a painkiller for surgery screwups
  code/modules/mob/living/carbon/life.dm
Labels: Tweak

#12016 A.R.G.U.S Skin for SlicerV
  yogstation/code/modules/donor/borg_ai_skin_datums.dm
  yogstation/icons/mob/DonorRobots.dmi
Labels: Sprites, Stale

#12072 doubled piggyback mounting time
  code/modules/mob/living/carbon/human/human.dm
Labels: Tweak

#11776 Adds Brig Physicians
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/__DEFINES/access.dm
  code/__DEFINES/jobs.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/clock_cult/clock_cult.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/eldritch_cult/eldritch_cult.dm
  code/game/gamemodes/hivemind/hivemind.dm
  code/game/gamemodes/overthrow/overthrow.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/zombie/zombie.dm
  code/game/machinery/computer/crew.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/client/preferences.dm
  code/modules/clothing/neck/skillcapes/skillcape_datums.dm
  code/modules/clothing/neck/skillcapes/skillcapes.dm
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  icons/mob/landmarks.dmi
  icons/mob/neck.dmi
  icons/obj/clothing/skillcapes.dmi
  icons/obj/pda.dmi
  icons/turf/areas.dmi
  yogstation.dme
  yogstation/code/game/area/Space_Station_13_areas.dm
  yogstation/code/game/gamemodes/darkspawn/darkspawn.dm
  yogstation/code/game/gamemodes/gangs/gangs.dm
  yogstation/code/game/gamemodes/shadowling/shadowling.dm
  yogstation/code/game/gamemodes/vampire/vampire.dm
  yogstation/code/game/objects/effects/landmarks.dm
  yogstation/code/game/objects/items/cards_ids.dm
  yogstation/code/game/objects/items/devices/PDA/PDA_types.dm
  yogstation/code/game/objects/items/devices/radio/encryptionkey.dm
  yogstation/code/game/objects/items/devices/radio/headset.dm
  yogstation/code/game/objects/items/storage/backpack.dm
  yogstation/code/modules/clothing/head/jobs.dm
  yogstation/code/modules/clothing/suits/labcoat.dm
  yogstation/code/modules/clothing/under/jobs/security.dm
  yogstation/code/modules/jobs/job_types/brig_physician.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
  yogstation/icons/mob/head.dmi
  yogstation/icons/mob/hud.dmi
  yogstation/icons/mob/landmarks.dmi
  yogstation/icons/mob/suit.dmi
  yogstation/icons/mob/uniform.dmi
  yogstation/icons/obj/closet.dmi
  yogstation/icons/obj/clothing/hats.dmi
  yogstation/icons/obj/clothing/suits.dmi
  yogstation/icons/obj/clothing/uniforms.dmi
Labels: Feature, Tweak, Map Change, Sprites, Test Merge - Scheduled, Awaiting - HC Review, Map - Approved

#12127 Stun baton belt object update
  icons/obj/clothing/belt_overlays.dmi
Labels: Sprites

#12165 [Ezhan] swapped shooting range and brig phys room on YogsDelta
  _maps/map_files/YogsDelta/YogsDelta.dmm
Labels: Tweak, Map Change

#12186 presumably stops coggers from warping into the captains office
  code/game/area/Space_Station_13_areas.dm
Labels: Tweak

#12159 halves time for people conversion rites
  code/modules/religion/rites.dm
Labels: Tweak

#12149 Brig Phys Tweaks
  _maps/map_files/Omegastation/omegastation.dmm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  yogstation/code/modules/jobs/job_types/brig_physician.dm
Labels: Tweak, Map Change, Map - Approved

#12153 should fix a runtime with accessory removal
  code/modules/clothing/under/_under.dm
Labels: Fix

#12154 Adds custom borg skin for myself, a different guy
  yogstation/code/modules/donor/borg_ai_skin_datums.dm
  yogstation/icons/mob/DonorRobots.dmi
Labels: Feature, Sprites

#12164 Makes the IC issue message a little bit less 'you ded lol'
  yogstation/code/modules/admin/verbs/adminhelp.dm
Labels: Tweak

#12166 [s] Patch a server crashing exploit (#61057)
  code/__DEFINES/cooldowns.dm
  code/game/communications.dm
  code/modules/assembly/signaler.dm
Labels: Fix

#12168 reduces shitcode in SMESes
  code/modules/power/smes.dm
Labels: Tweak, Fix

#12176 Removes normal footwraps from non-engi and non-miner jobs
  code/modules/jobs/job_types/_job.dm
Labels: Tweak

#12183 Fixes failed Borg buckling giving you the weird buckle hands
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#12189 Fixes crew monitors not handling alt titles correctly
  code/game/machinery/computer/crew.dm
Labels: Fix

#12190 stops the syndie hat from embedding when it throws itself back to its user
  code/modules/clothing/head/jobs.dm
Labels: Fix

#12191 increases minimum players for heretic from 20 to 35
  code/game/gamemodes/eldritch_cult/eldritch_cult.dm
Labels: Tweak

#12175 [Vote 830] Disable cryo pods for 30 minutes
  code/controllers/subsystem/ticker.dm
  code/game/machinery/cryopod.dm
  icons/obj/machines/sleeper.dmi
Labels: Tweak, Sprites, IMPORTANT, Awaiting - HC Review, Approved Council Vote

#12021 Space dragon carp suit
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/mining.dmi
Labels: Feature, Sprites
