Repository yogstation13/Yogstation, pull requests merged in 2022-04, with the labels that each got.

#13557 fixes uberspam for inf uber
  code/modules/projectiles/guns/misc/medbeam.dm
Labels: Fix

#13560 Fixes edge case where AI Core wouldn't update to correct sprite
  code/modules/mob/living/silicon/ai/decentralized/ai_data_core.dm
Labels: Fix

#13561 Triples AI Core grace period
  code/__DEFINES/ai.dm
Labels: Tweak, Awaiting - Merge

#13562 Adds button for AI to jump to data core if it's failing or has gone offline
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/decentralized/ai_data_core.dm
Labels: Tweak, Awaiting - Merge

#13563 [Admin] Adds right-click option on AI data cores for admins to access VV of AIs
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/aiquickaccess.dm
  yogstation.dme
Labels: Admin, Awaiting - Merge

#13537 Adds a pipebomb recipe, for all your mailbombing needs
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/grenades/ghettobomb.dm
  icons/obj/grenade.dmi
Labels: Feature, Sprites

#13523 Gives syndie surgery duffel tools speed boost like toolbox tools
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/toolbox.dm
Labels: Tweak, Awaiting - Merge

#13574 Fixes station traits
  code/controllers/subsystem/processing/station.dm
Labels: Fix

#13558 Adds 1K, 5K, and 10K mining point transfer cards
  code/modules/mining/machine_vending.dm
Labels: Feature

#13565 [s] Fix href exploit in uplink
  code/datums/components/uplink.dm
Labels: Config, Fix, tgui, Dependencies

#13500 Autopsy surgery
  _maps/map_files/YogStation/YogStation.dmm
  code/_onclick/item_attack.dm
  code/datums/martial.dm
  code/modules/client/verbs/suicide.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/monkey/monkey_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/surgery/autopsy.dm
  yogstation.dme
  yogstation/code/game/objects/items/premadepapers.dm
Labels: DME Edit, Feature, Map Change, Awaiting - HC Review

#13511 new item for pirates: hand cannon
  _maps/shuttles/pirate_default.dmm
  code/modules/projectiles/ammunition/caseless/rocket.dm
  code/modules/projectiles/boxes_magazines/internal/grenade.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/projectile/special/rocket.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/projectiles.dmi
Labels: Feature, Map Change, Sprites, Awaiting - Action - Author

#13521 Amanitin and entropic polypnium also work for DNA recovery
  code/modules/surgery/advanced/dna_recovery.dm
Labels: Tweak

#13570 Wormhole jaunters no longer need to be placed on the belt to save you from chasms
  code/datums/components/chasm.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
Labels: Tweak, Awaiting - Merge

#13548 Coalesces Silicon Collective lawset to solve things diplomatically unless they're whacking you
  code/datums/ai_laws.dm
Labels: Feature, i ded

#13559 Make the different holosign projector's description consistent with each other.
  code/game/objects/items/holosign_creator.dm
  code/game/objects/structures/holosign.dm
Labels: Revert / Deletion, Awaiting - HC Review

#13568 Makes the nukie ship count as near miss
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
Labels: Tweak

#13569 update byong
  code/_compile_options.dm
Labels: Fix

#13505 Phytosian "hair"
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species.dm
  icons/mob/human_parts_greyscale.dmi
  icons/mob/pod_hair.dmi
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
Labels: Feature, Sprites, Admin

#13270 PDA starts in ID slot
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/artist.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  yogstation/code/modules/jobs/job_types/brig_physician.dm
  yogstation/code/modules/jobs/job_types/clerk.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
  yogstation/code/modules/jobs/job_types/paramedic.dm
  yogstation/code/modules/jobs/job_types/psychiatrist.dm
  yogstation/code/modules/jobs/job_types/signal_technician.dm
  yogstation/code/modules/jobs/job_types/tourist.dm
Labels: Tweak, Awaiting - Action - Author

#13288 Ports TGs admin only supermatter spiders
  code/__DEFINES/admin.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/living/simple_animal/hostile/smspider.dm
  icons/mob/smspider.dmi
  yogstation.dme
Labels: Feature, Sprites, Admin, Awaiting - Action - Author

#13582 brazil will no longer hold crew who have lost more marbles than they have
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
Labels: Fix

#13583 Fixes organ efficiency bugs
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/organs/organ_internal.dm
Labels: Fix

#13527 Redoes the yogbot webook API
  yogstation/code/modules/webhook/webhook.dm
Labels: DO NOT MERGE

#13578 AI revamp is no longer new
  code/controllers/subsystem/ticker.dm
Labels: Revert / Deletion

#13595 Emagged sleepers now actually hurt people
  code/game/machinery/Sleeper.dm
Labels: Tweak

#13592 Adds chem spill event
  code/modules/events/chem_spill.dm
Labels: Feature

#13590 removes duplicate blood regeneration effect from hearts
  code/modules/mob/living/blood.dm
Labels: Fix

#13613 Ticks chem_spill.dm and changes the title of the message for chem spill that no one has seen because its been unticked
  code/modules/events/chem_spill.dm
  yogstation.dme
Labels: DME Edit, Fix

#13604 The mining conscription kit's access card now has access to the cargo office because it didn't for some reason
  code/modules/mining/machine_vending.dm
Labels: Fix

#13611 Fixes weird encryption key dupe bug with wardrobes
  code/modules/vending/wardrobes.dm
Labels: Fix

#13619 Commits the new yarn.lock file per Alex's and Bibby's suggestion
  tgui/yarn.lock
Labels: tgui, Dependencies

#13626 Fixes AI join message
  code/modules/jobs/job_types/ai.dm
Labels: Fix

#13580 Nature bar
  _maps/RandomRuins/StationRuins/BoxStation/bar_grassy.dmm
  code/_globalvars/lists/mapping.dm
  yogstation/code/datums/ruins/station.dm
Labels: Feature, Map Change

#13593 Fixes detective office APC
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Fix

#13599 Fixes some bugs with the Station Charter, including a missing pretty-filter
  code/__DEFINES/say.dm
  code/game/objects/items/charter.dm
  code/modules/admin/topic.dm
Labels: Tweak, Fix, Admin

#13602 Nicotine Overdose additionally causes heart damage
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
Labels: Feature

#13614 Makes Active Hulk locked so you can't roll it randomly
  code/datums/mutations/hulk.dm
Labels: Fix

#13564 Ports "Ports updates to the cameranet"
  code/__DEFINES/sight.dm
  code/_onclick/ai.dm
  code/game/machinery/computer/camera_advanced.dm
  code/game/objects/items/devices/multitool.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/freelook/cameranet.dm
  code/modules/mob/living/silicon/ai/freelook/chunk.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/shuttle/navigation_computer.dm
  code/modules/shuttle/shuttle_creation/shuttle_creator_console.dm
Labels: Fix, Revert / Deletion, Test Merge - Requested

#13637 fixes a bad trophy description
  code/modules/mining/equipment/kinetic_crusher.dm
Labels: Fix

#13620 Pool fixes
  code/modules/pool/components/swimming.dm
  code/modules/pool/pool.dm
Labels: Fix

#13607 Voice of God now works with accents, plus other say()-code bugfixes
  code/datums/saymode.dm
  code/modules/mob/living/say.dm
  code/modules/surgery/organs/vocal_cords.dm
Labels: Tweak, Fix

#13649 makes the rapid repeater modkit not break
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Fix

#13646 Fixes asclepius snake not actually healing people on bite
  code/datums/status_effects/buffs.dm
Labels: Fix

#13640 Mantis BLADES can now actually slice up people
  code/game/objects/items/mantis.dm
Labels: Tweak

#13638 Updates laughter demon greeting
  yogstation/code/modules/antagonists/slaughter/slaughter.dm
Labels: Fix

#13657 Revert "[Admin] Adds right-click option on AI data cores for admins to access VV of AIs"
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/aiquickaccess.dm
  yogstation.dme
Labels: DME Edit, Admin

#12193 Experimental: Racial modifier adjustments
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Awaiting - HC Review

#13324 Makes CQC Counter more consistent
  code/datums/martial/cqc.dm
Labels: Awaiting - HC Review, TESTMERGED

#13493 GaxStation, a new lowpop map that plays into being lowpop
  _maps/_basemap.dm
  _maps/gaxstation.dm
  _maps/gaxstation.json
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/shuttles/ai_gax.dmm
  _maps/shuttles/arrival_gax.dmm
  _maps/shuttles/cargo_gax.dmm
  _maps/shuttles/labour_gax.dmm
  _maps/shuttles/shuttles_labour_gax.dmm
  code/datums/shuttles.dm
  code/game/area/areas/shuttles.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/modules/shuttle/ai_ship.dm
  config/maps.txt
  yogstation.dme
Labels: Feature, Map Change, Config

#13542 Holoparasite tweaks and stuff
  _maps/templates/pocket_dimension.dmm
  code/__HELPERS/game.dm
  code/game/area/areas.dm
  code/game/machinery/computer/crew.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/guardian/guardiannaming.dm
  code/modules/mob/living/simple_animal/guardian/types/explosive.dm
  code/modules/mob/living/simple_animal/guardian/types/protector.dm
  code/modules/mob/living/simple_animal/guardian/types/ranged.dm
  code/modules/mob/living/simple_animal/guardian/types/support.dm
  icons/mob/actions_guardian.dmi
  yogstation/code/modules/guardian/abilities/_ability.dm
  yogstation/code/modules/guardian/abilities/major/assassin.dm
  yogstation/code/modules/guardian/abilities/major/explosive.dm
  yogstation/code/modules/guardian/abilities/major/frenzy.dm
  yogstation/code/modules/guardian/abilities/major/gravity.dm
  yogstation/code/modules/guardian/abilities/major/hand.dm
  yogstation/code/modules/guardian/abilities/major/healing.dm
  yogstation/code/modules/guardian/abilities/major/predator.dm
  yogstation/code/modules/guardian/abilities/major/scout.dm
  yogstation/code/modules/guardian/abilities/major/time.dm
  yogstation/code/modules/guardian/abilities/minor/snares.dm
  yogstation/code/modules/guardian/abilities/minor/teleport.dm
  yogstation/code/modules/guardian/abilities/special/pocket.dm
  yogstation/code/modules/guardian/guardian.dm
  yogstation/code/modules/guardian/guardianability.dm
  yogstation/code/modules/guardian/guardianbuilder.dm
  yogstation/code/modules/guardian/guardiandatum.dm
  yogstation/code/modules/guardian/guardianstats.dm
  yogstation/code/modules/guardian/standarrow.dm
Labels: Feature, Tweak, Map Change, Sprites

#13554 Theos commits an atrocity upon the pure and good toolset implant code to make it actually worth using under any circumstances
  code/game/objects/items/miscellaneous.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/religion/rites.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/augments_arms.dm
Labels: Tweak, Fix

#13589 fixes strange reagent not working on simplemobs and removes the clone damage dealing portion
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Fix

#13627 "Fixes" stealthmin
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: Feature, Revert / Deletion, Admin, Awaiting - Action - Author

#13630 Yalp Elor no longer instantaneously dies on-spawn, plus other bugfixes
  code/modules/antagonists/fugitive/old_god.dm
  code/modules/events/fugitive_spawning.dm
Labels: Fix

#13631 Adds exception handling to the bar spawn procs, should prevent unexpected issues
  code/controllers/subsystem/job.dm
  yogstation/code/modules/jobs/job_types/_job.dm
Labels: Fix

#13633 Fixes some weird behaviour, spellfixes of the "Jump To Network" AI verb
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Fix

#13641 Make the X-01 multiphase energy gun use a regular powercell and have a regular energy consumption
  code/modules/power/cell.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/ammunition/energy/special.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
Labels: Revert / Deletion

#13647 Makes metastation atmospherics mixing area less shitty
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Tweak, Map Change

#13648 Increases death syphon modkit's damage per kill from 1.25 to 5 and the megafauna damage mod bonus from 4 to 5
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Tweak

#13652 Allow nukies to purchase hijack only items
  code/modules/uplink/uplink_items.dm
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Tweak, Awaiting - HC Review

#13653 Replaces the wooden tables in the grassy bar with the CORRECT wooden tables
  _maps/RandomRuins/StationRuins/BoxStation/bar_grassy.dmm
Labels: Map Change, Fix

#13658 [Admin] Player panel now shows cyborg module
  code/modules/admin/player_panel.dm
Labels: Tweak, Admin

#13429 Makes Genetics and Xenobiology less insular. Boogaloo edition.
  _maps/map_files/YogStation/YogStation.dmm
  code/game/area/Space_Station_13_areas.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
Labels: Feature, Tweak, Map Change

#13667 AI improvements
  code/game/machinery/doors/door.dm
  code/modules/jobs/job_types/ai.dm
Labels: Tweak, Revert / Deletion

#13609 Adds old female pod head bud as a hairstyle for pods
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/pod_hair.dmi
Labels: Feature, Sprites

#13636 Robot arm shift
  icons/mob/augmentation/augments_mining.dmi
Labels: Fix, Sprites

#13629 Fixes a mask sprite
  icons/mob/mask.dmi
Labels: Fix, Sprites

#13639 adds antag hud to brainwashed
  code/__DEFINES/atom_hud.dm
  code/modules/antagonists/brainwashing/brainwashing.dm
  yogstation/icons/mob/hud.dmi
Labels: Feature, Sprites

#13676 fixes pepper spray icon
  code/modules/reagents/reagent_containers/spray.dm
Labels: Fix

#13661 Makes pipe bombs antag crafting book restricted
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/granters.dm
Labels: Tweak

#13668 WideYogs part 2: fixatron returns.
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Tweak, Map Change, Fix

#13680 GaxStation Day 1 Patch
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/shuttles/shuttles_labour_gax.dmm
Labels: Feature, Tweak, Map Change, Fix, Revert / Deletion

#13591 Gamma alert is no longer aurora alert
  code/modules/events/bureaucratic_error.dm
  code/modules/events/carp_migration.dm
  code/modules/events/dust.dm
  code/modules/events/false_alarm.dm
  code/modules/events/mice_migration.dm
  code/modules/events/prison_break.dm
  code/modules/events/sentience.dm
  code/modules/events/shuttle_catastrophe.dm
  code/modules/events/shuttle_loan.dm
  yogstation/code/modules/events/ion_storm.dm
  yogstation/code/modules/events/probabilistic_anomaly.dm
Labels: Tweak, Awaiting - Action - Author

#13617 Railing resprite
  _maps/RandomRuins/LavaRuins/miningbase.dmm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/structures/railings.dm
  icons/obj/railing.dmi
Labels: Map Change, Sprites, Awaiting - Action - Author

#13623 Replaces ashy spellblade with new item: bloody knuckles
  code/__DEFINES/status_effects.dm
  code/datums/action.dm
  code/datums/status_effects/debuffs.dm
  code/datums/status_effects/knuckleroot.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  icons/effects/effects.dmi
  icons/mob/inhands/weapons/melee_lefthand.dmi
  icons/mob/inhands/weapons/melee_righthand.dmi
  icons/obj/lavaland/artefacts.dmi
  yogstation.dme
Labels: DME Edit, Feature, Revert / Deletion, Sprites

#13687 fixes people being deleted by frenzy
  code/modules/antagonists/bloodsuckers/structures/bloodsucker_life.dm
Labels: Fix

#13683 Adds quiet round checks to all Dynamic rulesets
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
Labels: Fix

#13628 Fairygrass and bioluminescence port
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/open.dm
  code/modules/hydroponics/grown/berries.dm
  code/modules/hydroponics/grown/cannabis.dm
  code/modules/hydroponics/grown/flowers.dm
  code/modules/hydroponics/grown/grass_carpet.dm
  code/modules/hydroponics/grown/melon.dm
  code/modules/hydroponics/plant_genes.dm
  icons/obj/hydroponics/growing.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  icons/obj/tiles.dmi
  icons/turf/floors.dmi
  yogstation/code/modules/antagonists/shadowling/shadowling_abilities.dm
Labels: Feature, Tweak, Sprites

#13669 Adds cancel button to msay bind
  yogstation/code/modules/mentor/mentorsay.dm
Labels: Feature

#13691 Fixes gilded bike horn sprite
  code/modules/instruments/items.dm
Labels: Fix

#13697 Makes vampire use the antag rep system, and antag tokens
  yogstation/code/game/gamemodes/vampire/vampire.dm
Labels: Fix

#13685 shadowling movement is update on move rather than spec life
  yogstation/code/game/gamemodes/shadowling/shadowling.dm
Labels: Fix

#13699 Fairygrass shuttle floor fix and added missing cherry bulbs.
  code/game/turfs/turf.dm
  code/modules/hydroponics/grown/berries.dm
  code/modules/hydroponics/grown/grass_carpet.dm
Labels: Feature, Fix

#13709 Fixes runtimes in ahelp
  yogstation/code/modules/admin/verbs/adminhelp.dm
Labels: Fix

#13714 fixes a bug that allows wizards to get into centcomm
  code/game/objects/items/blueprints.dm
Labels: DO NOT MERGE, Fix

#13715 Fix for holymelons not growing.
  code/modules/hydroponics/grown/melon.dm
Labels: Fix

#13716 Fix handcannon not being reloadable and makes the reload text cooler
  code/modules/projectiles/ammunition/caseless/rocket.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
Labels: Fix

#13718 Fixes runtime in keyloop triggered by Baiomu
  yogstation/code/modules/keybindings/bindings_client.dm
Labels: Fix

#13724 Fixes holographic items icons
  code/modules/holodeck/items.dm
Labels: Fix

#13725 Fixes energy katana being invisible
  code/modules/ninja/energy_katana.dm
Labels: Fix

#13721 Adds Nmajask to the game
  html/changelog.html
  html/templates/header.html
Labels: Feature

#13682 Adds singularity_act() for pools, plus some tiny tweaks
  code/modules/pool/pool.dm
Labels: Tweak, Fix

#13701 Fixes the Crew Monitoring Console showing dead crew members as alive
  tgui/packages/tgui/interfaces/CrewConsole.js
Labels: Fix, tgui, Javascript

#13692 makes box cloning pod actually link at roundstart
  code/game/machinery/computer/cloning.dm
Labels: Feature, Not Modular

#13625 Modifies MMI/Positronic brain behavior, allows for memory removal
  code/modules/mob/living/brain/MMI.dm
  code/modules/mob/living/brain/brain.dm
  code/modules/mob/living/brain/posibrain.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Tweak, Awaiting - Vote - Council, Not Modular

#13664 Re-enables the wizard academy
  code/datums/ruins/space.dm
Labels: Feature

#13689 Fixes being unable to get new negative or neutral quirks when you have exactly 6 positive quirks
  code/modules/client/preferences.dm
Labels: Fix, Not Modular

#13694 Ruinous knife additions
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/kitchen.dm
  code/modules/religion/rites.dm
Labels: Feature, Tweak, Not Modular

#13695 Fixes Pathfinder Cloak
  icons/mob/suit.dmi
Labels: Sprites, Not Modular

#13698 GaxStation Day 2/3 Patch
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Feature, Tweak, Map Change, Fix

#13702 Disallows mice from emptying boxes on tables
  code/datums/components/storage/storage.dm
Labels: Tweak, Not Modular

#13705 Small abductor gland tweaks
  code/modules/antagonists/abductor/equipment/gland.dm
Labels: Fix, Not Modular

#13706 Fixes regarding rank changes
  code/game/machinery/computer/security.dm
  code/modules/modular_computers/file_system/programs/card.dm
Labels: Tweak, Fix, Not Modular

#13710 Fixed config runtime
  code/__DEFINES/configuration.dm
  code/controllers/configuration/configuration.dm
  code/game/world.dm
Labels: Fix, Not Modular

#13711 Fixes status topic runtime when reading revision
  code/datums/world_topic.dm
Labels: Fix, Not Modular

#13712 Fixes disconnect panel runtime
  code/modules/admin/verbs/disconnectpanel.dm
Labels: Fix, Admin, Not Modular

#13734 Fix runtime in toggles.dm
  code/modules/clothing/suits/toggles.dm
Labels: Fix, Not Modular

#13735 Fix error if gloves aren't gloves
  code/datums/components/forensics.dm
Labels: Fix, Not Modular

#13736 Money isn't a string
  code/modules/goals/department_goals/engineering.dm
  code/modules/goals/department_goals/science.dm
Labels: Fix, Not Modular

#13708 cns rebooter bugfix
  code/modules/surgery/organs/augments_internal.dm
Labels: Fix, Not Modular

#13749 Pod people no longer metabolize ethanol faster than regular people
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
Labels: Tweak

#13722 Canister reskin
  icons/obj/atmospherics/canister.dmi
Labels: Sprites, Not Modular

#13738 fixes KA explosion always dealing maximum damage
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Fix, Not Modular

#13470 Assault borgs now resist flashes and flashbangs
  code/game/objects/items/grenades/flashbang.dm
  code/modules/assembly/flash.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Tweak, Stale, Awaiting - Action - Author, Not Modular

#13584 Fix runtime in clock_cult.dm
  code/game/gamemodes/clock_cult/clock_cult.dm
Labels: Fix, Not Modular

#13643 New chem RadAway: a slightly toxic radiation resisting medicine that can scrub contamination when sprayed onto people or objects
  _maps/RandomRuins/LavaRuins/lavaland_surface_cafe_of_broken_dreams.dmm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/reagent_containers/bottle.dm
Labels: Feature, Map Change, Not Modular

#13690 AI is now able to turn its APC back online when it goes off, and is no longer blinded when the APC goes offline if they have other active cores. You also don't get spammed when dying
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/decentralized/ai_data_core.dm
  code/modules/mob/living/silicon/ai/decentralized_ai.dm
  code/modules/mob/living/silicon/ai/life.dm
Labels: Tweak, Fix, Not Modular

#13719 Makes martial arts damage respect species punch damage
  code/datums/martial/cqc.dm
  code/datums/martial/flying_fang.dm
  code/datums/martial/hunterfu.dm
  code/datums/martial/krav_maga.dm
  code/datums/martial/psychotic_brawl.dm
  code/datums/martial/sleeping_carp.dm
  code/datums/martial/wrestling.dm
Labels: Tweak, Not Modular

#13744 Fixes Janitor tile not being correct (Fixes #13743)
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Fix

#13747 re-adds the autopsy surgery area for detective and the incinerator expansion on box
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change

#13748 Phytosians no longer get 2x regen on all damage types for tasting a crumb of sugar once
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
Labels: Fix

#13751 New Donator item: The Sad Horn (it boo-womps)
  yogstation/code/game/objects/items/clown_items.dm
  yogstation/code/modules/donor/unique_donator_items.dm
  yogstation/sound/items/boowomp.ogg
Labels: Feature, Sound

#13635 Combat mechs now punch you across the room instead of winning in one click
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
Labels: Tweak, Not Modular

#13755 New Psyc Office YAY
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Map Change, Revert / Deletion

#13753 AHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#13754 Remake of #13452 - Slips dont stop tail wagging
  code/game/turfs/open.dm
Labels: Tweak

#13674 Makes mindbreaker toxin actually work against reality dissociation syndrome
  code/datums/brain_damage/mild.dm
  code/datums/traits/negative.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Tweak, Fix, Not Modular

#13760 Fixes bad emitter math that makes every single tesla/singularity breach containment since January 26th
  code/modules/power/singularity/emitter.dm
Labels: Fix

#13762 [s] Fixed only non-admins being asked if they want to reboot the round
  yogstation/code/modules/admin/verbs/adminhelp.dm
Labels: Fix

#13756 Podpeople don't feed off light so much that they are perpetually fat
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
Labels: Tweak

#13774 Humans now have a 65% chance of being lactose intolerant
  code/modules/mob/living/carbon/human/species_types/humans.dm
Labels: Tweak

#13759 modularizes big red button toy
  code/game/objects/items/toys.dm
Labels: Feature

#13761 Kilo Medbay patch
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Change, Fix

#13650 update pipebomb image
  icons/obj/grenade.dmi
Labels: Sprites, Not Modular

#13654 Adds department-specific footwraps
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/vending/wardrobes.dm
  icons/mob/feet.dmi
  icons/obj/clothing/shoes.dmi
Labels: Sprites, Not Modular

#13679 Ports belt resprites and adds a Chief Medical Officer belt
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/weldingtool.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  icons/mob/belt.dmi
  icons/obj/abductor.dmi
  icons/obj/clothing/belt_overlays.dmi
  icons/obj/clothing/belts.dmi
Labels: Feature, Fix, Sprites, Not Modular

#13771 Makes the explosion bonus for mining double ores instead of adding 2
  code/game/turfs/simulated/minerals.dm
Labels: Tweak

#13765 Fixing issues with psyc office. On yogbox
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Revert / Deletion

#13766 Time Requirement for Antags - Malf AIs
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/malfunction/malf.dm
Labels: Feature

#13770 Fixes flying fang AP
  code/datums/martial/flying_fang.dm
Labels: Fix

#13790 Fixes alien crowbars being invisible
  code/game/objects/items/tools/crowbar.dm
Labels: Fix

#11741 Project Jamie - Paperwork Edition
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  code/game/objects/items/barriertape.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/admin/topic.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/paperwork/carbonpaper.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/paperwork/paperbin.dm
  code/modules/paperwork/papershredder.dm
  code/modules/paperwork/photocopier.dm
  code/modules/photography/photos/photo.dm
  icons/obj/barriertape.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/library.dmi
  sound/items/pshred.ogg
  tgui/packages/tgui/interfaces/FaxMachine.js
  yogstation.dme
Labels: DME Edit, Map Change, Sound, Sprites, Admin, Stale, tgui, Javascript

#13793 Fixes Empaths not being able to detect deafness when it is temporary
  code/modules/mob/living/carbon/human/examine.dm
Labels: Fix

#13768 Ethereal Meat Slab Rework
  code/modules/food_and_drinks/food/snacks/meat.dm
Labels: Tweak

#13776 Fixes grave error
  code/modules/admin/secrets.dm
Labels: Admin

#13778 Makes sling chitin item icons visible
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  yogstation/code/modules/antagonists/shadowling/shadowling_items.dm
  yogstation/icons/obj/clothing/hats.dmi
  yogstation/icons/obj/clothing/suits.dmi
Labels: Sprites

#13779 Remake of 13754 - (...) Slips dont stop tail wagging
  code/game/turfs/open.dm
  code/modules/mob/living/carbon/carbon_movement.dm
Labels: Fix

#13783 [Admin] Refactors the "Check AI Laws" adminverb to actually work and look nice
  code/modules/admin/admin.dm
  yogstation/code/modules/admin/admin.dm
Labels: Fix, Admin

#13819 blood/vomitcrawlers no longer prevent hijack while crawling
  code/modules/shuttle/emergency.dm
Labels: Tweak
