Repository yogstation13/Yogstation, pull requests merged in 2022-06, with the labels that each got.

#13827 Admin fax - Adam fix please
  code/__DEFINES/misc.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/paperwork/paper.dm
Labels: Feature, Admin

#14081 new makeshift weapon, removed makeshift laser rifle
  code/datums/components/crafting/makeshift.dm
  code/datums/components/crafting/recipes.dm
  code/modules/projectiles/ammunition/caseless/rocket.dm
  code/modules/projectiles/boxes_magazines/internal/grenade.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/projectile/special/rocket.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
Labels: Feature, Revert / Deletion, Sprites

#14220 Ports TG's Limbgrower refactor, design expansion, and TGUI update. With added Yog feature
  code/datums/components/crafting/recipes.dm
  code/game/machinery/limbgrower.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_drink.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/research/designs/limbgrower_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/research/techweb/layout.dm
  code/modules/surgery/organs/tails.dm
  tgui/packages/tgui/interfaces/Limbgrower.js
Labels: Feature, Tweak, tgui, Javascript

#14283 fixes plating turfs in gax chapel/library
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Map Change, Fix

#14291 Elites now drop their special loot on kill + nerf to herald cloak
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
Labels: Tweak

#14258 Ports TG's eye contact: social anxiety harder, get caught staring at your obsession target, and new quirk Shifty Eyes
  code/__DEFINES/components.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits.dm
  code/datums/brain_damage/creepy_trauma.dm
  code/datums/traits/negative.dm
  code/datums/traits/neutral.dm
  code/game/atoms.dm
  code/modules/client/client_defines.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
Labels: Feature

#14279 janiborg can now become janicart
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Tweak

#14230 Monster hunters are no longer a guaranteed spawn on all bloodsucker rounds what
  code/modules/events/monsterhunter.dm
Labels: i ded, Awaiting - Action - HD

#14281 removes monster hunter event from dynamic
  code/modules/events/monsterhunter.dm
Labels: Tweak

#14241 [s] fixes beanbag slug duplication
  code/modules/vending/wardrobes.dm
Labels: Tweak

#14293 Alert & delay when swarmer dismantling ore silo
  code/modules/mining/machine_silo.dm
  code/modules/swarmers/swarmer.dm
Labels: Tweak

#14295 removes immortality talisman from tendril loot for something else
  code/modules/mining/lavaland/necropolis_chests.dm
  icons/obj/lavaland/artefacts.dmi
  yogstation/code/modules/mob/living/simple_animal/hostile/mining_mobs/marrow_weaver.dm
Labels: Feature, Revert / Deletion, Sprites, Awaiting - Action - HD, Awaiting - Action - Balance Review

#14300 Adds Clownshot
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature

#14302 mice changes + carrying animals (+monkeys)
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/traits.dm
  code/controllers/subsystem/minor_mapping.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_egg.dm
  code/modules/mob/living/carbon/monkey/combat.dm
  code/modules/mob/living/carbon/monkey/life.dm
  code/modules/mob/living/inhand_holder.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_shell.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/cheese.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/friendly/drone/interaction.dm
  code/modules/mob/living/simple_animal/friendly/fox.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/friendly/pet.dm
  code/modules/mob/living/simple_animal/friendly/possum.dm
  code/modules/mob/living/simple_animal/friendly/sloth.dm
  code/modules/mob/living/simple_animal/friendly/snake.dm
  code/modules/mob/living/simple_animal/friendly/turtle.dm
  icons/mob/animal.dmi
  icons/mob/head.dmi
  icons/mob/monkey_held.dmi
  icons/mob/mouse_held.dmi
  icons/mob/neck.dmi
  icons/mob/pets_held.dmi
  icons/mob/pets_held_lh.dmi
  icons/mob/pets_held_rh.dmi
  yogstation/code/modules/mob/living/simple_animal/friendly/eggdog.dm
  yogstation/code/modules/mob/living/simple_animal/friendly/moonrat.dm
Labels: Feature, Tweak, Map Change, Fix, Sprites

#14303 fixes gaxstation ai whale from not spawning
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Fix

#14307 Harmbatoning assistants adds 1 credit to the security budget, harmbatoning clowns adds 5
  code/game/objects/items/stunbaton.dm
Labels: Feature

#14308 fixes ai core icon thingy
  code/modules/mob/living/silicon/ai/decentralized/ai_data_core.dm
  icons/obj/machines/ai_core.dmi
Labels: Sprites

#14310 Capitalizes "Syndicate" in skillcape descriptions
  code/modules/clothing/neck/skillcapes/skillcapes.dm
Labels: Tweak

#14314 I love horrors I love horrors I love horrors
  code/modules/antagonists/horror/horror.dm
  code/modules/antagonists/horror/horror_abilities_and_upgrades.dm
Labels: Tweak

#14317 quarters the abductor baton's sleep because it was 2 fucking minutes
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
Labels: Tweak

#14324 Fixes being able to make eye contact with traitorous cigarette butts
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
Labels: Fix

#14319 Fixes Syndicate Lava Base
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  code/game/area/areas/ruins/lavaland.dm
Labels: Feature, Tweak, Map Change, Fix, Revert / Deletion

#14309 Migrates Signal Technician Experience to Network Admin
  code/modules/jobs/job_exp.dm
Labels: Feature

#14315 Fixes missing halo sprite
  icons/mob/head.dmi
Labels: Fix, Sprites

#14275 Adds The Holy Flame, for it is prayer day.
  code/game/objects/items/storage/book.dm
  code/modules/jobs/job_types/chaplain.dm
  icons/obj/storage.dmi
Labels: Feature, Sprites

#14210 Ports Motorized Wheelchairs
  code/datums/components/crafting/recipes.dm
  code/modules/vehicles/motorized_wheelchair.dm
  code/modules/vehicles/wheelchair.dm
  yogstation.dme
Labels: DME Edit, Feature, Stale

#14304 Disables plague rat, because plague rat bad
  code/controllers/subsystem/minor_mapping.dm
Labels: Revert / Deletion, i ded, Awaiting - Action - Balance Review

#14334 Disabling Demons of Sin until someone tells me why a mid round should be able to influence an entire gamemode
  code/modules/events/sinfuldemon.dm
Labels: Revert / Deletion

#14044 Reduce vent lag
  code/game/objects/effects/effect_system/effects_foam.dm
  code/modules/events/vent_clog.dm
Labels: Feature, Tweak, Fix, Revert / Deletion, Stale

#14312 Ports TG's uplink implant traitor preference. For the low price of 4TC, spawn with your uplink in your guts.
  code/__DEFINES/antagonists.dm
  code/_globalvars/lists/flavor_misc.dm
  code/datums/components/uplink.dm
  code/datums/mind.dm
  code/game/objects/items/implants/implantuplink.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature

#14327 Fixes limbgrower synthetic limbs having corrupted text
  code/game/machinery/limbgrower.dm
Labels: Fix

#14321 fixes baton throw not doing anything
  code/game/objects/items/stunbaton.dm
Labels: Fix

#14346 Lizards can no longer lick their eyes when they have a mouth restraint
  code/modules/mob/living/carbon/human/emote.dm
Labels: Tweak

#14338 mob holding tweak
  code/modules/mob/living/carbon/monkey/combat.dm
  code/modules/mob/living/carbon/monkey/life.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/inhand_holder.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/cheese.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/friendly/penguin.dm
Labels: Tweak, Fix

#14354 Fixes boxstation psychiatrist shutters for real
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Fix

#13622 Adds fishing for real this time
  code/game/turfs/simulated/water.dm
  icons/mob/inhands/equipment/fishing_lefthand.dmi
  sound/effects/water_emerge.ogg
  yogstation.dme
  yogstation/code/datums/components/fishable.dm
  yogstation/code/datums/components/fishingbonus.dm
  yogstation/code/game/objects/items/fishing/bait.dm
  yogstation/code/game/objects/items/fishing/fish.dm
  yogstation/code/game/objects/items/fishing/rods.dm
  yogstation/code/modules/clothing/fishing.dm
  yogstation/code/modules/mob/living/carbon/carbon_defines.dm
  yogstation/code/modules/vending/fishing.dm
  yogstation/icons/mob/feet.dmi
  yogstation/icons/mob/hands.dmi
  yogstation/icons/mob/head.dmi
  yogstation/icons/mob/suit.dmi
  yogstation/icons/obj/clothing/gloves.dmi
  yogstation/icons/obj/clothing/hats.dmi
  yogstation/icons/obj/clothing/shoes.dmi
  yogstation/icons/obj/clothing/suits.dmi
  yogstation/icons/obj/fishing/fishing.dmi
  yogstation/icons/obj/vending.dmi
Labels: DME Edit, Feature, Sound, Sprites

#14173 Mining Rework 1.5 - Okay now lets blow things up!
  _maps/RandomRuins/LavaRuins/lavaland_surface_worldanvil.dmm
  _maps/RandomRuins/LavaRuins/miningbase.dmm
  _maps/map_files/mining/Lavaland.dmm
  code/datums/ruins/lavaland.dm
  code/modules/mining/equipment/mining_charges.dm
  code/modules/mining/equipment/upgrades.dm
  code/modules/mining/lavaland/world_anvil.dm
  code/modules/mining/machine_vending.dm
  code/modules/mining/ores_coins.dm
  code/modules/projectiles/ammunition/energy/plasma.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/special/plasma.dm
  code/modules/research/designs/mining_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/research/techweb/layout.dm
  icons/obj/grenade.dmi
  icons/obj/guns/energy.dmi
  icons/obj/mining.dmi
  yogstation.dme
Labels: DME Edit, Feature, Tweak, Map Change, Sprites, Awaiting - Action - Balance Review

#14228 Adds nitrous oxide decomposition
  code/__DEFINES/reactions.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Feature

#14254 autorifles can be dual wielded again
  code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Tweak, Awaiting - Action - Balance Review

#14269 New Bubblegum loot: Rabid Cuffs
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  icons/mob/actions/actions_items.dmi
  icons/mob/hands.dmi
  icons/obj/clothing/gloves.dmi
Labels: Feature, Sprites, Awaiting - Action - Balance Review

#14289 New wiznerd spell - pacifism touch
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/spells/spell_types/godhand.dm
  code/modules/spells/spell_types/touch_attacks.dm
Labels: Feature, Awaiting - Action - Balance Review

#14192 Syringe guns now embed syringes
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/ammunition/special/syringe.dm
  code/modules/projectiles/projectile/bullets/dart_syringe.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Tweak, TESTMERGED, Awaiting - Action - Balance Review

#14318 Ports TG's Ethereal scream sounds
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  sound/voice/ethereal/ethereal_scream_1.ogg
  sound/voice/ethereal/ethereal_scream_2.ogg
  sound/voice/ethereal/ethereal_scream_3.ogg
Labels: Feature, Sound

#14325 Security is no longer granted 1000 credits a minute if the self destruct nuke core hasn't been stolen
  code/modules/goals/department_goals/security.dm
Labels: Revert / Deletion, Missing/Inadequate Rationale

#14326 Cargo no longer gets 5000 credits every 5 minutes if they have 50 of every ore
  code/modules/goals/department_goals/cargo.dm
Labels: Revert / Deletion, Missing/Inadequate Rationale

#14329 Fixes vend machines ignoring ignores_capitalism flag, so centcom dudes can use them
  tgui/packages/tgui/interfaces/Vending.js
Labels: Fix, tgui, Javascript

#14336 Stout beer & cocktails
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/vending/boozeomat.dm
  icons/obj/drinks.dmi
Labels: Feature, Tweak, Fix, Revert / Deletion, Sprites

#14339 fixes jamie indirectly breaking AIs being able to turn on their own APC
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/ai/login.dm
  code/modules/tgui/states.dm
Labels: Fix

#14328 Ethereals get a deathgasp noise
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  yogstation/sound/voice/ethereal/deathsound.ogg
Labels: Feature, Sound

#14330 New Syndicate Item - Mining Charge Hacker - Accidentally blow up your steal objective!
  code/modules/mining/equipment/mining_charges.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature

#14355 french silk pie slice has an icon now
  code/modules/food_and_drinks/food/snacks_pie.dm
Labels: Fix

#14361 maybe fixes AI ram reduction when you have free ram
  code/modules/mob/living/silicon/ai/decentralized/decentralized_os.dm
Labels: Feature, Tweak, Fix, Revert / Deletion

#14365 Gives miners a GPS on shift start.
  code/game/objects/items/storage/boxes.dm
Labels: Feature

#14367 Sleepy pens now can't be used in combat
  code/modules/paperwork/pen.dm
Labels: Feature

#14369 Makes shadowling void jaunt fail when on fire
  yogstation/code/modules/antagonists/shadowling/shadowling_abilities.dm
Labels: Tweak

#14371 de nettle nerf
  code/modules/hydroponics/grown/nettle.dm
Labels: Awaiting - Action - Balance Review

#14374 Makes AI dashboard UI be per-client so I can click funny buttons without stuff happening
  tgui/packages/tgui/interfaces/AiDashboard.js
Labels: tgui, Javascript

#14363 When chaplain cryos, if there are no other chaplains the religion set is nulled, new chaplain can then set a new religion
  code/game/machinery/cryopod.dm
Labels: Feature

#14364 Mentors will now be told if an MHelp is from admins
  yogstation/code/modules/admin/verbs/adminhelp.dm
  yogstation/code/modules/mentor/mentorhelp.dm
Labels: Feature

#14375 fixes a mood runtime
  code/datums/components/mood.dm
Labels: Fix

#14376 You can now save paintings by hitting the curator art console with them.
  code/modules/modular_computers/computers/machinery/console_presets.dm
  code/modules/modular_computers/file_system/programs/portrait_printer.dm
Labels: Feature, Bounty

#14358 Resprites security belts, adds HoS belt, and misc belt tweaks
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/storage/belt.dm
  code/modules/antagonists/abductor/equipment/abduction_outfits.dm
  code/modules/jobs/job_types/head_of_security.dm
  icons/mob/belt.dmi
  icons/obj/abductor.dmi
  icons/obj/clothing/belt_overlays.dmi
  icons/obj/clothing/belts.dmi
Labels: Feature, Tweak, Sprites

#14378 Adds beanbag chairs
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/beds_chairs/chair.dm
  icons/mob/inhands/misc/chairs_lefthand.dmi
  icons/mob/inhands/misc/chairs_righthand.dmi
  icons/obj/chairs.dmi
Labels: Feature, Sprites

#14379 Fixes not being able to set depressurization target on airlock controllers
  code/game/machinery/airlock_cycle_control.dm
Labels: Fix

#14380 More safe cooldown overlays and makes it so being forced out of shadowling void jaunt starts the cooldown properly
  code/modules/spells/spell.dm
  yogstation/code/modules/antagonists/shadowling/shadowling_abilities.dm
Labels: Fix

#14382 Mining base GPS signal addition and locker removal
  _maps/RandomRuins/LavaRuins/miningbase.dmm
Labels: Feature, Map Change, Revert / Deletion

#14384 Adds cameras to GaxStation xenobiology pens and adds a pai to gax RD room
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Feature, Map Change, Fix

#14391 fixes embeds not being harvestable from limbs via sharp objects
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Fix

#14385 Steals a bunch of tile and tile trims from tg
  code/game/objects/effects/decals/turfdecal/tilecoloring.dm
  icons/turf/decals.dmi
Labels: Feature, Sprites

#14404 Fix 5x4_oldcryoroom ruin frames not being machine frames
  _maps/RandomRuins/StationRuins/maint/5x4/5x4_oldcryoroom.dmm
Labels: Map Change, Fix

#14413 Adds support for map spawned holochips
  code/game/objects/items/credit_holochip.dm
Labels: Feature

#14414 Allows mappers to spawn tilted vending machines
  code/modules/vending/_vending.dm
Labels: Feature

#14400 Removes Jive Accent
  strings/accents/accent_jive.json
  strings/accents/accents.json
Labels: Revert / Deletion

#14322 Stun batons cannot be turned on for 8 Seconds after being dropped
  code/__DEFINES/components.dm
  code/game/objects/items/stunbaton.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Feature

#14388 Infiltrator win conditions are more strict
  yogstation/code/game/gamemodes/infiltration/infiltration.dm
  yogstation/code/modules/antagonists/infiltrator/team.dm
Labels: Tweak

#14389 some wheelchair changes
  code/modules/vehicles/motorized_wheelchair.dm
  code/modules/vehicles/wheelchair.dm
  icons/obj/vehicles.dmi
Labels: Feature, Tweak, Fix, Sprites

#14392 Donor Item: Skrem7 - Rainbow Flower
  code/modules/clothing/head/misc_special.dm
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
  yogstation/code/modules/donor/unique_donator_items.dm
Labels: Feature, Sprites

#14393 cursed stomach moves from bubblegum loot to gluttony ruin loot
  _maps/RandomRuins/LavaRuins/lavaland_surface_gluttony.dmm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
Labels: Map Change, Revert / Deletion, Awaiting - Action - Balance Review

#14399 Revert some very strange undocumented balance changes introduced in #14358
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/head_of_security.dm
Labels: Feature, Tweak, Revert / Deletion

#14390 Ports "Revives "Adds sound effects to surgeries"" and others
  code/datums/wounds/bones.dm
  code/datums/wounds/burns.dm
  code/datums/wounds/pierce.dm
  code/datums/wounds/slash.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/stacks/medical.dm
  code/modules/surgery/advanced/brainwashing.dm
  code/modules/surgery/advanced/lobotomy.dm
  code/modules/surgery/advanced/pacification.dm
  code/modules/surgery/advanced/revival.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/burn_dressing.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/coronary_bypass.dm
  code/modules/surgery/healing.dm
  code/modules/surgery/helpers.dm
  code/modules/surgery/implant_removal.dm
  code/modules/surgery/lobectomy.dm
  code/modules/surgery/mechanic_steps.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/surgery_step.dm
  sound/items/tape_flip.ogg
  sound/items/taperecorder_close.ogg
  sound/surgery/cautery1.ogg
  sound/surgery/cautery2.ogg
  sound/surgery/hemostat1.ogg
  sound/surgery/organ1.ogg
  sound/surgery/organ2.ogg
  sound/surgery/retractor1.ogg
  sound/surgery/retractor2.ogg
  sound/surgery/saw.ogg
  sound/surgery/scalpel1.ogg
  sound/surgery/scalpel2.ogg
Labels: Tweak, Sound, Fix

#14408 Vomit crawling can't crawl between z levels anymore
  yogstation/code/datums/components/crawl.dm
Labels: Fix

#14409 Fixes spraycans and crayons at 1 charge being infinite use for tags that require more than 1 charge
  code/game/objects/items/crayons.dm
Labels: Fix

#14394 Removes Scrying Orb
  code/modules/antagonists/wizard/equipment/spellbook.dm
Labels: Revert / Deletion

#14401 Gives shuttle arena a mood bonus
  code/modules/admin/fun_balloon.dm
Labels: Tweak, Admin

#14435 does sa thing that makes probably the miner gpses spawn with numbersand not spawn on lavaland corpses
  code/modules/jobs/job_types/shaft_miner.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
Labels: Tweak, Fix

#14406 Adds a new 3x3 vendor-accident themed maint ruin & patches station.dm missing spaces
  _maps/RandomRuins/StationRuins/maint/3x3/3x3_vendoraccident.dmm
  yogstation/code/datums/ruins/station.dm
Labels: Feature, Map Change

#14445 fixes the window in metastation courtroom to be a proper spawner
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Fix

#14439 Adds root beer to the game (I FUCKING LOVE MUG!!!!!!!!)
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/vending/cola.dm
  icons/obj/drinks.dmi
Labels: Feature, Sprites

#14430 Fixes wigs
  icons/obj/clothing/hats.dmi
Labels: Fix, Sprites

#14426 Stops Admins Lagging the Game
  yogstation/code/modules/admin/sql_message_system.dm
Labels: Revert / Deletion

#14438 Buffs rubber shot
  code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: Tweak

#14423 Ports "Give mood buff for defibbing someone"
  code/datums/mood_events/generic_positive_events.dm
  code/game/objects/items/defib.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Feature

#14478 fixes vanishing act and some bloodsucker stuff
  code/modules/antagonists/bloodsuckers/bloodsucker_daylight.dm
  code/modules/antagonists/bloodsuckers/bloodsucker_integration.dm
  code/modules/antagonists/bloodsuckers/bloodsucker_mobs.dm
  code/modules/antagonists/bloodsuckers/bloodsuckers.dm
  code/modules/antagonists/bloodsuckers/powers/gohome.dm
  code/modules/antagonists/bloodsuckers/powers/targeted/brawn.dm
  code/modules/antagonists/bloodsuckers/structures/bloodsucker_life.dm
Labels: Fix

#14482 Updates tech web layout for AI techs
  code/modules/research/techweb/layout.dm
Labels: Feature

#14483 AI gets 1 more research point per CPU
  code/__DEFINES/ai.dm
Labels: Tweak

#14288 Bluespace Locker Nerf Proposal [2 of 2]
  code/game/objects/structures/crates_lockers/closets/bluespace_locker.dm
  yogstation/code/controllers/subsystem/bluespace_locker.dm
Labels: Tweak, i ded, Awaiting - Action - Maintainer

#14348 Ports TG's stomach pumping surgery. A way to remove the 400u misc narcotics from someone who's dead
  code/game/turfs/turf.dm
  code/modules/antagonists/changeling/powers/panacea.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/surgery/stomachpump.dm
  code/modules/surgery/surgery_step.dm
  yogstation.dme
Labels: DME Edit, Feature, Tweak

#14405 Basalt Katana fauna damage buff and new mechanic: A Dodge roll
  code/__DEFINES/{yogs_defines}/status_effects.dm
  code/game/objects/items/weaponry.dm
  icons/mob/screen_alert.dmi
  yogstation.dme
  yogstation/code/datums/status_effects/buffs.dm
  yogstation/sound/items/dodgeroll.ogg
Labels: DME Edit, Feature, Tweak, Sound, Sprites, Awaiting - Action - Balance Review

#14455 makes some of the recent megafauna drops less shit
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/spells/spell_types/conjure.dm
  code/modules/spells/spell_types/godhand.dm
Labels: Feature, Tweak, Awaiting - Action - Balance Review

#14417 Fixes pacifism touch cooldown
  code/modules/spells/spell_types/touch_attacks.dm
Labels: Fix

#14461 you can now shoot over people who are near you if they are resting
  code/modules/projectiles/projectile.dm
Labels: Tweak

#14465 Adds New 10x10 Maintenance Fishing Ruin
  _maps/RandomRuins/StationRuins/maint/10x10/10x10_fishinghole.dmm
  yogstation/code/datums/ruins/station.dm
Labels: Feature, Tweak, Map Change

#14412 Fixes Gangrel Transform
  code/modules/antagonists/bloodsuckers/powers/gangrel.dm
Labels: Fix

#14431 Slight arrow tweaks
  code/modules/projectiles/projectile/reusable/arrow.dm
Labels: Tweak

#14433 Secbelt + shotgun shell boxes rework, shoulder holster and bandolier buff
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/head_of_security.dm
Labels: Tweak

#14442 Adds stored research and makes toxins bombs apply it instead of directly producing points
  code/controllers/subsystem/research.dm
  code/game/machinery/doppler_array.dm
  code/modules/research/techweb/_techweb.dm
Labels: Tweak, Awaiting - Action - HD

#14448 Makes fishing loot make sense + fishing icon fix + collapsible rod
  icons/mob/inhands/equipment/fishing_lefthand.dmi
  yogstation/code/datums/components/fishable.dm
  yogstation/code/game/objects/items/fishing/fish.dm
  yogstation/code/game/objects/items/fishing/rods.dm
  yogstation/code/modules/clothing/fishing.dm
  yogstation/icons/mob/inhands/equipment/fishing_lefthand.dmi
  yogstation/icons/mob/inhands/equipment/fishing_righthand.dmi
  yogstation/icons/obj/fishing/fishing.dmi
Labels: Feature, Tweak, Fix, Sprites

#14440 WT Tweak/Buff
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/projectile/bullets/smg.dm
  code/modules/research/designs/weapon_designs.dm
Labels: Tweak

#14459 [BOUNTY] [ADMIN] admin v admin tickets
  code/modules/admin/verbs/adminpm.dm
Labels: Admin

#14462 Preternis.... buff?? Preternis eyes no longer delete themselves in non-Preternis and instead take damage (lose power) and recharge (heal) in Preternis
  _maps/RandomRuins/StationRuins/maint/3x5/3x5_dissection.dmm
  code/modules/antagonists/changeling/powers/augmented_eyesight.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/organs.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Tweak, Map Change

#14425 Ports "Podpeople inherit their blood chemical from the most abundant chemical trait in their seeds"
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
Labels: Feature

#14458 Moving while doing a surgery hurts the patient
  code/modules/surgery/surgery_step.dm
Labels: Tweak

#14472 remove one space that might be the reason why polys can't be CE
  config/game_options.txt
Labels: Config, Fix, Revert / Deletion

#14479 Ports holosigns from bay
  _maps/map_files/YogStation/YogStation.dmm
  code/game/machinery/buttons.dm
  code/game/machinery/holosign.dm
  code/modules/assembly/doorcontrol.dm
  icons/obj/holosign.dmi
  yogstation.dme
Labels: DME Edit, Feature, Map Change, Sprites

#14480 frenzy now provides reduced damage slowdown since it also provides a constant source of damage
  code/modules/antagonists/bloodsuckers/bloodsucker_frenzy.dm
Labels: Tweak

#14504 Makes the AI data cores ignore grid failure events
  code/modules/mob/living/silicon/ai/decentralized/ai_data_core.dm
Labels: Tweak

#14488 Adds new Chemical Analyzer implant (Science Goggle implant)
  code/__DEFINES/traits.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/organs/augments_eyes.dm
Labels: Feature, Tweak

#14515 Kilo roboticists get anesthesia
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Tweak, Map Change

#14522 Fixes improper secbelt/bandolier item storage
  code/game/objects/items/storage/belt.dm
Labels: Fix

#14473 nerf DU slugs, but make them cheaper
  code/datums/components/crafting/weapons.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: Tweak

#14475 buffs the bulldog shotgun because it kind of stinks
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/boxes_magazines/external/shotgun.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: Feature

#14484 makes space bats holdable
  code/modules/mob/living/simple_animal/hostile/retaliate/bat.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/retaliate.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/spaceman.dm
  icons/mob/animal.dmi
  icons/mob/pets_held_lh.dmi
  icons/mob/pets_held_rh.dmi
Labels: Feature, Fix, Sprites

#14495 Chemical Dispensers now have a reason to upgrade manipulators
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Tweak, Awaiting - Action - Balance Review

#14497 Adds Brain Damage Quirk
  code/datums/traits/negative.dm
Labels: Feature

#14501 After the blob wins, it gets MANY HP
  code/modules/antagonists/blob/overmind.dm
Labels: Tweak

#14505 Adds FTL Theme to Lobby Music
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature

#14507 Fixes a few bugs
  code/game/machinery/cryopod.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/mob/mob_helpers.dm
  code/modules/reagents/reagent_containers/syringes.dm
  yogstation/code/modules/jobs/job_types/brig_physician.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
  yogstation/code/modules/jobs/job_types/network_admin.dm
Labels: Fix

#14510 Organ harvester can now be rotated
  code/game/machinery/harvester.dm
  icons/obj/machines/harvester.dmi
Labels: Fix, Sprites

#14513 extinguishers deal 33% less damage to blazing oil blob strain
  code/modules/antagonists/blob/blobstrains/blazing_oil.dm
Labels: Tweak

#14517 sabo borgs have emags now what
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Feature

#14506 Adds FTL Advanced Edition Soundtrack: Lanius (Battle) (ABANDONED SECTOR)
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature

#14519 Lizards are now cannonically 8 feet tall
  code/modules/holodeck/items.dm
Labels: Tweak

#14494 you can no longer absolutely destroy inhand monkeys ( :( )
  code/modules/mob/living/inhand_holder.dm
Labels: Fix

#14521 Saboteur/Medical Syndicate Borg Tweaks
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Tweak

#14532 capitialism is no longer 1min+ long
  code/modules/religion/religion_sects.dm
  sound/misc/capitialism-short.ogg
Labels: Tweak, Sound

#14557 adds grounding rods to delta
  _maps/map_files/YogsDelta/YogsDelta.dmm
Labels: Map Change, Fix, Awaiting - Merge

#14575 fixes bloody knuckles not splashing when used by undead races and also marking the user with one of the abilities
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Fix

#14567 Fixes box engineering wires and signage and light
  _maps/map_files/YogStation/YogStation.dmm
Labels: Tweak, Map Change, Fix

#14597 [Fix] You can now actually print plates from service lathe and the RSF
  code/game/objects/items/RSF.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Tweak, Fix

#14596 [ADMIN] fixes new ticket being created every time admin pm
  code/modules/admin/verbs/adminpm.dm
Labels: Admin

#14538 SHARPENS YE PIRATE BLADE
  code/game/objects/items/melee/misc.dm
Labels: Tweak

#14527 [ADMIN] Adds ability to set beer nuke with a button
  code/__DEFINES/admin.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/pray.dm
Labels: Feature, Admin

#14437 Disabling Regal Rat till its fixed
  code/controllers/subsystem/minor_mapping.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/regalrat.dm
Labels: Fix

#14446 Nukies Minigun is now more... Minigun-like
  code/modules/projectiles/guns/ballistic/minigun.dm
Labels: Feature

#14468 Adds winter coats for department heads
  code/game/objects/items/storage/backpack.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Feature, Sprites

#14492 Ports "bigger mobs have some special health bars" from TG
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/goliath_broodmother.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/legionnaire.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/pandora.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/mob/living/simple_animal/hostile/tree.dm
  code/modules/mob/living/simple_animal/hostile/wumborian_fugu.dm
  icons/mob/screen_gen.dmi
Labels: Sprites

#14499 Ports "Blobbernaut HUD improvements"
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/blobbernauthud.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/antagonists/blob/blob_mobs.dm
  code/modules/antagonists/blob/overmind.dm
Labels: Tweak

#14500 Ports "Swarmer HUD improvements"
  code/_onclick/hud/swarmer.dm
  code/modules/swarmers/swarmer.dm
Labels: Tweak

#14526 should stop resonator blasts from stacking during replication
  code/modules/mining/equipment/resonator.dm
Labels: Fix

#14539 Sec Webbing cheaper
  code/game/objects/items/storage/belt.dm
Labels: Tweak
