Repository yogstation13/Yogstation, pull requests merged in 2022-12, with the labels that each got.

#16825 reinforces space listening post
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
Labels: Tweak, Map Change

#16778 fixes a mistaken stalwart switch case
  code/modules/mob/living/simple_animal/hostile/megafauna/stalwart.dm
Labels: Fix, Awaiting - Merge

#16524 Reworks Mech pilot suits to instead be a component
  code/datums/components/mech_pilot.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/weapons/melee_weapons.dm
  code/game/mecha/mecha.dm
  code/modules/clothing/under/miscellaneous.dm
  yogstation.dme
Labels: Tweak

#16580 IPC cooling/heating rework
  code/__DEFINES/inventory.dm
  code/datums/outfit.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/tanks/tank_types.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/clothing/suits/_suits.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/chaplainsuits.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/utility.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/organs/augments_chest.dm
  code/modules/surgery/organs/lungs.dm
  icons/mob/inhands/equipment/tanks_lefthand.dmi
  icons/mob/inhands/equipment/tanks_righthand.dmi
  yogstation/code/modules/clothing/suits/armor.dm
  yogstation/code/modules/clothing/suits/miscellaneous.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
  yogstation/icons/obj/tank.dmi
Labels: Feature, Tweak, DO NOT MERGE, Sprites

#16619 Gluttony Demon of Sin can now eat endlessly and faster
  code/__DEFINES/traits.dm
  code/modules/antagonists/demon/demons.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/ruins/objects_and_mobs/sin_ruins.dm
Labels: Feature

#16657 Makes the preternis teslium interaction possibly worth using
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Tweak

#16716 darklord kit band aid #2
  code/game/objects/items/granters.dm
  code/game/objects/items/storage/uplink_kits.dm
Labels: Tweak

#16717 stechkins your .357 (the ammo is cheaper)
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#16722 makes .38 a fully lethal round as it should be
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
Labels: Tweak

#16726 adds tactical fingerless gloves to uplink
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature, Tweak

#16727 Cargo gets 150 credits when someone opens their mail
  code/game/objects/items/mail.dm
Labels: Tweak

#16728 kills the screwed bundle
  code/game/objects/items/storage/uplink_kits.dm
Labels: Revert / Deletion

#16731 Marker beacons are dimmer
  code/modules/mining/equipment/marker_beacons.dm
Labels: Tweak

#16732 Light prisms are dimmer
  code/modules/research/xenobiology/crossbreeding/_clothing.dm
Labels: Tweak

#16743 Ethereal is brighter
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Tweak

#16746 Admin RCD is ranged
  code/game/objects/items/RCD.dm
Labels: Tweak

#16748 Updates the mining medic locker
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
Labels: Feature, Tweak, Revert / Deletion

#16749 You can now build portable pump just like canister
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Tweak

#16756 Removes Disintegrate from the wizard Spellbook.
  code/modules/antagonists/wizard/equipment/spellbook.dm
Labels: Revert / Deletion

#16767 Adds two lobby songs from the Loop Hero OST
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature

#16768 fixes yogstation github guidelines outlined in contributing.md
  .github/CONTRIBUTING.md
  README.md
Labels: Github

#16780 nerf rad goat
  yogstation/code/modules/mob/living/simple_animal/friendly/goats.dm
Labels: Tweak

#16781 Emagged peaceborg hug follows insulation
  code/game/objects/items/robot/robot_items.dm
Labels: Tweak

#16785 Traitors now have a chance to gain an objective that betrays hijackers (if there is a hijacker).
  code/modules/antagonists/traitor/datum_traitor.dm
  yogstation/code/game/gamemodes/game_mode.dm
  yogstation/code/game/gamemodes/objective.dm
Labels: Feature, Tweak

#16786 removes the sleepers and medkits from reebe because new players get confused
  _maps/map_files/generic/City_of_Cogs.dmm
  code/game/gamemodes/clock_cult/clock_cult.dm
Labels: Feature, Map Change, Revert / Deletion

#16794 Removes the head blacklist from vampire revive since it breaks reviving, and moves the revive to below the limb reattachment
  yogstation/code/game/gamemodes/vampire/vampire_powers.dm
Labels: Tweak, Fix

#16795 Replaces adamantine armor with a weaker form of armor polish
  code/game/objects/items/armor_polish.dm
  code/modules/research/xenobiology/crossbreeding/chilling.dm
Labels: Feature, Tweak, Revert / Deletion

#16801 Nerfs stabilized bluespace extract
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
Labels: Tweak

#16804 Chilled Bluespace extract link cap
  code/modules/research/xenobiology/crossbreeding/chilling.dm
Labels: Tweak

#16806 Adamantine shield now actually slows you
  code/modules/research/xenobiology/crossbreeding/_weapons.dm
Labels: Tweak

#16807 light pink regenerative extract is no longer full heal
  code/modules/research/xenobiology/crossbreeding/regenerative.dm
Labels: Tweak

#16810 speed potion now speeds up simplemobs rather than items
  code/modules/research/xenobiology/xenobiology.dm
Labels: Tweak

#16811 Plasma fixation heals less
  code/datums/diseases/advance/symptoms/heal.dm
Labels: Tweak

#16812 Nocturnal Regen heals less
  code/datums/diseases/advance/symptoms/heal.dm
Labels: Tweak

#16814 Regen Coma heals for more and triggers closer to death
  code/datums/diseases/advance/symptoms/heal.dm
Labels: Tweak

#16815 Removes Premalignant tumors
  code/datums/diseases/advance/symptoms/tumors.dm
  code/modules/surgery/organs/tumors.dm
Labels: Revert / Deletion

#16816 General Gax Departmental + Maintenance Improvements
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Map Change

#16818 Makes fake death a bit less obviously fake
  code/datums/diseases/advance/symptoms/heal.dm
  code/game/data_huds.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/research/nanites/nanite_programs/suppression.dm
Labels: Tweak, Fix

#16822 Preternis icon, colour, and tweaks
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/suits/reactive_armour.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/simple_animal/guardian/types/fire.dm
  code/modules/pool/components/swimming.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  icons/mob/human_parts_greyscale.dmi
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Feature, Tweak, Sprites, Admin

#16826 Majestic Manatee donor item changes & dog tag addition
  code/modules/clothing/under/accessories.dm
  icons/mob/clothing/accessories.dmi
  icons/obj/clothing/accessories.dmi
  yogstation/code/modules/clothing/donator.dm
  yogstation/code/modules/donor/unique_donator_items.dm
Labels: Feature, Sprites

#16827 Fixes Mining Point Duplication bug, issue #16617
  code/modules/shuttle/supply.dm
Labels: Fix

#16829 adds playtime requirements to a security role that doesn't have any because hisa was malding
  yogstation/code/modules/jobs/job_types/brig_physician.dm
Labels: Tweak

#16831 Fixes mech bump smash using sword attack
  code/game/atoms.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_defense.dm
  code/game/objects/effects/effects.dm
  code/game/objects/items.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/wall/misc_walls.dm
  code/game/turfs/simulated/walls.dm
  code/modules/antagonists/clockcult/clock_structure.dm
  code/modules/antagonists/cult/cult_structures.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/mecha_pilot.dm
Labels: Fix

#16820 No more round removing preternis or ipc by giving them regen coma
  code/datums/diseases/advance/symptoms/heal.dm
Labels: Tweak

#16783 Add at least a hundred carps to the white whale holy grail syndikit
  _maps/shuttles/whiteship_2.dmm
  code/game/objects/items/pneumaticCannon.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/items/twohanded.dm
Labels: Feature, Tweak, Map Change, Fix

#16834 Clockwork tiles no longer space the station
  code/game/turfs/simulated/floor/misc_floor.dm
Labels: Tweak

#16838 fixes some Asteroidstation Engineering stuff i messed up
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Map Change

#16839 Space Bar cleanbot can now be operated by the space bartender
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
Labels: Fix

#16845 Shadowling veil nullifies glowy for 5 seconds
  code/datums/mutations/body.dm
  yogstation/code/modules/antagonists/shadowling/shadowling_abilities.dm
Labels: Tweak

#16847 Adds bikehorn "suppressor"
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  icons/obj/guns/projectile.dmi
Labels: Feature, Sprites

#16848 Change to how adjust_fire_stacks works
  code/modules/mob/living/living.dm
Labels: Tweak

#16851 Fix surgery computer and nanites hub not recognizing ruin tech
  code/__DEFINES/research.dm
  code/controllers/subsystem/research.dm
  code/datums/components/nanites.dm
  code/game/machinery/computer/Operating.dm
  code/modules/research/nanites/nanite_program_hub.dm
Labels: Fix

#16853 job gpses start with name instead of GPS0
  code/modules/jobs/job_types/shaft_miner.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
  yogstation/code/modules/jobs/job_types/paramedic.dm
Labels: Tweak

#16854 buff the new stabilized red ever so slightly
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
Labels: Tweak

#16855 Adds a trait that makes you more likely to get shitty items in the mail
  code/__DEFINES/traits.dm
  code/datums/traits/negative.dm
  code/game/objects/items/mail.dm
Labels: Feature

#16860 actually makes paystands good (adds RP content)
  code/modules/economy/pay_stand.dm
Labels: Feature, Revert / Deletion

#16861 should fix bloodsuckers not dying when they exit a dead transformation (from dying)
  code/modules/antagonists/bloodsuckers/bloodsucker_mobs.dm
Labels: Fix

#16868 Fix crafting recipe duplication of equipment and clothing tab
  code/datums/components/crafting/makeshift.dm
  yogstation/code/modules/crafting/recipes.dm
Labels: Fix

#16869 fix clown ops and clown job not getting dark honker
  code/modules/uplink/uplink_items.dm
Labels: Fix

#16875 black powder explosions are instant, securing a chemical grenade takes 3 seconds.
  code/game/objects/items/grenades/chem_grenade.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Tweak

#16878 Makes the IPC martial art more accessible
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Tweak

#16879 Adds infrared sights attachment
  code/__DEFINES/traits.dm
  code/datums/action.dm
  code/modules/client/client_colour.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/status_procs.dm
  code/modules/projectiles/attachments/_attachment.dm
  code/modules/projectiles/attachments/laser_sight.dm
  code/modules/projectiles/attachments/scopes.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/mob/simple_human.dmi
  icons/obj/guns/attachment.dmi
Labels: Feature, Fix, Sprites

#16880 Renames GaxStation to the NVS Gax
  _maps/gaxstation.json
Labels: Tweak

#16900 Some devil fixes for bugs I noticed when I forced the gamemode and ruined a round
  code/game/gamemodes/devil/devil_game_mode.dm
  code/modules/antagonists/devil/devil.dm
  code/modules/paperwork/contract.dm
Labels: Tweak, Fix

#16725 Minor typo fixes for job titles and adds new title option for Curator
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/jobs.dm
Labels: Feature, Fix

#16919 Malf doomsday no longer kills IPCs
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
Labels: Tweak

#16917 Fixes inhand_holder (pAI hats, held mob sprites)
  code/modules/mob/living/inhand_holder.dm
Labels: Fix

#16893 Hypernoblium now stops hotspots
  code/modules/atmospherics/environmental/LINDA_fire.dm
Labels: Tweak

#16774 IPC smokes when overheating
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Labels: Feature

#16914 Changes all instances of sulfuric acid to sulphuric acid
  _maps/RandomRuins/SpaceRuins/gasthelizards.dmm
  _maps/RandomRuins/StationRuins/maint/10x5/10x5_maintmedical.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/datums/diseases/fake_gbs.dm
  code/datums/diseases/gbs.dm
  code/game/objects/items/devices/flashlight.dm
  code/modules/antagonists/devil/imp/imp.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/recipes/cat2_medicines.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
Labels: Map Change

#16910 GPS now actually rename round start
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/shaft_miner.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
  yogstation/code/modules/jobs/job_types/paramedic.dm
Labels: Feature, Tweak, Fix, Revert / Deletion

#16907 Hotfixes a single typo where laser sight color button icon changes into an infrared sight
  code/datums/action.dm
Labels: Fix

#16903 Griddle no longer hides items when the alt-click menu is used
  code/modules/food_and_drinks/kitchen_machinery/griddle.dm
Labels: Fix

#16920 Add Flour/Rice/Sugar/Cheese cabinet to Meta Kitchen [BurningSigil Solves World Hunger]
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#16867 Replaces sleep() with addtimer() in decon unit, and minor tweak
  code/game/machinery/decontamination.dm
Labels: Tweak

#16899 Fix meteorshot not moving doors
  code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: Fix

#16837 fix theos bug decontainment unit
  code/game/machinery/decontamination.dm
Labels: Fix

#16895 fix grav code
  code/game/atoms_movable.dm
  code/modules/mob/living/carbon/carbon_movement.dm
Labels: Fix

#16881 Prevent Space Heaters and Electrolyzers from operating indefinitely
  code/game/machinery/electrolyzer.dm
  code/game/machinery/spaceheater.dm
  tgui/packages/tgui/interfaces/Electrolyzer.js
  tgui/packages/tgui/interfaces/SpaceHeater.js
Labels: Fix, tgui, Javascript

#16924 Engineering hardsuit gets full rad resistance
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Tweak

#16926 A few more alternate job titles
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/jobs.dm
Labels: Feature

#16927 More firestacks tweaks
  code/game/mecha/mecha.dm
  code/modules/clothing/suits/reactive_armour.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/research/nanites/nanite_programs/weapon.dm
  yogstation/code/game/gamemodes/vampire/vampire_other.dm
Labels: Tweak

#16930 Hypothetical Physicist alt title for scientists
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/jobs.dm
Labels: Feature

#16923 Adds a warning to taking your own linked Memento Mori off
  code/__DEFINES/components.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/living.dm
Labels: Feature

#16909 skrem broke nukeops
  code/modules/uplink/uplink_items.dm
Labels: Fix

#16882 legcuffs can now be cut like handcuffs
  code/game/objects/items/tools/wirecutters.dm
  yogstation/code/game/objects/items/tools.dm
Labels: Tweak, i ded

#16941 Makes all action figures small instead of medium
  code/game/objects/items/toys.dm
Labels: Tweak

#16935 Radiation anomaly and radioactive goat balance tweaks + new spell
  code/game/objects/effects/anomalies.dm
  code/modules/spells/spell_types/conjure.dm
  yogstation/code/modules/mob/living/simple_animal/friendly/goats.dm
Labels: Tweak

#16946 Nuclear particle rebalancing/tweaks
  code/game/objects/structures/reflector.dm
  code/modules/projectiles/projectile/energy/nuclear_particle.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Tweak

#16932 gangrel frenzy damage capped at 2
  code/modules/antagonists/bloodsuckers/bloodsucker_frenzy.dm
Labels: Tweak

#16931 Bloodsucker patch
  code/modules/antagonists/bloodsuckers/bloodsucker_mobs.dm
  code/modules/antagonists/bloodsuckers/powers/gangrel.dm
  code/modules/antagonists/bloodsuckers/structures/bloodsucker_crypt.dm
Labels: Tweak, Fix

#16625 Gib(t)onite sellable! wow!
  code/modules/cargo/exports/weapons.dm
Labels: Tweak

#16949 You can no longer PDA bomb silicons
  code/modules/modular_computers/computers/item/integrated_tablet/integrated_tablet.dm
Labels: Tweak

#16947 [JAMIE] Cyborgs automatically get PDA messengers & AI has a tablet now
  code/_onclick/hud/ai.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/awaymissions/corpse.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/integrated_tablet/integrated_tablet.dm
  code/modules/modular_computers/file_system/programs/ntpda_msg.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  code/modules/modular_computers/hardware/network_card.dm
Labels: Tweak

#16958 Adds check_flags to leg implant abilities
  code/modules/surgery/organs/augment_legs.dm
Labels: Fix

#16968 maybe fixes vxtvul wielded force
  code/game/objects/items/twohanded.dm
Labels: Fix

#16972 Updates missed obj/screen/alert
  code/_onclick/hud/alert.dm
  code/datums/martial/ultra_violence.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/screen_alerts.dm
Labels: Fix, Awaiting - Merge

#16942 Ports eris slimes sprites mostly
  icons/mob/slimes.dmi
  icons/obj/slimecrossing.dmi
Labels: Sprites

#16977 Fixes a bug where preternis legs just disappeared sometimes
  icons/mob/human_parts_greyscale.dmi
Labels: Fix, Sprites

#16987 Traitor gamemode no longer counts innate traitor twice when determining midround
  code/game/gamemodes/traitor/traitor.dm
Labels: Fix

#17001 fixes .32 trac speedloader desc
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
Labels: Awaiting - Merge

#16978 Rad particles no longer deal damage to mob that has 100 rad armor
  code/modules/mob/living/living_defense.dm
Labels: Tweak

#16980 Fix chat highlight match word and match case not working properly
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/settings/SettingsPanel.js
Labels: Fix, tgui, Javascript

#17005 Fixes my fuck up
  icons/mob/slimes.dmi
Labels: Sprites

#17040 Dogtag sprite fix
  icons/mob/clothing/accessories.dmi
Labels: Fix, Sprites

#16984 Adds Touch of Death (AKA nerfed disintergrate)
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/spells/spell_types/godhand.dm
  code/modules/spells/spell_types/touch_attacks.dm
  icons/mob/actions/actions_spells.dmi
  icons/mob/inhands/misc/touchspell_lefthand.dmi
  icons/mob/inhands/misc/touchspell_righthand.dmi
  icons/obj/wizard.dmi
Labels: Feature, Sprites

#16996 Mining medic time requirement
  yogstation/code/modules/jobs/job_types/mining_medic.dm
Labels: Tweak

#17020 Gives brig physician nitrile gloves instead of latex gloves
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  yogstation/code/modules/jobs/job_types/brig_physician.dm
Labels: Feature, Tweak

#17004 Shadowling veil nullifies glowy for SOME TIME and enthrall removes it for ALL TIME
  yogstation/code/modules/antagonists/shadowling/shadowling_abilities.dm
Labels: Tweak

#16916 bring back old boh bombs
  yogstation/code/datums/components/storage/storage.dm
  yogstation/code/game/objects/items/storage/backpack.dm
Labels: Tweak

#17043 Fix boh bombing creating a non existent singulo
  yogstation/code/datums/components/storage/storage.dm
Labels: Fix

#17041 Fix decontamination unit not clearing contamination from objects, and fix icon flickering
  code/game/machinery/decontamination.dm
Labels: Fix

#17009 Nerf rad goat again and minor rad anomaly tweaks
  code/game/objects/effects/anomalies.dm
  code/modules/projectiles/projectile/energy/nuclear_particle.dm
  code/modules/spells/spell_types/conjure.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
  yogstation/code/modules/mob/living/simple_animal/friendly/goats.dm
Labels: Tweak, Fix

#17039 Fixes some antags thinking they're on lavaland and getting lavaland speed permanently
  yogstation/code/modules/mob/living/carbon/human/human_movement.dm
Labels: Fix

#17035 Uncapitalize things that should not be capitalized + debug fish
  code/__HELPERS/unsorted.dm
  code/game/objects/items/gems.dm
  yogstation/code/game/objects/items/balloon.dm
Labels: Fix

#16859 [Box] Removes door from science research room
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Stale, Awaiting - Action - Author

#17037 Shields now give 0.2 slowdown
  code/game/objects/items/shields.dm
Labels: Tweak

#16944 CMO, RD, and HoS glasses buff
  code/__DEFINES/atom_hud.dm
  code/datums/hud.dm
  code/game/data_huds.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/research_director.dm
Labels: Tweak

#17010 Recolor decontamination unit, icon change for it
  icons/obj/machines/decontamination_unit.dmi
Labels: Sprites

#17077 Fixes chem machines swallowing multitools and wirecutters when the panel was open
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Fix

#17076 Fixes bookbinder only using last written passage when binding books
  code/modules/library/lib_machines.dm
Labels: Fix

#17033 move the Gax docking port back against the airlocks
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Map Change

#17084 fixes crafting blacklists not working at all
  code/datums/components/crafting/crafting.dm
Labels: Fix

#17082 Missing frenzy button ability doesn't make you reselect the button
  yogstation/code/modules/guardian/abilities/major/frenzy.dm
Labels: Tweak

#17073 Fixes basalt katana visible message
  code/game/objects/items/weaponry.dm
Labels: Fix

#17075 HOS' trenchcoat is now thick
  code/modules/clothing/suits/armor.dm
Labels: Tweak

#17069 fixes bloodsuckers getting blood rejection
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#17062 Water tile no longer be turned into chasm when burned
  code/game/turfs/simulated/water.dm
Labels: Tweak

#17051 Small hemophilia fix
  code/datums/wounds/pierce.dm
  code/datums/wounds/slash.dm
Labels: Fix

#17061 Removes toxin damage from drinking welding fuel as IPC or Preternis
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Feature, Tweak

#17052 Fix unnable to talk on departmental channel on bounce radio
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/say.dm
Labels: Fix

#17027 Plasmeme are now considered undead instead of inorganic
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: Tweak

#17078 Stops you from lariating or mopping people while in timestop or otherwise stunned/paralysed
  code/modules/mining/lavaland/seismicarm.dm
Labels: Fix

#17017 Space heater and electrolyzer main power source will be APC power
  code/game/machinery/electrolyzer.dm
  code/game/machinery/spaceheater.dm
  tgui/packages/tgui/interfaces/Electrolyzer.js
  tgui/packages/tgui/interfaces/SpaceHeater.js
Labels: Tweak, tgui, Javascript

#17002 THE GREAT AIRSOFT COSPLAY BUFF
  code/modules/clothing/gloves/miscellaneous.dm
Labels: Tweak

#16999 Makes spray bottle stream mode do touch application of reagents
  code/modules/reagents/reagent_containers/spray.dm
Labels: Tweak

#16986 Removes tasers from darkspawn
  yogstation/code/modules/antagonists/darkspawn/darkspawn_objects/umbral_tendrils.dm
Labels: Tweak

#16982 Honker mech prices reduced for clown and clownops
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#16976 Adds Mech piloting crash course book + Mech pilot suit stuff
  code/game/mecha/mecha.dm
  code/game/objects/items/granters.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature, Tweak, Fix

#17032 Capitalization of "sulphur" in the chem dispenser
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Feature, Tweak, Fix, Revert / Deletion

#16967 Emp immunity implant overloads if emped too often
  code/game/objects/items/implants/implant_misc.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#16965 Removes objective lock from Neural Overclocker implant and makes it cost 14TC
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#16953 Reduces flash paralyze duration on paralyzed targets
  code/modules/assembly/flash.dm
Labels: Tweak

#16966 Neural Overclocker makes progress bars faster
  code/modules/surgery/organs/augments_chest.dm
Labels: Feature

#16952 Reduces the slowdown on radsuits
  code/modules/clothing/suits/utility.dm
Labels: Tweak

#16925 Tweaks how the speed potion works
  code/modules/research/xenobiology/xenobiology.dm
Labels: Tweak

#16905 Lets overcharging Ethereals transfer power into APCs + eating buff
  code/modules/power/apc.dm
Labels: Feature, Tweak

#16921 Cryoxadone now knocks you over and makes you drops things sometimes while healing
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Tweak

#16883 Gives leg implants an emp effect
  code/modules/surgery/organs/augment_legs.dm
Labels: Feature

#16856 Add fluff and objective failure for if Narsie dies
  code/datums/cinematic.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/power/singularity/narsie.dm
Labels: Tweak
