Repository yogstation13/Yogstation, pull requests merged in 2022-09, with the labels that each got.

#15562 You can now see Mothroaches
  icons/mob/clothing/head/head.dmi
  icons/mob/pets_held_lh.dmi
  icons/mob/pets_held_rh.dmi
Labels: Feature, Fix, Sprites

#15501 Adds new Lavaland ruin: Survival Research Capsule
  _maps/RandomRuins/LavaRuins/lavaland_surface_researchpod.dmm
  code/datums/ruins/lavaland.dm
Labels: Feature, Map Change

#15422 Ashwalker Asteroid Loot Rebalance
  _maps/RandomRuins/LavaRuins/lavaland_surface_meteorite.dmm
Labels: Tweak, Map Change

#15557 [Gax] Fixes HoS Requests Console, Labor Camp Camera Console, And Law Office Carpets
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Map Change, Fix

#15355 [ADMIN] NT uplinks for ERT
  code/datums/components/uplink.dm
  code/datums/ert.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/stacks/bscrystal.dm
  code/game/objects/items/storage/briefcase.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/uplink/uplink_devices.dm
  code/modules/uplink/uplink_items.dm
  tgui/packages/tgui/interfaces/NTUplink.js
Labels: Admin, tgui, Javascript

#15390 shields no longer have 100% guaranteed chance to block everything
  yogstation.dme
  yogstation/code/game/objects/items/shields.dm
Labels: DME Edit, Tweak

#15406 Adds in a Ninja NoGun Implant and Katana shock if user is not ninja or has no insulation
  code/game/objects/items/implants/implant_honor.dm
  code/modules/ninja/energy_katana.dm
  code/modules/ninja/outfit.dm
  yogstation.dme
Labels: DME Edit, Feature, Tweak

#15428 Adds Toreador bloodsucker clan
  code/__DEFINES/bloodsuckers.dm
  code/modules/antagonists/bloodsuckers/bloodsucker_flaws.dm
  code/modules/antagonists/bloodsuckers/bloodsuckers.dm
  code/modules/antagonists/bloodsuckers/bloodsuckers_objects.dm
  code/modules/antagonists/bloodsuckers/powers/feed.dm
  code/modules/antagonists/bloodsuckers/structures/bloodsucker_life.dm
  code/modules/antagonists/bloodsuckers/vassal.dm
Labels: Feature

#15443 Makes Autolathe less laggy, Cleans Code, Fixes Bugs
  code/game/machinery/autolathe.dm
  tgui/packages/tgui/interfaces/Autolathe.js
Labels: Tweak, tgui, Javascript

#15454 Adds a new wizard spell, Mimicry
  code/modules/spells/spell_types/disguise.dm
  icons/mob/actions/actions_spells.dmi
  yogstation.dme
Labels: DME Edit, Feature, Sprites

#15476 Renables & Improves Stalwart + Fixes Stalwart's Loot Drop & Improves It + Adds New Stalwart Drops
  code/_globalvars/lists/mapping.dm
  code/game/objects/effects/temporary_visuals/projectiles/impact.dm
  code/game/objects/effects/temporary_visuals/projectiles/muzzle.dm
  code/game/objects/effects/temporary_visuals/projectiles/tracer.dm
  code/game/objects/items/gems.dm
  code/modules/cargo/bounties/gems.dm
  code/modules/cargo/exports/lavaland.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/stalwart.dm
  code/modules/music/music.dm
  code/modules/projectiles/ammunition/energy/plasma.dm
  code/modules/projectiles/projectile/special/plasma.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/weapons/polearms_lefthand.dmi
  icons/mob/inhands/weapons/polearms_righthand.dmi
  icons/obj/gems.dmi
  icons/obj/guns/energy.dmi
  icons/obj/projectiles.dmi
  icons/obj/projectiles_impact.dmi
  icons/obj/projectiles_muzzle.dmi
  icons/obj/projectiles_tracer.dmi
  icons/obj/weapons/spears.dmi
  yogstation/sound/lavaland/music/stalwart.ogg
Labels: Sound, Fix, Sprites

#15490 Horror Balance Patch 1.1
  code/modules/antagonists/horror/horror.dm
  code/modules/antagonists/horror/horror_abilities_and_upgrades.dm
Labels: Tweak

#15493 Removes threshold from Regen Coma
  code/datums/diseases/advance/symptoms/heal.dm
Labels: Revert / Deletion

#15503 Chaplain monk staff is now nonlethal
  code/game/objects/items/holy_weapons.dm
Labels: Tweak

#15504 Pacifists can use weapons that do only stamina damage
  code/_onclick/item_attack.dm
Labels: Tweak

#15506 Makes romerol tumors actually hurt podpeople
  code/modules/zombie/organs.dm
Labels: Tweak

#15514 Re-modularizes Yogs Detective Coats
  code/game/objects/items/storage/backpack.dm
  yogstation/code/modules/clothing/suits/miscellaneous.dm
Labels: Fix

#15515 Adds Nagant Revolver to the Russian Surplus Crate
  code/modules/cargo/packs.dm
Labels: Feature, Tweak

#15518 Syndicate bioweapon scientists have devised a new serum to assist their scaly compatriots
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature, Tweak

#15519 .357 Alternative Ammo Update
  code/modules/mob/living/living_defense.dm
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/ammo.dmi
Labels: Feature, Tweak, Sprites

#15520 Necropolis Chest Gem Fix
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Fix

#15526 fixes rice being invisible
  code/modules/hydroponics/grown/cereals.dm
Labels: Fix

#15528 budget viewer program
  code/modules/modular_computers/file_system/programs/command/budgetviewer.dm
  tgui/packages/tgui/interfaces/NtosBudgetMonitor.js
  yogstation.dme
Labels: DME Edit, Feature, tgui, Javascript

#15529 Fixes Regal Rats & Reenables them
  code/controllers/subsystem/minor_mapping.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/regalrat.dm
  config/game_options.txt
Labels: Feature, Config, Fix

#15530 should prevent admin spqned xeno queens from causing shuttle shenanigans
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
Labels: Fix

#15531 #6 is no more.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

#15533 New ash drake fire buff doesn't stack 5 morbillion fire stacks directly in front of its snout
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
Labels: Tweak

#15535 Limits Abductors to 25 Pop
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/modules/events/abductor.dm
Labels: Tweak, i ded

#15536 Excludes hardhat, radhood, biohood, bombhood, firesuit helmet from falling off when you slip
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/utility.dm
Labels: Tweak

#15537 Makes Fire Extinguishers Bulky (Adv. Fire Extinuishers & Mini Extinguishers Exempt) + Adds Mini Extinguishers To Mining Vendor + Survival Boxes & Makes Non-Pocket Extinguishers Hold More
  code/game/objects/items/extinguisher.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/mining/machine_vending.dm
Labels: Tweak

#15538 Makes robo control program free-access and limits bot control to access
  code/modules/modular_computers/file_system/programs/science/robocontrol.dm
Labels: Tweak

#15540 Makes NIRN accessible for PDA
  code/modules/modular_computers/file_system/programs/supply/budgetordering.dm
Labels: Tweak

#15541 Clarifies Alloys
  code/modules/research/designs/smelting_designs.dm
Labels: Tweak

#15542 Restores the law office's ability to @everyone
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/file_system/programs/ntpda_msg.dm
  tgui/packages/tgui/interfaces/NtosPdaMsg.js
Labels: Feature, Fix, tgui, Javascript

#15544 Makes receiving pda message more noticeable
  code/modules/modular_computers/file_system/programs/ntpda_msg.dm
Labels: Tweak

#15545 Adds round number to unclaimed ticket
  yogstation/code/modules/webhook/webhook.dm
Labels: Tweak

#15546 Adds F.R.A.M.E. to NTOS
  code/modules/modular_computers/computers/item/computer_ui.dm
  code/modules/modular_computers/file_system/programs/antagonist/bomberman.dm
  code/modules/modular_computers/file_system/programs/antagonist/frame.dm
  code/modules/modular_computers/hardware/portable_disk.dm
  code/modules/uplink/uplink_items.dm
  tgui/packages/tgui/interfaces/NtosFrame.js
  yogstation.dme
Labels: DME Edit, Feature, Fix, tgui, Javascript

#15547 [PORT] Table smacking
  code/game/objects/items/weaponry.dm
  sound/effects/tableslam.ogg
Labels: Feature, Sound

#15584 Makes surgerys not cancel if wrong step
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/wrench.dm
  code/modules/surgery/helpers.dm
  code/modules/surgery/tools.dm
Labels: Tweak

#15553 Secure storage sprites now work
  code/game/objects/items/storage/secure.dm
  icons/obj/storage.dmi
Labels: Feature, Fix, Sprites

#15556 Dankpockets now subtype of donkpockets & dank pizza now costs cannabis not ambrosia vulgaris
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pizza.dm
Labels: Tweak

#15558 NTOS Download based on distance
  code/__DEFINES/machines.dm
  code/modules/modular_computers/file_system/programs/ntdownloader.dm
Labels: Tweak, Fix

#15567 The syndicate has devised new anti-explosive armor for their hardsuits!
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Tweak

#15569 fixes an oversight with the singularity
  code/modules/power/singularity/singularity.dm
Labels: Fix

#15570 [Meta] Fixes AI Core APC Area String
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Fix

#15571 Chickens now drop Chicken Meat instead of untyped Meat
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
Labels: Feature, Tweak

#15572 Adds clockwork stargazers
  code/__DEFINES/lighting.dm
  code/__DEFINES/traits.dm
  code/modules/antagonists/clockcult/clock_structures/stargazer.dm
  icons/obj/clockwork_objects.dmi
  yogstation.dme
Labels: Feature, Sprites

#15573 Meatpocket Bite Size Change
  code/modules/food_and_drinks/food/snacks_pastry.dm
Labels: Tweak

#15574 Ratvarian cyborgs tweaks
  code/modules/antagonists/clockcult/clock_items/clockwork_weaponry.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Feature, Tweak

#15575 Cogger weapons buff
  code/modules/antagonists/clockcult/clock_items/clock_weapons/battlehammer.dm
  code/modules/projectiles/projectile/reusable/arrow.dm
Labels: Tweak

#15576 Kills off Orion references mostly
  _maps/RandomRuins/LavaRuins/lavaland_surface_medical.dmm
  code/datums/ruins/lavaland.dm
  code/game/machinery/computer/arcade.dm
  yogstation/code/modules/ruins/lavaland_ruin_code.dm
Labels: Map Change

#15578 fixes upgrading wooden bucklers into strobe shields
  code/datums/components/crafting/weapons.dm
Labels: Feature, Tweak, Fix, Revert / Deletion

#15581 fixes syringes always embedding: actually works edition
  code/modules/projectiles/ammunition/special/syringe.dm
  code/modules/projectiles/projectile/bullets/dart_syringe.dm
Labels: Fix

#15582 Fixes PDA detonations not sending the message
  code/modules/modular_computers/file_system/programs/antagonist/bomberman.dm
Labels: Fix

#15583 Adds gen_turf_only to all map_generators and turns it on
  code/datums/mapgen/CaveGenerator.dm
Labels: Feature

#15586 should maybe make toolset implant tools count for crafting
  code/datums/components/crafting/crafting.dm
Labels: Tweak

#15596 fixes snowflake unmodular ID checks
  code/game/machinery/airlock_cycle_control.dm
  code/game/machinery/navbeacon.dm
  code/game/mecha/mech_fabricator.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/cargo/expressconsole.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
Labels: Fix

#15614 Fix autolathe searching & also github line ending enforcement
  code/modules/spells/spell_types/disguise.dm
  tgui/packages/tgui/interfaces/Autolathe.js
Labels: Fix, tgui, Javascript

#15625 new packages and gift sprites
  icons/obj/storage.dmi
Labels: Sprites

#15627 Big slap hand fix
  code/game/objects/items/weaponry.dm
  sound/effects/table-slam-hard.ogg
Labels: Sound, Fix

#15638 new hand tele item sprite
  icons/obj/device.dmi
Labels: Sprites

#15591 Adds minor gems to lavaland, adds gem bag, and makes unscanned gems shine
  code/game/objects/items/gems.dm
  code/game/objects/items/storage/bags.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/cargo/bounties/gems.dm
  code/modules/cargo/exports/lavaland.dm
  icons/effects/ore_visuals.dmi
  icons/obj/gems.dmi
  icons/obj/mining.dmi
  yogstation.dme
Labels: Feature, Tweak, Sprites

#15670 Fixes the size of the hand tele sprite
  icons/obj/device.dmi
Labels: Tweak, Sprites

#15672 Updates Baseball Bat Inhand Sprites
  icons/mob/inhands/weapons/melee_lefthand.dmi
  icons/mob/inhands/weapons/melee_righthand.dmi
Labels: Sprites

#15695 Replaces missing skirt pixels
  icons/effects/clothing.dmi
Labels: Fix, Sprites

#15202 makes arcane barrage actually deal more damage than enchanted rifles
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/projectiles/projectile/magic.dm
Labels: Fix, Stale, Awaiting - Action - Author

#15031 Adds adrenaline to combat
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/organs/heart.dm
Labels: Feature

#15411 Fixes bloodsucker ranking up
  code/modules/antagonists/bloodsuckers/bloodsuckers.dm
Labels: Tweak, Fix

#15419 Replaces the normal vent clog events with smoke instead of foam
  code/modules/events/vent_clog.dm
Labels: Tweak

#15447 Mantis blade buff
  code/game/objects/items/mantis.dm
Labels: Tweak

#15525 Redpill & neo bundle update
  code/game/objects/items/storage/uplink_kits.dm
  strings/redpill.json
  yogstation/code/modules/reagents/reagent_containers/hypospray.dm
Labels: Feature, Tweak, Revert / Deletion

#15337 Adds balloon alerts to surgery
  code/modules/surgery/helpers.dm
  code/modules/surgery/surgery_step.dm
Labels: Tweak, Stale

#15548 makes bullets easier to land hits with
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/bullets/sniper.dm
Labels: Tweak

#15563 Synths are now immune to radiation
  code/modules/mob/living/carbon/human/species_types/synths.dm
Labels: Feature, Tweak, Fix, Revert / Deletion

#15577 [LORE-CODE] Phytosian Food Tastes Changes
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
Labels: Tweak

#15566 Chameleon Mutation Nerfs & Fix
  code/__DEFINES/DNA.dm
  code/datums/mutations/chameleon.dm
Labels: Tweak, Fix

#15585 Allow toolset arms to have their items drop (for retraction)
  code/modules/surgery/organs/augments_arms.dm
Labels: Fix

#15592 Clockie longsword tweaks
  code/modules/antagonists/clockcult/clock_items/clock_weapons/longsword.dm
Labels: Feature, Tweak

#15594 Ports Ethereal stat panel charge display and Ethereal Overcharge from Shiptest
  code/__DEFINES/mobs.dm
  code/_onclick/hud/alert.dm
  code/datums/components/mood.dm
  code/datums/mood_events/needs_events.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/surgery/organs/stomach.dm
  icons/mob/screen_alert.dmi
Labels: Feature, Tweak, Sprites

#15595 Add chem scan & gives sensor package to chemists
  code/modules/jobs/job_types/chemist.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/pda/pda_presets.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/medical/chem_scan.dm
  tgui/packages/tgui/interfaces/NtosChem.js
  yogstation.dme
Labels: DME Edit, Feature, tgui, Javascript

#15600 makes donor work again
  code/controllers/subsystem/job.dm
Labels: Fix

#15597 Replace detomatix with bomberman in sabo syndie kit
  code/game/objects/items/storage/uplink_kits.dm
Labels: Tweak

#15599 Cargo requests can be approved again
  code/modules/cargo/console.dm
  tgui/packages/tgui/interfaces/Cargo.js
Labels: Fix, tgui, Javascript

#15602 Add Sorting to NTos PDAs
  code/__HELPERS/_lists.dm
  code/__HELPERS/cmp.dm
  code/modules/modular_computers/file_system/programs/ntpda_msg.dm
Labels: Tweak

#15604 Makes AI immune to radiation
  code/__HELPERS/radiation.dm
Labels: Tweak

#15605 Makes Voice of God not kill AI
  code/game/mecha/mecha.dm
Labels: Fix

#15607 Might fix holotool Examine
  yogstation/code/game/objects/items/holotool/holotool.dm
Labels: Fix

#15610 Gives Cargonian access to the nirn program
  code/modules/modular_computers/file_system/programs/supply/budgetordering.dm
Labels: Tweak

#15617 Improves orbit menu UI
  tgui/packages/tgui/interfaces/Orbit.js
Labels: Tweak, tgui, Javascript

#15618 Maybe fixes not being to jump to/orbit bombs
  code/game/objects/items/grenades/plastic.dm
Labels: Tweak

#15621 potentially fixes fake plasmafloods obstructing things
  code/modules/flufftext/Hallucination.dm
Labels: Fix

#15622 [s] Fixes several bugs & typos picked up by OpenDream
  code/modules/antagonists/clockcult/clock_mobs/_eminence.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/events/swarmer.dm
  code/modules/hydroponics/seeds.dm
  code/modules/mob/living/simple_animal/hostile/rat.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/vehicles/speedbike.dm
  yogstation/code/modules/cargo/cargo_packs.dm
Labels: Fix

#15623 Adds Makeshift Belt
  code/datums/components/crafting/makeshift.dm
  code/game/objects/items/storage/belt.dm
  icons/mob/clothing/belt.dmi
  icons/mob/inhands/equipment/belt_lefthand.dmi
  icons/mob/inhands/equipment/belt_righthand.dmi
  icons/obj/clothing/belts.dmi
Labels: DME Edit, Feature, Sprites

#15606 Adds more logging to BoH Bombs
  code/datums/components/storage/concrete/bag_of_holding.dm
Labels: Feature

#15608 Makes Pickup Mines not invisble anymore
  code/game/objects/effects/mines.dm
Labels: Fix

#15613 data disk instructions
  code/modules/modular_computers/hardware/portable_disk.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature

#15634 gives autolathes the ability to print 7.62mmR ammo
  code/modules/research/designs/autolathe_designs.dm
Labels: Tweak

#15640 Modular Programs Code Cleanup + Lifeline/Tracker QOL + Smaller Download Program
  code/modules/modular_computers/file_system/programs/ntdownloader.dm
  code/modules/modular_computers/file_system/programs/ntnrc_client.dm
  code/modules/modular_computers/file_system/programs/radar.dm
Labels: Tweak

#15641 Gives Horrors increased night vision
  code/modules/antagonists/horror/horror.dm
Labels: Tweak

#15645 Fixes IPC CMD Rule warning
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Labels: Tweak

#15643 Adjusts some ghost role spawner descriptions
  code/datums/ruins/lavaland.dm
  yogstation/code/modules/ruins/lavaland_ruin_code.dm
Labels: Tweak

#15650 Allows you to swap the cells in a chem dispenser by clicking on it
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Tweak

#15651 Ancient Control Rod (Stalwart Loot) Changes
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Tweak

#15655 Fixes stool buckling feedback
  code/game/objects/structures/beds_chairs/chair.dm
Labels: Fix

#15660 Ripping embedded objects out now hurt
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Fix

#15664 Makes swarmer balloon alerts respect balloon alert preference
  code/modules/swarmers/swarmer.dm
Labels: Tweak

#15668 Fixes holograms for humans
  code/game/machinery/hologram.dm
Labels: Tweak, Fix

#15671 Makes golaith tentacle attack slightly more interesting
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
Labels: Tweak

#15673 Adds Broken Bottles to Trash Spawners
  code/game/objects/effects/spawners/lootdrop.dm
Labels: Tweak

#15674 Ballistic guns now won't say they can be unsuppressed if they can't
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Fix

#15677 Allow you to rename holopads & tweak
  code/game/machinery/hologram.dm
Labels: Feature, Tweak

#15683 are
  tgui/packages/tgui-panel/Panel.js
Labels: tgui, Javascript

#15688 Fixes being able to overeat
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Labels: Fix

#15689 should fix chineese cartoons
  code/modules/admin/secrets.dm
Labels: Fix, Admin

#15687 Chickens can now be fed ANY produce not just Wheat
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
Labels: Tweak

#15690 ports "visualizes *cry emote" from tg
  code/__DEFINES/colors.dm
  code/__DEFINES/traits.dm
  code/modules/hydroponics/grown/onion.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/surgery/organs/eyes.dm
  icons/mob/human_face.dmi
Labels: Sprites

#15700 Fixes IPC trying to speak while dead & removes brain loss on revival
  code/game/objects/items/miscellaneous.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Labels: Fix

#15626 Working mech DLC: Clarke and KA
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mech_fabricator.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/mecha/mecha_construction_paths.dm
  code/game/mecha/mecha_parts.dm
  code/game/mecha/mecha_wreckage.dm
  code/game/mecha/working/clarke.dm
  code/game/mecha/working/ripley.dm
  code/game/mecha/working/working.dm
  code/modules/cargo/bounties/mech.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/research/techweb/layout.dm
  icons/mecha/mech_construct.dmi
  icons/mecha/mech_construction.dmi
  icons/mecha/mecha.dmi
  icons/mecha/mecha_equipment.dmi
  yogstation.dme
Labels: DME Edit, Feature, Sprites

#15681 bibby ruins everything
  code/modules/reagents/reagent_containers.dm
Labels: Fix

#15603 Gives Revolution Heads Makeshift Weapons & Makes Emagging Borgs As Revs Give Them Revs Lawset & Rev Datum
  code/modules/antagonists/revolution/revolution.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
Labels: Tweak

#15654 Makes whiteships spawn again
  _maps/shuttles/whiteship_1.dmm
  _maps/shuttles/whiteship_2.dmm
  _maps/shuttles/whiteship_3.dmm
  _maps/shuttles/whiteship_4.dmm
  _maps/shuttles/whiteship_5.dmm
  code/datums/map_config.dm
  code/datums/shuttles.dm
Labels: Map Change, Fix

#15733 Gives urinal cakes an icon
  code/game/objects/structures/watercloset.dm
Labels: Sprites

#15764 [PORT] Updates Storage Satchel Sprites
  icons/obj/bureaucracy.dmi
  icons/obj/chemical.dmi
  icons/obj/hydroponics/equipment.dmi
  icons/obj/library.dmi
  icons/obj/mining.dmi
  icons/obj/tools.dmi
Labels: Sprites

#15736 Fixing invisible neckerchief bandanas
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/neck/_neck.dm
  icons/blank.dmi
Labels: Fix, Sprites

#15775 Shifts Hunter Rags a Pixel
  icons/mob/clothing/uniform/uniform.dmi
Labels: Fix, Sprites

#15771 IAA shouldn't be in dynamic, I'm not fixing the bugs for it.
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: Revert / Deletion

#15759 You can now send PDA messages with the enter key
  tgui/package.json
  tgui/packages/tgui/components/Button.js
  tgui/yarn.lock
Labels: Fix, tgui, Javascript, Dependencies

#15792 Restores old hand tele sprite
  icons/obj/device.dmi
Labels: Sprites

#14846 Adds infiltrators to dynamic
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  yogstation/code/modules/events/infiltrators.dm
Labels: Config, Revert / Deletion

#15793 Makes quiet mode not turn itself off for admins/mentors
  code/modules/client/client_procs.dm
Labels: Tweak

#15527 Rescales Negative Armor Piercing Effectiveness
  code/modules/mob/living/living_defense.dm
Labels: Tweak, Test Merge - Requested

#15549 Adjusts damage slowdown algorithm to be less harsh starting out
  code/modules/mob/living/carbon/human/species.dm
Labels: Tweak, Test Merge - Requested

#15555 Baseball Bat Rework + New Bats
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/emergency_russiafightpit.dmm
  code/datums/components/crafting/antag.dm
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/granters.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/twohanded.dm
  code/game/objects/items/weaponry.dm
  code/modules/cargo/bounties/assistant.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
  code/modules/uplink/uplink_items.dm
  code/modules/vending/toys.dm
  icons/mob/inhands/weapons/melee_lefthand.dmi
  icons/mob/inhands/weapons/melee_righthand.dmi
  icons/obj/toy.dmi
  yogstation/sound/effects/woodbreak.ogg
  yogstation/sound/effects/woodbreak2.ogg
  yogstation/sound/effects/woodbreak3.ogg
  yogstation/sound/weapons/bat_hit.ogg
Labels: Feature, Tweak, Map Change, Sound, Fix, Revert / Deletion, Sprites, Awaiting - Action - Balance Review

#15593 Adds Granite to Lavaland
  code/datums/mapgen/Cavegens/LavalandGenerator.dm
  code/game/turfs/simulated/minerals.dm
  yogstation/code/game/turfs/simulated/minerals.dm
Labels: Feature, Tweak, Awaiting - Merge

#15601 put wire knot under gax southwest solars SMES
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Map Change, Fix

#15632 Redesigns a good chunk of charliestation
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
Labels: Tweak, Map Change

#15637 Allows ghosts to spawn in ninja dojo/holding facility
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/role_preferences.dm
  code/modules/admin/sql_ban_system.dm
  yogstation.dme
  yogstation/code/game/objects/structures/ghostbeacon.dm
Labels: DME Edit, Feature, Map Change, Admin

#15647 Eminence tweaks and buffs
  code/game/turfs/simulated/wall/misc_walls.dm
  code/modules/antagonists/clockcult/clock_mobs/_eminence.dm
  code/modules/antagonists/clockcult/clock_structures/_trap_object.dm
  code/modules/antagonists/clockcult/clock_structures/ark_of_the_clockwork_justicar.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
Labels: Feature, Tweak

#15649 Locks the warden's krav maga gloves to security-related areas.
  _maps/map_files/generic/CentCom.dmm
  code/datums/martial/krav_maga.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Tweak, Map Change

#15559 Adds spiderbots
  code/modules/language/language_holder.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  icons/mob/robots.dmi
  yogstation.dme
Labels: DME Edit, Feature, Sprites

#15630 Adds Vxtvul Hammer without stupid conflicts
  _maps/shuttles/infiltrator_basic.dmm
  _maps/shuttles/pirate_default.dmm
  code/datums/action.dm
  code/game/objects/items/storage/briefcase.dm
  code/game/objects/items/twohanded.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/uplink/uplink_items.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/weapons/hammers_lefthand.dmi
  icons/mob/inhands/weapons/hammers_righthand.dmi
  icons/obj/weapons/misc.dmi
Labels: Feature, Tweak, Map Change, Revert / Deletion, Sprites

#15658 Adds balloons
  code/modules/vending/games.dm
  code/modules/vending/gift.dm
  yogstation.dme
  yogstation/code/game/objects/items/balloon.dm
  yogstation/code/modules/cargo/cargo_packs.dm
  yogstation/icons/obj/objects.dmi
Labels: DME Edit, Feature, Sprites

#15662 Stalwart 2, Its Scary This Time
  code/__DEFINES/{yogs_defines}/status_effects.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/stalwart.dm
  yogstation/code/datums/status_effects/buffs.dm
Labels: Tweak

#15691 more nerfs to make choomists cry
  code/datums/wires/explosive.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Tweak

#15692 Bomb armor is now more effective against explosions
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Tweak

#15694 Buffs security's bomb protection equipment
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/utility.dm
Labels: Tweak

#15699 Limits Changelings Gamemode & Dynamic Roundstart
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: Tweak

#15708 Syndie Fedora Cost Increase
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#15709 Fixes species punch damage types
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#15712 Adds "The round has ended" to logs when the round ends
  code/__HELPERS/roundend.dm
Labels: Feature
