Repository yogstation13/Yogstation, pull requests merged in 2022-05, with the labels that each got.

#13905 Strength Makes You Strongerer
  code/datums/mutations/body.dm
Labels: Feature

#13908 Necroseed uses physiology mods instead of dna.species mods
  code/datums/diseases/advance/symptoms/necropolis.dm
Labels: Fix

#13944 fixes plasma shard spear setting the extra force to 1 instead of adding 1
  code/game/objects/items/twohanded.dm
Labels: Fix

#13917 New Lavaland Ruin: Shinobi Graveyard and Weapon: Basalt Katana (and moves katana out of necropolis chest)
  _maps/RandomRuins/LavaRuins/lavaland_surface_shinobigraveyard.dmm
  code/datums/ruins/lavaland.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/lavaland/katana_grave.dm
  code/modules/cargo/exports/lavaland.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/obj/lavaland/misc.dmi
  icons/obj/weapons/swords.dmi
  yogstation.dme
Labels: DME Edit, Feature, Tweak, Map Change, Sprites

#13926 Makes roboticists not get engineering tape in their belts
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/objects/items/storage/belt.dm
  yogstation/code/datums/ruins/free_miners.dm
  yogstation/code/modules/jobs/job_types/signal_technician.dm
Labels: Fix

#13938 Change default FPS to 40
  code/modules/client/preferences.dm
Labels: Fix

#13941 Random fixes and tweaks to boxstation
  _maps/map_files/YogStation/YogStation.dmm
Labels: Tweak, Map Change, Fix

#13942 Round Start SMES 30% more Power
  _maps/map_files/YogStation/YogStation.dmm
  code/modules/power/smes.dm
Labels: Tweak, Map Change

#13943 Holotool multitools now work better, can hold a buffer
  code/game/machinery/telecomms/machine_interactions.dm
  code/modules/mob/inventory.dm
  yogstation.dme
  yogstation/code/game/machinery/telecomms/machine_interactions.dm
  yogstation/code/game/objects/items/devices/scanners.dm
  yogstation/code/game/objects/items/holotool/holotool.dm
Labels: DME Edit, Fix

#13946 Remove hulk recipe
  code/datums/mutations/_combined.dm
Labels: Revert / Deletion

#13956 Donor purrbation toggle does not change nonhuman characters
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  yogstation/code/modules/jobs/job_types/_job.dm
Labels: Tweak

#13957 body temperature now shows up red in health analyzers if it is damaging
  code/game/objects/items/devices/scanners.dm
Labels: Tweak

#13959 Should fix a bug where narsie spawns unusable harvesters
  code/modules/antagonists/wizard/equipment/soulstone.dm
Labels: Fix

#13961 Reduces bloodsucker required enemies to 1 so it can actually roll if forced below 20 pop
  code/game/gamemodes/bloodsuckers/bloodsucker.dm
Labels: Tweak

#13962 fixes bloodsucker not being able to be run lmao
  code/game/gamemodes/bloodsuckers/bloodsucker.dm
Labels: Fix

#13964 reworks gaxstation mining + misc pipe fixes + misc fixes
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Tweak, Map Change

#13896 Adds a new Touhou dress to donator item for Orca
  yogstation/code/modules/clothing/suits/miscellaneous.dm
  yogstation/code/modules/donor/unique_donator_items.dm
  yogstation/icons/mob/suit.dmi
  yogstation/icons/obj/clothing/suits.dmi
Labels: Feature, Sprites

#13974 fixes boxstation solars again
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Fix

#13977 Fixes Clown Ops not being able to use medbeams
  yogstation.dme
  yogstation/code/modules/projectiles/guns/misc/medbeam.dm
Labels: DME Edit, Fix

#13972 Fix bug where regal rat stops being able to pry open doors.
  code/modules/mob/living/simple_animal/hostile/regalrat.dm
Labels: Fix

#13983 Probably fixes a whole slew of explosions doing twice as much damage as they should
  code/controllers/subsystem/explosions.dm
Labels: Fix

#13999 [ADMIN] clarifies and adjusts secrets menu
  code/modules/admin/secrets.dm
Labels: Admin

#14000 fixes a bug where knuckle rooting would cause full damage to cyborgs
  code/datums/action.dm
  code/datums/status_effects/knuckleroot.dm
Labels: Fix

#13965 Changes mous description
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Tweak

#13963 idk if this does anything BUT gives roundstart gantsters the role ROLE_GANG pre-setup becaues I think it does something
  yogstation/code/game/gamemodes/gangs/gangs.dm
Labels: Fix

#13995 Makes AIs fully invisible when they die
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Awaiting - Merge

#13975 Adds a three-hour experience requirement to Signal Tech
  yogstation/code/modules/jobs/job_types/signal_technician.dm
Labels: Tweak

#13994 Adds admin button in PP to access AI dashboard
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
Labels: Admin

#13928 Adds Tatorling Branded Cereal
  code/game/objects/items/toys.dm
  code/modules/food_and_drinks/food/snacks_vend.dm
  icons/obj/food/food.dmi
  icons/obj/toy.dmi
Labels: Feature, Sprites

#13947 Doubles AI heat Production
  code/__DEFINES/ai.dm
Labels: Tweak

#13949 Adds Section to Centcom for help with Wiki spriting
  _maps/map_files/generic/CentCom.dmm
  code/game/objects/effects/landmarks.dm
  code/game/turfs/open.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
  yogstation/icons/turf/floors/wiki.dmi
Labels: Feature, Map Change, Sprites, Admin

#13950 Adds Self Defense upgrade for AI. Tesla zaps anyone near a core
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/mob/living/silicon/ai/decentralized/management/ai_dashboard.dm
  code/modules/mob/living/silicon/ai/decentralized/projects/self_defense.dm
  tgui/packages/tgui/interfaces/AiDashboard.js
  yogstation.dme
Labels: DME Edit, Feature, tgui, Javascript

#13952 Handcuffed people may no longer just walk through turnstiles
  code/game/machinery/doors/turnstile.dm
Labels: Fix

#13976 Adds two cameras to box turbine and a camera to meta teg area
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Feature, Map Change

#13978 baton buffs
  code/game/objects/items/stunbaton.dm
Labels: Tweak

#13981 fixes lizard tails not coming back right after purrbation
  code/modules/mob/living/carbon/human/species_types/felinid.dm
Labels: Fix

#13984 Adds visual spell cooldowns on all spell casts and all bloodsucker abilities
  code/datums/action.dm
  code/modules/antagonists/bloodsuckers/powers/_powers.dm
  code/modules/antagonists/bloodsuckers/powers/targeted/lunge.dm
  code/modules/spells/spell.dm
Labels: Feature

#13986 fixes gaxstation toxins scanner thing whatever and also disposals in science
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Map Change, Fix

#14001 skeletons can now rattle their bones
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/rattled.ogg
Labels: Feature, Sound

#14005 Makes buy privately button do something
  code/modules/cargo/console.dm
  tgui/packages/tgui/interfaces/Cargo.js
Labels: Feature, tgui, Javascript

#14009 Changes a security job title
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/jobs.dm
Labels: Tweak

#13979 Reduces the nanite energy armor from refractive nanites from 25 to 15
  code/modules/research/nanites/nanite_programs/buffing.dm
Labels: Tweak

#13997 Adds roburger crafting recipe for tators
  code/game/objects/items/granters.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature

#14014 Surgery fixes
  code/modules/surgery/bodyparts/helpers.dm
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/surgery_step.dm
Labels: Fix

#14015 Fixes regenerate_organs() making felinid tails disappear
  code/modules/surgery/organs/tails.dm
Labels: Fix

#14016 fixes a bug that would allow cultists to escape brazil
  code/modules/antagonists/cult/runes.dm
Labels: Fix

#14020 shadowlings can now use veil on genetically modified shadowshrooms
  yogstation/code/modules/antagonists/shadowling/shadowling_abilities.dm
Labels: Fix

#14030 Makes CEO slightly less likely roundstart
  config/game_options.txt
Labels: Tweak, Config

#14034 Lich spell cost increase to 4
  code/modules/antagonists/wizard/equipment/spellbook.dm
Labels: Tweak

#13966 Adds DEV Permission and Enables Memory Profiler
  code/__DEFINES/admin.dm
  code/__DEFINES/extools.dm
  code/__HELPERS/type2type.dm
  code/_globalvars/bitfields.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
  config/admin_ranks.txt
Labels: Feature, Config, Admin

#14054 fuck
  code/modules/surgery/bodyparts/helpers.dm
Labels: Fix

#13973 Makes cheese dug up by regal rats an actual subtype of cheese and not generic invisible non-subtype cheese
  code/modules/mob/living/simple_animal/hostile/regalrat.dm
Labels: Fix

#14075 fixes jamie breaking blob
  code/modules/antagonists/blob/overmind.dm
  code/modules/events/blob.dm
  code/modules/mob/transform_procs.dm
Labels: Fix

#14019 Footwrap sprite fixes
  icons/mob/feet.dmi
Labels: Sprites

#14024 Adds envirosuits for CE and RD
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/clothing/under/jobs/Plasmaman/engineering.dm
  code/modules/clothing/under/jobs/Plasmaman/medsci.dm
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Feature, Tweak, Sprites

#14049 New pathwalker hat sprite
  code/modules/clothing/head/helmet.dm
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Feature, Sprites

#14025 Edits common backpack's mob sprites to have no straps.
  icons/mob/back.dmi
Labels: Sprites

#13918 Bloodsucker fixes + balance + new clan + ports some stuff
  code/__DEFINES/bloodsuckers.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/debuffs.dm
  code/game/gamemodes/bloodsuckers/bloodsucker.dm
  code/game/machinery/doors/airlock.dm
  code/modules/antagonists/bloodsuckers/bloodsucker_daylight.dm
  code/modules/antagonists/bloodsuckers/bloodsucker_flaws.dm
  code/modules/antagonists/bloodsuckers/bloodsucker_frenzy.dm
  code/modules/antagonists/bloodsuckers/bloodsucker_integration.dm
  code/modules/antagonists/bloodsuckers/bloodsucker_mobs.dm
  code/modules/antagonists/bloodsuckers/bloodsucker_objectives.dm
  code/modules/antagonists/bloodsuckers/bloodsuckers.dm
  code/modules/antagonists/bloodsuckers/bloodsuckers_objects.dm
  code/modules/antagonists/bloodsuckers/powers/_powers.dm
  code/modules/antagonists/bloodsuckers/powers/cloak.dm
  code/modules/antagonists/bloodsuckers/powers/fortitude.dm
  code/modules/antagonists/bloodsuckers/powers/gangrel.dm
  code/modules/antagonists/bloodsuckers/powers/gohome.dm
  code/modules/antagonists/bloodsuckers/powers/masquerade.dm
  code/modules/antagonists/bloodsuckers/powers/recuperate.dm
  code/modules/antagonists/bloodsuckers/powers/targeted/brawn.dm
  code/modules/antagonists/bloodsuckers/powers/targeted/haste.dm
  code/modules/antagonists/bloodsuckers/powers/targeted/lunge.dm
  code/modules/antagonists/bloodsuckers/powers/targeted/mesmerize.dm
  code/modules/antagonists/bloodsuckers/powers/targeted/trespass.dm
  code/modules/antagonists/bloodsuckers/powers/targeted/tzimisce.dm
  code/modules/antagonists/bloodsuckers/powers/veil.dm
  code/modules/antagonists/bloodsuckers/structures/bloodsucker_coffin.dm
  code/modules/antagonists/bloodsuckers/structures/bloodsucker_crypt.dm
  code/modules/antagonists/bloodsuckers/structures/bloodsucker_life.dm
  code/modules/antagonists/bloodsuckers/structures/bloodsucker_recipes.dm
  code/modules/antagonists/bloodsuckers/vassal.dm
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
  code/modules/antagonists/monsterhunter/monsterhunter.dm
  code/modules/antagonists/monsterhunter/monstertrack.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/events/monsterhunter.dm
  code/modules/events/tzimisce.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  config/game_options.txt
  icons/mob/actions/actions_bloodsucker.dmi
  icons/mob/actions/actions_gangrel_bloodsucker.dmi
  icons/mob/actions/actions_lasombra_bloodsucker.dmi
  icons/mob/actions/actions_tzimisce_bloodsucker.dmi
  icons/mob/bloodsucker_mobs.dmi
  icons/obj/vamp_obj.dmi
  yogstation.dme
  yogstation/code/modules/mob/living/carbon/human/species_types/szlachta.dm
  yogstation/icons/mob/hud.dmi
  yogstation/icons/mob/human_parts.dmi
Labels: Feature, Tweak, Fix

#13996 morph objective rework
  code/modules/antagonists/morph/morph.dm
  code/modules/antagonists/morph/morph_antag.dm
Labels: Feature, Tweak, Fix

#14013 Makes turnstiles not weak sauce
  code/game/machinery/doors/turnstile.dm
Labels: Tweak

#14027 Ports CEV Eris grass sprites
  code/game/turfs/open.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  icons/turf/floors.dmi
Labels: Sprites

#14029 Reworks Cowboy Lawset
  code/datums/ai_laws.dm
Labels: Tweak

#14036 rodform cooldown increased by 5 seconds
  code/modules/spells/spell_types/rod_form.dm
Labels: Tweak

#14048 Craftable tape
  code/datums/components/crafting/recipes.dm
Labels: Feature

#14051 Reduces the costs of pathfinder gear since it was SUPPOSED to be a sort of half point between megafauna gear and basic gear but is excessively expensive
  code/datums/components/crafting/recipes.dm
Labels: Tweak

#14052 Slightly Changes Requirements for Meteors and Rods
  code/modules/events/immovable_rod.dm
  code/modules/events/meteor_wave.dm
  yogstation/code/modules/events/immovable_duck.dm
Labels: Tweak

#14028 Makes Druid Lawset roundstart
  config/game_options.txt
Labels: Tweak, Config

#14046 The miniguns now have proper overheating warnings + heat sensors
  code/modules/projectiles/guns/ballistic/laser_gatling.dm
  code/modules/projectiles/guns/ballistic/minigun.dm
Labels: Feature

#14045 [Finally] Reworks pubby monastery into a proper space ruin and removes it from the space ruin blacklist (it will now spawn)
  _maps/RandomRuins/SpaceRuins/pubby_monastery.dmm
  code/game/area/areas/ruins/space.dm
  config/spaceruinblacklist.txt
Labels: Feature, Map Change, Config

#14078 spoectral blade and landmine have icons again
  code/game/objects/effects/mines.dm
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Fix

#14077 re-adds my fucking book to xenobio
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Fix

#14073 Changes laser slug to laser buckshot
  code/datums/components/crafting/recipes.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/guns/energy/laser.dm
Labels: Feature, Revert / Deletion

#14006 [s] Fixes gun duplication exploit
  code/datums/components/crafting/crafting.dm
Labels: Fix

#14072 Singularity Wakizashi for Cowbot93
  code/game/objects/items/toys.dm
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/obj/weapons/swords.dmi
  yogstation/code/modules/donor/unique_donator_items.dm
Labels: Feature, Sprites

#14066 Fixes ai pp not working
  code/modules/admin/topic.dm
Labels: Admin

#14065 Fixes weird PP spacing
  code/modules/admin/admin.dm
Labels: Admin, Fetish Content

#14064 AI counts as dead when it's in death prompt mode
  code/__HELPERS/game.dm
Labels: Tweak

#14058 Boxing now causes a guaranteewd knockout at 100 stamina rather than rolling ~50% chances on every hit over 50
  code/datums/martial/boxing.dm
Labels: Tweak

#14057 Heretic marks are now created by mansus grasp and detonated by blade
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
  code/modules/antagonists/eldritch_cult/knowledge/ash_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/rust_lore.dm
Labels: Tweak

#13993 Rat changes
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/rat.dm
  code/modules/mob/living/simple_animal/hostile/regalrat.dm
  yogstation.dme
Labels: DME Edit, Feature, Tweak

#14017 Expands perma, adds license plate presses
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/game/machinery/prisonlabor.dm
  code/game/objects/items/stacks/license_plates.dm
  code/modules/cargo/exports/sheets.dm
  code/modules/cargo/packs.dm
  icons/obj/machines/prison.dmi
  yogstation.dme
Labels: DME Edit, Feature, Map Change, Sprites

#14056 Tape now gives a "harmless" embed
  code/__HELPERS/unsorted.dm
  code/game/objects/items.dm
  code/game/objects/items/stacks/tape.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Feature

#14031 Buffs Goliath and Pathfinder Cloaks
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/suits/armor.dm
Labels: Tweak

#14035 Buffs spellcards, lightning blast, and tesla blast
  code/modules/projectiles/projectile/magic.dm
  code/modules/projectiles/projectile/magic/spellcard.dm
  code/modules/spells/spell_types/aimed.dm
  code/modules/spells/spell_types/lightning.dm
Labels: Feature, Tweak

#14100 fix cuak grass icons
  code/game/turfs/open.dm
  code/modules/holodeck/turfs.dm
Labels: Fix

#14095 fixes a something where ghosts could always see themselves even when invisible
  code/modules/mob/dead/dead.dm
Labels: Fix

#14110 Fixes horrible runtime with Atmos
  code/modules/atmospherics/machinery/datum_pipeline.dm
Labels: Fix

#14121 Fixes mining medic belt showing overlays
  yogstation/code/game/objects/items/storage/belt.dm
Labels: Fix

#14131 Reworks immortality amulet void effect into a status effect
  code/__DEFINES/{yogs_defines}/status_effects.dm
  code/datums/components/storage/concrete/bag_of_holding.dm
  code/datums/mutations/actions.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  yogstation.dme
  yogstation/code/datums/status_effects/neutral.dm
Labels: DME Edit, Feature, Tweak, Fix, Awaiting - Merge

#14141 Reduces the amount of things that you can tape
  code/game/objects/items/stacks/tape.dm
Labels: Feature

#14130 Makes the vending machine paralysis not super ultra impossible to fix
  code/modules/vending/_vending.dm
Labels: Tweak

#14127 fixes sinful demon arrival
  code/modules/events/sinfuldemon.dm
Labels: Fix

#14148 Fixes Track Monster (and more future) cooldowns, adds Vampire to Track Monster, fixes Track Monster (it now works)
  code/modules/antagonists/bloodsuckers/powers/_powers.dm
  code/modules/antagonists/monsterhunter/monstertrack.dm
Labels: Tweak, Fix

#14146 makes tape recursively check contents to make sure theres no grenades or explosives in the taped item
  code/game/objects/items/stacks/tape.dm
Labels: Tweak

#14138 Ports 3/4 crates sprites and mule bot from FTL13
  code/game/objects/structures/crates_lockers/crates.dm
  icons/mob/aibots.dmi
  icons/obj/crates.dmi
Labels: Sprites

#13967 [PORT] Secret Gateways: Config loaded Away Missions + Anti-observing Z level traits
  code/__DEFINES/maps.dm
  code/__HELPERS/level_traits.dm
  code/__HELPERS/unsorted.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/weather.dm
  code/datums/components/squeak.dm
  code/datums/dash_weapon.dm
  code/game/area/areas/away_content.dm
  code/game/area/areas/ruins/_ruins.dm
  code/game/atoms_movable.dm
  code/game/mecha/mecha.dm
  code/game/objects/effects/phased_mob.dm
  code/game/turfs/change_turf.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/devil/devil.dm
  code/modules/antagonists/slaughter/slaughter.dm
  code/modules/antagonists/slaughter/slaughterevent.dm
  code/modules/awaymissions/cordon.dm
  code/modules/awaymissions/zlevel.dm
  code/modules/mapping/map_template.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/mapping/verify.dm
  code/modules/mob/dead/observer/logout.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/bloodcrawl.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/spells/spell_types/devil.dm
  code/modules/spells/spell_types/ethereal_jaunt.dm
  code/modules/spells/spell_types/shadow_walk.dm
  config/away_missions/README.md
  config/game_options.txt
  icons/effects/mapping_helpers.dmi
  icons/turf/areas.dmi
  icons/turf/walls.dmi
  yogstation.dme
  yogstation/code/datums/components/walks.dm
Labels: Feature, Admin

#14043 [admin] Improves admin notification of tickets
  yogstation/code/modules/admin/verbs/adminhelp.dm
  yogstation/code/modules/webhook/webhook.dm
Labels: Feature

#14071 New makeshift item: Makeshift ID
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/cards_ids.dm
  icons/obj/card.dmi
Labels: Feature, Sprites

#14074 Adds a new technical ammo type, Thundershot
  code/datums/components/crafting/recipes.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  icons/obj/ammo.dmi
Labels: Feature, Sprites

#14139 3/4 paperwork sprite ports
  icons/obj/bureaucracy.dmi
  icons/obj/library.dmi
  icons/obj/structures.dmi
  yogstation/icons/obj/bureaucracy.dmi
Labels: Sprites

#14083 New snack for felinids and lizards, and anyone really i dont judge
  code/modules/food_and_drinks/food/snacks_vend.dm
  code/modules/vending/snack.dm
  icons/obj/food/food.dmi
Labels: Feature, Sprites, Fetish Content

#14089 Ports "513 health bars for simplemobs!" from TG
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/living.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/living.dm
  icons/mob/screen_gen.dmi
Labels: Tweak, Sprites

#14096 fix sandbag no icon
  code/game/objects/items/stacks/sheets/mineral.dm
Labels: Fix

#14091 ports medical kiosk from TG
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/game/machinery/medical_kiosk.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/research/designs/machine_designs.dm
  icons/obj/device.dmi
  icons/obj/machines/medical_kiosk.dmi
  yogstation.dme
Labels: DME Edit, Feature, Map Change, Sprites

#14105 Peacekeeper Beret: Majesticmanateee
  code/modules/clothing/head/misc_special.dm
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
  yogstation/code/modules/donor/unique_donator_items.dm
Labels: Feature, Sprites

#14093 Throwing a body at the wall is no longer silent
  code/modules/mob/living/carbon/carbon.dm
Labels: Tweak

#14116 lesser form can't activate while stunned or cuffed, price reduced to pre-nerf
  code/modules/antagonists/changeling/powers/lesserform.dm
Labels: Tweak

#14119 Fixed being able to interact with cryo cells from within
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: Fix

#14122 Adds a new changeling weapon: the flesh maul!
  code/modules/antagonists/changeling/powers/mutations.dm
  icons/mob/actions/actions_changeling.dmi
  icons/mob/inhands/antag/changeling_lefthand.dmi
  icons/mob/inhands/antag/changeling_righthand.dmi
  icons/obj/changeling.dmi
Labels: Feature, Sprites

#14117 Non-combat mech punches should no longer yeet people
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Fix

#14129 monster hunter has interactions with sinful demon
  code/datums/martial/hunterfu.dm
  code/modules/antagonists/monsterhunter/monstertrack.dm
Labels: Feature

#14135 hugboxes touch heal chems
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Tweak

#14137 marrow weaver drop uranium because they inject little pieces of uranium in you anmd that's what poisons you
  yogstation/code/modules/mob/living/simple_animal/hostile/mining_mobs/marrow_weaver.dm
Labels: Feature

#14126 bloodsucker fixes
  code/modules/antagonists/bloodsuckers/bloodsucker_frenzy.dm
  code/modules/antagonists/bloodsuckers/bloodsucker_integration.dm
  code/modules/antagonists/bloodsuckers/bloodsucker_mobs.dm
  code/modules/antagonists/bloodsuckers/bloodsuckers.dm
  code/modules/antagonists/bloodsuckers/bloodsuckers_objects.dm
  code/modules/antagonists/bloodsuckers/powers/_powers.dm
  code/modules/antagonists/bloodsuckers/powers/fortitude.dm
  code/modules/antagonists/bloodsuckers/powers/gangrel.dm
  code/modules/antagonists/bloodsuckers/powers/targeted/brawn.dm
  code/modules/antagonists/bloodsuckers/powers/targeted/lunge.dm
  code/modules/antagonists/bloodsuckers/structures/bloodsucker_coffin.dm
  code/modules/antagonists/bloodsuckers/structures/bloodsucker_crypt.dm
  code/modules/antagonists/bloodsuckers/structures/bloodsucker_life.dm
  code/modules/antagonists/bloodsuckers/structures/bloodsucker_recipes.dm
  code/modules/antagonists/demon/general_powers.dm
  code/modules/events/tzimisce.dm
  tgui/packages/tgui/interfaces/KindredArchives.js
Labels: Fix, tgui, Javascript

#14142 Buffs advanced stack healing items
  code/datums/wounds/pierce.dm
  code/datums/wounds/slash.dm
  code/game/objects/items/stacks/medical.dm
Labels: Tweak

#14145 Adds toxicity
  code/modules/mob/living/carbon/emote.dm
Labels: Feature

#14150 Makes power failure never affect areas that contain AI data cores
  code/__HELPERS/game.dm
Labels: Tweak, AI Revamp

#14149 Blacklists secondary datacore from various random events and re-adds the airlock
  _maps/map_files/YogStation/YogStation.dmm
  code/__HELPERS/areas.dm
  code/modules/events/anomaly.dm
  code/modules/events/stray_cargo.dm
Labels: Feature, Map Change

#14151 Inducer can charge Preternis at the cost of burning them
  code/game/objects/items/inducer.dm
Labels: Feature

#14152 fixes embeds not causing damage as often when standing
  code/modules/mob/living/carbon/human/life.dm
Labels: Fix

#14155 Revert "Blacklists secondary datacore from various random events and re-adds the airlock"
  _maps/map_files/YogStation/YogStation.dmm
  code/__HELPERS/areas.dm
  code/modules/events/anomaly.dm
  code/modules/events/stray_cargo.dm
Labels: Map Change

#14097 Adds two new ammo types, and crafting recipes
  code/datums/components/crafting/recipes.dm
  code/game/mecha/mecha_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  icons/obj/ammo.dmi
  icons/obj/projectiles.dmi
Labels: Feature, Sprites

#14124 Adds auto tail wagging when happy
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  yogstation/code/modules/mob/living/carbon/human/human.dm
Labels: Feature, Fetish Content

#14164 You can't monkey and unmonkey someone to completely refill their blood anymore
  code/modules/mob/transform_procs.dm
Labels: Fix

#14159 Depleted Uranium Recipe fix
  code/datums/components/crafting/recipes.dm
Labels: Fix

#14169 imagine not testing your code thoroughly: where has all the blood gone? edition
  code/__DEFINES/{yogs_defines}/mobs.dm
  code/modules/mob/transform_procs.dm
Labels: Fix

#14187 Fixes a bunch of stuff because testmerges are for pussies
  code/game/objects/items.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/supermatter_delaminator.dm
  code/game/objects/items/theft_tools.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/events/spacevine.dm
  code/modules/hydroponics/grown/flowers.dm
  code/modules/hydroponics/grown/nettle.dm
Labels: Fix

#13968 [READY]Plague rat
  code/datums/diseases/plague.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/mob/living/simple_animal/hostile/plague_rat.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  yogstation.dme
Labels: DME Edit, Feature

#13971 Ports some funni midround rulesets from TG
  code/__DEFINES/antagonists.dm
  code/__DEFINES/flags.dm
  code/_onclick/hud/blob_overmind.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/modules/antagonists/blob/blob.dm
  sound/ambience/antag/blobalert.ogg
Labels: Feature, Sound

#14098 makes goat king loot worth something
  code/game/turfs/simulated/minerals.dm
  code/modules/mining/equipment/mineral_scanner.dm
  code/modules/mining/ores_coins.dm
  icons/obj/device.dmi
  yogstation/code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
Labels: Feature, Sprites

#14195 Redoes #14102
  code/modules/clothing/head/misc_special.dm
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
  yogstation/code/modules/donor/unique_donator_items.dm
Labels: Feature, Sprites

#14104 Fixes welders repairing people faster than the yused to
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#14158 Re-arranges the Captains office a bit
  _maps/map_files/YogStation/YogStation.dmm
Labels: Tweak, Map Change

#14160 Highpop lag mode starts at 65 ands ends at 60 instead of starts at 60 and ends at 50
  config/config.txt
Labels: Config

#14172 Vampire bat form now does damage if you are forcefully ejected
  yogstation/code/game/gamemodes/vampire/vampire_bat.dm
Labels: Tweak, Awaiting - HC Review

#14178 [s] [admin] Adds credential binding
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/sql_ban_system.dm
Labels: Admin, SQL

#14193 fixes dwarfism
  code/datums/mutations/body.dm
Labels: Fix

#14206 fixes runtime in forceMove if you're forcedMoved to a place that doesn't have a turf yet
  code/game/atoms_movable.dm
Labels: Fix

#14179 repriced hierophant antenna price from 14 to 7tc
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#14201 Revive and aheal procs clear losebreath stacks because sometimes they persisted past death.
  code/modules/mob/living/living.dm
Labels: Tweak

#14085 GaxStation fixes + more loot + REDOS BRIDGE
  _maps/map_files/GaxStation/GaxStation.dmm
  code/game/objects/items/storage/firstaid.dm
  code/modules/power/solar.dm
  code/modules/vending/robotics.dm
Labels: Map Change, Fix

#14094 Makes bloodbrothers start with the makeshift weapons book learned. (Jamie Edition)
  code/modules/antagonists/brother/brother.dm
Labels: Feature

#14115 Adds supermatter golems
  code/modules/mob/living/carbon/human/species_types/golems.dm
Labels: Feature

#14134 Cleaning up/fixing a lot of bad "send to world" code
  code/game/objects/items/plushes.dm
  code/modules/antagonists/clockcult/clock_structures/ratvar_the_clockwork_justicar.dm
  code/modules/security_levels/security_levels.dm
  yogstation/code/modules/admin/admin_verbs.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn.dm
  yogstation/code/modules/antagonists/shadowling/ascendant_shadowling.dm
  yogstation/code/modules/antagonists/shadowling/special_shadowling_abilities.dm
  yogstation/code/modules/guardian/abilities/special/pocket.dm
Labels: Fix

#14185 Firesuit suit storage can hold any internals tank (like the one that comes in the fire closet)
  code/modules/clothing/suits/utility.dm
Labels: Tweak

#14196 Gives you a warning if you try to upload custom law regular MMIs to cyborgs and also a new description for MMI
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/living/brain/MMI.dm
Labels: Feature

#14200 Fixes the glowy mutation always being blood red instead of your mutation color
  code/datums/mutations/body.dm
Labels: Fix

#14163 Adds APC and different areas for the multiple air alarms.. why could you siphon interrogation from perma..
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/game/area/Space_Station_13_areas.dm
Labels: Tweak, Map Change

#14222 Prevents you from getting supermatter golems through xenobio extracts
  code/modules/mob/living/carbon/human/species_types/golems.dm
Labels: Tweak

#14218 Destroying the spare id/fireaxe cabinet now drops the items
  yogstation/code/game/objects/structures/fireaxe.dm
Labels: Tweak
