Repository yogstation13/Yogstation, pull requests merged in 2022-11, with the labels that each got.

#16306 Fix fishing bonus not properly given to mob when riding lavaboat
  code/modules/vehicles/lavaboat.dm
  yogstation/code/datums/components/fishingbonus.dm
Labels: Fix

#16337 Someone forgot to place a disposal pipe on asteroid cargo bay
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Map Change

#16338 Connect Power Grid to Arrivals area (Asteroid Station)
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Map Change

#16347 Hopefully fixes the NTSL crash / "maint access spam"
  yogstation/code/game/machinery/telecomms/machines/server.dm
Labels: Feature

#16341 No longer lets geneless species use genetics injectors
  code/game/objects/items/dna_injector.dm
Labels: Fix

#16336 Fix a 4 years bug for zombie_infection organ not fully executed all the procs because of a "!" statement, GOod job Jordan Brown.
  code/modules/zombie/organs.dm
Labels: Fix

#16344 [ASTEROID] adjust id in exterior airlock cycle button on ai sat to exterior instead of interior (Please review this baiomu)
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Map Change

#16386 Align oversight in moth code
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
Labels: Fix

#16300 Disables TEG from engine rotation, new engine rotation is 50/50 SM:Sing/Tesla
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Tweak, Revert / Deletion, i ded, Awaiting - Action - HD

#16292 makes the syndicate hardlight bow 33% cheaper because the mini ebow still exists lmao
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#16247 swaps out soulstone tendril loot for a new one called seismic right arm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mining/lavaland/seismicarm.dm
  icons/mob/actions/actions_arm.dmi
  icons/mob/augmentation/augments_seismic.dmi
  yogstation.dme
Labels: DME Edit, Feature, Revert / Deletion, Sprites

#16250 adds a single spark visual to malf ai's machine overload
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
Labels: Tweak

#16154 Makes Plasma materials can reduce radiation strength from travelling through
  code/__DEFINES/radiation.dm
  code/datums/radiation_wave.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/doors/shutters.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/wall/mineral_walls.dm
  code/game/turfs/simulated/wall/reinf_walls.dm
  code/modules/power/supermatter/supermatter.dm
Labels: Feature, Sprites

#16125 Makes vial boxes printable and lets them go in the medical belt
  code/game/objects/items/storage/lockbox.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature, Tweak

#16324 Chance of shooting grenades in people's hands and tanks on people's flamethrowers reduced to 5% from 15
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/grenades/grenade.dm
Labels: Tweak

#16405 Gives hisa Hunter stash, if you don't know what that is then your prob not a hunter
  yogstation/code/modules/clothing/donator.dm
  yogstation/code/modules/donor/unique_donator_items.dm
  yogstation/icons/mob/clothing/hands/hands.dmi
  yogstation/icons/mob/clothing/suit/suit.dmi
  yogstation/icons/mob/clothing/uniform/uniform.dmi
  yogstation/icons/obj/clothing/gloves.dmi
  yogstation/icons/obj/clothing/suits.dmi
  yogstation/icons/obj/clothing/uniforms.dmi
Labels: Sprites

#16410 changes seismic arm sprite to the cuackles version
  icons/mob/augmentation/augments_seismic.dmi
Labels: Sprites

#16404 Remove mediborg pinpointer due to having access to the Lifeline modular computer program
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/research/designs/mechfabricator_designs.dm
Labels: Revert / Deletion

#16391 fixes rust blade attacks consistently calling rust_heretic_act when they shouldn't be able to becausethat's for mansus grasp
  code/modules/antagonists/eldritch_cult/knowledge/rust_lore.dm
Labels: Fix

#16427 remove rainbow cannabis stray white pixels
  goon/icons/obj/hydroponics.dmi
Labels: Sprites

#16450 removes undocumented change that completely blocks use of the mech fabricator to EVERYONE who doesn't have robotics access
  code/game/mecha/mech_fabricator.dm
Labels: Revert / Deletion

#16458 headrevs all get flashes
  code/modules/antagonists/revolution/revolution.dm
Labels: Fix

#16351 Fixes NTSL scripts not working
  code/__HELPERS/text.dm
  yogstation/code/game/machinery/telecomms/machines/server.dm
  yogstation/code/modules/scripting/IDE.dm
Labels: Fix

#16468 Fixes the zippo sprite
  icons/obj/cigarettes.dmi
Labels: Fix, Sprites

#16454 fixes research tree to match the removal of the borg crew pinpointer
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#16073 MANKIND IS DEAD. BLOOD IS FUEL. HELL IS FULL. IPC MARTIAL ART
  code/__DEFINES/melee.dm
  code/_onclick/hud/alert.dm
  code/datums/martial.dm
  code/datums/martial/ultra_violence.dm
  code/game/atoms.dm
  code/game/objects/items/granters.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/projectiles/gun.dm
  icons/mob/screen_alert.dmi
  yogstation.dme
  yogstation/code/modules/uplink/uplink_item.dm
Labels: DME Edit, Feature, Sprites, Test Merge - Requested

#16091 [META] Reworks Meta Service to be less bad and also reworks science too a little to fit it and more stuff
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#16114 Makes EMPs disable robotic limbs and cause stamina damage instead of completely paralyzing you for having one
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Tweak

#16290 Removes the Bag of Holding steal objective
  code/game/gamemodes/objective_items.dm
Labels: Revert / Deletion

#16304 Hepatectomy
  code/modules/surgery/hepatectomy.dm
  code/modules/surgery/organs/liver.dm
  yogstation.dme
Labels: DME Edit, Feature

#16309 [READY] Gives ability for free golem, free miner and delta station crew to research on a new research network, also minor tweaks
  _maps/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/shuttles/whiteship_miner.dmm
  code/__DEFINES/research.dm
  code/controllers/subsystem/research.dm
  code/modules/research/rdconsole.dm
  code/modules/research/techweb/_techweb.dm
Labels: Map Change

#16318 Preternis tweaks
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Tweak

#16321 antags can no longer have fun in the ninja dojo on CC
  yogstation/code/game/objects/structures/ghostbeacon.dm
Labels: Fix

#16322 Changes the Monochromacy quirk to be worth -2
  code/datums/traits/negative.dm
  code/datums/traits/neutral.dm
Labels: Tweak

#16329 Suit sensor monitor minor visual changes for QoL
  code/game/machinery/computer/crew.dm
  tgui/packages/tgui/interfaces/CrewConsole.js
Labels: Feature, tgui, Javascript

#16332 Fixes various bugs picked up by an OpenDream compile attempt
  code/__DEFINES/mobs.dm
  code/modules/antagonists/bloodsuckers/bloodsucker_integration.dm
  code/modules/antagonists/bloodsuckers/structures/bloodsucker_crypt.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/clothing/chameleon.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  yogstation/code/game/objects/items/plushes.dm
Labels: Fix

#16340 Adds digitigrade prosthetics
  code/datums/traits/negative.dm
  code/game/objects/items/robot/robot_parts.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/prosthetic_replacement.dm
  icons/mob/augmentation/augments.dmi
  icons/mob/augmentation/augments_engineer.dmi
  icons/mob/augmentation/augments_mining.dmi
  icons/mob/augmentation/augments_security.dmi
  icons/mob/augmentation/surplus_augments.dmi
Labels: Feature, Sprites

#16343 hypospray examine now says if there is a speed upgrade installed
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Fix

#16354 centers asteroidstation cargo room, puts cargo console by the bay doors, moves things around
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Map Change, Fix

#16360 Standardizes arrow speed to be slower than shotgun slugs (but energy arrows are faster WOW!)
  code/modules/projectiles/projectile/reusable/arrow.dm
Labels: Tweak

#16366 Cheese staff now properly reverts after a duration
  code/modules/mob/living/simple_animal/friendly/cheese.dm
  code/modules/projectiles/projectile/magic.dm
Labels: Fix

#16369 Code cleaning for photogeists
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
Labels: Revert / Deletion

#16375 Increases throw force & knockdown of most shuttles
  code/datums/shuttles.dm
  code/modules/shuttle/arrivals.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/shuttle.dm
Labels: Tweak, Balance, Awaiting - Action - Balance Review

#16379 [READY] Adds Lore-Based Paperwork to the game
  code/game/objects/items/devices/PDA/PDA.dm
  yogstation/code/game/objects/items/premadepapers.dm
Labels: Feature

#16381 Merges basalt and granite generation so it doesn't interate over 2/3 of Lavaland twice per node of hard stuff
  code/datums/mapgen/Cavegens/LavalandGenerator.dm
Labels: Tweak

#16388 Crew pinpointer/lifeline program can track mob has monitor nanite, also fix mob has same name overwriting each others in lifeline app
  code/game/objects/items/pinpointer.dm
  code/modules/modular_computers/file_system/programs/radar.dm
Labels: Feature

#16392 Paperwork Printing Program for Modular Computers
  code/modules/modular_computers/computers/item/phone/phone_presets.dm
  code/modules/modular_computers/file_system/programs/paperworkprinter.dm
  tgui/packages/tgui/interfaces/NtosPaperworkPrinter.js
  yogstation.dme
  yogstation/code/game/objects/items/premadepapers.dm
Labels: DME Edit, Feature, tgui, Javascript

#16393 fixes a runtime in inventory.dm
  code/modules/mob/inventory.dm
Labels: Fix

#16395 Fixes Security Incident Report Form
  yogstation/code/game/objects/items/premadepapers.dm
Labels: Tweak

#16398 Bodies copy damage to chairs
  code/modules/mob/living/carbon/human/species.dm
Labels: Tweak

#16400 You are now able to construct/deconstruct floor light
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/power/lighting.dm
  icons/obj/lighting.dmi
Labels: Feature, Sprites

#16401 mech strafe fix
  code/game/mecha/mecha.dm
Labels: Fix

#16402 mech pilot suits make you better at piloting
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/mecha.dm
Labels: Tweak, Balance, Awaiting - Action - Balance Review

#16408 7.62mm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
Labels: i ded

#16411 Fixes some gas reactions not being stopped by hypernoblium
  code/game/turfs/open.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Fix

#16419 Swarmer can no longer breach plasma, trit, hydrogen and any burning chambers
  code/modules/swarmers/swarmer_act.dm
Labels: Tweak

#16431 Delete duplicate sprites
  icons/mob/human_face.dmi
Labels: Sprites

#16437 Lets robotic limbs be self amputated
  code/modules/surgery/amputation.dm
Labels: Tweak

#16444 Microwaving a bomb core now causes it to explode
  code/game/machinery/syndicatebomb.dm
Labels: Feature

#16446 Mail Changes - The Insane Rambling of a Man Cursed with Too Much Mail
  code/__DEFINES/economy.dm
  code/controllers/subsystem/economy.dm
  code/game/objects/items/mail.dm
  code/modules/shuttle/supply.dm
Labels: Tweak

#16448 Small tweak to pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

#16452 Makes Crusher Lavaproof
  code/modules/mining/equipment/kinetic_crusher.dm
Labels: Tweak

#16453 Updates rods so you can ACTUALLY MAKE KEBABS WITH MORE THAN ONE METAL ROD IN HAND
  code/game/objects/items/stacks/rods.dm
Labels: Tweak

#16455 Adds Backstab Knife to uplink
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/items/weaponry.dm
  code/modules/uplink/uplink_items.dm
  yogstation.dme
  yogstation/code/datums/components/backstabs.dm
Labels: DME Edit, Feature, Tweak, Revert / Deletion

#16493 Fix template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Feature, Tweak, Fix, Revert / Deletion

#16456 Makes splashing reagents on someone respect their permeability protection
  code/modules/reagents/chemistry/holder.dm
Labels: Fix

#16457 genderswap potion is no longer instant when being used on a second party
  code/modules/research/xenobiology/xenobiology.dm
Labels: Tweak

#16461 makes lavaland swarmer beacon drop seismic arm
  code/modules/mob/living/simple_animal/hostile/megafauna/swarmer.dm
Labels: Feature

#16462 you can no longer noclip others with seismic arm
  code/modules/mining/lavaland/seismicarm.dm
Labels: Fix

#16464 Tweaks medspray cans to be usable
  code/modules/reagents/reagent_containers/medspray.dm
Labels: Tweak

#16463 Buffs Beds and Holobeds for surgery
  code/game/objects/structures/beds_chairs/bed.dm
  code/game/objects/structures/holosign.dm
Labels: Tweak

#16483 [Meta] Adds insuls and engi goggles to tesla template
  _maps/RandomRuins/StationRuins/MetaStation/meta_singulo_tesla.dmm
Labels: Map Change

#16509 Fixes both arm implant dropping and conjure spells
  code/modules/mob/inventory.dm
Labels: Fix

#16555 Makes you unable to enter mechs as malf AI if you're doomsdaying
  code/game/mecha/mecha.dm
Labels: Revert / Deletion

#16511 Fixes gunpoint being stealth removed from the game entirely by a half-failed copypaste
  code/modules/projectiles/gun.dm
Labels: Fix

#16589 [META] Removes the scientist spawn in the server room that they DO NOT HAVE ACCESS TO (who the fuck added that)
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#16558 [Meta] Adds a third pump and a space injector to toxins
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#16479 Fix lights being broken (not updating) when smoke dissipates
  code/game/objects/effects/effect_system/effects_smoke.dm
Labels: Fix

#16603 [META] Tesla template now has a couple more lights to make it less dark
  _maps/RandomRuins/StationRuins/MetaStation/meta_singulo_tesla.dmm
Labels: Map Change

#16234 GIANT MECHS WITH SWORDS WOOOOOO
  code/game/mecha/combat/combat.dm
  code/game/mecha/combat/durand.dm
  code/game/mecha/combat/marauder.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/weapons/melee_weapons.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/mecha/mecha_topic.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/research/techweb/layout.dm
  icons/effects/96x96.dmi
  icons/mecha/mecha_equipment.dmi
  sound/weapons/mechasword.ogg
  yogstation.dme
Labels: Feature, Tweak, Sound, Sprites

#16342 Adds more job specific mail items
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/warden.dm
  yogstation/code/modules/jobs/job_types/network_admin.dm
  yogstation/code/modules/jobs/job_types/paramedic.dm
  yogstation/code/modules/jobs/job_types/psychiatrist.dm
Labels: Feature

#16350 ruins lavaland teleport cubes
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Tweak

#16359 Adds Limb Autosurgeons and two Syndicate augmentation kits
  code/game/objects/items/implants/implant_misc.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature, Tweak

#16365 Remove noob bait
  code/game/machinery/computer/camera_advanced.dm
Labels: Feature

#16371 Rebalance nukie mechs
  code/modules/uplink/uplink_items.dm
Labels: Tweak, Balance, Awaiting - Action - Balance Review

#16382 Increase the strength/resistance of clockcult windows and walls.
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/wall/misc_walls.dm
Labels: Tweak, Balance, Awaiting - Action - Balance Review

#16384 Clockwork cultists now appear on the manifest and have their metatells stored in their bag instead of being noob bait
  code/game/gamemodes/clock_cult/clock_cult.dm
Labels: Fix

#16372 Nukie mechs no longer get discount
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#16397 reduces the validhunting capabilities of syringe guns by making piercing syringes not fit into most syringe guns
  code/modules/projectiles/guns/misc/syringe_gun.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak, Balance, Awaiting - Action - Balance Review

#16465 Lets gummies be stored in the fridge
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: Feature, Tweak, Fix, Revert / Deletion

#16466 Adds Mechanical dental implant
  code/modules/surgery/dental_implant.dm
Labels: Feature

#16470 Viruses now spread as advertised
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#16475 Helps Doctors Follow SOP (Ported From BeeStation)
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/__DEFINES/obj_flags.dm
  code/game/machinery/iv_drip.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/anesthesia_machine.dm
  icons/obj/iv_drip.dmi
  yogstation.dme
Labels: DME Edit, Feature, Map Change, Sprites

#16477 adds trim piece on box medbay (very importante)
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#16478 Fixes embedded syringes not triggering reagent reactions
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Fix

#16480 Hugboxes cerulean poly-crystal killing your antag round for trying to use it
  code/modules/research/xenobiology/crossbreeding/_misc.dm
Labels: Tweak, Fix

#16489 Add a new hack wire for advanced airlock controller that can toggle cycle by pulsing
  code/datums/wires/airlock_cycle.dm
Labels: Feature, Tweak

#16491 Changelings will be set to an absorbable species on antag gain
  code/modules/antagonists/changeling/changeling.dm
Labels: Fix

#16498 Station bounce radio QoL changes and tweaks
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/carbon/human/say.dm
Labels: Feature, Javascript

#16499 Let Snellie play the game again
  code/datums/shuttles.dm
Labels: Tweak

#16502 Fixes issue with lore paperwork not having valid ids
  yogstation/code/game/objects/items/premadepapers.dm
Labels: Fix

#16505 Cargo budget now gets 50% payment from energy harvester
  code/controllers/subsystem/economy.dm
Labels: Tweak

#16507 Various Meta Fixes
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#16514 New plasmamen helmets
  code/_globalvars/lists/flavor_misc.dm
  code/modules/client/preferences.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  icons/mob/clothing/head/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Feature, Sprites

#16515 Plasmeme eyes no longer get roasted when welding
  code/game/objects/items/tools/weldingtool.dm
Labels: Tweak

#16517 Uplinked ERT report now shows what they bought
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/uplink/uplink_purchase_log.dm
Labels: Tweak, Admin

#16526 Lets alt click toggle T scanners and mining scanners
  code/game/objects/items/devices/scanners.dm
Labels: Tweak

#16527 Minebots no longer passively die on jungleland
  code/modules/mining/minebot.dm
Labels: Tweak

#16529 Makes atmos holofan barriers fireproof
  code/game/objects/structures/holosign.dm
Labels: Tweak

#16538 Fix supermatter bump consistency issues
  code/modules/power/supermatter/supermatter.dm
Labels: Fix

#16539 fixes z check in regenerative core status effect
  code/datums/status_effects/buffs.dm
Labels: Fix

#16548 Buff eldritch horror
  code/modules/antagonists/horror/horror.dm
Labels: Tweak

#16550 Give heretics a free blade to start with
  code/modules/antagonists/eldritch_cult/knowledge/ash_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/rust_lore.dm
Labels: Tweak

#16556 Added check for AI in mecha wreckage repair
  code/game/mecha/mecha_wreckage.dm
Labels: Fix

#16557 reenables traitorvamp
  config/game_options.txt
Labels: Tweak, Config

#16559 Ruin tech research bug fixes, and minor map change fixes
  _maps/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/shuttles/whiteship_miner.dmm
  code/game/mecha/mech_fabricator.dm
  code/modules/research/rdconsole.dm
  tgui/packages/tgui/interfaces/ExosuitFabricator.js
Labels: Map Change, Fix, tgui, Javascript

#16562 Adds new stealthy traitor item (spy bug)
  code/game/objects/items/devices/spy_bug.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/device.dmi
  yogstation.dme
Labels: DME Edit, Feature, Sprites

#16564 Mecha QoL changes
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_topic.dm
Labels: Feature

#16566 Fix bug
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
Labels: Fix

#16568 Debones your plantpeople
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
Labels: Tweak

#16569 Creampie landmine
  code/game/objects/effects/mines.dm
Labels: Feature

#16570 Nerf reinforced windows
  code/game/objects/structures/window.dm
Labels: Tweak

#16571 Fixes players spawning on the title screen if they had no jobs enabled
  code/modules/mob/dead/new_player/new_player.dm
Labels: Fix

#16574 Makes bomb armour more effective
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Tweak

#16575 bloodsucker coffin torpor is better
  code/modules/antagonists/bloodsuckers/structures/bloodsucker_life.dm
Labels: Tweak

#16578 no more ipc zombies
  code/modules/zombie/organs.dm
Labels: Fix

#16579 Mining medic gets a single synthflesh spray in their locker
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Labels: Feature

#16576 Makes message monitor work with NTOS PDAs
  code/game/machinery/telecomms/machines/message_server.dm
Labels: Fix

#16587 Ashtrays are now craftable
  yogstation/code/modules/crafting/recipes.dm
Labels: Feature

#16591 Makes Firestacks examine actually work
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Fix

#16592 Explosive Wheelchair
  code/modules/uplink/uplink_items.dm
  code/modules/vehicles/wheelchair.dm
Labels: Feature

#16596 Can no longer wrap items with nodrop
  code/game/objects/items/stacks/wrap.dm
Labels: Fix

#16345 Conveyor now costs less to build in autolathe and is now printable in cargo protolathe
  code/modules/research/designs/autolathe_designs.dm
Labels: Tweak, Javascript

#16390 Buff SM and singulo power gen due to rad nerf and station needing more power
  code/modules/power/singularity/singularity.dm
  code/modules/power/supermatter/supermatter.dm
Labels: Tweak, Balance, Awaiting - Action - Balance Review

#16602 [ASTEROID] Adds third pump to toxins part 2
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Map Change

#16632 Adds a Mix to waste pipe to meta atmos and 2 bz canisters in place of the extra air canister and oxygen canister
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Feature, Map Change, Revert / Deletion

#16616 Phineas and Ferb - We Wish You a Merry Christmas to Christmas Songs
  code/modules/holiday/holidays.dm
Labels: Feature, Literally the best PR, Awaiting - Merge

#16611 Resprites attachments (I care now Edition)
  icons/obj/guns/attachment.dmi
Labels: Sprites

#16387 Brain damage gun
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/special/mindflayer.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/guns/energy.dmi
  icons/obj/projectiles.dmi
Labels: Feature, Sprites, Balance, Awaiting - Action - Balance Review

#16642 Juggernaut Suit Resprite (EN Edition)
  yogstation/icons/mob/clothing/head/head.dmi
  yogstation/icons/mob/clothing/suit/suit.dmi
  yogstation/icons/obj/clothing/hats.dmi
  yogstation/icons/obj/clothing/suits.dmi
Labels: Sprites

#16656 Revert "Let Snellie play the game again"
  code/datums/shuttles.dm
Labels: Tweak

#16636 Free miner shuttle no longer has a dumb seed vendor that lacks 50% of seeds
  _maps/shuttles/whiteship_miner.dmm
Labels: Map Change

#16673 Removes 2 firelocks from inside atmos incinerator on meta station
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Revert / Deletion

#16643 Fix Holoparasite Teleportation Pad lacking an icon
  yogstation/code/modules/guardian/abilities/minor/teleport.dm
Labels: Fix

#16671 Moves Engine pipe from pure to mix and the position of one connector in atmos fixes an incorrectly labelled area
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Feature, Map Change, Revert / Deletion, Awaiting - Merge

#16674 Removes two trophy cases from meta library
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Revert / Deletion

#16660 adds an additional rare cat name
  code/modules/mob/living/simple_animal/friendly/cat.dm
Labels: Tweak

#16720 #spriting tricked me into respriting the Contractor baton
  icons/obj/weapons/baton.dmi
Labels: Sprites

#16364 GENIUS ALTERNATE CLOCKCULT BUFF DESIGNED BY https://github.com/cuackles
  code/game/gamemodes/clock_cult/clock_cult.dm
  code/modules/antagonists/clockcult/clock_helpers/power_helpers.dm
Labels: Tweak

#16396 SuperMatter now reacts with new gases + new reactions
  code/modules/power/supermatter/supermatter.dm
Labels: Feature, Fix
