Repository yogstation13/Yogstation, pull requests merged in 2022-02, with the labels that each got.

#12781 Ports "Adds borg tablets, and RoboTact as a borg self-management app"
  code/__DEFINES/machines.dm
  code/_onclick/cyborg.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ai.dm
  code/_onclick/hud/robot.dm
  code/datums/wires/robot.dm
  code/game/machinery/computer/robot.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/silicon/robot/death.dm
  code/modules/mob/living/silicon/robot/laws.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/computer_ui.dm
  code/modules/modular_computers/computers/item/integrated_tablet.dm
  code/modules/modular_computers/computers/item/integrated_tablet_presets.dm
  code/modules/modular_computers/computers/item/tablet.dm
  code/modules/modular_computers/computers/machinery/modular_computer.dm
  code/modules/modular_computers/file_system/programs/antagonist/revelation.dm
  code/modules/modular_computers/file_system/programs/borg_monitor.dm
  code/modules/modular_computers/file_system/programs/crew_monitor.dm
  code/modules/modular_computers/file_system/programs/radar.dm
  code/modules/modular_computers/file_system/programs/robotact.dm
  code/modules/modular_computers/file_system/programs/secureye.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  code/modules/modular_computers/hardware/network_card.dm
  code/modules/modular_computers/hardware/recharger.dm
  code/modules/photography/camera/silicon_camera.dm
  code/modules/tgui/states.dm
  icons/mob/screen_cyborg.dmi
  icons/obj/modular_tablet.dmi
  icons/program_icons/robotact.gif
  tgui/packages/tgui/interfaces/NtosCyborgRemoteMonitor.js
  tgui/packages/tgui/interfaces/NtosMain.js
  tgui/packages/tgui/interfaces/NtosRobotact.js
  yogstation.dme
  yogstation/code/modules/antagonists/darkspawn/darkspawn_objects/umbral_tendrils.dm
  yogstation/code/modules/antagonists/shadowling/shadowling_abilities.dm
Labels: Feature, Tweak, Revert / Deletion, Sprites

#13150 My brain hurts - Dynamic fixes, small additions to station traits to make dynamic not cry.
  code/__DEFINES/station.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/processing/station.dm
  code/datums/station_traits/_station_trait.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/game/gamemodes/extended/extended.dm
  code/game/gamemodes/game_mode.dm
  code/modules/admin/topic.dm
  config/config.txt
  config/game_options.txt
Labels: Feature, Config, Fix, Admin, Awaiting - HC Review

#13158 Glamrock peacekeeper for donators skins
  yogstation/code/modules/donor/borg_ai_skin_datums.dm
  yogstation/icons/mob/DonorRobots.dmi
Labels: Feature, Sprites

#13182 remvoes sleep immnity from stimulum bc i cant be assed to find out how to force sleep people
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Revert / Deletion

#13188 Several minor heretic qol changes and whoops I left something in
  code/game/alternate_appearance.dm
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_book.dm
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
  code/modules/antagonists/eldritch_cult/eldritch_items.dm
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
  code/modules/antagonists/eldritch_cult/eldritch_magic.dm
  code/modules/antagonists/eldritch_cult/eldritch_transmutations.dm
  code/modules/antagonists/eldritch_cult/knowledge/rust_lore.dm
  code/modules/antagonists/eldritch_cult/transmutations/flesh_transmutations.dm
Labels: Tweak

#13189 Scattershootierer
  code/game/mecha/equipment/weapons/weapons.dm
Labels: Tweak

#13197 Mother M(A.I.) Lawset
  code/datums/ai_laws.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/AI_modules.dm
  code/modules/research/designs/AI_module_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature

#13202 Fix gamebreaking bug with personality commune
  code/modules/spells/spell_types/personality_commune.dm
Labels: Fix

#12966 Adds lesser sentience potion as an uplink item (traitor)
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature, Awaiting - Action - Maintainer

#13220 Fixes borg integrated tablets
  code/_onclick/hud/robot.dm
  code/modules/modular_computers/computers/item/integrated_tablet.dm
  code/modules/modular_computers/file_system/programs/robotact.dm
Labels: Fix

#13181 Adds 2 more horns and dorsal tubes
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/mutant_bodyparts.dmi
Labels: Sprites

#13190 Janitor maid dress resprite! ~Flowering Night edition~
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Sprites

#13192 Make the headphones sprite consistent
  icons/mob/ears.dmi
  icons/mob/neck.dmi
Labels: Tweak, Sprites

#13207 Adds dusty mask to the game
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/vending/autodrobe.dm
  icons/mob/mask.dmi
  icons/obj/clothing/masks.dmi
Labels: Feature, Sprites

#13205 Gives Expansion Cards their own sprite
  code/modules/mob/living/silicon/ai/decentralized/expansion_card_holder.dm
  icons/obj/machines/telecomms.dmi
Labels: Feature, Sprites

#13208 Adds all current carpets to the /open/indestructible/ subtypes, and two walls.
  code/game/turfs/closed.dm
  code/game/turfs/open.dm
Labels: Feature

#13215 Gives Ethereals face shape options and access to hair gradients
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  icons/mob/mutant_bodyparts.dmi
Labels: Feature, Sprites, Admin

#13196 Reworks functionally all of Metastation Engineering and Atmospherics (that isn't engine room)
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Tweak, Map Change

#13235 Readds gas miners to metastation
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Fix

#13237 [box] Fixes the new secondary data core
  _maps/map_files/YogsBox/YogsBox.dmm
Labels: Map Change, Fix

#13236 Fixed vote panel being broken
  tgui/packages/tgui/interfaces/Vote.js
  tgui/yarn.lock
Labels: Fix, tgui, Javascript, Dependencies

#13243 Fixed paraplegic not working under many conditions
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: Fix

#13239 Fix rough metal walls and fake rough metal walls dropping the wrong number of rods
  code/game/objects/structures/false_walls.dm
  code/game/turfs/simulated/wall/mineral_walls.dm
Labels: Fix

#13252 Fixes the mining base infirmary
  _maps/RandomRuins/LavaRuins/miningbase.dmm
Labels: Map Change, Fix

#13218 Medbay noises
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/stacks/medical.dm
  code/modules/cargo/export_scanner.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/growninedible.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seeds.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  sound/effects/checkout.ogg
  sound/effects/fastbeep.ogg
  sound/effects/hypospray.ogg
  sound/effects/ointment.ogg
  sound/effects/ping.ogg
  sound/effects/rip1.ogg
  sound/effects/rip2.ogg
  sound/effects/scanbeep.ogg
Labels: Sound

#13144 Ports "Environment Protection Bags + Minor Weather Changes" and others
  code/__DEFINES/combat.dm
  code/datums/weather/weather.dm
  code/datums/weather/weather_types/acid_rain.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/datums/weather/weather_types/floor_is_lava.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/datums/weather/weather_types/snow_storm.dm
  code/game/atoms_movable.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/mining/machine_vending.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/hunter.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/jungle/_jungle_mobs.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/swarmer.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/gutlunch.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/mob/living/simple_animal/hostile/skeleton.dm
  code/modules/shuttle/emergency.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/bodybag.dmi
Labels: Feature, Tweak

#13117 Computer noises
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/computer_ui.dm
  code/modules/modular_computers/computers/item/processor.dm
  code/modules/modular_computers/computers/item/tablet.dm
  code/modules/modular_computers/computers/machinery/modular_computer.dm
  code/modules/modular_computers/computers/machinery/telescreen.dm
  code/modules/modular_computers/file_system/programs/airestorer.dm
  code/modules/modular_computers/file_system/programs/antagonist/contract_uplink.dm
  code/modules/modular_computers/file_system/programs/antagonist/dos.dm
  code/modules/modular_computers/file_system/programs/antagonist/revelation.dm
  code/modules/modular_computers/file_system/programs/arcade.dm
  code/modules/modular_computers/file_system/programs/borg_monitor.dm
  code/modules/modular_computers/file_system/programs/bounty_board.dm
  code/modules/modular_computers/file_system/programs/crewmanifest.dm
  code/modules/modular_computers/file_system/programs/energyharvestercontrol.dm
  code/modules/modular_computers/file_system/programs/file_browser.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
  code/modules/modular_computers/file_system/programs/ntdownloader.dm
  code/modules/modular_computers/file_system/programs/ntmonitor.dm
  code/modules/modular_computers/file_system/programs/ntnrc_client.dm
  code/modules/modular_computers/file_system/programs/radar.dm
  code/modules/modular_computers/file_system/programs/robocontrol.dm
  code/modules/modular_computers/file_system/programs/robotact.dm
  code/modules/modular_computers/file_system/programs/sm_monitor.dm
  sound/machines/computers/computer_end.ogg
  sound/machines/computers/computer_start.ogg
  sound/machines/computers/keypress1.ogg
  sound/machines/computers/keypress2.ogg
  sound/machines/computers/keypress3.ogg
  sound/machines/computers/keypress4.ogg
  sound/machines/computers/keystroke1.ogg
  sound/machines/computers/keystroke2.ogg
  sound/machines/computers/keystroke3.ogg
  sound/machines/computers/keystroke4.ogg
  sound/machines/computers/pda_click.ogg
Labels: Sound

#13229 Adds a new crusher trophy: malformed bone
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  icons/obj/lavaland/artefacts.dmi
Labels: Feature, Sprites

#13242 Thrumboat (Thrumbo goat)
  yogstation/code/modules/mob/living/simple_animal/friendly/goats.dm
  yogstation/icons/mob/goats/thrumbo.dmi
Labels: Feature, Sprites

#13256 removes shoes.dmi that i forgot in the wrong place
  yogstation/shoes.dmi
Labels: Fix, Sprites

#13250 PORTS NSV POOLS FOR REALSIES THIS TIME
  _maps/map_files/YogsBox/YogsBox.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  _maps/shuttles/emergency_luxury.dmm
  code/__DEFINES/components.dm
  code/__DEFINES/movespeed_modification.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/pool/components/swimming.dm
  code/modules/pool/components/swimming_dissolve.dm
  code/modules/pool/components/swimming_ethereal.dm
  code/modules/pool/components/swimming_felinid.dm
  code/modules/pool/components/swimming_golem.dm
  code/modules/pool/pool.dm
  code/modules/pool/pool_items.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/inhands/weapons/melee_lefthand.dmi
  icons/mob/inhands/weapons/melee_righthand.dmi
  icons/obj/pool.dmi
  sound/effects/splash.ogg
  sound/effects/splosh.ogg
  yogstation.dme
Labels: DME Edit, Feature, Map Change, Sound, Sprites, Awaiting - Action - Maintainer, Map - Approved

#13251 Adds Reactive Stealth Armor Cooldown
  code/modules/clothing/suits/reactive_armour.dm
Labels: Tweak

#13258 ports the icemoon inn to lavaland
  _maps/RandomRuins/LavaRuins/lavaland_surface_biodome_winter_inn.dmm
  code/datums/ruins/lavaland.dm
  config/lavaruinblacklist.txt
Labels: Feature, Map Change, Config

#13266 Fixes a stupid blindspot for AI on box
  _maps/map_files/YogsBox/YogsBox.dmm
Labels: Feature, Map Change

#13233 Makes mindslave antag hud actually show up for admins/round end + better icon
  yogstation/icons/mob/hud.dmi
Labels: Feature, Sprites

#12912 [AI] Upgrade Expansion | Now featuring induction!
  code/__DEFINES/ai.dm
  code/_onclick/ai.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/decentralized/management/ai_dashboard.dm
  code/modules/mob/living/silicon/ai/decentralized/projects/_ai_project.dm
  code/modules/mob/living/silicon/ai/decentralized/projects/ai_huds.dm
  code/modules/mob/living/silicon/ai/decentralized/projects/camera_mobility.dm
  code/modules/mob/living/silicon/ai/decentralized/projects/examine.dm
  code/modules/mob/living/silicon/ai/decentralized/projects/firewall.dm
  code/modules/mob/living/silicon/ai/decentralized/projects/induction.dm
  code/modules/mob/living/silicon/ai/decentralized/projects/surveillance.dm
  code/modules/mob/living/silicon/ai/life.dm
  icons/mob/actions/actions_AI.dmi
  tgui/packages/tgui/interfaces/AiDashboard.js
  yogstation.dme
Labels: Feature, Map Change, Sprites, tgui, Javascript, AI Revamp

#13257 Adds a secondary AI core to Eclipse, as well as a tutorial holodisk. Refurbished OmegaStation AI core.
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/datums/holocall.dm
Labels: Feature, Map Change, Fix

#12906 makes wheelchairs able to pass through turnstiles (maybe((idontactuallyknowhowtocode(((help)))
  code/game/machinery/doors/ministile.dm
  code/game/machinery/doors/turnstile.dm
Labels: Fix

#13269 Adds an anomaly core to blob death, because why not.
  code/modules/antagonists/blob/structures/_blob.dm
Labels: Feature

#13286 guranteed
  code/modules/food_and_drinks/food/snacks_vend.dm
Labels: Fix

#13265 Fixes mining medic's PDA not being assigned to them roundstart
  yogstation/code/modules/jobs/job_types/mining_medic.dm
Labels: Fix

#13264 Bible is only antimagic if you are a true worshipper
  code/datums/components/anti_magic.dm
  code/game/objects/items/storage/book.dm
Labels: Tweak

#13289 Makes only the core drop the cores instead of every blob tile
  code/modules/antagonists/blob/structures/_blob.dm
  code/modules/antagonists/blob/structures/core.dm
Labels: Fix

#13294 fixes an airlock to space on meta
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Fix

#13285 CHEESIE honkers is now considered CHEESE for mice
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Feature

#13274 Ports and fixes Singularity Hammer in hand sprites + new Mjolnir sprites from TG
  icons/mob/inhands/weapons/hammers_lefthand.dmi
  icons/mob/inhands/weapons/hammers_righthand.dmi
  icons/obj/wizard.dmi
Labels: Sprites

#13209 Ports "Ports TGMC smartfridge sprites, remakes security TV and Booze-o-Mat sprites!"
  icons/obj/computer.dmi
  icons/obj/vending.dmi
Labels: Sprites

#13307 AI Core Holodisk now appears on YogsBox.
  _maps/map_files/YogsBox/YogsBox.dmm
Labels: Map Change

#13249 Ion lawset expansion
  code/controllers/configuration/entries/game_options.dm
  code/datums/ai_laws.dm
  code/modules/events/ion_storm.dm
  config/game_options.txt
Labels: Feature, Tweak, Config

#13319 Fixes body bag boxes
  code/game/objects/items/storage/boxes.dm
Labels: Fix, Sprites

#12938 Checks there are candidates for dynamic rulesets roundstart
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: Feature, Awaiting - Action - Author

#13101 Beam rifles only get three shots
  code/modules/power/cell.dm
Labels: Tweak, i ded

#13198 Clown Propaganda lawset
  code/datums/ai_laws.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/AI_modules.dm
  code/modules/research/designs/AI_module_designs.dm
  code/modules/research/techweb/all_nodes.dm
  config/game_options.txt
Labels: Feature, Config

#13293 Potentially makes AI control code entering not break the laws of mathematics
  code/modules/mob/living/silicon/ai/decentralized/management/ai_controlpanel.dm
Labels: Fix

#13296 Adds a new transfer center variant
  _maps/RandomRuins/StationRuins/BoxStation/transfer10.dmm
  code/modules/pool/pool.dm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Feature, Map Change, Map - Approved

#13297 Ports "Catwalks on top of plating"
  code/__DEFINES/layers.dm
  code/game/machinery/navbeacon.dm
  code/game/objects/structures/catwalk.dm
  code/game/objects/structures/lattice.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/floor/reinf_floor.dm
  code/modules/power/cable.dm
  yogstation.dme
Labels: DME Edit, Feature, Tweak, tgui, Dependencies

#13306 Cluwnes shouldn't get stuck on the visible plane when in the Torment Stage. +No Hiding, No Escape, No Fighting.
  yogstation/code/modules/mob/living/simple_animal/hostile/floor_cluwne.dm
Labels: Feature, Fix

#13313 Adds area restriction to Particle Accelerator, now you can only grief the engine room
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  tgui/packages/tgui/interfaces/ParticleAccelerator.js
  yogstation/code/modules/power/singularity/particle_accelerator/particle_control.dm
Labels: Feature, Map Change, tgui, Javascript

#13322 Removes the formaldehyde from medipens so you dont take like 3 toxin damage every time you use one
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Feature, Tweak, Fix, Revert / Deletion

#13204 Ethical Researcher lawset
  code/datums/ai_laws.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/AI_modules.dm
  code/modules/research/designs/AI_module_designs.dm
  code/modules/research/techweb/all_nodes.dm
  config/game_options.txt
Labels: Feature, Config

#13206 Silicon police lawset
  code/datums/ai_laws.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/AI_modules.dm
  code/modules/research/designs/AI_module_designs.dm
  code/modules/research/techweb/all_nodes.dm
  config/game_options.txt
Labels: Feature, Config

#13315 Tweaks lawset choice weights for full lawset change during ion storm
  config/game_options.txt
Labels: Tweak, Config

#13212 Chaplain departmental lawset
  code/datums/ai_laws.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/AI_modules.dm
  code/modules/research/designs/AI_module_designs.dm
  code/modules/research/techweb/all_nodes.dm
  config/game_options.txt
Labels: Feature, Config

#13320 Adds icons for the arcade program on telescreens
  icons/obj/modular_telescreen.dmi
Labels: Sprites

#13327 adds lobster claw boxing glove reskin to autodrobe
  code/modules/clothing/gloves/boxing.dm
  code/modules/vending/autodrobe.dm
  icons/mob/hands.dmi
  icons/obj/clothing/gloves.dmi
Labels: Sprites

#13247 Janitor lawset
  code/datums/ai_laws.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/AI_modules.dm
  code/modules/research/designs/AI_module_designs.dm
  code/modules/research/techweb/all_nodes.dm
  config/game_options.txt
Labels: Feature, Config

#13304 Silicon Collective lawset
  code/datums/ai_laws.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/AI_modules.dm
  code/modules/research/designs/AI_module_designs.dm
  code/modules/research/techweb/all_nodes.dm
  config/game_options.txt
Labels: Feature, Config

#13303 Meta experiment AI lawset
  code/datums/ai_laws.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/AI_modules.dm
  code/modules/research/designs/AI_module_designs.dm
  code/modules/research/techweb/all_nodes.dm
  config/game_options.txt
Labels: Feature, Config

#13338 [BOUNTY] Fixes dab animation not working | Jamie can't edit my PR to make it not compile edition
  code/__HELPERS/matrices.dm
Labels: Fix, Awaiting - Merge

#13346 You can no longer escape the BoH bomb
  code/datums/components/storage/concrete/bag_of_holding.dm
Labels: Fix, Awaiting - Merge

#13352 Removes the last L word reference in yog
  strings/phobia.json
Labels: Revert / Deletion, Awaiting - Merge
