Repository yogstation13/Yogstation, pull requests merged in 2022-10, with the labels that each got.

#15991 [AsteroidStation] Asteroid Hotfix
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Feature, Tweak, Map Change

#15965 litterarlly unplayable
  _maps/map_files/generic/CentCom.dmm
Labels: Map Change, Fix

#15987 Gem bag.
  code/modules/mining/mine_items.dm
Labels: Feature

#15837 Adds Broken Subtypes of Floors That Can Be Broken
  code/game/objects/structures/fluff.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  code/game/turfs/simulated/floor/mineral_floor.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  code/game/turfs/simulated/floor/plasteel_floor.dm
  code/game/turfs/simulated/floor/plating.dm
Labels: Feature, Fix

#14709 [Ready][Bounty] Adds new racial martial arts
  code/__DEFINES/melee.dm
  code/_onclick/hud/blob_overmind.dm
  code/datums/martial.dm
  code/game/objects/items/granters.dm
  yogstation.dme
  yogstation/code/datums/martial/explosive_fist.dm
  yogstation/code/datums/martial/garden_warfare.dm
  yogstation/code/datums/martial/stealth.dm
  yogstation/code/modules/uplink/uplink_item.dm
Labels: DME Edit

#15142 Unreverts #7770, & makes Mech RCDs have variable power use
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/objects/items/RCD.dm
Labels: Tweak, Fix

#15697 Makes Ice Wing Watcher Crusher Trophy Work Like Iceblock Talisman & Buffs Magma Wing Trophy
  code/modules/mining/equipment/kinetic_crusher.dm
Labels: Tweak

#15714 Reduces Minimum Brightness Of Character Preference Colors
  code/modules/client/preferences.dm
Labels: Tweak

#15735 Modular Computer Themes and PDA theme game preference option
  code/__DEFINES/{yogs_defines}/flavor_misc.dm
  code/controllers/subsystem/job.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/file_system/programs/themeify.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  tgui/packages/tgui/assets/bg-admin.svg
  tgui/packages/tgui/assets/bg-cat.svg
  tgui/packages/tgui/assets/bg-neutral.svg
  tgui/packages/tgui/assets/bg-spookycomp-compressed.svg
  tgui/packages/tgui/assets/bg-spookycomp-raw.svg
  tgui/packages/tgui/assets/bg-spookycomp.svg
  tgui/packages/tgui/assets/bg-synthsunset-c-grid-size.svg
  tgui/packages/tgui/assets/bg-synthsunset-c-grid.svg
  tgui/packages/tgui/assets/bg-wizard.svg
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/NtosConfiguration.js
  tgui/packages/tgui/interfaces/NtosMain.js
  tgui/packages/tgui/interfaces/NtosNetChat.js
  tgui/packages/tgui/interfaces/NtosPdaMsg.js
  tgui/packages/tgui/interfaces/NtosThemeConfigure.js
  tgui/packages/tgui/styles/components/Dimmer.scss
  tgui/packages/tgui/styles/themes/ntOS95.scss
  tgui/packages/tgui/styles/themes/ntos_cat.scss
  tgui/packages/tgui/styles/themes/ntos_darkmode.scss
  tgui/packages/tgui/styles/themes/ntos_lightmode.scss
  tgui/packages/tgui/styles/themes/ntos_spooky.scss
  tgui/packages/tgui/styles/themes/ntos_synth.scss
  tgui/packages/tgui/styles/themes/ntos_terminal.scss
  yogstation.dme
Labels: Feature, Fix, tgui, Javascript

#15779 [BOX][ASTEROID][META]Places 2 IPC Revive Boards In Robotech Vendors + Places a Robotech Vendor In Robotics On Three Maps + Removes Duplicate Parts
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/modules/vending/robotics.dm
Labels: Tweak, Map Change

#15796 Advanced & Syndicate Magboots Provide NOSLIP_ICE when active
  code/modules/clothing/shoes/magboots.dm
Labels: Tweak

#15841 Stalwart 3; Its actually scary this time 2
  code/datums/action.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/stalwart.dm
Labels: Tweak

#15847 Reworks the poor aim quirk and all sources of poor aim to be able to stack
  code/datums/martial/flying_fang.dm
  code/datums/traits/negative.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/projectiles/gun.dm
Labels: Fix

#15851 Donator item(s) for Nightmare1234
  code/game/objects/items/cigs_lighters.dm
  code/modules/clothing/under/jobs/medsci.dm
  icons/mob/clothing/uniform/uniform.dmi
  icons/obj/cigarettes.dmi
  icons/obj/clothing/uniforms.dmi
  yogstation/code/modules/clothing/donator.dm
  yogstation/code/modules/donor/unique_donator_items.dm
Labels: Feature, DO NOT MERGE, Sprites, Awaiting - Action - HD

#15863 EMT berets
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/clothing/head/jobs.dm
  icons/mob/clothing/head/head.dmi
  icons/obj/clothing/hats.dmi
  yogstation/code/modules/clothing/head/jobs.dm
  yogstation/code/modules/clothing/suits/labcoat.dm
Labels: Feature, Tweak, Sprites

#15838 Update PULL_REQUEST_TEMPLATE.md to mention mapping tag
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

#15869 Removes the goddamn ability for the intern to goddamn earrape you because some asshole decided to eat his mic and not normalize it afterwards
  sound/ai/intern/alerts/1.ogg
  sound/ai/intern/alerts/10.ogg
  sound/ai/intern/alerts/11.ogg
  sound/ai/intern/alerts/12.ogg
  sound/ai/intern/alerts/13.ogg
  sound/ai/intern/alerts/14.ogg
  sound/ai/intern/alerts/2.ogg
  sound/ai/intern/alerts/3.ogg
  sound/ai/intern/alerts/4.ogg
  sound/ai/intern/alerts/5.ogg
  sound/ai/intern/alerts/6.ogg
  sound/ai/intern/alerts/7.ogg
  sound/ai/intern/alerts/8.ogg
  sound/ai/intern/alerts/9.ogg
  sound/ai/intern/aliens.ogg
  sound/ai/intern/animes.ogg
  sound/ai/intern/commandreport/1.ogg
  sound/ai/intern/commandreport/2.ogg
  sound/ai/intern/commandreport/3.ogg
  sound/ai/intern/granomalies.ogg
  sound/ai/intern/intercept.ogg
  sound/ai/intern/ionstorm.ogg
  sound/ai/intern/meteors.ogg
  sound/ai/intern/outbreak5.ogg
  sound/ai/intern/outbreak7.ogg
  sound/ai/intern/poweroff.ogg
  sound/ai/intern/poweron.ogg
  sound/ai/intern/radiation.ogg
  sound/ai/intern/shuttlecalled.ogg
  sound/ai/intern/shuttledock.ogg
  sound/ai/intern/shuttlerecalled.ogg
  sound/ai/intern/spanomalies.ogg
  sound/ai/intern/welcome/1.ogg
  sound/ai/intern/welcome/2.ogg
  sound/ai/intern/welcome/3.ogg
  sound/ai/intern/welcome/4.ogg
  sound/ai/intern/welcome/5.ogg
  sound/ai/intern/welcome/6.ogg
Labels: Sound

#15874 Revenant Balance Check
  code/modules/antagonists/revenant/revenant.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
Labels: Tweak, Revert / Deletion

#15885 Removes the "undershirt" from the green EMT jacket
  icons/mob/clothing/suit/suit.dmi
Labels: Sprites

#15887 Reduces Phytosian Ammonia/Saltpetre/RobHarv Healing
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
Labels: Tweak

#15912 You can't shriek as changeling while in pipes
  code/modules/antagonists/changeling/powers/shriek.dm
Labels: Revert / Deletion

#15932 Adds Nanite & Wound scans to ghost; Adds Med/Chem/nanite/Wound Scan UI Elements
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ghost.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/observer.dm
  code/modules/mob/dead/observer/observer.dm
  icons/mob/screen_midnight.dmi
  icons/mob/screen_operative.dmi
  icons/mob/screen_plasmafire.dmi
  icons/mob/screen_retro.dmi
  icons/mob/screen_slimecore.dmi
Labels: Feature, Fix, Sprites

#15940 Removes two hijack items from the surplus crate
  code/modules/uplink/uplink_items.dm
Labels: Revert / Deletion

#15948 Allows NT IRN to send the cargo shuttle away from the station if you're a head, QM, or cargo tech
  code/modules/modular_computers/file_system/programs/supply/budgetordering.dm
Labels: Tweak

#15952 Buffs Syndicate Fedora and adds new Syndikit Special around it
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/jobs.dm
Labels: Feature, Tweak

#15962 makes the cargo shuttle ignore crates with unstamped manifests because 1 person got griefed by a clown
  code/modules/shuttle/supply.dm
Labels: Tweak

#15969 Removes gang from mode rotation. It can still be admin forceed
  config/game_options.txt
Labels: Tweak, Config, Revert / Deletion, i ded

#15971 [Admin] Adds New Admin "Offer Rename" Verb
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Feature, Admin

#15974 Makes Space Dragons Cost 5 more Threat on Dynamic
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
Labels: Tweak

#15975 Makes Vampires cost much less to spawn on dynamic
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
Labels: Tweak

#15977 Prevents golaiths from rolling a nat36
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
Labels: Tweak

#15979 Changes the Darklord bundle to be more Sith-like
  code/game/objects/items/granters.dm
  code/game/objects/items/storage/uplink_kits.dm
Labels: Feature, Tweak

#15972 Revies #15961 please reconsider
  code/modules/cargo/console.dm
  code/modules/cargo/order.dm
  code/modules/shuttle/supply.dm
Labels: Tweak, i ded

#15985 Restores emags emmaging emags bluespace emag conversion ratio
  yogstation/code/game/objects/items/cards_ids.dm
Labels: Revert / Deletion

#15986 Fixes some watcher gem shit
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
Labels: Fix

#15928 Reduces RPD material requirement
  code/modules/research/designs/autolathe_designs.dm
Labels: Tweak

#16003 fixes preferency thingy
  code/modules/client/preferences.dm
Labels: Fix

#15990 Prevents IPCs from taking oxygen damage
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Labels: Fix

#15993 Revert "Removes the lizard wine from planetcracker"
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
Labels: Tweak

#16009 Plasaman
  tgui/packages/tgui/interfaces/CrewConsole.js
Labels: tgui, Javascript

#16029 Fixes Augmentation Surgery for intended species
  code/modules/surgery/limb_augmentation.dm
Labels: Fix

#15968 Stechkin APS sprite update.
  code/modules/projectiles/guns/ballistic/pistol.dm
  icons/obj/guns/projectile.dmi
Labels: Sprites

#16035 Fixes Revenants still being able to damage unintended windows
  code/modules/antagonists/revenant/revenant_abilities.dm
Labels: Fix

#16063 Fixes rocks being weird and some other random fixes
  code/datums/mutable_appearance.dm
  code/modules/lighting/lighting_object.dm
  icons/effects/lighting_object.dmi
Labels: Fix, Sprites

#16067 Makes botanical chem dispensers use the Minidispenser sprites (modified green trim)
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  icons/obj/chemical.dmi
Labels: Tweak, Sprites

#16023 Donator item for Cuackles
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  yogstation/code/modules/clothing/suits/miscellaneous.dm
  yogstation/code/modules/donor/unique_donator_items.dm
  yogstation/icons/mob/clothing/suit/suit.dmi
  yogstation/icons/obj/clothing/suits.dmi
Labels: Feature, Sprites

#16079 Resprites Henry German Coat Final edition
  yogstation/icons/mob/clothing/suit/suit.dmi
  yogstation/icons/obj/clothing/suits.dmi
Labels: Sprites

#16038 Arm implanters now try both arms before forcibly removing present implants to make space for their baby
  code/modules/surgery/organs/autosurgeon.dm
Labels: Tweak

#16076 Removes a duplicate examine function in carpets
  code/game/turfs/simulated/floor/fancy_floor.dm
Labels: Fix

#16020 Gem storage & satchel accessibility QoL
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/belt.dm
  code/modules/mining/machine_vending.dm
Labels: Feature, Tweak

#16055 You hungrily gobble \the [O], gobbling it down!
  code/modules/mob/living/carbon/human/species.dm
Labels: Tweak

#16017 Adds second drone shell to the drone hole
  _maps/RandomRuins/StationRuins/maint/3x3/3x3_dronehole.dmm
Labels: Map Change

#15161 Tweaks T-45b Power Armor & Renames X-01 to X-02 armor
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Tweak

#15964 Gems now orovide their mining points when sold at cargo, and are claimed with the id card rather than mining scanner
  code/game/area/areas/shuttles.dm
  code/game/objects/items/gems.dm
  code/modules/cargo/bounties/gems.dm
  code/modules/cargo/exports/lavaland.dm
  code/modules/shuttle/supply.dm
Labels: Tweak

#16022 Mqiib missed a spot
  code/modules/research/techweb/all_nodes.dm
Labels: Revert / Deletion

#15036 Fishing Overhaul!!! (+seafood)
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  code/__DEFINES/construction.dm
  code/datums/components/crafting/crafting.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/cargo/packs.dm
  code/modules/food_and_drinks/food/snacks_frozen.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/food/snacks_pizza.dm
  code/modules/food_and_drinks/food/snacks_salad.dm
  code/modules/food_and_drinks/food/snacks_seafood.dm
  code/modules/food_and_drinks/kitchen_machinery/icecream_vat.dm
  code/modules/food_and_drinks/pizzabox.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/food_and_drinks/recipes/recipes_bait.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pizza.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_salad.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_seafood.dm
  code/modules/hydroponics/grown/cereals.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  icons/obj/food/food.dmi
  icons/obj/food/pizzaspaghetti.dmi
  icons/obj/food/soupsalad.dmi
  yogstation.dme
  yogstation/code/datums/components/fishable.dm
  yogstation/code/game/objects/items/fishing/bait.dm
  yogstation/code/game/objects/items/fishing/fish.dm
  yogstation/icons/obj/fishing/fishing.dmi
Labels: DME Edit, Feature, Tweak, Map Change, Fix, Sprites

#15560 NTOS PDA Messenger update username based on ID
  code/controllers/subsystem/job.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/file_system/programs/ntpda_msg.dm
  tgui/packages/tgui/interfaces/NtosPdaMsg.js
  yogstation/code/modules/jobs/job_types/_job.dm
Labels: Tweak, Fix, tgui, Javascript

#15865 Chem Dispenser Reagent Tiers Changes + New Reactions + Code Cleanup
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Feature, Tweak

#15901 Makes chemical grenades explode on emp but not in a way that makes them horrible to use just nerf the fucking chems if they're that much of a problem you inbreds
  code/datums/wires/explosive.dm
  code/game/objects/items/grenades/chem_grenade.dm
Labels: Tweak

#15970 Nerfs Adrenaline
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/organs/heart.dm
Labels: Tweak, i ded

#15978 [PORT] Axolotl
  _maps/RandomRuins/StationRuins/GaxStation/ai_whale.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/modules/cargo/packs.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/simple_animal/friendly/axolotl.dm
  code/modules/mob/living/simple_animal/friendly/mothroach.dm
  code/modules/mob/living/simple_animal/friendly/pet.dm
  icons/mob/animal.dmi
  icons/mob/clothing/head/head.dmi
  icons/mob/pets.dmi
  icons/mob/pets_held.dmi
  icons/mob/pets_held_lh.dmi
  icons/mob/pets_held_rh.dmi
  yogstation.dme
  yogstation/code/datums/components/fishable.dm
Labels: DME Edit, Feature, Tweak, Map Change, Sprites

#15980 Updates and "modernizes" tactical syndikits
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature, Tweak, Revert / Deletion

#15989 Lets you vote for Asteroid; Bumps Asteroid min pop to 34
  config/maps.txt
Labels: Tweak, Config, Awaiting - Action - HD

#15992 Ports 'Fix mecha directional armor' from Paradise
  code/game/mecha/mecha_defense.dm
Labels: Feature, Tweak, Fix, Revert / Deletion

#16000 Makes mortar and pestles not made of solid lead leading to tired arms in as little as one cycle
  code/modules/reagents/reagent_containers/glass.dm
Labels: Tweak

#16010 Replace the beanbag in the ammunition locker with rubbershot
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
Labels: Tweak

#16012 Disables Syndicate Infiltrators Gamemode and Dynamic Rulesets
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  config/game_options.txt
Labels: Config, Revert / Deletion

#16013 Reduces Reagent Capacity of Pills to 10u
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/reagent_containers/pill.dm
  tgui/packages/tgui/interfaces/ChemMaster.js
Labels: Tweak, tgui, Javascript

#16014 Gives Sentient Diseases 2 more stealth on their initial symptom
  code/modules/antagonists/disease/disease_abilities.dm
Labels: Tweak

#16015 re-add frag 12
  code/datums/components/crafting/weapons.dm
Labels: Feature

#16019 Food and Drink color fixes and tweaks
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Feature, Tweak, Fix

#16026 Crew monitor QoL changes, minor tweaks and fixes.
  code/__DEFINES/is_helpers.dm
  code/game/machinery/computer/crew.dm
  tgui/packages/tgui/constants.js
  tgui/packages/tgui/interfaces/CrewConsole.js
Labels: Feature, Tweak, Fix, tgui, Javascript

#16028 Firearms rework again [Modular Attachments]
  code/datums/action.dm
  code/modules/projectiles/attachments/_attachment.dm
  code/modules/projectiles/attachments/grips.dm
  code/modules/projectiles/attachments/laser_sight.dm
  code/modules/projectiles/attachments/scopes.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/magic.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/guns/attachment.dmi
  yogstation.dme
Labels: DME Edit, Feature, Tweak, Sprites

#16037 Fixes PDA themes being so powerful they got you on the syndie-net
  code/__DEFINES/{yogs_defines}/flavor_misc.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/computer_ui.dm
  code/modules/modular_computers/computers/item/tablet/tablet.dm
  code/modules/modular_computers/file_system/programs/themeify.dm
  tgui/packages/tgui/interfaces/NtosNetDownloader.js
  tgui/packages/tgui/interfaces/NtosThemeConfigure.js
  tgui/packages/tgui/layouts/NtosWindow.js
Labels: Feature, Fix, Revert / Deletion, tgui, Javascript

#16039 [BOX] Starts cleaning up floor decals
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#16040 nerfs syndicate buckshot and flechette
  code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: Tweak

#16041 AIs now have BIG TEXT in binary chat (tg port)
  code/modules/mob/living/silicon/say.dm
Labels: Tweak

#16042 Ling transformation sting is now temporary
  code/__DEFINES/traits.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
Labels: Tweak

#16050 Mutate spell will no longer put entire lizardpeople on your head
  code/datums/mutations/sight.dm
Labels: Fix

#16057 Manifest spoofer no longer lies
  yogstation/code/modules/antagonists/infiltrator/items/services.dm
Labels: Fix

#16058 Lets certain suits store a few more things
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/miscellaneous.dm
  yogstation/code/modules/clothing/suits/labcoat.dm
Labels: Tweak

#16059 Touching the SM with telekinesis now makes you braindead and causes permanent trauma
  code/modules/power/supermatter/supermatter.dm
Labels: Tweak

#16064 ports chat highlight fix from tg & removes self highlights
  code/__HELPERS/mobs.dm
  code/modules/mob/dead/observer/say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/mob.dm
  code/modules/tgchat/to_chat.dm
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/packages/tgui-panel/settings/reducer.js
Labels: Fix, tgui, Javascript

#16066 IPC Lungs require much less pressure to function
  code/modules/surgery/organs/lungs.dm
Labels: Tweak

#16068 Makes Vxtvul Hammer cheaper
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#16072 Fixes an oversight with picking up the energy katana
  code/modules/ninja/energy_katana.dm
Labels: Fix

#16074 Makes NTDownload not runtime when it downloads a file
  code/modules/modular_computers/file_system/programs/ntdownloader.dm
Labels: Fix

#16082 Reduces reagent amount in saly/oxandrolone pills from 24 to 5
  code/modules/reagents/reagent_containers/pill.dm
Labels: Tweak

#16081 IPCs are now selectable by magic mirrors and charged black extracts
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Labels: Feature

#16097 fix missing sprites for emt berets
  icons/mob/clothing/head/head.dmi
Labels: Fix, Sprites

#16103 Fixes psych office APC controlling vault power
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Fix

#16104 Fixes missing atmos pipe in perma
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Fix

#16102 Fixes missing air alarm in genetics
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Fix

#16083 Adds darkspawn and androids to the magic mirror pool
  code/modules/mob/living/carbon/human/species_types/android.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/darkspawn.dm
Labels: Feature

#16101 Moves 2 cameras by 2 tiles to delete 2 blindspots
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change, Fix, Awaiting - Merge

#16100 Adds 10x10 Halloween Dance Floor Maint Ruin
  _maps/RandomRuins/StationRuins/maint/10x10/10x10_halloween.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Map Change, Awaiting - Merge

#16106 [ASTEROID] Fixes South Solars Being Triple Stacked AND Properly Makes Cargo's Shuttle Entrances Airlocks
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Map Change, Fix

#16108 [Asteroid] Fixes stacked intercomms and missing netmin access to secondary AI core
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Map Change

#16138 [Box] He Forgor 💀
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#16149 [Asteroid] Asteroidstation hotfix
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Map Change, Fix

#15942 re-adds clockwork ai
  code/modules/antagonists/clockcult/clock_structures/ark_of_the_clockwork_justicar.dm
  code/modules/mob/living/silicon/ai/decentralized/management/ai_controlpanel.dm
  code/modules/mob/living/silicon/ai/life.dm
  tgui/packages/tgui/interfaces/AiControlPanel.js
  yogstation/code/modules/mob/living/silicon/ai/ai.dm
  yogstation/code/modules/mob/living/silicon/ai/life.dm
Labels: Feature, tgui, Javascript

#16060 Updates All 5 Whiteships To Be Vaguely Consistent AND Modernizes Their Shapes and Layouts
  _maps/shuttles/whiteship_1.dmm
  _maps/shuttles/whiteship_2.dmm
  _maps/shuttles/whiteship_3.dmm
  _maps/shuttles/whiteship_4.dmm
  _maps/shuttles/whiteship_5.dmm
Labels: Map Change, Awaiting - Action - Balance Review

#16117 [ASTEROID] Relocates spare Buckshot Shells Box to the Lethals Closet + 2 more changes
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Map Change

#16132 [BOX] Readds bloat
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#16150 [Asteroid] Expands Cargo
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Map Change

#16158 Fixes attack and floating animations
  code/game/atoms_movable.dm
  code/modules/mob/living/living.dm
Labels: Fix

#15629 [BOUNTY] Ports minesweeper to TGUI
  code/modules/asset_cache/asset_list_items.dm
  code/modules/modular_computers/file_system/programs/minesweeper.dm
  icons/UI_Icons/Minesweeper/minesweeper_1.png
  icons/UI_Icons/Minesweeper/minesweeper_2.png
  icons/UI_Icons/Minesweeper/minesweeper_3.png
  icons/UI_Icons/Minesweeper/minesweeper_4.png
  icons/UI_Icons/Minesweeper/minesweeper_5.png
  icons/UI_Icons/Minesweeper/minesweeper_6.png
  icons/UI_Icons/Minesweeper/minesweeper_7.png
  icons/UI_Icons/Minesweeper/minesweeper_8.png
  icons/UI_Icons/Minesweeper/minesweeper_empty.png
  icons/UI_Icons/Minesweeper/minesweeper_flag.png
  icons/UI_Icons/Minesweeper/minesweeper_hidden.png
  icons/UI_Icons/Minesweeper/minesweeper_mine.png
  icons/UI_Icons/Minesweeper/minesweeper_minehit.png
  tgui/packages/tgui/interfaces/Minesweeper.js
  tgui/packages/tgui/interfaces/NtosMinesweeper.js
  yogstation.dme
  yogstation/code/game/machinery/computer/arcade.dm
Labels: DME Edit, Feature, Revert / Deletion, tgui, Javascript

#16162 removes some capital letters from syndie suits
  code/modules/clothing/under/syndicate.dm
Labels: Fix

#16146 Removes Water Creation Reaction
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Revert / Deletion

#16115 Fixes Fish Food Sprites + Deletes Surf N Turf
  code/modules/food_and_drinks/food/snacks_seafood.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_seafood.dm
  icons/obj/food/food.dmi
Labels: Fix, Revert / Deletion, Sprites

#16171 [admin] Fix VV on appearances
  code/modules/admin/view_variables/view_variables.dm
Labels: Fix, Admin

#16129 bluespace bodybags no longer trigger disko relocation
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
Labels: Tweak

#16062 Halves default cargo shuttle transit time
  code/modules/shuttle/supply.dm
Labels: Tweak

#15957 MOSTLY* removes printable bags of holding, instead the RD gets one as a grand theft item
  code/game/gamemodes/objective_items.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/research/designs/bluespace_designs.dm
Labels: Feature, Revert / Deletion

#16190 Replaces DS gear that snuck in with tacticool gear
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Tweak, Map Change

#16164 Makes the grey fedora in the detective clothing bag share the armor of the tan one
  code/game/objects/items/storage/backpack.dm
  code/modules/clothing/head/jobs.dm
Labels: Feature

#16161 Forgot to place axolotls on Asteroid station
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Map Change

#16198 Fixes digitigrade suit sprites
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Fix

#15853 Removes space comms agent sleeper RNG
  code/modules/ruins/lavaland_ruin_code.dm
Labels: Tweak

#15976 Raises Minimum Pop for Blob, Xenos, Spiders; Removes Blob-Infection (Unused) Dynamic; Adjusts Related Dynamic Enemy Role Requirements & More
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/modules/events/alien_infestation.dm
  code/modules/events/blob.dm
  code/modules/events/spider_infestation.dm
Labels: Tweak

#16070 Updates And Partially Redesigns Free Miner Ship
  _maps/shuttles/whiteship_miner.dmm
Labels: Tweak, Map Change

#16085 Phytosian now get their own lungs able to breathe CO2
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
  yogstation/code/modules/surgery/organs/lungs.dm
  yogstation/icons/obj/surgery.dmi
Labels: Feature, Tweak, Sprites

#16093 Increase sheet snatcher product and smart foam amount in engi vend
  code/modules/vending/engivend.dm
Labels: Tweak

#16094 Wirecutters + pizza box = cardboard
  code/modules/food_and_drinks/pizzabox.dm
Labels: Tweak

#16095 Reduces cybernetic stun times by half, makes getting hit with an ion a little less brutal as IPC
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/liver.dm
  code/modules/surgery/organs/stomach.dm
  code/modules/surgery/organs/tongue.dm
Labels: Tweak, Fix

#16105 Adds Monster Mash and Plok Boss theme to Halloween lobby music
  code/modules/holiday/holidays.dm
Labels: Feature

#16113 Updates foxes so they aren't strange when they do their simple-mob speech emotes
  code/modules/mob/living/simple_animal/friendly/fox.dm
  yogstation/code/modules/mob/living/simple_animal/friendly/fennec.dm
Labels: Tweak

#16135 Malf AIs with hijack no longer need to kill IPCs
  code/game/gamemodes/objective.dm
Labels: Tweak

#16208 removes funny baseball bat from donksoft vendor
  code/modules/vending/toys.dm
Labels: Revert / Deletion

#15996 Changes Soap Creation To Use Grinder Mix Mode + Changes Reaction To Make New Reagent To Mix + Changes Soap Desc. + Candle Change
  code/game/objects/items/clown_items.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Tweak

#16021 New Racial Martial Arts Tweaks and Fixes
  yogstation/code/datums/martial/explosive_fist.dm
  yogstation/code/datums/martial/garden_warfare.dm
  yogstation/code/datums/martial/stealth.dm
Labels: Tweak

#16024 Adds Gummy Bears To Chem Master, Cargo, And More
  code/_globalvars/lists/maintenance_loot.dm
  code/datums/traits/negative.dm
  code/game/objects/items/storage/firstaid.dm
  code/modules/cargo/packs.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/uplink/uplink_items.dm
  code/modules/vending/medical.dm
  icons/obj/chemical.dmi
  tgui/packages/tgui/interfaces/ChemMaster.js
  yogstation.dme
  yogstation/code/modules/reagents/reagent_containers/gummies.dm
Labels: DME Edit, Feature, Sprites, tgui, Javascript

#16048 [META] MetaStation alternate engines [Singulo/Tesla/SM/TEG]
  _maps/RandomRuins/StationRuins/MetaStation/engine_singulo_tesla.dmm
  _maps/RandomRuins/StationRuins/MetaStation/engine_sm.dmm
  _maps/RandomRuins/StationRuins/MetaStation/engine_teg.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Feature, Tweak, Map Change

#16107 Adds con lentitud poderosa by Chris Christodoulou to Lobby Music
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature

#16120 Removes Bowl of Blood From Necro Chest, Moves it to the necropolis, adds replacement item Blindfold of Telepathy
  _maps/map_files/mining/Lavaland.dmm
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Feature, Map Change, Revert / Deletion

#16122 [Admin] Offer Rename Update 1
  code/modules/admin/verbs/randomverbs.dm
Labels: Tweak, Admin

#16123 Replaces old axolotl sound with a better cute sound
  code/modules/mob/living/simple_animal/friendly/axolotl.dm
  sound/effects/axolotl.ogg
Labels: Sound

#16124 Tweaks zombie infectivity + Deletes pacifist zombies
  code/modules/zombie/items.dm
  code/modules/zombie/organs.dm
Labels: Tweak

#16126 Adds prescription sunglasses
  code/datums/components/crafting/tailoring.dm
  code/modules/clothing/glasses/_glasses.dm
Labels: Feature

#16127 Removes Sulfur-Trioxide Chem and Reaction, makes Sulfuric Acid reaction just 1to1 Sulfur and Water
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Tweak, Revert / Deletion

#16184 fixes regenetativecore on station use.
  code/modules/mining/equipment/regenerative_core.dm
Labels: Fix

#16193 Fixes some on_hits that were ignoring shields
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/projectiles/projectile/bullets/smg.dm
  code/modules/projectiles/projectile/bullets/special.dm
  code/modules/projectiles/projectile/reusable/arrow.dm
Labels: Tweak

#16194 (ided) Significantly reduces the weight of the floor cluwne event
  yogstation/code/modules/events/floorcluwne.dm
Labels: Tweak

#16195 Adds item image previews to uplink
  code/datums/components/uplink.dm
  code/game/gamemodes/clown_ops/clown_weapons.dm
  code/game/objects/items/shields.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/projectiles/boxes_magazines/external/rechargable.dm
  code/modules/uplink/uplink_items.dm
  tgui/packages/tgui/interfaces/Uplink.js
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Feature, tgui, Javascript

#16196 reduce admin music default volume again to 7%
  tgui/packages/tgui-panel/settings/reducer.js
Labels: tgui, Javascript

#16200 Lets you start mechanical surgeries with a handdrill
  yogstation/code/game/objects/items/tools.dm
Labels: Tweak

#16215 Fixes the underlying problem
  code/modules/reagents/chemistry/holder.dm
Labels: Fix

#16160 Exosuit fabricator wires and hacking
  code/datums/wires/mech_fabricator.dm
  code/game/mecha/mech_fabricator.dm
  yogstation.dme
Labels: DME Edit, Feature, Tweak, Awaiting - Action - Balance Review

#16227 Fixes meta engines ruining everything
  _maps/RandomRuins/StationRuins/MetaStation/meta_singulo_tesla.dmm
  _maps/RandomRuins/StationRuins/MetaStation/meta_sm.dmm
  _maps/RandomRuins/StationRuins/MetaStation/meta_teg.dmm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Tweak, Map Change, Fix

#16223 [Asteroidstation] patch 3
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Map Change, Fix
