Repository yogstation13/Yogstation, pull requests merged in 2023-06, with the labels that each got.

#19076 Vampire revive no longer requires the user to be alive to activate
  yogstation/code/game/gamemodes/vampire/vampire_powers.dm
Labels: Fix

#19066 plain burger needs plain patty to craft
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
Labels: Fix

#19043 buster blocking some interacts
  code/datums/status_effects/buffs/buffs.dm
  code/game/machinery/_machinery.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/vending/_vending.dm
Labels: Fix

#19039 Ashwalkers breathe oxygen instead of nitrogen
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  yogstation/code/modules/surgery/organs/lungs.dm
Labels: Tweak

#18912 Makes Miner Armor progression make more sense.
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/mining/equipment/explorer_gear.dm
Labels: Tweak, Balance Council Approved

#19038 Fixes a bug with the worldbreaker granter
  code/game/objects/items/granters/martial_arts/racial.dm
Labels: Fix

#19035 Worldbreaker nerfs in progress
  code/datums/martial/worldbreaker.dm
Labels: Tweak, Balance Council Approved

#19086 readds the unobserve button
  code/__DEFINES/dcs/signals/signals_turf.dm
  code/__HELPERS/game.dm
  code/_onclick/hud/action_button.dm
  code/controllers/subsystem/shuttle.dm
  code/datums/mutations/touch.dm
  code/game/data_huds.dm
  code/game/gamemodes/cult/cult.dm
  code/game/turfs/space/transit.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/mapping/space_management/space_reservation.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
  code/modules/shuttle/shuttle.dm
Labels: Fix

#19105 fix techwebs runtime
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#19092 Fix vending machines not charging for premium products
  code/modules/vending/_vending.dm
  tgui/packages/tgui/interfaces/Vending.js
Labels: Fix, tgui, Javascript

#19110 Moves angel potion to stealthy tools category. New angel potion sprite. Gives syndicate angel potion it's own unique sprite.
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/lavaland/artefacts.dmi
Labels: Tweak, Sprites

#18946 Deletes male polysmorphs
  code/modules/client/preferences/gender.dm
Labels: Fix

#19104 gives liquid electricity blood packs a name
  code/modules/reagents/reagent_containers/blood_pack.dm
Labels: Feature

#19112 Lets IPCs recharge from power cells
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Labels: Tweak

#19100 [CODING REQUEST] Adjusts bait costs to no longer be bait
  yogstation/code/game/objects/items/fishing/bait.dm
Labels: Tweak

#18993 Fixes implanted flashes not making any light when you use them
  code/modules/assembly/flash.dm
Labels: Fix

#18954 2 new Sinful Demon powers
  code/modules/antagonists/demon/demons.dm
  code/modules/antagonists/demon/general_powers.dm
  code/modules/antagonists/demon/sins/envy.dm
  code/modules/antagonists/demon/sins/gluttony.dm
  code/modules/antagonists/demon/sins/greed.dm
  code/modules/antagonists/demon/sins/pride.dm
  code/modules/antagonists/demon/sins/wrath.dm
Labels: Feature, Balance Council Approved

#18884 Korta Nut is dead, Long live Ute(sad) Nut
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/hydroponics/grown/korta_nut.dm
  code/modules/hydroponics/grown/ute_nut.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/vending/megaseed.dm
  icons/obj/drinks.dmi
  icons/obj/hydroponics/growing_fruits.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  yogstation.dme
Labels: DME Edit, Feature, Fix, Revert / Deletion, Sprites, Awaiting - Action - Author

#19050 Donator End-Round Item
  code/__HELPERS/roundend.dm
  code/modules/client/preferences/donor.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/donor.tsx
Labels: Feature, tgui

#19139 lore accurates biomes angel wing change
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#19131 Lizards like fruit now
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: Tweak, Fetish Content

#18934 Changeling weight reduced from 4 to 3
  config/game_options.txt
Labels: Tweak, Config

#18935 dynamic weight increased from 8 to 12
  config/game_options.txt
Labels: Tweak, Config

#18936 traitor+ling weight reduced from 6 to 4
  config/game_options.txt
Labels: Tweak, Config

#18938 Bloodsucker weight increased from 4 to 5
  config/game_options.txt
Labels: Tweak, Config

#18939 Heretic weight increased from 4 to 6
  config/game_options.txt
Labels: Tweak, Config

#18937 traitor+bloodsucker weight increased from 3 to 6
  config/game_options.txt
Labels: Tweak, Config

#19149 Morphine heals in crit and when asleep now
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Tweak, Balance Council Approved

#19147 Antinoblium can now be made by electrolyzing hypernoblium
  code/game/machinery/electrolyzer.dm
Labels: Tweak, Fix

#19158 Hypospray QoL fixes
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Fix

#19128 Allowing Xenobiology Console to be refilled straight from monkey cube boxes.
  code/modules/research/xenobiology/xenobio_camera.dm
Labels: Tweak

#19152 EMPs do reduced damage to already damaged positronic brains
  code/modules/mob/living/brain/brain_item.dm
Labels: Tweak, Balance Council Approved

#19135 Removes some of the stronger chemicals from hypospray vendor
  code/modules/vending/medical_wall.dm
Labels: Tweak, Balance Council Approved

#19160 atropine and pumpup pens are used up on refill crafting
  code/datums/components/crafting/recipes.dm
Labels: Fix

#18833 Constable clothing and equipment for Security
  code/__DEFINES/traits.dm
  code/datums/actions/items/toggles.dm
  code/game/objects/items/melee/misc.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/head/head.dmi
  icons/mob/clothing/neck/neck.dmi
  icons/mob/clothing/suit/suit.dmi
  icons/mob/clothing/suit_storage.dmi
  icons/mob/clothing/uniform/uniform.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/equipment/security_lefthand.dmi
  icons/mob/inhands/equipment/security_righthand.dmi
  icons/mob/neck.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/neck.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
  icons/obj/weapons/baton.dmi
  sound/misc/policewhistle.ogg
  yogstation/code/modules/clothing/head.dm
  yogstation/code/modules/clothing/suits/armor.dm
Labels: Feature, Sound, Sprites, Awaiting - Action - HD

#19177 Bubblegum is now canonically female
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
Labels: Tweak

#19175 Renault is canonically male
  code/modules/mob/living/simple_animal/friendly/fox.dm
Labels: Tweak

#19187 [ADMIN] 👀👀👀
  code/modules/admin/verbs/getlogs.dm
Labels: Admin, Awaiting - Merge

#19181 reviver implant bugfix for #12764
  code/modules/surgery/organs/augments_chest.dm
Labels: Tweak

#19089 alcohol tolerance mutation has instability
  yogstation/code/datums/mutations/alcohol.dm
Labels: Tweak, Balance Council Approved

#19195 fix: fix the medical kiosk ui
  tgui/packages/tgui/interfaces/MedicalKiosk.js
Labels: Fix, tgui, Javascript

#19162 Adds three new posters
  icons/obj/contraband.dmi
  yogstation/code/game/objects/effects/contraband.dm
Labels: Sprites

#19099 Dota Suit Resprite
  yogstation/icons/mob/clothing/suit/suit.dmi
  yogstation/icons/obj/clothing/suits.dmi
Labels: Tweak, Sprites

#19047 [PORT] Adds the delamination counter from /tg/
  _maps/RandomRuins/StationRuins/BoxStation/engine_sm.dmm
  _maps/RandomRuins/StationRuins/MetaStation/meta_sm.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  code/controllers/subsystem/persistence.dm
  code/game/objects/structures/signs/signs_interactive.dm
  code/modules/power/supermatter/supermatter.dm
  icons/obj/decals.dmi
  yogstation.dme
Labels: DME Edit, Feature, Mapping, Sprites

#19122 moves kitchen shutters button on cheese bar
  _maps/RandomRuins/StationRuins/BoxStation/bar_cheese.dmm
Labels: Mapping

#19205 Guitar Sprite Update: Remake of Electric Guitar and Tweak of Acoustic In-Hand Sprites
  icons/mob/inhands/equipment/instruments_lefthand.dmi
  icons/mob/inhands/equipment/instruments_righthand.dmi
  icons/obj/musician.dmi
Labels: Tweak, Sprites

#18992 Gives the implanted rev flash a unique sprite
  code/modules/assembly/flash.dm
  icons/mob/inhands/equipment/security_lefthand.dmi
  icons/mob/inhands/equipment/security_righthand.dmi
  icons/obj/assemblies/new_assemblies.dmi
Labels: Sprites

#19197 lore accurate showers
  code/game/objects/structures/shower.dm
Labels: Tweak

#19220 No more scanning engravings with chameleon projector
  code/game/objects/items/devices/chameleonproj.dm
Labels: Tweak

#19221 Improves the esword, desword and energy fireaxe descriptions
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/twohanded.dm
Labels: Tweak

#19206 Crystal Foam Icon Fix
  icons/obj/grenade.dmi
Labels: Fix, Sprites

#19184 Allows the reviver implant to work on all limbs
  code/modules/surgery/organs/augments_chest.dm
Labels: Tweak, Balance Council Approved

#19223 Holy Light rod now gives favor upon healing.
  code/datums/status_effects/buffs/buffs.dm
Labels: Tweak, Balance Council Approved

#19200 Radio jammer blocks suit sensors
  code/game/machinery/computer/crew.dm
  code/game/objects/items/devices/traitordevices.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak, Awaiting - Merge, Balance Council Approved

#19211 Fixes gax gulag shuttle but for real this time
  _maps/shuttles/labour_gax.dmm
Labels: Mapping, Fix

#19180 Fixes the nerd suit (+ code improvement)
  code/__DEFINES/maths.dm
  sound/voice/nerdsuit/beep_1.ogg
  yogstation/code/modules/clothing/suits/nerd.dm
Labels: Sound, Fix, Refactor, Awaiting - Merge, Awaiting - Action - HD

#19189 I HATE LOWPOP CLOCK I HATE LOWPOP CLOCK
  config/game_options.txt
Labels: Config, Awaiting - Action - HD, Balance Council Approved

#19146 Makes healium actually useful
  code/game/objects/items/grenades/atmos_grenades.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/organs/lungs.dm
Labels: Tweak, Balance Council Approved

#19116 Removes bar tables from CentCom Z-level
  _maps/map_files/generic/CentCom.dmm
Labels: Mapping, Fix

#18974 Removes the felinid restriction from mice cubes.
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#19118 makes orange food vendor maint panel show
  icons/obj/vending.dmi
Labels: Sprites

#19107 Adds IT'S TIME TO FIGHT CRIME to lobby music
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature

#19111 All Heads of Staff can set Blue/Green Alert and Emergency Maint Access
  code/game/machinery/computer/communications.dm
Labels: Tweak

#19233 Jaws of life tweaks
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/mantis.dm
  yogstation/code/game/objects/items/tools.dm
Labels: Tweak, Fix

#19236 Simple Advanced Airlock Controller fix
  code/game/machinery/airlock_cycle_control.dm
Labels: Fix

#19130 Permeability fixes/tweaks
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Tweak, Fix, Balance Council Approved

#19238 [Box] Makes engi entrance decals look a little less shit
  _maps/map_files/YogStation/YogStation.dmm
Labels: Tweak, Mapping

#19202 [gax gax gax] modern trims
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Mapping

#19166 [box] replaces arrivals checker tiles with white decals
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#19245 [BOX] fixes the dumb anesthetic closet in the cryotube
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#19234 Adds """some dude""" as a pre legion fight definitely a miniboss(just a mob)
  _maps/map_files/mining/Lavaland.dmm
Labels: Mapping

#19178 Makes an antag only version of the reviver implant
  code/modules/surgery/organs/augments_chest.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature, Balance Council Approved

#19241 Changes suit sensor EMP
  code/modules/clothing/under/_under.dm
Labels: Tweak, Balance Council Approved

#19248 Gives free miners an oven
  _maps/shuttles/whiteship_miner.dmm
Labels: Feature, Mapping

#19080 Moves AI's data core display to AI upload in all maps except gax.
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Mapping, Awaiting - Action - Author

#19250 updates law office meta to have a fax machine
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Feature, Mapping, Revert / Deletion

#19242 Adds a makeshift desword
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/twohanded.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature, Revert / Deletion, Balance Council Approved

#19183 Memory loss upon death now can occur after the brain has decayed for a period of time
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/living.dm
Labels: Tweak, Balance Council Approved

#18988 [bounty] make destination tagger be sorted by department
  code/_globalvars/lists/flavor_misc.dm
  code/modules/recycling/sortingmachinery.dm
  tgui/packages/tgui/interfaces/DestinationTagger.js
Labels: Tweak, tgui, Javascript

#19186 Updates unit testing (+ adds some new ones)
  _maps/multiz_debug.json
  _maps/runtimestation.json
  _maps/templates/unit_tests.dmm
  code/__DEFINES/unit_tests.dm
  code/__HELPERS/_logging.dm
  code/_compile_options.dm
  code/_globalvars/logging.dm
  code/controllers/master.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/minor_mapping.dm
  code/datums/map_config.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/objects/effects/landmarks.dm
  code/game/turfs/space/space.dm
  code/game/world.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/anchored_mobs.dm
  code/modules/unit_tests/component_tests.dm
  code/modules/unit_tests/dynamic_ruleset_sanity.dm
  code/modules/unit_tests/focus_only_tests.dm
  code/modules/unit_tests/map_landmarks.dm
  code/modules/unit_tests/mapping.dm
  code/modules/unit_tests/reagent_id_typos.dm
  code/modules/unit_tests/reagent_recipe_collisions.dm
  code/modules/unit_tests/spawn_humans.dm
  code/modules/unit_tests/species_whitelists.dm
  code/modules/unit_tests/subsystem_init.dm
  code/modules/unit_tests/timer_sanity.dm
  code/modules/unit_tests/unit_test.dm
  icons/turf/areas.dmi
  yogstation.dme
Labels: DME Edit, Mapping, Sprites

#19098 Deletes all items in armoury roundstart of a battle royale
  yogstation/code/game/gamemodes/battle_royale/battleroyale.dm
Labels: Tweak

#19108 Dying or getting disqualified in battleroyale dusts you
  yogstation/code/game/gamemodes/battle_royale/battleroyale.dm
Labels: Tweak

#19114 Adds random chapels again but this time without merge conflicts
  _maps/RandomRuins/StationRuins/BoxStation/chapel1.dmm
  _maps/RandomRuins/StationRuins/BoxStation/chapel2.dmm
  _maps/map_files/YogStation/YogStation.dmm
  goon/icons/turfs/floors.dmi
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
  yogstation/code/game/turfs/simulated/floor/fancy_floor.dm
Labels: Mapping, Sprites

#19120 very microscopically updates the Listening Post
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  code/game/area/areas/ruins/space.dm
  code/game/turfs/simulated/wall/misc_walls.dm
  code/game/turfs/simulated/walls.dm
Labels: Feature, Mapping

#19133 Implant slot shuffle
  code/__DEFINES/DNA.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/augments_chest.dm
  code/modules/surgery/organs/augments_internal.dm
Labels: Tweak, Balance Council Approved

#19208 Brig Phys spawns with a medical belt
  code/modules/clothing/outfits/plasmaman.dm
  yogstation/code/modules/jobs/job_types/brig_physician.dm
Labels: Feature

#19134 Makes Hypospray quickload module innate
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/vending/medical_wall.dm
Labels: Tweak

#19243 Atmos firefighter gloves + clothing traits refactor
  code/__DEFINES/obj_flags.dm
  code/__DEFINES/traits.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/antagonists/eldritch_cult/eldritch_items.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/head/helmet.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  icons/mob/clothing/hands/hands.dmi
  icons/obj/clothing/gloves.dmi
Labels: Feature, Sprites, Balance Council Approved

#19143 Gives CE unique HUD glasses like all the other heads
  code/modules/clothing/glasses/_glasses.dm
  code/modules/jobs/job_types/chief_engineer.dm
Labels: Tweak

#19274 Fixes a compile error (URGENT)
  code/modules/clothing/glasses/_glasses.dm
Labels: Fix

#19255 you powergaming fucks ruin everything
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Tweak, Revert / Deletion, Balance Council Approved, ided

#19258 blacklists bounty consoles from the improvised emag
  code/game/objects/items/cards_ids.dm
Labels: Tweak, Balance Council Approved

#19260 Minor sleeper TGUI fix
  tgui/packages/tgui/interfaces/Sleeper.js
Labels: Fix, tgui, Javascript

#19267 Fixes operating computers syncing to tables
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#19276 Health mesons actually work as mesons now
  code/modules/clothing/glasses/hud.dm
Labels: Fix

#19290 Griefers 4 Pride Month
  code/modules/holiday/pride.dm
  icons/effects/atmospherics.dmi
  yogstation.dme
Labels: Feature, Sprites

#19323 [s] uplink stuff
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Fix

#19310 [Box] Chapel 2 Fixes
  _maps/RandomRuins/StationRuins/BoxStation/chapel2.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#19293 Drippin heretic costume
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/vending/autodrobe.dm
Labels: Feature

#19295 Toy Heretic Blades
  code/game/objects/items/toys.dm
  code/modules/vending/toys.dm
Labels: Feature

#19299 Hall of Vending machines + Vending Icon fix
  _maps/map_files/generic/CentCom.dmm
Labels: Mapping, Fix

#19283 Murders the cartridges for Old PDAs in various offices across all maps
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Mapping

#19275 CE starts with their gloves on them instead of in their bag
  code/game/objects/items/storage/backpack.dm
  code/modules/jobs/job_types/chief_engineer.dm
Labels: Tweak

#19317 End round donator items now replace their firing pins on spawn
  code/__HELPERS/roundend.dm
Labels: Fix

#19284 Fixes rhumba beat cure reagent (not bood and actually compiles edition)
  code/datums/diseases/rhumba_beat.dm
Labels: Fix

#19169 Determination is stronger for humans
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Tweak, Balance Council Approved

#19301 switches quiet mode checks to check the mind and not the client prefs
  code/game/gamemodes/objective.dm
  code/modules/events/monsterhunter.dm
Labels: Fix

#19286 swaps some foods around in crafting menu
  code/modules/food_and_drinks/recipes/tablecraft/recipes_bread.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
Labels: Tweak

#19322 toolspeed now affects the speed of cauterizing bleeding wounds
  code/datums/wounds/pierce.dm
  code/datums/wounds/slash.dm
Labels: Tweak

#19170 Adrenaline no longer requires having a heart
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/buffs/buffs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/organs/heart.dm
Labels: Tweak, Balance Council Approved

#19300 Electrocution stun time scales with electrical protection
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Tweak, Balance Council Approved

#19244 flavor text for roundstart clockies tweak, lore edition
  code/game/gamemodes/clock_cult/clock_cult.dm
Labels: Tweak

#19320 Adds a reload statpanel verb because it keeps breaking
  code/modules/client/client_procs.dm
Labels: Feature

#19326 mop the floor works more consistently now
  code/datums/martial/buster_style.dm
Labels: Fix

#19247 Miners get research access on skeleton shifts now
  code/modules/jobs/job_types/shaft_miner.dm
Labels: Tweak

#19113 Ghosts can now teleport to ruins of any kind
  code/game/area/areas/ruins/_ruins.dm
  code/game/area/areas/ruins/space.dm
Labels: Tweak

#19321 Advanced Penlight for CMO
  code/game/objects/items/devices/flashlight.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  icons/obj/lighting.dmi
Labels: Feature, Tweak, Sprites

#19313 Canister fusion works again
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Fix

#19141 syringe gun is back
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Labels: Feature, Revert / Deletion, Awaiting - Action - HD, On hold - HD, Balance Council Approved

#19333 Fixes surplus crate not spawning correctly in EORG
  code/modules/uplink/uplink_items.dm
  code/modules/uplink/uplink_purchase_log.dm
Labels: Fix

#19331 Spessmen are now trained to avoid degenerate activities such as aggressive hand wrestling flushered emoji
  code/modules/mob/living/living_defense.dm
Labels: Tweak, Balance Council Approved

#19324 Ranged holoparasites, sleeping carp, and ranged weaponry are now all mutually exclusive
  code/datums/martial.dm
  tgui/packages/tgui/interfaces/Guardian.js
  yogstation/code/modules/guardian/guardianbuilder.dm
Labels: Tweak, tgui, Javascript

#19351 [PROJECT] Removes IAA
  code/__DEFINES/role_preferences.dm
  code/datums/status_effects/agent_pinpointer.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/traitor.dm
  code/game/gamemodes/traitor/internal_affairs.dm
  code/modules/admin/secrets.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/antagonists/traitor/IAA/internal_affairs.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/internalaffairsagent.ts
  tgui/packages/tgui/interfaces/SecretsPanel.js
  yogstation.dme
  yogstation/code/game/gamemodes/objective.dm
  yogstation/code/game/gamemodes/traitor/internal_affairs.dm
  yogstation/code/modules/uplink/uplink_item.dm
Labels: DME Edit, Javascript

#19342 battle royal loot changes
  yogstation/code/game/gamemodes/battle_royale/loot.dm
Labels: Tweak

#19341 Buffs stasis beds
  code/__DEFINES/status_effects.dm
  code/modules/mob/living/carbon/alien/larva/life.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/life.dm
Labels: Fix

#19348 Meth and bathsalts metabolize faster but require more to overdose
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
Labels: Tweak, Balance Council Approved

#19347 Nerf syringe embed transfer
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Tweak, Balance Council Approved

#19344 Removes the ability to use piercing syringes in syringe guns, again
  code/modules/projectiles/guns/misc/syringe_gun.dm
Labels: Tweak, Balance Council Approved

#19345 Combines tricorder and long-range analyzer into the same item
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/research/designs/tool_designs.dm
  code/modules/research/techweb/all_nodes.dm
  yogstation/code/game/objects/items/devices/scanners.dm
  yogstation/code/modules/clothing/suits/labcoat.dm
Labels: Tweak, Revert / Deletion

#19303 Adds the security level interface to brig
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/game/machinery/computer/communications.dm
  code/modules/security_levels/level_interface.dm
  code/modules/security_levels/security_levels.dm
  icons/obj/modular_telescreen.dmi
  tgui/packages/tgui/interfaces/LevelInterface.js
  yogstation.dme
Labels: DME Edit, Feature, Mapping, Sprites, tgui, Javascript

#19330 [GAX] Kills a PDA cartridge I missed
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Mapping

#19357 Ate without table
  code/datums/mood_events/generic_negative_events.dm
  code/modules/food_and_drinks/food/snacks.dm
Labels: Tweak

#19352 Updates Elements.dm and fixes some issues with existing Elements
  code/__DEFINES/cleaning.dm
  code/__DEFINES/dcs/flags.dm
  code/controllers/subsystem/dcs.dm
  code/datums/elements/ELEMENT_TEMPLATE.md
  code/datums/elements/_element.dm
  code/datums/elements/cleaning.dm
  code/datums/elements/connect_loc.dm
  code/datums/elements/earhealing.dm
  code/datums/elements/firestacker.dm
  code/datums/elements/squish.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/modules/vending/_vending.dm
Labels: Fix

#19358 Tracking implants no longer act as teleporter beacons
  code/game/objects/items/implants/implant_track.dm
Labels: Tweak, Missing/Inadequate Rationale, Balance Council Approved

#19346 Lone i now gets capitalized
  config/minor_filter.txt
Labels: Config, Awaiting - Action - HD

#19273 Memory loss after death pt 2, because manatee doesnt know how to maintain
  code/game/machinery/cloning.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/living.dm
  code/modules/surgery/ipc_revival.dm
Labels: Tweak, DO NOT MERGE, Awaiting - Vote - Council, Awaiting - Action - Balance Review

#19371 renames sigdrobe to netdrobe
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/cargo/packs.dm
  code/modules/vending/wardrobes.dm
Labels: Tweak

#19359 Removes ERP
  code/controllers/subsystem/explosions.dm
Labels: Fix

#19375 People can now ate with table
  code/modules/food_and_drinks/food/snacks.dm
Labels: Fix

#19355 [PROJECT] Adds Devil Affairs subsystem
  code/__DEFINES/antagonists.dm
  code/__DEFINES/contracts.dm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/traits.dm
  code/controllers/subsystem/infernal_affairs.dm
  code/datums/achievements/achievements.dm
  code/datums/mind.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/game/gamemodes/objective.dm
  code/game/objects/items/implants/implantuplink.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/antagonists/devil_affairs/devil.dm
  code/modules/antagonists/devil_affairs/devil_powers/collect_soul.dm
  code/modules/antagonists/devil_affairs/devil_powers/dancefloor.dm
  code/modules/antagonists/devil_affairs/devil_powers/devil_form.dm
  code/modules/antagonists/devil_affairs/infernal_agent.dm
  code/modules/antagonists/devil_affairs/true_devil.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paperplane.dm
  code/modules/uplink/uplink_items.dm
  icons/mob/clothing/head/head.dmi
  icons/obj/clothing/hats.dmi
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/infernal_affairs.ts
  yogstation.dme
  yogstation/code/datums/components/uplink.dm
  yogstation/code/modules/antagonists/traitor/datum_traitor.dm
Labels: DME Edit, Sprites, Admin, tgui

#19379 What the fuck is this doing here?
  code/game/objects/items/granters/mech_piloting.dm
Labels: Fix

#19366 Plasmaman chief engineer starts with the right gloves
  code/modules/clothing/outfits/plasmaman.dm
Labels: Fix

#19356 Nerfs preternis
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Fix

#19254 Refactors chem application, (hopefully) fixes foam for good
  code/__DEFINES/reagents.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_foam.dm
  code/modules/antagonists/blob/blobstrains/_reagent.dm
  code/modules/antagonists/blob/blobstrains/blazing_oil.dm
  code/modules/antagonists/blob/blobstrains/cryogenic_poison.dm
  code/modules/antagonists/blob/blobstrains/distributed_neurons.dm
  code/modules/antagonists/blob/blobstrains/electromagnetic_web.dm
  code/modules/antagonists/blob/blobstrains/energized_jelly.dm
  code/modules/antagonists/blob/blobstrains/explosive_lattice.dm
  code/modules/antagonists/blob/blobstrains/networked_fibers.dm
  code/modules/antagonists/blob/blobstrains/pressurized_slime.dm
  code/modules/antagonists/blob/blobstrains/reactive_spines.dm
  code/modules/antagonists/blob/blobstrains/regenerative_materia.dm
  code/modules/antagonists/blob/blobstrains/replicating_foam.dm
  code/modules/antagonists/blob/blobstrains/shifting_fragments.dm
  code/modules/antagonists/blob/blobstrains/synchronous_mesh.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/living_defines.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/readme.md
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  yogstation/code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Tweak, Fix

#19353 Adds mining medic gloves
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/outfits/plasmaman.dm
  icons/mob/clothing/hands/hands.dmi
  icons/obj/clothing/gloves.dmi
  yogstation/code/modules/jobs/job_types/mining_medic.dm
Labels: Feature, Sprites, Balance Council Approved

#19172 Makes the Vxtvul hammer overcharge hit slightly quieter
  code/game/objects/items/twohanded.dm
Labels: Tweak, Sound

#19370 [GAX] Improves law office
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Mapping

#19337 Free Miner ship now has an RCD in the engineers spawnpoint
  _maps/shuttles/whiteship_miner.dmm
Labels: Mapping

#19397 [s] Require affirmative input from the admin to run sdql2 verbs
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
Labels: Admin

#19144 Hypernoblium and antinoblium now have effects when breathed
  code/game/objects/items/stacks/sheets/hypernob_crystal.dm
  code/modules/atmospherics/machinery/components/gas_recipe_machines/atmos_machines_recipes.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  code/modules/surgery/organs/lungs.dm
  yogstation/icons/obj/stack_objects.dmi
Labels: Feature, Tweak, Sprites, Balance Council Approved
