Repository yogstation13/Yogstation, pull requests merged in 2023-05, with the labels that each got.

#18689 CQC chokehold is less effective against you if you don't breathe, plus special flavor text for IPCs
  code/datums/martial/cqc.dm
Labels: Tweak

#18673 Adds stamp washing machine fixes, adds cent com, mime & syndicate dyes.
  code/__DEFINES/dye_keys.dm
  code/game/machinery/washing_machine.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/paperwork/stamps.dm
Labels: Feature, Fix

#18660 Lizard mask variants
  code/__DEFINES/misc.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/masks/boxing.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/clothing/mask/mask.dmi
Labels: Feature, Tweak, Sprites, Fetish Content

#18687 You can now alt click ammo boxes/magazines to combine/take bullets
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
Labels: Tweak

#18651 Fix changeling monkeys, vampire bats, & vassal bats
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/changeling/powers/humanform.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/transform_procs.dm
  code/modules/spells/spell_types/shapeshift.dm
  yogstation/code/game/gamemodes/vampire/vampire_powers.dm
Labels: Fix

#18658 Nitroglycerin no longer explodes inside of bodies
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Tweak

#18618 adds different cuffs sprites to different huds
  code/_onclick/hud/screen_objects.dm
  icons/mob/screen_alien.dmi
  icons/mob/screen_clockwork.dmi
  icons/mob/screen_detective.dmi
  icons/mob/screen_midnight.dmi
  icons/mob/screen_operative.dmi
  icons/mob/screen_plasmafire.dmi
  icons/mob/screen_retro.dmi
  icons/mob/screen_slimecore.dmi
Labels: Sprites

#18688 Adds Virtual Insanity to lobby music
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature

#18477 Energy Fire Axe
  code/game/objects/items.dm
  code/game/objects/items/twohanded.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/uplink/uplink_items.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/suit_storage.dmi
  icons/mob/inhands/weapons/axes_lefthand.dmi
  icons/mob/inhands/weapons/axes_righthand.dmi
  icons/obj/weapons/energy.dmi
Labels: Feature, Tweak, Fix, Sprites, Awaiting - Action - Author, Balance Council Approved

#18662 Adds a sick jacket
  code/modules/vending/clothesmate.dm
  yogstation/code/modules/clothing/suits/miscellaneous.dm
  yogstation/icons/mob/clothing/suit/suit.dmi
  yogstation/icons/obj/clothing/suits.dmi
Labels: Feature, Sprites

#18628 ports moscow mule from tg
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  icons/obj/drinks.dmi
Labels: Feature, Sprites

#18715 Happiness no longer makes your tummy happy too :(
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
Labels: Tweak

#18716 surplus carbine can bayonet
  code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Tweak

#18694 Easter food tweaks
  code/modules/holiday/easter.dm
Labels: Tweak

#18646 Adds the mini energy gun to orderable cargo crates
  code/modules/cargo/packs.dm
Labels: Feature

#18691 Beepsky does stamina damage instead of instant stun
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Tweak, Awaiting - Action - Balance Review

#18701 Requires people to be lying down to enter a bodybag + closet flags
  code/__DEFINES/obj_flags.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/crates/bins.dm
  code/game/objects/structures/crates_lockers/crates/critter.dm
  code/modules/cargo/supplypod.dm
Labels: Tweak, On hold - HD

#18672 ERADICATES Soul Contracts from the code
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/paperwork/contract.dm
  code/modules/paperwork/filingcabinet.dm
  code/modules/paperwork/photocopier.dm
Labels: Mapping, Revert / Deletion, Map - Approved

#18552 Makes xeno spit inject a fast acting neurotoxin instead of instantly stunning
  code/modules/projectiles/projectile/special/neurotoxin.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Tweak, Balance Council Approved

#18581 Wings colour split
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species.dm
  icons/mob/wings.dmi
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Feature, Sprites

#18600 Makes researching dna recovery unlock the mechanical version too
  code/modules/research/designs/medical_designs.dm
Labels: Fix

#18613 Ocular wardens no longer destroy bibles if the target has antimagic
  code/modules/antagonists/clockcult/clock_structures/ocular_warden.dm
Labels: Tweak

#18615 Makes the possessed sword huge (no more pocket size) + invocation removal
  code/game/objects/items/holy_weapons.dm
Labels: Tweak

#18639 Lets mantis blades pry open doors if you have two
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/mantis.dm
  yogstation/code/game/objects/items/tools.dm
Labels: Feature, Balance Council Approved

#18642 Makes blood cult emp an aimed spell rather than centered on the caster
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/projectiles/projectile/magic.dm
Labels: Tweak, Balance Council Approved

#18644 Gives the eye of god medhud
  code/modules/clothing/glasses/_glasses.dm
Labels: Tweak

#18645 Turns off reticence internal canister light
  code/game/mecha/combat/reticence.dm
Labels: Fix

#18641 Changeling armblade door pry takes 6 seconds instead of 10
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: Tweak, Balance Council Approved

#18667 New chaplain dual wield nullrod
  code/game/objects/items/holy_weapons.dm
  icons/mob/clothing/belt.dmi
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/weapons/swords.dmi
Labels: Feature, Sprites, Balance Council Approved

#18677 Add 3rd atmos tech spawn location to AsteroidStation
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Mapping, Fix

#18686 Bugfix for possessed sword
  code/game/objects/items/holy_weapons.dm
Labels: Fix

#18698 lessened ethereal colour washout
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Tweak

#18702 Moves mining medic labcoat underneath other items in locker
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Labels: Tweak

#18705 Adds anesthetic tank holders to all brigdoc rooms, rearranges the room lightly
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Mapping

#18710 Fix bar-trek corners
  _maps/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
Labels: Mapping, Revert / Deletion

#18707 Revert sterilizier sprays having the "25 uit but no refill" because when do you need 25 units of sterilizer
  code/modules/reagents/reagent_containers/medspray.dm
Labels: Revert / Deletion

#18718 Jellypeople squoosh easier
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
Labels: Tweak, Balance Council Approved

#18769 Fixes a nullrod bug
  code/game/objects/items/holy_weapons.dm
Labels: Fix

#18757 New Syndicate Traitor Company: Vahlen Pharmaceuticals
  code/modules/corporations/corporation.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature, Tweak, Awaiting - Merge

#18780 fixes internal magazine guns being unable to reload
  code/modules/projectiles/guns/ballistic.dm
Labels: Fix

#18782 Makes the armament dispenser work
  code/modules/vending/security_armaments.dm
Labels: Fix

#18777 Cigarette pockets for the HoS armor
  code/datums/components/storage/concrete/pockets.dm
  code/modules/clothing/suits/armor.dm
Labels: Feature

#18768 :clueless:
  code/modules/mob/living/emote.dm
Labels: Feature

#18760 Adds Chief Engineering Officer name option to CE, Chief Security Officer to HOS
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/head_of_security.dm
Labels: Tweak

#18784 Ports fancy dust animation from paradise
  code/game/objects/effects/misc.dm
  code/modules/mob/living/carbon/human/death.dm
  icons/effects/filters.dmi
Labels: Feature, Sprites

#18795 Fixes door remotes on yogsmeta and asteroid
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Mapping

#18596 more buster fixes
  code/datums/martial/buster_style.dm
  code/game/objects/items/devices/busterarm/buster_limb.dm
Labels: Tweak, Fix

#18713 Adds the Vatra M38 pistol
  code/modules/cargo/packs.dm
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
Labels: Feature, Sprites, Balance Council Approved

#18695 adds upgrade tiers to hand teleporters
  code/game/objects/items/teleportation.dm
Labels: Tweak, Balance Council Approved

#18799 [S] fixes grenade exploit
  code/game/objects/items/grenades/chem_grenade.dm
Labels: Fix

#18800 Fixes mapmerge2 not working under python 3.11
  tools/mapmerge2/requirements.txt
Labels: Fix

#18797 Donator item for Molti
  icons/mob/clothing/head/head.dmi
  icons/mob/clothing/suit/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  yogstation/code/modules/clothing/suits/miscellaneous.dm
  yogstation/code/modules/donor/unique_donator_items.dm
Labels: Feature, DO NOT MERGE, Sprites

#18792 moves engi maint firelock one tile down
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#18789 Removes Prison cube from lavaland sliding puzzle chest
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Revert / Deletion

#18807 Fixing Code lines in Drinks
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Tweak

#18714 Hypodermic prickles now injects on melee attack instead of when thrown
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/plant_genes.dm
Labels: Tweak, Balance Council Approved

#18791 replaces nullies with a more interactive mechanic
  code/game/objects/items/cards_ids.dm
  code/modules/cargo/bounties/syndicate.dm
  code/modules/cargo/bounty.dm
  code/modules/cargo/bounty_console.dm
  tgui/packages/tgui/interfaces/CargoBountyConsole.js
  yogstation.dme
  yogstation/code/modules/cargo/cargo_packs.dm
Labels: DME Edit, Feature, Tweak, Revert / Deletion, tgui, Javascript, Balance Council Approved

#18772 No longer drop dualsword nullrods to the ground when crit
  code/game/objects/items/holy_weapons.dm
Labels: Fix

#18758 Gives the H.E.C.K. suit spaceproof again
  code/modules/mining/equipment/explorer_gear.dm
Labels: Tweak, Revert / Deletion, Awaiting - Action - HD, Balance Council Approved

#18801 Fixes nanites bypassing EMP protection
  code/datums/components/nanites.dm
Labels: Fix

#18802 Hardsuit helmet tweaks/bugfixes
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Tweak, Fix

#18812 bz drains changeling chemicals again
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#18813 Fixes PDA logging
  code/modules/modular_computers/file_system/programs/ntpda_msg.dm
Labels: Fix

#18817 toy hammer
  code/datums/components/crafting/recipes.dm
  code/game/machinery/computer/arcade.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/twohanded.dm
  code/modules/holiday/easter.dm
  code/modules/vending/liberation_toy.dm
  code/modules/vending/toys.dm
  yogstation/code/_globalvars/lists/maintenance_loot.dm
  yogstation/code/modules/donor/unique_donator_items.dm
Labels: Feature

#18811 makes Ash (in liquid form) grey
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Tweak

#18815 Fixes wormhole jaunters not saving you from chasms if you're stunned/immobilized
  code/modules/mining/equipment/wormhole_jaunter.dm
Labels: Fix

#18717 What does the r above my head mean?
  strings/traumas.json
Labels: Tweak

#18824 durathread hat no longer protects stuff like eyes and ears
  code/modules/clothing/head/helmet.dm
Labels: Tweak

#18821 fixes some oversights regarding printing of 38 boolet
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#18632 adds some start icons for engines
  code/modules/power/singularity/generator.dm
  icons/obj/singularity.dmi
  icons/obj/tesla_engine/tesla_generator.dmi
Labels: Sprites

#18676 Adds the Winton Mk. VI Repeating Rifle, liberalizes bandoliers
  code/game/objects/items/storage/belt.dm
  code/modules/cargo/packs.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
  sound/weapons/leverfire.ogg
  sound/weapons/leverload.ogg
  sound/weapons/leverrack.ogg
Labels: Feature, Tweak, Sound, Sprites, Awaiting - Action - HD, Balance Council Approved

#18830 Stechkin arm implant
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature, Balance Council Approved

#18841 forcing open airlock with jaws or jaws-like does damage to the airlock
  code/game/machinery/doors/airlock.dm
Labels: Tweak

#18837 Removes random hat dropping
  code/modules/mob/living/carbon/human/human.dm
Labels: Tweak

#18840 Why is Kortara under Beer and Milk when it's a nut? Not anymore
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/hydroponics/grown/korta_nut.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Fix

#18827 adds outside weaponry section in cargo
  code/modules/cargo/packs.dm
Labels: Feature, Tweak

#18829 fire axes now mess up airlocks
  code/game/objects/items/twohanded.dm
Labels: Tweak, Balance Council Approved

#18427 Battle Royale complete loot overhaul + storm rework
  code/__DEFINES/{yogs_defines}/is_helpers.dm
  code/__HELPERS/_lists.dm
  code/modules/antagonists/_common/antag_spawner.dm
  yogstation/code/game/gamemodes/battle_royale/battleroyale.dm
  yogstation/code/game/gamemodes/battle_royale/loot.dm
  yogstation/code/game/gamemodes/battle_royale/storm.dm
  yogstation/code/modules/guardian/standarrow.dm
Labels: Tweak, Awaiting - Action - Maintainer, Awaiting - Merge

#18819 [ASTEROID] Removes Med-U cartidges from asteroid office
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Mapping

#18846 308 ammo box now has 20 bullets
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
Labels: Tweak

#18796 Emagging emitters makes them more powerful
  code/modules/power/singularity/emitter.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Feature, Balance Council Approved

#18838 Antagonists can tend wounds faster if they are severe or critical
  code/datums/wounds/bones.dm
  code/datums/wounds/pierce.dm
  code/datums/wounds/slash.dm
Labels: Tweak, Balance Council Approved

#18855 let you actually get the ammo for the usp from the armaments dispenser
  code/modules/vending/security_armaments.dm
Labels: Fix

#18862 fixes a visual thing of particle accelerator
  code/modules/power/singularity/particle_accelerator/particle_accelerator.dm
Labels: Fix

#18823 EMPing guns takes less charge but disables them for 5-10 seconds
  code/modules/projectiles/boxes_magazines/external/rechargable.dm
  code/modules/projectiles/guns/energy.dm
Labels: Tweak, Balance Council Approved

#18853 Update .gitignore to not include .dmm-pal files
  .gitignore
Labels: Feature

#18330 The alert level no longer is raised to blue on shift start.
  code/controllers/configuration/entries/game_options.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/game_mode.dm
Labels: Revert / Deletion, Approved Council Vote

#18866 New Violin/Golden Violin Sprites
  icons/mob/inhands/equipment/instruments_lefthand.dmi
  icons/mob/inhands/equipment/instruments_righthand.dmi
  icons/obj/musician.dmi
Labels: Sprites

#18810 Updates in-game maintainer list
  html/templates/header.html
Labels: Tweak

#18872 Fixes cqc chokehold because apparently yogsdev pr testing procedure is "wait until theos uses it"
  code/datums/martial/cqc.dm
Labels: Fix

#18880 Fixes Violin Sprite Directional Mismatch
  icons/mob/inhands/equipment/instruments_lefthand.dmi
Labels: Fix, Sprites

#18860 Echelon system
  .github/workflows/turdis.yml
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/echelon.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/topic.dm
  config/secret.txt
  yogstation.dme
Labels: DME Edit, Config, Admin, SQL, Github, Test Merge - Scheduled, Test Merge - Requested, TESTMERGED

#18839 replaces the spellbook in the lavaland wizard den with 3 construct shells
  _maps/RandomRuins/LavaRuins/lavaland_surface_wizardden.dmm
Labels: Feature, Mapping, Revert / Deletion, Balance Council Approved

#18793 fixes meta chem shutter button
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Mapping

#18881 Makes preternis lungs and eyes actually robotic as intended
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/organs.dm
Labels: Fix

#18845 Adds new sounds for the M1911, deagle, and Vatra M38
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  sound/weapons/deaglefire.ogg
  sound/weapons/pistolshotmedium.ogg
  sound/weapons/pistolshotsmall.ogg
Labels: Tweak, Sound, Awaiting - Action - HD

#18869 hilarious oversight of deagle/sniper caliber
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/ammunition/ballistic/sniper.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/boxes_magazines/external/sniper.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Tweak

#18896 The dispenser update part one
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Tweak

#18865 Dragging beepsky applies a significant slowdown
  code/modules/mob/living/living_movement.dm
Labels: Tweak, Balance Council Approved

#18890 send me back to ahelp and tell them
  strings/traumas.json
Labels: Tweak

#18899 Appendicitis is actually annoying in stage 3 now
  code/datums/diseases/appendicitis.dm
Labels: Tweak

#18868 Replaces the stechkin APS in a space ruin with a government-sanctioned M1911
  _maps/shuttles/ruin_caravan_victim.dmm
Labels: Tweak, Mapping, Balance Council Approved

#18704 Removes Chem Dispensers from psych pt 2: Sol is slightly less stupid hopefully
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Mapping

#18762 Library fix
  _maps/map_files/YogStation/YogStation.dmm
  goon/icons/turfs/floors.dmi
  yogstation/code/game/turfs/simulated/floor/fancy_floor.dm
Labels: Mapping, Sprites

#18778 Bigger Blacker Medbay II the "moving one wall" edition
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping, Awaiting - Action - Author

#18919 Gives Psychiatrist Skeleton Crew (Lowpop) Chemistry Access
  yogstation/code/modules/jobs/job_types/psychiatrist.dm
Labels: Tweak

#18773 changes how EMPs drain power cells 2: this time it's actually good
  code/modules/power/cell.dm
Labels: Tweak, Balance Council Approved

#18816 IPC martial art nerfs
  code/datums/martial/ultra_violence.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Labels: Feature, Tweak, Fix, Balance Council Approved

#18788 His Grace healing works on metal limbs
  code/datums/status_effects/buffs.dm
Labels: Tweak

#18700 IPC no longer clean themselves of blood passively unless they have Ultraviolence
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Labels: Fix

#18911 MURDERS buster arm
  code/datums/martial/buster_style.dm
Labels: Tweak, Balance Council Approved

#18922 Adds Soccer to the game
  _maps/map_files/generic/CentCom.dmm
  code/game/area/areas/holodeck.dm
  code/modules/vending/gift.dm
  yogstation.dme
  yogstation/code/game/soccer.dm
  yogstation/icons/code/game/soccer.dmi
Labels: DME Edit, Feature, Mapping, Sprites

#18775 Makes "disabled" limbs more likely to get wounded
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/head.dm
Labels: Tweak, Balance Council Approved

#18761 Adds Lavaland EMT as a mining medic title
  yogstation/code/modules/jobs/job_types/mining_medic.dm
Labels: Feature, Revert / Deletion

#18847 Apparently there's two different types of grown plants
  code/modules/hydroponics/growninedible.dm
Labels: Fix

#18863 Some Battleroyale mode tweaks
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/paperwork/pen.dm
  yogstation/code/game/gamemodes/battle_royale/battleroyale.dm
  yogstation/code/game/gamemodes/battle_royale/loot.dm
  yogstation/code/game/gamemodes/battle_royale/storm.dm
  yogstation/code/game/gamemodes/vampire/vampire.dm
Labels: Tweak

#18774 Attempts to fix additional bugs with the battle royale gamemode
  yogstation/code/game/gamemodes/battle_royale/battleroyale.dm
Labels: Fix

#18681 New Preternis martial art
  code/__DEFINES/melee.dm
  code/__DEFINES/traits.dm
  code/datums/components/footstep.dm
  code/datums/martial/worldshaker.dm
  code/game/objects/items/granters.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/vehicles/ridden.dm
  yogstation.dme
  yogstation/code/modules/uplink/uplink_item.dm
Labels: DME Edit, Feature, Balance Council Approved

#18867 Legions can now move through their own skulls
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
Labels: Tweak

#18925 Kills libvg
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/blob/powers.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/client/client_defines.dm
  code/modules/mob/living/carbon/alien/humanoid/alien_powers.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/say.dm
  libvg.dll
  yogstation.dme
  yogstation/code/modules/client/verbs/looc.dm
  yogstation/code/modules/libvg/utf8.dm
Labels: DME Edit, Admin

#18906 Fixes misleading donor item poster text
  yogstation/code/modules/donor/unique_donator_items.dm
Labels: Fix

#18920 Living Hearts now display their target when examined by a ghost
  code/modules/antagonists/eldritch_cult/eldritch_items.dm
Labels: Tweak

#18903 Fixes modular computers having inconsistent damage examines
  code/modules/modular_computers/computers/machinery/modular_computer.dm
Labels: Fix

#18844 A whole bunch of voice of god changes
  code/modules/surgery/organs/vocal_cords.dm
Labels: Tweak, Awaiting - Action - Author, Balance Council Approved

#18933 His grace does triple damage to airlocks
  code/game/objects/items/his_grace.dm
Labels: Tweak, Balance Council Approved

#18902 Wand of Resurrection used on self is no longer instant (do_after)
  code/modules/projectiles/guns/magic/wand.dm
Labels: Tweak, Balance Council Approved

#18889 Updates hypernoblium shard instructions to be accurate
  code/game/objects/items/supermatter_delaminator.dm
Labels: Tweak

#18699 Buffs explosive fist
  yogstation/code/datums/martial/explosive_fist.dm
Labels: Tweak, Fix, Awaiting - Action - Maintainer, Balance Council Approved

#18942 IPC unique cult eyes message
  code/modules/mob/living/carbon/human/examine.dm
Labels: Tweak

#18916 Adds 10mm caseless ammunition
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/ammo.dmi
Labels: Feature, Sprites

#18961 corrects the asteroidstation armory
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Mapping, Revert / Deletion

#18959 Makes the Switchblade quieter
  code/game/objects/items/weaponry.dm
Labels: Tweak

#18898 Adds the derringer pistol, a tiny 3TC traitor double-chamber gun loaded in .357
  code/datums/components/storage/concrete/pockets.dm
  code/modules/projectiles/boxes_magazines/internal/revolver.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/guns/projectile.dmi
Labels: Feature, Sprites, Awaiting - Action - Sprite Review, Awaiting - Action - Balance Review

#18879 mateba is now .44, some deagle buffs
  _maps/RandomZLevels/spacebattle.dmm
  _maps/map_files/generic/CentCom.dmm
  code/game/objects/structures/crates_lockers/closets/secure/misc.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/jobs/job_types/centcom.dm
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/ammunition/ballistic/smg.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/boxes_magazines/internal/revolver.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/projectiles/projectile/bullets/smg.dm
  icons/obj/ammo.dmi
  sound/weapons/44fire.ogg
Labels: Feature, Tweak, Mapping, Sound, Sprites, Awaiting - Action - HD, Map Change, Balance Council Approved

#18680 Adds some netherworld mobs for mapping, bus, etc.
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
  icons/mob/animal.dmi
  sound/voice/pentarox.ogg
  sound/voice/wretch.ogg
Labels: Feature, Sound, Sprites

#18940 fixes #18923
  code/datums/martial/buster_style.dm
Labels: Fix

#18910 semicircle of cogs 2 electric boogaloo
  _maps/map_files/generic/City_of_Cogs.dmm
Labels: Mapping, TESTMERGED

#18953 IPC Revival Rework
  _maps/map_files/YogStation/YogStation.dmm
  code/game/objects/items/miscellaneous.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/ipc_revival.dm
  code/modules/vending/robotics.dm
  icons/misc/surgery_icons.dmi
  sound/machines/dial-up.ogg
  yogstation.dme
Labels: DME Edit, Feature, Mapping, Sound, Fix, Revert / Deletion, Sprites

#18958 Worldshaker bugfixes and minor tweaks
  code/datums/martial/worldshaker.dm
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Tweak, Fix, Balance Council Approved

#18945 Stamina damage can disable limbs again
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Tweak

#18873 Flying fang tweaks
  code/__DEFINES/movespeed_modification.dm
  code/datums/martial/flying_fang.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/physiology.dm
Labels: Tweak, Balance Council Approved

#18950 Worldshaker no longer ignores armour with most attacks
  code/datums/martial/worldshaker.dm
Labels: Fix

#18915 Modifies gax engineering
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Mapping

#18973 Nanotrasen scientists have taken back their experimental forcefield-armed wheely heels
  code/modules/vehicles/scooter.dm
Labels: Fix

#18979 Fixes the hand teleporter gettign a little quirky when failing to dispel portals, further proving the theory that yogsdev debugging is "let theos use it"
  code/game/objects/items/teleportation.dm
Labels: Fix

#18975 Adds default 10mm magazines back to the uplink
  code/modules/uplink/uplink_items.dm
Labels: Fix

#18980 another buster arm pr (nerf)
  code/datums/martial/buster_style.dm
  code/datums/status_effects/buffs.dm
  code/game/objects/items/devices/busterarm/buster_limb.dm
  code/game/objects/items/devices/busterarm/wire_snatch.dm
Labels: Tweak, Fix

#18964 [YOGSTATION] [99% LAG FREE] Biggest Blackest Medbay edition 3.141592 (we merge the right one edition)
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#18972 Removes refined dragons blood from the uplink
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak, Revert / Deletion, Balance Council Approved

#18970 Wing potion costs 2tc instead of 5
  code/modules/uplink/uplink_items.dm
Labels: Tweak, Balance Council Approved
