Repository yogstation13/Yogstation, pull requests merged in 2023-02, with the labels that each got.

#17568 riot shotguns need 2 hands to shoot
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Tweak, Awaiting - Action - Balance Review, i ded

#17648 The L6 is no longer just a better minigun
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/minigun.dm
  code/modules/projectiles/projectile/bullets/lmg.dm
Labels: Tweak, Awaiting - Action - Balance Review

#17536 new traitor item buster arm
  code/game/objects/items/busterarm.dm
  code/modules/uplink/uplink_items.dm
  icons/mob/augmentation/augments_buster.dmi
  icons/obj/wizard.dmi
  yogstation.dme
Labels: DME Edit, Feature, Sprites, Awaiting - Action - Balance Review

#17719 Make bound cid/ip ban message include round id, because its important…
  code/modules/admin/IsBanned.dm
Labels: Tweak, Admin

#17737 Fixes buster arm grapple requiring wizard robes
  code/game/objects/items/busterarm.dm
Labels: Fix

#17716 Makes metal hydrogen armor look a bit less weird with digitigrade legs
  code/modules/clothing/suits/armor.dm
  icons/mob/clothing/suit/suit.dmi
Labels: Sprites, Fetish Content

#17750 [s] patches an exploit where you could dodge wing examine
  code/modules/mob/living/carbon/human/examine.dm
Labels: Fix

#17746 [s] Fixes workaround for combat mech auth requirement
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mech_fabricator.dm
  code/modules/research/designs.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/designs/mechfabricator_designs.dm
  tgui/packages/tgui/interfaces/ExosuitFabricator.js
Labels: Fix, tgui, Javascript

#17767 Disables the centcom raven cruiser for having fucked atmos
  code/datums/shuttles.dm
Labels: Map Change, Revert / Deletion

#17758 Fixes wing examine text
  code/modules/mob/living/carbon/human/examine.dm
Labels: Fix

#17754 Raises the volume of all pre-nerf pills
  code/modules/reagents/reagent_containers/pill.dm
Labels: Fix

#17753 Fixes a runtime in itching powder
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Fix

#17747 Fixed several bugs with tcoms translation filter
  yogstation/code/modules/scripting/Implementations/Telecomms.dm
Labels: Fix

#17765 Fixes a lethal runtime in NT-USP
  code/modules/projectiles/boxes_magazines/external/rechargable.dm
Labels: Fix

#17760 Fixes tgui bluescreen
  tgui/public/tgui.html
Labels: Fix, tgui

#17729 Adds more info to cloaker belt
  code/game/objects/items/devices/traitordevices.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Feature

#17714 Heretic runes will no longer eat more items than is required to transmutate
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
Labels: Fix

#17757 More cult fake rune tomfoolery
  code/game/objects/effects/decals/crayon.dm
Labels: Tweak

#17588 slugs have even more damage falloff and overall shotgun pellet reworks
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: Tweak, Awaiting - Action - Balance Review

#17709 [boring] Github labeler changes
  .github/labeler.yml
Labels: Tweak, Literally the best PR, Github

#17762 Un-breaks map diff bot
  _maps/map_files/YogsDelta/YogsDelta.dmm
Labels: Mapping

#17755 Makes neural overclocker autosurgeon single use
  code/modules/surgery/organs/autosurgeon.dm
Labels: Tweak

#17773 Gunlights are back (probably)
  code/modules/projectiles/gun.dm
Labels: Fix

#17775 adds snail emoji to ooc
  icons/emoji.dmi
Labels: Feature, Sprites

#17759 AI can now properly dab
  code/modules/mob/living/silicon/ai/decentralized/projects/ai_dab.dm
Labels: Fix

#17733 Prematurely cancelling desynchronizer now has serious downsides and nerfed max time
  code/game/objects/items/devices/desynchronizer.dm
Labels: Feature, Tweak

#17718 Non-harmful projectiles no longer cause bleeding and damage when embedding
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Fix

#17774 blue burger uses patty not steak
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
Labels: Tweak

#17749 Adds the rest of the roundstart race languages to multilingual quirks
  code/datums/traits/good.dm
Labels: Feature

#17768 Foam darts now deal stamina damage if you're holding a toy foam gun
  code/modules/projectiles/projectile/reusable/foam_dart.dm
Labels: Feature

#17582 Uranium eating aegun, second try
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  icons/obj/guns/energy.dmi
Labels: Feature, Tweak, Sprites, Awaiting - Action - Balance Review

#17712 Lavaland Corn Maze Ruin
  _maps/RandomRuins/LavaRuins/lavaland_surface_maze.dmm
  code/datums/ruins/lavaland.dm
  config/lavaruinblacklist.txt
Labels: Mapping, Config

#17797 Updates inventory procs to allow silent pickup
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/mob/inventory.dm
Labels: Fix

#17776 Alternate Gax Arrivals design for free miner ship
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Mapping

#17822 Reenables Shadowling - Disabled by Mistake
  config/game_options.txt
Labels: Fix

#17799 Bloodsucker tasks will no longer lie to you about their requirements
  code/modules/antagonists/bloodsuckers/bloodsuckers.dm
  code/modules/antagonists/bloodsuckers/structures/bloodsucker_crypt.dm
Labels: Fix

#17748 adds det's sunglasses and shit on his desk on gax and other misc stuff
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Mapping

#17738 Actually adds passive vent to RPD
  code/game/objects/items/RPD.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/machinery/components/unary_devices/passive_vent.dm
Labels: Feature, Awaiting - Action - Code Owner, Atmos Change

#17791 The round ends when the MALF is destroyed (Only applies to solo MALF rounds).
  config/game_options.txt
Labels: Tweak, Config, Awaiting - Action - HD

#17802 monkey energy no longer becomes invisible when crushed
  yogstation/icons/obj/janitor.dmi
Labels: Sprites, Awaiting - Action - Sprite Review

#17846 Chasm maze ruin now actually gives loot
  _maps/RandomRuins/LavaRuins/lavaland_surface_maze.dmm
Labels: Mapping, Fix, Map Change

#17825 Removes felinid language
  code/datums/traits/good.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/language/felinid.dm
  code/modules/language/language_holder.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/surgery/organs/tongue.dm
  icons/misc/language.dmi
  yogstation.dme
  yogstation/code/modules/scripting/Implementations/Telecomms.dm
Labels: DME Edit, Revert / Deletion, Sprites

#17806 Fixes 'id in pda' preference
  code/modules/client/preferences/pda.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/living/carbon/human/human_defines.dm
Labels: Fix, Awaiting - Merge

#17766 L6 re-tweak (we're rolling it back (kinda))
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/projectile/bullets/lmg.dm
Labels: Tweak, Balance, Awaiting - Action - Balance Review

#17795 It now takes 6 seconds to cremate someone, and 3 seconds to break out if they're conscious
  code/game/objects/structures/morgue.dm
Labels: Tweak

#17670 Big Heretic revamp (finally)
  code/datums/status_effects/debuffs.dm
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_book.dm
  code/modules/antagonists/eldritch_cult/eldritch_items.dm
  code/modules/antagonists/eldritch_cult/knowledge/ash_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/rust_lore.dm
  code/modules/antagonists/eldritch_cult/transmutations/ash_transmutations.dm
  code/modules/antagonists/eldritch_cult/transmutations/flesh_transmutations.dm
  code/modules/antagonists/eldritch_cult/transmutations/rust_transmutations.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/projectiles/guns/magic.dm
Labels: Tweak, Fix, Awaiting - Merge

#17723 Falling into a chasm doesn't delete your body and someone can fish you up
  _maps/RandomRuins/LavaRuins/miningbase.dmm
  code/datums/components/chasm.dm
  code/game/objects/structures/fireaxe.dm
  icons/obj/wallmounts.dmi
  yogstation/code/game/objects/items/fishing/rods.dm
  yogstation/icons/obj/fishing/fishing.dmi
Labels: Feature, Tweak, Mapping, Sprites, Awaiting - Action - Maintainer

#17834 Fixing uber medigun charging 10x slower and lasting 10x longer
  code/modules/projectiles/guns/misc/medbeam.dm
Labels: Fix, Awaiting - Merge

#17813 Fix a runtime that prevents proper sorting in holopad room listing
  code/game/machinery/hologram.dm
Labels: Fix, Awaiting - Merge

#17837 You can now copy the access of a airlock by hitting it with airlock electronics
  code/game/machinery/doors/airlock.dm
Labels: Feature, Awaiting - Merge

#17852 Dilithium 2: electric boogaloo (pun intended)
  code/datums/components/remote_materials.dm
  code/game/machinery/recycler.dm
  code/modules/goals/department_goals/cargo.dm
  code/modules/mining/machine_silo.dm
Labels: Fix, Awaiting - Merge

#17831 RPD now builds even when clicked on another pipe
  code/game/objects/items/RPD.dm
Labels: Tweak, Awaiting - Merge

#17807 Removes corn syrup from catsip
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
Labels: Tweak, Fetish Content, Awaiting - Merge

#17848 Adds barricading of airlocks and doors
  code/game/machinery/deployable.dm
  code/game/machinery/doors/door.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/window.dm
Labels: Feature, Awaiting - Merge

#17764 Massacres the unused maps.
  .github/guides/RUNNING_A_SERVER.md
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_beach.dmm
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_casino.dmm
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_clock.dmm
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_disco.dmm
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_eclipse.dmm
  _maps/RandomRuins/StationRuins/EclipseStation/ebar_saloon.dmm
  _maps/_basemap.dm
  _maps/eclipsestation.dm
  _maps/eclipsestation.json
  _maps/icebox.json
  _maps/kilostation.dm
  _maps/kilostation.json
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/EclipseStation/job_changes.dm
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/Omegastation/job_changes.dm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/omegastation.dm
  _maps/omegastation.json
  _maps/yogsdelta.dm
  _maps/yogsdelta.json
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/cyborg.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  config/maps.txt
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
  yogstation/code/modules/jobs/job_types/brig_physician.dm
  yogstation/code/modules/jobs/job_types/clerk.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
  yogstation/code/modules/jobs/job_types/network_admin.dm
  yogstation/code/modules/jobs/job_types/paramedic.dm
  yogstation/code/modules/jobs/job_types/psychiatrist.dm
  yogstation/strings/taglines.txt
Labels: Mapping, Config, Revert / Deletion, Github, Awaiting - Action - HD

#17812 Adds a chemical that purges nanites
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Feature

#17881 actually removes delta
  _maps/map_files/YogsDelta/YogsDelta.dmm
Labels: Revert / Deletion, Map Change

#17832 Gives onehalf a blue oxygen tank instead of a red one inside the safe
  _maps/RandomRuins/SpaceRuins/onehalf.dmm
Labels: Mapping, Revert / Deletion, Awaiting - Action - Maintainer, Map Change

#17856 Revert "Removes felinid language"
  code/datums/traits/good.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/language/felinid.dm
  code/modules/language/language_holder.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/surgery/organs/tongue.dm
  icons/misc/language.dmi
  yogstation.dme
  yogstation/code/modules/scripting/Implementations/Telecomms.dm
Labels: DME Edit, Controversial, Sprites

#17735 Multilingual quirk can no longer give you centcom encrypted language and costs 2 points instead of 3
  code/datums/traits/good.dm
Labels: Tweak, Awaiting - Merge

#17769 Purchasable autosurgeon for 5TC
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/device.dmi
Labels: Feature, Sprites, Awaiting - Action - Sprite Review

#17785 adds a spare mag to oddjob kit
  code/game/objects/items/storage/uplink_kits.dm
Labels: Tweak, Awaiting - Merge

#17790 Protects events from being faked random by admins
  code/modules/events/_event.dm
Labels: Admin, Awaiting - Merge

#17801 rotates the gas simulator in yogstation turbine
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping, Awaiting - Merge, Map Change

#17804 Adds box of shotgun darts to the uplink for 2TC
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/projectile/bullets/dart_syringe.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature, Awaiting - Merge

#17811 Reduces body temp increase from being on fire
  code/modules/mob/living/carbon/human/species.dm
Labels: Tweak, Awaiting - Merge

#17818 Prevents wormholes from spawning in syndicate shuttles
  code/game/area/areas/shuttles.dm
  code/modules/events/wormholes.dm
Labels: Tweak, Awaiting - Merge

#17819 Makes zombie scaling infection chance simpler and more consistent
  code/modules/zombie/items.dm
Labels: Tweak, Awaiting - Merge

#17836 Adds Personnel HUD Type, gives HoP and Cap a pair of sunglasses with it
  code/modules/clothing/glasses/hud.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  icons/mob/clothing/eyes/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: Feature, Sprites, Awaiting - Action - Author, Awaiting - Action - Sprite Review

#17854 Gives mining medic a laptop to keep track of bodycams
  code/modules/modular_computers/computers/item/laptop/laptop_presets.dm
  yogstation/code/modules/jobs/job_types/brig_physician.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
Labels: Feature, Tweak

#17847 Removes #1 cause of suicide in Lizards
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: Feature, Fetish Content, Awaiting - Action - Maintainer

#17840 Actually fixes gas mixer sprite for real this time
  icons/obj/atmospherics/components/trinary_devices.dmi
Labels: Sprites, Awaiting - Action - Sprite Review

#17835 Typo fix
  code/_onclick/hud/swarmer.dm
  code/modules/antagonists/clockcult/clock_scriptures/scripture_scripts.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/paperwork/pen.dm
  code/modules/spells/spell_types/touch_attacks.dm
  code/modules/uplink/uplink_items.dm
  yogstation/code/datums/martial/explosive_fist.dm
  yogstation/code/datums/martial/garden_warfare.dm
  yogstation/code/datums/martial/stealth.dm
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Tweak, Fix

#17770 Buffs the MK-II Ripley's speed
  code/game/mecha/working/ripley.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak, Balance

#17866 Unfucks darkspawn veils but they're still weaker
  yogstation/code/game/gamemodes/darkspawn/veil.dm
Labels: Tweak, Fix, Awaiting - Action - Author

#17863 fixes vxtvul hammer light
  code/game/objects/items/twohanded.dm
Labels: Fix, Awaiting - Action - Maintainer

#17867 Reduces drakeling attack cooldowns slightly to match the mining equipment they are meant to upgrade
  code/modules/mob/living/simple_animal/hostile/mining_mobs/drakeling.dm
Labels: Tweak

#17865 makes darkspawn mindshield text a little less cringe
  yogstation/code/game/gamemodes/darkspawn/darkspawn.dm
Labels: Tweak, Awaiting - Merge

#17873 seismic arm's overcharged emitter flight path fix
  code/modules/mining/lavaland/seismicarm.dm
Labels: Fix

#17739 Removes mod disks from loot pool, and makes them orderable from cargo. Also adds a KA crate.
  code/modules/cargo/bounties/progression.dm
  code/modules/cargo/packs.dm
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Tweak, Awaiting - Action - Maintainer

#17609 Increase wizard playercount from 27 to 34 so its not syndicate station 2 (the second one)
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/game/gamemodes/wizard/wizard.dm
Labels: Tweak, Balance Council Approved

#17720 Revert "Replaces chasm destruction spawn from tendrils with lava"
  code/game/objects/structures/lavaland/necropolis_tendril.dm
Labels: Feature, DO NOT MERGE, Revert / Deletion, Controversial, On hold - HD

#17724 Miners wormhole jaunter location shuffle
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/mining/mine_items.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
Labels: Feature, Revert / Deletion, Awaiting - Action - Maintainer

#17803 Fix a ton of harddels
  code/datums/datum.dm
  code/datums/hud.dm
  code/datums/mind.dm
  code/game/area/areas.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/items/chrono_eraser.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/abductor/equipment/gland.dm
  code/modules/antagonists/blob/blobstrains/_blobstrain.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/disease/disease_disease.dm
  code/modules/antagonists/disease/disease_mob.dm
  code/modules/assembly/assembly.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
  code/modules/awaymissions/mission_code/Cabin.dm
  code/modules/clothing/spacesuits/chronosuit.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/fields/timestop.dm
  code/modules/food_and_drinks/kitchen_machinery/food_cart.dm
  code/modules/mining/laborcamp/laborstacker.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mining/machine_stacking.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/slime/life.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_lists.dm
  code/modules/reagents/reagent_containers/borghypo.dm
  code/modules/recycling/disposal/bin.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/research/xenobiology/crossbreeding/burning.dm
  code/modules/research/xenobiology/xenobio_camera.dm
  yogstation/code/datums/antagonists/vampire.dm
Labels: Fix, Performance, Test Merge - Requested

#17805 Medbots have a chance to say "You are a good" when you help them
  code/modules/mob/living/simple_animal/bot/medbot.dm
  sound/voice/medbot/you_are_a_good.ogg
Labels: Feature, Sound, Awaiting - Action - HD

#17809 Nanite heart processes nanites on life tick
  yogstation/code/modules/surgery/organs/heart.dm
Labels: Tweak, Awaiting - Merge

#17814 Changes lizard hiss and increases staff, mentor, and donor retention by allowing felinids to hiss.
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/feline/hiss1.ogg
  sound/voice/feline/hiss2.ogg
  sound/voice/feline/hiss3.ogg
  sound/voice/lizard/hiss.ogg
Labels: Feature, Sound, Controversial, Fetish Content, Awaiting - Action - HD

#17824 Antag Reputation Redux
  code/__HELPERS/roundend.dm
  code/controllers/configuration/entries/game_options.dm
  code/modules/jobs/job_types/_job.dm
  config/antag_rep.txt
  config/game_options.txt
Labels: Config, Controversial, Awaiting - Action - HD

#17828 IPC martial buffs
  code/datums/martial/ultra_violence.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Tweak, Balance, Awaiting - Action - Balance Review

#17842 Removes appendix from darkspawn
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/darkspawn.dm
Labels: Revert / Deletion

#17878 You can no longer change directions while dead
  code/modules/keybindings/bindings_atom.dm
Labels: Fix

#17833 Darkspawn is now a midround instead of a gamemode
  code/modules/events/darkspawn.dm
  code/modules/events/nightmare.dm
  config/game_options.txt
Labels: Tweak, Config, Balance, Balance Council Approved

#17903 uh oh
  yogstation.dme
Labels: DME Edit

#17894 hugboxes narsie plushie
  yogstation/code/modules/donor/unique_donator_items.dm
Labels: Fix

#17889 cooldown actions isavailable now calls parent proc
  code/datums/action.dm
Labels: Tweak, Fix

#17897 better metashield for tactical fingerless gloves
  code/modules/clothing/gloves/miscellaneous.dm
Labels: Tweak

#17887 Actually removes janitors access to the engine that the job had for the last two months
  code/modules/jobs/job_types/janitor.dm
Labels: Fix

#17919 [s] fixes recharger exploit
  code/game/machinery/recharger.dm
Labels: Fix

#17921 Fix crew monitor runtime
  code/modules/modular_computers/file_system/programs/medical/crew_monitor.dm
Labels: Fix

#17772 A vain attempt to make the minigun more viable
  code/modules/projectiles/guns/ballistic/minigun.dm
  code/modules/projectiles/projectile/bullets/minigun.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak, Balance, Balance Council Approved

#17781 Revert "Restricts Hypnotic Flash to Psychiatrist"
  yogstation/code/modules/uplink/uplink_item.dm
Labels: Tweak, Balance Council Approved

#17888 IPC don't take hard crit damage if they have NOHARDCRIT trait
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Labels: Fix

#17914 processing meat slabs now work as intended
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
  code/modules/food_and_drinks/recipes/processor_recipes.dm
Labels: Fix

#17916 Fixes cark's donator item
  yogstation/code/modules/clothing/donator.dm
  yogstation/code/modules/donor/unique_donator_items.dm
Labels: Fix

#17721 Long Awaited Psychiatrist Rework
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/__DEFINES/traits.dm
  code/datums/brain_damage/brain_trauma.dm
  code/datums/brain_damage/mild.dm
  code/datums/brain_damage/severe.dm
  code/datums/brain_damage/special.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/laserpointer.dm
  code/modules/assembly/flash.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/examine.dm
  yogstation/code/modules/jobs/job_types/psychiatrist.dm
Labels: Feature, Mapping, Balance Council Approved

#17941 [box] Makes a bit more space in med maint
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping, Map Change

#17930 NVS Gax Incinerator Expansion
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Mapping, Map Change

#17870 Bloodsuckers now resist damage slowdown
  code/modules/antagonists/bloodsuckers/bloodsuckers.dm
Labels: Tweak, Awaiting - Action - Balance Review

#17864 Buffs the ebow to be faster
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/energy/ebow.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Tweak, Balance Council Approved

#17945 should fix revolution not happening
  code/game/gamemodes/revolution/revolution.dm
Labels: Fix

#17923 Fixes honkmother sect not being able to heal anyone
  code/modules/religion/religion_sects.dm
Labels: Fix

#17936 Fixes editing bans in game
  code/modules/admin/sql_ban_system.dm
Labels: Fix, Admin

#17939 Bloodsucker Brawn knockdown patch
  code/modules/antagonists/bloodsuckers/powers/targeted/brawn.dm
Labels: Fix

#17922 Fixes atmos fire fighting backpack
  code/game/objects/items/extinguisher.dm
  code/game/objects/items/tanks/watertank.dm
Labels: Fix

#17946 Mouse traps no longer hurt robot limbs
  code/modules/assembly/mousetrap.dm
Labels: Tweak

#17928 you no longer fumble your hand contents if you try clicking on something with one handed crusher
  code/modules/mining/equipment/kinetic_crusher.dm
Labels: Tweak

#17918 You still get bonus antag rep if the round was force ended and you lived
  code/__HELPERS/roundend.dm
Labels: Tweak

#17917 Removes the knockout from high level bloodsucker mesmerize since it makes the ability weaker
  code/modules/antagonists/bloodsuckers/powers/targeted/mesmerize.dm
Labels: Tweak

#17942 [box] Fixes some map issues
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping, Map Change

#17861 fixes some issues in infiltrator base
  _maps/map_files/generic/CentCom.dmm
Labels: Mapping, Map Change

#17935 Malfunctioning AIs no longer need to kill androids or synthetics
  code/game/gamemodes/objective.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
Labels: Tweak

#17901 Adds new access define for Secure Tech Storage
  code/__DEFINES/access.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/chief_engineer.dm
Labels: Tweak, Fix

#17880 Makes vote weight and preferred map actually work
  code/controllers/subsystem/vote.dm
Labels: Fix

#17969 [box] fixes opacity on psych doors
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#17883 removes plate from green eggs and ham
  icons/obj/food/food.dmi
Labels: Sprites, Awaiting - Merge

#17924 [BOUNTY] Holy Light sect, dedicated to healing
  code/datums/status_effects/buffs.dm
  code/game/objects/items/storage/book.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/religion/religion_sects.dm
  code/modules/religion/rites.dm
  icons/obj/hand_of_god_structures.dmi
Labels: Feature, Sprites, Awaiting - Action - Sprite Review, Balance Council Approved

#17949 Fixes energy sword dupe exploit
  code/modules/mob/living/simple_animal/bot/SuperBeepsky.dm
Labels: Fix

#17934 Lings can no longer use last resort or hivemind speak while being absorbed
  code/datums/saymode.dm
  code/modules/antagonists/changeling/powers/headcrab.dm
Labels: Tweak, Balance Council Approved

#17970 Easier wounds on unclosed surgery sites
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Tweak, Awaiting - Merge, Balance Council Approved

#17965 Fix apply_innate_effects not getting mob refs like its supposed to, fixes veil health not being modified
  code/modules/antagonists/_common/antag_datum.dm
Labels: Fix

#17952 [Meta] Fixes some map issues
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Mapping, Awaiting - Merge, Map Change

#17968 Implements secure storage access from #17901 for maps
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping, Map Change

#17890 Removes crit blindness from those with corresponding crit immunity trait
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix, Balance Council Approved

#17976 Fixes a bug where the Rod of White would become the Rod of Asclepius
  code/datums/status_effects/buffs.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/religion/rites.dm
Labels: Fix

#17979 holy light now only goes on cooldown if it actually healed someone
  code/modules/religion/religion_sects.dm
Labels: Tweak

#17985 transcendent olfaction nerf
  code/datums/mutations/olfaction.dm
  code/modules/antagonists/bloodsuckers/powers/olfaction.dm
Labels: Tweak, Awaiting - Merge, Significant Support, Balance Council Approved

#17984 Holy Light bible can no longer heal soulless bodies
  code/modules/religion/religion_sects.dm
Labels: Tweak

#17892 Removes 'id in pda' preference, makes it the default behaviour
  code/modules/client/preferences/pda.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/pda.tsx
Labels: Revert / Deletion, tgui

#17891 buster arm now comes in a box with 3 monkeys for the user to practice with
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#17879 Lizard Buff: You can now defib "no activity in patient's brain"
  code/game/objects/items/defib.dm
Labels: Tweak, Fetish Content

#17962 Can no longer apply tape to xenobiology grenades
  code/game/objects/items/stacks/tape.dm
Labels: Tweak

#17974 [box] remove beepsky's mom's note from the middle of brig???
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping, Controversial, Missing/Inadequate Rationale, Significant Opposition, Map Change

#17980 Adds Cryostasis to Ninja Jail (Dojo)
  _maps/map_files/generic/CentCom.dmm
Labels: Mapping, Map Change

#17959 Fire extinguishers can now put out fires on top of machines, structures, tables, and grilles
  code/__DEFINES/flags.dm
  code/_globalvars/bitfields.dm
  code/game/objects/effects/effect_system/effects_water.dm
  code/game/objects/structures.dm
Labels: Tweak

#17868 Removed dilithium cost from super power cell, increased glass cost to match that of hyper power cell, added silver and gold cost to half that of hyper power cell cost.
  code/modules/research/designs/power_designs.dm
Labels: Tweak, Awaiting - Action - Author

#17810 Nerfs Preternis because I want to be the only one that plays them
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Tweak, Balance, Balance Council Approved

#17841 Lets roboticists repair robotic bodies faster
  code/game/objects/items.dm
Labels: Feature, Balance, Balance Council Approved

#17920 cursed cane buff
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Tweak, Balance Council Approved

#17988 Adds a stasis bed and surgery duffel to Reebe
  _maps/map_files/generic/City_of_Cogs.dmm
Labels: Tweak, Mapping, Map Change, Balance Council Approved

#17896 Buster arm code refactor
  code/game/objects/items/busterarm.dm
  code/game/objects/items/devices/busterarm/_buster.dm
  code/game/objects/items/devices/busterarm/buster_limb.dm
  code/game/objects/items/devices/busterarm/grapple.dm
  code/game/objects/items/devices/busterarm/megabuster.dm
  code/game/objects/items/devices/busterarm/mop.dm
  code/game/objects/items/devices/busterarm/slam.dm
  code/game/objects/items/devices/busterarm/wire_snatch.dm
  yogstation.dme
Labels: DME Edit, Refactor
