Repository yogstation13/Yogstation, pull requests merged in 2023-07, with the labels that each got.

#19231 Tweak plasmeme damage mods
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: Tweak, Balance Council Approved

#19325 Mirage drive buff
  code/__HELPERS/AStar.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/objects/items/devices/miragedrive.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature, Tweak, Awaiting - Action - Maintainer, Balance Council Approved

#19398 Removes negative AP from .38 lethal rounds
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
Labels: Balance Council Approved

#19469 Replace ambiguous IAA boxes with actual items
  yogstation/code/game/objects/items/implants/implant_dusting.dm
Labels: Tweak

#19477 Clockwork & wizard spells no longer trigger spam
  code/modules/antagonists/clockcult/clock_helpers/ratvarian_language.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/spells/spell.dm
Labels: Fix

#19476 Water will now wake you up when splashed
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Tweak

#19475 Grammar pass on cleaving saw
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Tweak

#19462 Robotic healing tweaks
  code/game/objects/items.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/power/cable.dm
  yogstation/code/game/objects/items/holotool/holotool.dm
Labels: Tweak, Fix, Balance Council Approved

#19307 Moves Stormtrooper, TRAC, Vatra, DRAGnet crates to Security category
  code/modules/cargo/packs.dm
Labels: Tweak, Merge conflict, Balance Council Approved

#19222 lets photogeists heal non plants (at a far reduced rate)
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
Labels: Tweak

#19124 Adds door speed var, makes firelocks faster.
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
Labels: Tweak

#19478 Fix unnable to build HFR parts from cargo
  code/modules/cargo/packs.dm
Labels: Fix

#19460 updates in-game cookbook
  code/game/objects/items/manuals.dm
Labels: Tweak

#19461 Makes welding cheddar less annoying
  code/modules/food_and_drinks/food/snacks_cheese.dm
Labels: Tweak

#19468 tiny cook vendor changes
  code/modules/vending/dinnerware.dm
  code/modules/vending/wardrobes.dm
Labels: Tweak, Revert / Deletion

#19453 adds hop parade jacket
  code/game/objects/items/storage/backpack.dm
  code/modules/clothing/suits/armor.dm
  icons/mob/clothing/suit/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Feature, Sprites

#19215 i'm BORED i'm going to REDESIGN SYNDICATE LAVALAND
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  code/game/area/areas/ruins/lavaland.dm
  code/modules/admin/verbs/pray.dm
  code/modules/ruins/lavalandruin_code/syndicate_base.dm
  icons/turf/areas.dmi
Labels: Feature, Mapping, Sprites, Admin, Merge conflict

#19446 Makes legion cores also heal robotic limbs
  code/datums/status_effects/buffs/buffs.dm
Labels: Tweak

#19447 adds 2 new ion laws
  strings/yogs_ion_laws.json
Labels: Feature

#19466 donk pocket box doesnt say it will cool
  code/game/objects/items/storage/boxes.dm
Labels: Tweak

#19483 ports Holymelons are more melon-like
  code/modules/hydroponics/grown/melon.dm
Labels: Feature

#19253 Fixes polysmorph preferences tgui
  code/modules/client/preferences/gender.dm
  code/modules/client/preferences/species.dm
Labels: Fix, tgui

#19479 Cayenne the Second is now aggressive, listening post shutters fixed
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
Labels: Mapping, Fix

#19484 Reskins blahaj to a significantly more marketable variant
  code/game/objects/items/plushes.dm
  icons/mob/inhands/plushes_lefthand.dmi
  icons/mob/inhands/plushes_righthand.dmi
  icons/obj/plushes.dmi
Labels: Sprites, Fetish Content

#19490 Fixes dual mantis blades being unable to attack borgs
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#19339 Ruin Asteroid Medbay, now with a lamp on the table!
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Mapping, Awaiting - Action - Author

#19514 fixes chocolate milk looking like regular milk (bad felinid prank)
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Fix

#19525 Probably fixes blood cult
  code/modules/antagonists/cult/cult.dm
Labels: Fix

#19513 Fixes some instances of improper init args
  code/modules/hydroponics/grown/towercap.dm
  code/modules/hydroponics/seeds.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/recycling/disposal/construction.dm
  yogstation/code/game/objects/items/crayons.dm
  yogstation/code/game/objects/items/implants/implant_gang.dm
Labels: Fix

#19455 Chameleon envirosuit for plasmaman contractors + bugfix
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/clothing/chameleon.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak, Fix

#19488 Blowgun Tweak
  code/modules/projectiles/ammunition/special/syringe.dm
  code/modules/projectiles/guns/misc/syringe_gun.dm
  code/modules/projectiles/projectile/bullets/dart_syringe.dm
Labels: Tweak

#19512 Contractor baton now mutes on stamcrit
  code/game/objects/items/melee/misc.dm
Labels: Tweak, Balance Council Approved

#19497 Readds reporter as a roundstart lawset
  config/game_options.txt
Labels: Tweak, Config

#19498 Changes CEO weight from 4 to 3
  config/game_options.txt
Labels: Tweak, Config

#19552 The syndicate no longer exclusively recruits crit and dead people
  code/game/gamemodes/traitor/traitor.dm
Labels: Fix

#19467 IPC tweaks
  code/datums/outfit.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
Labels: Tweak, Balance Council Approved

#19535 Posibrains can only be used once per person per round
  code/modules/mob/living/brain/posibrain.dm
Labels: Tweak, Balance Council Approved

#19543 Space dragons can hear
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
Labels: Fix

#19544 Blood shooter slime weapon can no longer be put on the belt
  code/modules/research/xenobiology/crossbreeding/_weapons.dm
Labels: Fix

#19540 Cyborg hugging module now reduce status effects like carbon hugs.
  code/game/objects/items/robot/robot_items.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/status_procs.dm
Labels: Fix

#19517 IPC charging implant is now installed in the chest
  code/modules/surgery/organs/augments_arms.dm
Labels: Tweak, Fix

#19564 Removes ashen passage invocation (again!)
  code/modules/antagonists/eldritch_cult/eldritch_magic.dm
Labels: Fix

#19547 stunbaton and det baton show correctly when in belt slot
  icons/mob/clothing/belt.dmi
Labels: Tweak, Sprites

#19546 Chapel-alt doorfix
  _maps/RandomRuins/StationRuins/BoxStation/chapel2.dmm
Labels: Mapping, Fix

#19472 adds croissants from tg
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  icons/obj/food/food.dmi
Labels: Feature, Sprites

#19518 Makes fishing less cbt
  yogstation/code/datums/components/fishable.dm
  yogstation/code/game/objects/items/fishing/rods.dm
  yogstation/icons/obj/fishing/fishing.dmi
Labels: Tweak, Sprites

#19494 clerk can now access service protolathe on all maps
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Tweak, Mapping

#19515 [BOX] [GAX] replaces the airtight plastic flaps in the mailroom with switchable shutters
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Tweak, Mapping

#19516 [box] nw maints wire for auxbase
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#19561 [BOX] Fixes wires in permabrig hall because I forgot to redo it when I fixed merge conflicts
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#19503 [Box & Meta] "Unsecures" Psych Backroom
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Mapping

#19529 sprite for in-hand burnt out flash
  code/modules/assembly/flash.dm
  icons/mob/inhands/equipment/security_lefthand.dmi
  icons/mob/inhands/equipment/security_righthand.dmi
Labels: Sprites

#19555 Stops Accidental Overdosing for Cyborg Hyposprays
  code/modules/reagents/reagent_containers/borghypo.dm
Labels: Tweak

#19572 Petting Cyborgs now make a noise
  code/modules/mob/living/silicon/silicon_defense.dm
Labels: Tweak

#19576 Fixes create_new_traitor() making traitors into traitors^2
  code/game/gamemodes/traitor/traitor.dm
Labels: Fix

#19541 another attempt at fixing cult
  code/datums/actions/items/cult_dagger.dm
  code/game/gamemodes/cult/cult.dm
  code/modules/admin/antag_panel.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/abductor/abductor.dm
  code/modules/antagonists/ashwalker/ashwalker.dm
  code/modules/antagonists/brother/brother.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/monkey/monkey.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/antagonists/official/official.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/antagonists/zombie/zombie.dm
  yogstation/code/modules/antagonists/infiltrator/infiltrator.dm
Labels: Fix, Admin

#19613 fixes an atmos bug in Syndicate Lavaland (oops!)
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
Labels: Mapping, Fix

#19492 ports nugget boxes from tg
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/fancy.dm
  icons/obj/food/containers.dmi
Labels: Feature, Sprites

#19591 Removes legacy yogtoggles, mood is enabled by default.
  code/__DEFINES/{yogs_defines}/preferences.dm
  code/controllers/subsystem/economy.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/mind.dm
  code/game/gamemodes/game_mode.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences/donor.dm
  code/modules/client/preferences/middleware/legacy_toggles.dm
  code/modules/client/preferences/middleware/quirks.dm
  code/modules/client/preferences/migrations/legacy_mood_migration.dm
  code/modules/client/preferences/migrations/tgui_prefs_migration.dm
  code/modules/client/preferences/mood_enabling.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/new_player.dm
  yogstation.dme
  yogstation/code/controllers/subsystem/processing/quirks.dm
Labels: DME Edit

#19562 Earmuffs Counters Resonant Shriek
  code/modules/antagonists/changeling/powers/shriek.dm
Labels: Tweak

#19418 Cryo can only heal burn wounds
  code/__DEFINES/wounds.dm
  code/datums/wounds/_wounds.dm
  code/datums/wounds/burns.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: Awaiting - Action - Code Owner, Balance Council Approved

#19545 Cyborgs now have TRAIT_FORCED_STANDING
  code/modules/mob/living/silicon/silicon.dm
Labels: Fix

#19548 Add antinoblium canister sprite
  code/modules/atmospherics/machinery/portable/canister.dm
  icons/obj/atmospherics/canister.dmi
Labels: Feature, Sprites

#19556 Changes Harm Alarm's Misleading Text about Confusing Cyborgs
  code/game/objects/items/robot/robot_items.dm
Labels: Fix

#19565 Living Heart will let you choose a new target if the old one is deleted
  code/modules/antagonists/eldritch_cult/eldritch_transmutations.dm
Labels: Tweak

#19581 Attacking a limb at its damage cap applies some damage to the chest
  code/__DEFINES/combat.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Tweak

#19580 Explicitly specify extools in SpacemanDMM configuration
  SpacemanDMM.toml
Labels: IMPORTANT

#19578 People (me) can no longer make infinite error sprites with a stamp, paper, and some toner.
  code/modules/paperwork/paper.dm
  yogstation/code/_globalvars/lists/maintenance_loot.dm
Labels: Tweak, Fix

#19566 HFR production and fuel consumption scale with power level
  code/modules/atmospherics/machinery/components/fusion/hfr_defines.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_main_processes.dm
Labels: Tweak

#19560 Fixes Obliterate (ascended Brawn) shadow overlay not removing
  code/datums/status_effects/debuffs/debuffs.dm
Labels: Fix

#19602 Fixes being unable to put tanks in pneumatic cannons
  code/game/objects/items/pneumaticCannon.dm
Labels: Fix

#19521 fixes some bugs
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/logging.dm
  code/datums/elements/content_barfer.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/alien/humanoid/alien_powers.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/spells/spell_types/shapeshift/_shapeshift.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/dragon_expiration.dm
  yogstation.dme
  yogstation/code/modules/guardian/abilities/major/predator.dm
  yogstation/code/modules/guardian/abilities/minor/snares.dm
Labels: DME Edit, Fix

#19584 Flying fang no longer completely prevents use of outerwear slot, instead disables certain combos/pounce depending on equipment
  code/datums/martial/flying_fang.dm
Labels: Tweak, Revert / Deletion, Balance Council Approved

#19619 Lowers the price of Horror-in-a-box traitor item
  code/modules/uplink/uplink_items.dm
Labels: Tweak, Balance Council Approved

#19625 Ports sounds from bee that were ported from shiptest
  code/__DEFINES/machines.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/buttons.dm
  code/game/machinery/computer/_computer.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/computer/dna_console.dm
  code/game/machinery/firealarm.dm
  code/game/machinery/lightswitch.dm
  code/game/objects/items/devices/scanners.dm
  code/game/sound.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/mining/equipment/mineral_scanner.dm
  code/modules/power/apc.dm
  code/modules/recycling/conveyor2.dm
  code/modules/vending/_vending.dm
  sound/machines/button1.ogg
  sound/machines/button2.ogg
  sound/machines/button3.ogg
  sound/machines/button4.ogg
  sound/machines/keyboard/keypress1.ogg
  sound/machines/keyboard/keypress2.ogg
  sound/machines/keyboard/keypress3.ogg
  sound/machines/keyboard/keypress4.ogg
  sound/machines/keyboard/keystroke1.ogg
  sound/machines/keyboard/keystroke2.ogg
  sound/machines/keyboard/keystroke3.ogg
  sound/machines/keyboard/keystroke4.ogg
  sound/machines/pda_button1.ogg
  sound/machines/switch1.ogg
  sound/machines/switch2.ogg
  sound/machines/switch3.ogg
  sound/machines/terminal_select.ogg
Labels: Sound

#19559 Ports Bees ambience, reverb & sound system
  code/__DEFINES/sound.dm
  code/__DEFINES/subsystems.dm
  code/_globalvars/lists/ambience.dm
  code/controllers/subsystem/ambience.dm
  code/controllers/subsystem/sound.dm
  code/datums/diseases/heart_failure.dm
  code/datums/wounds/pierce.dm
  code/datums/wounds/slash.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/area/ai_monitored.dm
  code/game/area/areas.dm
  code/game/area/areas/away_content.dm
  code/game/area/areas/centcom.dm
  code/game/area/areas/mining.dm
  code/game/area/areas/ruins/_ruins.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/area/areas/ruins/space.dm
  code/game/area/areas/shuttles.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/quantum_pad.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/sound.dm
  code/modules/antagonists/clockcult/clock_effects/city_of_cogs_rift.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_procs.dm
  code/modules/chatter/chatter.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/instruments/songs/play_legacy.dm
  code/modules/mob/mob_defines.dm
  code/modules/modular_computers/file_system/programs/arcade.dm
  code/modules/modular_computers/file_system/programs/minesweeper.dm
  code/modules/projectiles/guns/ballistic/bow.dm
  code/modules/shuttle/shuttle.dm
  code/modules/surgery/helpers.dm
  code/modules/surgery/surgery_step.dm
  sound/ambience/ambiviro.ogg
  sound/ambience/ambiviro1.ogg
  sound/ambience/ambiviro2.ogg
  sound/ambience/cavesound3.ogg
  sound/ambience/magma.ogg
  sound/ambience/maintambience.ogg
  sound/ambience/source_corridor2.ogg
  sound/ambience/source_holehit3.ogg
  yogstation.dme
  yogstation/code/game/area/areas/centcom.dm
  yogstation/code/game/machinery/computer/arcade.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_progenitor.dm
  yogstation/code/modules/guardian/abilities/special/pocket.dm
Labels: Feature, Tweak

#19500 Refactors reagent processing, organ processing, and virus symptoms into one unified system
  code/__DEFINES/mobs.dm
  code/datums/diseases/advance/symptoms/symptoms.dm
  code/datums/traits/negative.dm
  code/modules/antagonists/abductor/equipment/gland.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/synths.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organs/appendix.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/liver.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/surgery/organs/stomach.dm
  code/modules/surgery/organs/tails.dm
  code/modules/surgery/organs/tongue.dm
  code/modules/surgery/organs/vocal_cords.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/organs.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
  yogstation/code/modules/surgery/organs/heart.dm
Labels: Tweak, Fix

#19510 Trays now only hold food/kitchen items and no longer HARDSTUN PEOPLE ON HIT
  code/game/objects/items/storage/bags.dm
Labels: Tweak

#19511 Gives storage implants a visual tell
  code/datums/components/storage/concrete/implant.dm
Labels: Tweak

#19520 The Goat King no longer accepts magic flowers as gifts
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  yogstation/code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
Labels: Tweak

#19599 Reinforces Reebe so Clockies cannot escape
  _maps/map_files/generic/City_of_Cogs.dmm
Labels: Tweak, Mapping, Fix

#19594 Eating with table clears ate without table
  code/modules/food_and_drinks/food/snacks.dm
Labels: Tweak

#19593 Adds the remote signaling button
  code/modules/assembly/assembly.dm
  code/modules/assembly/signaler.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/vending/assist.dm
  yogstation/code/modules/clothing/suits/miscellaneous.dm
Labels: Feature

#19633 Fix division by zero in wheelchair.dm
  code/modules/vehicles/wheelchair.dm
Labels: Fix

#19614 Janitor Holosign QoL
  code/game/objects/items/holosign_creator.dm
  code/game/objects/structures/holosign.dm
  code/modules/research/designs/misc_designs.dm
Labels: Tweak, Fix

#19608 Fixes prosthetic limb quirk
  code/datums/traits/negative.dm
Labels: Fix

#19607 Cyborgs Empty Their Storage Bag(s) On Module Reset
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#19579 Fake Nuke disk is now set to mythical to prevent free illegal tech
  yogstation/code/_globalvars/lists/maintenance_loot.dm
Labels: Tweak

#19617 late awaken traitors can reset their game during their awakening without giving away their antag
  code/game/gamemodes/traitor/traitor.dm
Labels: Tweak

#19575 Fixes mindslaves losing their datum permanently on decapitation and re-attachment
  code/modules/mob/living/brain/brain_item.dm
  yogstation/code/game/objects/items/implants/implant_mindslave.dm
Labels: Fix

#19573 *boop Emote
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/silicon/robot/emote.dm
  sound/machines/boop.ogg
Labels: Feature, Sound, Awaiting - Action - HD

#19523 Revolution gets announced if they kill all heads or if they take 1+ hour
  code/_onclick/hud/alert.dm
  code/game/gamemodes/revolution/revolution.dm
  code/modules/antagonists/revolution/revolution.dm
  icons/mob/screen_alert.dmi
Labels: Feature, Sprites

#19554 Engineering Gripper for Engineering-focused Cyborgs
  code/_onclick/cyborg.dm
  code/game/machinery/cell_charger.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/game/objects/items.dm
  code/game/objects/items/apc_frame.dm
  code/game/objects/items/robot/robot_items.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  icons/obj/device.dmi
Labels: Feature, Tweak, Sprites

#19612 [BOX] Makes some changes to new perma to appease a few requests.
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#19611 sechailer b&e code is correct
  yogstation/code/modules/clothing/masks/hailer.dm
  yogstation/icons/effects/aiming.dmi
Labels: Tweak, Sprites

#19606 Rebalances the ultra violence revolver
  code/datums/martial/ultra_violence.dm
Labels: Tweak, Fix

#19605 Adds "Wander, My Friends" from the Battlestar Galactica soundtrack to the lobby music list
  yogstation/code/controllers/subsystem/ticker.dm
Labels: Feature

#19604 New Steal Objective: AI Upload board
  code/game/gamemodes/objective_items.dm
Labels: Feature

#19598 YOU CAN NOW PUT HATS ON HARDSUIT HELMETS
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/toggles.dm
Labels: Tweak

#19597 New Chem Recipes for Traitors only
  code/modules/reagents/chemistry/recipes/toxins.dm
Labels: Feature

#19592 Gives syndie bow a pop requirement
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#19596 Rod of white no longer heals dead people
  code/datums/status_effects/buffs/buffs.dm
Labels: Tweak

#19588 Sniper rifle is now bolt-action
  _maps/map_files/generic/CentCom.dmm
  code/game/objects/items/storage/briefcase.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/ruins/lavaland_ruin_code.dm
  code/modules/spells/spell_types/right_and_wrong.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/guns/projectile.dmi
  yogstation/code/game/gamemodes/battle_royale/loot.dm
Labels: Tweak, Mapping, Sprites

#19589 Fixes objects not respecting AP when taking damage in some cases
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/firealarm.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/shieldgen.dm
  code/game/mecha/equipment/weapons/melee_weapons.dm
  code/game/mecha/mecha_defense.dm
  code/game/objects/effects/effects.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/devices/forcefieldprojector.dm
  code/game/objects/items/twohanded.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/crates_lockers/crates/secure.dm
  code/game/objects/structures/fireaxe.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
  code/modules/antagonists/blob/structures/_blob.dm
  code/modules/antagonists/blob/structures/core.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/clockcult/clock_structures/ark_of_the_clockwork_justicar.dm
  code/modules/antagonists/cult/cult_structures.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/silicon/ai/decentralized/ai_data_core.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/modular_computers/computers/item/computer_damage.dm
  code/modules/power/lighting.dm
  code/modules/projectiles/projectile/bullets/sniper.dm
  code/modules/projectiles/projectile/special/rocket.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/shuttle/shuttle.dm
  code/modules/vehicles/cars/clowncar.dm
  yogstation/code/game/gamemodes/gangs/dominator.dm
  yogstation/code/modules/antagonists/blob/blob/blobs/core.dm
  yogstation/code/modules/spacepods/spacepod.dm
Labels: Fix

#19634 [BOX] Fixes conveyor belt in disposals because someone fucked up the ID when they put the shutters in
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#19574 You can now change the freezer/heater mode on the thermomachine interface
  _maps/RandomRuins/StationRuins/maint/5x4/5x4_oldcryoroom.dmm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  tgui/packages/tgui/interfaces/ThermoMachine.js
Labels: Feature, Mapping, Revert / Deletion, tgui, Javascript

#19649 fixes undocumented change to revs where minimum pop is 1
  code/game/gamemodes/revolution/revolution.dm
Labels: Tweak

#19642 Fixes being unable to place floors on asteroid turf. IceMeta RiseUp
  code/game/turfs/simulated/floor/plating/asteroid.dm
Labels: Fix

#19623 attempts to make the Syndicate Toolbox relevant
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/antagonists/traitor/equipment/contractor.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak, Balance Council Approved

#19656 Revs announcement is actually when all the heads disconnect/die
  code/game/gamemodes/revolution/revolution.dm
Labels: Fix

#19570 the waffle house has found it's new host.
  code/datums/ai_laws.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/AI_modules.dm
  code/modules/research/designs/AI_module_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature, Balance Council Approved

#19641 Nerd shit (updates prescription glasses sprite)
  icons/mob/clothing/eyes/eyes.dmi
Labels: Tweak, Sprites

#19672 fixes bad config YUCK (i hate tartu)
  config/config.txt
  config/game_options.txt
Labels: Config

#19636 Fixes blindness from eye damage not being cured by getting new eyes
  code/modules/surgery/organs/eyes.dm
Labels: Fix

#19645 Fixes wacky living death signal
  code/modules/mob/death.dm
  code/modules/mob/living/death.dm
Labels: Fix

#18947 Stamina rework - Dynamic Regeneration
  code/game/objects/items/implants/implant_misc.dm
  code/modules/antagonists/changeling/powers/adrenaline.dm
  code/modules/antagonists/changeling/powers/strained_muscles.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/status_procs.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/research/nanites/nanite_programs/healing.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  yogstation/code/datums/martial/explosive_fist.dm
Labels: TESTMERGED, Balance Council Approved

#19626 Adds hotkey for AI to instantly jump into a borg shell or exit from it.
  code/datums/keybinding/_defines.dm
  code/datums/keybinding/artifical_intelligence.dm
  code/datums/keybinding/robot.dm
  yogstation.dme
Labels: DME Edit, Feature

#19502 Atmos gas mask + alternate mask sprite tweaks
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/miscellaneous.dm
  icons/mob/clothing/mask/mask.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/masks.dmi
Labels: Feature, Tweak, Sprites

#19553 Cyborgs can now attach/detach IV drips and QOL.
  code/game/machinery/iv_drip.dm
Labels: Tweak, Fix

#19664 Removes grenade cigars in favor of better face-exploding cigars
  code/game/objects/items/cigs_lighters.dm
Labels: Tweak

#19660 Lavaland wizard den fish don't wander anymore so they won't just walk outside and kill innocent miners who are passing by
  _maps/RandomRuins/LavaRuins/lavaland_surface_wizardden.dmm
Labels: Tweak, Mapping

#19638 Blobs no longer get a free win on icemeta.
  code/game/area/areas/mining.dm
Labels: Fix, Merge conflict

#19667 [BOX] Brings back the fabled "Dorm 1" as it died after we added cryosleep, fixes a mapping error in perma.
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#19622 Ratvar can now spawn from the weapon vendor
  code/modules/vending/security_armaments.dm
Labels: Feature

#19688 [BOX] Replaces a fridge in perma with the kind prisoners can actually open because im dumb
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#19687 [BOX] Fixes a missing /area/ in CMO office, which caused some issues such as rad storms not touching it.
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#19691 You can now print sutures and regen mesh
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Tweak, Balance Council Approved

#19705 gives meta a gene wallmed becuase i died without it one round
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Mapping

#19706 Saphics gaskmasks are in suitstorages in atmos now and ce locker
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
Labels: Feature

#19698 Removes weird changing brute mod from ethereals
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Revert / Deletion, Balance Council Approved

#19697 Removes the chance for ethereals to get permanent heart disease if they overeat slightly
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Revert / Deletion, Balance Council Approved

#19711 HELP! AN IPC HAS STOLEN MY PRETERNIS EYES TO USE FOR THEMSELVES
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/organs.dm
Labels: Tweak, Balance Council Approved

#19712 Makes emergency sutures less terrible
  code/game/objects/items/stacks/medical.dm
Labels: Tweak, Balance Council Approved

#19695 Battlemage Armor is made of thick materials
  code/modules/clothing/suits/wiz_robe.dm
Labels: Tweak, Balance Council Approved

#19709 [ADMIN] Fix SDQL2 alert not letting you accept | fuck I love bibby
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
Labels: Admin

#18836 Adds security ranks & badges, and removes some alt titles to make room
  code/modules/clothing/suits/_suits.dm
  code/modules/clothing/under/badges.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/mob/living/carbon/human/examine.dm
  icons/mob/clothing/badges.dmi
  icons/obj/clothing/badges.dmi
  yogstation.dme
Labels: DME Edit, Feature, Revert / Deletion, Sprites

#19726 Removes throwing rotation
  code/game/objects/items.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
Labels: Revert / Deletion

#19721 Makes the brass skewer trap slightly less annoying
  code/modules/antagonists/clockcult/clock_structures/traps/brass_skewer.dm
Labels: Tweak, Balance Council Approved

#19723 Removes 0.2 seconds of delay from lasgun.ogg (not laser gun)
  sound/weapons/lasgun.ogg
Labels: Sound

#19673 Makes guardian bolts more cool and fun (Im a funny little guy)
  yogstation/code/modules/guardian/guardian.dm
Labels: Tweak, Balance Council Approved

#19722 Adds screenshake to Worldbreaker's worldstomp
  code/datums/martial/worldbreaker.dm
Labels: Feature

#19737 Revert "You can now print sutures and regen mesh"
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Balance Council Approved

#19720 Lets people stand up while moving
  code/modules/mob/living/living.dm
Labels: Tweak, Balance Council Approved

#19717 [PORT] Pointing at something on yourself will now display the item
  code/__DEFINES/hud.dm
  code/game/atoms.dm
  code/game/objects/effects/decals/misc.dm
  code/modules/mob/mob.dm
  code/modules/point/point.dm
  icons/effects/effects.dmi
  yogstation.dme
Labels: DME Edit, Feature, Sprites

#19680 Deletes all small vials
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/items/storage/lockbox.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/techweb/all_nodes.dm
  yogstation/code/_globalvars/lists/maintenance_loot.dm
Labels: Tweak, Revert / Deletion, Awaiting - Action - HD, Balance Council Approved

#19674 IAA no longer has the capacity to drop multiple syndicate buttons
  yogstation/code/game/objects/items/implants/implant_dusting.dm
Labels: Fix

#19718 [ASTEROID] Fixes some weird fucking mapping errors and some weird mapping choices
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Mapping

#19713 Makes ointments easier to craft and have 7 more uses
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/stacks/medical.dm
Labels: Tweak, Balance Council Approved

#19716 [ASTEROID] Puts 2 honey frames in the beekeeping garden because they weren't included in the setup and it ruined my gimmick for a round
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Mapping

#19430 3 new and cool escape shuttles
  _maps/shuttles/emergency_cargo.dmm
  _maps/shuttles/emergency_mafia.dmm
  _maps/shuttles/emergency_octa.dmm
  code/datums/shuttles.dm
  code/modules/shuttle/special.dm
Labels: Mapping
