Repository yogstation13/Yogstation, pull requests merged in 2023-04, with the labels that each got.

#18357 Stops the Lizard Monopoly of getting rid of pie from their face, try using your HANDS.
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Tweak

#18401 buster style no longer totally negated by soap and flashes
  code/datums/martial/buster_style.dm
  code/game/objects/items/devices/busterarm/wire_snatch.dm
Labels: Tweak

#18426 Fixes hypernoblium crystals
  code/game/objects/items/stacks/sheets/hypernob_crystal.dm
Labels: Tweak, Fix

#18340 Makes mechs not broken #1 - MMIs can go mine again
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/equipment/weapons/weapons.dm
Labels: Tweak, Balance Council Approved

#18412 updates some random nukies locker to having a new PDA
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/modules/modular_computers/computers/item/pda/pda_presets.dm
Labels: Tweak

#18405 Removes old pda from plasmeme mining medic loadout
  code/modules/clothing/outfits/plasmaman.dm
Labels: Revert / Deletion

#18301 Refactor internals code
  code/__DEFINES/obj_flags.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/action.dm
  code/datums/outfit.dm
  code/game/gamemodes/clock_cult/clock_cult.dm
  code/game/objects/items/tanks/tank_types.dm
  code/game/objects/items/tanks/tanks.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/clockcult/clock_items/clockwork_armor.dm
  code/modules/clothing/head/_head.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/surgery/anesthesia_machine.dm
  yogstation/code/game/objects/structures/ghostbeacon.dm
Labels: Fix

#18423 Improves the analyzer description for Blazing Oil blobs
  code/modules/antagonists/blob/blobstrains/blazing_oil.dm
Labels: Tweak

#18300 Several AltClick improvements
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/{yogs_defines}/components.dm
  code/_onclick/click.dm
  code/game/objects/structures/railings.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/objects/structures/window.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/powers/headcrab.dm
  code/modules/antagonists/changeling/powers/linglink.dm
  code/modules/mob/mob_movement.dm
  yogstation.dme
  yogstation/code/datums/components/crawl.dm
  yogstation/code/datums/components/daniel.dm
  yogstation/code/datums/components/walks.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/power_suck.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: DME Edit, Tweak, Fix

#18157 A few minor IPC tweaks
  code/datums/components/footstep.dm
  code/datums/martial/ultra_violence.dm
  code/modules/language/language_holder.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Tweak, Fix, Awaiting - Action - Author

#18402 Fixes some nitrium-related oversights
  code/__DEFINES/reactions.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/atmospherics/machinery/components/gas_recipe_machines/atmos_machines_recipes.dm
Labels: Tweak, Fix

#18385 Collapsable
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  code/game/objects/structures/fireaxe.dm
  yogstation/code/game/objects/items/fishing/rods.dm
  yogstation/icons/mob/inhands/equipment/fishing_righthand.dmi
Labels: Mapping, Fix, Sprites, Map Change

#18444 Fix power suck oversight
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/power_suck.dm
Labels: Fix

#18452 Lets IPCs use vaccines
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Tweak

#18460 You no longer heed a helmet to be space-proof if you don't have a head
  code/modules/mob/living/carbon/human/life.dm
Labels: Tweak

#18465 Removes saltpetre from the Biogenerator after it was stealth-added by Majkl-j
  code/modules/research/designs/biogenerator_designs.dm
Labels: Revert / Deletion

#18431 Nettle variant acid amount significantly nerfed, death nettle throwforce reduced by 5
  code/modules/hydroponics/grown/nettle.dm
Labels: Tweak, Balance Council Approved

#18430 Bluespace activity now has half teleport radius and caps plant throw range to 2 tiles
  code/modules/hydroponics/plant_genes.dm
Labels: Tweak, Balance Council Approved

#18409 Suppressing fire (literally) - More suppressable weaponry
  code/modules/projectiles/boxes_magazines/external/rechargable.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Tweak

#18453 X-ray bolts and lasers can now pass through doors, lockers, and machines
  code/game/machinery/doors/door.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/reusable/arrow.dm
Labels: Tweak

#18468 buster arm can no longer be used while unconscious (unbased)
  code/datums/martial/buster_style.dm
  code/game/objects/items/devices/busterarm/buster_limb.dm
Labels: Fix

#18470 Cloaker belt can now hold items like an actual belt
  code/game/objects/items/devices/traitordevices.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak, Balance Council Approved

#18475 Vampires can now see their nemesis growing in botany
  code/modules/hydroponics/grown/garlic.dm
Labels: Fix

#18294 [ADMIN] Starting your reply to a admin ticket will administer it if nobody has claimed it
  code/modules/admin/verbs/adminpm.dm
Labels: Tweak, Admin

#18458 Syndicate CNS Rebooter
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature, Balance Council Approved

#18473 Fixes Chubby's PR and the NTOS Bluescreen associated with resetting the keybinds they added to default
  code/datums/keybinding/mob_actions.dm
  code/modules/client/preferences_savefile.dm
Labels: Fix

#18233 Regular ashwalkers can't speak or understand common
  code/modules/language/language_holder.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: Tweak

#18339 Drinking teslium grants temporary emp immunity
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
Labels: Tweak, Balance Council Approved

#18406 Limits the rad storm to only affect the station z-level
  code/modules/events/radiation_storm.dm
Labels: Tweak

#18494 fixes "[ADMIN] Starting your reply to a admin ticket will administer it if nobody has claimed it"
  code/modules/admin/verbs/adminpm.dm
Labels: Admin, TESTMERGED

#18489 medical winter coats can now hold hypospray
  code/modules/clothing/suits/miscellaneous.dm
Labels: Tweak

#18490 Fixes spacepods only updating every 10 ticks
  yogstation/code/modules/spacepods/physics.dm
Labels: Fix

#18373 Medium scale nullrod quality pass
  _maps/RandomRuins/LavaRuins/lavaland_surface_meteorite.dmm
  _maps/map_files/generic/CentCom.dmm
  code/controllers/subsystem/traumas.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/storage/book.dm
  code/modules/clothing/outfits/ert.dm
  icons/mob/actions/actions_spells.dmi
  icons/mob/inhands/weapons/hammers_lefthand.dmi
  icons/mob/inhands/weapons/hammers_righthand.dmi
  icons/mob/inhands/weapons/polearms_lefthand.dmi
  icons/mob/inhands/weapons/polearms_righthand.dmi
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/mob/mob.dmi
  icons/obj/hydroponics/equipment.dmi
  icons/obj/weapons/misc.dmi
  icons/obj/weapons/swords.dmi
Labels: Tweak, Mapping, Fix, Revert / Deletion, Sprites, Awaiting - Action - Maintainer, Map Change, Balance Council Approved

#18381 Makes sec vibro blade look cooler
  code/game/objects/items/melee/transforming.dm
Labels: Tweak

#18407 Updates clock cultists to the new PDA
  code/game/gamemodes/clock_cult/clock_cult.dm
Labels: Tweak

#18497 [Meta] mining dock airlock controller
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Feature, Mapping

#18495 fixes a decal that is annoying me
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#18493 [Asteroid] Opening Podbay doors will no longer suck you into space.
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Mapping, Fix

#18380 Catsip, Higher and Clearer (3rd attempt)
  yogstation/code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Feature

#18110 Donator Item for Ynot01: Golden Lighter
  code/game/objects/items/cigs_lighters.dm
  icons/obj/cigarettes.dmi
  yogstation/code/modules/donor/unique_donator_items.dm
Labels: DO NOT MERGE, Sprites, On hold - HD

#18471 Radiation from contaminated objects no longer produces power in rad collectors
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_x_act.dm
  code/__HELPERS/radiation.dm
  code/datums/components/radioactive.dm
  code/datums/radiation_wave.dm
  code/game/atoms.dm
  code/game/objects/items/devices/geiger_counter.dm
  code/game/turfs/open.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/mob/living/living.dm
  code/modules/power/singularity/collector.dm
Labels: Revert / Deletion

#18512 Resprites the dug snow sprite
  icons/turf/snow.dmi
Labels: Tweak, Sprites

#18445 Fixes some inventory stuff
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#18488 lets Myocardial Infarction be cured while the patient is on a stasis bed
  code/datums/diseases/heart_failure.dm
Labels: Fix

#18518 Bugfix - NT Script "replace" function
  yogstation/code/modules/scripting/Implementations/_Logic.dm
Labels: Fix

#18541 Fixes a bug involving dropping pocket items or belts when stripped
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Fix

#18523 [admin] Improvements to the ticket claiming system
  code/modules/admin/verbs/adminpm.dm
  yogstation/code/modules/admin/verbs/adminhelp.dm
Labels: Feature, Fix, Admin

#18527 ebow cost reduced from 8 to 5 tc
  code/modules/uplink/uplink_items.dm
Labels: Tweak, Balance Council Approved

#18533 Makes SM the only roundstart engine, no generator for you edition
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Tweak

#18515 Makes gas masks fireproof
  code/modules/clothing/masks/gasmask.dm
Labels: Tweak

#18510 Lets pacifists throw the possessed sword
  code/game/objects/items/holy_weapons.dm
Labels: Fix

#18511 nerfs nitrium D:
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Tweak, Balance Council Approved, ided

#18526 More Interesting Polymorphed Animal Types
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/projectiles/projectile/magic.dm
Labels: Tweak

#18521 new HUD: detective UI HUD from TG
  code/__DEFINES/colors.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/tooltip/tooltip.html
  icons/mob/screen_detective.dmi
  icons/mob/screen_midnight.dmi
  icons/mob/screen_operative.dmi
  icons/mob/screen_plasmafire.dmi
  icons/mob/screen_retro.dmi
  icons/mob/screen_slimecore.dmi
Labels: Feature, Sprites

#18534 Sharing is bad
  code/modules/ruins/lavaland_ruin_code.dm
Labels: Tweak

#18531 Sidewinder tool tweaks
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/equipment/weapons/weapons.dm
Labels: Tweak

#18522 Mutation toxins are no longer instant, advanced mutation toxin cure changed from frost oil to ice
  code/datums/diseases/transformation.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Tweak, Revert / Deletion, Balance Council Approved

#18556 Removes Augmentation Kits from the Uplink
  code/modules/uplink/uplink_items.dm
Labels: Revert / Deletion, Balance Council Approved

#18564 Jellypeople can no longer get the liver-that-kills-jellypeople from the advanced organ quirk
  code/datums/traits/good.dm
Labels: Fix

#18570 Ghost Moff
  code/modules/client/preferences/ghost.dm
  icons/mob/mob.dmi
Labels: Feature, Sprites

#18508 [ADMIN] show donator logging like other logs
  code/__DEFINES/{yogs_defines}/logging.dm
  code/game/atoms.dm
  code/modules/admin/verbs/individual_logging.dm
  yogstation/code/modules/donor/donatorsay.dm
Labels: Tweak, Admin

#18480 A few flavour texts for the drinks
  code/datums/mood_events/generic_positive_events.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Feature

#18434 makes the sec drinks less gamer
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Tweak, Balance, Significant Opposition, Balance Council Approved, ided

#18557 Adds the Militia Crate to Cargo
  code/modules/cargo/packs.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Feature, Tweak, Balance Council Approved

#18528 Gives preternis universal bloodtype
  code/modules/mob/living/blood.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Tweak, Balance Council Approved

#18439 Prevents using the buster arm if you already have a martial art
  code/game/objects/items/devices/busterarm/buster_limb.dm
Labels: Tweak

#18509 Lets preterni eat ores
  code/modules/mining/ores_coins.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/organs.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Feature, Balance Council Approved

#18411 Ultra Violence martial art buffs
  code/__DEFINES/{yogs_defines}/status_effects.dm
  code/datums/martial/ultra_violence.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: Tweak, Fix, Balance Council Approved

#18576 Homemade jerkey no longer has sugar foodtype because it has no sugar in it
  code/modules/food_and_drinks/food/snacks_vend.dm
Labels: Tweak

#18463 Changes foam to touch application
  code/__DEFINES/reagents.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_foam.dm
Labels: Tweak, Balance Council Approved

#18582 Makes resonators replicating to ALL adjacent tiles a feature rather than a bug so the admins cant ban me for using it
  code/modules/mining/equipment/resonator.dm
Labels: Tweak, Fix

#18555 reduces slug damage falloff
  code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: Tweak, Balance Council Approved

#18578 Fixes eldritch hood not having an item state
  code/modules/antagonists/eldritch_cult/eldritch_items.dm
  icons/obj/clothing/hats.dmi
Labels: Fix, Sprites

#18369 Ballistic Supremacy - The way of the WT
  code/modules/projectiles/ammunition/ballistic/smg.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/projectile/bullets/smg.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/research/techweb/layout.dm
  icons/obj/ammo.dmi
  yogstation.dme
Labels: Feature, Tweak, Sprites, Balance Council Approved

#18580 No more self-trolling / noob bait - Heretic armor is fireproof
  code/modules/antagonists/eldritch_cult/eldritch_items.dm
Labels: Tweak

#18599 Uh oh bug fix please speedmerge
  code/modules/projectiles/boxes_magazines/external/smg.dm
Labels: Fix

#18592 Wire splicing from Eris
  code/game/objects/effects/spawners/traps.dm
  code/game/objects/structures/wire_splicing.dm
  icons/obj/structures_spawners.dmi
  icons/obj/traps.dmi
  yogstation.dme
Labels: DME Edit, Feature, Sprites

#18595 [Space Bar] Aquizit's favorite map gets MORE STUFF
  _maps/RandomRuins/SpaceRuins/spacebar.dmm
Labels: Mapping

#18499 gulag processor is no longer able to cuff people with one arm
  code/game/machinery/gulag_processor.dm
Labels: Fix

#18214 Wym/ Wdym added to filter
  config/minor_filter.txt
Labels: Config, Awaiting - Action - HD

#18606 Lets you properly reinforce wire splicings + code cleanup + drops cables if you cut them
  code/game/objects/effects/spawners/traps.dm
  code/game/objects/structures/wire_splicing.dm
Labels: Fix

#18591 Nitrium makes you more vulnerable to burn damage
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Tweak, Balance Council Approved

#18577 Buffs the speed given by MK1 Bluespace Armor
  code/modules/clothing/suits/armor.dm
Labels: Tweak, Awaiting - Action - Balance Review

#18603 Adds a killswitch to syndicate prisoner bag
  code/game/objects/items/bodybag.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/bodybag.dmi
Labels: Tweak, Sprites, Balance Council Approved

#18605 fixes cable coils always having no color
  code/__DEFINES/colors.dm
  code/__DEFINES/lighting.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/mail.dm
  code/game/objects/items/storage/toolbox.dm
  code/modules/power/cable.dm
  icons/mob/inhands/equipment/tools_lefthand.dmi
  icons/mob/inhands/equipment/tools_righthand.dmi
Labels: Feature, Fix, Sprites

#18617 Crematorium respects indestructible, godmode, and detonates bombs and grenades
  code/game/objects/structures/morgue.dm
Labels: Tweak

#18416 Attempts to fix problems with the battle royale gamemode
  yogstation/code/game/gamemodes/battle_royale/battleroyale.dm
Labels: Fix

#18486 tweaks IPC viruses (system cleaner and immunity redux pt2 FINAL (probably))
  code/datums/diseases/advance/symptoms/deafness.dm
  code/datums/diseases/advance/symptoms/fire.dm
  code/datums/diseases/advance/symptoms/hallucigen.dm
  code/datums/diseases/advance/symptoms/heal.dm
  code/datums/diseases/advance/symptoms/nanites.dm
  code/datums/diseases/advance/symptoms/necropolis.dm
  code/datums/diseases/advance/symptoms/radiation.dm
  code/datums/diseases/advance/symptoms/species.dm
  code/datums/diseases/advance/symptoms/symptoms.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Tweak, Revert / Deletion, Balance Council Approved

#18513 Dynamically Adds new pirate ship names, yarrr
  code/modules/events/pirates.dm
  strings/pirates.json
Labels: Feature, Tweak

#18546 HFR without power will only force some bad settings
  code/modules/atmospherics/machinery/components/fusion/hfr_main_processes.dm
Labels: Tweak

#18619 Ports TG paystands
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/economy/pay_stand.dm
  sound/effects/cashregister.ogg
  tgui/packages/tgui/interfaces/HoloPay.tsx
Labels: Feature, Sound, Revert / Deletion, tgui

#18560 Remove peacekeeper as roundstart lawset
  config/game_options.txt
Labels: Tweak, Config

#18624 Plants scale weight class based on potency
  code/modules/hydroponics/grown.dm
Labels: Tweak, Balance Council Approved

#18601 Makes fairy boots nullrod more faithful to the source material
  code/game/objects/items/holy_weapons.dm
  sound/effects/fairyboots.ogg
Labels: Tweak, Sound, Balance Council Approved

#18589 Removes nitrium from most HFR moderator reactions
  code/modules/atmospherics/machinery/components/fusion/hfr_main_processes.dm
Labels: Tweak

#18608 americanizes the surplus carbine
  code/modules/projectiles/ammunition/ballistic/smg.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/projectile/bullets/smg.dm
Labels: Tweak

#18584 Fixes changelings being able to absorb and ling husk you if you can't be husked and sometimes getting objectives to escape as someone that can't be absorbed
  code/game/gamemodes/objective.dm
  code/modules/antagonists/changeling/changeling.dm
Labels: Fix, Balance Council Approved

#18519 [admin] Record player living playtime in notes
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
  code/modules/jobs/job_exp.dm
  yogstation/code/modules/admin/sql_message_system.dm
Labels: Feature, Admin, SQL

#18648 Revert "Revert "[admin] Record player living playtime in notes""
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
  code/modules/jobs/job_exp.dm
  yogstation/code/modules/admin/sql_message_system.dm
Labels: SQL

#18630 Reduces the mantis blades cost by 1 tc, adds slower attack for dual wielding.
  code/game/objects/items/mantis.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak, Balance Council Approved

#18636 Bluespace activity now actually has lower range and makes you ill
  code/modules/hydroponics/plant_genes.dm
Labels: Tweak, Balance Council Approved

#18635 Blazing oil takes 30% more damage from extinguishers, and 50% extra brute damage
  code/modules/antagonists/blob/blobstrains/blazing_oil.dm
Labels: Tweak, Balance Council Approved

#18637 sotps peopel from going to snetral snommand
  code/game/objects/effects/phased_mob.dm
Labels: Fix

#18654 kills old council + adds new council + makes myself hd (abuse)
  config/admins.txt
Labels: Config

#18259 [GAX] She Russian on my Revolver
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Mapping, Map Change

#18626 Fix the vending machine chef's compartment
  code/modules/vending/_vending.dm
  code/modules/vending/snack.dm
  tgui/packages/tgui/interfaces/Vending.js
Labels: Feature, Fix, tgui, Javascript

#18664 Custom vendor hotfix
  code/modules/vending/_vending.dm
Labels: Fix

#18652 [BOX+META] Adds Secure Storage Access buttons outside of Secure Storage
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Mapping

#18653 [meta] Adds a photocopier to the HoP office
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Mapping

#18631 Adds a labcoat for the mining medic
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  yogstation/code/modules/clothing/suits/labcoat.dm
  yogstation/icons/mob/clothing/suit/suit.dmi
  yogstation/icons/obj/clothing/suits.dmi
Labels: Feature, Sprites

#18638 minor cult nerfs
  code/modules/antagonists/cult/cult_items.dm
Labels: Tweak, Balance Council Approved

#18671 Electrolyzers now respect conservation of mass
  code/game/machinery/electrolyzer.dm
Labels: Fix

#18347 [GAX] Open Air Bar
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Mapping, Merge conflict, Map Change

#18539 [ASTEROID] Replaces Hydroponics setup with DA WIENER
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Feature, Tweak, Mapping, Fix, Revert / Deletion

#18665 [BOX] CMO office changes
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping, Awaiting - Action - Author

#18674 [admin] Disables midround OOC
  config/game_options.txt
Labels: Config

#18650 Reduces Cargo Technician max job slots from 3 to 2 and roundstart from 2 to 1
  code/modules/jobs/job_types/cargo_technician.dm
  config/jobs.txt
Labels: Tweak, Config

#18666 Fixes some clothing stuff, part 2: the lizardening
  code/game/objects/items/holy_armours.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/mining/equipment/explorer_gear.dm
  icons/mob/clothing/suit/suit.dmi
  yogstation/code/modules/clothing/outfits/event.dm
  yogstation/icons/mob/clothing/suit/suit.dmi
Labels: Feature, Tweak, Sprites, Fetish Content

#18693 updates lwt and surplus carbine icons
  icons/obj/guns/projectile.dmi
Labels: Sprites

#18682 Fixes a typo that gave chameleon users the changeling version
  code/datums/mutations/chameleon.dm
Labels: Fix

#18697 kills special .38, adds rubber .38
  _maps/map_files/generic/CentCom.dmm
  code/game/objects/items/storage/belt.dm
  code/modules/cargo/packs.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/internal/revolver.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/projectiles/projectile/bullets/smg.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
Labels: Feature, Tweak, Mapping, Revert / Deletion, Sprites
