Repository yogstation13/Yogstation, pull requests merged in 2023-01, with the labels that each got.

#17255 Unbreaks HUDs (clock, bb, vamp, brainwashed)
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/{yogs_defines}/atom_hud.dm
  code/datums/hud.dm
  yogstation.dme
Labels: Fix

#17257 Fix lavaland mob spawning rate
  code/datums/mapgen/CaveGenerator.dm
Labels: Fix

#17244 Makes syndi prisoner bag not bad & broken
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak, Fix

#17250 Adds Atmospherics Simulator console to every maps turbine area
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#17213 Makes crew monitor venry smol
  tgui/packages/tgui/interfaces/CrewConsole.js
  tgui/packages/tgui/interfaces/NtosCrewMonitor.js
Labels: Tweak, tgui, Javascript

#17214 Cleaving Saw buff + Saw Bleed passive damage
  code/datums/status_effects/debuffs.dm
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Feature, Tweak

#17222 halves .38 boolet metal cost
  code/modules/research/designs/autolathe_designs.dm
Labels: Tweak

#17224 more cool stuff for the engineer and medic uplink erts
  code/datums/components/uplink.dm
  code/game/objects/items/storage/belt.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/syringe.dmi
Labels: Feature, Sprites

#17230 Modernize gas filters (multiple filters & consistent movement)
  _maps/RandomRuins/LavaRuins/miningbase.dmm
  _maps/RandomRuins/StationRuins/BoxStation/engine_sm.dmm
  _maps/RandomRuins/StationRuins/BoxStation/engine_teg.dmm
  _maps/RandomRuins/StationRuins/MetaStation/meta_sm.dmm
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/YogsDelta/YogsDelta.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  tgui/packages/tgui/interfaces/AtmosFilter.js
Labels: Feature, Tweak, Map Change, tgui, Javascript

#17232 expands asteroidstation theatre backroom and maint a little bit
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Map Change

#17233 NASA Space suit flash protection removal
  code/modules/clothing/spacesuits/miscellaneous.dm
Labels: Tweak

#17235 Typebating makes you sad.
  code/datums/mood_events/generic_negative_events.dm
  yogstation/code/game/objects/items/fishing/rods.dm
Labels: Tweak

#17238 Resting now only will avoid projectiles from adjacent shooters
  code/modules/projectiles/projectile.dm
Labels: Tweak

#17240 You can no longer escape death with a holoparasite
  code/modules/mob/living/carbon/carbon.dm
Labels: Tweak

#17251 Runtimes 31st December
  code/_onclick/hud/alert.dm
  code/game/objects/effects/spawners/gibspawner.dm
  code/game/objects/items/melee/misc.dm
  code/modules/antagonists/bloodsuckers/bloodsuckers.dm
  code/modules/atmospherics/machinery/pipes/pipes.dm
  code/modules/clothing/head/_head.dm
  code/modules/mob/dead/new_player/login.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/inventory.dm
  code/modules/projectiles/projectile.dm
Labels: Fix

#17256 Recyclers no longer delete brains when emagged
  code/game/machinery/recycler.dm
Labels: Tweak

#17263 substantially reduces foam lag
  code/game/objects/effects/effect_system/effects_foam.dm
Labels: Tweak

#17261 babe wake up new cargo exploit dropped
  code/modules/cargo/exports/manifest.dm
Labels: Fix

#17284 TG UPDATE 1: Juke Build
  .github/workflows/turdis.yml
  .gitignore
  bin/build.cmd
  bin/clean.cmd
  bin/server.cmd
  bin/test.cmd
  bin/tgfont.cmd
  bin/tgui-bench.cmd
  bin/tgui-build.cmd
  bin/tgui-dev.cmd
  bin/tgui-sonar.cmd
  code/_compile_options.dm
  code/modules/asset_cache/asset_list_items.dm
  dependencies.sh
  tgui/.editorconfig
  tgui/.eslintrc-harder.yml
  tgui/.eslintrc-sonar.yml
  tgui/.gitattributes
  tgui/.gitignore
  tgui/.yarn/releases/yarn-2.4.1.cjs
  tgui/.yarn/releases/yarn-3.3.1.cjs
  tgui/.yarn/sdks/typescript/lib/tsserverlibrary.js
  tgui/.yarnrc.yml
  tgui/bin/tgui
  tgui/bin/tgui-dev-server.bat
  tgui/bin/tgui.bat
  tgui/bin/tgui_.ps1
  tgui/package.json
  tgui/packages/tgfont/package.json
  tgui/packages/tgui/focus.js
  tgui/public/tgui-common.bundle.js
  tgui/public/tgui-polyfill.min.js
  tgui/yarn.lock
  tools/bootstrap/node
  tools/bootstrap/node.bat
  tools/bootstrap/node_.ps1
  tools/bootstrap/python
  tools/bootstrap/python.bat
  tools/bootstrap/python37._pth
  tools/bootstrap/python_.ps1
  tools/build/.editorconfig
  tools/build/README.md
  tools/build/build
  tools/build/build.bat
  tools/build/build.js
  tools/build/cbt/fs.js
  tools/build/cbt/glob.js
  tools/build/cbt/index.js
  tools/build/cbt/process.js
  tools/build/cbt/task.js
  tools/build/juke/index.d.ts
  tools/build/juke/index.js
  tools/build/juke/package.json
  tools/build/lib/byond.js
  tools/build/lib/winreg.js
  tools/build/lib/yarn.js
  tools/build/package.json
  tools/ci/build.ps1
Labels: tgui, Javascript, Github, Dependencies

#17288 Fix mfa
  code/modules/admin/mfa.dm
Labels: Fix, Admin

#17286 Add comment to bound credentials
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
Labels: SQL

#17277 Nuclear particles can power radiation collectors
  code/modules/power/singularity/collector.dm
Labels: Feature

#17275 Gives stimulum an effect on the supermatter
  code/modules/power/supermatter/supermatter.dm
Labels: Feature

#17269 slight old gods sect clarification
  code/modules/religion/religion_sects.dm
  code/modules/religion/rites.dm
  strings/tips.txt
Labels: Feature, Tweak

#17258 grand core buff to let its moves just affect any dead thing
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/spells/spell_types/conjure.dm
  code/modules/spells/spell_types/godhand.dm
Labels: Tweak

#17253 Diseases can have double cures
  code/datums/diseases/advance/advance.dm
Labels: Tweak

#17252 Changes apcs to turn off lighting first at 40% then equipment at 15%
  code/modules/power/apc.dm
Labels: Feature

#17246 Adds small time requirement to Quartermaster (2 Hours Cargo Tech)
  code/modules/jobs/job_types/quartermaster.dm
Labels: Feature

#17219 Makes brain surgery repeatable, adds separate brain surgery for IPCs
  code/modules/surgery/brain_surgery.dm
Labels: Feature, Tweak

#17204 Changeling adrenal chem now reduces stamina damage (1->30)
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Tweak

#17203 buffs ling chems
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/powers/mimic_voice.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/changeling/powers/pheromone_receptors.dm
Labels: Tweak

#17242 "Station adrift" station trait
  code/__DEFINES/traits.dm
  code/_onclick/hud/plane_master.dm
  code/datums/station_traits/neutral_traits.dm
Labels: Feature

#17301 [TG Update] 3 - TGUI Update Aug 12, 2021
  code/game/objects/items/stacks/stack.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/tgui/tgui.dm
  code/modules/tgui_panel/tgui_panel.dm
  tgui/.eslintrc.yml
  tgui/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  tgui/.yarn/sdks/eslint/bin/eslint.js
  tgui/.yarn/sdks/eslint/lib/api.js
  tgui/.yarn/sdks/eslint/package.json
  tgui/.yarn/sdks/typescript/bin/tsc
  tgui/.yarn/sdks/typescript/bin/tsserver
  tgui/.yarn/sdks/typescript/lib/tsc.js
  tgui/.yarn/sdks/typescript/lib/tsserver.js
  tgui/.yarn/sdks/typescript/lib/tsserverlibrary.js
  tgui/.yarn/sdks/typescript/lib/typescript.js
  tgui/.yarn/sdks/typescript/package.json
  tgui/babel.config.js
  tgui/package.json
  tgui/packages/tgui-dev-server/dreamseeker.js
  tgui/packages/tgui-dev-server/index.esm.js
  tgui/packages/tgui-dev-server/link/client.cjs
  tgui/packages/tgui-dev-server/link/retrace.js
  tgui/packages/tgui-dev-server/link/server.js
  tgui/packages/tgui-dev-server/logging.js
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui-dev-server/reloader.js
  tgui/packages/tgui-dev-server/require.js
  tgui/packages/tgui-dev-server/util.js
  tgui/packages/tgui-dev-server/webpack.js
  tgui/packages/tgui-dev-server/winreg.js
  tgui/packages/tgui-panel/index.js
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-panel/styles/components/Chat.scss
  tgui/packages/tgui-panel/styles/components/Ping.scss
  tgui/packages/tgui-polyfill/package.json
  tgui/packages/tgui/debug/middleware.js
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/RequestKiosk.js
  tgui/packages/tgui/interfaces/Stack.js
  tgui/packages/tgui/interfaces/StackCrafting.tsx
  tgui/packages/tgui/interfaces/manually-routed/KitchenSink.js
  tgui/packages/tgui/logging.js
  tgui/packages/tgui/package.json
  tgui/packages/tgui/styles/base.scss
  tgui/packages/tgui/styles/components/Tabs.scss
  tgui/tsconfig.json
  tgui/webpack.config.js
  tgui/yarn.lock
Labels: tgui, Javascript, Dependencies

#17316 [TG UPDATE] 6 - Misc Quick Fixes
  code/game/machinery/hologram.dm
  code/modules/admin/admin_verbs.dm
  code/modules/tgui/tgui_input_list.dm
  tgui/packages/tgui/interfaces/ChemDispenser.js
  tgui/packages/tgui/interfaces/ListInput.js
  tgui/packages/tgui/styles/interfaces/ListInput.scss
  tgui/packages/tgui/styles/main.scss
  tgui/public/tgui.html
  yogstation.dme
Labels: Admin, tgui, Javascript

#17280 bring back the lawyer office on Gax
  _maps/map_files/GaxStation/GaxStation.dmm
  code/modules/jobs/job_types/lawyer.dm
Labels: Map Change

#17302 [Asteroid] Adds hallway APCs, fixes piping/wiring
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Map Change, Fix

#17331 Fix chat bubbles
  code/modules/client/client_procs.dm
  code/modules/mob/say.dm
  yogstation/code/modules/mob/say.dm
Labels: Fix

#17324 Fix a few component issues
  code/__DEFINES/dcs/signals/signals_food.dm
  code/datums/components/bakeable.dm
  code/datums/components/grillable.dm
  code/datums/components/wearertargeting.dm
  code/modules/food_and_drinks/kitchen_machinery/griddle.dm
  code/modules/food_and_drinks/kitchen_machinery/grill.dm
Labels: Fix

#17304 Preternis only need 10x as much stimulum to have an effect instead of 50x
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/organs.dm
Labels: Tweak

#17276 Moves Syringe Gun to Armoury and Rapid to Armoury Lathe
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/Omegastation/omegastation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/modules/research/designs/weapon_designs.dm
Labels: Tweak, Map Change, Balance

#17332 Re-adds support for pixel shifting
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movement.dm
  code/datums/emotes.dm
  code/datums/keybinding/mob.dm
  code/game/atoms.dm
  code/modules/client/client_defines.dm
  code/modules/keybindings/bindings_atom.dm
  code/modules/mob/mob.dm
Labels: Feature

#17333 Make chat windows load a bit faster
  code/__DEFINES/speech_channels.dm
  code/datums/keybinding/admin.dm
  code/datums/keybinding/communication.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/client/client_procs.dm
  yogstation.dme
  yogstation/code/modules/admin/verbs/adminsay.dm
  yogstation/code/modules/client/verbs/looc.dm
  yogstation/code/modules/donor/donatorsay.dm
  yogstation/code/modules/mentor/mentor_verbs.dm
  yogstation/code/modules/mentor/mentorsay.dm
Labels: DME Edit, Feature, Admin

#17350 Makes the armory more secure
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#17262 Flips Boxstation Cloning and Genetics
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

#17362 Dilithium is back baby 😎
  code/modules/mining/machine_silo.dm
Labels: Fix

#17211 asteroid turbine stuff
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Map Change

#17375 Better pixel-shift fix (cope)
  code/datums/keybinding/mob.dm
  code/modules/keybindings/bindings_atom.dm
Labels: Fix

#17346 Tweaks Minimum Dynamic player count to respect actual gamemodes
  code/game/gamemodes/devil/devil_game_mode.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  yogstation/code/game/gamemodes/shadowling/shadowling.dm
Labels: Tweak

#17358 AI data cores now have a backup powercell
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/mob/living/silicon/ai/decentralized/_ai_machinery.dm
  code/modules/mob/living/silicon/ai/decentralized/ai_data_core.dm
Labels: Feature

#17254 Moves insuls and belt back onto clockies when they spawn in
  code/game/gamemodes/clock_cult/clock_cult.dm
Labels: Tweak

#17279 lets preternis and ethereals be affected by trait_eat_more and trait_eat_less
  code/modules/surgery/organs/stomach.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Fix

#17303 [ADMIN] message admins on invalid player state
  code/modules/admin/check_antagonists.dm
Labels: Admin

#17317 what the guh??? mechs for uplinked erts???
  code/game/mecha/combat/marauder.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature

#17321 Reduces ash drake armor effectiveness slightly
  code/modules/clothing/suits/armor.dm
Labels: Tweak

#17322 Lava staff is no longer also a one-handed lava axe
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Tweak

#17345 Hugging people averages fire_stacks
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Feature

#17343 Plasmeme can no longer get husked
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: Tweak

#17353 Plasmeme Martial Art Buff + Bugfix?
  yogstation/code/datums/martial/explosive_fist.dm
Labels: Tweak, Fix

#17356 IPC lungs mechfab print
  code/modules/research/designs/mechfabricator_designs.dm
Labels: Fix

#17306 Ghosts can analyze gas mixes
  code/_onclick/observer.dm
  code/game/atoms.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/tanks/tanks.dm
  code/game/objects/objs.dm
  code/game/objects/structures/crates_lockers/crates/critter.dm
  code/game/objects/structures/transit_tubes/transit_tube_pod.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/assembly/bomb.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/atmospherics/machinery/pipes/pipes.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/power/singularity/collector.dm
Labels: Feature, Tweak, Admin

#17241 Tritium/Hydrogen combustion tweaks and bugfixes
  code/__DEFINES/reactions.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Tweak, Fix

#17357 It now takes 10 seconds to deconstruct a data core
  code/modules/mob/living/silicon/ai/decentralized/ai_data_core.dm
Labels: Feature

#16414 NT-USP - American Security - How I Learned to Stop Worrying and Love the Gun
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/cargo/packs.dm
  code/modules/economy/account.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/projectiles/boxes_magazines/external/rechargable.dm
  code/modules/vending/security_armaments.dm
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/projectiles.dmi
  icons/obj/vending.dmi
  icons/vending_icons/disablerbig.png
  icons/vending_icons/ntuspbig.png
  tgui/packages/tgui/interfaces/ArmamentsDispenser.js
  yogstation.dme
Labels: DME Edit, Feature, Map Change, Sprites, tgui, Javascript, December

#17383 Fix mecha strafing
  code/game/mecha/mecha.dm
Labels: Fix

#16963 Adds the D.O.T.A. suit.
  code/modules/research/techweb/layout.dm
  sound/voice/nerdsuit/audacity settings.txt
  sound/voice/nerdsuit/beep_1.ogg
  sound/voice/nerdsuit/beep_2.ogg
  sound/voice/nerdsuit/beep_3.ogg
  sound/voice/nerdsuit/bell.ogg
  sound/voice/nerdsuit/death.ogg
  sound/voice/nerdsuit/emag.ogg
  sound/voice/nerdsuit/heat.ogg
  sound/voice/nerdsuit/ketamine.ogg
  sound/voice/nerdsuit/major_fracture.ogg
  sound/voice/nerdsuit/major_lacerations.ogg
  sound/voice/nerdsuit/minor_fracture.ogg
  sound/voice/nerdsuit/minor_lacerations.ogg
  sound/voice/nerdsuit/morphine.ogg
  sound/voice/nerdsuit/seek_medical.ogg
  sound/voice/nerdsuit/shock.ogg
  sound/voice/nerdsuit/stimulants.ogg
  sound/voice/nerdsuit/vital_signs_critical.ogg
  sound/voice/nerdsuit/vital_signs_death.ogg
  sound/voice/nerdsuit/vital_signs_dropping.ogg
  sound/voice/nerdsuit/welcome.ogg
  yogstation.dme
  yogstation/code/modules/clothing/suits/nerd.dm
  yogstation/code/modules/research/designs/misc_designs.dm
  yogstation/code/modules/research/techweb/all_nodes.dm
  yogstation/icons/mob/clothing/suit/suit.dmi
  yogstation/icons/obj/clothing/suits.dmi
Labels: DME Edit, Feature, Sound, Sprites

#17231 Better ctrl/alt clicks for atmos machines
  code/game/machinery/_machinery.dm
  code/modules/atmospherics/machinery/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/pressure_valve.dm
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/temperature_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/temperature_pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  code/modules/atmospherics/machinery/components/trinary_devices/mixer.dm
  code/modules/atmospherics/machinery/components/unary_devices/outlet_injector.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
Labels: Feature

#17259 Allow demos to be disabled via config
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/demo.dm
  config/config.txt
Labels: Config

#17243 A few atmos device improvements
  code/modules/atmospherics/machinery/components/binary_devices/temperature_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/temperature_pump.dm
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer.dm
  tgui/packages/tgui/interfaces/AtmosControlConsole.js
  tgui/packages/tgui/interfaces/AtmosFilter.js
  tgui/packages/tgui/interfaces/AtmosMixer.js
  tgui/packages/tgui/interfaces/AtmosPump.js
  tgui/packages/tgui/interfaces/AtmosTempPump.js
  tgui/packages/tgui/interfaces/Crystallizer.js
Labels: Tweak, Fix, tgui, Javascript

#17384 Fixes Air Mixers on Maps
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/IceBox/IceBox.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change, Fix

#17369 Added bunch of alt job titles
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/jobs.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
  yogstation/code/modules/jobs/job_types/paramedic.dm
Labels: Feature

#17364 Doctor/Paramedic/CMO spawn with nitrile gloves
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  yogstation/code/modules/jobs/job_types/paramedic.dm
Labels: Feature, Fix

#17366 unconcious & concious
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/antagonists/bloodsuckers/powers/_powers.dm
  code/modules/antagonists/bloodsuckers/powers/cloak.dm
  code/modules/antagonists/horror/horror.dm
  code/modules/antagonists/horror/horror_abilities_and_upgrades.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_movement.dm
  code/modules/pool/components/swimming.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/ruins/lavalandruin_code/puzzle.dm
  code/modules/tgui/states.dm
Labels: Admin

#17367 makes singularity sword better
  code/game/objects/items/melee/misc.dm
Labels: Tweak

#17386 The Roost music now not 14 MB version
  config/jukebox_music/sounds/TheRoost+3300+5.ogg
Labels: Config, Sound

#16933 rad weaponry update: xray nerf, bouncer egun addition
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/special/mindflayer.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/guns/energy.dmi
  icons/obj/projectiles.dmi
Labels: Feature, Tweak, Fix, Sprites

#17376 Reduce the chance that an EMP'd leg implant will break your leg
  code/modules/surgery/organs/augment_legs.dm
Labels: Tweak

#17363 Adds a cap to stamina damage slowdown
  code/modules/mob/living/carbon/human/species.dm
Labels: Tweak

#17388 readds suit storage bind
  code/datums/keybinding/human.dm
  code/datums/keybinding/living.dm
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Fix

#17396 Fix TK machines
  code/game/machinery/_machinery.dm
Labels: Fix

#17397 Fix makeshift ID interface
  code/game/objects/items/cards_ids.dm
Labels: Fix

#17401 Fix security gun dupe exploit 2023
  code/modules/vending/security_armaments.dm
Labels: Fix

#17402 Thanks ynot
  code/game/machinery/_machinery.dm
Labels: Fix

#17406 Who the fuck thought that 20k a minute was a good idea from one rad collector?
  code/modules/power/singularity/collector.dm
Labels: Tweak

#17407 Fixes exploit being able to supersede NT-USP power pack max ammo
  code/game/machinery/recharger.dm
Labels: Fix

#17408 Space Pirate Energy Saber Resprite!
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/obj/weapons/energy.dmi
Labels: Tweak, Sprites

#16542 Removes malf
  config/game_options.txt
Labels: Config, Revert / Deletion

#17413 Fixes the Dota suit not actually playing sounds properly.
  yogstation/code/modules/clothing/suits/nerd.dm
Labels: Fix

#17405 Removes redundant line in glove code
  code/modules/clothing/gloves/color.dm
Labels: Fix

#17273 Makes Borg Army Actually Scale with Player Count
  code/game/gamemodes/objective.dm
Labels: Tweak

#17432 Remove black rogue pixel from ponytail 4 #158305834
  icons/mob/human_face.dmi
Labels: Sprites

#17412 Fixes NT-USP not having flashlight offset
  code/modules/projectiles/boxes_magazines/external/rechargable.dm
Labels: Fix

#17415 corrects sausage snipping to not work if you are snipping it while holding it
  code/modules/food_and_drinks/food/snacks_meat.dm
Labels: Fix

#17410 Fixes air shoes implant exploit using boost while hardcrit or dead
  code/modules/surgery/organs/augment_legs.dm
Labels: Fix

#17431 [admin] Un fucks admin ticket panel
  tgui/packages/tgui/interfaces/TicketPanel.js
Labels: Fix, tgui, Javascript

#17420 prisoner jumpsuit crate is now small items
  yogstation/code/modules/cargo/cargo_packs.dm
Labels: Tweak

#17416 Should fix Spacebar automatically signing you up for every alert under the sun
  tgui/packages/tgui/interfaces/AlertModal.js
Labels: Fix, tgui, Javascript

#17423 Fixes rats not being able to speak mouse
  code/modules/mob/living/simple_animal/hostile/rat.dm
Labels: Fix

#17430 Fixes a lot of spells not having icons
  code/datums/mutations/actions.dm
  icons/mob/actions/actions_humble.dmi
  icons/mob/actions/humble/actions_humble.dmi
Labels: Fix, Sprites

#17425 Fixes PDA reply button not working until opening the program once
  code/modules/modular_computers/file_system/programs/ntpda_msg.dm
Labels: Fix

#17433 Makes recharger blue when it is fully charged
  code/game/machinery/recharger.dm
Labels: Tweak

#17429 PR template and github issue template updates
  .github/ISSUE_TEMPLATE/00-bug-report.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

#17417 Fix bug caused by a dumb programmer
  code/modules/admin/permissionedit.dm
Labels: Admin

#17414 Nerfs Cargo - No more Factorio Simulator Free money exploit 2023
  code/game/machinery/autolathe.dm
  code/game/objects/items.dm
  code/modules/cargo/exports.dm
Labels: Tweak

#17340 Replaces chasm destruction spawn from tendrils with lava
  code/game/objects/structures/lavaland/necropolis_tendril.dm
Labels: Tweak

#17446 Returns tails to draconids and ashwalkers 2: Jamie said it was probably ok edition
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: Fetish Content

#17441 [JAMIE APPROVED] Fixes gas scanner
  code/game/objects/items/devices/scanners.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  yogstation/code/game/objects/items/devices/scanners.dm
Labels: Fix

#17447 Fixes stamcrit not instant downing
  code/modules/mob/living/carbon/status_procs.dm
Labels: Fix

#17409 Fixes the virology machine bluescreen
  code/modules/reagents/chemistry/machinery/pandemic.dm
  tgui/packages/tgui/interfaces/Pandemic.js
Labels: Fix, tgui, Javascript

#17436 [ADMIN] admin notif when replying with ticket panel
  code/modules/admin/verbs/adminpm.dm
Labels: Fix, Admin

#17449 Fixes some errors with non existing states
  icons/obj/ammo.dmi
Labels: Fix, Sprites

#17267 Player Species Naming Convention Update
  code/__HELPERS/mobs.dm
  code/__HELPERS/names.dm
  code/_globalvars/lists/names.dm
  strings/names/constellations.txt
  strings/names/ethereal.txt
  strings/names/forge.txt
  strings/names/lizard_clan.txt
  strings/names/plant.txt
  strings/names/polysmorph.txt
  strings/names/preternis.txt
  strings/names/preternis_prefix.txt
  strings/names/preternis_suffix.txt
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Feature, Tweak, Awaiting - Vote - Council, Fetish Content

#17453 Fixes Infinite Radio Dupe Bug
  code/game/machinery/computer/security.dm
Labels: Fix

#17239 Short and Long Telomeres Quirks
  code/__DEFINES/traits.dm
  code/datums/traits/good.dm
  code/datums/traits/negative.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/cloning.dm
Labels: Feature

#17150 reworks the ebow to be cooler and probably less overpowered
  _maps/map_files/generic/CentCom.dmm
  code/modules/projectiles/ammunition/energy/ebow.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/energy/ebow.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak, Map Change, Revert / Deletion

#17440 putting firedoors on one of the exterior doors that i forgot on the triage shuttle
  _maps/shuttles/emergency_triage.dmm
Labels: Map Change, Fix

#17459 Partially Reverts #17203 and #17204
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/powers/mimic_voice.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/changeling/powers/pheromone_receptors.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Tweak, i ded

#17464 AI Law Review (britishes the AI laws and changes law precedence for station efficiency lawset)
  code/datums/ai_laws.dm
Labels: Tweak, Fix

#17460 Add t-ray scanner range check
  code/game/objects/items/devices/scanners.dm
Labels: Fix

#17457 A few keybinding improvements and fixes
  code/_globalvars/lists/keybindings.dm
  code/controllers/subsystem/input.dm
  code/modules/client/client_defines.dm
  code/modules/client/message.dm
  code/modules/client/verbs/reset_held_keys.dm
  code/modules/keybindings/bindings_client.dm
  code/modules/keybindings/setup.dm
  code/modules/research/machinery/_production.dm
  code/modules/research/rdconsole.dm
Labels: Tweak, Fix, Performance

#17466 Farewell Syringe Guns
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/projectiles/guns/misc/syringe_gun.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#17355 When the AI got moved it got nerfed hard in Defences, This ups it a bit
  _maps/map_files/YogStation/YogStation.dmm
Labels: Feature, Tweak, Map Change, Fix, Revert / Deletion

#17476 A few delta_time fixes
  code/__DEFINES/atmospherics.dm
  code/controllers/subsystem/air.dm
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/atmospherics/machinery/components/unary_devices/outlet_injector.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/atmospherics/machinery/portable/pump.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/shadow_walk.dm
Labels: Fix

#17379 BoxStation Armory update [BETTER REINFORCED] [GONE SEXUAL?]
  _maps/map_files/YogStation/YogStation.dmm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/motion.dm
  code/game/machinery/doors/shutters.dm
  code/game/objects/structures/crates_lockers/crates/secure.dm
  code/modules/paperwork/paper_premade.dm
  icons/obj/doors/shutters_window.dmi
Labels: Map Change, DO NOT MERGE, Sprites

#17469 Unlocks the keys to reality
  code/game/machinery/doppler_array.dm
Labels: Fix

#17470 cloned sheltered people now retain sheltered on clone
  code/datums/traits/negative.dm
Labels: Tweak

#17471 lighting other people's cigs with welders now works
  code/game/objects/items/tools/weldingtool.dm
Labels: Tweak

#17486 Fixes decal examine runtimes and prevents them from ever happening again
  code/game/objects/items/airlock_painter.dm
  code/modules/mob/mob.dm
Labels: Fix

#17479 libriarian
  tgui/packages/tgui/interfaces/LibraryConsole.js
Labels: tgui, Javascript

#17480 Fixes an IPC martial art runtime
  code/datums/martial/ultra_violence.dm
Labels: Fix

#17463 Stops Supermatter Shards being spawned in the bluespace locker..
  code/game/objects/items/miscellaneous.dm
Labels: Fix, i ded, Missing/Inadequate Rationale

#17389 Makes AI Download 50% Faster
  code/__DEFINES/ai.dm
  code/modules/mob/living/silicon/ai/decentralized/management/ai_controlpanel.dm
Labels: Tweak, Awaiting - Action - Balance Review

#17487 Fixes a bunch of runtime problems (probably)
  code/controllers/subsystem/statpanel.dm
  code/controllers/subsystem/timer.dm
  code/controllers/subsystem/vis_overlays.dm
  code/datums/action.dm
  code/datums/traits/negative.dm
  code/game/machinery/autolathe.dm
  code/modules/antagonists/traitor/IAA/internal_affairs.dm
  code/modules/assembly/signaler.dm
  code/modules/buildmode/buttons.dm
  code/modules/clothing/head/_head.dm
  code/modules/economy/pay_stand.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Fix

#17374 Blood cult can no longer create runes on lavaland + Other changes.
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/antagonists/clockcult/clock_items/replica_fabricator.dm
  code/modules/antagonists/clockcult/clock_scripture.dm
  code/modules/antagonists/cult/ritual.dm
  code/modules/antagonists/cult/rune_spawn_action.dm
Labels: Tweak, Controversial

#17497 Revert "Stops Supermatter Shards being spawned in the bluespace locker.."
  code/game/objects/items/miscellaneous.dm
Labels: Revert / Deletion

#17534 Revert "Revert "Stops Supermatter Shards being spawned in the bluespace locker..""
  code/game/objects/items/miscellaneous.dm
Labels: Revert / Deletion

#17504 Fixes augmented genders
  code/modules/surgery/bodyparts/_bodyparts.dm
  icons/mob/augmentation/augments.dmi
  icons/mob/augmentation/augments_engineer.dmi
  icons/mob/augmentation/augments_mining.dmi
  icons/mob/augmentation/augments_security.dmi
Labels: Fix, Sprites

#17539 Revert "BoxStation smaller trims [GONE SEXUAL?] [SEC CALLED]"
  _maps/map_files/YogStation/YogStation.dmm
  code/game/objects/effects/decals/turfdecal/tilecoloring.dm
Labels: Map Change

#17495 Caps Softcap for Rad Collector Attempt 2 - Making 115k Credits per collector is NOT intended.
  code/modules/power/singularity/collector.dm
Labels: Fix

#17511 Makes darkspawn abilities work more like they should
  yogstation/code/modules/antagonists/darkspawn/darkspawn_objects/dark_bead.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_objects/umbral_tendrils.dm
Labels: Tweak

#17515 Bluespace Trash bag in-hand sprite
  code/game/objects/items/storage/bags.dm
  icons/mob/inhands/equipment/custodial_lefthand.dmi
  icons/mob/inhands/equipment/custodial_righthand.dmi
Labels: Feature, Sprites

#17520 Steal Objective Clarification
  code/game/gamemodes/objective_items.dm
Labels: Tweak

#17510 Lets Revenants see like the ghosts they are
  code/modules/antagonists/revenant/revenant.dm
Labels: Tweak

#17527 Resprites Slimes because this server is full of color blind people.
  icons/mob/slimes.dmi
Labels: DME Edit, Sprites

#17499 removes unintended contents from gax and meta armories
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#17522 Adds chem machine to all bar templates, not just Citadel template
  _maps/RandomRuins/StationRuins/BoxStation/bar_arcade.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_box.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_casino.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_cheese.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_clock.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_conveyor.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_diner.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_disco.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_grassy.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_irish.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_purple.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_spacious.dmm
  _maps/RandomRuins/StationRuins/BoxStation/bar_trek.dmm
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/Yogsmeta/Yogsmeta.dmm
Labels: Map Change

#17518 Contractors get a syndicate prisoner bag to transport someone to the extract point
  code/game/objects/items/storage/uplink_kits.dm
Labels: Feature

#17501 NT-USP revamp
  code/modules/projectiles/boxes_magazines/external/rechargable.dm
  code/modules/projectiles/projectile.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/objects.dmi
Labels: Feature, Tweak, Sprites, Awaiting - Action - Balance Review

#17477 Stand users are drawn towards other stand users
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  yogstation/code/modules/guardian/guardian.dm
  yogstation/code/modules/guardian/guardianbuilder.dm
  yogstation/code/modules/guardian/standarrow.dm
Labels: Feature

#17498 Fixes negative explosions giving near-infinite research points and causing runtime errors
  code/game/machinery/doppler_array.dm
Labels: Fix

#17506 Glockroach properly keep their distance
  code/modules/mob/living/simple_animal/hostile/glockroach.dm
Labels: Tweak
