Repository yogstation13/Yogstation, pull requests merged in 2023-10, with the labels that each got.

#20446 Prevents the removal of objects from yourself while disabled.
  code/_onclick/hud/alert.dm
Labels: Fix

#20421 NT IRN app tweaks, bugfixes and code refactor
  code/modules/cargo/console.dm
  code/modules/cargo/order.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/modular_computers/file_system/programs/supply/budgetordering.dm
  code/modules/shuttle/supply.dm
  tgui/packages/tgui/interfaces/Cargo.js
Labels: Tweak, Fix, tgui, Javascript

#20437 Adds new negative quirk - Drunkard
  code/datums/traits/negative.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Feature

#20478 Makes fire extinguishers more wet
  code/game/objects/items/extinguisher.dm
Labels: Tweak

#20453 Tweaks worldbreaker's pummel targeting
  code/datums/martial/worldbreaker.dm
Labels: Tweak, Fix

#20450 Makes cautery tool do burn damage + adv drill sharp
  code/modules/surgery/tools.dm
Labels: Tweak

#20477 Nerfs preternis again
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Tweak, Fix, Balance Council Approved

#20481 Powerhungry species no longer look fat when fully charged
  code/modules/mob/living/carbon/human/examine.dm
Labels: Fix

#20479 Phytosians no longer passively regen robotic limbs
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
Labels: Fix

#20482 Makes worldbreaker hungrier
  code/datums/martial/worldbreaker.dm
Labels: Tweak

#20487 Adds a delay to leaving ventcrawling
  code/datums/progressbar.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
Labels: Tweak

#20489 Buffs all of Detective's clothing so that they have the armor values they should
  code/game/objects/items/storage/backpack.dm
  code/modules/clothing/suits/jobs.dm
  yogstation/code/modules/clothing/suits/miscellaneous.dm
  yogstation/code/modules/clothing/under/miscellaneous.dm
Labels: Tweak

#20505 Allows mime heretics to actually use all spells w/o needing to break their vow
  code/modules/antagonists/eldritch_cult/eldritch_magic.dm
Labels: Tweak

#20518 Mask of Madness bufix + QOL
  code/modules/antagonists/eldritch_cult/eldritch_items.dm
Labels: Tweak, Fix

#20520 Fix cryo being slow
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: Fix

#20510 Fixes a bug with bloodsuckers only healing robotic limbs on non robotic species
  code/modules/antagonists/bloodsuckers/structures/bloodsucker_life.dm
Labels: Fix

#20471 [BOX] Det office tweaks
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#20460 [BOX] fixes up some map standards
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#19968 [READY] AGCNR Attempt 4: Revengeance
  _maps/RandomRuins/StationRuins/BoxStation/engine_reactor.dmm
  _maps/RandomRuins/StationRuins/MetaStation/meta_reactor.dmm
  code/__DEFINES/flags.dm
  code/__DEFINES/logging.dm
  code/__DEFINES/reactor.dm
  code/__DEFINES/sound.dm
  code/__HELPERS/radiation.dm
  code/_globalvars/lists/objects.dm
  code/datums/components/crafting/recipes.dm
  code/game/atoms.dm
  code/game/machinery/_machinery.dm
  code/game/objects/structures/crates_lockers/crates/secure.dm
  code/modules/admin/admin_investigate.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/cargo/packs.dm
  code/modules/modular_computers/computers/item/pda/pda_presets.dm
  code/modules/modular_computers/computers/item/phone/phone_presets.dm
  code/modules/modular_computers/computers/machinery/console/console_presets.dm
  code/modules/modular_computers/file_system/programs/engineering/reactor_monitor.dm
  code/modules/pool/pool.dm
  code/modules/power/lighting.dm
  code/modules/power/power.dm
  code/modules/power/reactor/fuel_rods.dm
  code/modules/power/reactor/reactor.dm
  code/modules/power/reactor/reactor_frame.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  config/game_options.txt
  icons/obj/control_rod.dmi
  icons/obj/inflatable.dmi
  icons/obj/machines/reactor.dmi
  icons/obj/machines/reactor_parts.dmi
  icons/obj/reactor_computer.dmi
  sound/effects/reactor/alarm.ogg
  sound/effects/reactor/crane_1.wav
  sound/effects/reactor/explode.ogg
  sound/effects/reactor/falloutwind.ogg
  sound/effects/reactor/meltdown.ogg
  sound/effects/reactor/startup.ogg
  sound/effects/reactor/startup2.ogg
  sound/effects/reactor/switch.ogg
  sound/effects/reactor/switch2.ogg
  sound/effects/reactor/switch3.ogg
  sound/machines/reactor_alert_1.ogg
  sound/machines/reactor_alert_2.ogg
  sound/machines/reactor_alert_3.ogg
  tgui/packages/tgui/interfaces/NtosReactorStats.js
  tgui/packages/tgui/interfaces/ReactorComputer.js
  yogstation.dme
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Mapping, Config, Sound, Sprites, Admin

#20451 Lets people carry chairs and wheelchairs on their back
  code/game/objects/structures/beds_chairs/chair.dm
  code/modules/vehicles/wheelchair.dm
Labels: Tweak

#20491 Preterni can't eat ores with a covered mouth
  code/modules/mining/ores_coins.dm
Labels: Fix

#20499 Fixed glasses being partially hidden under certain lizard snouts AGAIN
  icons/mob/mutant_bodyparts.dmi
Labels: Fix, Sprites, Fetish Content

#20525 REMOVES THE BURDENING SHACKLES FROM ETHEREAL COLOURS
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/datums/dna.dm
  code/modules/admin/create_mob.dm
  code/modules/antagonists/brother/brother.dm
  code/modules/client/preferences/species_features/ethereal.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Tweak, Admin

#20507 Tweaks can_use checks of ultra violence and worldbreaker
  code/datums/martial/ultra_violence.dm
  code/datums/martial/worldbreaker.dm
Labels: Fix

#20506 Increases code quality of plasmeme's welding blind immunity
  code/__DEFINES/traits.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/clothing/spacesuits/plasmamen.dm
Labels: Refactor

#20511 Explosive fist now creates turf fires instead of atmos hotspots
  yogstation/code/datums/martial/explosive_fist.dm
Labels: Tweak

#20534 Removes heretic curses (for now) + adds knowledge ritual
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
  code/modules/antagonists/eldritch_cult/eldritch_transmutations.dm
  code/modules/antagonists/eldritch_cult/knowledge/ash_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/void_lore.dm
Labels: Feature, Revert / Deletion

#20539 Some detective gear is no longer invisible
  code/game/objects/items/storage/backpack.dm
  yogstation/code/modules/clothing/suits/miscellaneous.dm
  yogstation/code/modules/clothing/under/miscellaneous.dm
Labels: Fix

#20553 Updates heretic target menu
  code/modules/antagonists/eldritch_cult/eldritch_transmutations.dm
Labels: Tweak

#20357 Steals TG's red alert sound + Sydnicate Announcment (not syndicate anymore)
  code/modules/antagonists/cult/cult_items.dm
  code/modules/security_levels/security_levels.dm
  code/modules/shuttle/emergency.dm
  sound/misc/announce2.ogg
  sound/misc/notice4.ogg
Labels: Feature, Sound, Awaiting - Action - HD

#20474 adds new acid spit genetics mutation obtainable through polysmorphs
  code/__DEFINES/DNA.dm
  code/datums/mutations/acid_spit.dm
  code/game/objects/items/dna_injector.dm
  code/modules/mob/living/carbon/human/species_types/polysmorphs.dm
  sound/effects/alien_spitacid.ogg
  yogstation.dme
Labels: Feature, Sound, Awaiting - Merge, Awaiting - Action - HD, Balance Council Approved

#20496 Lets a preternis with the bottomless stomach trait recharge directly from the powergrid using an apc or smes
  code/modules/mob/living/carbon/human/human.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/power_suck.dm
Labels: Tweak

#20497 Adds a new gene as Ethereal's inert mutation, Radiant Burst
  code/__DEFINES/DNA.dm
  code/datums/mutations/body.dm
  code/datums/mutations/radiantburst.dm
  code/game/objects/items/dna_injector.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  yogstation.dme
Labels: DME Edit, Feature, Tweak, Balance Council Approved

#20498 Adds a new gene as the Preternis inert mutation, Ravenous
  code/__DEFINES/DNA.dm
  code/datums/mutations/ravenous.dm
  code/game/objects/items/dna_injector.dm
  yogstation.dme
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: DME Edit, Feature, Balance Council Approved

#20503 Shifts around some Vampire ability unlocks + bat buff
  code/modules/reagents/reagent_containers/blood_pack.dm
  yogstation/code/datums/antagonists/vampire.dm
  yogstation/code/game/gamemodes/vampire/vampire_bat.dm
  yogstation/code/game/gamemodes/vampire/vampire_powers.dm
Labels: Tweak, Fix, Balance Council Approved

#20504 Adds a new sechailer signal dispatch for requesting medical to an injured civilian
  yogstation/code/modules/clothing/masks/hailer.dm
  yogstation/icons/effects/aiming.dmi
Labels: Feature, Sprites

#20509 IPCs can no longer select light drinker
  code/datums/traits/negative.dm
Labels: Fix

#20512 Reverts adding alien tools to the bluespace harvester
  code/modules/goals/station_goals/bluespace_tap.dm
Labels: Revert / Deletion, Awaiting - Action - HD, Balance Council Approved

#20513 Adds maint lootdrops to bluespace harvester
  code/modules/goals/station_goals/bluespace_tap.dm
Labels: Feature

#20514 Removes unused maint loot file
  code/_globalvars/lists/maintenance_loot.dm
  yogstation.dme
  yogstation/code/_globalvars/lists/maintenance_loot.dm
Labels: Revert / Deletion

#20531 Splits high and low pressure, nerfs emergency firesuits
  code/__DEFINES/obj_flags.dm
  code/_globalvars/bitfields.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/suits/utility.dm
  code/modules/mob/living/carbon/human/life.dm
Labels: Tweak

#20557 Gives laptops in-hand sprites
  code/modules/modular_computers/computers/item/laptop/laptop.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Sprites

#20542 Preterni no longer heat up when recharging
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/power_suck.dm
Labels: Tweak, Revert / Deletion

#20544 Vermin bite is now considered a junk food
  code/game/objects/items/trash.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/food_and_drinks/food/snacks_vend.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  icons/mob/animal.dmi
  icons/mob/pets_held_lh.dmi
  icons/mob/pets_held_rh.dmi
  icons/obj/food/food.dmi
  icons/obj/janitor.dmi
Labels: Feature, Tweak, Sprites, Fetish Content

#20545 Colorblind people can't see wire colors
  code/__DEFINES/traits.dm
  code/datums/traits/negative.dm
  code/datums/wires/_wires.dm
  tgui/packages/tgui/interfaces/Wires.js
Labels: Tweak, tgui, Literally the best PR, Javascript, Balance Council Approved

#20540 New pyro anomaly sprite
  code/game/objects/effects/anomalies.dm
  icons/effects/effects.dmi
Labels: Sprites

#20508 Adds Sap Blood as the inert mutation for Phytosians
  code/__DEFINES/DNA.dm
  code/datums/mutations/sapblood.dm
  yogstation.dme
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
Labels: DME Edit, Feature

#20568 fix a bug with invisible limbs
  code/__DEFINES/combat.dm
Labels: Fix

#20574 [s] Makes it so bibles aren't free printable nullrods
  code/game/objects/items/storage/book.dm
Labels: Fix

#20484 [PORT] removes bloodsucker objectives
  code/game/gamemodes/objective.dm
  code/modules/antagonists/bloodsuckers/bloodsucker_objectives.dm
  code/modules/antagonists/bloodsuckers/bloodsuckers.dm
  code/modules/antagonists/bloodsuckers/clans/_clan.dm
  code/modules/antagonists/bloodsuckers/clans/clan_flavortext.dm
  code/modules/antagonists/bloodsuckers/clans/clan_gangrel.dm
  code/modules/antagonists/bloodsuckers/clans/clan_hecata.dm
  code/modules/antagonists/bloodsuckers/clans/clan_lasombra.dm
  code/modules/antagonists/bloodsuckers/clans/clan_toreador.dm
  code/modules/antagonists/bloodsuckers/powers/feed.dm
  code/modules/antagonists/bloodsuckers/vassal/vassal.dm
  code/modules/antagonists/monsterhunter/monsterhunter.dm
Labels: Revert / Deletion, Balance Council Approved

#20536 adds pocket cat costume to autodrobe
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/vending/autodrobe.dm
  icons/mob/clothing/mask/mask.dmi
  icons/mob/clothing/suit/suit.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/clothing/suits.dmi
Labels: Feature, Sprites

#20573 Fixes limb scars not properly being found
  strings/wounds/scar_loc.json
Labels: Fix

#20589 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Feature, Tweak, Fix, Revert / Deletion

#20591 Gives headdev ownership of more files
  .github/CODEOWNERS
Labels: Github

#20543 Adds Nordic accent
  strings/accents/accent_nordic.json
  strings/accents/accents.json
Labels: Feature

#20575 Tweaks ethereal emag effect
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Tweak

#20454 [PORT] ports beestation gimmick objectives
  code/__DEFINES/departments.dm
  code/datums/mind.dm
  code/game/gamemodes/objective.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  strings/dept_gimmick_objectives.txt
  strings/gimmick_objectives.txt
  strings/target_gimmick_objectives.txt
  yogstation.dme
Labels: Feature

#20524 The Incredible Hulk 4: Into the Hulkerverse
  code/datums/mutations/hulk.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak, Revert / Deletion, Balance Council Approved

#20577 Adds Poppy seeds to arrivals vendor + Poppy Seeds & Poppies to random maint loot
  code/_globalvars/lists/maintenance_loot.dm
  code/modules/vending/megaseed.dm
Labels: Tweak

#20572 You can now re-description your guns because that's FUN
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  code/modules/projectiles/guns/energy/laser.dm
Labels: Feature, Tweak

#20526 Adds a new poster "Call it out!"
  icons/obj/contraband.dmi
  yogstation/code/game/objects/effects/contraband.dm
Labels: Feature, Sprites

#20579 Even more battle royale (this time with kill counting and hopefully less bugs)
  yogstation/code/game/gamemodes/battle_royale/battleroyale.dm
  yogstation/code/game/gamemodes/battle_royale/loot.dm
Labels: Tweak

#20560 [GAX] Adds disposal pipes where there should be some but someone fucked up
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Mapping

#20541 Replaces the 3x3 engines on the freeminer ship with the normal variant because 3x3 ones rotate weirdly and look ugly.
  _maps/shuttles/whiteship_miner.dmm
Labels: Mapping

#20558 Gives different costs to heretic sacrifice targets & Allows heretics to sac people in crit
  code/__DEFINES/stat.dm
  code/modules/antagonists/eldritch_cult/eldritch_magic.dm
  code/modules/antagonists/eldritch_cult/eldritch_transmutations.dm
  code/modules/antagonists/eldritch_cult/knowledge/mind_lore.dm
  yogstation.dme
Labels: Tweak, Balance Council Approved

#20601 Refactors process_flags to use mob biotypes
  code/__DEFINES/mobs.dm
  code/datums/diseases/advance/symptoms/deafness.dm
  code/datums/diseases/advance/symptoms/fire.dm
  code/datums/diseases/advance/symptoms/hallucigen.dm
  code/datums/diseases/advance/symptoms/heal.dm
  code/datums/diseases/advance/symptoms/nanites.dm
  code/datums/diseases/advance/symptoms/necropolis.dm
  code/datums/diseases/advance/symptoms/radiation.dm
  code/datums/diseases/advance/symptoms/species.dm
  code/datums/diseases/advance/symptoms/symptoms.dm
  code/datums/traits/negative.dm
  code/modules/antagonists/abductor/equipment/gland.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/synths.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organs/appendix.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/liver.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/surgery/organs/stomach.dm
  code/modules/surgery/organs/tails.dm
  code/modules/surgery/organs/tongue.dm
  code/modules/surgery/organs/vocal_cords.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/organs.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
  yogstation/code/modules/surgery/organs/heart.dm
Labels: Refactor

#20140 [MDB IGNORE] Donutstation: Glazed
  _maps/_basemap.dm
  _maps/donutstation.dm
  _maps/donutstation.json
  _maps/map_files/DonutStation/DonutStation.dmm
  _maps/shuttles/arrival_donut.dmm
  code/datums/shuttles.dm
  config/maps.txt
Labels: Mapping, Config

#20527 Random variations for clerk on Meta and BoxStation
  _maps/RandomRuins/StationRuins/BoxStation/clerk_box.dmm
  _maps/RandomRuins/StationRuins/BoxStation/clerk_meta.dmm
  _maps/RandomRuins/StationRuins/BoxStation/clerk_pod.dmm
  _maps/map_files/IceMeta/IceMeta.dmm
  _maps/map_files/YogStation/YogStation.dmm
  code/_globalvars/lists/mapping.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/ticker.dm
  code/modules/client/preferences/clerk_choice.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/clerk_choice.tsx
  yogstation.dme
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
  yogstation/code/modules/jobs/job_types/_job.dm
Labels: DME Edit, Mapping, tgui

#20612 [SPEEDMERGE plz :3 ] i am stupid and forgot to fix the carpets on clerkmeta
  _maps/RandomRuins/StationRuins/BoxStation/clerk_meta.dmm
Labels: Mapping, Fix

#20621 Bugfix: Allows heretics to actually get points when sacrificing targets (sorry...)
  code/modules/antagonists/eldritch_cult/eldritch_transmutations.dm
Labels: Fix

#20556 [MDB IGNORE] [IceMeta] Icemoon Inn Revamp
  _maps/RandomRuins/IceRuins/icemoon_surface_inn.dmm
Labels: Mapping

#20615 Nerfs cloaker belt to not be near infinite invisibility
  code/game/objects/items/devices/traitordevices.dm
Labels: Tweak, Balance Council Approved

#20614 Bo Staff now makes you unconscious instead of sleeping you
  code/datums/martial/sleeping_carp.dm
Labels: Tweak

#20608 Fixes the creamator not creamating
  code/game/objects/structures/morgue.dm
Labels: Fix

#20602 Fixes the dmi merge conflict resolver
  tools/hooks/python.sh
Labels: Tweak

#20583 Finishes off remaining anti_magic_check and uses the proper version
  code/__DEFINES/traits.dm
  code/datums/components/anti_magic.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/objects/items/gems.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/singularityhammer.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/book.dm
  code/game/objects/structures/traps.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/antagonists/abductor/machinery/console.dm
  code/modules/antagonists/clockcult/clock_effects/clock_sigils.dm
  code/modules/antagonists/clockcult/clock_helpers/slab_abilities.dm
  code/modules/antagonists/clockcult/clock_items/clock_weapons/ratvarian_spear.dm
  code/modules/antagonists/clockcult/clock_items/judicial_visor.dm
  code/modules/antagonists/clockcult/clock_structures/ocular_warden.dm
  code/modules/antagonists/clockcult/clock_structures/taunting_trail.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/demon/general_powers.dm
  code/modules/antagonists/demon/sins/envy.dm
  code/modules/antagonists/demon/sins/pride.dm
  code/modules/antagonists/eldritch_cult/eldritch_magic.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/fields/timestop.dm
  code/modules/hydroponics/grown/melon.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/projectiles/ammunition/reusable/arrow.dm
  code/modules/projectiles/guns/ballistic/bow.dm
  code/modules/projectiles/guns/magic.dm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/religion/rites.dm
  code/modules/spells/spell_types/devil.dm
  code/modules/spells/spell_types/hivemind.dm
  code/modules/spells/spell_types/madness_curse.dm
  code/modules/surgery/organs/vocal_cords.dm
  yogstation/code/modules/spells/spell_types/pointed/cluwnecurse.dm
Labels: Fix

#20619 fixes research access restriction stuff
  code/game/objects/items/circuitboards/computer_circuitboards.dm
Labels: Fix

#20617 Makes gimmick objectives work
  code/game/gamemodes/objective.dm
Labels: Fix

#20606 Fixes an unintended revert to dragon blood
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Fix

#20604 Adds sanity check to rpgloot fixing a runtime that breaks it
  code/modules/events/wizard/rpgloot.dm
Labels: Fix

#20610 Further Heretic Adjustments
  code/__DEFINES/qdel.dm
  code/__HELPERS/game.dm
  code/__HELPERS/qdel.dm
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_items.dm
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
  code/modules/antagonists/eldritch_cult/eldritch_magic.dm
  code/modules/antagonists/eldritch_cult/knowledge/ash_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/mind_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/rust_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/void_lore.dm
  code/modules/antagonists/eldritch_cult/transmutations/ash_transmutations.dm
  code/modules/antagonists/eldritch_cult/transmutations/flesh_transmutations.dm
  code/modules/antagonists/eldritch_cult/transmutations/mind_transmutations.dm
  code/modules/antagonists/eldritch_cult/transmutations/rust_transmutations.dm
  code/modules/antagonists/eldritch_cult/transmutations/void_transmutations.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/projectiles/projectile/magic.dm
  yogstation.dme
Labels: Feature, Tweak, Fix, Revert / Deletion, Balance Council Approved

#20494 Marrow weavers and gutlunches can no longer eat robotic organs
  code/modules/mob/living/simple_animal/hostile/mining_mobs/gutlunch.dm
  yogstation/code/modules/mob/living/simple_animal/hostile/mining_mobs/marrow_weaver.dm
Labels: Tweak

#20585 Buffs sleeper part upgrades
  code/game/machinery/Sleeper.dm
Labels: Feature, Balance Council Approved

#20502 Change to vampire's gaze and hypnosis
  yogstation/code/game/gamemodes/changeling/powers/abomination_powers.dm
  yogstation/code/game/gamemodes/vampire/vampire_powers.dm
  yogstation/code/modules/mob/living/simple_animal/hostile/abominations.dm
Labels: Tweak, Balance Council Approved

#20633 Fixes dodge cloak effect interaction with projectiles
  code/modules/antagonists/eldritch_cult/eldritch_items.dm
  code/modules/clothing/neck/_neck.dm
Labels: Fix

#20523 Adds wirecrawling as an Ethereal traitor item
  code/game/objects/effects/effect_system/effects_sparks.dm
  code/game/objects/items/granters/martial_arts/racial.dm
  code/game/sound.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/power/cable.dm
  code/modules/power/power.dm
  code/modules/spells/spell_types/jaunt/wirecrawl.dm
  yogstation.dme
  yogstation/code/modules/uplink/uplink_item.dm
Labels: DME Edit, Feature, Balance Council Approved

#20611 Exploding the SM with 50% miasma and 5000 moles will spawn a Blob
  code/modules/antagonists/blob/overmind.dm
  code/modules/mob/transform_procs.dm
  code/modules/power/supermatter/supermatter.dm
Labels: Feature

#20597 ports cucumbers and pickles
  code/game/objects/items/storage/boxes.dm
  code/modules/cargo/bounties/botany.dm
  code/modules/cargo/bounties/chef.dm
  code/modules/cargo/packs.dm
  code/modules/food_and_drinks/food/snacks_bread.dm
  code/modules/food_and_drinks/food/snacks_burgers.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/hydroponics/grown/cucumber.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/vending/megaseed.dm
  icons/obj/drinks.dmi
  icons/obj/food/food.dmi
  icons/obj/hydroponics/growing_vegetables.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  yogstation.dme
Labels: DME Edit, Feature, Tweak, Sprites

#20570 Ports breakable plates
  code/modules/food_and_drinks/plate.dm
  code/modules/vending/dinnerware.dm
  icons/obj/kitchen.dmi
  sound/items/ceramic_break.ogg
Labels: Feature, Sound, Sprites, Awaiting - Action - HD

#20644 Removes the 8 seconds of confusion from stun baton hits.
  code/game/objects/items/stunbaton.dm
Labels: Tweak, Awaiting - Merge

#20566 Makes ethereal light power and range scale both with health and hunger + saturation reduction
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Tweak

#20618 Fixes significant bugs with every heretic grasp
  code/modules/antagonists/eldritch_cult/eldritch_magic.dm
  code/modules/antagonists/eldritch_cult/knowledge/ash_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/mind_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/rust_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/void_lore.dm
Labels: Fix

#20620 Changes the mouse opacity of two heretic effects
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
  code/modules/antagonists/eldritch_cult/eldritch_magic.dm
Labels: Tweak, Fix

#20632 In 2777, what makes someone a criminal?
  code/game/objects/items/storage/uplink_kits.dm
Labels: Feature, Balance Council Approved

#20639 Botanist lockers now spawn with a scythe and weedkiller grenade in them
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics.dm
Labels: Tweak

#20641 Makes sol dry not almost as good as actual medicine
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Tweak

#20645 Lets space vines spread through firelocks that aren't welded shut
  code/modules/events/spacevine.dm
Labels: Tweak

#20631 Spooky month Vampire tweaks
  yogstation.dme
  yogstation/code/datums/antagonists/vampire.dm
  yogstation/code/game/gamemodes/vampire/grave_fever.dm
  yogstation/code/game/gamemodes/vampire/vampire_other.dm
  yogstation/code/game/gamemodes/vampire/vampire_powers.dm
Labels: DME Edit, Tweak, Revert / Deletion, Balance Council Approved

#20626 Preterni can no longer drain power from... themselves?
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/power_suck.dm
Labels: Fix, Awaiting - Action - Author

#20580 Brings back nightmare
  code/modules/events/nightmare.dm
Labels: Feature, Awaiting - Action - HD

#20647 You can now move while opening mail
  code/game/objects/items/mail.dm
Labels: Tweak, Needs review, Awaiting - Vote - Council, Awaiting - Vote - Poll, Awaiting - Action - Balance Review, Significant Opposition, Awaiting Quickfire Result, ided, nobody cares

#20648 Resprites pencil holders, updates their descriptions
  code/modules/paperwork/pencil_holder.dm
  yogstation/icons/obj/bureaucracy.dmi
Labels: Tweak, Sprites, Awaiting - Merge

#20152 The Syndicate Dreadnought - the Nuclear Operative base is now styled to be like a battlecruiser
  _maps/map_files/generic/CentCom.dmm
  code/game/turfs/closed.dm
Labels: Mapping, Stale, Awaiting - Action - Author

#20622 Syndicate Lavaland: The Fishing Update
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
Labels: Feature, Mapping, Awaiting - Action - Map Review

#20654 [SPEEDMERGE] ports Resprites the kitchen knife! 😂😂😂
  yogstation/icons/obj/kitchen.dmi
Labels: Sprites, Awaiting - Action - Sprite Review

#20564 [PORT] Ethereal crystalization upon death
  code/__DEFINES/traits.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/surgery/organs/ethereal_heart.dm
  icons/mob/ethereal_crystal.dmi
  icons/obj/surgery.dmi
  sound/effects/ethereal_crystalization.ogg
  sound/effects/ethereal_revive.ogg
  sound/effects/ethereal_revive_fail.ogg
  yogstation.dme
Labels: DME Edit, Feature, Sound, Sprites, Awaiting - Action - Sprite Review, Balance Council Approved

#20655 Ethereals can no longer be walking voids of light
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Tweak, Awaiting - Merge

#20653 heretic sac spells now take into account unconscious+ people
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
Labels: Fix, Awaiting - Merge

#20661 Fixes radiant burst sychronizer chromosome application
  code/datums/mutations/radiantburst.dm
Labels: Fix, Awaiting - Merge

#20662 Vampire revive flexibility pr
  yogstation/code/game/gamemodes/vampire/vampire_powers.dm
Labels: Tweak, Fix, Awaiting - Merge

#20660 Heretic Spell Cleanup Attempt #2
  code/modules/antagonists/eldritch_cult/eldritch_magic.dm
  code/modules/antagonists/eldritch_cult/magic/ash_magic.dm
  code/modules/antagonists/eldritch_cult/magic/flesh_magic.dm
  code/modules/antagonists/eldritch_cult/magic/general_heretic_magic.dm
  code/modules/antagonists/eldritch_cult/magic/mind_magic.dm
  code/modules/antagonists/eldritch_cult/magic/rust_magic.dm
  code/modules/antagonists/eldritch_cult/magic/void_magic.dm
  yogstation.dme
Labels: DME Edit, Feature, Revert / Deletion, Awaiting - Merge

#20682 Upgraded sleepers no longer deal toxins instead of healing it
  code/game/machinery/Sleeper.dm
Labels: Fix

#20249 Adds new Lavaland Ruin: Legionnaire Pit
  _maps/RandomRuins/LavaRuins/lavaland_surface_legionnaire_pit_dtrap.dmm
  code/datums/ruins/lavaland.dm
Labels: Mapping, Awaiting - Action - Balance Review, Awaiting - Action - Map Review

#20519 NT IRN app tweaks and bugfixes part 2, cargo packs tweaks
  code/game/objects/structures/crates_lockers/crates/secure.dm
  code/modules/cargo/exports/large_objects.dm
  code/modules/cargo/packs.dm
  code/modules/modular_computers/file_system/programs/supply/budgetordering.dm
  code/modules/shuttle/supply.dm
  icons/obj/crates.dmi
Labels: Sprites, Awaiting - Action - HD

#20688 Fixes some minor bugs with wirecrawling
  code/modules/spells/spell_types/jaunt/wirecrawl.dm
Labels: Fix

#20640 UBEY UBEY UBEY
  _maps/RandomRuins/StationRuins/MetaStation/meta_reactor.dmm
  _maps/RandomRuins/StationRuins/MetaStation/meta_singulo_tesla.dmm
  _maps/RandomRuins/StationRuins/MetaStation/meta_sm.dmm
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/DonutStation/DonutStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  code/datums/components/crafting/weapons.dm
  code/game/turfs/simulated/walls.dm
  icons/mob/inhands/weapons/hammers_lefthand.dmi
  icons/mob/inhands/weapons/hammers_righthand.dmi
  icons/obj/weapons/misc.dmi
  yogstation.dme
  yogstation/code/game/objects/items/wielded/sledgehammer.dm
  yogstation/icons/mob/clothing/back.dmi
Labels: DME Edit, Feature, Tweak, Mapping, Sprites, Map Change, Balance Council Approved

#20673 [s] Fix nuclear fallout weather running on station zlevel when the reactor isnt even on that zlevel
  code/modules/power/reactor/reactor.dm
Labels: Fix, Awaiting - Merge

#20679 No longer need to cut all wires to disassemble air alarm
  code/modules/atmospherics/machinery/airalarm.dm
Labels: Tweak, Awaiting - Merge

#20675 Changes the description of deputy armbands and armband boxes to reflect that you can't deputize people anymore
  code/game/objects/items/storage/boxes.dm
  code/modules/clothing/under/accessories.dm
Labels: Tweak, Awaiting - Merge

#20657 donut emoji update
  icons/emoji.dmi
Labels: Sprites, Awaiting - Action - Sprite Review

#20686 [BUGFIX] Makes it so sharpening a weapon doesn't double the increment it's supposed to increase by
  code/game/objects/items/sharpener.dm
Labels: Fix, Awaiting - Merge

#20678 Amasec: MAKE ME PUNCHHHHHHHHHHHHHHHHHHHHHHHHHH (Effect added)
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Feature, Tweak, Awaiting - Merge

#20687 Nerfs blazing oil (again)
  code/modules/antagonists/blob/blobstrains/blazing_oil.dm
Labels: Tweak, Balance Council Approved

#20651 I'm the silly little ammo guy, have some more silly ammo
  code/datums/components/crafting/weapons.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  icons/obj/ammo.dmi
Labels: Feature, Sprites, Awaiting - Merge, Balance Council Approved

#20691 oddjob kit landmine now does something rather than nothing
  code/game/objects/items/storage/uplink_kits.dm
Labels: Tweak, Awaiting - Merge

#20683 Edits the stechkin grip by 1 pixel
  icons/obj/guns/projectile.dmi
Labels: Sprites, Awaiting - Action - Sprite Review

#20674 Deputy
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/DonutStation/DonutStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping, Awaiting - Action - HD

#20685 Do NOT make a new accent. Worst mistake of my life, holy fuck.
  strings/accents/accent_russian.json
  strings/accents/accents.json
Labels: Feature, Awaiting - Action - Maintainer

#20667 RAAAGH!! SHUT UP RATVAR!!!
  code/modules/antagonists/clockcult/clock_structures/ark_of_the_clockwork_justicar.dm
Labels: Tweak

#20672 fix atmos and apc alerts
  code/datums/wires/airalarm.dm
  code/game/area/areas.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/power/apc.dm
  tgui/packages/tgui/interfaces/AirAlarm.js
Labels: Fix, tgui, Javascript

#20613 Gambling Hall Clerk Template
  _maps/RandomRuins/StationRuins/BoxStation/clerk_gamble.dmm
  _maps/RandomRuins/StationRuins/BoxStation/clerk_meta.dmm
  code/_globalvars/lists/mapping.dm
  code/modules/mining/ores_coins.dm
  yogstation/code/datums/ruins/station.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Feature, Mapping, Awaiting - Action - Map Review

#20588 All lights turn red in emergency procedures
  code/__HELPERS/areas.dm
  code/_globalvars/lists/mapping.dm
  code/controllers/subsystem/shuttle.dm
  code/game/area/areas.dm
  code/game/machinery/firealarm.dm
  code/modules/power/lighting.dm
  code/modules/security_levels/security_levels.dm
  code/modules/shuttle/emergency.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn.dm
Labels: Tweak, Awaiting - Action - Maintainer

#20578 replaces bubblegum's bloody knuckles loot with philosopher's tome
  code/__DEFINES/traits.dm
  code/__DEFINES/{yogs_defines}/status_effects.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  icons/obj/lavaland/artefacts.dmi
  yogstation.dme
  yogstation/code/datums/status_effects/buffs.dm
  yogstation/code/modules/mining/lavaland/bloodbook.dm
  yogstation/code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
Labels: DME Edit, Feature, Tweak, Sound, Revert / Deletion, Sprites, Awaiting - Action - HD, Balance Council Approved

#20702 fixes kitchen vendor on one of the templates
  _maps/RandomRuins/StationRuins/BoxStation/bar_citadel.dmm
Labels: Mapping, Fix

#20689 Buffs the improvised shotgun (maintain your shitty gun edition)
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Tweak, Balance Council Approved

#20676 ports some snowcone changes
  code/modules/food_and_drinks/food/snacks_frozen.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
  icons/obj/food/snowcones.dmi
Labels: Feature, Tweak, Sprites, Awaiting - Action - Sprite Review

#20109 [PORT] [READY] Refactor sm delam into a different file + New Anomaly+ Anomaly Code improvements + New Resonance Cascade effects + Improved Blob Delam code
  code/__DEFINES/anomalies.dm
  code/__DEFINES/power.dm
  code/game/machinery/_machinery.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/obj_defense.dm
  code/modules/antagonists/blob/structures/_blob.dm
  code/modules/antagonists/clockcult/clock_mobs.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/assembly/signaler.dm
  code/modules/clothing/suits/reactive_armour.dm
  code/modules/events/anomaly.dm
  code/modules/events/anomaly_flux.dm
  code/modules/events/anomaly_hallucination.dm
  code/modules/events/anomaly_radiation.dm
  code/modules/events/portal_storm.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/silicon_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/power/gravitygenerator.dm
  code/modules/power/lighting.dm
  code/modules/power/rtg.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_delamination.dm
  code/modules/power/tesla/coil.dm
  code/modules/power/tesla/energy_ball.dm
  code/modules/power/tesla/generator.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/shuttle/emergency.dm
  code/modules/spells/spell_types/conjure/rad_goat.dm
  code/modules/swarmers/swarmer.dm
  code/modules/vehicles/bicycle.dm
  icons/effects/effects.dmi
  icons/obj/assemblies/new_assemblies.dmi
  icons/obj/projectiles.dmi
  sound/misc/airraid.ogg
  yogstation.dme
  yogstation/code/game/gamemodes/gangs/dominator.dm
  yogstation/code/modules/assembly/signaler.dm
  yogstation/code/modules/mob/living/simple_animal/hostile/floor_cluwne.dm
  yogstation/icons/obj/assemblies/new_assemblies.dmi
Labels: DME Edit, Feature, Tweak, Sound, Fix, Sprites, Awaiting - Action - Maintainer, Balance Council Approved

#20668 Charlie Station now has an AGCNR, may God be with you all
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  code/game/area/areas/ruins/space.dm
Labels: Feature, Mapping, Awaiting - Action - Map Review

#20696 Hearty Punch is no longer limited stock!!! (Output changed)
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
Labels: Tweak, Balance Council Approved

#20551 Adds a maint ruin with the experimental tools
  _maps/RandomRuins/StationRuins/maint/3x5/3x5_experimental.dmm
  yogstation/code/datums/ruins/station.dm
Labels: Feature, Mapping, Balance Council Approved

#20492 [PORT] New Jraphics
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/generic/CentCom.dmm
  code/game/area/Space_Station_13_areas.dm
  code/game/area/areas.dm
  code/game/area/areas/mining.dm
  code/game/area/areas/shuttles.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/plasteel_floor.dm
  code/game/turfs/simulated/floor/plating.dm
  code/modules/power/lighting.dm
  icons/obj/lighting_overlay.dmi
  icons/turf/floors.dmi
Labels: Feature, Tweak, Mapping, Revert / Deletion, Sprites, Literally the best PR, Fetish Content, Awaiting - Action - Map Review

#20493 [PORT] Ports light turn-on delay and sound effects + roundstart lights off from bee
  code/controllers/subsystem/explosions.dm
  code/controllers/subsystem/ticker.dm
  code/datums/martial/worldbreaker.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/area/ai_monitored.dm
  code/game/area/areas.dm
  code/game/machinery/lightswitch.dm
  code/modules/admin/secrets.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/jobs/jobs.dm
  code/modules/power/lighting.dm
  sound/effects/burnout.ogg
  sound/effects/license.txt
  sound/effects/light_on.ogg
  tgui/packages/tgui/interfaces/SecretsPanel.js
  yogstation/code/modules/jobs/job_types/brig_physician.dm
  yogstation/code/modules/jobs/job_types/paramedic.dm
Labels: Feature, Tweak, Admin, Awaiting - Action - HD

#20707 Replaces exploit with gamebreaking exploit in PR request template
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

#20705 [BOX] Corrects Lawyer Shutter Access
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping, Fix

#20670 Adjusts Asimov++ so that law 3 doesn't contradict itself
  code/datums/ai_laws.dm
Labels: Tweak, Awaiting - Action - HD

#20706 [PORT] New Heretic Path: Cosmic
  code/__DEFINES/antagonists.dm
  code/__DEFINES/mobs.dm
  code/datums/elements/death_explosion.dm
  code/datums/elements/effect_trail.dm
  code/datums/elements/regenerator.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/objects/effects/forcefields.dm
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
  code/modules/antagonists/eldritch_cult/eldritch_items.dm
  code/modules/antagonists/eldritch_cult/knowledge/ash_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/blade_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/cosmo_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/mind_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/rust_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/void_lore.dm
  code/modules/antagonists/eldritch_cult/magic/cosmo_magic.dm
  code/modules/antagonists/eldritch_cult/transmutations/cosmo_transmutations.dm
  code/modules/mob/living/simple_animal/eldritch_demons.dm
  icons/effects/160x160.dmi
  icons/effects/64x64.dmi
  icons/effects/effects.dmi
  icons/effects/eldritch.dmi
  icons/mob/96x96eldritch_mobs.dmi
  icons/mob/actions/actions_ecult.dmi
  icons/mob/inhands/64x64_lefthand.dmi
  icons/mob/inhands/64x64_righthand.dmi
  icons/obj/eldritch.dmi
  icons/obj/hand_of_god_structures.dmi
  icons/obj/projectiles.dmi
  sound/magic/cosmic_energy.ogg
  sound/magic/cosmic_expansion.ogg
  yogstation.dme
Labels: Feature, Sprites, Awaiting - Action - HD, Awaiting - Action - Balance Review

#20720 And that, gentlemen, is why I do not design my own nuclear reactors.
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
Labels: Mapping, Fix

#20741 Fixes an issue with powernet updates
  code/modules/power/power.dm
Labels: Fix

#20738 baiomu forgot the lawyer spawns
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#20701 Fixes more magic bugs
  code/__DEFINES/traits.dm
  code/datums/components/anti_magic.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/projectiles/guns/magic.dm
Labels: Fix
