Repository yogstation13/Yogstation, pull requests merged in 2024-02, with the labels that each got.

#21340 Adds np, thx, and tweaks auxmos for netspeak filter
  config/minor_filter.txt
Labels: Tweak, Config

#21241 Modifies alien embryo to care about the host
  code/game/objects/structures/beds_chairs/alien_nest.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
Labels: Tweak, Balance Council Approved

#21242 Drink Mood event tweaks (Mood change + Timeout increase) & Allies cocktail mood is less cringe text
  code/datums/mood_events/drink_events.dm
  code/datums/mood_events/generic_positive_events.dm
Labels: Tweak

#21345 Bye now pointless spell (Cluwne Curse removal)
  yogstation.dme
  yogstation/code/modules/events/bad_wizard.dm
  yogstation/code/modules/spells/spell_types/pointed/cluwnecurse.dm
Labels: DME Edit, Feature, Revert / Deletion, Balance Council Approved

#21344 Removes Corporate Agents
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/corporate.dm
  yogstation.dme
Labels: DME Edit, Revert / Deletion

#21346 Fixes chemist IDs apparently looking like prisoner IDs
  code/game/objects/items/cards_ids.dm
  yogstation/icons/obj/card.dmi
Labels: Fix, Sprites

#21355 Buckling to operating tables no longer requires cuffs
  code/game/objects/structures/tables_racks.dm
Labels: Tweak, Awaiting - Merge

#21238 Tweak to battle royale crate drop rates
  code/controllers/subsystem/weather.dm
  yogstation/code/game/gamemodes/battle_royale/battleroyale.dm
  yogstation/code/game/gamemodes/battle_royale/loot.dm
  yogstation/code/game/gamemodes/battle_royale/storm.dm
Labels: Tweak

#21240 Airalarm draught mode now set scrubber range from normal to expanded
  code/modules/atmospherics/machinery/airalarm.dm
Labels: Tweak

#21360 Adjusts minesweeper rewards & syndicate mines
  code/game/objects/effects/mines.dm
  code/modules/modular_computers/file_system/programs/minesweeper.dm
  tgui/packages/tgui/interfaces/Minesweeper.js
  yogstation/code/game/machinery/computer/arcade.dm
Labels: Tweak, tgui, Javascript

#21330 Full preternis resprite
  code/__DEFINES/DNA.dm
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/datums/dna.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences/clothing.dm
  code/modules/client/preferences/species_features/preternis.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species.dm
  icons/mob/human_parts_greyscale.dmi
  icons/mob/mutant_bodyparts.dmi
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/species_features.tsx
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Sprites, Admin, tgui

#21361 Nerfs Adrenaline Sac & Resonant Shriek (real)
  code/modules/antagonists/changeling/powers/adrenaline.dm
  code/modules/antagonists/changeling/powers/shriek.dm
Labels: Tweak, Balance Council Approved

#21368 Fixes Hermes Boots runtime
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Fix

#21379 [BOX] Fixes atmos pipe errors in gamble clerk shop and chapel2
  _maps/RandomRuins/StationRuins/BoxStation/chapel2.dmm
  _maps/RandomRuins/StationRuins/BoxStation/clerk_gamble.dmm
Labels: Mapping

#21366 Reduces Shock Touch's confusion from 15 to 3 seconds
  code/datums/mutations/touch.dm
Labels: Tweak

#21372 Adds a couple more preternis things
  code/_globalvars/lists/flavor_misc.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/mutant_bodyparts.dmi
  icons/mob/wings.dmi
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Feature, Sprites, Awaiting - Merge

#21374 Undoes Undocumented Preternis Limb Burn Damage Reduction
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Fix, Awaiting - Merge

#21325 Removes the donk-soft vendor from roundstart asteroid
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Mapping, Revert / Deletion, Controversial, Awaiting - Action - Map Review

#21263 Standardizes Ratvar's title from "Justicar" to "Justiciar"
  code/__DEFINES/clockcult.dm
  code/__DEFINES/sound.dm
  code/game/objects/structures/lattice.dm
  code/modules/antagonists/clockcult/clock_effects/general_markers.dm
  code/modules/antagonists/clockcult/clock_scripture.dm
  code/modules/antagonists/clockcult/clock_structures/ark_of_the_clockwork_justiciar.dm
  code/modules/antagonists/clockcult/clock_structures/ratvar_the_clockwork_justiciar.dm
  code/modules/mob/living/silicon/ai/decentralized/management/ai_controlpanel.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  strings/accents/accent_nordic.json
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/servantofratvar.ts
  yogstation.dme
Labels: DME Edit, tgui, Awaiting - Action - Code Owner

#21294 [admin] Silicon Law Manager (Again)
  code/_globalvars/lists/maintenance_loot.dm
  code/_onclick/hud/ai.dm
  code/_onclick/hud/pai.dm
  code/datums/ai_laws.dm
  code/game/objects/items/AI_modules.dm
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/borgpanel.dm
  code/modules/antagonists/devil/devil.dm
  code/modules/events/ion_storm.dm
  code/modules/mob/living/brain/MMI.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/laws.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/laws.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/uplink/uplink_items.dm
  tgui/packages/tgui/interfaces/LawManager.tsx
  tgui/packages/tgui/interfaces/NtosRobotact.js
  yogstation/code/modules/mob/living/silicon/silicon.dm
Labels: Feature, Tweak, Fix, Revert / Deletion, Admin, tgui, Javascript, Awaiting - Action - HD

#21349 [PORT] Gives mass driver a new sprite, sound, lets you build it and LAUNCH SHIT AT EVEN HIGHER VELOCITIES
  code/__DEFINES/wires.dm
  code/datums/wires/mass_driver.dm
  code/game/machinery/mass_driver.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/stationobjs.dmi
  sound/machines/mass_driver.ogg
  yogstation.dme
Labels: DME Edit, Feature, Tweak, Sound, Sprites, Awaiting - Action - HD

#21357 Flying fang fixes and leap nerf
  code/datums/martial/flying_fang.dm
Labels: Tweak, Fix, Balance Council Approved

#21364 Holopad Bug Fix - I do NOT like to move it move it.
  code/game/machinery/hologram.dm
Labels: Fix

#21369 Mechs no longer deflect ion bolts
  code/game/mecha/mecha_defense.dm
Labels: Tweak, Balance Council Approved, Awaiting - Action - Testing

#21370 Modular Computer Tweaks P1
  code/game/objects/items/storage/bags.dm
  code/modules/modular_computers/computers/item/pda/pda.dm
  code/modules/modular_computers/computers/item/phone/phone.dm
  code/modules/modular_computers/file_system/programs/engineering/ntmonitor.dm
  code/modules/modular_computers/file_system/programs/security/secureye.dm
  code/modules/modular_computers/hardware/CPU.dm
  code/modules/modular_computers/hardware/network_card.dm
  yogstation.dme
Labels: DME Edit, Feature, Tweak, Fix, Revert / Deletion

#21373 Faces donut station's tachyon-doppler array in the right direction.
  _maps/map_files/DonutStation/DonutStation.dmm
Labels: Mapping, Fix, Awaiting - Action - Testing

#21376 Reworks confusion to be less confusing
  code/datums/status_effects/debuffs/confusion.dm
  code/modules/mob/mob_movement.dm
Labels: Tweak, Balance Council Approved, Awaiting - Action - Testing

#21378 Anti-Megafauna ERT, Electric Boogaloo
  code/datums/ert.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: Feature

#21383 Tweaks battle royale weapon drops
  yogstation/code/game/gamemodes/battle_royale/battleroyale.dm
  yogstation/code/game/gamemodes/battle_royale/loot.dm
  yogstation/code/game/objects/items/toys.dm
Labels: Tweak

#21343 Handcuff crap
  code/game/objects/items/handcuffs.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/swarmers/swarmer.dm
  yogstation/code/modules/guardian/guardian.dm
Labels: Tweak, Fix, Awaiting - Action - HD, Balance Council Approved

#21398 removes stray pixels from some medikits
  icons/obj/storage.dmi
Labels: Sprites

#21224 Give HFR gas monitoring bar a decreasement/increasement rate, slight tweak to HFR tgui and increase HFR effciency due to recent process changes
  code/modules/atmospherics/machinery/components/fusion/hfr_core.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_main_processes.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_parts.dm
  tgui/packages/tgui/interfaces/Hypertorus/Gases.js
Labels: Feature, Tweak, tgui, Javascript, Test Merge - Requested

#21408 Adds in the contributing guidelines that all PRs that can be tested must be tested
  .github/CONTRIBUTING.md
Labels: Github

#21384 Revamps the jump to area and teleport menu
  code/_onclick/hud/ghost.dm
  code/modules/mob/dead/observer/jumpto.dm
  code/modules/mob/dead/observer/observer.dm
  tgui/packages/tgui/interfaces/Jump.js
  yogstation.dme
Labels: DME Edit, Tweak, tgui, Javascript

#21385 New wizard spell, bestow appendicitis
  code/modules/antagonists/wizard/equipment/spellbook_entries/offensive.dm
  code/modules/spells/spell_types/pointed/appendicitis.dm
  yogstation.dme
  yogstation/code/modules/events/bad_wizard.dm
Labels: DME Edit, Feature

#21386 fixes something 2024
  code/controllers/subsystem/statpanel.dm
  code/modules/spells/spell_types/devil.dm
Labels: Fix

#21387 Fixes shitcurity suit being broken whie worn
  code/modules/clothing/under/jobs/security.dm
Labels: Fix

#21389 grape snowcone needs grape juice to craft
  code/modules/food_and_drinks/kitchen_machinery/icecream_vat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
Labels: Feature, Tweak

#21391 AI Connection Ports correctly work for Newly Created Cyborgs
  code/game/objects/items/robot/robot_parts.dm
Labels: Fix

#21392 Adds a plasma shotgun capacity upgrade
  code/modules/mining/machine_vending.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Feature

#21393 Redmoogle cant spell remotely AND forgets to qdel on deconstruction
  code/game/machinery/lightswitch.dm
  code/game/objects/items/remote_light_switch.dm
Labels: Fix

#21397 makes the seismic arm's kit into a martial art and slightly buffs it further
  code/__DEFINES/melee.dm
  code/datums/martial/reverbpalm.dm
  code/modules/mining/lavaland/seismicarm.dm
  yogstation.dme
Labels: DME Edit, Feature, Revert / Deletion, Awaiting - Action - Testing

#21405 [Admin] Cryoing as a Valentine no longer tells you to ahelp
  code/game/machinery/cryopod.dm
Labels: Tweak

#21407 Fixes radial menus not showing up when inside an object
  code/_onclick/hud/radial.dm
Labels: Fix

#21396 adds rain on brick to the jukebox
  config/jukebox_music/LICENSE.txt
  config/jukebox_music/sounds/Rain_On_Brick+840+5.ogg
Labels: Config, Sound

#21394 Adds a single pixel to human spesswomen necks
  icons/effects/clothing.dmi
  icons/mob/clothing/uniform/uniform.dmi
  icons/mob/human_parts_greyscale.dmi
Labels: Sprites

#21424 Fixes Paladin laws and removes traitor AIs ability to change their own laws.
  code/datums/ai_laws.dm
  code/modules/mob/living/silicon/laws.dm
  tgui/packages/tgui/interfaces/LawManager.tsx
Labels: Fix, Revert / Deletion

#21382 Adds new craftable food: Vegan Donuts
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
Labels: Feature

#21410 Adds "Be My Valentine" by Tim McMorris to the Valentine's Day lobby music list.
  code/modules/holiday/holidays.dm
Labels: Feature

#21413 Makes hardly wounded trait actually work
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Fix

#21419 Fixes powerless mechs being immune to EMPs
  code/game/mecha/mecha_defense.dm
Labels: Fix

#21416 Adds some really cool shit Hisa will use (Please speedmerge this xoxoxooxx)
  code/game/objects/effects/spawners/mystery_box.dm
  code/modules/mob/living/carbon/human/human.dm
  yogstation.dme
  yogstation/icons/mob/inhands/weapons/raygun_lefthand.dmi
  yogstation/icons/mob/inhands/weapons/raygun_righthand.dmi
  yogstation/icons/obj/guns/raygun.dmi
  yogstation/sound/effects/mysterybox.ogg
  yogstation/sound/effects/raygun.ogg
Labels: DME Edit, Feature, Sound, Sprites

#21411 Removes "yellow jacket matriarch" from the spawnable gold xenobio slime list
  yogstation/code/modules/jungleland/jungle_alpha_mobs.dm
Labels: Tweak

#21440 Fixes RCDs not working on space tiles
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/space/space.dm
Labels: Fix

#21441 Fixes space lighting
  code/game/area/Space_Station_13_areas.dm
Labels: Fix

#21454 [FIX] Makes it so beartraps work again
  code/game/objects/items/handcuffs.dm
Labels: Fix

#21469 hopefully fix adminwho by skipping nulls in the admin list
  yogstation/code/datums/world_topic.dm
Labels: Fix

#21460 GAHHHH GIVE ME 40 CABLE COIL MAXSTACKS BACKK!!!
  code/__DEFINES/construction/material.dm
Labels: Fix

#21481 Fixes the perspective of the walls.
  icons/turf/walls/false_walls.dmi
  icons/turf/walls/material_wall.dmi
  icons/turf/walls/material_wall.png
  icons/turf/walls/reinforced_states.dmi
  icons/turf/walls/reinforced_wall.dmi
  icons/turf/walls/reinforced_wall.png
  icons/turf/walls/wall.dmi
  icons/turf/walls/wall.png
Labels: Sprites

#21484 Finally smooths the like 3 unsmoothed wall tiles next to rooms that get loaded in like chapel and clerk office every round
  code/controllers/subsystem/atoms.dm
  code/controllers/subsystem/icon_smooth.dm
  code/controllers/subsystem/timer.dm
  code/game/turfs/turf.dm
  code/modules/client/preferences_savefile.dm
Labels: Fix

#21475 Cures the Latejoin Menu's Anemia
  code/modules/jobs/departments/departments.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/ai.dm
  code/modules/jobs/job_types/artist.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/cyborg.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/mob/dead/new_player/latejoin_menu.dm
  yogstation/code/modules/jobs/job_types/brig_physician.dm
  yogstation/code/modules/jobs/job_types/clerk.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
  yogstation/code/modules/jobs/job_types/network_admin.dm
  yogstation/code/modules/jobs/job_types/paramedic.dm
  yogstation/code/modules/jobs/job_types/psychiatrist.dm
  yogstation/code/modules/jobs/job_types/tourist.dm
Labels: Tweak

#21473 Fix shuttles
  code/controllers/subsystem/shuttle.dm
  code/modules/events/shuttle_catastrophe.dm
Labels: Fix, Sprites

#21468 fixes a couple seismic arm bugs
  code/datums/martial/reverbpalm.dm
Labels: Fix

#21461 Adjusts some population requirements for certain antags
  code/game/gamemodes/brother/traitor_bro.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/changeling/traitor_chan.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/revolution/revolution.dm
Labels: Tweak

#21467 Fix blend_cutoff_colors runtimes relating to update_vision
  code/__DEFINES/mobs.dm
  code/__HELPERS/colors.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/surgery/organs/eyes.dm
Labels: Fix

#21184 Utility Exosuit Update
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/clown_ops/clown_weapons.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_electronics.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/marauder.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/equipment/weapons/melee_weapons.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/mecha/mecha_defense.dm
  code/game/mecha/mecha_parts.dm
  code/game/mecha/mecha_topic.dm
  code/game/mecha/medical/medical.dm
  code/game/mecha/working/clarke.dm
  code/game/mecha/working/ripley.dm
  code/game/objects/effects/effect_system/effects_other.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_smoke.dm
  code/game/objects/items/RCD.dm
  code/game/objects/items/RPD.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
  code/game/turfs/closed/walls.dm
  code/game/turfs/open/chasm.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/plating.dm
  code/game/turfs/open/lava.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/space/space.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/mining/aux_base_camera.dm
  code/modules/power/reactor/reactor.dm
  code/modules/projectiles/projectile/special/reagent.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/tgui/states/pilot.dm
  icons/mecha/mecha_equipment.dmi
  icons/mob/actions/actions_mecha.dmi
  icons/mob/radial.dmi
  sound/mecha/hydraulic.ogg
  sound/mecha/powerloader_step.ogg
  sound/mecha/powerloader_turn2.ogg
  tgui/packages/common/string.js
  tgui/packages/tgui/interfaces/AirlockElectronics.js
  tgui/packages/tgui/interfaces/AirlockElectronics.tsx
  tgui/packages/tgui/interfaces/RapidConstructionDevice.tsx
  tgui/packages/tgui/interfaces/common/AccessConfig.js
  yogstation.dme
Labels: Feature, Tweak, Fix, Balance Council Approved

#21427 Overhauls plasma cutter modding
  code/modules/mining/machine_vending.dm
  code/modules/projectiles/ammunition/energy/plasma.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/special/plasma.dm
Labels: Feature, Tweak, Fix, Awaiting - Action - Testing

#21486 Hopefully fixes whiteship and shuttle atmos by readding the CHANGETURF_DEFER_CHANGE flag
  code/modules/shuttle/on_move.dm
Labels: Fix

#21423 Removes ability to choose a gas canister label that breaks the 4th wall
  code/modules/atmospherics/machinery/portable/canister.dm
Labels: Fix

#21420 Does the thing drake asked someone to do without questioning it because I'm bored
  code/modules/clothing/glasses/_glasses.dm
Labels: Fix

#21457 fixed bloody footprints and blood color issues
  code/datums/components/bloodysoles.dm
  code/datums/elements/decals/blood.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/modules/projectiles/projectile.dm
  icons/effects/blood.dmi
  icons/effects/footprints.dmi
Labels: Fix, Sprites

#21476 [LORE] Replaces hyperspace with bluespace
  code/datums/ruins/space.dm
  code/game/area/areas/shuttles.dm
  code/game/turfs/open/space/transit.dm
  code/modules/holodeck/turfs.dm
  code/modules/shuttle/ripple.dm
Labels: Tweak, Mapping

#21472 Partially revert undocumented change to shutter/blastdoor layer covering window and door
  code/__DEFINES/layers.dm
Labels: Tweak

#21490 stops chapels and clerk office from double spawning
  code/controllers/subsystem/job.dm
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Fix

#21488 Makes our master far less dumpy in private
  code/__DEFINES/subsystems.dm
  code/controllers/master.dm
  code/controllers/subsystem/init_profiler.dm
  config/config.txt
  config/private_default.txt
  config/private_server.txt
  yogstation.dme
Labels: DME Edit, Feature, Tweak, Config

#21477 [FIX] Fixes a BUNCH of stepping things not working
  code/__DEFINES/mobs.dm
  code/datums/components/squeak.dm
  code/datums/components/squishable.dm
  code/game/objects/effects/mines.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/toys.dm
  code/modules/assembly/mousetrap.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/simple_animal/friendly/cockroach.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/frog.dm
  yogstation.dme
Labels: DME Edit, Fix

#21365 New Traitor Item: The Gasharpoon
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/objects/items/devices/busterarm/busterharpoon.dm
  code/game/objects/items/devices/busterarm/gasharpoon.dm
  code/modules/uplink/uplink_items.dm
  icons/effects/beam.dmi
  icons/mob/actions/actions_arm.dmi
  icons/mob/clothing/hands/hands.dmi
  icons/mob/inhands/weapons/melee_lefthand.dmi
  icons/mob/inhands/weapons/melee_righthand.dmi
  icons/obj/guns/magic.dmi
  icons/obj/lavaland/artefacts.dmi
  icons/obj/traitor.dmi
  yogstation.dme
Labels: Feature, Sprites, Balance Council Approved

#21395 Tweaks ethereal grayscale to make them look better
  icons/mob/human_parts_greyscale.dmi
Labels: Sprites

#21492 Limit research points generating atmos reactions to station zlevels only
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Tweak, Fix

#21483 [PORT] Ports Stun Baton Eyecandy | Glows and Sparks from TG
  code/game/objects/items/stunbaton.dm
Labels: Feature

#21474 Removes MMIs and positronic brains from medical techfab
  code/modules/research/designs/medical_designs.dm
Labels: Tweak

#21496 Makes the clarke tied for fastest mech in the game
  code/game/mecha/working/clarke.dm
Labels: Tweak, Balance Council Approved

#21437 Flamethrower rework part 3: the pre-sequel
  code/game/objects/items/flamethrower.dm
Labels: Tweak, Fix

#21430 Mechs now double as oversized weed-whackers
  code/game/mecha/equipment/weapons/melee_weapons.dm
Labels: Tweak

#21415 Fixes every description in the game that doesn't begin with a capital letter + misc text tweaks
  _maps/map_files/generic/CentCom.dmm
  code/datums/materials/_material.dm
  code/datums/materials/basemats.dm
  code/game/gamemodes/clown_ops/clown_weapons.dm
  code/game/machinery/computer/arcade.dm
  code/game/objects/effects/mines.dm
  code/game/objects/items/bell.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/stacks/license_plates.dm
  code/game/objects/items/trash.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/mirror.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/neck/skillcapes/skillcapes.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/economy/pay_stand.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/food/snacks_seafood.dm
  code/modules/mining/fulton.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/drakeling.dm
  code/modules/projectiles/ammunition/caseless/rocket.dm
  code/modules/projectiles/projectile/special/rocket.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/spells/spell_types/self/spacetime_distortion.dm
  code/modules/surgery/organs/augments_eyes.dm
  yogstation/code/game/objects/items/fishing/bait.dm
  yogstation/code/modules/clothing/gloves/miscellaneous.dm
  yogstation/code/modules/clothing/suits/armor.dm
  yogstation/code/modules/clothing/suits/miscellaneous.dm
  yogstation/code/modules/jungleland/kinetic_javelin.dm
Labels: Mapping

#21390 lightens bag of holding inhand outline
  icons/mob/inhands/equipment/backpack_lefthand.dmi
  icons/mob/inhands/equipment/backpack_righthand.dmi
Labels: Sprites

#21493 HFR gas byproducts now uses scaled_production instead of fuel_consumption, and now scaled alongside with gas produced from moderator, code refactor
  code/modules/atmospherics/machinery/components/fusion/hfr_main_processes.dm
Labels: Tweak

#21511 Footprint sprites based on shoes and legs
  code/__DEFINES/cleaning.dm
  code/__DEFINES/flags.dm
  code/__HELPERS/type2type.dm
  code/datums/components/bloodysoles.dm
  code/datums/elements/decals/blood.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/surgery/bodyparts/parts.dm
  icons/effects/footprints.dmi
Labels: Feature, Fix, Sprites

#21499 [BUGFIX] Removes depreciated /Crossed and replaces it with /proc/on_entered for most tile-based-crossing things
  code/game/objects/effects/alien_acid.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/effects/step_triggers.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/game/objects/items/grenades/plastic.dm
  code/game/objects/items/puzzle_pieces.dm
  code/game/objects/items/tanks/tanks.dm
  code/game/objects/structures/shower.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/traps.dm
  code/game/objects/structures/wire_splicing.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/antagonists/clockcult/clock_effects/clock_sigils.dm
  code/modules/antagonists/clockcult/clock_structures/trap_triggers/pressure_sensor.dm
  code/modules/antagonists/clockcult/clock_structures/traps/steam_vent.dm
  code/modules/assembly/infrared.dm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/awaymissions/mission_code/wildwest.dm
  code/modules/awaymissions/super_secret_room.dm
  code/modules/events/spacevine.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/hydroponics/grown/towercap.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/monkey/combat.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/friendly/axolotl.dm
  code/modules/mob/living/simple_animal/hostile/jungle/leaper.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/power/singularity/containment_field.dm
  code/modules/projectiles/projectile.dm
  code/modules/shuttle/special.dm
  code/modules/swarmers/swarmer_objs.dm
  yogstation/code/modules/jungleland/jungle_megafauna.dm
Labels: Fix

#21500 Hydraulic clamp fix
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/bluespace_locker.dm
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/antagonists/bloodsuckers/structures/bloodsucker_coffin.dm
  code/modules/cargo/supplypod.dm
Labels: Fix

#21504 Fixes fusion reactions not working in the atmospherics simulator computer
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/atmos_tests.dm
Labels: Feature, Fix

#21352 The Den of Sin Jungleland ruin
  _maps/RandomRuins/JungleRuins/jungleland_jungle_sinden.dmm
  yogstation/code/datums/ruins/jungle.dm
  yogstation/code/game/objects/items/implants/implant_teleporter.dm
  yogstation/code/modules/jungleland/ghost_role_spawners.dm
  yogstation/code/modules/jungleland/jungle_turfs.dm
Labels: Feature, Mapping, Awaiting - Action - Map Review

#21412 Removes old PDA cartridges from everywhere on station (except clerk's vendor) and tweaks their text
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/DonutStation/DonutStation.dmm
  _maps/map_files/IceMeta/IceMeta.dmm
  _maps/map_files/generic/CentCom.dmm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/vending/wardrobes.dm
  yogstation/code/game/objects/items/devices/PDA/PDA_types.dm
  yogstation/code/modules/vending/gift.dm
Labels: Mapping

#21417 Replaces old ID console from CE office on icemeta with a modular one
  _maps/map_files/IceMeta/IceMeta.dmm
Labels: Mapping

#21431 Deletes synths, adds S.E.L.F. insurgents
  code/__DEFINES/is_helpers.dm
  code/controllers/subsystem/traumas.dm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/events/fugitive_spawning.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/species_types/synths.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  yogstation.dme
Labels: DME Edit, Feature, Revert / Deletion

#21439 Adds a new disease: Carcinization
  code/datums/diseases/transformation.dm
Labels: Feature, Awaiting - Action - Testing

#21459 Add pluoxium + antinoblium gas recipe to HFR
  code/modules/atmospherics/machinery/components/fusion/hfr_fuel_datums.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_main_processes.dm
Labels: Feature

#21464 Makes certain mutant bodyparts emissive
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: Feature

#21465 Preternis eyes glow purple when nightvision is active
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/organs.dm
Labels: Feature

#21466 [PARTIAL REVERT] Removes round start lights off (keeps empty departments)
  code/controllers/subsystem/ticker.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/area/areas.dm
  code/game/machinery/lightswitch.dm
  code/modules/power/lighting.dm
Labels: Revert / Deletion

#21471 Deletes syndicate bounties
  code/modules/cargo/bounties/syndicate.dm
  code/modules/cargo/bounty.dm
  code/modules/cargo/bounty_console.dm
  yogstation.dme
Labels: DME Edit, Revert / Deletion

#21503 No more zombies in xenobio
  code/game/objects/effects/spawners/mystery_box.dm
Labels: Fix

#21506 Lets skittish people dive into crates properly, rather than smashing their face into it again and again
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix

#21507 Raise the HFR's healium healing threshold from 66.66% to 90%.
  code/modules/atmospherics/machinery/components/fusion/hfr_main_processes.dm
Labels: Tweak

#21508 Fix apc building and unnable to change electric armor value from VV
  code/game/objects/objs.dm
  code/modules/power/apc.dm
Labels: Fix

#21498 Merges the Ripley MK-II and Firefighter
  _maps/RandomRuins/StationRuins/maint/10x5/10x5_tank_heaven.dmm
  code/__DEFINES/exosuit_fab.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/mech_fabricator.dm
  code/game/mecha/mecha_construction_paths.dm
  code/game/mecha/mecha_parts.dm
  code/game/mecha/mecha_wreckage.dm
  code/game/mecha/working/ripley.dm
  code/modules/cargo/bounties/mech.dm
  code/modules/research/designs/mechfabricator_designs.dm
Labels: Tweak, Mapping

#21510 Gives plasma cutter mods examine for cost and stackability
  code/modules/projectiles/guns/energy/special.dm
Labels: Tweak

#21513 Removes Mindreader from genetics
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/DNA.dm
  code/datums/mutations/_combined.dm
  code/datums/mutations/antenna.dm
  code/game/objects/items/dna_injector.dm
Labels: Tweak, Mapping, Revert / Deletion

#21514 Reverts a small accidental change in #21499
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#21523 Fixes a bug where mid-round traitors could be told to break whiteship or freeminer machines if they are on the Z level at the time
  code/game/gamemodes/objective.dm
Labels: Fix

#21536 Fixes humans having paw footprints
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#14660 Ports pride pins from TG
  code/modules/clothing/under/accessories.dm
  code/modules/vending/clothesmate.dm
  icons/mob/clothing/accessories.dmi
  icons/obj/clothing/accessories.dmi
Labels: Feature, Sprites, Awaiting - Action - Sprite Review

#21051 Security level datums
  code/__DEFINES/shuttles.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/priority_announce.dm
  code/controllers/subsystem/nightshift.dm
  code/controllers/subsystem/security_level.dm
  code/controllers/subsystem/shuttle.dm
  code/controllers/subsystem/ticker.dm
  code/datums/world_topic.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/game_mode.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/defibrillator_mount.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/firealarm.dm
  code/game/mecha/mech_fabricator.dm
  code/game/objects/structures/displaycase.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/clockcult/clock_structures/ark_of_the_clockwork_justiciar.dm
  code/modules/antagonists/clockcult/clock_structures/heralds_beacon.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/eldritch_cult/eldritch_transmutations.dm
  code/modules/antagonists/eldritch_cult/transmutations/cosmo_transmutations.dm
  code/modules/antagonists/eldritch_cult/transmutations/flesh_transmutations.dm
  code/modules/antagonists/nukeop/equipment/nuclear_challenge.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/events/_event.dm
  code/modules/events/prison_break.dm
  code/modules/holodeck/computer.dm
  code/modules/mob/living/silicon/ai/death.dm
  code/modules/power/singularity/narsie.dm
  code/modules/security_levels/keycard_authentication.dm
  code/modules/security_levels/level_interface.dm
  code/modules/security_levels/security_level_datums.dm
  code/modules/security_levels/security_levels.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/shuttle.dm
  yogstation.dme
  yogstation/code/game/gamemodes/battle_royale/battleroyale.dm
  yogstation/code/game/gamemodes/gangs/dominator.dm
  yogstation/code/game/world.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn.dm
  yogstation/code/modules/antagonists/gang/gang.dm
  yogstation/code/modules/antagonists/shadowling/special_shadowling_abilities.dm
Labels: Admin

#21517 Fixes clothes that don't cover your hands protecting your hands from electric shock
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/holosign.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/ninja/energy_katana.dm
  code/modules/power/power.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/power_suck.dm
Labels: Fix

#21449 Polysmorph remains, gibs, blood color tweak and xeno gibbing color tweak
  code/datums/blood_types.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species_types/polysmorphs.dm
  icons/mob/mob.dmi
Labels: Feature, Tweak, Sprites

#21436 The syndicate has come out with a new combat mech prototype: The Black Mamba
  code/game/mecha/combat/sidewinder.dm
  code/game/mecha/equipment/weapons/mecha_ammo.dm
  code/game/mecha/equipment/weapons/melee_weapons.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha_wreckage.dm
  code/modules/uplink/uplink_items.dm
  icons/mecha/mecha.dmi
  icons/mecha/mecha_ammo.dmi
  icons/mecha/mecha_equipment.dmi
Labels: Feature, Sprites, Balance Council Approved

#21544 Fix cryopods
  code/game/machinery/cryopod.dm
Labels: Fix, Awaiting - Merge

#21545 Fixes info command
  code/datums/world_topic.dm
Labels: Fix, Awaiting - Merge

#21538 Removes deprecated config option
  config/dbconfig.txt
Labels: Config

#21525 Fixes a bug with venus human trap bulbs
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
Labels: Fix

#21527 fixes a bug where emissive bodyparts showed as white in the character menu
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#21528 Fixes bugs with blood type compatibility
  code/datums/blood_types.dm
Labels: Fix

#21531 Miners and mining medics now properly cause the mining base to start with the lights on
  code/modules/jobs/job_types/shaft_miner.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
Labels: Fix

#21535 TG Survival Boxes update
  code/_globalvars/lists/maintenance_loot.dm
  code/game/gamemodes/clock_cult/clock_cult.dm
  code/game/gamemodes/clown_ops/clown_ops.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/clothing/outfits/event.dm
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/clothing/outfits/vr.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/ruins/lavaland_ruin_code.dm
  icons/obj/storage.dmi
  yogstation/code/modules/antagonists/infiltrator/outfit.dm
  yogstation/code/modules/jobs/job_types/brig_physician.dm
  yogstation/code/modules/jobs/job_types/mining_medic.dm
  yogstation/code/modules/jobs/job_types/network_admin.dm
Labels: Feature, Fix, Sprites

#21541 Fixes quirks exploding
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: Fix, Awaiting - Action - HD

#21524 Makes preternis night vision consume power
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/organs.dm
Labels: Tweak

#21526 Followup tweak to venus human trap weedkiller damage + pull
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Tweak

#21530 Fixes surgical toolset arm implant visuals
  code/modules/surgery/organs/augments_arms.dm
Labels: Fix

#21532 Powered ruins properly start with lights on if they have a lightswitch
  code/game/area/areas/ruins/_ruins.dm
Labels: Fix

#21539 Another byond min max update
  code/__byond_version_compat.dm
Labels: Tweak

#21542 Fixes light step's prevention of leaving footprints
  code/game/objects/effects/decals/cleanable.dm
Labels: Fix, Awaiting - Merge

#21543 Lets admins force a specific bloodsucker clan on people
  code/modules/antagonists/bloodsuckers/bloodsuckers.dm
Labels: Feature

#21547 Fixes not being able to attach goliath hide to APLU exosuits
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_defense.dm
Labels: Fix

#21551 You can now go through atmos resin with slowdown
  code/__DEFINES/movespeed_modification.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_foam.dm
Labels: Tweak, Balance Council Approved

#21552 [BOX] Fixes every fire alarm facing the wrong direction
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#21553 [BOX] Kitchen shutters change + blender removal
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#21557 New sandevistan visual effect (cuackles you better like this one)
  code/datums/components/afterimage.dm
  code/modules/mob/mob_movement.dm
  code/modules/surgery/organs/augments_chest.dm
  yogstation.dme
Labels: DME Edit, Tweak

#21558 Lets hecata necromancy poll ghosts into mindless corpses
  code/modules/antagonists/bloodsuckers/powers/targeted/hecata.dm
Labels: Feature, Awaiting - Action - Balance Review

#21559 Fixes being unable to select a clan as bloodsucker
  code/modules/antagonists/bloodsuckers/structures/bloodsucker_coffin.dm
Labels: Fix

#21560 Wizards can now cast iron
  code/modules/antagonists/wizard/equipment/spellbook_entries/offensive.dm
  code/modules/spells/spell_types/pointed/cast_iron.dm
  yogstation.dme
Labels: DME Edit, Feature, Awaiting - Action - Balance Review

#21554 [OCD] Changes too many decals everywhere to look better
  _maps/RandomRuins/StationRuins/GaxStation/ai_whale.dmm
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/DonutStation/DonutStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/IceMeta/IceMeta.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#21549 Adds a new smite for admins to use, for those more inclined to wibble
  code/__DEFINES/admin.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Feature, Admin

#21564 meatballs in food boxes are raw instead of cooked
  code/game/objects/items/storage/boxes.dm
Labels: Tweak
