Repository yogstation13/Yogstation, pull requests merged in 2024-08, with the labels that each got.

#22437 [PARTIAL REVERT] Transfers security envirosuits from secdrobes to cargo
  code/modules/cargo/packs.dm
  code/modules/vending/wardrobes.dm
Labels: Feature, Revert / Deletion

#22466 Makes beepsky do stamina damage instead of an instant stun, for real this time 2 electric boogaloo
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Tweak

#22452 [PORT] Pie slices
  code/modules/food_and_drinks/food/snacks_pie.dm
  icons/obj/food/piecake.dmi
Labels: Feature, Sprites

#22427 fixes cinnamon tree being invisible
  icons/obj/hydroponics/growing.dmi
  icons/obj/hydroponics/growing_vegetables.dmi
Labels: Fix, Sprites

#22317 Backrooms no longer spawns beacons
  code/controllers/subsystem/backrooms.dm
Labels: Fix

#22477 fixes miner mirror recall cooldown
  yogstation/code/modules/mining/lavaland/doppelmirror.dm
Labels: Fix

#22448 Fixes the stabilized cerulean slimecross
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
Labels: Fix

#22445 Removes some antag only foods from silver slime extract
  code/__HELPERS/unsorted.dm
Labels: Tweak

#22444 Fixes bombnanas coming from silver slime extracts, also makes it appear slippery
  code/__HELPERS/unsorted.dm
  code/game/gamemodes/clown_ops/clown_weapons.dm
Labels: Fix

#22446 Minor rewrite to slimeperson jelly blood
  code/__DEFINES/DNA.dm
  code/datums/blood_types.dm
  code/datums/traits/good.dm
  code/datums/traits/neutral.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/surgery/organs/heart.dm
  yogstation/code/modules/mob/living/carbon/human/human.dm
Labels: Tweak, Fix

#22481 Adds sfx to picking up/dropping beakers
  code/modules/reagents/reagent_containers/glass.dm
  sound/attributions.txt
  sound/items/handling/beaker_pickup.ogg
  sound/items/handling/beaker_place.ogg
Labels: Sound

#22483 Adds sfx to picking up/dropping gas tanks and jetpacks
  code/game/objects/items.dm
  code/game/objects/items/tanks/tanks.dm
  sound/items/attributions.txt
  sound/items/gas_tank_drop.ogg
  sound/items/gas_tank_pick_up.ogg
Labels: Sound

#22475 Fixes being able to use fire breath inside a mech
  code/datums/mutations/fire_breath.dm
Labels: Fix

#22473 Breaching missiles now explode on windows too
  code/modules/projectiles/projectile/special/rocket.dm
Labels: Tweak

#22479 Refactors exosuit weather protection
  code/datums/weather/weather.dm
  code/datums/weather/weather_types/acid_rain.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/game/mecha/mecha.dm
  code/game/mecha/working/clarke.dm
  code/game/mecha/working/ripley.dm
Labels: Fix

#22318 A lot of things can now be done while lying down
  code/__DEFINES/misc.dm
  code/datums/components/rotation.dm
  code/game/machinery/computer/camera.dm
  code/game/objects/items/tanks/tank_types.dm
  code/game/objects/objs.dm
  code/modules/antagonists/clockcult/clock_structures/mania_motor.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Tweak

#22385 Caffeine junkie quirk + drink tweaks
  code/datums/traits/negative.dm
  code/modules/cargo/bounties/reagent.dm
  code/modules/food_and_drinks/coffeemaker.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
  code/modules/food_and_drinks/food/snacks_frozen.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/kitchen_machinery/grill.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/hydroponics/grown/onion.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/recipes/drugs.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
  code/modules/reagents/reagent_containers/borghypo.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: Feature, Tweak

#22290 Removes normal legs from lizards to solve some issues and because I'm an evil bastard
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/client/preferences/species_features/lizard.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/polysmorphs.dm
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: Tweak, Test Merge - Scheduled, TESTMERGED

#22406 [PORT] Paintball guns!!!
  code/modules/cargo/packs.dm
  code/modules/projectiles/boxes_magazines/external/toy.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  icons/effects/paintball.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
  sound/weapons/paintball.ogg
Labels: Feature, Sound, Sprites

#22469 Tweaks the thrall buff skills for darkspawn warlock
  yogstation/code/modules/antagonists/darkspawn/darkspawn_abilities/thrall_spells.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_upgrades/utility_upgrades.dm
Labels: Tweak

#22474 Reverts lizard scream sound, kills bear sound files
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  sound/voice/lizard/lizard_scream_1.ogg
  sound/voice/lizard/lizard_scream_2.ogg
  sound/voice/lizard/lizard_scream_3.ogg
Labels: Sound, Revert / Deletion, Awaiting - Action - HD

#22478 Makes the traffic control console less terrible to use
  interface/skin.dmf
  tgui/packages/tgui/interfaces/NtslEditor.js
  yogstation.dme
  yogstation/code/game/machinery/telecomms/computers/traffic_control.dm
  yogstation/code/modules/scripting/client_verbs.dm
Labels: DME Edit, Tweak, tgui, Javascript

#22489 Revert "Closing the gap between station & lavaland"
  _maps/shuttles/mining_box.dmm
  _maps/shuttles/mining_delta.dmm
  _maps/shuttles/mining_kilo.dmm
Labels: Mapping

#22492 Fixes ipc insurgents being invisible if swapping from any organic species
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/surgery/organs/tongue.dm
Labels: Fix

#22499 Fuck
  code/game/machinery/doors/airlock_electronics.dm
Labels: Fix

#22497 Access Tweaks & Fixes
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/scientist.dm
Labels: Tweak, Fix

#22493 Fixes jelly people not liking raw meat anymore
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
Labels: Fix

#22358 Created servants now more closely follow their creator's antag status
  code/datums/mind.dm
Labels: Tweak

#22332 Jungle dragon
  _maps/RandomRuins/JungleRuins/jungleland_barren_drake.dmm
  _maps/RandomRuins/JungleRuins/jungleland_jungle_dragon.dmm
  code/datums/status_effects/debuffs/holy_fire.dm
  code/game/objects/items/gems.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/drakeling.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/jungle_whelp.dm
  code/modules/music/music.dm
  yogstation.dme
  yogstation/code/datums/ruins/jungle.dm
  yogstation/code/modules/jungleland/jungle_megafauna.dm
  yogstation/code/modules/jungleland/megafauna/jungle_dragon.dm
  yogstation/code/modules/jungleland/megafauna/tar_king.dm
  yogstation/icons/mob/jungle.dmi
  yogstation/icons/mob/jungle64x64.dmi
Labels: DME Edit, Feature, Mapping, Sound, Sprites

#22220 Adjusts the emergency shuttle call times and makes the shuttle autocall if the round goes past 2 hours
  code/__DEFINES/shuttles.dm
  code/controllers/subsystem/shuttle.dm
Labels: Feature, Tweak

#22496 unpoplocks buster arm
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#22485 Fixes invisible security suits
  _maps/RandomRuins/LavaRuins/lavaland_surface_researchpod.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_xeno_nest.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/antagonists/devil/devil_helpers.dm
  code/modules/awaymissions/corpse.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/jobs/job_types/detective.dm
  yogstation/code/modules/clothing/under/miscellaneous.dm
Labels: Mapping, Fix

#22502 properly implemented loc check for buster arm
  code/datums/martial/buster_style.dm
Labels: Fix

#22486 Allows you to wear wheat in mouth slot yeehaw
  code/modules/hydroponics/grown/cereals.dm
  icons/mob/clothing/mask/mask.dmi
Labels: Feature, Sprites

#22503 [ICEMETA] Replaces the SM's cooling with liquid plasma
  _maps/RandomRuins/StationRuins/MetaStation/meta_sm.dmm
Labels: Mapping

#22498 Fixes uncapitalized letters in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

#22494 Tar King Soundtrack
  code/modules/music/music.dm
  yogstation/code/modules/jungleland/megafauna/tar_king.dm
  yogstation/sound/lavaland/music/king_of_tar.ogg
Labels: Sound

#22514 Changes admin perms for spawning and removing liquids
  code/modules/admin/admin_verbs.dm
Labels: Admin

#22511 Fixes mech access keycodes bein bjorken
  code/game/mecha/mecha_topic.dm
Labels: Fix

#22505 Adds a new brain trauma line (mutually exclusive with #22506)
  strings/traumas.json
Labels: Feature, Awaiting - Merge

#22513 Fix anesthetic tanks not working
  code/modules/surgery/organs/lungs.dm
Labels: Fix, Awaiting - Merge

#22519 Fixes Blade Heretic knifes not floating around you
  code/modules/antagonists/eldritch_cult/knowledge/blade_lore.dm
Labels: Fix

#22491 Lets you construct a multiz power adapter and adds multiz disposal pipes to the RPD
  code/game/objects/items/RPD.dm
  code/modules/power/cable.dm
Labels: Feature, Awaiting - Action - Testing

#22490 Ice Cream Rework Part 2: I can't think of a funny name
  code/__HELPERS/unsorted.dm
  code/datums/info_tab.dm
  code/game/objects/items/robot/robot_items.dm
  code/game/objects/structures/morgue.dm
  code/modules/food_and_drinks/kitchen_machinery/icecream_vat.dm
  code/modules/food_and_drinks/recipes/processor_recipes.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  icons/obj/food/food_ingredients.dmi
  tgui/packages/tgui/interfaces/IceCreamVat.tsx
  yogstation.dme
Labels: DME Edit, Feature, Tweak, Revert / Deletion, Sprites, tgui

#22517 Gulag processor give you jumpskirts based on preference
  code/game/machinery/gulag_processor.dm
  code/game/machinery/gulag_teleporter.dm
Labels: Tweak

#22524 makes teleporter respect noteleport area var
  code/game/objects/items/teleportation.dm
Labels: Fix

#22526 Temporarily disables synthetics
  code/game/machinery/computer/card.dm
  code/modules/jobs/job_types/synthetic.dm
  code/modules/modular_computers/file_system/programs/command/jobmanagement.dm
Labels: Revert / Deletion

#22528 Makes defib wall mount standard on all stations
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/DonutStation/DonutStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/IceMeta/IceMeta.dmm
  _maps/map_files/YogStation/YogStation.dmm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Labels: Feature, Mapping, Revert / Deletion

#22533 Fixes CMO access problem on donut whoops lol
  _maps/map_files/DonutStation/DonutStation.dmm
Labels: Mapping

#22529 Actually phases out noteleport
  _maps/RandomRuins/LavaRuins/lavaland_surface_russianbunker.dmm
  code/__HELPERS/areas.dm
  code/datums/dash_weapon.dm
  code/datums/helper_datums/teleport.dm
  code/game/area/areas.dm
  code/game/area/areas/away_content.dm
  code/game/area/areas/centcom.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/area/areas/shuttles.dm
  code/game/machinery/computer/teleporter.dm
  code/game/mecha/mecha.dm
  code/game/objects/effects/phased_mob.dm
  code/game/objects/items/teleportation.dm
  code/modules/antagonists/clockcult/clock_effects/spatial_gateway.dm
  code/modules/awaymissions/cordon.dm
  code/modules/events/wormholes.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/silicon/ai/multicam.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
  code/modules/spells/spell_types/jaunt/_jaunt.dm
  yogstation/code/game/area/Space_Station_13_areas.dm
  yogstation/code/game/area/areas/centcom.dm
  yogstation/code/game/area/areas/ruins/jungleland.dm
  yogstation/code/modules/guardian/abilities/special/pocket.dm
Labels: Feature, Tweak, Mapping, Fix, Revert / Deletion

#22531 Fixes bug that allowed non-carbons to strip carbons
  code/datums/elements/strippable.dm
Labels: Fix

#22507 Adds more chemicals to allergic reaction quirk + changes the reaction
  code/datums/traits/negative.dm
Labels: Tweak

#22536 Fixes quiet mode toggle being available to non-donators
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/legacy_yog_toggles.tsx
Labels: Fix, tgui

#22537 Fixes the spawn liquid admin verb being invisible
  code/modules/admin/admin_verbs.dm
Labels: Admin

#22512 [PR NECROMANCY] Adds a new purrbation option for donors: fox
  code/__DEFINES/{yogs_defines}/preferences.dm
  code/modules/client/preferences/donor.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/vulpid.dm
  code/modules/mob/living/simple_animal/friendly/fox.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/tails.dm
  icons/mob/mutant_bodyparts.dmi
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/donor.tsx
  yogstation.dme
  yogstation/code/modules/jobs/job_types/_job.dm
  yogstation/code/modules/mob/living/carbon/human/human.dm
Labels: DME Edit, Feature, Sprites, tgui, Fetish Content

#22476 Adds regular rain to jungleland
  code/__DEFINES/combat.dm
  code/datums/weather/weather_types/acid_rain.dm
  icons/effects/weather_effects.dmi
Labels: Feature, Tweak, Sprites, Awaiting - Action - Sprite Review

#22540 Adds a graph to the supermatter monitor
  code/modules/modular_computers/file_system/programs/engineering/sm_monitor.dm
  code/modules/power/supermatter/supermatter.dm
  tgui/packages/tgui/interfaces/NtosSupermatterMonitor.js
Labels: Tweak, tgui, Javascript

#22527 webbing holster now only appear on the right leg
  icons/mob/clothing/belt.dmi
Labels: Sprites

#22547 Vastly improves digitigrade leg code + hazard suit fix
  code/__DEFINES/DNA.dm
  code/__DEFINES/inventory.dm
  code/__DEFINES/traits.dm
  code/game/objects/items/robot/robot_parts.dm
  code/modules/antagonists/bloodsuckers/bloodsucker_mobs.dm
  code/modules/antagonists/bloodsuckers/powers/gangrel.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/suits/_suits.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/species_types/polysmorphs.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/update_icons.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/helpers.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  icons/mob/augmentation/augments.dmi
  icons/mob/augmentation/augments_engineer.dmi
  icons/mob/augmentation/augments_mining.dmi
  icons/mob/augmentation/augments_security.dmi
  icons/mob/augmentation/surplus_augments.dmi
  icons/mob/human_parts_greyscale.dmi
  yogstation/code/modules/clothing/suits/explorer_gear.dm
Labels: Fix, Sprites

#22516 Makes the kinetic javelin bulky, but can be stored on the back or belt slot
  code/__DEFINES/inventory.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  yogstation/code/modules/jungleland/kinetic_javelin.dm
Labels: Tweak

#22553 [All Stations] Removes External Airlock access requirement for the Shipbreaking doors
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/DonutStation/DonutStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/IceMeta/IceMeta.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Tweak, Mapping

#22515 Fixes jungleland structures being vulnerable to the acid they spawn on
  code/game/objects/structures/flora.dm
  yogstation/code/modules/jungleland/jungle_structures.dm
Labels: Fix

#22557 Fixes Jungleland rocks being flammable
  code/game/objects/structures/flora.dm
Labels: Fix

#22500 Fixes inconsistencies with liquid spread splashing
  code/__DEFINES/{yogs_defines}/liquids.dm
  yogstation/code/modules/liquids/liquid_groups.dm
  yogstation/icons/obj/effects/splash.dmi
Labels: Tweak, Fix, Sprites

#22559 changed french language key from V to W
  code/modules/language/french.dm
Labels: Fix

#22501 Structure spawner update
  code/game/machinery/doors/firedoor.dm
  code/game/objects/effects/spawners/structure.dm
  icons/obj/structures_spawners.dmi
Labels: Sprites

#22541 adds an alien lab ruin to icemeta underground
  _maps/RandomRuins/IceRuins/icemoon_underground_alien_lab.dmm
  code/datums/ruins/icemoon.dm
  code/game/area/areas/ruins/icemoon.dm
  config/iceruinblacklist.txt
Labels: Feature, Mapping, Config

#22562 fixes AIs using laser gun ability while dead
  code/game/objects/items/robot/ai_upgrades.dm
Labels: Fix

#22554 Jungleland day/night cycle
  code/__DEFINES/sound.dm
  code/__HELPERS/time.dm
  code/controllers/subsystem/daylight.dm
  code/datums/mapgen/dungeon_generators/generator_theme.dm
  code/game/area/areas.dm
  code/modules/holiday/holidays.dm
  icons/obj/hydroponics/growing_fruits.dmi
  yogstation.dme
  yogstation/code/datums/mapgen/biomes/JungleBiomes.dm
  yogstation/code/game/area/areas/ruins/jungleland.dm
  yogstation/code/modules/jungleland/jungle_structures.dm
  yogstation/code/modules/jungleland/jungle_turfs.dm
  yogstation/icons/obj/jungle.dmi
Labels: DME Edit, Feature, Sprites

#22566 [s] Fixes telekinetic mech drill
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/equipment/weapons/melee_weapons.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha.dm
  code/modules/mob/living/simple_animal/hostile/mecha_pilot.dm
Labels: Fix

#22564 Fmixes door helpers
  code/modules/mapping/mapping_helpers.dm
Labels: Fix
