Repository yogstation13/Yogstation, pull requests merged in 2024-10, with the labels that each got.

#22665 Fix changelog being long
  html/changelog.css
Labels: Fix

#22626 Now mentions divulging in the darkspawn antag info panel
  tgui/packages/tgui/interfaces/AntagInfoDarkspawn.tsx
Labels: Tweak, tgui

#22639 Nerfs the caltrop component to only slow at low damage values
  code/datums/components/caltrop.dm
Labels: Tweak

#22644 Lets you see through jungleland trees if you're behind them
  code/__HELPERS/see_through_maps.dm
  code/datums/components/seethrough.dm
  code/game/objects/structures/flora.dm
  yogstation.dme
  yogstation/code/datums/mapgen/biomes/JungleBiomes.dm
Labels: DME Edit, Feature

#22652 [ALL MAPS] Merges ramp shadow decals with stair icons
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/RandomRuins/LavaRuins/lavaland_biodome_fishing.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_doorstuck.dmm
  _maps/RandomRuins/SpaceRuins/hilbertshoteltestingsite.dmm
  _maps/RandomRuins/SpaceRuins/hippie_shuttle.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomRuins/SpaceRuins/vaporwave.dmm
  _maps/RandomRuins/StationRuins/BoxStation/chapel2.dmm
  _maps/RandomRuins/StationRuins/maint/10x10/10x10_bigtheatre.dmm
  _maps/RandomRuins/StationRuins/maint/10x10/10x10_pubbybar.dmm
  _maps/RandomRuins/StationRuins/maint/3x5/3x5_hank.dmm
  _maps/RandomZLevels/VR/vrhub.dmm
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/DonutStation/DonutStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/IceMeta/IceMeta.dmm
  _maps/map_files/YogStation/YogStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/emergency_48641.dmm
  _maps/shuttles/emergency_cozy.dmm
  _maps/templates/holodeck/holodeck_lounge.dmm
  _maps/templates/holodeck/holodeck_thunderdome1218.dmm
  _maps/templates/lazy_templates/chapel2.dmm
  _maps/templates/shipbreaker/old_altar.dmm
  goon/icons/turfs/floors.dmi
Labels: Mapping, Sprites

#22659 IceMoon caves can now be destroyed
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  icons/obj/crates.dmi
Labels: Feature, Sprites

#22666 Fixes small mapping errors in underground lab ruin
  _maps/RandomRuins/IceRuins/icemoon_underground_alien_lab.dmm
Labels: Mapping

#22664 fix lizard prison jumpsuit + inhand sprite fix
  code/datums/greyscale/json_configs/jumpsuit_prison_worn.json
  icons/mob/inhands/clothing/suits_lefthand.dmi
  icons/mob/inhands/clothing/suits_righthand.dmi
Labels: Fix, Sprites

#22670 Fixes being unable to grab things with ctrl-click
  code/_onclick/click.dm
Labels: Fix

#22662 Adds a new ore to Icemoon, Plasma Glacite
  _maps/RandomRuins/IceRuins/icemoon_underground_moonanvil.dmm
  code/datums/mapgen/Cavegens/IcemoonCaves.dm
  code/datums/ruins/icemoon.dm
  code/game/turfs/closed/minerals.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/equipment/upgrades.dm
  code/modules/mining/lavaland/world_anvil.dm
  icons/effects/ore_visuals.dmi
  icons/mob/inhands/weapons/hammers_lefthand.dmi
  icons/mob/inhands/weapons/hammers_righthand.dmi
  icons/obj/ice_moon/moonanvil.dmi
  icons/obj/mining.dmi
  yogstation/code/game/turfs/simulated/minerals.dm
Labels: Feature, Mapping, Sprites

#22660 Allows split personalities and imaginary friends to understand all languages their host knows
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/brain_damage/split_personality.dm
Labels: Tweak

#22611 Ice Cream Rework Part 3: Scoopageddon
  code/datums/info_tab.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/cargo/packs.dm
  code/modules/food_and_drinks/food/snacks_frozen.dm
  code/modules/food_and_drinks/kitchen_machinery/icecream_vat.dm
  icons/obj/food/containers.dmi
  icons/obj/kitchen.dmi
  tgui/packages/tgui/interfaces/IceCreamVat.tsx
  yogstation/code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Feature, Tweak, Sprites, tgui

#22673 Fixes ctrl-click picking up PDAs when trying to open their UI
  code/modules/modular_computers/computers/item/computer.dm
Labels: Fix

#22640 Adds .38 Special and .38 Rubber ammo boxes and adds them to autolathe
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/obj/ammo.dmi
Labels: Feature, Sprites

#22679 fixes some mapping errors in maint ruins
  _maps/RandomRuins/StationRuins/maint/10x10/10x10_halloween.dmm
  _maps/RandomRuins/StationRuins/maint/10x10/10x10_sixsectorsdown.dmm
  _maps/RandomRuins/StationRuins/maint/10x5/10x5_commie.dmm
  _maps/RandomRuins/StationRuins/maint/10x5/10x5_medicalmaint.dmm
  _maps/RandomRuins/StationRuins/maint/3x3/3x3_biohazard.dmm
  _maps/RandomRuins/StationRuins/maint/3x3/3x3_naughtyroom.dmm
  _maps/RandomRuins/StationRuins/maint/3x3/3x3_owloffice.dmm
  _maps/RandomRuins/StationRuins/maint/3x3/3x3_pubbyartism.dmm
  _maps/RandomRuins/StationRuins/maint/3x5/3x5_junkcloset.dmm
  _maps/RandomRuins/StationRuins/maint/5x3/5x3_chestburst.dmm
  _maps/RandomRuins/StationRuins/maint/5x3/5x3_yogsmaintrpg.dmm
Labels: Mapping, Awaiting - Merge

#22684 Toggling combat mode disables grab mode
  code/datums/keybinding/living.dm
Labels: Tweak

#22678 Adds storage item (backpack) pickpocketing
  code/datums/elements/strippable.dm
  code/modules/mob/living/carbon/carbon_stripping.dm
  code/modules/mob/living/carbon/human/human_stripping.dm
  tgui/packages/tgui/interfaces/StripMenu.tsx
Labels: Feature, Fix, tgui

#22690 Properly disables demonic ice miner (Fixes #21021)
  config/iceruinblacklist.txt
Labels: Config, Fix

#22691 [PORT] playsound() will runtime if you try to pass a list into it.
  code/game/sound.dm
Labels: Tweak

#22688 Silicon Admins Get Regular Law Manager
  code/modules/mob/living/silicon/laws.dm
Labels: Feature

#22681 [DONUT] Xenobio fixes
  _maps/map_files/DonutStation/DonutStation.dmm
Labels: Mapping

#22672 Weather plane update #2
  code/__DEFINES/layers.dm
  code/_onclick/hud/rendering/plane_masters/plane_master_subtypes.dm
  code/datums/components/hide_weather_planes.dm
Labels: Tweak

#22677 stops peacekeeping outfits being invisible when worn
  code/modules/clothing/outfits/occupying.dm
Labels: Fix

#22680 [BOX] Puts an intercom on the wall by the glass flower case outside of security so sentient butterflies may call for help on comms (and receive none as everyone ignores their pleas for rescue anyway)
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping, Awaiting - Merge

#22675 Inflation Fetish: Syndicate Hijack Dock Edition
  _maps/map_files/generic/CentCom.dmm
Labels: Mapping

#22685 actually adds .38 rubber ammo box to autolathe
  code/modules/research/designs/autolathe_designs.dm
Labels: Fix

#22695 Pickpocketing once again places in hand instead of floor
  code/datums/elements/strippable.dm
  code/modules/mob/living/carbon/carbon_stripping.dm
  code/modules/mob/living/carbon/human/human_stripping.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix

#22686 Allows several costume masks to work as internals
  code/modules/clothing/masks/miscellaneous.dm
Labels: Tweak

#22689 Fixes a ruin on icemoon + world anvil spellcheck
  _maps/RandomRuins/IceRuins/icemoon_surface_mining_site.dmm
  code/modules/mining/lavaland/world_anvil.dm
Labels: Mapping

#22694 [BOX] Actually fixes door over tech storage needing maint access
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#22693 Makes stripping of most unarmored hats fast
  code/modules/clothing/head/_head.dm
Labels: Tweak

#22696 Adds alternate blood overlays for digitigrade legs
  code/datums/components/bloodysoles.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/suits/_suits.dm
  code/modules/clothing/under/_under.dm
  icons/effects/blood.dmi
Labels: Sprites

#22697 Lizards now make clawprints instead of normal footprints
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: Tweak

#22698 Makes security badges color coded based on rank
  code/modules/clothing/under/badges.dm
  icons/mob/clothing/badges.dmi
  icons/obj/clothing/badges.dmi
Labels: Sprites

#22705 Removes duplicate item handling in /proc/pickpocket_storage_item
  code/datums/elements/strippable.dm
Labels: Fix

#22699 Icemoon Ambience
  code/__DEFINES/sound.dm
  code/_globalvars/lists/ambience.dm
  code/game/area/areas/mining.dm
  sound/ambience/bitumen.ogg
Labels: Tweak, Sound, Fix

#22703 [DONUT] Kills a redundant trash can in brig hall
  _maps/map_files/DonutStation/DonutStation.dmm
Labels: Mapping

#22704 [BOX] Moves the detective's shutter button.
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#22700 Renames AsteroidStation to ManateeStation (also moves it out of beta)
  _maps/_basemap.dm
  _maps/asteroidstation.dm
  _maps/manateestation.dm
  _maps/manateestation.json
  _maps/map_files/ManateeStation/ManateeStation.dmm
  config/maps.txt
Labels: Mapping, Config

#22668 Suicide Vest Traitor Item
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/uplink/uplink_items.dm
  icons/mob/clothing/suit/suit.dmi
  icons/obj/clothing/suits/suits.dmi
Labels: Feature, Sprites

#22676 New Emag Shuttle: The Suspicious Shuttle
  _maps/shuttles/emergency_amogushuttle.dmm
  code/datums/shuttles/emergency.dm
Labels: Mapping

#22718 Box of hugs gives hug moodlet when you hug it
  code/game/objects/items/storage/boxes.dm
Labels: Tweak

#22720 [BOX/GAX FUSION] fixes two mapping errors
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#22722 [DONUT] Adds Shrinkflation
  _maps/map_files/DonutStation/DonutStation.dmm
Labels: Mapping

#22726 extinguish_turf also includes liquids on the turf
  code/game/turfs/open/_open.dm
Labels: Feature

#22713 IceMoon chasm fix
  code/game/turfs/open/chasm.dm
Labels: Fix

#22714 Plasma Glacite Part 2: Glacite EVERYTHING
  code/modules/mining/equipment/upgrades.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/special.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/guns/energy.dmi
Labels: Feature, Sprites

#22568 [MDB IGNORE] [PRE-ALPHA] MiniStation
  _maps/RandomRuins/StationRuins/GaxStation/ai_whale.dmm
  _maps/_basemap.dm
  _maps/gaxstation.json
  _maps/icemeta.json
  _maps/manateestation.json
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/MiniStation/MiniStation.dmm
  _maps/ministation.dm
  _maps/ministation.json
  code/__DEFINES/combat.dm
  code/__DEFINES/hud.dm
  code/__DEFINES/maps.dm
  code/_onclick/hud/ghost.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystem/throwing.dm
  code/controllers/subsystem/ticker.dm
  code/datums/map_config.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/atoms_movable.dm
  code/game/machinery/telecomms/machines/message_server.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/open/floor/glass.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
  code/modules/admin/verbs/maprotation.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/ai/ai_network/networking_machines.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_movement.dm
  config/maps.txt
  icons/mob/inhands/misc/tiles_lefthand.dmi
  icons/mob/inhands/misc/tiles_righthand.dmi
  icons/mob/screen_midnight.dmi
  icons/obj/atmospherics/components/thermomachine.dmi
  icons/obj/tiles.dmi
  yogstation.dme
  yogstation/code/modules/jobs/job_types/psychiatrist.dm
  yogstation/icons/effects/station_blood.dmi
Labels: Feature, Mapping, Config, Sprites, Admin

#22747 Fixes exosuits being immune to EMPs
  code/game/mecha/mecha_defense.dm
Labels: Fix

#22736 [BOX] removes engineering access from aux base construction dock
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping, Awaiting - Merge

#22737 adds ability for sound overrides on lizard tails for thump
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/surgery/organs/tails.dm
Labels: Feature

#22739 stops station goals paper spawning on request console
  yogstation/code/controllers/subsystem/yogs.dm
Labels: Tweak

#22732 adds chocolate churro
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  icons/obj/food/food.dmi
Labels: Feature, Sprites

#22731 small sandwich and toasted sandwich changes
  code/modules/food_and_drinks/food/snacks_sandwichtoast.dm
Labels: Tweak

#22746 Fixes telekinesis being able to steal from backpacks at range
  code/datums/elements/strippable.dm
Labels: Fix

#22738 adds fluorosurfactant to liquids blacklist
  code/__DEFINES/{yogs_defines}/liquids.dm
Labels: Tweak

#22725 Fixes custom sandwiches and burgers having invisible ingredients if you add more than 1
  code/modules/food_and_drinks/food/customizables.dm
Labels: Fix

#22748 eww someone else bit this food
  code/__DEFINES/traits/declarations.dm
  code/datums/mood_events/needs_events.dm
  code/modules/food_and_drinks/food.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/research/xenobiology/crossbreeding/_misc.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/vox.dm
Labels: Tweak

#22757 removes halloween filter
  code/_onclick/hud/rendering/render_plate.dm
Labels: Revert / Deletion

#22749 Makes fall damage interesting
  code/game/atoms_movable.dm
  code/game/objects/effects/effects.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  yogstation/code/datums/components/lingering.dm
  yogstation/code/modules/liquids/liquid_effect.dm
Labels: Tweak, Fix

#22758 Fixes misaligned non-reinforced right corner wall
  icons/turf/walls/wall.dmi
Labels: Sprites

#22761 [IceMeta] fills in some space tiles
  _maps/map_files/IceMeta/IceMeta.dmm
Labels: Mapping

#22759 [MINI] Fixes some problems with engineering
  _maps/map_files/MiniStation/MiniStation.dmm
Labels: Mapping

#22719 [DONUT] Redoes all of Engineering and some areas around it
  _maps/map_files/DonutStation/DonutStation.dmm
Labels: Mapping

#22769 [MINI] fixes some more issues
  _maps/map_files/MiniStation/MiniStation.dmm
Labels: Mapping, Awaiting - Merge

#22771 Removes the ability to perform server rack alchemy
  code/modules/mob/living/silicon/ai/decentralized/systech/rack.dm
Labels: Fix

#22760 Ice Weavers now drop 2 diamonds instead of 2 uranium
  yogstation/code/modules/mob/living/simple_animal/hostile/mining_mobs/marrow_weaver.dm
Labels: Tweak

#22766 Removes custom vendor limit that only exists for tray-loading
  code/modules/vending/_vending.dm
Labels: Tweak

#22715 Snow Legions will now properly infect dead mobs + New snow legion regenerative cores
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  icons/obj/surgery.dmi
Labels: Feature, Fix, Sprites

#22744 Adds move up/down buttons to the rest of the human UIs
  icons/mob/screen_clockwork.dmi
  icons/mob/screen_detective.dmi
  icons/mob/screen_obsidian.dmi
  icons/mob/screen_operative.dmi
  icons/mob/screen_plasmafire.dmi
  icons/mob/screen_retro.dmi
  icons/mob/screen_slimecore.dmi
Labels: Feature, Sprites

#22707 Fixes xenomorphs dying to acid rain
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
Labels: Fix

#22777 Fixes thermite
  code/datums/components/thermite.dm
Labels: Fix

#22729 reverts Increases the price of Australian Slime Mutator from 10 TC to 25 TC.
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#22651 Reworked Plasmamen's explosive fist
  code/__DEFINES/status_effects.dm
  yogstation/code/datums/martial/explosive_fist.dm
Labels: Feature, Revert / Deletion, Awaiting - Action - Testing

#22783 lol
  _maps/map_files/generic/CentCom.dmm
Labels: Mapping
