Repository yogstation13/Yogstation, pull requests merged in 2024-07, with the labels that each got.

#22258 [s] Fixes barricades being indestructible to everything except crowbars
  code/game/machinery/deployable.dm
Labels: Fix

#22256 Perfect parries no longer damage your shield
  code/datums/components/blocking.dm
Labels: Tweak

#22245 Fixes dying in VR breaking certain items
  code/modules/VR/vr_human.dm
  code/modules/mob/inventory.dm
Labels: Fix

#22247 plasmacutter upgrades can now be used on borgs
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mining/machine_vending.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/research/designs/mechfabricator_designs.dm
Labels: Fix

#22248 Should fix cloning and dna based appearance weirdness I.E. changing the appearance of an empty clone changes YOUR appearance
  code/datums/dna.dm
  code/game/machinery/computer/cloning.dm
  code/game/machinery/computer/dna_console.dm
  code/game/machinery/exp_cloner.dm
  code/game/objects/items/dna_injector.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#22235 Rewrites all species info in character menu to be lore accurate and up-to-date!
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/polysmorphs.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferenceWindow.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/preternis.dm
Labels: Tweak, Fix, tgui

#22250 Adds pixel-precise pointing
  code/_onclick/click.dm
  code/modules/point/point.dm
Labels: Feature

#22271 Fixes rituals muting you if you do them too many times
  code/modules/religion/rites.dm
Labels: Fix

#22263 Slight nerfs to fire breath
  code/datums/mutations/fire_breath.dm
Labels: Tweak

#22282 [ICEMETA] Fixes some mapping errors biome pointed out but didn't fix (lazy shit)
  _maps/map_files/IceMeta/IceMeta.dmm
Labels: Mapping

#22280 Material reclamation showed the wrong values
  code/modules/research/rdconsole.dm
Labels: Fix, Awaiting - Merge

#22286 [s] Caps material reclamation at 100%
  code/modules/research/destructive_analyzer.dm
Labels: Fix

#22284 Prevents being able to bag of holding bomb from a range
  code/datums/components/storage/concrete/bag_of_holding.dm
Labels: Fix

#22283 Fixes being able to clone brains with short telomeres
  code/datums/traits/negative.dm
  code/game/machinery/computer/cloning.dm
Labels: Fix

#22273 Tweaks toolset implants drop and menu opening keys
  code/__DEFINES/dcs/signals/signals_mob/signals_carbon.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/surgery/organs/augments_arms.dm
Labels: Tweak

#22298 More kudzu adjustments
  code/modules/events/spacevine.dm
Labels: Tweak

#22240 Shipbreaking Scrap - stop breaking my ship!
  code/game/machinery/_machinery.dm
  code/game/machinery/recycler.dm
  code/game/objects/items.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/circuitboards/circuitboard.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/closed/walls.dm
  code/modules/research/stock_parts.dm
  icons/obj/shipbreaking.dmi
  yogstation.dme
  yogstation/code/modules/shipbreaker/scrap.dm
Labels: DME Edit, Feature, Sprites

#22300 Tweaks preternis ore eating + bugfix
  code/modules/mining/ores_coins.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/organs.dm
Labels: Feature, Tweak, Fix

#22296 Updates the "white whale holy grail" syndicate special kit (this is the one with the shitty spear gun)
  code/game/objects/items/storage/uplink_kits.dm
Labels: Tweak

#22299 Makes slime/jelly people more afraid of water
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
Labels: Tweak

#22274 Adds three new arm toolset implants
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/organs/augments_arms.dm
Labels: Feature

#22292 Adds a new admin smite
  code/__DEFINES/admin.dm
  code/__HELPERS/filters.dm
  code/datums/diseases/wibblification.dm
  code/modules/admin/verbs/randomverbs.dm
  yogstation.dme
Labels: DME Edit, Feature, Admin

#22294 Reduces jungleland ore spawns + plasmacutter interactions + bluespace bugfix
  code/__DEFINES/{yogs_defines}/jungle.dm
  code/modules/projectiles/projectile/special/plasma.dm
  yogstation/code/datums/mapgen/JungleGen.dm
  yogstation/code/modules/jungleland/jungle_turfs.dm
Labels: Tweak, Fix

#22264 fixes Darkspawn being unable to ascend + other stuff
  code/datums/status_effects/debuffs/debuffs.dm
  code/datums/traits/negative.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/projectiles/projectile/special/curse.dm
  code/modules/research/nanites/nanite_programs/buffing.dm
  yogstation/code/modules/admin/verbs/one_click_antag.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_abilities/_sacrament.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_abilities/core_abilities.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_abilities/fighter_abilities.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_antag.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_objects/goliath_tendril.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_objects/psionic_barrier.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_objects/scout_traps.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_objects/thrall_tumor.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_objects/warlock_staff.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_progenitor.dm
Labels: Tweak, Fix

#22302 Tweaks the kinetic javelin
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/buffs/buffs.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/datums/status_effects/debuffs/holy_fire.dm
  code/datums/status_effects/status_effect.dm
  code/modules/particles/byond_particles/emitter/fire.dm
  yogstation.dme
  yogstation/code/modules/jungleland/kinetic_javelin.dm
Labels: Tweak, Fix

#22295 Returns light tiger tails as an option
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/mutant_bodyparts.dmi
Labels: Feature, Sprites

#22311 Golems can no longer get husked
  code/modules/mob/living/carbon/human/species_types/golems.dm
Labels: Tweak, Fix

#22309 fixes some issues with tank inhands
  code/game/objects/items/tanks/tank_types.dm
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/suit_storage.dmi
  icons/mob/inhands/equipment/tanks_lefthand.dmi
  icons/mob/inhands/equipment/tanks_righthand.dmi
Labels: Sprites

#22310 Fixes ipc insurgent having unusual say mods + no monkey business
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/surgery/organs/tongue.dm
Labels: Tweak, Fix

#22223 Ice Cream Rework Part 1: Creamed
  code/datums/mood_events/generic_positive_events.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/cargo/packs.dm
  code/modules/food_and_drinks/food/snacks_frozen.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  icons/obj/food/containers.dmi
  icons/obj/kitchen.dmi
Labels: Feature, Tweak, Sprites

#22244 updates some medkit inhand sprites
  code/game/objects/items/storage/firstaid.dm
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
Labels: Sprites

#22289 Updates digitigrade legs for lizards and polysmorphs
  icons/mob/human_parts_greyscale.dmi
Labels: Sprites

#22276 Fixes a single frame
  icons/obj/modular_pda.dmi
Labels: Sprites

#22069 Ports /tg/ sheet sprites
  code/game/objects/items/stacks/sheets/hypernob_crystal.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/telecrystal.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/silicon/ai/ai_network/ethernet_cable.dm
  code/modules/power/cable.dm
  icons/obj/mining.dmi
  icons/obj/stack_objects.dmi
  icons/obj/telescience.dmi
  yogstation/code/modules/jungleland/jungle_items.dm
  yogstation/icons/obj/stack_objects.dmi
Labels: Sprites

#22319 Fixes a bug where ethereal eyes didn't remove the zoom effect upon removal
  code/modules/surgery/organs/eyes.dm
Labels: Fix

#22314 Gives clerk service hall
  yogstation/code/modules/jobs/job_types/clerk.dm
Labels: Tweak

#22321 Removes the ability to lifesteal off yourself
  code/datums/components/lifesteal.dm
Labels: Fix

#22325 Regenerative bluespace core now teleports to within a 7x7 area
  code/modules/research/xenobiology/crossbreeding/regenerative.dm
Labels: Tweak

#22322 Fixes crystallized purple pylon killing jellypeople
  code/modules/research/xenobiology/crossbreeding/_structures.dm
Labels: Fix

#22324 Prevents xenobio creating infinite powercrepes
  code/__HELPERS/unsorted.dm
Labels: Tweak

#22306 [BOX] Moves a single light
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#22327 Fixes many wall errors
  _maps/RandomRuins/StationRuins/BoxStation/testingsite_range1.dmm
  _maps/RandomRuins/StationRuins/BoxStation/testingsite_range2.dmm
  _maps/RandomRuins/StationRuins/BoxStation/testingsite_range3.dmm
  _maps/RandomRuins/StationRuins/BoxStation/testingsite_range4.dmm
  _maps/map_files/DonutStation/DonutStation.dmm
  _maps/map_files/generic/CentCom.dmm
  code/game/turfs/closed/indestructible.dm
Labels: Tweak, Mapping, Fix

#22255 fixes background for changeling ability buttons
  icons/mob/actions/actions_changeling.dmi
  icons/mob/actions/backgrounds.dmi
Labels: Sprites

#22237 Bigass morgue glowup
  code/datums/components/crafting/recipes.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/game/objects/structures/morgue.dm
Labels: Feature, Revert / Deletion

#22308 [BOX] [ICEMETA] removes a bunch of lattices that made their way under walls, removes doublestacked windows, tidies up some areas on Ice
  _maps/map_files/IceMeta/IceMeta.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#22351 Adds missing "quality = POSITIVE" to acid_spit.dm
  code/datums/mutations/acid_spit.dm
Labels: Feature

#22339 mousepockets
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  icons/obj/food/food.dmi
Labels: Feature, Sprites, Awaiting - Merge

#22337 Punctuation/spelling things
  code/game/machinery/deployable.dm
  code/game/objects/items/devices/busterarm/gasharpoon.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/VR/vr_compsci.dm
  code/modules/admin/permissionedit.dm
  code/modules/antagonists/changeling/powers/pheromone_receptors.dm
  code/modules/events/_event.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/security_levels/keycard_authentication.dm
  code/modules/uplink/uplink_items.dm
  yogstation/code/datums/mapgen/JungleGen.dm
  yogstation/code/modules/jungleland/jungle_items.dm
Labels: Admin

#22238 Replaces Frank the turtle from the Jungleland Mining base with Bismuth the Triceratops (also adds a new pet, Bismuth the triceratops)
  _maps/RandomRuins/JungleRuins/miningbase.dmm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/mobs.dm
  code/modules/mob/living/simple_animal/friendly/triceratops.dm
  config/game_options.txt
  icons/mob/pets.dmi
  yogstation.dme
Labels: DME Edit, Feature, Mapping, Config, Sprites

#22249 [ICEMETA] [GAX] Changes stairs (the ones that actually let you travel z-levels) render plane, fixes some mapping bugs
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/IceMeta/IceMeta.dmm
  code/game/objects/structures/stairs.dm
Labels: Mapping

#22363 cleans up containers dmi
  code/game/objects/items/trash.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/pizzabox.dm
  code/modules/reagents/reagent_containers/glass.dm
  icons/obj/food/containers.dmi
  yogstation/icons/obj/food/containers.dmi
Labels: Sprites, Awaiting - Merge

#22361 adds back ice cream cones to some recipes
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
Labels: Feature, Awaiting - Merge

#22316 Adds plated spines and tail option for lizards
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/mutant_bodyparts.dmi
Labels: Feature, Sprites

#22352 medical records show the chemical you are allergic to
  code/datums/traits/negative.dm
Labels: Tweak

#22334 Resprites pressure tanks
  code/datums/greyscale/json_configs/pressure_tank.json
  code/modules/atmospherics/machinery/components/unary_devices/tank.dm
  icons/obj/atmospherics/pressure_tank.dmi
Labels: Sprites

#22341 spaghetti and meatballs sprite
  code/modules/food_and_drinks/food/snacks_spaghetti.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_spaghetti.dm
  icons/obj/food/pizzaspaghetti.dmi
Labels: Tweak, Sprites

#22362 [PORT] Corrected the bio emergency crate
  code/modules/cargo/packs.dm
Labels: Fix

#22344 Radiant burst quality pass
  code/datums/mutations/radiantburst.dm
Labels: Tweak, Fix

#22372 Fixes not being able to tell if a cat is dead or alive
  code/modules/mob/living/simple_animal/friendly/cat.dm
Labels: Fix

#22368 Shipbreaking: Fixes the invisible bananium table, and makes the stealth cutter no longer super stealthy
  _maps/templates/shipbreaker/old_banana.dmm
  _maps/templates/shipbreaker/old_stealth_cutter.dmm
  yogstation/code/modules/shipbreaker/shipbreaker.dm
Labels: Mapping, Fix

#22369 Removes Ate Without Table moodlet
  code/datums/mood_events/generic_negative_events.dm
  code/modules/food_and_drinks/food/snacks.dm
Labels: Revert / Deletion, Awaiting - Action - HD

#22330 Gives service department engineer access to the service hallway
  code/modules/jobs/job_types/station_engineer.dm
Labels: Tweak

#22383 Rotates the massdrivers to not hit the shipbreaking area (real edition)
  _maps/RandomRuins/StationRuins/BoxStation/chapel1.dmm
  _maps/RandomRuins/StationRuins/BoxStation/chapel2.dmm
Labels: Mapping, Fix

#22356 Fixes shielded hardsuits
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/components/explodable.dm
  code/datums/components/squeak.dm
  code/datums/elements/light_eater.dm
  yogstation/code/datums/components/shielded.dm
Labels: Fix

#22374 [PORT] Egg Frying Overhaul
  code/modules/food_and_drinks/food/snacks_egg.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_egg.dm
  icons/obj/food/food.dmi
Labels: Tweak, Sprites

#22343 [DONUT] new disposals and minor changes 2
  _maps/map_files/DonutStation/DonutStation.dmm
Labels: Mapping

#22342 [META] UPDATES DISPOSAL PATHING AND TECH 2
  _maps/map_files/IceMeta/IceMeta.dmm
Labels: Mapping, Fix

#22382 Fixes a few issues with worldbreaker
  code/datums/martial/worldbreaker.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/power_suck.dm
Labels: Fix

#22376 [PORT] Green Beer has an overdose effect now
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/surgery/bodyparts/helpers.dm
Labels: Feature

#22394 Fixes IPCs both having and not having blood
  code/modules/mob/living/blood.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Fix

#22387 fixes some issues with cooking chicken meat
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/food_and_drinks/recipes/processor_recipes.dm
Labels: Fix

#22390 Fixes crafty giving infinitely stacking crafting speed
  code/datums/components/crafting/crafting.dm
Labels: Fix

#22313 Kinetic javelin now points in the direction being thrown + throwspeed
  yogstation/code/modules/jungleland/kinetic_javelin.dm
Labels: Tweak

#22381 Partially reverts #21730
  code/datums/traits/good.dm
  code/datums/traits/negative.dm
  code/datums/traits/neutral.dm
Labels: Fix

#22389 Reduces Crafty trait cost by 1 (to 1)
  code/datums/traits/good.dm
Labels: Tweak

#22398 janitors get their toolset implant on cybernetic station trait
  code/datums/station_traits/positive_traits.dm
Labels: Tweak

#22397 morphine mood boost is no longer permanent
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Fix

#22392 Reduces maximum uptime of reactive stealth armor from 80% to 27%
  code/modules/clothing/suits/reactive_armour.dm
Labels: Tweak

#22359 Moves paramedic clothes from the locker into the medidrobe
  _maps/map_files/GaxStation/GaxStation.dmm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/vending/wardrobes.dm
Labels: Tweak, Mapping, Fix

#22403 removes unnamed sheep from kitchen animals
  code/game/objects/effects/spawners/lootdrop.dm
Labels: Revert / Deletion

#22405 Fix the mapping blacklists directory being broken and also set the indestructible wall type to hopefully use the right icon file
  code/controllers/subsystem/mapping.dm
  code/game/turfs/closed/indestructible.dm
Labels: Fix

#22404 [PORT] Adds holographic item projector from yogstation
  code/game/objects/items/devices/holoprojector.dm
  code/modules/uplink/uplink_items.dm
  yogstation.dme
Labels: DME Edit, Feature

#22315 Jellypeople now take cloning damage from water + regen
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
Labels: Tweak

#22307 [BOX] Fixes mapping errors & tidies up the AI sat
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#22370 Replaces the wrench in the Cere emergency shuttle medbay with a medical wrench.
  _maps/shuttles/emergency_cere.dmm
Labels: Mapping

#22411 fixes invisible rolling paper box
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/fancy.dm
  code/modules/research/designs/biogenerator_designs.dm
  code/modules/vending/cigarette.dm
Labels: Fix

#22412 Removes ERP
  code/game/objects/structures/flora.dm
Labels: Fix

#22409 [PORT] Roasts
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  icons/obj/food/food.dmi
Labels: Feature, Sprites

#22070 Removes TEG from roundstart engine rotation once again
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Revert / Deletion, Awaiting - Action - HD

#22407 Fix a code oopsie regarding lockers that I made 5 years ago
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix

#22410 cooked cutlets do not process into raw meatballs
  code/modules/food_and_drinks/recipes/processor_recipes.dm
Labels: Revert / Deletion

#22320 Fixes guass rifle from generating infinite sparks when shooting with an empty chamber
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/projectile/special/rocket.dm
Labels: Fix

#22401 Speeds up crafting menu food creation
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
Labels: Tweak

#22418 Fix luminescent being unable to activate extracts
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
Labels: Fix, Awaiting - Merge

#22414 Fixes some bugs with implants and autosurgeons
  code/modules/surgery/organs/augment_legs.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/autosurgeon.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/preternis/maglock.dm
Labels: Fix

#22416 pencil holders no longer look empty when full
  code/modules/paperwork/pencil_holder.dm
Labels: Fix

#22422 [PORT] fried chicken
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
Labels: Feature

#22346 Disables butchering while cleaving
  code/_onclick/item_attack.dm
Labels: Fix

#22297 Tweaks jungleland in so many ways
  _maps/RandomRuins/JungleRuins/jungleland_dead_bubblegum.dmm
  _maps/RandomRuins/JungleRuins/jungleland_dead_colossus.dmm
  _maps/RandomRuins/JungleRuins/jungleland_dead_crashedship.dmm
  _maps/RandomRuins/JungleRuins/jungleland_dead_testingfacility.dmm
  _maps/RandomRuins/JungleRuins/jungleland_jungle_garden.dmm
  _maps/RandomRuins/JungleRuins/jungleland_jungle_tartemple.dmm
  _maps/RandomRuins/JungleRuins/jungleland_swamp_carp_pond.dmm
  _maps/RandomRuins/JungleRuins/jungleland_swamp_cave.dmm
  _maps/RandomRuins/JungleRuins/jungleland_swamp_drownedburialgrounds.dmm
  _maps/RandomRuins/JungleRuins/jungleland_swamp_farm.dmm
  _maps/RandomRuins/JungleRuins/jungleland_swamp_miner.dmm
  _maps/RandomRuins/JungleRuins/jungleland_swamp_syndicatestation.dmm
  _maps/RandomRuins/JungleRuins/jungleland_swamp_tartemple.dmm
  _maps/RandomRuins/JungleRuins/jungleland_tar_king.dmm
  _maps/RandomRuins/JungleRuins/miningbase.dmm
  _maps/RandomRuins/JungleRuins/tar_altar.dmm
  _maps/RandomRuins/JungleRuins/tar_assistant.dmm
  _maps/RandomRuins/JungleRuins/tar_enchant.dmm
  _maps/map_files/mining/Jungleland.dmm
  code/__DEFINES/icon_smoothing.dm
  code/__DEFINES/{yogs_defines}/maps.dm
  code/controllers/subsystem/mapping.dm
  code/game/turfs/open/water.dm
  code/modules/mining/aux_base.dm
  code/modules/mining/shelters.dm
  yogstation/code/datums/mapgen/JungleGen.dm
  yogstation/code/datums/mapgen/biomes/JungleBiomes.dm
  yogstation/code/datums/ruins/jungle.dm
  yogstation/code/modules/jungleland/jungle_datums.dm
  yogstation/code/modules/jungleland/jungle_items.dm
  yogstation/code/modules/jungleland/jungle_structures.dm
  yogstation/code/modules/jungleland/jungle_turfs.dm
  yogstation/icons/turf/floors/jungle.dmi
  yogstation/icons/turf/floors/smoothwater.dmi
  yogstation/icons/turf/walls/obsidian.dmi
  yogstation/icons/turf/walls/obsidian_hard.dmi
Labels: Tweak, Mapping, Sprites, Test Merge - Scheduled, Test Merge - Requested, TESTMERGED

#22428 stops vermin bites producing infinite mice
  code/modules/food_and_drinks/food/snacks_vend.dm
Labels: Fix

#22432 Actually fixes microbomb implants dropping your stuff
  code/__DEFINES/dcs/signals/signals_mob/signals_living.dm
  code/game/objects/items/implants/implant_explosive.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/mob/living/brain/death.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/living/simple_animal/friendly/pet.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
  code/modules/mob/living/simple_animal/hostile/mecha_pilot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/_megafauna.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/statue.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/slime/death.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_progenitor.dm
  yogstation/code/modules/guardian/guardian.dm
  yogstation/code/modules/mining/lavaland/doppelmirror.dm
Labels: Fix

#22430 Buffs nerve support to be useable and not a trap
  code/modules/research/nanites/nanite_programs/buffing.dm
Labels: Tweak, Awaiting - Merge

#22433 Fixes heretic counter-attack not countering some attacks
  code/modules/antagonists/eldritch_cult/knowledge/blade_lore.dm
Labels: Fix

#22431 Fixes some heretic stuff that got broken along the way
  code/modules/antagonists/eldritch_cult/eldritch_items.dm
  code/modules/antagonists/eldritch_cult/magic/blade_magic.dm
Labels: Fix

#22429 removes pda cartridge from a vendor
  code/modules/vending/assist.dm
Labels: Revert / Deletion

#22424 [MDB IGNORE] [IDB IGNORE] Replaces Space Station 13 with Yogstation 13
  code/game/turfs/closed/indestructible.dm
Labels: Tweak

#22384 [PORT] Can/drink sprites from TG.
  code/modules/antagonists/cult/cult_items.dm
  code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  icons/obj/drinks.dmi
  icons/obj/grenade.dmi
  icons/obj/reagentfillings.dmi
  yogstation/icons/obj/janitor.dmi
Labels: Sprites

#22413 Exosuit Update 2: I Don't Remember Everything I Did Edition
  code/__DEFINES/construction/structures.dm
  code/datums/components/afterimage.dm
  code/datums/components/armor_plate.dm
  code/game/atom/_atom.dm
  code/game/data_huds.dm
  code/game/gamemodes/clown_ops/clown_weapons.dm
  code/game/mecha/combat/durand.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/honker.dm
  code/game/mecha/combat/marauder.dm
  code/game/mecha/combat/phazon.dm
  code/game/mecha/combat/reticence.dm
  code/game/mecha/combat/sidewinder.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/equipment/weapons/melee_weapons.dm
  code/game/mecha/equipment/weapons/other_weapons.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/mecha/mecha_defense.dm
  code/game/mecha/mecha_topic.dm
  code/game/mecha/mecha_wreckage.dm
  code/game/mecha/medical/odysseus.dm
  code/game/mecha/working/clarke.dm
  code/game/mecha/working/ripley.dm
  code/game/mecha/working/working.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/cargo/bounties/mech.dm
  code/modules/cargo/exports/large_objects.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/satchel_ore_boxdm.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/power/singularity/singularity.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/mecha/mecha_equipment.dmi
  icons/mob/actions/actions_mecha.dmi
  yogstation.dme
  yogstation/code/game/mecha/makeshift/lockermech.dm
  yogstation/code/game/mecha/mecha_wreckage.dm
Labels: Feature, Tweak, Fix

#22293 Tweaks jungleland mobs
  _maps/RandomRuins/JungleRuins/jungleland_jungle_garden.dmm
  _maps/RandomRuins/JungleRuins/jungleland_jungle_oldtemple.dmm
  _maps/RandomRuins/JungleRuins/jungleland_swamp_farm.dmm
  code/__DEFINES/is_helpers.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/wasp.dm
  code/modules/procedural_mapping/mapGenerators/asteroid.dm
  code/modules/projectiles/projectile/reusable/arrow.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  yogstation/code/datums/mapgen/biomes/JungleBiomes.dm
  yogstation/code/modules/jungleland/jungle_alpha_mobs.dm
  yogstation/code/modules/jungleland/jungle_megafauna.dm
  yogstation/code/modules/jungleland/jungle_mobs.dm
  yogstation/code/modules/jungleland/jungle_projectiles.dm
  yogstation/code/modules/jungleland/jungle_structures.dm
  yogstation/code/modules/mining/lavaland/doppelmirror.dm
Labels: Tweak, Mapping, Test Merge - Scheduled, Test Merge - Requested

#22269 Reworks CQC
  code/datums/martial/cqc.dm
Labels: Tweak, Test Merge - Scheduled, Test Merge - Requested, TESTMERGED

#22457 [s] Fixes mech afterburner + mop killing people instantly
  code/game/mecha/equipment/weapons/melee_weapons.dm
Labels: Fix

#22454 Prevents infinite duplication of jungleland ores
  code/modules/projectiles/projectile/special/plasma.dm
  yogstation/code/modules/jungleland/jungle_turfs.dm
Labels: Fix

#22436 custom bread slices are no longer toast
  code/modules/food_and_drinks/food/customizables.dm
Labels: Tweak

#22440 Increases AOE of the ion rifle and ion cannon
  code/modules/projectiles/projectile/special/ion.dm
Labels: Tweak

#22441 Reduces main engine power production
  code/__DEFINES/power.dm
  code/__DEFINES/reactor.dm
  code/modules/power/singularity/collector.dm
  code/modules/power/tesla/coil.dm
  tgui/packages/tgui/interfaces/ReactorComputer.js
Labels: Tweak, Fix, tgui, Javascript

#22312 Deletes the depreciated android species
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/mobs.dm
  code/controllers/subsystem/traumas.dm
  code/datums/components/spooky.dm
  code/game/machinery/computer/crew.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/religion/rites.dm
  tgui/packages/tgui/interfaces/CrewConsole.js
  yogstation.dme
  yogstation/icons/mob/human_parts.dmi
Labels: DME Edit, Tweak, Revert / Deletion, Sprites, tgui, Javascript

#22371 Slimes can no longer paralyze for up to 26 seconds with a single click
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Tweak

#22417 centers some hats
  icons/obj/clothing/hats/hats.dmi
Labels: Sprites

#22423 fills in a single pixel on the waiter outfit
  icons/mob/clothing/uniform/suits.dmi
Labels: Sprites

#22323 Beartraps now need to be anchored in order to deal damage when triggered
  code/game/objects/items/handcuffs.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_objects/scout_traps.dm
Labels: Tweak

#22442 fixes some carpet issues
  code/__DEFINES/icon_smoothing.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/modules/cargo/packs.dm
  icons/obj/tiles.dmi
  icons/turf/floors/carpet_plainblue.dmi
  icons/turf/floors/carpet_plaingreen.dmi
  icons/turf/floors/carpet_plainpurple.dmi
  yogstation/icons/obj/tiles.dmi
Labels: Fix, Sprites

#22355 Kudzu now mutates from magnus purpura and lavaland cactus instead of weeds
  code/modules/hydroponics/hydroponics.dm
  code/modules/mining/lavaland/ash_flora.dm
  yogstation/code/modules/jungleland/jungle_items.dm
Labels: Tweak

#22465 Fixes mechs getting stuck permanently if thrown during an afterburner charge
  code/game/atoms_movable.dm
Labels: Fix

#22266 Adds mentor help database collection
  SQL/database_changelog.md
  SQL/tgstation_schema.sql
  code/__DEFINES/subsystems.dm
  yogstation/code/modules/client/client_procs.dm
  yogstation/code/modules/mentor/mentorhelp.dm
  yogstation/code/modules/mentor/mentorpm.dm
Labels: SQL, Awaiting - Action - HD

#22459 fixes some clothes being invisible when worn
  code/modules/clothing/under/syndicate.dm
  icons/mob/clothing/uniform/shorts_pants_shirts.dmi
  icons/mob/clothing/uniform/suits.dmi
  icons/mob/clothing/uniform/syndicate.dmi
  icons/obj/clothing/neck.dmi
Labels: Sprites

#22467 Probably fixes afterburner doing more damage than intended
  code/datums/actions/action.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/weapons/other_weapons.dm
Labels: Tweak, Fix

#22449 Adjusts Slime Person Burn/Cold modifiers
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
Labels: Tweak

#22393 Fixes some more bugs with the SELF insurgent ipc
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/examine_tgui.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Labels: Tweak, Fix

#22242 Synth project minor rework (sponsored by DownloadMoreRAM.com)
  code/modules/mob/living/carbon/human/species_types/wy_synths.dm
  code/modules/mob/living/silicon/ai/decentralized/management/ai_dashboard.dm
  code/modules/mob/living/silicon/ai/decentralized/projects/synths/cold_protection.dm
  code/modules/mob/living/silicon/ai/decentralized/projects/synths/download_ram.dm
  code/modules/mob/living/silicon/ai/decentralized/projects/synths/heat_protection.dm
  code/modules/mob/living/silicon/ai/decentralized/projects/synths/speed_buff.dm
  code/modules/mob/living/silicon/ai/synthetics/synth_os.dm
  tgui/packages/tgui/interfaces/SynthDashboard.js
  yogstation.dme
Labels: DME Edit, Feature, Tweak, Fix, tgui, Javascript, Awaiting - Action - Code Owner
