Repository yogstation13/Yogstation, pull requests merged in 2024-09, with the labels that each got.

#22561 Adjusts Lone Op's weight increase requirements & sets a general weight for it to spawn/
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/events/operative.dm
Labels: Tweak

#22555 Fixes a bunch of stuff breaking digitigrade legs
  code/modules/clothing/suits/_suits.dm
  code/modules/clothing/under/_under.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
Labels: Fix

#22551 Adds a fullscreen visual effect to standing outside in rain or acid rain
  code/datums/status_effects/debuffs/fire_stacks.dm
  code/datums/weather/weather_types/acid_rain.dm
  icons/effects/weather_effects.dmi
  yogstation/icons/effects/160x160.dmi
Labels: Tweak, Fix, Sprites

#22520 Nuclear fallout now triggers gamma alert level when it starts
  code/modules/power/reactor/reactor.dm
Labels: Tweak

#22577 gives centcom silver+gold id cards sprites
  yogstation/icons/obj/card.dmi
Labels: Sprites

#22567 Fixes holotool bugs that annoyed me
  code/game/atom/atom_tool_acts.dm
  code/modules/mob/inventory.dm
  yogstation/code/game/machinery/telecomms/machine_interactions.dm
Labels: Fix

#22550 Heretic actions now transfer on clone
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
Labels: Fix

#22573 Adds day/night cycle to icemoon
  _maps/map_files/IceMeta/IceMeta.dmm
  code/controllers/subsystem/daylight.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/area/areas.dm
  code/game/area/areas/mining.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/open/floor/plating/asteroid.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
  yogstation/code/game/turfs/simulated/minerals.dm
  yogstation/code/modules/jungleland/jungle_turfs.dm
Labels: Tweak, Mapping

#22552 reduces time for each step of hdd theft objective
  code/modules/research/server.dm
Labels: Tweak

#22579 Break machinery objective take into account multi z stations and only assigns station machines
  code/game/gamemodes/objective.dm
Labels: Tweak

#22569 You can alt click empty drinking glasses to flip them
  code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
  icons/obj/drinks.dmi
Labels: Feature, Sprites

#22580 Fixes meteorite map errors
  _maps/RandomRuins/LavaRuins/lavaland_surface_meteorite.dmm
Labels: Mapping

#22587 removes every codebase side instance of the r word
  code/__DEFINES/inventory.dm
  code/__HELPERS/game.dm
  code/datums/mutations/speech.dm
  code/game/machinery/doors/checkForMultipleDoors.dm
  code/game/objects/structures/signs/signs_plaques.dm
  code/modules/admin/secrets.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/mob/living/carbon/alien/humanoid/update_icons.dm
  code/modules/projectiles/guns/magic/rune.dm
  tgui/packages/tgui/interfaces/SecretsPanel.js
  yogstation/code/_onclick/adjacent.dm
  yogstation/code/datums/diseases/cluwnification.dm
Labels: Tweak, Admin, tgui, Javascript

#22578 [PORT] Ports interesting supermatter distortion effect + singularity bugfix
  code/game/objects/effects/countdown.dm
  code/modules/particles/byond_particles/emitter/sm_particles.dm
  code/modules/particles/byond_particles/particle/sm_particles.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_delamination.dm
  icons/effects/160x160.dmi
  icons/effects/224x224.dmi
  icons/effects/288x288.dmi
  icons/effects/32x32.dmi
  icons/effects/96x96.dmi
  icons/effects/particles/misc.dmi
  yogstation.dme
Labels: DME Edit, Feature, Fix, Sprites

#22548 Probably fixes objectives not being rerolled properly
  code/game/machinery/cryopod.dm
Labels: Fix, Test Merge - Requested

#22586 Fixes centcom ban DB not working
  code/modules/admin/topic.dm
Labels: Fix, Admin

#22588 makes burning surgical mats drop plastic instead of metal
  code/modules/surgery/tools.dm
Labels: Fix

#22591 Adds a new station pet: Terrance the Shipbreaking Hawk.
  _maps/map_files/DonutStation/DonutStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/IceMeta/IceMeta.dmm
  _maps/map_files/YogStation/YogStation.dmm
  code/modules/mob/living/simple_animal/parrot.dm
  icons/mob/animal.dmi
Labels: Feature, Mapping, Sprites

#22585 adjusts slurring from 51 drunk level to 16 drunk level and makes you slur different amounts based on your drunk level
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/debuffs/drunk.dm
  code/datums/status_effects/debuffs/speech_debuffs.dm
Labels: Tweak

#22538 Exosuit Update 3: Overheat Edition
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/mecha.dm
  code/__DEFINES/projectiles.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/traits.dm
  code/__DEFINES/traits/declarations.dm
  code/_onclick/hud/alert.dm
  code/controllers/subsystem/processing/mecha.dm
  code/game/atom/_atom.dm
  code/game/data_huds.dm
  code/game/mecha/combat/combat.dm
  code/game/mecha/combat/durand.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/marauder.dm
  code/game/mecha/combat/sidewinder.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/tools/cooling.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/equipment/weapons/armor.dm
  code/game/mecha/equipment/weapons/melee_weapons.dm
  code/game/mecha/equipment/weapons/other_weapons.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/mecha/mecha_defense.dm
  code/game/mecha/mecha_topic.dm
  code/game/mecha/working/clarke.dm
  code/game/objects/items/melee/misc.dm
  code/modules/antagonists/eldritch_cult/eldritch_gun.dm
  code/modules/fields/timestop.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  code/modules/projectiles/guns/misc/flamethrower.dm
  code/modules/projectiles/guns/misc/medbeam.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/projectiles/projectile/bullets/sniper.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/mecha/mecha_equipment.dmi
  icons/mob/screen_alert.dmi
  yogstation.dme
  yogstation/icons/mob/hud.dmi
Labels: Fix, Balance Council Approved, Awaiting - Action - Testing

#22353 Adds new activity to cargo: Exploring The Backrooms
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/DonutStation/DonutStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/IceMeta/IceMeta.dmm
  _maps/map_files/YogStation/YogStation.dmm
  code/__DEFINES/dcs/signals/signals_global.dm
  code/controllers/subsystem/backrooms.dm
  code/datums/mapgen/dungeon_generators/maintenance_generator/maintenance_room_themes/random.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/jobs/job_types/cargo_technician.dm
  config/jobs.txt
Labels: DME Edit, Feature, Mapping, Config, Test Merge - Scheduled, Test Merge - Requested

#22535 Adds a new traitor item: The IA-C01G AORTA 'Coral' Generator mech equipment
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/mecha/mecha.dm
  code/modules/uplink/uplink_items.dm
  icons/mecha/mecha_equipment.dmi
  icons/mob/actions/actions_mecha.dmi
Labels: DME Edit, Feature, Sprites

#22592 Fixes drowning not actually drowning you
  code/modules/mob/living/carbon/life.dm
Labels: Fix

#22594 [s] Fixes repair droids making mechs invincible
  code/game/mecha/mecha_defense.dm
Labels: Fix

#22596 You can no longer RCD space transit tiles if it's not part of a shuttle
  code/game/turfs/open/space/transit.dm
Labels: Tweak

#22574 Fixes scattershot laser rifle from completing the antique laser gun grand theft objective
  _maps/RandomZLevels/caves.dmm
  _maps/map_files/generic/CentCom.dmm
  code/datums/mapgen/dungeon_generators/maintenance_generator/maintenance_room_themes/random.dm
  code/modules/projectiles/guns/energy/laser.dm
Labels: Mapping, Fix

#22590 Adds canned iced coffee
  code/__DEFINES/food.dm
  code/datums/traits/negative.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/vending/cola.dm
  icons/obj/drinks.dmi
  yogstation/icons/obj/janitor.dmi
Labels: Feature, Tweak, Sprites

#22595 Fixes a bunch of mech stuff
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/weapons/armor.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_defense.dm
Labels: Fix

#22598 Fixes emagged honkbot applying nearly permanent stuttering and jittering if getting spammed
  code/modules/mob/living/simple_animal/bot/honkbot.dm
Labels: Fix

#22603 Adds access req to fuel rod crates
  code/modules/cargo/packs.dm
Labels: Tweak

#22597 Adds a little sound effect that plays when speaking
  code/__DEFINES/{yogs_defines}/mobs.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/say.dm
  goon/sound/speak_1.ogg
  goon/sound/speak_1_ask.ogg
  goon/sound/speak_1_exclaim.ogg
  goon/sound/speak_2.ogg
  goon/sound/speak_2_ask.ogg
  goon/sound/speak_2_exclaim.ogg
  goon/sound/speak_3.ogg
  goon/sound/speak_3_ask.ogg
  goon/sound/speak_3_exclaim.ogg
  goon/sound/speak_4.ogg
  goon/sound/speak_4_ask.ogg
  goon/sound/speak_4_exclaim.ogg
  yogstation/code/modules/mob/living/living_defines.dm
Labels: Feature, Sound

#22606 Buffs medical spray bottles to be actually useful?
  code/modules/reagents/reagent_containers/medspray.dm
Labels: Tweak

#22609 Fixes crafted donuts never, ever getting their sprinkles
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
Labels: Fix

#22619 fixes buster arm's throw being nearly nonfunctional
  code/datums/martial/buster_style.dm
Labels: Fix

#22617 Fixes pod computers not unlocking on red+ security levels
  code/modules/shuttle/emergency.dm
Labels: Fix

#22575 fixes weird shuttle call timer if shuttle goes over 2 hours but is already called
  code/controllers/subsystem/shuttle.dm
Labels: Fix

#22616 Just removing an unused app for unused content don't mind me
  code/modules/modular_computers/computers/item/phone/phone_presets.dm
Labels: Revert / Deletion

#22618 Fixes quirks causing a to_chat runtime
  code/datums/traits/_quirk.dm
Labels: Fix

#22373 Reworks Sleeping Carp
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob.dm
  code/controllers/subsystem/throwing.dm
  code/datums/martial.dm
  code/datums/martial/sleeping_carp.dm
  code/datums/martial/ultra_violence.dm
  code/modules/antagonists/eldritch_cult/transmutations/mind_transmutations.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species_types/wy_synths.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/silicon/damage_procs.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/stalwart.dm
  icons/effects/effects.dmi
Labels: DO NOT MERGE, Sprites, Test Merge - Scheduled, Test Merge - Requested

#22627 Department antag gimmicks never pick your department
  code/game/gamemodes/objective.dm
Labels: Tweak

#22625 Hides synthetics from the job menu
  code/modules/jobs/job_types/synthetic.dm
Labels: Fix

#22623 Gives Bot Remote Controller program to QM's PDA at round start
  code/modules/modular_computers/computers/item/pda/pda_presets.dm
Labels: Tweak

#22605 Removes styptic powder and silver sulfadiazine vials from the Hypovendor
  yogstation/code/modules/vending/hypomed.dm
Labels: Tweak

#22614 Weather code update. Mostly just visuals to fix multi-z weather from stacking until you couldn't see anything
  code/__DEFINES/dcs/signals/signals_hud.dm
  code/__DEFINES/dcs/signals/signals_plane_master_group.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/weather.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/rendering/plane_master_group.dm
  code/_onclick/hud/rendering/plane_masters/plane_master_subtypes.dm
  code/_onclick/hud/rendering/render_plate.dm
  code/controllers/subsystem/weather.dm
  code/datums/components/hide_weather_planes.dm
  code/datums/components/storm_hating.dm
  code/datums/dna.dm
  code/datums/elements/temporary_atom.dm
  code/datums/ruins/icemoon.dm
  code/datums/weather/weather.dm
  code/datums/weather/weather_types/acid_rain.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/datums/weather/weather_types/snow_storm.dm
  code/modules/events/radiation_storm.dm
  yogstation.dme
  yogstation/code/game/gamemodes/battle_royale/storm.dm
Labels: DME Edit, Feature, Tweak, Mapping, Fix

#22630 Removes synth storage units because we forgot to
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#22634 [Meta] Fixes one single decal
  _maps/map_files/IceMeta/IceMeta.dmm
Labels: Mapping

#22633 Fixes item offer alerts not being cleared properly
  code/_onclick/hud/alert.dm
  code/modules/mob/living/carbon/inventory.dm
Labels: Fix

#22622 Rewrites speech sounds + preferences
  code/__DEFINES/say.dm
  code/__DEFINES/{yogs_defines}/mobs.dm
  code/modules/client/preferences/middleware/voice_type.dm
  code/modules/client/preferences/speech_sounds.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/say.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/voice_type.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/speech_sounds.tsx
  yogstation.dme
  yogstation/code/modules/mob/living/living_defines.dm
  yogstation/code/modules/mob/living/voice_types.dm
Labels: DME Edit, Feature, tgui

#22631 Updates the description on some darkspawn things to improve clarity
  yogstation/code/modules/antagonists/darkspawn/darkspawn_abilities/core_abilities.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_abilities/thrall_spells.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_abilities/warlock_abilities.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_objects/warlock_staff.dm
  yogstation/code/modules/antagonists/darkspawn/darkspawn_upgrades/utility_upgrades.dm
Labels: Fix

#22648 Speech sounds are no longer global to ghosts
  code/modules/mob/living/say.dm
Labels: Fix, Awaiting - Merge

#22647 Assorted stripping fixes
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/elements/strippable.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/carbon/human/human_stripping.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/pai/pai_defense.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
Labels: Fix

#22632 Gives the Vatra M38 a 10% chance to spawn in as a silver plated version
  code/modules/projectiles/guns/ballistic/pistol.dm
  icons/obj/guns/projectile.dmi
Labels: Feature, Sprites

#22645 Fixes lavaland artillery mainframe access
  code/game/machinery/sci_bombardment.dm
Labels: Fix

#22638 Fixes a maint door having wrong access
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#22655 Adds a mining voucher to the free miner cockpit
  _maps/shuttles/whiteship_miner.dmm
Labels: Mapping, Awaiting - Merge

#22656 [Meta] fixes slight mapping error in gulag
  _maps/map_files/IceMeta/IceMeta.dmm
Labels: Mapping, Awaiting - Merge

#22649 Reduces asclepius snake bite damage
  code/datums/status_effects/buffs/buffs.dm
Labels: Tweak, Awaiting - Merge

#22654 Makes Admin Cryo verb better
  code/game/machinery/cryopod.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Feature, Admin, Awaiting - Merge

#22600 Coral engine tweaks + fix
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
Labels: Tweak, Fix, Awaiting - Merge

#22601 Door remote glowup
  code/game/objects/items/devices/camera_bug.dm
  code/game/objects/items/door_remote.dm
  icons/obj/remote.dmi
  sound/items/attributions.txt
  sound/items/door_remote.ogg
  yogstation.dme
Labels: DME Edit, Sound, Sprites

#22620 add sprites for combat gloves
  code/datums/martial/krav_maga.dm
  code/modules/clothing/gloves/miscellaneous.dm
  icons/mob/clothing/hands/hands.dmi
  icons/obj/clothing/gloves.dmi
  yogstation/code/modules/jungleland/ghost_role_spawners.dm
Labels: Sprites

#22653 Actually fixes the shuttle autocalling
  code/controllers/subsystem/shuttle.dm
Labels: Fix
