Repository yogstation13/Yogstation, pull requests merged in 2024-11, with the labels that each got.

#22784 Fixes lizard sprites
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/effects/clothing.dmi
  icons/mob/human_parts_greyscale.dmi
  icons/mob/mutant_bodyparts.dmi
Labels: Sprites

#22788 Fixes NT diagnostics & troubleshooting app toggle comms button
  tgui/packages/tgui/interfaces/NtosNetMonitor.js
Labels: Fix, tgui, Javascript

#22785 [GAX] Adds missing animals to bar and kitchen
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Mapping

#22781 Fixes random body preferences menu imploding
  tgui/packages/tgui/interfaces/PreferencesMenu/RandomizationButton.tsx
Labels: Fix, tgui

#22780 Makes mentorwho explain mhelps are seen in discord too
  yogstation/code/modules/mentor/mentor_verbs.dm
Labels: Tweak

#22793 Deletes miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
Labels: Fix

#22792 Throws gateway maps into a bottomless pit
  _maps/RandomZLevels/Cabin.dmm
  _maps/RandomZLevels/TheBeach.dmm
  _maps/RandomZLevels/caves.dmm
  _maps/RandomZLevels/challenge.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/spacebattle.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/RandomZLevels/wildwest.dmm
  _maps/shuttles/snowdin_excavation.dmm
  _maps/shuttles/snowdin_mining.dmm
  config/awaymissionconfig.txt
Labels: Mapping, Config

#22798 actually fixes traitor backstories bluescreening if you have martyr or hijack
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Fix

#22789 Makes goliath hide boat able to survive liquid plasma
  code/modules/vehicles/lavaboat.dm
Labels: Tweak

#22782 Xenobio armblade text change + minor changeling fix
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: Fix

#22796 Makes the NTSL traffic console no longer save on pressing ENTER, replaces x.len with length(x) in the scripting module
  tgui/packages/tgui/interfaces/NtslEditor.js
  yogstation/code/modules/scripting/Implementations/logic.dm
  yogstation/code/modules/scripting/Implementations/telecomms_translator.dm
  yogstation/code/modules/scripting/Parser/Expressions.dm
  yogstation/code/modules/scripting/Parser/Keywords.dm
  yogstation/code/modules/scripting/Parser/Parser.dm
  yogstation/code/modules/scripting/stack.dm
Labels: Tweak, tgui, Javascript

#22778 adds a hopdrobe no merge conflicts please
  _maps/map_files/DonutStation/DonutStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/IceMeta/IceMeta.dmm
  _maps/map_files/ManateeStation/ManateeStation.dmm
  _maps/map_files/MiniStation/MiniStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/vending/wardrobes.dm
  icons/obj/vending.dmi
Labels: Feature, Tweak, Mapping, Sprites

#22804 [ALL MAPS] Adds vox breathing masks and nitrogen tanks to cloning
  _maps/map_files/DonutStation/DonutStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/IceMeta/IceMeta.dmm
  _maps/map_files/ManateeStation/ManateeStation.dmm
  _maps/map_files/MiniStation/MiniStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping, Awaiting - Merge

#22815 Adds object sprites to CTF armor
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/obj/clothing/hats/hats.dmi
  icons/obj/clothing/suits/suits.dmi
Labels: Fix, Sprites

#22768 [ALL MAPS] Adds an inspector booth to the HoP's office beside the desk
  _maps/map_files/DonutStation/DonutStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/IceMeta/IceMeta.dmm
  _maps/map_files/ManateeStation/ManateeStation.dmm
  _maps/map_files/MiniStation/MiniStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Tweak, Mapping, Fix

#22809 [Admin] VV will no longer give you nuisance alerts about getting anything from the same Z-level if you don't have +FUN
  code/modules/admin/topic.dm
Labels: Fix, Admin

#22817 Makes supermatter bin fireproof
  code/game/objects/items/theft_tools.dm
Labels: Tweak

#22818 Fixes NTOS AI app access
  code/modules/modular_computers/file_system/programs/ai_network/_ai_network_program.dm
Labels: Fix

#22819 Refactors timed actions + hydraulic clamp fix
  code/__DEFINES/dcs/signals/signals_mob/signals_mob.dm
  code/__HELPERS/mobs.dm
  code/datums/progressbar.dm
  code/game/atoms_movable.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/objects/items.dm
  code/modules/modular_computers/computers/item/computer.dm
Labels: Fix

#22820 Fixes sentient creature not getting the right candidates
  code/modules/events/ghost_role/sentience.dm
Labels: Fix

#22823 Fix TGUI choice dialog not respecting the default option
  tgui/packages/tgui/interfaces/ListInput.js
Labels: Fix, tgui, Javascript
