Repository yogstation13/Yogstation, pull requests merged in 2024-01, with the labels that each got.

#21153 fixes fire extinguisher icons
  icons/obj/tools.dmi
Labels: Sprites

#21130 Gives ethereals special eyes
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/login.dm
  code/modules/surgery/organs/eyes.dm
  icons/obj/surgery.dmi
Labels: Tweak, Sprites

#21197 Removes ERP Ion Law Potential
  strings/yogs_ion_laws.json
Labels: Tweak

#21190 Actually fixes footstep sounds
  code/__DEFINES/dcs/signals/signals_turf.dm
  code/datums/elements/footstep.dm
  code/datums/elements/footstep_override.dm
Labels: Fix

#21188 Chat reliability layer
  code/__DEFINES/chat.dm
  code/controllers/subsystem/chat.dm
  code/datums/chat_payload.dm
  code/modules/research/designs.dm
  code/modules/tgchat/to_chat.dm
  tgui/packages/tgui-panel/chat/middleware.js
  yogstation.dme
Labels: DME Edit, Fix, tgui, Javascript

#21192 Printed IPCs no longer have human names
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#21189 [GAX] Fixes some issues in disposals area
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Mapping

#21201 Alcoholism wins again (Slurring nerf)
  code/datums/status_effects/debuffs/drunk.dm
Labels: Feature, Revert / Deletion

#21177 Polysmorphs can crawl slightly faster
  code/modules/surgery/organs/tails.dm
Labels: Tweak, Balance Council Approved

#21186 Makes the reactor and supermatter crystal less unstable
  code/controllers/subsystem/air_machinery.dm
Labels: Fix

#21203 Updates the storage implant's button sprite
  icons/obj/implants.dmi
Labels: Sprites

#21206 Moonshine is too good for the eyes
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Feature

#21214 [BOX] Fixes railings in bar
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#21161 [IceMeta] Fixes and reenables Icemoon Walkers
  _maps/RandomRuins/IceRuins/icemoon_surface_walkervillage.dmm
  config/iceruinblacklist.txt
Labels: Mapping, Config

#21222 [IceMeta] Inn vendor fixes
  _maps/RandomRuins/IceRuins/icemoon_surface_inn.dmm
Labels: Mapping, Fix

#21215 FIXES MISTAKES TO BOX LAWOFFICE
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping, Fix

#21195 Totally normal new mining mob PR here
  code/datums/mapgen/Cavegens/IcemoonCaves.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ambusher.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/reagent_containers/bottle.dm
  icons/mob/icemoon/icemoon_monsters.dmi
  icons/obj/food/food.dmi
  yogstation.dme
Labels: DME Edit, Feature, Sprites

#21226 fixes rating polls
  code/modules/mob/dead/new_player/poll.dm
Labels: Fix

#21165 Updates maintainer list ingame and thanks more stations
  html/templates/header.html
Labels: Tweak

#21200 Gives plasmamen plasma remains when dusting
  code/game/objects/effects/decals/remains.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: Feature

#21218 Physiology Siemens Coeff is now accounted for when getting shocked
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Fix

#21219 Override Machine and Overload Machine Abilities Now Work
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
Labels: Fix

#21225 Airalarm tweaks
  code/modules/atmospherics/machinery/airalarm.dm
Labels: Tweak

#20999 Hides Asay and Dsay for non-admins
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/deadsay.dm
Labels: Fix, Admin

#21223 Adjusts how morphine affects the body
  code/game/machinery/Sleeper.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Tweak

#21217 Ammo box description properly updates with how much bullets are left
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
Labels: Fix

#21233 FIx preset programs arent installed in pda/phone
  code/modules/modular_computers/computers/item/pda/pda_presets.dm
  code/modules/modular_computers/computers/item/phone/phone_presets.dm
  code/modules/modular_computers/hardware/hard_drive.dm
Labels: Fix

#21245 Fixes chat not always showing up in replays
  code/controllers/subsystem/chat.dm
Labels: Fix

#21257 [BUGFIX] Fixes Decals Not Showing Up Roundstart
  code/game/objects/effects/decals/decal.dm
Labels: Fix

#21244 Adds Waiting For The Sun (Rimworld OST) to jukebox
  config/jukebox_music/LICENSE.txt
  config/jukebox_music/sounds/WaitingForTheSun+1900+5.ogg
Labels: Feature, Config, Sound

#21259 You can now place items on the Altar of the Gods
  _maps/RandomRuins/LavaRuins/lavaland_surface_meteorite.dmm
  _maps/RandomRuins/StationRuins/BoxStation/chapel1.dmm
  _maps/RandomRuins/StationRuins/BoxStation/chapel2.dmm
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/DonutStation/DonutStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/IceMeta/IceMeta.dmm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/religion/religion_structures.dm
Labels: Tweak, Mapping

#21256 Makes the chat message from losing obsession more visible
  code/modules/antagonists/creep/creep.dm
Labels: Tweak

#21260 [IceMeta] adds stairs
  _maps/map_files/IceMeta/IceMeta.dmm
  code/game/objects/structures/stairs.dm
  code/game/turfs/openspace/openspace.dm
  icons/obj/stairs.dmi
Labels: Mapping, Sprites

#21264 Bring back Raven cruiser emergency shuttle
  code/datums/shuttles.dm
Labels: Feature, Mapping

#21271 Fix invisible netmin wintercoat hood
  yogstation/code/modules/clothing/suits/miscellaneous.dm
Labels: Fix

#21261 Fixes regenerative cores having a delay on icemoon
  code/modules/mining/equipment/regenerative_core.dm
Labels: Fix

#21250 [PORT] New bluespace harvester sprite from paradise and tweak
  code/modules/goals/station_goals/bluespace_tap.dm
  icons/obj/machines/bluespace_tap.dmi
Labels: Tweak, Sprites

#21273 mammi and pea soup need bowls to craft
  code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
  code/modules/holiday/easter.dm
Labels: Tweak

#20980 "Small" tweak to antag kill objectives
  code/game/gamemodes/objective.dm
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Feature, Tweak, Awaiting - Action - HD, Balance Council Approved

#21202 slight tweaks to the solo kit
  code/game/objects/items/storage/uplink_kits.dm
Labels: Tweak, Balance Council Approved

#21289 Imperial jumpsuits can no longer be adjusted because there isn't a sprite for it
  code/modules/clothing/outfits/imperial.dm
Labels: Fix

#21285 Buffs atmos vents, and other changes to atmos
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/air_machinery.dm
  code/game/machinery/airlock_cycle_control.dm
  code/game/machinery/computer/atmos_control.dm
  code/game/machinery/electrolyzer.dm
  code/game/machinery/spaceheater.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/other/meter.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
  code/modules/mob/living/silicon/ai/decentralized/_ai_machinery.dm
  code/modules/power/generator.dm
  code/modules/power/reactor/reactor.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/turbine.dm
  yogstation.dme
Labels: DME Edit

#21234 Fixes a small runtime with new blood decals
  code/modules/mob/living/blood.dm
Labels: Fix

#21248 Shooting a Cyborg Snack Dispenser in zero gravity properly pushes you in the opposite direction
  code/game/objects/items/robot/robot_items.dm
Labels: Fix

#21272 removes line from sith cloak
  yogstation/icons/mob/clothing/neck/neck.dmi
Labels: Sprites

#21311 Fixes cold fusion reaction not setting analyzer results properly
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Fix

#21310 Feed me harry
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
Labels: Feature

#21298 Typing indicator tweaks + typing indicator override element
  code/__DEFINES/dcs/signals/signals_mob/signals_living.dm
  code/__DEFINES/say.dm
  code/datums/elements/speech_bubble_override.dm
  code/modules/antagonists/blob/blob_mobs.dm
  code/modules/antagonists/clockcult/clock_mobs.dm
  code/modules/antagonists/nukeop/equipment/borgchameleon.dm
  code/modules/clothing/under/accessories.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/polysmorphs.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/living/simple_animal/friendly/drone/extra_drone_types.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/mob/mob_defines.dm
  code/modules/swarmers/swarmer.dm
  icons/mob/talk.dmi
  yogstation.dme
  yogstation/code/modules/guardian/guardian.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/darkspawn.dm
  yogstation/code/modules/mob/say.dm
  yogstation/icons/mob/talk.dmi
Labels: DME Edit, Tweak, Sprites

#21297 [FIX] Actually gives the "faded eyepatch" the night vision in it's description
  code/modules/clothing/glasses/_glasses.dm
Labels: Fix

#21293 Mindmachine UI correctly updates when person is ejected while UI is still visible
  code/game/machinery/mindmachine.dm
Labels: Fix

#21319 Fixes MFA backup codes not working
  code/modules/admin/mfa.dm
Labels: Fix, Admin

#21314 pizzas need mozzarella to craft
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pizza.dm
Labels: Tweak

#21323 Fixes budget insulating gloves melting when placing unpowered cables
  code/modules/clothing/gloves/color.dm
  code/modules/power/power.dm
Labels: Fix

#21316 [""""BUGFIX"""] Makes it so you cannot have infinite money selling syrup from cargo after ordering it.
  code/modules/cargo/packs.dm
Labels: Fix

#21312 adds bonesetter to battleroyal medical loot (ided)
  yogstation/code/game/gamemodes/battle_royale/loot.dm
Labels: Tweak

#21283 UPDATE byond_version_combat FILE
  code/__byond_version_compat.dm
Labels: Tweak

#21287 Launch into Dream Seeker directly
  .vscode/launch.json
Labels: Tweak

#21268 fixes some issues with mime fingerguns
  code/modules/spells/spell_types/pointed/finger_guns.dm
Labels: Fix

#21299 Fixes Lasombra clan favorite vassal & eye examine
  code/modules/antagonists/bloodsuckers/clans/clan_lasombra.dm
Labels: Fix

#21303 Live xeno aliens on station level now generate research
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/life.dm
Labels: Tweak, Awaiting - Action - Testing

#21274 Adds option to spawn item in storage
  code/__DEFINES/vv.dm
  code/game/objects/items/storage/storage.dm
Labels: Feature, Awaiting - Action - Testing

#21327 Increases the value of limb loss/skeletonization in brazil & should prevent people getting stuck
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
Labels: Tweak, Fix

#21300 Buffs and nerfs monk staff null rod slightly
  code/game/objects/items/holy_weapons.dm
Labels: Tweak, Balance Council Approved

#21249 Mediborg Gripper can hold more things
  code/game/objects/items/robot/robot_items.dm
Labels: Tweak, Balance Council Approved

#21313 fixes mime's mail cheesewheel being invisible
  code/modules/jobs/job_types/mime.dm
Labels: Fix

#21318 Raw croissants need raw pastry bases
  code/game/objects/items/granters/crafting/desserts.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
Labels: Feature, Tweak, Fix, Revert / Deletion

#21301 FUCK YOU. NERFS CLUWN CURSE
  yogstation/code/modules/spells/spell_types/pointed/cluwnecurse.dm
Labels: Tweak

#21267 Nightshift lights now actually consume less power
  code/modules/power/lighting.dm
Labels: Tweak, Revert / Deletion

#21284 Gives Mr Freeze syndikit a frost oil chem sprayer
  code/datums/components/wet_floor.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/reagents/reagent_containers/spray.dm
Labels: Feature

#21251 Cyborg engineering gripper can now hold server rack and cpu
  code/game/objects/items/robot/robot_items.dm
Labels: Tweak, Balance Council Approved

#21235 Shitcurity uniform now has fucking armor
  code/modules/clothing/under/jobs/security.dm
  code/modules/vending/wardrobes.dm
  yogstation/code/modules/clothing/under/miscellaneous.dm
Labels: Tweak

#21305 Makes the beam rifle's code less bad
  code/__DEFINES/projectiles.dm
  code/datums/martial/ultra_violence.dm
  code/game/objects/items/flamethrower.dm
  code/game/objects/structures/reflector.dm
  code/modules/antagonists/eldritch_cult/eldritch_gun.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/projectiles/attachments/laser_sight.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/projectiles/projectile/bullets/sniper.dm
  yogstation.dme
Labels: DME Edit, Tweak, Fix

#21292 Remove's Borgs from BR
  yogstation/code/game/gamemodes/battle_royale/loot.dm
Labels: Revert / Deletion, Balance Council Approved

#21252 Sinful Demon jaunt abilities
  code/modules/antagonists/demon/demons.dm
  code/modules/antagonists/demon/general_powers.dm
  code/modules/antagonists/demon/sins/wrath.dm
Labels: Feature

#21334 seafood ingredients box
  code/game/objects/items/storage/boxes.dm
Labels: Feature
