Repository yogstation13/Yogstation, pull requests merged in 2024-03, with the labels that each got.

#21406 Romans 12:19: Do not take revenge, my dear friends, but leave room for God’s wrath... - Hugboxed Donksoft Vendors
  code/__DEFINES/ammo.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/projectiles/ammunition/reusable/foam.dm
  code/modules/projectiles/boxes_magazines/external/toy.dm
  code/modules/projectiles/boxes_magazines/internal/toy.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  code/modules/vending/toys.dm
Labels: Feature, Awaiting - Action - Balance Review, Awaiting - Action - Testing

#21575 [BOX] Fixes the misplaced decal I'm looking at fuck
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#21570 [BOX] Library decal adjustments
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#21565 Properly updates special eye colour upon insert and removal
  code/modules/surgery/organs/eyes.dm
Labels: Fix, Awaiting - Action - Testing

#21566 [DONUT] Fixes psych not having a spawnpoint
  _maps/map_files/DonutStation/DonutStation.dmm
Labels: Mapping

#21418 NT employees have finally regained the cognitive ability to change books.
  code/modules/library/lib_items.dm
Labels: Fix, Awaiting - Action - Testing

#21591 [DONUT] Adds some stuff to engi, reorganizes SMES room
  _maps/map_files/DonutStation/DonutStation.dmm
Labels: Mapping

#21537 attack visual effect is based on species instead of attack verb text
  code/datums/martial.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/species_types/eggpeople.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/polysmorphs.dm
  code/modules/mob/living/carbon/human/species_types/snail.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
Labels: Tweak

#21548 unbound keys dont print message to chat
  code/modules/client/preferences_savefile.dm
Labels: Tweak

#21589 Blob now generate research points/money if contained in containment field, and slight tweaks to blob
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/blob/structures/core.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_delamination.dm
Labels: Tweak, Balance Council Approved

#21580 Fixes a runtime that allows infinite duping of possessed sword nullrods
  code/game/objects/items/holy_weapons.dm
Labels: Fix

#21606 Updates Hub Information as per Council Vote 1052
  yogstation/code/game/world.dm
Labels: Tweak, DO NOT MERGE

#21596 photocopier butt sprite refactor from tg
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/species_types/abductors.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/polysmorphs.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/paperwork/photocopier.dm
  code/modules/surgery/organs/tails.dm
  icons/ass/assalien.png
  icons/ass/asscat.png
  icons/ass/assdrone.png
  icons/ass/assfemale.png
  icons/ass/assmale.png
  icons/mob/butts.dmi
  yogstation/code/modules/mob/living/carbon/human/species_types/plantpeople.dm
Labels: Feature, Sprites, Fetish Content

#21587 Readd Drunken Resilience's effect because we forgot it existed for a brief minute
  code/datums/status_effects/debuffs/drunk.dm
Labels: Feature, Balance Council Approved

#21604 Healium now heals oxy damage
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Tweak

#21562 New wizard spell, scrunch
  code/modules/antagonists/wizard/equipment/spellbook_entries/offensive.dm
  code/modules/spells/spell_types/pointed/scrunch.dm
  yogstation.dme
Labels: DME Edit, Feature, Balance Council Approved

#21522 updates seismic arm with minor dmc reference (and fixes big bug oversight)
  code/datums/martial/reverbpalm.dm
Labels: Tweak, Fix

#21605 (minor colton ops spoilers) adds a sprite for the mappers.
  code/game/objects/structures/fluff.dm
  icons/obj/3x3.dmi
Labels: Sprites

#21609 Fixes a bug where mood wasn't properly forced for everyone
  config/game_options.txt
  yogstation/code/controllers/subsystem/processing/quirks.dm
Labels: Config, Fix

#21118 Traitor AI's 20 Nonexistent TCs just for an AI Camera Laser Gun
  code/game/objects/items/robot/ai_upgrades.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/mob/living/silicon/ai/decentralized/management/ai_controlpanel.dm
  code/modules/projectiles/projectile.dm
Labels: Feature, Fix, Balance Council Approved

#21309 Mmmmm, smash head with plank
  code/game/objects/items/holy_armours.dm
  icons/mob/clothing/head/head.dmi
  icons/mob/clothing/suit/suit.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/hats/hats.dmi
  icons/obj/clothing/suits/suits.dmi
Labels: Feature, Sprites, Balance Council Approved

#21590 [META] Fixes some decals and issues with the TEG
  _maps/RandomRuins/StationRuins/MetaStation/meta_teg.dmm
  _maps/map_files/IceMeta/IceMeta.dmm
Labels: Mapping

#21617 Changes the description of the Elder Atmosian statue
  code/game/objects/structures/statues.dm
Labels: Tweak

#21546 Adds the plasmaman security envirosuit and helmet to the SecDrobe
  code/modules/vending/wardrobes.dm
Labels: Feature

#21599 Adds some hawaiian themed foods and other items
  code/game/objects/items/devices/flashlight.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/food/snacks_soup.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_drink.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
  code/modules/hydroponics/grown/berries.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/vending/megaseed.dm
  icons/obj/drinks.dmi
  icons/obj/food/food.dmi
  icons/obj/food/soupsalad.dmi
  icons/obj/hydroponics/growing_fruits.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  yogstation/code/modules/clothing/under/miscellaneous.dm
  yogstation/code/modules/crafting/recipes.dm
  yogstation/icons/mob/clothing/uniform/uniform.dmi
  yogstation/icons/obj/clothing/uniforms.dmi
  yogstation/icons/obj/items.dmi
Labels: Feature, Sprites

#21618 Lizards, polysmorphs, and skeletons now actually make clacky step noises.
  code/datums/elements/footstep.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/polysmorphs.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
Labels: Tweak

#21627 in-hand sprites for pocket fire extinguisher are correct now
  icons/obj/tools.dmi
Labels: Fix, Sprites

#21619 Adds disposals to cargo shuttle blacklist
  code/modules/cargo/console.dm
  code/modules/shuttle/supply.dm
Labels: Fix

#21625 Skin twister ided
  yogstation/code/modules/jungleland/jungle_mobs.dm
Labels: Tweak

#21645 Jaunters once again activate in non-belt slots
  code/datums/components/chasm.dm
Labels: Fix

#21644 stops non-existent mail from halting shuttle
  code/game/objects/items/mail.dm
Labels: Fix

#21632 Button frame sprite
  code/game/machinery/buttons.dm
  icons/obj/frame.dmi
  icons/obj/stationobjs.dmi
Labels: Sprites

#21637 Reduces the chance for rare and joke title screens
  code/controllers/subsystem/title.dm
Labels: Tweak

#21629 Gives some old roles new PDAs and cleans out some using the old ones
  code/game/gamemodes/clown_ops/clown_ops.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/antagonists/traitor/equipment/contractor.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/jobs/job_types/centcom.dm
  code/modules/modular_computers/computers/item/pda/pda_presets.dm
  code/modules/modular_computers/file_system/programs/paperworkprinter.dm
  yogstation/code/modules/antagonists/infiltrator/outfit.dm
Labels: Feature, Tweak

#21643 Update simple mob appearance on death
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix

#21648 Multi-Z radio messages
  code/game/machinery/telecomms/broadcasting.dm
  code/game/machinery/telecomms/machines/broadcaster.dm
  code/game/machinery/telecomms/machines/message_server.dm
  code/game/machinery/telecomms/machines/relay.dm
  code/game/objects/items/devices/radio/radio.dm
Labels: Fix

#21647 Multi-Z crew monitoring
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/controllers/subsystem/processing/nanites.dm
  code/game/data_huds.dm
  code/game/machinery/computer/crew.dm
  code/game/objects/items/pinpointer.dm
  code/modules/modular_computers/file_system/programs/radar.dm
  code/modules/research/nanites/nanite_programs/utility.dm
Labels: Fix

#21636 [IceMeta] Tweaks engine weight
  yogstation/code/game/objects/effects/landmarks.dm
Labels: Tweak

#21563 Resprites Pride Pins and adds a few More
  code/modules/clothing/under/accessories.dm
  icons/mob/clothing/accessories.dmi
  icons/obj/clothing/accessories.dmi
Labels: Feature, Tweak, Sprites

#21638 Joe the goliath no longer resists being pulled
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
Labels: Tweak

#21608 Makes the night vision quirk work again
  code/datums/traits/good.dm
  code/modules/mob/mob.dm
Labels: Fix

#21650 Adjusts the minor filter for Auxmos
  config/minor_filter.txt
Labels: Tweak, Config

#21653 Fixes a bunch of runtimes and fixes job occupations failing to load and punting you into a random job
  code/controllers/subsystem/ticker.dm
  code/datums/wounds/scars/_scars.dm
  code/modules/mining/machine_vending.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/surgery/organs/stomach.dm
Labels: Fix

#21654 Multi-Z chasm fix
  code/datums/components/chasm.dm
  code/game/turfs/open/chasm.dm
Labels: Fix

#21610 Tweaks mood
  code/datums/components/mood.dm
  config/game_options.txt
Labels: Tweak, Config, Awaiting - Action - HD

#21611 Fixes/Reverts NanoMed sprite + kills two unused machine sprites
  code/modules/vending/medical_wall.dm
  icons/obj/vending.dmi
Labels: Fix, Sprites

#21616 Adds the Colton statue to the CC Testing Chamber
  _maps/map_files/generic/CentCom.dmm
Labels: Mapping

#21621 [META] Fixes one more decal
  _maps/map_files/IceMeta/IceMeta.dmm
Labels: Mapping

#21631 Updates mining medic jumpsuit to use proper armour defines
  yogstation/code/modules/clothing/under/jobs/civilian.dm
  yogstation/code/modules/jobs/job_types/brig_physician.dm
Labels: Fix

#21633 Tweak mining medic jackets to have comparable armour to an unupgraded explorer suit
  yogstation/code/modules/clothing/suits/labcoat.dm
Labels: Tweak

#21639 Reworks the cursed ice hiking boots
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
Labels: Tweak

#21658 Fixes a bug with the dryad crusher trophy
  yogstation/code/modules/jungleland/jungle_items.dm
Labels: Fix

#21568 [BOX] Fixes a couple mapping errors
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#21641 Fix maroon organ objective mulligan
  code/game/gamemodes/objective.dm
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Fix

#21649 gas
  code/game/objects/effects/contraband.dm
  icons/obj/contraband.dmi
Labels: Feature, Sprites

#21656 Fixes a couple issues with hawaiian stuff
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/hydroponics/grown/berries.dm
  yogstation/code/modules/clothing/under/miscellaneous.dm
Labels: Fix

#21659 Gives traitors a chance to not get an escape objective
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Tweak

#21666 fix decal being transparent when applied with decal painter
  code/game/objects/items/airlock_painter.dm
Labels: Fix

#21660 Fixes casino slots being invisible
  yogstation/code/game/objects/structures/bar_stuff/bar_stuff.dm
  yogstation/icons/obj/special_slot_machine.dmi
Labels: Fix, Sprites

#21661 Window knocking code update and fix paperframe windows being invisible
  code/__DEFINES/sound.dm
  code/game/objects/structures/window.dm
  sound/effects/glassbash.ogg
Labels: Feature, Sound, Fix

#21602 Maybe fixes a bug with disposal pipes qdeleting people
  code/modules/recycling/disposal/pipe.dm
Labels: Fix

#21687 Fixes invisible carpets and clockwork grilles
  code/game/objects/structures/grille.dm
  code/game/turfs/open/_open.dm
Labels: Fix

#21674 fixes prison jumpsuit sprite not showing up
  code/modules/clothing/under/miscellaneous.dm
Labels: Fix

#21673 stops hulk from screaming over radio
  code/game/turfs/closed/walls.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/projectiles/projectile/energy/stun.dm
  code/modules/projectiles/projectile/reusable/arrow.dm
  code/modules/projectiles/projectile/special/hallucination.dm
Labels: Tweak

#21676 Fixes regen cerulean extract getting null effect description
  code/modules/research/xenobiology/crossbreeding/regenerative.dm
Labels: Fix

#21678 Fixes cargo shuttle blast doors/buttons
  code/game/machinery/buttons.dm
  code/game/machinery/doors/poddoor.dm
Labels: Fix

#21584 lava fishin'
  code/game/turfs/open/lava.dm
  yogstation/code/datums/components/fishable.dm
Labels: Feature, Tweak, Fix, Revert / Deletion, Balance Council Approved

#21686 [Asteroid] Redoes Atmos Pumping Room Vents & Scrubbers
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Mapping, Fix

#21597 [DONUT] Fixes some issues
  _maps/map_files/DonutStation/DonutStation.dmm
Labels: Mapping

#21685 [Box & Gax] Armory cams can be seen on the list once again
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping, Fix

#21681 Fixes the space pirate's data siphon disappearing when activated
  code/modules/events/pirates.dm
Labels: Fix

#21682 Fixes "telecommunications mainframe" being invisible
  code/game/machinery/telecomms/machines/allinone.dm
Labels: Fix

#21689 Fixes bamboo walls and floors looking like VOID
  code/game/turfs/closed/wall/mineral_walls.dm
  code/game/turfs/open/floor/fancy_floor.dm
Labels: Fix

#21683 Fixes(?) meatspike frame not needing to be anchored when finishing
  code/game/objects/structures/kitchen_spike.dm
Labels: Fix

#21688 Moves two xeno spawns out of public areas
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping, Fix

#21697 changes saturation on med and engie circuit boards, fix missing sprite
  code/__DEFINES/colors.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Fix

#21692 Fixes wirecutter blood sprites + missing sprites
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/inhands/equipment/tools_lefthand.dmi
  icons/mob/inhands/equipment/tools_righthand.dmi
  icons/obj/abductor.dmi
  icons/obj/improvised.dmi
Labels: Fix, Sprites

#21680 [ALL MAPS] Fixes a bunch of wrong access requirements in engineering
  _maps/RandomRuins/StationRuins/BoxStation/engine_reactor.dmm
  _maps/RandomRuins/StationRuins/BoxStation/engine_singulo_tesla.dmm
  _maps/RandomRuins/StationRuins/BoxStation/engine_sm.dmm
  _maps/RandomRuins/StationRuins/BoxStation/engine_teg.dmm
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/DonutStation/DonutStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/IceMeta/IceMeta.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping, Fix

#21665 Redesigns the tar king's arena
  _maps/RandomRuins/JungleRuins/jungleland_dead_tartemple.dmm
  _maps/RandomRuins/JungleRuins/jungleland_tar_king.dmm
  yogstation.dme
  yogstation/code/datums/ruins/jungle.dm
  yogstation/code/datums/ruins/jungle_fluff.dm
Labels: DME Edit, Mapping

#21265 The Service Hall now has its own access type, and Artists can get in
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
  _maps/map_files/DonutStation/DonutStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/IceMeta/IceMeta.dmm
  _maps/map_files/YogStation/YogStation.dmm
  code/__DEFINES/access.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/artist.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/mime.dm
Labels: Feature, Tweak, Mapping, Awaiting - Action - Map Review

#21705 Cargo shuttle now properly says it will arrive in 30 seconds instead of 1 minute
  code/modules/cargo/console.dm
Labels: Fix

#21707 Fixes cherry bulbs not having a harvest sprite
  code/modules/hydroponics/grown/berries.dm
Labels: Fix

#21706 multiz playsound
  code/game/sound.dm
Labels: Feature

#21708 Fixes water cookies tasting like /datum/reagent/water like what the hell really man how do you do that
  code/modules/research/xenobiology/crossbreeding/consuming.dm
Labels: Fix

#21704 Fixes PDA screens not fitting correctly
  icons/obj/modular_pda.dmi
Labels: Fix, Sprites

#21714 Fixes quirks STILL being reset randomly along with jobs + reverts 21541 and partially 21653
  code/controllers/subsystem/processing/quirks.dm
  code/controllers/subsystem/ticker.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: Fix

#21025 Sweeping Melee Attacks
  code/__DEFINES/dcs/signals/signals_object.dm
  code/__DEFINES/traits/declarations.dm
  code/datums/components/cleave_attack.dm
  code/datums/martial/sleeping_carp.dm
  code/game/mecha/equipment/weapons/melee_weapons.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/singularityhammer.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/two_handed/baseball_bat.dm
  code/game/objects/items/two_handed/chainsaw.dm
  code/game/objects/items/two_handed/dualsaber.dm
  code/game/objects/items/two_handed/fireaxe.dm
  code/game/objects/items/two_handed/highfrequencyblade.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/grille.dm
  code/modules/antagonists/blob/structures/_blob.dm
  code/modules/antagonists/clockcult/clock_items/clock_weapons/battlehammer.dm
  code/modules/antagonists/clockcult/clock_items/clock_weapons/longsword.dm
  code/modules/events/spacevine.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/surgery/tools.dm
  icons/effects/96x96.dmi
  yogstation.dme
  yogstation/code/game/objects/items/wielded/big_spoon.dm
  yogstation/code/game/objects/items/wielded/sledgehammer.dm
  yogstation/code/game/objects/items/wielded/vxtvulhammer.dm
Labels: DME Edit, Feature, Sprites, Test Merge - Scheduled, Test Merge - Requested, Awaiting - Action - HD, Purgatory, Balance Council Approved

#21713 Fixes laptop screen overlays appearing while the laptop is closed
  code/modules/modular_computers/computers/item/laptop/laptop.dm
Labels: Fix

#21722 fixes some more GAGS related issues
  code/game/objects/items/tools/screwdriver.dm
  code/modules/atmospherics/machinery/portable/canister.dm
Labels: Fix

#21693 Adds a pop requirement to sleeping carp
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#21724 Fixes mouses dark vision
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Tweak

#21723 Fixes hilberts hotel
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
Labels: Fix

#21721 Lipid Extractor fixes & cleanup
  code/game/machinery/fat_sucker.dm
Labels: Tweak, Awaiting - Action - Testing

#21725 Fixes smart mines being broken
  code/game/objects/effects/mines.dm
Labels: Fix, Awaiting - Action - Testing

#21699 Allows traitorvamp to roll at lowpop
  yogstation/code/game/gamemodes/vampire/traitor_vamp.dm
Labels: Tweak

#21729 Fixes a typo in coffepack code
  code/game/objects/items/storage/boxes.dm
Labels: Fix

#21730 Cleans quirk code a little and possibly fixes a bug
  code/datums/traits/good.dm
  code/datums/traits/negative.dm
  code/datums/traits/neutral.dm
Labels: Fix

#21731 Vending machines no longer spark when their UI is open
  code/datums/wires/vending.dm
Labels: Fix

#21735 Fixes mouse cheese eating
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Fix

#21732 Filing cabinets can now accept tapes
  code/modules/paperwork/filingcabinet.dm
Labels: Tweak

#21736 Fixes a bug where the break machinery objective wouldn't complete until deleted objects went through garbage collection
  code/game/gamemodes/objective.dm
Labels: Fix

#21744 Chasms can no longer debrain IPCs
  code/datums/components/chasm.dm
Labels: Fix

#21738 [BOX] Fixes two firedoors in service maint
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#21739 [ASTEROID] Solves prisoners/wardens not being able to access a fridge in perma
  _maps/map_files/AsteroidStation/AsteroidStation.dmm
Labels: Mapping

#21733 Makes extinguishers slightly less broken
  code/__DEFINES/dcs/signals/signals_turf.dm
  code/controllers/subsystem/explosions.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/effects/effect_system/effects_water.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_foam.dm
  code/game/objects/effects/turf_fire.dm
  code/game/objects/items/extinguisher.dm
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/tanks/watertank.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets/_incendiary.dm
  code/modules/projectiles/projectile/reusable/arrow.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  yogstation/code/datums/martial/explosive_fist.dm
Labels: Fix

#21756 Better explanation text for the multi-z detail game setting
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/multiz_performance.tsx
Labels: Tweak, tgui

#21749 Fixes preternis cores not showing up if wearing something not covering the chest + jumpsuit alt mode fix
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#21754 Fixes preterni being unable to take RDS
  code/datums/traits/negative.dm
Labels: Fix

#21768 Fixes holotool light issue
  yogstation/code/game/objects/items/holotool/holotool.dm
Labels: Fix
