Repository yogstation13/Yogstation, pull requests merged in 2024-12, with the labels that each got.

#22824 disallows IPCs from using regenerative cores
  code/modules/mining/equipment/regenerative_core.dm
Labels: Tweak

#22827 Vox spawn with correct tank/mask pref
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/living/carbon/human/_species.dm
  yogstation/code/modules/mob/living/carbon/human/species_types/vox.dm
Labels: Fix

#22829 Adds lactose intolerance
  code/datums/traits/negative.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Feature, Tweak

#22836 Fixes some stuff I broke
  code/datums/components/storage/storage.dm
  code/datums/progressbar.dm
Labels: Fix

#22828 [s] Fixes cursed stomach vomitcrawl CC exploit
  yogstation/code/datums/components/crawl.dm
Labels: Fix

#22833 Ghost "Enable PDA notifications" setting will now function correctly
  code/__DEFINES/misc.dm
  code/__HELPERS/mobs.dm
  code/modules/modular_computers/file_system/programs/ntpda_msg.dm
Labels: Fix

#22834 Allows normal gasp emote to have sound too
  code/modules/mob/living/emote.dm
Labels: Feature

#22835 FIX FLUX FROM ROUND EVENT NOT EXPLODING
  code/modules/events/anomaly/anomaly.dm
Labels: Fix

#22844 renames bad camera in box chapel
  _maps/RandomRuins/StationRuins/BoxStation/chapel2.dmm
Labels: Mapping, Fix, Awaiting - Merge

#22847 [BOX] Fixes escape pod camera names
  _maps/map_files/YogStation/YogStation.dmm
Labels: Mapping

#22845 Remove repeated message chat badge animation that causes huge performance issue for low-end users and replaces it with flashing
  tgui/packages/tgui-panel/styles/components/Chat.scss
Labels: tgui, Javascript

#22854 Grinder will no longer allow you to swap containers while operating
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: Fix

#22852 Cooks now actually get paid from custom vending items
  code/modules/vending/_vending.dm
  tgui/packages/tgui/interfaces/Vending.js
Labels: tgui, Javascript

#22855 Fixes drag drop item transfers being broken
  code/game/atom/_atom.dm
Labels: Fix

#22859 Fixes space drugs popping in and out of drugginess
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
Labels: Fix

#22858 Replaces AI sprite with old AI sprite.
  icons/mob/ai.dmi
  icons/mob/landmarks.dmi
  yogstation/icons/mob/DonorRobots.dmi
Labels: Sprites

#22856 Should fix station goals never triggering
  yogstation/code/modules/storytellers/gamemode_subsystem.dm
Labels: Fix

#22853 Heads update properly
  code/modules/mob/living/carbon/update_icons.dm
Labels: Fix

#22860 [Admin] Makes set minetype verb more understandable
  yogstation/code/modules/admin/admin_verbs.dm
Labels: Tweak, Admin

#22861 Allows foam to spread through density objects
  code/game/objects/effects/effect_system/fluid_spread/effects_foam.dm
Labels: Feature

#22872 FIX ghost pda notifcations pref again (biomu moment)
  code/__HELPERS/mobs.dm
Labels: Fix

#22871 Deletes DIO AI, DIO Secborg
  yogstation/code/modules/donor/borg_ai_skin_datums.dm
  yogstation/icons/mob/DonorRobots.dmi
Labels: Sprites

#22867 Fix energy harvester not taking power in
  code/modules/power/energyharvester.dm
Labels: Fix

#22873 fix NTNET quantum relay sprite being invisible when disabled
  code/game/machinery/telecomms/ntnet_relay.dm
Labels: Fix

#22877 fix antenna mutator breaking loud voice
  code/modules/mob/living/say.dm
Labels: Fix

#22885 Deletes Nickvr poster
  code/game/objects/effects/contraband.dm
  icons/obj/contraband.dmi
Labels: Sprites

#22882 [admin] Changes orbit menu section title to mention that you can see all antagonists as admin
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit.js
Labels: Tweak, Admin, tgui, Javascript

#22875 Allows concealed weapon bay to hide melee mech weaponry
  code/game/mecha/mecha.dm
Labels: Tweak

#22869 Fix cannot click off mobs to let go in combat mode and throw mobs when in grab mode
  code/_onclick/click.dm
  code/modules/mob/living/living.dm
Labels: Fix

#22892 [s] Fixes powerfist being ranged with telekinesis
  code/_onclick/other_mobs.dm
  code/datums/components/riding.dm
  code/game/objects/items/powerfist.dm
Labels: Fix

#22890 Reenables night shift lighting in the config
  config/game_options.txt
Labels: Config, Fix

#22669 Makes Jungleland Good
  code/__DEFINES/colors.dm
  code/__DEFINES/maths.dm
  code/__DEFINES/say.dm
  code/datums/components/afterimage.dm
  code/game/objects/items/grenades/plastic.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_movement.dm
  yogstation/code/datums/components/walks.dm
  yogstation/code/modules/jungleland/jungle_alpha_mobs.dm
  yogstation/code/modules/jungleland/jungle_datums.dm
  yogstation/code/modules/jungleland/jungle_items.dm
  yogstation/code/modules/jungleland/jungle_mobs.dm
  yogstation/code/modules/jungleland/jungle_projectiles.dm
  yogstation/code/modules/jungleland/jungle_status_effects.dm
  yogstation/code/modules/jungleland/jungle_structures.dm
  yogstation/code/modules/jungleland/megafauna/tar_king.dm
  yogstation/icons/effects/32x48.dmi
Labels: Tweak, Fix, Sprites, Awaiting - Action - Testing

#22894 Fixes the tar king altar never spawning + slightly more tar
  yogstation/code/datums/mapgen/JungleGen.dm
  yogstation/code/datums/ruins/jungle.dm
Labels: Tweak, Fix

#22850 [PORT] uses bee's zlook instead of TGs
  code/modules/mob/living/living_movement.dm
  code/modules/mob/living/zlook.dm
  code/modules/mob/mob.dm
  yogstation.dme
Labels: DME Edit, Tweak

#22865 Mention Rule 3.7.3 when you spawn as a pyroclastic slime
  code/game/objects/effects/anomalies.dm
Labels: Feature

#22876 Suit storage unit and ADSU tweaks, bugfixes
  code/game/machinery/decontamination.dm
  code/game/machinery/suit_storage_unit.dm
Labels: Tweak, Fix

#22879 fix buster arm sometimes unable to slam people
  code/datums/martial/buster_style.dm
Labels: Fix

#22883 Personalized Santa gifts!
  code/game/objects/items/gift.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/clothing/outfits/event.dm
Labels: Tweak

#22888 Transfer votes
  code/controllers/subsystem/shuttle.dm
  code/datums/votes/transfer_vote.dm
  yogstation.dme
Labels: DME Edit, Feature, Tweak

#22825 Fixes a few mentor bugs
  code/modules/admin/holder2.dm
  yogstation/code/datums/world_topic.dm
  yogstation/code/modules/mentor/mentor_verbs.dm
  yogstation/code/modules/mentor/mentorpm.dm
Labels: Fix, Admin, Test Merge - Scheduled, TESTMERGED

#22915 Fixes xenos and monkeys being unable to strip
  code/datums/elements/strippable.dm
  code/modules/tgui/states/strip.dm
  yogstation.dme
Labels: DME Edit, Fix
