Repository yogstation13/Yogstation, pull requests merged in 2025-02, with the labels that each got.

#22974 Changes some parent calls to be cleaner, fixes the thick skin mutation not having proper safety checks
  code/datums/mutations/body.dm
  code/datums/mutations/radproof.dm
  code/datums/mutations/ravenous.dm
  code/datums/mutations/sapblood.dm
  yogstation/code/datums/mutations/alcohol.dm
Labels: Fix

#22975 Fixes transfer votes not increasing the vote percentage requirement at 2 hours 30 mins
  code/datums/votes/transfer_vote.dm
Labels: Fix

#22965 Merges l_leg and r_leg
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_village.dmm
  _maps/RandomRuins/StationRuins/maint/3x3/3x3_deltaorgantrade.dmm
  _maps/templates/shipbreaker/old_robotics.dmm
  code/datums/components/bloodysoles.dm
  code/datums/components/crafting/recipes.dm
  code/datums/status_effects/wound_effects.dm
  code/datums/traits/negative.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
  code/modules/antagonists/eldritch_cult/transmutations/ash_transmutations.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/research/designs/limbgrower_designs.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/bodyparts/helpers.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/vending/_vending.dm
Labels: Feature, Mapping

#22976 [All Maps except Meta] Gravity Generator room is no longer bolted by default
  _maps/map_files/DonutStation/DonutStation.dmm
  _maps/map_files/GaxStation/GaxStation.dmm
  _maps/map_files/ManateeStation/ManateeStation.dmm
  _maps/map_files/MiniStation/MiniStation.dmm
  _maps/map_files/YogStation/YogStation.dmm
Labels: Tweak, Mapping, Awaiting - Merge

#22978 [MINI] Expands Atmos distro, fixes some bad areas and incinerator problems
  _maps/map_files/MiniStation/MiniStation.dmm
Labels: Mapping

#22980 [Admin] Limits revive all verb to mobs with minds
  yogstation/code/modules/admin/admin_verbs.dm
Labels: Tweak

#22982 Revert #22849 and partially revert #22593
  tgui/packages/tgui-dev-server/package.json
  tgui/yarn.lock
Labels: Revert / Deletion, tgui, Dependencies

#22983 Gives security officers assigned to service access to the service hall
  code/modules/jobs/job_types/security_officer.dm
Labels: Tweak

#22985 Revert "Bump dompurify from 2.4.1 to 3.2.4 in /tgui (#22981)"
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui/package.json
  tgui/yarn.lock
Labels: Fix, tgui, Dependencies

#22992 Changes Gax's killroom freezer to the standard freezer used in slime killrooms
  _maps/map_files/GaxStation/GaxStation.dmm
Labels: Tweak, Mapping

#22990 Health implant no longer creates an empty action button
  code/game/objects/items/implants/implant_misc.dm
Labels: Tweak

#22991 Fix ratvar chameleon uniform not appearing
  code/modules/clothing/chameleon.dm
Labels: Fix

#22987 Fixes area issue in legion barracks ruin
  _maps/RandomRuins/LavaRuins/lavaland_surface_legionbarracks.dmm
Labels: Mapping

#22993 Gives Telecomms a request console in donutstation
  _maps/map_files/DonutStation/DonutStation.dmm
Labels: Mapping
